<include file="Public:box-header" />
<load href="__PUBLIC__/js/jquery.validate.min.js" /> 
<script type="text/javascript">

$().ready(function() {

	$("#loginForm").validate({
		rules: {
			email: {
				required: true,
				email: true
			},
			password: {
				required: true,
				minlength: 5
			}
		},
		messages: {
			email: "請輸入一個正確的email地址",
			password: {
				required: "請輸入一個密碼",
				minlength: "密碼必須大於5個字符"
			}
		}
	});
	
});
</script>
	
<div id="login-box" class="right-box">
	<div class="topheader">
		<h3>會員登入</h3>
	</div>
	<div class="topcontent"  style="background-color:#fff;">
		<form name="form_login" id="loginForm" action="__URL__/login" method="post">
			<input type="hidden" name="box" value="1" />
			<if condition="$_GET['facebook'] eq 1">
				您已登錄Facebook,但沒有檢測到關聯的OutStreet帳戶<br />請使用OutStreet帳戶登錄后執行關聯操作，以後即可使用Facebook帳戶登錄!
			</if>
			<div class="topform-row">
				<label class="label"><span>電子郵箱:</span></label>
				<input type="text" name="email" class="text-input" id="email" />
				<div class="clearBoth"></div>
			</div>
			<div class="topform-row">
				<label class="label"><span>密碼:</span></label>
				<input type="password" name="password" class="text-input" id="password" />
				<div class="clearBoth"></div>
			</div>
			<div class="topform-row">
				<label class="label"><span></span></label>
				<input type="submit" class="login-button" name="submit" value="登入" style="margin-left:0px;float:none;" />
				<div class="clearBoth"></div>
			</div>			
			<div class="topform-row">
				<label>&nbsp;</label>
				<a href="__URL__/register" target="_parent">還未注冊</a>&nbsp;
				<a href="__URL__/forgetPsd" target="_parent">忘記密碼</a>
				<a href="__URL__/resendEmail" target="_parent">重發確認電郵</a>
				<div class="clearBoth"></div>
			</div>
		</form>
	</div>
</div>	

<include file="Public:box-footer" />	