<include file="Public:box-header" />
<load href="__PUBLIC__/css/ot_member_func.css" /> 
<load href="__PUBLIC__/js/jquery.validate.min.js" /> 
<script type="text/javascript">
	
$().ready(function() {
	$("#editForm").validate({
		rules: {
			password: {
				required: true,
				minlength: 5
			},
			confirm_password: {
				required: true,
				minlength: 5,
				equalTo: "#password"
			}
		},
		messages: {
			password: {
				required: "請輸入一個密碼",
				minlength: "密碼必須大於5個字符"
			},
			confirm_password: {
				required: "請輸入一個密碼",
				minlength: "密碼必須大於5個字符",
				equalTo: "密碼必須相同"
			}
		}
	});
	
});
</script>	

			<div class='boxform'> 
        <div id='regform'> 
          <form method='post' id="editForm" action='__URL__/changePsd'>
            <table border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #91c5e2;width:430px;position:relative;margin:10px 15px;" id="chgpwdForm">
              <tr>
                <td style="background-color:#cfedfe;padding:7px" id="header2"><b>更換密碼</b></td>
              </tr>
              <tr>
                <td style="background-color:#FFFFFF;"><div style="float:left;width:130px"><b>電郵地址:：</b></div>
                    <div style="float:left;width:auto"> {$authInfo.email} </div></td>
              </tr>
              <tr>
                <td style="background-color:#FFFFFF;"><div style="float:left;width:130px"><b>原密碼：</b></div>
                    <div style="float:left;width:auto">
                      <input type='password' name='originalPsd' id='originalPsd' />
                  </div></td>
              </tr>
              <tr>
                <td style="background-color:#FFFFFF;"><div style="float:left;width:130px"><b>選擇一個密碼：</b></div>
                    <div style="float:left;width:auto">
                      <input type='password' name='password' id='password' />
                  </div></td>
              </tr>
              <tr>
                <td style="background-color:#FFFFFF;"><div style="float:left;width:130px"><b>重新輸入密碼：</b></div>
                    <div style="float:left;width:auto">
                      <input type='password' name='confirm_password' id='confirm_password' />
                  </div></td>
              </tr>
              <tr>
                <td style="background-color:#FFFFFF;padding:7px">&nbsp;<input type='submit' id='submit' name="submit" value='提交'  class="send2"  style="left:130px;position:relative;" />
                    <span id="submit_result"></span> </td>
              </tr>
            </table>
          </form> 
        </div> 
		  </div> 
	
<include file="Public:box-footer" />