<include file="Public:box-header" />

<load href="__PUBLIC__/js/jquery.validate.min.js" /> 

<script type="text/javascript">

$().ready(function() {
$("#editForm").validate({
rules: {
email: {
	required: true,
	email: true,
	remote: '__ROOT__/Ajax/existEmail/'
}
},
messages: {
email: {
	required: "請填寫電郵地址",
	email: "請輸入一個正確的電郵地址",
	remote: "此電郵已被他人使用，或仍是您以前的電郵地址，請輸入您其他的電郵地址"
}
},
onkeyup: false
});

$('#submit').bind('click',function(){
	$(this).val('提交中...');
	$(this).css('disabled',true);
	$(this).attr('disabled',true);
});

});
</script>	

<div class='boxform'> 
<h2>更換郵箱</h2> 

<div id='regform'> 
  <form method='post' id="editForm" action='__URL__/changeEmail'> 
	<table> 
	 <tbody> 
    <tr> 
      <td class='label'>原電郵地址:</td> 
      <td class='inputfield'> {$authInfo.email}</td> 
    </tr> 
    <tr> 
      <td class='label'>電郵地址:</td> 
      <td class='inputfield'> <input type="text" name="email" id="email" /><br/> (這將導致您的注冊電郵更改為此電郵地址，以後將使用該電郵地址登錄本站。)</td> 
    </tr> 
    <tr> 
      <td></td> 
      <td><input type='submit' id='submit' name='submit' value='提交' /><span id="submit_result"></span></td> 
    </tr> 
   </tbody> 
  </table> 
  </form> 
</div> 

</div> 

<include file="Public:box-footer" />