			<div id="paging-box" class="left-box">
				<div class="content">
					<div class="paging">
						{$multipage}
					</div>
				</div>
			</div>
			<div id="events-result-box" class="left-box">
				<div class="content">
					<ul>
						<iterate name="userList" id="vo">						
						<li <if condition="$i eq 1">class="first"<else /><if condition="$i % 2 eq 0">class="alt-row"</if></if> >
                        </br>
							<table width="100%">
								<tbody>
									<td rowspan="3" width="45" class="result-num">{$i}</td>
										<td width="150" rowspan="2"><img src="{$vo|getFace}" onload="javascript:DrawImage(this,140,110)"/></td>
										<td><div id="memberall"><span class="tit">
											<a href="__URL__/view/id/{$vo.id}" class="main-link" style="display:inline">{$vo.nick_name}</a>(共發表了{$vo.statistics.review_count}篇評介) 注冊日期: {$vo['create_time']|date='Y年m月d日',###}
											</span></div>
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<table width="100%">
												<tr>
													<td>
														{$vo.desc}
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
						</iterate>
					</ul>
				</div>
			</div>
			
			<div id="paging-box" class="left-box">
				<div class="content">
					<div class="paging">
						{$multipage}
					</div>
				</div>
			</div>
			
			<div class="clearBoth"></div>