<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s06.css" /> 
<load href="__PUBLIC__/js/jquery.validate.min.js" /> 

<script type="text/javascript">
$().ready(function() {
	$("#editForm").validate({
		rules: {
			password: {
				required: true,
				minlength: 5
			},
			confirm_password: {
				required: true,
				minlength: 5,
				equalTo: "#password"
			}
		},
		messages: {
			password: {
				required: "請輸入一個密碼",
				minlength: "密碼必須大於5個字符"
			},
			confirm_password: {
				required: "請輸入一個密碼",
				minlength: "密碼必須大於5個字符",
				equalTo: "密碼必須相同"
			}
		}
	});
});
</script>

<div id="ot_d_body_content" class="full">
	<div class="ot_d_body_content_full">
			<div class="breadcrumb">
				<a href="__URL__/mypanel">我的OutStreet</a> > 修改密碼
			</div>
			<div id="forgotpwd-box" class="left-box">
				<div class="content">
					<form method='post' id="editForm" action='__URL__/doFindPsd/userstamp/{$userstamp}'> 
					  <table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <th width="125" align="right">電郵地址:</th>
                            <td width="30">&nbsp;</td>
                            <td class='inputfield'>{$email}</td>
                          </tr>
                          <tr>
                            <th width="125" align="right">選擇一個密碼:</th>
                            <td width="30">&nbsp;</td>
                            <td class='inputfield'><input type='password' name='password' id='password' /></td>
                          </tr>
                          <tr>
                            <th width="125" align="right">重新輸入密碼:</th>
                            <td width="30">&nbsp;</td>
                            <td class='inputfield'><input type='password' name='confirm_password' id='confirm_password' /></td>
                          </tr>
                          <tr>
                            <th width="125" align="right">&nbsp;</th>
                            <td width="30">&nbsp;</td>
                            <td><input type='submit' id='submit' name="submit" class="send-button" value='提交' /><span id="submit_result"></span></td>
                          </tr>
                        </tbody>
                      </table>
					</form>
				</div>
				<div class="footer"></div>
			</div>
			
		</div>
		<div class="clearBoth"></div>
	</div>
 

<include file="Public:footer" />