<include file="Public:box-header" />  
<load href="__PUBLIC__/css/ot_member_func.css" /> 
<load href="__PUBLIC__/js/jquery.validate.min.js" /> 
	
<script type="text/javascript">	
$().ready(function() {
	$("#editForm").validate({
		rules: {
			contact_person: {
				required: true
			},
			company_name: "required",			
			position: "required",
			contactPerson: "required",
			email: {
				required: true,
				email: true,
				remote: '__ROOT__/Ajax/existEmail/'				
			},
			telephone: {
				required: true,
				number: true,
				minlength: 8,
				maxlength: 8
			}
		},
		messages: {
			contact_person: {
				required: "請填寫聯絡人"
			},
			company_name: "請輸入商戶/集團名稱",			
			position: "請輸入職位",
			contactPerson: "請輸入聯絡人",
			telephone:{
				required: "請輸入8位聯絡電話",
				minlength: "請輸入8位聯絡電話",
				maxlength: "請輸入8位聯絡電話",
				number: "聯絡電話必需為數字"
			}
		}
	});
});

</script>	

<div id="ot_d_body_content">
	<div id="registration-box" class="left-box">
		<div class="content">
			<h4>修改店主資料</h4>
			<form action='__URL__/editOwner' id="editForm" method="post" enctype="multipart/form-data">
				<table border="0" cellpadding="0" cellspacing="0">
					<tbody>						<tr>
							<th width="125" align="right">電郵地址:</th>
							<td width="30">&nbsp;</td>
							<td>{$userInfo.email}</td>
						</tr>
						<tr>
							<th width="125" align="right">聯絡人:</th>
							<td width="30">&nbsp;</td>
							<td><input type="text" name="contact_person" value="{$userInfo.o_contact_person}"/></td>
						</tr>                        								
                        <tr>
							<th width="125" align="right">商戶/集團名稱:</th>
							<td width="30">&nbsp;</td>
							<td><input type="text" name="company_name" value="{$userInfo.o_company_name}"/></td>
						</tr>
                        <tr>
							<th width="125" align="right">職位:</th>
							<td width="30">&nbsp;</td>
							<td><input type="text" name="position" value="{$userInfo.o_position}"/></td>
						</tr>
						 <tr>
							<th width="125" align="right">聯絡人電話:</th>
							<td width="30">&nbsp;</td>
							<td><input type="text" name="telephone" maxlength="8" value="{$userInfo.telephone}"/></td>
						</tr>
						<tr>
							<th width="125" align="right">&nbsp;</th>
							<td width="30">&nbsp;</td>
							<td><input type="submit" name="submit" value=" " class="send2" /></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div class="footer"></div>
	</div>
</div>

<include file="Public:box-footer" />