<include file="Public:box-header" />  
<load href="__PUBLIC__/css/ot_member_func.css" /> 
<load href="__PUBLIC__/js/jquery.validate.min.js" />
	
<script type="text/javascript">	
$().ready(function() {
	$("#editForm").validate({
		rules: {
			nick_name: {
				required: true
			}
		},
		messages: {
			nick_name: {
				required: "請填寫暱稱"
			}
		}
	});
	$('#education').bind('change', function(){
		if ($(this).val() == '大專/學士'){
			$('#school').show();
		}else{
			$('#school').hide();
		}
	});
	$('#school').hide();
	$('#birthday').datepick({dateFormat:'yy-mm-dd'});
	$('#sex_1').attr('checked',false);
	$('#sex_0').attr('checked',false);
	$('#sex_{$userInfo.sex}').attr('checked',true);
	$('#income option').each(function(idx,opt){
		if($(opt).val() == '{$userInfo.income}'){
			$(opt).attr('selected', true);
		}else{
			$(opt).attr('selected', false);
		}
	});
	$('#education option').each(function(idx,opt){
		if($(opt).val() == '{$userInfo.education}'){
			$(opt).attr('selected', true);
		}else{
			$(opt).attr('selected', false);
		}
	});
	$('#school option').each(function(idx,opt){
		if($(opt).val() == '{$userInfo.school}'){
			$(opt).attr('selected', true);
		}else{
			$(opt).attr('selected', false);
		}
	});
	$('#professional option').each(function(idx,opt){
		if($(opt).val() == '{$userInfo.professional}'){
			$(opt).attr('selected', true);
		}else{
			$(opt).attr('selected', false);
		}
	});
	if ($('#education').val() == '大專/學士'){
		$('#school').show();		
	}
	setPic('User', "{$userInfo.face_path}","{$item.description}", 0);
});

function setPic(eleid, picpath, desc, picid){
	
	var jPhoto = $('#photoAt'+eleid);
	var temp = '<a id="upfileAt'+eleid+'" class="thickbox" rel="upfiles" title="'+desc+'" href="{$Think.config.OUTSTREET_DIR}{$Think.config.USERFACE_UPFILE_PATH}'+picpath+'"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.USERFACE_UPFILE_PATH}face'+picpath+'"onload="javascript:DrawImage(this,120,120)"/></a>';
	jPhoto.empty();
	jPhoto.append(temp);
	jPhoto.append('<br /><span>' + desc + '</span>');

	tb_init('#upfileAt' + eleid);
	
	var jPhotoEdit = $('#peditAt'+eleid);
	jPhotoEdit.empty();
	temp = '<a href="__URL__/deletePic/id/'+picid+'/eleid/'+eleid+'/from/shop" target="deleteResult">刪除</a>';
	jPhotoEdit.append(temp);
}

function reInitPic(eleid){
	var jPhoto = $('#photoAt'+eleid);
	jPhoto.empty();
	
	var jPhotoEdit = $('#peditAt'+eleid);
	jPhotoEdit.empty();
	temp = '<a id="uplink'+eleid+'" href="__URL__/uploadPic/eleid/'+eleid+'/userid/{$userInfo.id}/from/user/?height=160&width=400&modal=false" class="thickbox">上載</a>';
	jPhotoEdit.append(temp);
	tb_init('#uplink'+eleid);
}
</script>	

<div id="ot_d_body_content">
	<div id="registration-box" class="left-box">
		<div class="content">
			<h4>修改個人資料</h4>
			<form action='__URL__/edit' method="post" enctype="multipart/form-data">
				<table border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<th width="125" align="right">電郵地址:</th>
							<td width="30">&nbsp;</td>
							<td>{$userInfo.email}</td>
						</tr>								
						<tr>
							<th width="125" align="right">暱稱:</th>
							<td width="30">&nbsp;</td>
							<td><input id="nick_name" name="nick_name" value="{$userInfo.nick_name}" /></td>
						</tr>								
						<tr>
							<th width="125" align="right">性別:</th>
							<td width="30">&nbsp;</td>
							<td>
                            	<div style="position:relative;float:left;left:0px;"><label for="sex_1"><input type="radio" name="sex" value="1" id="sex_1" checked="true" /> 男</label></div>
                                <div style="position:relative;float:left;left:0px;"><label for="sex_0"><input type="radio" name="sex" value="0" id="sex_0" /> 女</label></div>
							</td>
						</tr>
						<tr>
							<th align="right">頭像:</th>
						  	<td>&nbsp;</td>
						  	<td>
				        		<iframe id="deleteResult" name="deleteResult" style="display:none"></iframe>
								<iframe name="iframeAtUser" id="iframeAtUser" style="display:none"></iframe>
								<div class="photoContainer">
									<div class="photo" id="photoAtUser"></div>	
									<div class="action" id="peditAtUser"><a href="__URL__/uploadPic/eleid/User/userid/{$userInfo.id}/from/user/?onload="javascript:DrawImage(this,160,400)"&modal=false" class="thickbox">上載</a></div>
								</div>
						  </td>
					  	</tr>
						<tr>
							<th width="125" align="right">出生日期:</th>
							<td width="30">&nbsp;</td>
						  	<td><input type="text" name="birthday" id="birthday" class="date-input" value="{$userInfo.birthday|date='Y-m-d',###}" /></td>
						</tr>
						<tr>
							<th width="125" align="right">家庭每月收入:</th>
							<td width="30">&nbsp;</td>
							<td>
								<select name="income" id="income">
									<option value="">選擇家庭每月收入</option>
									<iterate name="incomeList" id="vo">
									<option>{$vo.option}</option>												
									</iterate>
								</select>
							</td>
						</tr>
						<tr>
							<th width="125" align="right">受教育程度:</th>
							<td width="30">&nbsp;</td>
							<td>
								<select name="education" id="education">
									<option value="">選擇教育程度</option>
									<iterate name="educationList" id="vo">
									<option>{$vo.option}</option>												
									</iterate>
								</select>
							</td>
						</tr>
						<tr id="school">
							<th width="125" align="right"></th>
							<td width="30">&nbsp;</td>
							<td>
                            	<select name="school" id="school">
									<option value="">請選擇哪一所大學</option>
									<iterate name="schoolList" id="vo">
									<option>{$vo.option}</option>												
									</iterate>
						    	</select>
						   </td>
						</tr>
						<tr>
							<th width="125" align="right">現職:</th>
							<td width="30">&nbsp;</td>
							<td>
								<select name="professional" id="professional">
									<option value="">選擇職業</option>
									<iterate name="professionalList" id="vo">
									<option>{$vo.option}</option>												
									</iterate>
								</select>
							</td>
						</tr>
						<tr>
							<th width="125" align="right" style="vertical-align: top;">自我介紹:</th>
							<td width="30">&nbsp;</td>
							<td><textarea name="desc">{$userInfo.desc}</textarea></td>
						</tr>
						<tr>
							<th width="125" align="right">&nbsp;</th>
							<td width="30">&nbsp;</td>
							<td><input type="submit" name="submit" value=" " class="send2" /></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div class="footer"></div>
	</div>
</div>

<include file="Public:box-footer" />