<table width="600px" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150px" height="67px"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/images/eimg/logo.jpg" /></td>
    <td width="450px" height="67px"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/images/eimg/resetpwd.jpg" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
        <table width="95%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="10px"></td>
          </tr>         
          <tr>
            <td><font size="2"><b>{$nickname}，你好！</b></font>
                <p><font size="2">我們已經收到你重設密碼的申請。請前往以下網址設定新密碼：<a href="<?php echo C('OUTSTREET_DIR') ?>__URL__/doFindPsd/userstamp/{$userstamp}"><font size="2" color="#2155b5"><?php echo C('OUTSTREET_DIR') ?>__URL__/doFindPsd/userstamp/{$userstamp}</font></a>。如果此鏈接無效，請將它複製到瀏覽器的地址欄重試。</font></p>
                <p><font size="2">如有問題，請聯絡我們：<a href="mailto:admin@outstreet.com.hk"><font size="2" color="#2155b5">admin@outstreet.com.hk</font></a>。</font></p>
                <p><font size="2">多謝你對《出街》網的支持！</font></p>
            </td>
            </tr>
          <tr>
            <td height="10px"></td>
          </tr>            
          <tr>
            <td><div style="padding:8px;border:1px solid #cccccc;background-color:#f3f3f3;font-size:13px;">【歡迎登入OutStreet.com.hk，搜尋香港最新、最全面的出街資訊， 隨時分享你的出街心得！】</div></td>
          </tr>
          <tr>
            <td height="10px"></td>
          </tr>            
        </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" width="600px" height="13px"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/images/eimg/footer.jpg" /></td>
  </tr>
</table>