<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s06.css" /> 
<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec06 a').toggleClass('current');
});
</script>

	<div id="ot_d_body_content">
		<div class="ot_d_body_content_left">
			<div class="breadcrumb">
				<a href="__ROOT__/">主頁</a> > <a href="__URL__">評家</a>
			</div>
			<div id="reviewer-ranking-box" class="left-box">
				<div class="header">
					<h3>評家排行榜</h3>
				</div>
				<div class="content">
					<ul>
						<iterate name="userlist" id="item">
							<if condition="$i % 2 eq 1">
								<if condition="$i eq 1">
								<li class="top">
								<else/>
								<li>
								</if>
							<else/>
								<if condition="$i eq 2">
								<li class="top-right">
								<else/>
								<li class="right">
								</if>
							</if>
								<div class="imgframe"><div class="imgframe_XD">
						    	<img src='{$item.user|getFace}' onload="javascript:DrawImage(this,72,72)" class="imgsize"/></div></div>
                                <div style="line-height:20px">
								<a href="__URL__/view/id/{$item.user.id}">{$item.user.nick_name}</a>(共{$item.review_count}篇評介)<br />
                                <switch name="userReview[$item['user']['id']][0]['for_type']">
                                    <case value="event">
                                        <a href="__ROOT__/Event/view/id/{$userReview[$item['user']['id']][0]['event']['id']}/reviewid/{$userReview[$item['user']['id']][0]['id']}/" style="color:#333; font-weight:bold">{$userReview[$item['user']['id']][0]['title']|formatInfo=16}</a>
                                        <h4><a href="__ROOT__/event/view/id/{$userReview[$item['user']['id']][0]['event']['id']}">{$userReview[$item['user']['id']][0]['event']['name']|formatInfo=16}</a></h4>
                                        <a href="__ROOT__/Event/lists/subeventcateid/{$userReview[$item['user']['id']][0]['event']['sub_event_cate_id']}">{$userReview[$item['user']['id']][0]['event']['sub_event_cate_name']}</a><br />
                                    </case>
                                    <case value="promotion">
                                    	<a href="__ROOT__/Promotion/view/id/{$userReview[$item['user']['id']][0]['promotion']['id']}/reviewid/{$userReview[$item['user']['id']][0]['id']}/" style="color:#333; font-weight:bold">{$userReview[$item['user']['id']][0]['title']|formatInfo=16}</a>
                                        <h4><a href="__ROOT__/promotion/view/id/{$userReview[$item['user']['id']][0]['promotion']['id']}">{$userReview[$item['user']['id']][0]['promotion']['name']|formatInfo=16}</a></h4><br />
                                    </case>
                                    <default/>
                                        <a href="__ROOT__/Shop/view/id/{$userReview[$item['user']['id']][0]['shop']['id']}/reviewid/{$userReview[$item['user']['id']][0]['id']}/" style="color:#333; font-weight:bold">{$userReview[$item['user']['id']][0]['title']|formatInfo=16}</a>
                                        <?php $shopName = formatShopName($userReview[$item['user']['id']][0]['shop']['name'], $userReview[$item['user']['id']][0]['shop']['eng_name']); ?>
                                        <h4><a href="__ROOT__/Shop/view/id/{$userReview[$item['user']['id']][0]['shop']['id']}">{$shopName|formatInfo=14}</a>({$userReview[$item['user']['id']][0]['shop']['sub_location']['name']})</h4>
                                        {$userReview[$item['user']['id']][0]['shop']['sub_cates']|formatCategory=10}<br />
                                 </switch>
                                 </div>
							</li>
					 	</iterate>
					</ul>
				</div>
				<div class="footer"></div>
			</div>
			<div class="clearBoth"></div>
		</div>
		<div class="ot_d_body_content_right">
			<include file="Public:div-weather" />
            <include file="Public:div-btn_facebook" />
		</div>
		<div class="clearBoth"></div>
	</div>

<include file="Public:footer" />