<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s02.css" /> 
<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec06 a').toggleClass('current');
});
</script>

	<div id="ot_d_body_content">
		<div class="ot_d_body_content_left">
			<div class="breadcrumb">
				<!-- CateDepth Start -->
				<a href="/">主頁</a> > <a href="__URL__/index">用戶</a>
		    <!-- CateDepth End -->
			</div>

			<include file="div-list" />			
			
		</div>
		<div class="ot_d_body_content_right">
			<include file="Public:div-weather" />          
		</div>
		<div class="clearBoth"></div>
	</div>
<div id='clear'></div>		  
<include file="Public:footer" />