<include file="Public:header" />
<link href="__PUBLIC__/css/ot_s06.css" type="text/css" rel="stylesheet">
<load href="__PUBLIC__/js/jquery.validate.min.js" />
<script type="text/javascript">
$().ready(function() {
	$("#email").focus();
	$("#logInForm").validate({
		rules: {
			email: {
				required: true,
				email: true
			},
			password: {
				required: true,
				minlength: 5
			}
		},
		messages: {
			email: {
				required: "請輸入電郵",
				email: "請輸入一個正確的電郵"
			},	
			password: {
				required: "請輸入密碼",
				minlength: "密碼必須大於5個字符"
			}		
		}
	});
	
});
</script>
<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
    	<div class="breadcrumb"><a href="/">主頁</a> > 店主登記</div>
    	<img src="__ROOT__/Public/images/shop/reg_ownshop.jpg" width="632" height="824" usemap="#ownshopMap">
        <map name="ownshopMap">
        	<area shape="rect" coords="445,20,615,54" href="{$Think.config.OUTSTREET_DIR}/Public/upload/ownerguide.pps">
            <area shape="rect" coords="231,163,401,197" href="__ROOT__/shop/request_own_shop">
            <area shape="rect" coords="230,773,402,805" href="__ROOT__/shop/request_own_shop">
        </map>
        <div style="margin-top:10px;">如有問題，請聯絡我們：<a href="mailto:info@outstreet.com.hk">info@outstreet.com.hk</a></div>
        <div class="clearBoth"></div>
    </div>
    <div class="ot_d_body_content_right">
        <include file="Public:div-btn_facebook" />
    </div>
	<div class="clearBoth"></div>
</div>
<div id='clear'></div>		  
<include file="Public:footer" />
