<include file="Public:header" />
<load href="__PUBLIC__/css/ot_member_func.css" /> 
<script type="text/javascript">
$().ready(function(){
	$('#main_location_id').val('');
	$('#sub_location_id').val('');
	$('#sub_location_name').val('');
	$('#default_address_sub_location').val('');	
	$('#outstreet_sub_location_names').val('');
	$('#default_outstreet_sub_location').val('');
	$('#default_cate_names').val('');
	$('#cate_names').val('');
	$('#default_event_names').val('');
	$('#event_names').val('');
	$('#desc').val('');
	
	addFormValidate = $("#reg_form_part_2").validate({
			event: "blur",
			rules: {
				telephone: {
					number: true,
					minlength: 8
				}
			},
			messages:{
				telephone: {													
					number: "電話號碼必須為數字",
					minlength: "電話號碼必須為八位數字"
				}
			}			
	});
				   
	$('#education').bind('change', function(){
		if ($(this).val() == '大專/學士'){
			$('#school').show();
		}else{
			$('#school').hide();
		}
	});
	$('#school').hide();

	$('#birthday').datepick({dateFormat:'yyyy-mm-dd',yearRange: '1980:-0',defaultDate: new Date(1980, 1-1, 1)});
	
	$('#btnDone').bind('click', function(){
		if($('#chkApply').attr('checked')){
			return true;
		}else{
			alert('您必須同意免責聲明及使用條款細則才可以完成注冊!');
			return false;
		}
	});
	$('#sub_location_id').bind("change", function(){		
		$('#sub_location_name').val($('#sub_location_id').val());
		if(this.options.item(this.selectedIndex).text.search('其他')==-1){
			$('#default_address_sub_location').val('我住在'+this.options.item(this.selectedIndex).text);
		}else{
			$('#default_address_sub_location').val('我住在'+$('#main_location_name').val()+'的其他地方');
		}
		generateDesc();
	});	
	$('#main_location_id').bind("change", function(){
		//設置相應隱藏域的值
		$('#main_location_name').val(this.options.item(this.selectedIndex).text);		
		//ajax取商圈
		$('#sub_location_id').empty();
		$.getJSON('__ROOT__/ajax/locationSub/mainlocationid/' + $(this).val(),function(json){
			for (idx in json.data){				
				if (idx == 0){
					$('#sub_location_name').val(json.data[idx].id);
					$('#default_address_sub_location').empty();
					$('#default_address_sub_location').val('我住在'+json.data[idx].name);
					generateDesc();
				}				
				$('#sub_location_id').append('<option value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
			}
		});
		if($(this).val()==''){
			$('#sub_location_name').empty();
			$('#default_address_sub_location').empty();
			$('#sub_location_id').append('<option value="">請選擇商地區</option>');
		}
		generateDesc();
	});
});
function copyto(){
	$('#desc').val($('#desc_suggest').text());
	$('#suggest_alert').fadeOut(1500);
	$('#copy_link').fadeOut(1500);
	$('#suggest').fadeOut(1500);	
}
function generateDesc(){
	var tempcontent=$('#desc_suggest').text();	
	var content='';
	if($('#default_address_sub_location').val()!=''){
		content = $('#default_address_sub_location').val()+'\n\n';
	}
	if($('#default_outstreet_sub_location').val()!=''){
		content = content + $('#default_outstreet_sub_location').val()+'\n\n';
	}
	if($('#default_cate_names').val()!=''){
		content = content + $('#default_cate_names').val()+'\n\n';
	}
	if($('#default_event_names').val()!=''){
		content = content + $('#default_event_names').val()+'\n\n';
	}
	if(content!=tempcontent){
		$('#copy_link').fadeIn(1500);
		$('#desc_suggest').text(content);
		$('#suggest').fadeIn(1500);
		if($('#desc').val()!=''){
			$('#suggest_alert').css('display','block');
			$('#suggest_alert').text('建議內容已被更改, 或者你可以再按"複製到自我介紹"重新複製');
		}
	}
	if(content==''){
		$('#suggest').fadeOut(1500);
	}
	
}
function user_reg_setlocations(locations,type){	
	if(type=='outstreet'){
		$('#outstreet_sub_location_ids').val('');
		$('#outstreet_sub_location_names').val('');	
		$('#default_outstreet_sub_location').val('');	
		var _ids = $('#outstreet_sub_location_ids');
		var _names = $('#outstreet_sub_location_names');		
	}
	$(locations).each(function(){
			if (_ids.val() != ''){
				_ids.val(_ids.val()+ ',')
			}
			if (_names.val() != ''){
				_names.val(_names.val()+ ',')
			}
				
		var id_ = this.value.split('||')[0];
		var name_ = this.value.split('||')[1];
		_ids.val(_ids.val() + id_);		
		_names.val(_names.val() + name_);		
	});
	if(_names.val()!=''){
		$('#default_outstreet_sub_location').val('我平時出街會去:'+$('#outstreet_sub_location_names').val());
	}
	generateDesc();
}
function user_reg_getlocations(type){
	if(type=='address'){
		var _ids = $('#address_sub_location_ids');
	}
	if(type=='outstreet'){
		var _ids = $('#outstreet_sub_location_ids');
	}
	var arr = _ids.val().split(',');
	for(idx in arr){
		if (arr[idx] != ''){
			$('#g_sub_location_id_' + arr[idx]).attr('checked', true);
		}
	}
}
function event_setcate(cates,type){
	$('#event_ids').val('');
	$('#event_names').val('');
	$('#default_event_names').val('');
	var _ids = $('#event_ids');
	var _names = $('#event_names');	
	
	$(cates).each(function(){
		if (_ids.val() != ''){
			_ids.val(_ids.val()+ ',')
		}
		if (_names.val() != ''){			
			_names.val(_names.val()+ ',')
		}
				
		var id_ = this.value.split('||')[0];
		var name_ = this.value.split('||')[1];
		_ids.val(_ids.val() + id_);		
		_names.val(_names.val() + name_);		
	});
	if(_names.val()!=''){
		$('#default_event_names').val('我喜愛的節目種類:'+_names.val());
	}
	generateDesc();
}		
function event_getcates(type){
	var _ids = $('#event_ids');
	var arr = _ids.val().split(',');
	for(idx in arr){
		if (arr[idx] != ''){
			$('#g_sub_cate_id_' + arr[idx]).attr('checked', true);
		}
	}
}
function setcates(cates){
	$('#cate_ids').val('');
	$('#cate_names').val('');
	$('#default_cate_names').val('');
	var _ids = $('#cate_ids');
	var _names = $('#cate_names');
	var temp_name='';
	for(idx in cates){
		if (_ids.val() != ''){
			_ids.val(_ids.val()+ ',')
		}
		if (_names.val() != ''){			
			_names.val(_names.val()+ ',')
		}
		if(temp_name!=''){
			temp_name = temp_name + ',';
		}
		var id_ = cates[idx].value.split('||')[0];
		var name_ = cates[idx].value.split('||')[1];		
		_ids.val(_ids.val() + id_);
		temp_name = temp_name + name_;
		_names.val(_names.val() + name_);				
	}	
	temp_name=unique_cates(temp_name);
	_names.val(temp_name);
	if($('#cate_names').val()!=''){
		$('#default_cate_names').val('我出街購物時會注意:'+$('#cate_names').val());
	}
	generateDesc();
}
function unique_cates(target){
	var ele = target.split(',');	
	ele = unique(ele);	
	target='';
	for(var i=0;i<ele.length;i++){
		if(target!=''){
			target=target+',';
		}
		target=target+ele[i];
	}
	return target;
}
function unique(arrayName){
	var newArray=new Array();
		label:for(var i=0; i<arrayName.length;i++ ){  
				for(var j=0; j<newArray.length;j++ ){
					if(newArray[j]==arrayName[i]) 
					continue label;
				}
                    newArray[newArray.length] = arrayName[i];
         }
     return newArray;
}
function in_array(needle, haystack) {
	for (var i=0; i<haystack.length; i++)
	{
		if (haystack[i] === needle) return true;
	}
	return false;
} 
	
function getcates(){
	var arr = $('#cate_ids').val().split(',');
	for(idx in arr){
		if (arr[idx] != ''){
			$('#cate_id_' + arr[idx]).attr('checked', true);
		}
	}
}
</script>

<style type="text/css">
* { font-family: Verdana; font-size: 96%; }
#registration-box .content table td label.error { float: right; color: red; padding-left: .5em; vertical-align: top; width:225px; }
#registration-box .content table div { width:230px;height:110; }
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }
</style>
 
<div id="ot_d_body_content">    
	<div class="ot_d_body_content_left">
		<div class="breadcrumb"><a href="#">主頁</a> > <a href="#">用戶登記</a></div>
		<div id="registration-box" class="left-box">
			<div class="content">                
				<h4>第二部分: 建立個人資料 (選填)</h4>
				<form id='reg_form_part_2' action="__ROOT__/User/register" method="post">
					<input name="newid" type="hidden" value="{$newid}" />
                    <input name="uid" type="hidden" value="{$_REQUEST['uid']}" />
					<table border="0" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<th width="125" align="right">性別:</th>
								<td width="30">&nbsp;</td>
								<td>
									<input type="radio" name="sex" value="1" id="sex_1" checked="true" /> 男
                                    <input type="radio" name="sex" value="0" id="sex_0" /> 女
								</td>
							</tr>								
							<tr>
								<th width="125" align="right">出生日期:</th>
								<td width="30">&nbsp;</td>
								<td><input type="text" readonly="true" name="birthday" id="birthday" class="date-input" /></td>
							</tr>
							<tr>
								<th width="125" align="right">家庭每月收入:</th>
								<td width="30">&nbsp;</td>
								<td>
									<select name="income">
										<option value="">選擇家庭每月收入</option>
										<iterate name="incomeList" id="vo"><option>{$vo.option}</option></iterate>
									</select>
								</td>
							</tr>
							<tr>
								<th width="125" align="right">受教育程度:</th>
								<td width="30">&nbsp;</td>
								<td>
									<select name="education" id="education">
										<option value="">選擇教育程度</option>
										<iterate name="educationList" id="vo"><option>{$vo.option}</option></iterate>
									</select>
								</td>
							</tr>
							<tr id="school">
								<th width="125" align="right"></th>
								<td width="30">&nbsp;</td>
								<td>
                                	<select name="school">
										<option value="">請選擇哪一所大學</option>
										<iterate name="schoolList" id="vo"><option>{$vo.option}</option></iterate>
								    </select>
								</td>
							</tr>
							<tr>
								<th width="125" align="right">現職:</th>
								<td width="30">&nbsp;</td>
								<td>
									<select name="professional">
										<option value="">選擇職業</option>
										<iterate name="professionalList" id="vo"><option>{$vo.option}</option></iterate>
									</select>
								</td>
							</tr>
                            <tr>
                            	<th width="125" align="right" style="vertical-align: top;">電話號碼:</th>
								<td width="30">&nbsp;</td>
								<td>
                                	<input type="text" name="telephone" size="16" maxlength="8">
                                    <label id="telephoneError" for="telephone" generated="true" class="error"></label>
                                </td>
							</tr>                               
                            <tr>
								<th width="125" align="right" style="vertical-align: top;">居住地區:</th>
								<td width="30">&nbsp;</td>
								<td>
                                	<select id="main_location_id" width="25%" name="main_location_id">
                                        <option value="">請選擇區域</option>   
                                        <iterate name="mainLocationList" id="vo">  
                                            <if condition="$vo['id'] == $shopInfo['main_location_id']">
                                                <option value="{$vo.id}" selected="true">{$vo.name}</option>
                                            <else />   
                                                <option value="{$vo.id}">{$vo.name}</option>
                                            </if>   
                                        </iterate>
                                    </select>
                                    <input type="hidden" value="{$shopInfo.main_location_name}" id="main_location_name" name="main_location_name" /><br />
                                    <select id="sub_location_id" width="25%" name="sub_location_id">
                                        <option value="">請選擇地區</option>
                                        <iterate name="subLocationList" id="vo">  
                                            <if condition="$vo['id'] == $shopInfo['sub_location_id']">
                                                <option value="{$vo.id}" selected="true">{$vo.name}</option>
                                            <else />   
                                                <option value="{$vo.id}">{$vo.name}</option>
                                            </if>   
                                        </iterate>
                                    </select>
                                    <input type="hidden" value="{$shopInfo.sub_location.name}" id="sub_location_name" name="address_sub_location_ids" />								
                                    <input type="hidden" value="" id="default_address_sub_location" name="default_address_sub_location" />                
                                </td>
							</tr>
                            <tr>
								<th width="125" align="right" style="vertical-align: top;">日常出街地區:</th>
								<td width="30">&nbsp;</td>
								<td><input type="hidden" id="outstreet_sub_location_ids" name="outstreet_sub_location_ids" readonly="true" value="<?php echo $_GET['sub_location_ids']?>" />
                                <div class="thickbox" title="選擇地區" lang="__ROOT__/user/sellocation/?height=400&width=450&modal=false&type=outstreet">
                                <textarea id="outstreet_sub_location_names" rowspan="3" readonly="true">{$sub_location_names}</textarea>
                                <input type="hidden" value="" id="default_outstreet_sub_location" name="default_outstreet_sub_location" />
                                <div class="ot_o_clearBoth"></div>
                                </div>
                                </td>
							</tr>
                            <tr>
								<th width="125" align="right" style="vertical-align: top;">喜愛的購物種類:</th>
								<td width="30">&nbsp;</td>
								<td><input type="hidden" id="cate_ids" name="cate_ids" readonly="true"  value="<?php echo $_GET['cate_ids']?>" />
                    			<div class="thickbox" title="選擇購物類別" lang="__ROOT__/user/selshopcate/?height=400&width=450&modal=false&disableRandom=true">
                        		<textarea id="cate_names" value="{$cate_names}" rowspan="3" readonly="true" ></textarea>
                                <input type="hidden" value="" id="default_cate_names" name="default_cate_names" />
                                <div class="ot_o_clearBoth"></div>
                    			</div>
                                </td>
							</tr>
                            <tr>
                                <th width="125" align="right" style="vertical-align: top;">特別留意的節目:</th>
                                <td width="30">&nbsp;</td>
                                <td><input type="hidden" id="event_ids" name="event_ids" readonly="true" value="<?php echo $_GET['event_ids'] ?>" />
                              	<div class="thickbox" title="選擇節目類別" lang="__ROOT__/user/seleventcate/?height=400&width=450&modal=false">
                                <textarea id="event_names" value="{$event_names}" rowspan="3" readonly="true" ></textarea>
                                <input type="hidden" value="" id="default_event_names" name="default_event_names" />
                                <div class="ot_o_clearBoth"></div>
                              	</div></td>
                            </tr>
							<tr>
								<th width="125" align="right" style="vertical-align: top;">自我介紹(可修改):</th>                                    
								<td width="30">&nbsp;</td>
								<td><textarea id="desc" rows="8" name="desc"></textarea><br /><br /><div id="suggest" style="display:none;width:400px"><b>或可參考以下建議的自我介紹:</b> <a style="display:none" id="copy_link" href="#" onclick="javascript:copyto();return false;">複製到自我介紹</a><br><label id="suggest_alert" style="width:400px;color:#F00;display:none"></label><div style="color:#666;width:400px" id="desc_suggest" name="desc_suggest"></div></div></td>
							</tr>
							<tr>
								<th align="right">&nbsp;</th>
								<td>&nbsp;</td>
								<td><input id="chkApply" type="checkbox" name="checkbox" value="checkbox">&nbsp;按以上【登記】鍵，即代表你願意接受OutStreet之<a href="javascript:tc();">私隱設定</a>及<a href="javascript:privacy();">使用條款</a>所約束。</td>
							</tr>
							<tr>
								<th width="125" align="right">&nbsp;</th>
								<td width="30">&nbsp;</td>
								<td><input id="btnDone" type="submit" name="submit" class="register-submit-button" value="done"  /></td>
							</tr>
						</tbody>
					</table>
                    </form>
				</div>
				<div class="footer"></div>
			</div>
		</div>
		<div class="ot_d_body_content_right">
			<include file="Public:div-weather" />
            <include file="Public:div-btn_facebook" />            
		</div>
		<div class="clearBoth"></div>
	</div>
<include file="Public:footer" />