<include file="Public:header" />
<load href="__PUBLIC__/css/ot_member_func.css" />
<load href="__PUBLIC__/js/jquery.validate.min.js" /> 
	
<script type="text/javascript">
if(top.window.location.href != window.location.href){
	top.window.location.href = window.location.href;
}

$().ready(function() {
	$("#registerForm").validate({
		rules: {
			email: {
				required: true,
				email: true,
				remote: '__ROOT__/Ajax/existEmail/'
			},
			nick_name: {
				required: true,
				remote: '__ROOT__/Ajax/existNickName/'
			},
			password: {
				required: true,
				minlength: 5
			},
			confirm_password: {
				required: true,
				minlength: 5,
				equalTo: "#password"
			},
			verify:{
				required: true,
				minlength: 4,
				maxlength: 4
			}
		},
		messages: {
			email: {
				required: "請填寫電郵地址",
				email: "請輸入一個正確的電郵地址",
				remote: "該電郵地址已被使用"
			},
			nick_name: {
				required: "請填寫暱稱",
				remote: "該暱稱已被使用或無效"
			},
			password: {
				required: "請輸入一個密碼",
				minlength: "密碼必須大於5個字符"
			},
			confirm_password: {
				required: "請輸入一個密碼",
				minlength: "密碼必須大於5個字符",
				equalTo: "密碼必須相同"
			},
			verify:{
				required: "請輸入驗證碼",
				minlength: "驗證碼不能少於4位",
				maxlength: "驗證碼不能大於4位"
			}
		},
		onkeyup: false
	});
	
	$('#birthday').datepick();
	
	$('#user_type_0').bind('click', function(){
		$('.shop_user').hide();
	});
	$('#user_type_1').bind('click', function(){
		$('.shop_user').show();
	});
	$('.reg_tabs').bind('click',function(){
		$('.reg_tabs').removeClass('current');
		$(this).addClass('current');
	});

});
</script>
<style>
	tr.shop_user
	{
		display:none;	
	}
	input.user_type{
		display:none;
	}
	#registration-box .content table td label.error{
		display:none;
	}
</style>

<div id="ot_d_body_content">
    <div class="ot_d_body_content_left">
        <div class="breadcrumb">
            <a href="#">主頁</a> > <a href="#">會員登記</a>
        </div>
        <div id="registration-box" class="left-box">
            <div class="header">
                <ul>
                    <li class="registration-user">
                        <label id="user_type_0"><input type="radio" class="user_type" name="user_type" value="0" checked="true" /><a href="#" class="reg_tabs current">會員登記</a></label>
                    </li>
                </ul>
            </div>
            <div class="content">
                <h4>第一部分: 賬戶資料(必填)</h4>
                <form method='post' id="registerForm" action='__URL__/register'>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th width="125" align="right">電郵地址:</th>
                            <td width="30">&nbsp;</td>
                            <td><input type="text" name="email" class="text-input" /></td>
                        </tr>
                        <tr>
                            <th width="125" align="right">暱稱:</th>
                            <td width="30">&nbsp;</td>
                            <td><input type="text" name="nick_name" class="text-input" /></td>
                        </tr>
                        <tr>
                            <th width="125" align="right">密碼:</th>
                            <td width="30">&nbsp;</td>
                            <td><input type="password" id="password" name="password" class="text-input" /></td>
                        </tr>
                        <tr>
                            <th width="125" align="right">確認密碼:</th>
                            <td width="30">&nbsp;</td>
                            <td>
                                <input type="password" id="confirm_password" name="confirm_password" class="text-input" />
                            </td>
                        </tr>
                        <tr class="shop_user">
                            <th width="125" align="right">姓名:</th>
                            <td width="30">&nbsp;</td>
                            <td>
                                <input type="text" name="truename" class="text-input" />
                            </td>
                        </tr>
                        <tr class="shop_user">
                            <th width="125" align="right">聯系電話:</th>
                            <td width="30">&nbsp;</td>
                            <td>
                                <input type="text" name="telephone" class="text-input" />
                            </td>
                        </tr>
                        <tr class="shop_user">
                            <th width="125" align="right">業務:</th>
                            <td width="30">&nbsp;</td>
                            <td>
                                <input type="text" name="business" class="text-input" />
                            </td>
                        </tr>
                        <tr class="shop_user">
                            <th width="125" align="right">職責:</th>
                            <td width="30">&nbsp;</td>
                            <td>
                                <input type="text" name="professional" class="text-input" />
                            </td>
                        </tr>
                        <tr>
                            <th width="125" align="right">驗證碼:</th>
                            <td width="30">&nbsp;</td>
                            <td>
                                <img onclick="this.src='__URL__/verify/rnd/' + Math.random()" src="__URL__/verify" width="51" height="22" style="float:left;vertical-align: middle; margin-right: 12px;cursor:pointer"  />
                                <input type="text" name="verify" class="text-input small-input" />
                            </td>
                        </tr>
                        <tr>
                            <th width="125" align="right">&nbsp;</th>
                            <td width="30">&nbsp;</td>
                            <td><input type="submit" name="submit" class="next-step-button" value="step2"  /></td>
                        </tr>
                    </tbody>
                </table>
                </form>
            </div>
            <div class="footer"></div>
        </div>
    </div>
    <div class="ot_d_body_content_right">
        <include file="Public:div-weather" />
        <include file="Public:div-btn_facebook" />             
    </div>
    <div class="clearBoth"></div>
</div>

<include file="Public:footer" />