<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s06.css" /> 
<?php $_SESSION['url']="__ROOT__";?>
<script type="text/javascript">

$(document).ready(function(){
  $(".ot_d_member_intro_scr1_off").click(function(){
  $(".ot_d_member_intro_scr1").toggle()
  $(".ot_d_member_intro_scr1_off").hide();
  $(".ot_d_member_intro_scr1_on").show();
  return false;
  });
  $(".ot_d_member_intro_scr1_on").click(function(){
  $(".ot_d_member_intro_scr1").toggle();
  $(".ot_d_member_intro_scr1_off").show();
  $(".ot_d_member_intro_scr1_on").hide();
   return false;
  });
  $(".ot_d_member_intro_scr2_off").click(function(){
  $(".ot_d_member_intro_scr2").toggle()
  $(".ot_d_member_intro_scr2_off").hide();
  $(".ot_d_member_intro_scr2_on").show();
   return false;  
  });
  $(".ot_d_member_intro_scr2_on").click(function(){
  $(".ot_d_member_intro_scr2").toggle();
  $(".ot_d_member_intro_scr2_off").show();
  $(".ot_d_member_intro_scr2_on").hide();
   return false;  
  });
  $(".ot_d_member_intro_scr3_off").click(function(){
  $(".ot_d_member_intro_scr3").toggle()
  $(".ot_d_member_intro_scr3_off").hide();
  $(".ot_d_member_intro_scr3_on").show();
   return false;  
  });
  $(".ot_d_member_intro_scr3_on").click(function(){
  $(".ot_d_member_intro_scr3").toggle();
  $(".ot_d_member_intro_scr3_off").show();
  $(".ot_d_member_intro_scr3_on").hide();
   return false;  
  });   
  $(".ot_d_member_intro_scr4_off").click(function(){
  $(".ot_d_member_intro_scr4").toggle()
  $(".ot_d_member_intro_scr4_off").hide();
  $(".ot_d_member_intro_scr4_on").show();
   return false;  
  });
  $(".ot_d_member_intro_scr4_on").click(function(){
  $(".ot_d_member_intro_scr4").toggle();
  $(".ot_d_member_intro_scr4_off").show();
  $(".ot_d_member_intro_scr4_on").hide();
   return false;  
  }); 
});

</script>
	<div id="ot_d_body_content">
		<div class="ot_d_body_content_left">
			<div class="breadcrumb">
				<a href="#">主頁</a> > <a href="#">會員登記</a>
			</div>
			<div id="ot_d_member_reg_intro">
				<div class="ot_d_member_reg_intro_bg">
                	<div><img src="__ROOT__/Public/images/user/member/register/member_intro_tit.jpg" width="632" height="58"/></div>
                    <div class="ot_d_member_reg_intro_btn1"><a href="__ROOT__/user/register"><img src="__ROOT__/Public/images/user/member/register/member_intro_btn.jpg" width="178" height="40" border="0"/></a></div>
                    
                    <div class="ot_d_member_intro_scr1_off"><a href="#"><img src="__ROOT__/Public/images/user/member/register/member_intro_scr1_off.jpg" border="0"></a></div>
                    <div class="ot_d_member_intro_scr1_on"><a href="#"><img src="__ROOT__/Public/images/user/member/register/member_intro_scr1_on.jpg" border="0"></a></div>
                    <div class="ot_d_member_intro_scr1"><img src="__ROOT__/Public/images/user/member/register/member_intro_scr1.jpg" border="0"></div>
                    <div class="ot_d_member_intro_scr2_off"><a href="#"><img src="__ROOT__/Public/images/user/member/register/member_intro_scr2_off.jpg" border="0"></a></div>
                    <div class="ot_d_member_intro_scr2_on"><a href="#"><img src="__ROOT__/Public/images/user/member/register/member_intro_scr2_on.jpg" border="0"></a></div>
                    <div class="ot_d_member_intro_scr2"><img src="__ROOT__/Public/images/user/member/register/member_intro_scr2.jpg" border="0"></div> 
                    <div class="ot_d_member_intro_scr4_off"><a href="#"><img src="__ROOT__/Public/images/user/member/register/member_intro_scr4_off.jpg" border="0"></a></div>
                    <div class="ot_d_member_intro_scr4_on"><a href="#"><img src="__ROOT__/Public/images/user/member/register/member_intro_scr4_on.jpg" border="0"></a></div>
                    <div class="ot_d_member_intro_scr4"><img src="__ROOT__/Public/images/user/member/register/member_intro_scr4.jpg" border="0"></div>        
                    <div class="ot_d_member_reg_intro_btn2"><a href="__ROOT__/user/register"><img src="__ROOT__/Public/images/user/member/register/member_intro_btn.jpg" width="178" height="40" border="0"/></a></div>                              
                </div>
			</div>
			<div class="clearBoth"></div>
		</div>
		<div class="ot_d_body_content_right">
			<include file="Public:div-member_login" />
            <include file="Public:div-facebook_login" />
		</div>
		<div class="clearBoth"></div>
	</div>

<include file="Public:footer" />