<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s06.css" /> 
<load href="__PUBLIC__/js/jquery.validate.min.js" /> 

<script type="text/javascript">
	
$().ready(function() {
	$("#editForm").validate({
		rules: {
			verify:{
				required: true,
				minlength: 4,
				maxlength: 4
			},
			email: {
				required: true,
				email: true
			}
		},
		messages: {
			verify:{
				required: "請輸入驗證碼",
				minlength: "驗證碼不能少於4位",
				maxlength: "驗證碼不能大於4位"
			},
			email: {
				required: "請填寫電郵地址",
				email: "請輸入一個正確的電郵地址"
			}
		}
	});
	
	$('#verifyimg').bind('click', function(){
		$(this).attr('src','__URL__/verify?' + Math.random());
	});
	
});
</script>	
<style>
	tr.shop_user
	{
		display:none;	
	}
	input.user_type{
		display:none;
	}
</style>	
	
<div id="ot_d_body_content" class="full">
	<div class="ot_d_body_content_full">

			<div class="breadcrumb">
				<a href="#">主頁</a> > <a href="#">重發確認電郵</a>
			</div>
			<div id="forgotpwd-box" class="left-box">

				<div class="header">
					<a href="#"><img src="__ROOT__/Public/images/backgrounds/resendEmail.jpg" /></a>
				</div>

				<div class="content">
					          <form method='post' id="editForm" action='__URL__/resendEmail'> 
					  <table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <th width="125" align="right">電郵地址:</th>
                            <td width="30">&nbsp;</td>
                            <td><span class="inputfield">
                              <input type="text" name="email" id="email" />
                            </span></td>
                          </tr>
                          <tr>
                            <th width="125" align="right">驗證碼:</th>
                            <td width="30">&nbsp;</td>
                            <td class='inputfield'><input type="text" name="verify" id="verify" maxlength="4" /><br /><img src="__URL__/verify" name="verifyimg" id="verifyimg"  style="float:left;vertical-align: middle; margin-top: 5px;"  />
                               
                                </td>
                          </tr>
                          <tr>
                            <th width="125" align="right">&nbsp;</th>
                            <td width="30">&nbsp;</td>
                            <td><input type="submit" name="submit"  class="send-button"value='提交' />
                                <span id="submit_result"></span></td>
                          </tr>
                        </tbody>
                      </table>
					</form>
				</div>
				<div class="footer"></div>
			</div>
			
		</div>
		<div class="clearBoth"></div>
	</div>
 

<include file="Public:footer" />