<load href="__PUBLIC__/css/ot_sel.css"/>
<script type="text/javascript">
var $refList = <?php echo json_encode($refList); ?>;
$(document).ready(function(){
	$("#selEventForm").validate({
		submitHandler: function(form) {
			event_setcate($('#selEventForm').serializeArray());
			tb_remove();
			return false;
		}
	});
	$('.sel_all').bind('click',function(){
		_this = $(this);
		$(this).parents('.agroup').find('.event_ids').each(function(){
			$(this).attr('checked', _this.attr('checked'));
		});
	});
	$('.agroup input[name=event_ids]').change( function() {
		var id = $(this).attr('id');
		var checked = $(this).attr('checked');
		$('.'+id).attr('checked',checked);
		$('.'+id).each(function(){
			thisId = $(this).attr('id');
			thisId = thisId.replace("cate_id_","");
			checkRef(thisId);
		});
	} );
});

function checkRef($id){
	var isChecked = false;
	if(document.getElementById('cate_id_'+$id).checked){
		isChecked = true;
	}
	for($idx in $refList){
		if($idx==$id){
			for($idx2 in $refList[$idx]){
				document.getElementById('cate_id_'+$refList[$idx][$idx2]).checked = isChecked;
				$('#cate_id_'+$refList[$idx][$idx2]).attr('checked',isChecked);
				var myclass = $('#cate_id_'+$refList[$idx][$idx2]).attr('class');
				checkSelectAll(myclass);
			}
		}
	}
}
function checkSelectAll(myclass){
	var checkAll = true;
	var arr = myclass.split(" ");
	$('#'+arr[1]).attr('checked',checkAll);	
}
</script>
<form method="POST" id="selEventForm" name="selEventForm" >
    <table class="ot_t_cate_select_box">
        <?php foreach( $cateList AS $key=>$val ): ?>
            <tr>
                <td>
                    <div class="agroup ot_d_main_cate"><label> <?php echo $val['name']; ?> </label></div>
                </td>
            <tr>
            	<td>
                    <?php foreach( $val['item'] AS $skey=>$sval ): ?>
                        <div class="agroup"><label class="ot_t_event_cate_aitem"> <input name="event_ids" id="cate_id_<?php echo $skey; ?>" class="cate_id_<?php echo $key; ?>" type="checkbox" value="<?php echo $skey; ?>||<?php echo $sval['name']; ?>" class="event_ids" onclick="checkRef('{$skey}')" /> <?php echo $sval['name']; ?> </label></div>
                    <?php endforeach; ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
    <div id="ot_d_btnsend"><input type="submit" id="submit" value="" class="ot_b_cate_select_send"/></div>
</form>

<script type="text/javascript">event_getcates();</script>
