<include file="Public:header" />

<load href="__PUBLIC__/css/ot_member_func.css" /> 
<load href="__PUBLIC__/js/jquery.validate.min.js" />
<script type="text/javascript">
$().ready(function() {
	var status="{$userInfo['acc_edm']}";
	if(status==0){
		$('#status0').show();
	}else{
		$('#status1').show();
	}
	$('#submit').bind('click', function(){
		var id="{$userInfo['id']}";
		var dolink ="__URL__/unsubscribe/action/1/id/"+id;		
		$.getJSON(dolink ,function(json){			
			if(json.result==1){
				alert('成功取消訂閱');
				location.href = "__ROOT__";
			}else{
				alert('取消訂閱失敗, 請聯絡我們');
				location.href = "__ROOT__";
			}
		});
	});	
	$('#cancel').bind('click', function(){
		location.href = "__ROOT__";
	});
	$('#cancel2').bind('click', function(){
		location.href = "__ROOT__";
	});
});
</script>
	
<div id="body-content-error">
	<div class="breadcrumb">
		<h5>取消訂閱</h5>
	</div>    
	<div class="content">
    	<div id="status1" style="display:none;">
    	<div>確定取消接收推廣電郵:{$userInfo.email} 您確定要取消接收推廣電郵嗎?</div>
        <div style="margin-top:10px"><button id='submit' class='send2'>提交</button> <button id='cancel' class='cancel'>取消</button></div>
        </div>        
        <div id="status0" style="display:none;">
    		<div>你已經取消接收推廣電郵:{$userInfo.email} </div>            
            <div style="margin-top:10px"><button id='cancel2' class='cancel'>取消</button></div>
        </div>
	</div>
</div>	

<include file="Public:footer" />	