
<script type="text/javascript">

$("#upForm").validate({
	rules: {
		upfile:'required'
	},
	messages: {
		upfile: '請選擇上載的照片'
	},
	submitHandler: function(form) {
		var temp = '<img class="loading" src="__PUBLIC__/images/loading.gif" />';
		$('#photoAt{.eleid}').append(temp);
		$('#peditAt{.eleid}').text('uploading...')

		form.submit();
		tb_remove();
	}
});

</script>

<div id='main'> 
	<form method="POST" id="upForm" name="upForm" action="__URL__/uploadResult" enctype="multipart/form-data" target="iframeAtUser">
		<input type="hidden" name="eleid" value="{.eleid}" />
		<input type="hidden" name="userid" value="{.userid}" />
		<table border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #91c5e2;width:400px">
		  <tr>
		    <td style="background-color:#cfedfe;padding:7px" id="header"><b>上傳圖片</b></td>
	      </tr>
		  <tr>
		    <td style="background-color:#FFFFFF;padding:7px"><table width="0%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <td style="width:60px"><b>圖片文件</b></td>
		        <td>
		        	<input type="file" name="upfile" id="upfile" />
		        	<br />
		        	(僅允許上傳{&UPFILE_ALLOW_IMGEXT}類型文件<br />建議使用120:120及等比例的圖片)
		        </td>
	          </tr>
	        </table></td>
	      </tr>
		  <tr>
		    <td style="background-color:#ddf2fe;padding:1px 0px 0px 0px"></td>
      </tr>
		  <tr>
		    <td style="background-color:#ddf2fe;padding:1px 0px 0px 0px"></td>
	      </tr>
		  <tr>
		    <td style="background-color:#FFFFFF;padding:7px"><input type="submit" name="btnupload" value=" " style="left:130px;position:relative;" class="send2"/></td>
	      </tr>
	  </table>
    </form>
</div>	
