<div id="owner_EventPromotion_box">
	<div style="padding-left:10px;padding-right:10px;">對不起，這頁尚在建設中，如想提供商戶消息、活動或優惠資料，請將以下資料： 商戶/集團名稱、活動或優惠內容（名稱、日期、時間、地點、圖片） 電郵至:
	<a href="mailto:info@outstreet.com.hk" style="color:red;text-decoration:none;" title="聯絡我們">info@outstreet.com.hk</a>
    ，我們將會有專人跟進，並以電郵方式通知你有關資料的更新狀況。
	</div>
</div>