<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s02.css" />
<load href="__PUBLIC__/css/ot_s03.css" />
<load href="__PUBLIC__/css/ot_s06.css" />

<script type="text/javascript">
	$().ready(function(){
		
		var bindLink = function(){
			
			$('#reviewer-tabs-box .tabs-link').removeClass('current');

			$('#this-index').attr('href', $(this).attr('href'));
			var idx = null;
			switch($(this).attr('href')){
				case '#viewReviews':
					idx = 0;
					break;
				case '#viewComments':
					idx = 1;
					break;
				case '#viewPhotos':
					idx = 2;
					break;
				case '#viewStores':
					idx = 3;
					break;
				case '#viewFavoriteUsers':
					idx = 4;
					break;
				case '#viewOwnShop':
					idx = 0;
					break;
				case '#viewOwnPromotion':
					idx = 1;
					break;
			}
			$('#load-box').html('loading...');
			var url = $(this).attr('href');

			if (idx != null){
				$('#reviewer-tabs-box .tabs-link').removeClass('current');
				$('#reviewer-tabs-box .tabs-link:eq('+idx.toString()+')').addClass('current');
				$('#this-index').text($('#reviewer-tabs-box .tabs-link:eq('+idx.toString()+')').text());
				url = $(this).attr('href').replace('#','__URL__/') + '/id/{$userInfo.id}';
			}
			
			$.get(url, function(data){
				$('#load-box').html(data);
				$('.inner-tabs-link').bind('click', bindLink);
			});
			
			return false;
		};
		
		$('.reviewers a').toggleClass('current'),
		$('.tabs-link').bind('click', bindLink);
		$('#reviewer-tabs-box .tabs-link:first').trigger('click');

		$('#userFavoriteLink').bind('click', function(){
			
			var _this = this;
			if ('{$authInfo.id}' == ''){
				alert('請登入后再儲存為心水評家');
			}else{
				$.getJSON('__ROOT__/ajax/joinUser2Favorite/userid/' + $(_this).attr('href'),function(json){
					alert(json.info);
					$(_this).hide();
				});
			}
			return false;
		});
	});
</script>

<div id="ot_d_body_content" class="full">
    <div class="ot_d_body_content_full">
        <div class="breadcrumb">
            <a href="__ROOT__/">主頁</a> &gt;
            <if condition="$isOwner neq true">
            	<a href="__URL__/">評家</a> &gt;
            </if>
            <a href="__URL__/view/id/{$userInfo.id}">
            <if condition="$isOwner eq true">{$userInfo.o_contact_person}<else/>{$userInfo.nick_name}</if> 的<if condition="$isOwner eq true">店主<else/>個人</if>專頁
            </a> &gt;
			<if condition="$isOwner eq true">
	            <a class="tabs-link" id="this-index" href="#viewOwnShop">商戶管理</a>                        
            <else/>
	            <a class="tabs-link" id="this-index" href="#viewReviews">概要</a>
            </if>
        </div>
        <div class="body-content-reviewer-left">
			<div id="reviewer-menu-box">
                <a href="#"><img src="{$userInfo|getFace}" /></a>
                <div class="reviewer-title">
                    <if condition="$authInfo['id'] eq $userInfo['id']">
                      <span <if condition="$isOwner eq true">style="color:red;"</if>>
                      我的<if condition="$isOwner eq true">店主<else/>個人</if>專頁</span><br />
                      <if condition="$isOwner eq true">
						<a class="thickbox" href="__URL__/editOwner?placeValuesBeforeTB_=savedValues&TB_iframe=true&width=520&height=280">更新資料</a>
                      <else/>
                      	<a class="thickbox" href="__URL__/edit?placeValuesBeforeTB_=savedValues&TB_iframe=true&width=620&height=350">更新資料</a>
                      </if>
                      <a class="thickbox" href="__URL__/changePsd?placeValuesBeforeTB_=savedValues&TB_iframe=true&width=450&height=200">更換<if condition="$isOwner eq true">店主</if>密碼</a>		
                    <else />
                        {$userInfo.nick_name}的個人專頁
                    </if>
                </div>
                <if condition="$isOwner neq true">                
                    <div class="reviewer-status">
                        {$userInfo.desc}
                    </div>
                    <ul class="reviewer-statistics">
                        <if condition="$authInfo">
                            <li class="leavemessage">
                                <a href="#viewComments" class="tabs-link left">留言給評家</a>
                                <div class="clearBoth"></div>
                            </li>
                            <if condition="$authInfo['id'] neq $userInfo['id']">
                            <li class="save">
                                <a href="{$userInfo.id}" id="userFavoriteLink" class="left">儲存為心水評家</a>
                                <div class="clearBoth"></div>
                            </li>
                            </if>
                        </if>
                        <li class="reviews">
                            <a href="#viewReviews" class="tabs-link left">評介數目</a>
                            <a href="#viewReviews" class="tabs-link right">{$userInfo.statistics.review_count}</a>
                            <div class="clearBoth"></div>
                        </li>
                        <li class="comments">
                            <a href="#viewComments" class="tabs-link left">留言數目</a>
                            <a href="#viewComments" class="tabs-link right">{$userInfo.statistics.message_count}</a>
                            <div class="clearBoth"></div>
                        </li>
                        <li class="pictures">
                            <a href="#viewPhotos" class="tabs-link left">上載相片</a>
                            <a href="#viewPhotos" class="tabs-link right">{$userInfo.statistics.picture_count}</a>
                            <div class="clearBoth"></div>
                        </li>
                        <li class="fav-shop">
                            <a href="#viewStores" class="tabs-link left">心水商戶</a>
                            <a href="#viewStores" class="tabs-link right">{$userInfo.statistics.favorite_shop_count}</a>
                            <div class="clearBoth"></div>
                        </li>
                        <li class="fav-reviewer">
                            <a href="#viewFavoriteUsers" class="tabs-link left">心水評家</a>
                            <a href="#viewFavoriteUsers" class="tabs-link right">{$userInfo.statistics.favorite_user_count}</a>
                            <div class="clearBoth"></div>
                        </li>
                    </ul>
                <else/>
                    <ul>
                        <li>
                           共管理 {$shopCount} 間商戶
                            <div class="clearBoth"></div>
                        </li>
                    </ul>
                </if>
                <div class="clearBoth"></div>
            </div>
            <if condition="$isOwner neq true">
            	<div id="reviewer-fans-box">
                <div class="header">
                    <span class="reviewer-fans-left">&lt;</span>
                    <span class="reviewer-fans-right">&gt;</span>
                    {$userInfo.statistics.favorite_me_count}位fans
                </div>
                <div class="clearBoth"></div>
                <ul>
                    <iterate name="userInfo.favoriteMeUsers" id="vo">
                        <li>
                            <div style="word-wrap:break-word;">
                                <a class="imgs" href="__URL__/view/id/{$vo.detail.id}">
                                    <img src="{$vo.detail|getFace}" width="47" height="47" />
                                </a>
                                <a href="__URL__/view/id/{$vo.detail.id}">
                                    {$vo.detail.nick_name}
                                </a>
                                <div class="clearBoth"></div>
                            </div>
                        </li>
                    </iterate>
                </ul>
                <div class="clearBoth"></div>
            </div>
            </if>
        </div> 
        <div class="body-content-reviewer-right">
            <div id="reviewer-tabs-box">
                <ul>
                	<if condition="$isOwner eq true">
					    <li><a class="tabs-link" href="#viewOwnShop">商戶管理</a></li>
                        <li><a class="tabs-link" href="#viewOwnPromotion">活動及優惠</a></li>
                    <else/>
                        <li><a class="tabs-link" href="#viewReviews">評介</a></li>
                        <li><a class="tabs-link" href="#viewComments">留言</a></li>
                        <li><a class="tabs-link" href="#viewPhotos">相片</a></li>
                        <li><a class="tabs-link" href="#viewStores">心水商戶</a></li>
                        <li><a class="tabs-link" href="#viewFavoriteUsers">心水評家</a></li>                                        
                    </if>
                </ul>
            </div>
            <div id="load-box">
            </div>
        </div>
    </div>
    <div class="clearBoth"></div>
</div>

<include file="Public:footer" />
	