<script type="text/javascript">
	$().ready(function(){
		$('.btnDel').each(function(){
			$(this).bind('click',function(){
				if (confirm('你確定要删除？')){
					$.getJSON('__ROOT__/ajax/deleteFavouriteStore/id/'+$(this).attr('href'),function(json){
						alert(json.info);
						$('#reviewer-tabs-box a:eq(5)').click();
					});
				}
				return false;
			});
		});
	});	
</script>

<div id="reviewer-stores-box">
	<div class="header">
		<h3>心水商戶</h3>
	</div>
	<div id="paging-box">
		<div class="content">
			<div class="paging">
				{$multipage}
			</div>
		</div>
	</div>
	<ul>
		<iterate name="favoriteList" id="vo">
			<li <eq name="i%2" value="0">class="alt-row"</eq>>
				<table width="100%">
					<tr>
						<td rowspan="2" width="49" class="numbering">{$i}</td>
						<td>
							<?php $shopName = formatShopName($vo['shop']['name'], $vo['shop']['eng_name']); ?>
							<a href="__ROOT__/shop/view/id/{$vo.shop.id}" target="_blank" class="review-target">{$shopName}</a>
						</td>
                        <td width="20" align="right">
                        	<div style="float: right;"><a class="btnDel" href="{$vo.id}" title="刪除心水商舖"><img width="20"  src="__PUBLIC__/images/delete-icon.png" /></a></div>
                        </td>
					</tr>
					<tr>
						<td>
							<table width="100%">
								<neq name="vo.shop.keyword" value="">
								<tr>
									<td width="100">類別:</td>
									<td>{$vo.shop.keyword}</td>
								</tr>
								</neq>
								<tr>
									<td width="100">地址:</td>
									<td>{$vo.shop.address}</td>
								</tr>
								<tr>
									<td>營業時間:</td>
									<td>{$vo.shop.work_time}</td>
								</tr>
								<tr>
									<td>電話:</td>
									<td>{$vo.shop.telephone|formatTelephone=1}{$vo.shop.sub_telephone|formatTelephone=2}</td>
								</tr>
								<neq name="vo.shop.website" value="">
								<tr>
									<td>網址:</td>
									<td><a href="{$vo.shop.website}" target="_blank">{$vo.shop.website}</a></td>
								</tr>
								</neq>
							</table>
						</td>
						<td width="142"><a href="#"><img src="{$vo.shop|getFirstPicture='shop'}" width="142" height="110" /></a></td>
					</tr>
					<tr>
						<td colspan="2">{$vo.shop.id|fbBtn='shop',3,$authInfo['nick_name']}</td>
					</tr>
				</table>
			</li>
		</iterate>
	</ul>
	<div id="paging-box">
		<div class="content">
			<div class="paging">
				{$multipage}
			</div>
		</div>
	</div>
</div>