<div id="reviewer-photos-box">
    <div class="header">
        <h3>最新照片</h3>
    </div>
    <div id="paging-box">
        <div class="content">
            <div class="paging">
                {$multipage}
            </div>
        </div>
    </div>
    <ul>
        <iterate name="photoList" id="vo">
        	<li <eq name="i % 5" value="0">class="left"</eq>>
            	<?php
                	switch($vo['type']) {
                		case 'shop':
                        	?><a href="{$Think.config.OUTSTREET_DIR}{$Think.config.REVIEW_UPFILE_PATH}{$vo.file_path}" class="thickbox image" rel="group"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.REVIEW_UPFILE_PATH}{$vo.file_path}" width="123" height="91" /></a><?php
                        break;
                        case 'event':
                        	?><a href="{$Think.config.OUTSTREET_DIR}{$Think.config.EVENT_REVIEW_UPFILE_PATH}{$vo.file_path}" class="thickbox image" rel="group"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.EVENT_REVIEW_UPFILE_PATH}{$vo.file_path}" width="123" height="91" /></a><?php
                        break;
                        case 'promotion':
                        	?><a href="{$Think.config.OUTSTREET_DIR}{$Think.config.PROMOTION_REVIEW_UPFILE_PATH}{$vo.file_path}" class="thickbox image" rel="group"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.PROMOTION_REVIEW_UPFILE_PATH}{$vo.file_path}" width="123" height="91" /></a><?php
                        break;
                	}
                ?>
                <div class="description">{$vo.description}</div>
            </li>
        </iterate>
    </ul>
    <div class="seperator"></div>
    <div id="paging-box">
        <div class="content">
            <div class="paging">
                {$multipage}
            </div>
        </div>
    </div>
</div>
				
<script type="text/javascript">
	tb_init('a.thickbox');		
</script>