<include file="Public:box-header" />
<load href="__PUBLIC__/js/jquery.form.js" />
<load href="__PUBLIC__/js/jquery.validate.min.js" />
<load href="__PUBLIC__/css/ot_s06.css" />
<load href="__PUBLIC__/js/uploadimage.js" />
<script>
$(document).ready(function (){
	var type="{$type}";
	switch(type){
		case 'add':
		$('#ot_f_type').val('submitadd');
		break;
		case 'edit':			
		$('#ot_f_type').val('submitedit');
		var picture="{$shopInfo['picture']}";
		if(picture != null){				
			setPic("0","{$newsInfo['picture'][0]['file_path']}","","{$newsInfo['picture'][0]['id']}","{$path}","__ROOT__/Uploadimage","shopnews","{$newsInfo['picstamp']}","");
		}
		break;
	}
	$('#ot_a_newssubmitedit').click(function(){			
		submitNewsForm();
	});
	$('#time_start').datepick({dateFormat: 'yyyy-mm-dd'});
	$('#time_end').datepick({dateFormat: 'yyyy-mm-dd'});		
});

function submitNewsForm(){
	$('#ot_f_newssubmitform').ajaxSubmit({
		url:'__URL__/viewOwnShopAddnews/',								
		success: function ( response, status ) {
			var json = $.parseJSON( response );
			switch(json.msg){
				case 0:
					alert('新增商戶消息失敗,請聯絡我們');
				break;
				case 1:
					alert('新增商戶消息成功！');
				break;
				case 2:
					alert('更新商戶消息成功！');
				break;
				case 3:
					alert('更新商戶消息失敗,請聯絡我們！');
				break;
				case 4:
					alert('請選擇開始時間及結束時間！');
				break;
				case 5:
					alert('開始時間不能在結束時間之後！');
				break;
			}
			if (json.success){				
				parent.tb_remove();	
				parent.loadnews();					
				return false;
			}else{
				return false;
			}					
		}
	});
}
</script>

<form id="ot_f_newssubmitform" name="ot_f_newssubmitform" method="POST">
    <input id="ot_f_type" name='type' type='hidden' value=''/>
    <input id="ot_f_shop_id" name='shop_id' type='hidden' value="{$shop_id}"/>
    <if condition='$type eq "edit"'>
    	<input id="ot_f_row_id" name='row_id' type='hidden' value="{$row_id}"/>
    </if>
    <div id="ot_d_shopowner_addnews">
        <div class="ot_d_table">
             <div class="ot_d_tit">
                <switch name="type"><case value='add'>新增</case><case value='edit'>修改</case></switch>商戶消息
             </div>
        </div>
        <div class="ot_d_table ot_d_tableblank"></div>
        <div class="ot_d_table">
        	<div class="ot_d_type">標題</div>
            <div class="ot_d_content"><input name="title" id="title" value='{$newsInfo.title}' type="text" class="ot_d_box"/></div>
        </div>
        <div class="ot_d_table ot_d_tableblank">
        	<div class="ot_d_colcolor"></div>
        </div>
        <div class="ot_d_table">
        	<div class="ot_d_type">上載圖片</div>
            <div class="ot_d_content">
            	<?php echo generateUploadPicModule(6,$picstamp)?>           
                <input type="hidden" name="picstamp" value="{$picstamp}"/>            
        	</div>
        </div>    
        <div class="ot_d_table ot_d_tableblank">
        	<div class="ot_d_colcolor"></div>
        </div>
        <div class="ot_d_table">
        	<div class="ot_d_type">內容</div>
            <div class="ot_d_content"><textarea id="description" name="description" cols="" rows=""  class="ot_d_textareabox">{$newsInfo.description}</textarea></div>
        </div>
        <div class="ot_d_table ot_d_tableblank">
            <div class="ot_d_colcolor"></div>
        </div>
        <div class="ot_d_table">
        	<div class="ot_d_type">時間</div>
            <div class="ot_d_content">
            	<span class="ot_d_startword">開始時間</span>
                <input id="time_start" name='time_start' type="text" readonly="true" class="ot_o_popdate" value="{$newsInfo.time_start}"/><img src="__ROOT__/Public/images/icons/date_icon_whitebg.jpg" class="ot_d_dateicon_pos"/>
                <span class="ot_d_endword">結束時間</span>
                <input id="time_end" name='time_end' type="text" readonly="true" class="ot_o_popdate" value="{$newsInfo.time_end}"/><img src="__ROOT__/Public/images/icons/date_icon_whitebg.jpg" class="ot_d_dateicon_pos"/>
             </div>
        </div>
        <div class="ot_d_table ot_d_tableblank">
             <div class="ot_d_colcolor"></div>
        </div>
        <div class="ot_d_table">
             <div class="ot_d_type">&nbsp;</div>
             <div class="ot_d_content">
                <a href="#" id='ot_a_newssubmitedit' class="ot_d_sendbtn"></a>
                <a href="javascript:document.forms[0].reset()" id="ot_a_newsreset" class="ot_d_resetbtn"></a>
             </div>
        </div>    
        <div class="ot_d_table ot_d_tableblank"><div class="ot_d_lastcolcolor"></div></div>
    </div>
</form>

<include file="Public:box-footer" />