<script type="text/javascript">
	$().ready(function(){
		
		$('#frmComment').validate({
			rules: {
				body: {
					required: true,
					minlength: 2,
					maxlength: 500
				},
				verify:{
					required: true,
					minlength: 4,
					maxlength: 4
				}
			},
			messages: {
				body:{
					required: "請輸入留言",
					minlength: "留言不能少於2個字",
					maxlength: "留言不能大於500個字"
				},
				verify:{
					required: "請輸入驗證碼",
					minlength: "驗證碼不能少於4個字",
					maxlength: "驗證碼不能大於4個字"
				}
			},
			submitHandler:function(form){
				var jform = $('#frmComment');
				var params = jform.serialize();
				var ajaxuri = '__ROOT__/ajax/submitComment'
				$.post(ajaxuri, params, function(json){
					alert(json.info);
					if(json.status){
						//$('#reviewer-tabs-box a:eq(3)').click();
						location.reload();
					}
				},'json');
				return false;
			}
			
		});
		
		$('.btnReply').each(function(){
			$(this).bind('click',function(){
				var _this = this;
				$(this).hide();
				var t = $('<textarea />');
				var b = $('<input type="button" value="提交回應"/>');
				var cancel = $('<input type="button" value="取消"/>');
				var c = $('<div />').append(t).append(b).append(cancel).appendTo($(this).parent());
				//$(this).unbind('click');
				b.bind('click', function(){
					$.getJSON('__ROOT__/ajax/submitReply/id/'+$(_this).attr('href')+'/reply/' + t.val(),function(json){
						alert(json.info);
						$('#reviewer-tabs-box a:eq(3)').click();
					}); 
				});
				cancel.bind('click', function(){
					c.remove();
					$(_this).show();
				});
				return false;
			});
		});

	$('.btnDel').each(function(){
		$(this).bind('click',function(){
			if (confirm('你确定要删除么')){
				$.getJSON('__ROOT__/ajax/deleteComment/id/'+$(this).attr('href'),function(json){
					alert(json.info);
					$('#reviewer-tabs-box a:eq(3)').click();
				});
			}
			return false;
		});
	});
		
});	
</script>
	<div id="reviewer-comments-box">
		<div class="header">
			<h3>發表的評介</h3>
			<a href="#" class="plus"><span class="leavemessage">留言</span></a>
		</div>
		
		<div id="paging-box">
			<div class="content">
				<div class="paging">
					{$multipage}
				</div>
			</div>
		</div>
		
		<ul>
			<iterate name="messageList" id="vo">
			<li>
				<table width="100%">
					<tr>
						<td rowspan="2" width="86">
							<a href="__ROOT__/user/view/id/{$vo.submit_user.id}" class="image">
								<img src="{$vo.submit_user|getFace}" width="74" height="74" />
								{$vo.submit_user.nick_name}
							</a>
							
						</td>
						<td><span class="date">{$vo.create_time|date='Y-m-d H:i',###}</span></td>
					</tr>
					<tr>
						<td>
							<div style="width:600px;word-wrap:break-word;">{$vo.body}</div>
							<if condition="$authInfo['id'] eq $_GET['id']">
							<eq name="vo.reply" value=""><a class="btnReply" href="{$vo.id}">回覆</a></eq>
							<a class="btnDel" href="{$vo.id}">刪除</a>
							</if>
						</td>
					</tr>
					<neq name="vo.reply" value="">
					<tr>
						<td width="86">&nbsp;</td>
						<td>
							<div class="reviewer-reply">
								<table width="100%">
									<tr>
										<td rowspan="2" width="86">
											<img src="{$userInfo|getFace}" width="74" height="74" />
										</td>
										<td><a href="__ROOT__/user/view/id/{$userInfo.id}" class="reviewer-name">{$userInfo.nick_name}</a> 的回應︰</td>
									</tr>
									<tr>
										<td>
											{$vo.reply}
											<br />
											<a class="btnReply" href="{$vo.id}">編輯</a>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
					</neq>

				</table>
			</li>
			</iterate>
		</ul>
		
		<div id="paging-box">
			<div class="content">
				<div class="paging">
					{$multipage}
				</div>
			</div>
		</div>
		
		<div id="write-comment">
			<form id="frmComment" name="frmComment" method="post">
				<input type="hidden" name="user_id" value="{.id}"/>
				<table border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #91c5e2;width:500px">
				  <tr>
				    <td style="background-color:#cfedfe;padding:7px" id="header"><b>留言</b></td>
			      </tr>
				  <tr>
				    <td style="background-color:#FFFFFF;padding:7px"><table width="0%" border="0" cellspacing="0" cellpadding="0">
				      <tr>
				        <td style="width:110px"><b>內容：</b></td>
				        <td><textarea name="body" id="body" class="text-input small-input"></textarea>	</td>
			          </tr>
			        </table></td>
			      </tr>
				  <tr>
				    <td style="background-color:#ddf2fe;padding:1px 0px 0px 0px"></td>
			      </tr>
				  <tr>
				    <td style="background-color:#FFFFFF;padding:7px;vertical-align: text-top;;"><table width="0%" border="0" cellspacing="0" cellpadding="0">
				      <tr>
				        <td style="width:110px"><b>驗證碼：</b></td>
				        <td><img onclick="this.src='__URL__/verify/rnd/' + Math.random()" src="__URL__/verify" width="51" height="22" style="float:left;vertical-align: middle; margin-right: 12px;"  />
								<input type="text" name="verify" class="text-input" /></td>
			          </tr>
				      </table></td>
			      </tr>
				  <tr>
				    <td style="background-color:#ddf2fe;padding:1px 0px 0px 0px"></td>
			      </tr>
				  <tr>
				    <td style="background-color:#FFFFFF;padding:7px"><input type="submit" value="提交"  style="left:110px;position:relative;"/></td>
			      </tr>
			  </table>
			</form>
		</div>
	</div>
	
