<load href="__PUBLIC__/js/jquery.rating.package/jquery.MetaData.js" /> 
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.css" /> 
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.pack.js" />
<load href="__PUBLIC__/js/thickbox/thickbox.css" /> 
<load href="__PUBLIC__/js/thickbox/thickbox.js" /> 
<script type="text/javascript">
$().ready(function() {	
	$.each($('.commend'),function(idx, ele){
		$.getJSON('__ROOT__/ajax/getReviewCommendCount/reviewId/' + $(this).parent('.ot_d_clap').attr('href'),function(json){

			$(ele).text(json.status);
		});
	});
	$.each($('.reports'),function(idx, ele){
		$.getJSON('__ROOT__/ajax/getReviewReportCount/reviewId/' + $(this).parent('.ot_d_flag').attr('href'),function(json){
			$(ele).text(json.status);
		});
	});
	
	$('.ot_d_clap').bind('click', function(){
		_this = this;
		$.getJSON('__ROOT__/ajax/appendReviewCommend/reviewId/' + $(_this).attr('href'),function(json){
			alert(json.info);
			if (json.status != 0){
				$(_this).children('.commend').text(json.status);
			}
		});
		return false;	
	});
	
	$('.ot_d_flag').bind('click', function(){
		_this = this;
		$.getJSON('__ROOT__/ajax/appendReviewReport/reviewId/' + $(_this).attr('href'),function(json){
			alert(json.info);
			if (json.status != 0){
				$(_this).children('.reports').text(json.status);
			}
		});
	
		return false;	
	});
});
	
</script>
<div id="reviewer-reviews-box">
		<div class="header">
			<h3>發表的評介</h3>
		</div>
</div>
<div class="ot_d_review_user">
<div id="reviewer-reviews-box" class="left-box">
    <if condition="!empty($reviewList)">
        <div class="ot_d_paging">{$multipage}</div>
        <div class="clearBoth"></div>
        <div id="ot_d_merchant_comments_box" class="left-box">
            <div class="ot_d_content">
                <ul>
                    <iterate name="reviewList" id="item" key="k">
                    <?php
                       	if($item['shop_id']>0){
                        	$type = 'shop';
                        }
                       	if($item['event_id']>0){
                        	$type = 'event';
                        }
                       	if($item['promotion_id']>0){
                        	$type = 'promotion';
                        }
                    ?>
                    <li>
                    <div>
                        <div class="ot_d_right">
                            <div>
                                <div class="ot_d_shopreview_info">
                                    <div>
                                    	<?php 
                                        	$name = formatShopName($item['belongs']['name'], $item['belongs']['eng_name']);
                                        ?>
                                        <span class="ot_d_comment_title">{$item.title}</span> (<a href="__ROOT__/{$type}/view/id/{$item.belongs.id}" >{$name|formatInfo=50}</a>)&nbsp;&nbsp;{$item.create_time|date=chDate(3),###}({$item.create_time|date='w',###|week2ch})
                                    </div>
                                    <if condition="$type eq 'shop'">
                                    <div class="ot_d_review_userstar">
                                        <div class="rating_5">
                                            <input type="radio" id="total_rate_level_{$item.id}_1" name="rate_level_{$item.id}" disabled="disabled" value="1" class="star" <?php if($item['rate']['rate_1']==1){echo "checked";} ?> />
                                            <input type="radio" id="total_rate_level_{$item.id}_2" name="rate_level_{$item.id}" disabled="disabled" value="2" class="star" <?php if($item['rate']['rate_1']==2){echo "checked";} ?> />
                                            <input type="radio" id="total_rate_level_{$item.id}_3" name="rate_level_{$item.id}" disabled="disabled" value="3" class="star" <?php if($item['rate']['rate_1']==3){echo "checked";} ?> />
                                            <input type="radio" id="total_rate_level_{$item.id}_4" name="rate_level_{$item.id}" disabled="disabled" value="4" class="star" <?php if($item['rate']['rate_1']==4){echo "checked";} ?> />
                                            <input type="radio" id="total_rate_level_{$item.id}_5" name="rate_level_{$item.id}" disabled="disabled" value="5" class="star" <?php if($item['rate']['rate_1']==5){echo "checked";} ?> />
                                        </div>
                                    </div>
                                    </if>
                                </div>
                            </div>
                            <div class="ot_review_pictures">
                                <?php $picCount = 0; ?>
                                <iterate name="item.pictures" id="pitem">
                                    <?php if(($picCount % 2) == 0) { ?>
                                        <div class="ot_review_pictures_pos">
                                            <div class="ot_review_pictures_pos_frame ot_review_pictures_marginright ot_review_pictures_marginbottom">
                                                <div class="ot_review_pictures_info">
	                                                <?php
														if($type=='shop'){
	                                                        $path = C('OUTSTREET_DIR').C('REVIEW_UPFILE_PATH');
	                                                    }elseif($type=='event'){
	                                                        $path = C('OUTSTREET_DIR').C('EVENT_REVIEW_UPFILE_PATH');
	                                                    }elseif($type=='promotion'){
	                                                        $path = C('OUTSTREET_DIR').C('PROMOTION_REVIEW_UPFILE_PATH');
	                                                    }
	                                                ?>
                                                    <a href="{$path}{$pitem.file_path}" class="thickbox image" rel="group_{$item.id}"><img src='{$path}thumb_{$pitem.file_path}' alt="{$pitem.id}" onload="javascript:DrawImage(this,258,1000)"/></a>
                                                </div>
                                                <div class="clear"></div>
                                                <div title="{$pitem.description}" class="ot_review_pictures_desc">{$pitem.description|formatInfoUTF8=20}</div>
                                            </div>
                                    <?php } else { ?>
                                            <div class="ot_review_pictures_pos_frame ot_review_pictures_marginbottom">
                                                <div class="ot_review_pictures_info">
                                                    <a href="{$path}{$pitem.file_path}" class="thickbox image" rel="group_{$item.id}"><img src='{$path}thumb_{$pitem.file_path}' alt="{$pitem.id}" onload="javascript:DrawImage(this,258,1000)" /></a>
                                                </div>
                                                <div class="clear"></div>
                                                <div title="{$pitem.description}" class="ot_review_pictures_desc">{$pitem.description|formatInfoUTF8=20}</div>
                                            </div>
                                         </div>
                                    <?php } ?>
                                    <?php $picCount++; ?>
                                </iterate>
                                <?php if(($picCount % 2) == 1) { ?>
                                        <div class="ot_review_pictures_pos_frame ot_review_pictures_marginbottom">
                                            <div class="ot_review_pictures_info">&nbsp;</div>
                                            <div class="clear"></div>
                                            <div class="ot_review_pictures_desc">&nbsp;</div>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                         	<div class="clear"></div>
                         	<div class="ot_d_comment">{$item.description}</div>
                            <if condition="$type eq 'shop'">
                         	<div class="ot_d_review_user6icons">
                            	<div class="ot_d_review_user6icons_short">
                                	<div class="ot_d_review_user6icons_shorttxt">服務</div><div class="ot_d_review_user6icons_shortnum"><?php echo((!$item['rate']['rate_2'] and $item['rate']['rate_2'] != 0) || $item['rate']['rate_2'] < 0 )?'N/A':round($item['rate']['rate_2']).'/5'; ?></div>
                            	</div>
                            	<div class="ot_d_review_user6icons_short">
                                	<div class="ot_d_review_user6icons_shorttxt">環境</div><div class="ot_d_review_user6icons_shortnum"><?php echo((!$item['rate']['rate_2'] and $item['rate']['rate_3'] != 0) || $item['rate']['rate_3'] < 0 )?'N/A':round($item['rate']['rate_3']).'/5'; ?></div>
                            	</div>
                            	<div class="ot_d_review_user6icons_short">
                                	<div class="ot_d_review_user6icons_shorttxt">方便</div><div class="ot_d_review_user6icons_shortnum"><?php echo((!$item['rate']['rate_2'] and $item['rate']['rate_4'] != 0) || $item['rate']['rate_4'] < 0 )?'N/A':round($item['rate']['rate_4']).'/5'; ?></div>
                            	</div>
                            	<div class="ot_d_review_user6icons_short">
                                	<div class="ot_d_review_user6icons_shorttxt">價格</div><div class="ot_d_review_user6icons_shortnum"><?php echo((!$item['rate']['rate_2'] and $item['rate']['rate_5'] != 0) || $item['rate']['rate_5'] < 0 )?'N/A':round($item['rate']['rate_5']).'/5'; ?></div>
                            	</div>
                            	<div class="ot_d_review_user6icons_long">
                                	<div class="ot_d_review_user6icons_longtxt">產品質素</div><div class="ot_d_review_user6icons_longnum"><?php echo((!$item['rate']['rate_2'] and $item['rate']['rate_6'] != 0) || $item['rate']['rate_6'] < 0 )?'N/A':round($item['rate']['rate_6']).'/5'; ?></div>
                            	</div>
                            	<div class="ot_d_review_user6icons_long">
                                	<div class="ot_d_review_user6icons_longtxt">產品種類</div><div class="ot_d_review_user6icons_longnum"><?php echo((!$item['rate']['rate_2'] and $item['rate']['rate_7'] != 0) || $item['rate']['rate_7'] < 0 )?'N/A':round($item['rate']['rate_7']).'/5'; ?></div>
                            	</div>
                         	</div>
                            </if>
                         	<div class="ot_d_commentreview">
	                            <if condition="$authInfo['user_type'] eq 0">
                                    <if condition="$item['user_id'] neq $authInfo['id']">
                                        <div class="ot_d_commentreview_pos_clap">
                                            <a href="{$item.id}" class="ot_d_clap">稱讚(<span class="commend"></span>)</a>
                                        </div>
                                    <div class="ot_d_commentreview_pos_flag"><a href="{$item.id}" class="ot_d_flag">檢舉(<span class="reports"></span>)</a></div>
                                    </if>
                                </if>
                         	</div>
                            {$item.belongs.id|fbBtn=$type,3,$authInfo['nick_name'],$item['id']}
                        	<div style="float:right;"><a href="#" class="ot_o_back">回到頁首</a></div>
                        </div>
                       	<div class="clearBoth"></div>
                    </div>
                    </li>
                    </iterate>
                </ul>
            </div>
            <div class="footer"></div>
        </div>
        <div class="ot_d_paging">{$multipage}</div>
    </if>
    <div class="clear"></div>
</div>
