<script>tb_init('.additional_detail_thickbox');</script>
<script>
$(document).ready(function(){
	$('.additional_info_box').hide();
	$('.additional_info_trigger').bind('click', function(){
		var target_offset = $(this).offset();
		var target_top = target_offset.top;
		$('html, body').animate({scrollTop:target_top}, 'slow');
		$(this).toggleClass("active").next().slideToggle('slow',function(){
		});
		return false;
	});
	
});
</script>
<div id="owner_stores_box">
	<!--<div class="header">
		<h3>概要</h3>
	</div>-->
	<div id="paging-box">
		<div class="content">
			<div class="paging">
				{$multipage}
			</div>
		</div>
	</div>
	<ul>
		<iterate name="ownShopList" id="vo">
			<li <eq name="i%2" value="0">class="alt-row"</eq>>
				<table width="100%">
					<tr>
						<td rowspan="2" width="49" class="numbering">{$i}</td>
						<td colspan="2">
							<div><?php $shopName = formatShopName($vo['name'], $vo['eng_name']); ?>
							<a href="__ROOT__/shop/view/id/{$vo.id}" target="_blank" class="review-target">{$shopName}</a></div>
							<div id="ot_d_merchant_info_box">
                            	<div class="ot_d_merchant_buttons">
                            		<a class='provide-details provide_detail_thickbox' href='__ROOT__/shop/shop_provide_info/shoppage/2/thick/1/shop_id/{$vo.id}/hash/{$vo.id|getHash}?placeValuesBeforeTB_=savedValues&TB_iframe=true&width=640&height=400'>更新資料</a><script>tb_init('.provide_detail_thickbox');</script>
                                </div>
                                {$vo.id|fbBtn='shop',1,$authInfo['nick_name']}
                            </div>
						</td>                        
					</tr>
					<tr>
						<td style="width:800px;">
							<table width="100%">
								<neq name="vo.keyword" value="">
								<tr>
									<td width="100">類別:</td>
									<td>{$vo.keyword}</td>
								</tr>
								</neq>
								<tr>
									<td width="100">地址:</td>
									<td>{$vo.main_location.name}{$vo.sub_location.name}{$vo.address}{$vo.rooms}</td>
								</tr>
								<tr>
									<td>營業時間:</td>
									<td>{$vo.work_time}</td>
								</tr>
								<tr>
									<td>電話:</td>
									<td>{$vo.telephone|formatTelephone=1}{$vo.sub_telephone|formatTelephone=2}</td>
								</tr>
								<neq name="vo.website" value="">
								<tr>
									<td>網址:</td>
									<td><a href="{$vo.website}" target="_blank">{$vo.website}</a></td>
								</tr>
								</neq>
							</table>
						</td>
						<td width="142"><a href="#"><img src="{$vo|getFirstPicture='shop',true}" onload="javascript:DrawImage(this,142,142)"/></a></td>
					</tr>
				</table>
                <div class="additional_info_trigger" ref="additional_info_box_{$vo.id}"><a href="#" class="additional_info_trigger_text">附加資料</a></div>
                <div class="additional_info_box" id="additional_info_box_{$vo.id}">
                	<iframe width="750" height="600" scrolling="no" src="__ROOT__/user/viewOwnAdditionalData/user_id/{$_GET['id']}/shop_id/{$vo.id}"></iframe>
                </div>
			</li>
		</iterate>
	</ul>
	<div id="paging-box">
		<div class="content">
			<div class="paging">
				{$multipage}
			</div>
		</div>
	</div>
</div>