<script type="text/javascript">
	$().ready(function(){
		$('.btnDel').each(function(){
			$(this).bind('click',function(){
				if (confirm('你確定要删除？')){
					$.getJSON('__ROOT__/ajax/deleteFavouriteUser/id/'+$(this).attr('href'),function(json){
						alert(json.info);
						$('#reviewer-tabs-box a:eq(6)').click();
					});
				}
				return false;
			});
		});
	});	
</script>
<div id="reviewer-favoriteusers-box">
	<div class="header">
		<h3>心水用戶</h3>
	</div>

	<div id="paging-box">
		<div class="content">
			<div class="paging">
				{$multipage}
			</div>
		</div>
	</div>
	
	<ul>
		<iterate name="userList" id="vo">
			<li <eq name="i%2" value="0">class="alt-row"</eq>>
				<table width="100%">
					<tr>
						<td rowspan="2" width="49" class="numbering">{$i}</td>
						<td>
							<a href="__ROOT__/user/view/id/{$vo.favorite_user.id}" target="_blank" class="review-target">{$vo.favorite_user.nick_name}</a>

						</td>
                        <td width="20" align="right">
                        	<div style="float: right;"><a class="btnDel" href="{$vo.id}" title="刪除心水評家"><img width="20"  src="__PUBLIC__/images/delete-icon.png" /></a></div>
                        </td>
					</tr>
					<tr>
						<td>
							<table width="100%">
								<tr>
									<td width="82">性別:</td>
									<td>
										<eq name="vo.favorite_user.sex" value="1">男</eq>
										<eq name="vo.favorite_user.sex" value="0">女</eq>
									</td>
								</tr>
								<neq name="vo.favorite_user.desc" value="">
								<tr>
									<td width="82">個人介紹:</td>
									<td>{$vo.favorite_user.desc}</td>
								</tr>
								</neq>
							</table>
						</td>
						<td width="142"><a href="#"><img src="{$vo.favorite_user|getFace}" /></a></td>
					</tr>
				</table>
			</li>
		</iterate>
	</ul>
	
	<div id="paging-box">
		<div class="content">
			<div class="paging">
				{$multipage}
			</div>
		</div>
	</div>
	
</div>