<include file="Public:box-header" />
<load href="__PUBLIC__/js/jquery.form.js" />
<load href="__PUBLIC__/js/owner_loading.js" />
<load href="__PUBLIC__/css/ot_s06.css" />
<script>
$(document).ready(function(){
	$('#ot_d_body_content').css('background-image','none');
	var loading_frame=0;
	/*START PDF*/		
	countMaxPDF();
	$('#requestaddpdf').click(function(){		
		newUploadForm();
	});
	$('input[name="file"]').change(function (){
		$('#filename').text(getNameFromPath($(this).val()));
		$('#file_name').val(getNameFromPath($(this).val()));
	});
	$('#new_description').click(function(){
		$('#new_description').css({'color':'#000'});
	});
	$('#submitpdf').click(function(){
		startloading();
		if($('#new_description').val()==''){
			alert('請輸入PDF簡介!');
			endloading();
		}else if($('#new_file').val()==''){
			alert('請選擇PDF!');
			endloading();
		}else{
			$('#pdfform').ajaxSubmit({
				success: function ( response, status ){
					var json = $.parseJSON( response );					
					if (json.success){
						alert('成功上傳PDF！');
						$('#ot_d_upload').hide();
						countMaxPDF();
					}else{
						switch(json.msg){
							case 0:
								alert('上傳失敗,請聯絡我們');
							break;
							case 2:
								alert('請上傳PDF格式檔案及小於2MB！');
							break;
						}
					}
					endloading();
				}
			});
		}
		return false;
	});
	/*END PDF*/
	/*START News*/	
	loadnews();	
	/*END NEWS*/
});

/*START PDF Function*/
function submiteditpdf(id){
	startloading();
	$('#editpdform'+id).ajaxSubmit({
		success: function ( response, status ) {				
			var json = $.parseJSON( response );				
			if (json.success){
				alert('成功更新PDF！');					
				countMaxPDF();
			}else{
				switch(json.msg){
					case 0:
						alert('上傳失敗,請聯絡我們');
					break;
					case 2:
						alert('請上傳PDF格式檔案！');
					break;
				}						
			}
			endloading();
		}
	});
	return false;
}

function newUploadForm(){	
	$('#reset').trigger('click');
	$('#pdfform').clearForm();
	$('#filename').text('');	
	$('#hidden_userid').val("{$userInfo.id}");
	$('#addpdf').hide();
	$('#ot_d_upload').show();
}

function deletepdfrecord(id,shop_id){
	if(confirm('確認刪除PDF紀錄?')){
		$.getJSON('__ROOT__/user/deletepdfrecord/id/'+id+'/shop_id/'+shop_id, function(data) {
			if(data.success==1){
				alert('成功刪除PDF紀錄');
			}else{
				alert('無法刪除PDF紀錄');
			}
			countMaxPDF();
		});
	}
	
}

function auditpdfrecord(isaudit,id){
	startloading();
	$.getJSON('__ROOT__/user/auditpdfrecord/id/'+id+'/isaudit/'+isaudit, function(data){			
		if(data.success==1){
			loadpdf();
		}else{
			switch(data.msg){
				case 0:
					alert('發佈數量已達上限!!');
				break;
			}
		}
		endloading();
	});
}

function countMaxPDF(){
	var pdf_num="{$pdf_num}";	
	var shop_id="{$_REQUEST['shop_id']}";
	var result=0;
	$.getJSON('__ROOT__/user/countpdf/shop_id/'+shop_id, function(data) {
		if(data.current_pdf_num!=null){
			result=data.current_pdf_num.length;
		}
		$('.ot_d_pdfupload').text('共有 '+result+'/'+pdf_num+' 上載檔案');		
		var number_add=parseInt(result)+1;
		$('#ot_d_number_add').text(number_add+'.');
		loadpdf();
		if(result<pdf_num){
			$('#addpdf').show();			
		}else{
			$('#addpdf').hide();
		}
		return result;
	});
}

function editpdf(id,shop_id,num,ori_file_name){
	startloading();
	var shop_id="{$_REQUEST['shop_id']}";
	var description=$('#hidden_pdfList_desc'+id).val();
	var htmlcontent='';
	htmlcontent += "<form id='editpdform"+id+"' name='editpdfform' method='POST' action='__ROOT__/Ajax/uploadshoppdf/shopid/{$_REQUEST['shop_id']}/type/edit/row_id/"+id+"' enctype='multipart/form-data'>";
		htmlcontent += "<div class='ot_d_number'>"+num+".</div>";
		htmlcontent += "<div class='ot_d_breif'><textarea cols='' rows='' class='ot_d_breif_formbox' name='description'>"+description+"</textarea></div>";
		htmlcontent += "<div id='ori_pdf"+id+"' class='ot_d_pdfurl'><a href='__ROOT__/ajax/downloadpdf/shop_id/"+shop_id+"/id/"+id+"'>"+ori_file_name+"</a></div>";			
		htmlcontent += "<div class='ot_d_btn'><a href='javascript:void(0);' class='ot_d_delurllbtn' onclick='removepdf("+id+");'> </a><input onclick='submiteditpdf("+id+")' type='button' class='send2'/></div>";
		htmlcontent += "<div class='ot_d_status'><a href='javascript:void(0);' class='ot_d_passurl'>修改中</a></div>";
	htmlcontent += "</form>";
	$('#pdf'+id).html(htmlcontent);
	endloading();
}

function getNameFromPath(strFilepath) {
	var objRE = new RegExp(/([^\/\\]+)$/);
	var strName = objRE.exec(strFilepath);
	if (strName == null) {
		return null;
	} else {
		return strName[0];
	}
}

function removepdf(id){
	var htmlcontent='';
	htmlcontent +="<div class='ot_d_pdfurl'><input size='' type='file' name='file' id='file' value='file'/></div>";	
	$('#ori_pdf'+id).html(htmlcontent);
}

function loadpdf(){
	startloading();
	var shop_id="{$_REQUEST['shop_id']}";
	var result='';
	var pdfrecordnum=0;
	$.getJSON('__ROOT__/user/countpdf/shop_id/'+shop_id, function(data) {	
		$('#pdfList').html('');
		if(data.current_pdf_num!=null) {
			result=data.current_pdf_num;
			pdfrecordnum=result.length;
						
		}
		if(pdfrecordnum!=0){
			var htmlcontent ='';			
			for(idx in result){
				var classlaunch='';
				if(result[idx]['is_audit']==1){
					classlaunch='_launch';
				}
				var num=parseInt(idx)+1;
				var filename=result[idx]['ori_file_name'];
				htmlcontent+="<li id='pdf"+result[idx]['id']+"'>"
					htmlcontent+="<div class='ot_d_number"+classlaunch+"'>"+num+".</div>";
					htmlcontent+="<div id='pdfList_desc"+result[idx]['id']+"' title='"+result[idx]['description']+"' class='ot_d_breif"+classlaunch+"'>"+checklength(result[idx]['description'],30)+"</div>";
					htmlcontent+="<input id='hidden_pdfList_desc"+result[idx]['id']+"' type='hidden' value='"+result[idx]['description']+"' class='ot_d_breif"+classlaunch+"'/>";
					htmlcontent+="<div class='ot_d_pdfurl'>";
						htmlcontent+="<a class='ot_d_breif"+classlaunch+"' href='__ROOT__/ajax/downloadpdf/shop_id/"+result[idx]['shop_id']+"/id/"+result[idx]['id']+"'>"+checklength(result[idx]['ori_file_name'],20)+"</a>";
					htmlcontent+="</div>";
					htmlcontent+="<div class='ot_d_btn'><a href='javascript:void(0);' onclick='editpdf("+result[idx]['id']+","+result[idx]['shop_id']+","+num+",\""+filename+"\");' class='ot_d_editpdfbtn'></a><a href='javascript:void(0);' onclick='deletepdfrecord("+result[idx]['id']+","+result[idx]['shop_id']+");' class='ot_d_delrecordbtn'></a></div>";			
					if(result[idx]['is_audit']==1){
						htmlcontent+="<div class='ot_d_status'><a href='javascript:void(0);' onclick='auditpdfrecord(0,"+result[idx]['id']+");' class='ot_d_pass'>發佈中</a></div>";
					}else{
						htmlcontent+="<div class='ot_d_status'><a href='javascript:void(0);' onclick='auditpdfrecord(1,"+result[idx]['id']+");' class='ot_d_passurl'>未發佈</a></div>";
					}		
				htmlcontent+="</li>";				
			}
			$('#pdfList').html(htmlcontent);
		}
		$('#ot_d_upload').hide();
		endloading();
	});
}
/*END PDF FUNCTION*/

/*START NEWS*/
function loadnews(){
	startloading();
	$('#newslistresult').html('');
	var news_num="{$news_num}";	
	var shop_id="{$_REQUEST['shop_id']}";
	var result='';
	var current_newscount='0';
	var htmlcontent='';
	$.getJSON('__ROOT__/user/countnews/shop_id/'+shop_id, function(data) {		
		if(data.newslist!=null){
			result=data.newslist;
			if(result.length!=null){
				current_newscount=result.length;
				for(idx in data.newslist){					
					var classlaunch='';
					if(result[idx]['is_audit']==1){
						classlaunch='_launch';
					}
					var num=parseInt(idx)+1;					
					htmlcontent+="<li>";
						htmlcontent+="<div class='ot_d_number"+classlaunch+"'>";
							htmlcontent+=num+'.';
						htmlcontent+="</div>";
						htmlcontent+="<div class='ot_d_createtime"+classlaunch+"'>";
							htmlcontent+=result[idx]['newcreatetime'];
						htmlcontent+="</div>";
						htmlcontent+="<div title='"+result[idx]['title']+"' class='ot_d_tit"+classlaunch+"'>";
							htmlcontent+=checklength(result[idx]['title'],8);
						htmlcontent+="</div>";
						htmlcontent+="<div title='"+result[idx]['description']+"' class='ot_d_info"+classlaunch+"'>";
							htmlcontent+=checklength(result[idx]['description'],8);
						htmlcontent+="</div>";
						htmlcontent+="<div class='ot_d_starttime"+classlaunch+"'>";
							htmlcontent+=result[idx]['time_start'];
						htmlcontent+="</div>";
						htmlcontent+="<div class='ot_d_endtime"+classlaunch+"'>";
							htmlcontent+=result[idx]['time_end'];
						htmlcontent+="</div>";
						htmlcontent+="<div class='ot_d_btn'>";
							htmlcontent+="<a href='__ROOT__/shop/viewshopnews/id/"+result[idx]['id']+"/shop_id/"+result[idx]['shop_id']+"?width=600&height=400'  class='ot_d_browsebtn previewthickbox'></a>";
							htmlcontent+="<a href='__ROOT__/user/viewOwnShopAddnews/type/edit/id/"+result[idx]['id']+"/shop_id/"+result[idx]['shop_id']+"?placeValuesBeforeTB_=savedValues&TB_iframe=true&width=620&height=440' class='ot_d_editbtn add_news_thickbox'></a>";
							htmlcontent+="<a href='javascript:void(0);' onclick='deletenewsrecord("+result[idx]['shop_id']+","+result[idx]['id']+");' class='ot_d_deletebtn'></a>";
						htmlcontent+="</div>";
						htmlcontent+="<div class='ot_d_status'>";
						if(result[idx]['is_audit']==1){
							htmlcontent+="<a href='javascript:void(0);' onclick='auditnewsrecord(0,"+result[idx]['id']+");' class='ot_d_pass'>發佈中</a>";
						}else{
							htmlcontent+="<a href='javascript:void(0);' onclick='auditnewsrecord(1,"+result[idx]['id']+");' class='ot_d_passurl'>未發佈</a>";
						}
						htmlcontent+="</div>";
					htmlcontent+="</li>";				
				}				
			}
			$('#newslistresult').html(htmlcontent);
		}		
		htmlcontent='共有 '+current_newscount+'/'+news_num+' 商戶消息';
		$('.ot_d_newsupload').html(htmlcontent);
		if(current_newscount<news_num){			
			htmlcontent="<a class='ot_d_addrecordbtn add_news_thickbox' href='__ROOT__/user/viewOwnShopAddnews/type/add/shop_id/{$_REQUEST['shop_id']}?placeValuesBeforeTB_=savedValues&TB_iframe=true&width=620&height=440'></a>";
			$('.ot_d_addnewsrecord_pos').html(htmlcontent);			
		}else{
			$('.ot_d_addnewsrecord_pos').html('');
		}
		tb_init('.previewthickbox');
		tb_init('.add_news_thickbox');
		endloading();
	});
}

function auditnewsrecord(isaudit,id){
	$.getJSON('__ROOT__/user/auditnewsrecord/id/'+id+'/isaudit/'+isaudit, function(data) {
		if(data.success==1){
			loadnews();
		}else{
			switch(data.msg){
				case 0:
					alert('發佈數量已達上限!');
				break;
				case 1:
					alert('無法發佈消息, 請聯絡我們!');
				break;
			}
			loadnews();
		}		
	});
}

function deletenewsrecord(shop_id,id){
	$.getJSON('__ROOT__/user/deletenewsrecord/id/'+id+'/shop_id/'+shop_id, function(data) {
		if(data.success==1){
			alert('成功刪除消息紀錄');	
			loadnews();	
		}else{
			alert('無法刪除消息, 請聯絡我們');	
			loadnews();	
		}
	});
}

function checklength(obj,maxlength){		
	if (obj.length > maxlength) {		
		var newstr=obj.substr(0,maxlength)+'...';
		return newstr;
	}else{
		return obj;
	}
}
/*END NEWS*/
</script>

<div id="ot_d_additionaldata">
    <div id="ot_d_shopownerpdf">
        <div class="ot_d_header">
            <div class="ot_d_pdftit"></div><div class="ot_d_pdfupload"></div>
        </div>
        <div class="ot_d_content">
            <ul>
            	<li class="ot_d_typeline"><div class='ot_d_number'>ID</div><div class='ot_d_breif'>標題</div><div class='ot_d_pdfurl'>PDF</div><div class='ot_d_btncontrol'>控制項</div><div class='ot_d_status'>狀態</div></li>                
                <div id='pdfList'></div>
               	<li id="ot_d_upload">
                <form id="pdfform" name="pdfform" method="POST" action="__ROOT__/Ajax/uploadshoppdf/shopid/{$_REQUEST['shop_id']}" enctype="multipart/form-data" ><div id="ot_d_number_add" class="ot_d_number"></div><input id="hidden_userid" type="hidden" value="{$userInfo.id}"><div class="ot_d_breif"><textarea id="new_description" name="description" cols="" rows="" class="ot_d_breif_formbox"></textarea></div><div class='ot_d_pdfurl'><input type="file" name="file" id="new_file" value="file" /></div><div class="ot_d_btn"><a href="javascript:void(0);" name="submitBtn" id="submitpdf" class="ot_d_addrecordbtn"></a><input id="reset" value=" " type="reset" class="reset"/></div></form>
                </li>                                
                <li id="addpdf"><div class="ot_d_addrecord_pos"><a id="requestaddpdf" href="javascript:void(0);" class="ot_d_addrecordbtn"></a></div></li>
             </ul>
        </div>
    </div>    
    <div class="clearBoth"></div>	
    <div id="ot_d_shopownernews">
        <div class="ot_d_header">
            <div class="ot_d_newstit"></div><div class="ot_d_newsupload"></div>
        </div>
        <div class="ot_d_content">
            <ul>
                <li class="ot_d_typeline"><div class="ot_d_number">ID</div><div class="ot_d_createtime">創建時間</div><div class="ot_d_tit">標題</div><div class="ot_d_info">內容</div><div class="ot_d_starttime">開始時間</div><div class="ot_d_endtime">結束時間</div><div class="ot_d_btncontrol">控制項</div><div class="ot_d_status">狀態</div>
                </li>
                <div id="newslistresult"></div>
                <li><div class="ot_d_addnewsrecord_pos"></div></li>				
            </ul>
        </div>
    </div>
</div>