<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<script type="text/javascript">
	$().ready(function(){
		$('#tabs-box ul').showTabs();

		$('div.headerAboutus').corner("cc:#fff ,top");
		$('div.footer-aboutus').corner("cc:#fff ,bottom");
	});
</script>

<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
        <div class="breadcrumb">
            <a href="__ROOT__/">主頁</a> > <a href="__ROOT__/aboutus">關於我們</a>
        </div>
		<div id="aboutus-box" class="left-box">
            <div class="header">
                <h3>關於我們</h3>
            </div>
            <div class="content" style="padding-left:10px; padding-right:5px; padding-top:10px; padding-bottom:10px;">
                <table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
                    <tr>
                        <td>
                            <div style="margin-bottom:10px">OutStreet「出街網」 創於2010年，是香港一個創新地結合購物、飲食及休閒娛樂等主題的多元化網上城市生活指南及意見發表平台。</div>
                            <div style="margin-bottom:10px">OutStreet 的龐大資料庫包括出街指南、節目、優惠及評介四部份。基本資料不但可供瀏覽及搜索，而且還開放給大家自由撰寫評介、編輯資料和上載圖片，和其他網民分享交流。</div>
                            <div style="margin-bottom:10px">OutStreet 清晰簡明地展示香港人出街需要的各種資訊，方便計劃出行。OutStreet 會定期為大家挑選出街好去處和其他精彩節目，評介也會提供真實的參考。網站附設稱讚及分享功能，使大家輕鬆和Facebook 上的親友互動。</div>
                            <!--<div>另外，OutStreet 為大小商戶提供展示服務。商戶負責人可以在OutStreet 上登記身份，以便管理商戶基本資料和發佈最新商戶消息，方便全港市民得知更多出街情報。</div>-->
						</td>
                    </tr>
                </table>
            </div>
            <div class="footer"></div>
        </div>
		<div id="contactus-box" class="left-box">
            <div class="header">
                <h3>聯絡我們</h3>
            </div>
            <div class="content" style="padding-left:10px; padding-right:5px; padding-top:10px; padding-bottom:10px; line-height:20px;">
                <table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
                    <tr>
                        <td>
                        <div style="float:left;width:200px;">意見或查詢：</div>
                        <div><a href="mailto:comments@outstreet.com.hk" style="text-decoration:underline;" title="聯絡我們">comments@outstreet.com.hk</a></div>
                        <div style="float:left;width:200px;">建立/更改商戶專頁、登記店主身份：</div>
                        <div><a href="mailto:info@outstreet.com.hk" style="text-decoration:underline;" title="聯絡我們">info@outstreet.com.hk</a><br /></div>
                        <div style="float:left;width:200px;">拓展廣告業務：</div>
                        <div><a href="mailto:ads@outstreet.com.hk" style="text-decoration:underline;" title="聯絡我們">ads@outstreet.com.hk</a></div>
                        <!--<div style="float:left;width:200px;">聯絡電話：</div>
                        <div>2724 8082</div>-->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="footer"></div>
        </div>
		<div class="clearBoth"></div>
	</div>
	<div class="ot_d_body_content_right">
		<include file="Public:div-weather" />
	</div>
	<div class="clearBoth"></div>
</div>

<include file="Public:footer" />