<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.validate.js" />
<load href="__PUBLIC__/js/jquery.form.js" />
<script type="text/javascript">
$(document).ready(function(){
	var validator = $( '#theform' ).validate( {
		rules: {
			username: { required: true },
			password: { required: true }
		},
		messages: {
			username: { required: '登入名稱是必須' },
			password: { required: '密碼是必須' }
		},
		submitHandler: function()
		{
			$( '#theform' ).ajaxSubmit( {
				success: function ( response, status ) { //alert(response);
					var json = $.parseJSON( response );
					if ( json.success ) { $( location ).attr( 'href', "__APP__/main/index" );  }
					else { validator.showErrors( { 'password': '登入名稱或密碼不正確' } ); }
				}
			} );
			return false;
		}
	} );
});
</script>
<table style="width: 100%; height: 100%;" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center" valign="middle">
			<form id="theform" action="__APP__" method="post">
			<input type="hidden" name="m" value="index" />
			<input type="hidden" name="a" value="doLogin" />
			<table style="border: #C0C0C0 solid 1px;" cellspacing="5" cellpadding="5">
			<tr>
				<td style="width: 25%;"><label><b>*</b> 登入名稱:</label></td>
				<td style="width: 75%;"><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td style="width: 25%;"><label><b>*</b> 密碼:</label></td>
				<td style="width: 75%;"><input type="password" name="password" /></td>
			</tr>
			<tr>
				<td colspan="2" align="right">
					<input class="red-button" type="submit" value="登入" />
				</td>
			</tr>
			</table>
			</form>
		</td>
	</tr>
</table>
<include file="Public:sa-footer" />