<include file="Public:sa-header" />
<div class="container">

	<h3>系统信息</h3>
	<ul class="memlist fixwidth">
		<li><em>商鋪数量:</em>{$shopCount} 家</li>
		<li><em>附件数量/总大小:</em>{$upfilecount}个/{$upfilesize}</li>
	</ul>
	
	<h3>伺服器環境</h3>
	<ul class="memlist fixwidth">
		<li><em>操作系统:</em>{$os}</li>
		<li><em>Web服务:</em>{$webserver}</li>
		<li><em>上传限制:</em>{$fileupload}</li>
		<li><em>DEBUG_MODE:</em>{$debugmode}</li>
		<li><em>URL_MODEL:</em>{$urlmodel}</li>
		<li><em>magic_quote_gpc:</em>{$magic_quote_gpc}</li>
	</ul>
	
	<h3>技術支持</h3>
	<ul class="memlist fixwidth">
	</ul></div>
<include file="Public:sa-footer" />