<include file="Public:header" />
<load href="__PUBLIC__/css/ot_review.css" />
<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec05 a').toggleClass('current');
});
function showdesc(id){
	$('#desc1_'+id).show();
	$('#desc2_'+id).hide();
}
function hidedesc(id){
	$('#desc2_'+id).show();
	$('#desc1_'+id).hide();
}
</script>
<div class="ot_d_body_content">
	<div id="ot_d_body_content_left"><if condition="$brand_status eq 2"><include file="Public:left_menu" /></if></div>
	<div id="ot_d_body_content_right">
    <if condition="$review_count eq 0">
    	<table class="ot_t_listing_table">
			<tr>
            	<th>暫時未有相關評價</th>
            </tr>
		</table>
    <else />    
    	<table class="ot_t_review_listing_table">
        	<tr>
                <th class="title" style="width:5%">ID<A href="__ACTION__/index.php/?m=review&a=index&sort=a.id&sortorder=asc">↓</A>|<A href="__ACTION__/index.php/?m=review&a=index&sort=a.id&sortorder=desc">↑</A></th>
                <th class="title" style="width:25%">評介標題<A href="__ACTION__/index.php/?m=review&a=index&sort=a.title&sortorder=asc">↓</A>|<A href="__ACTION__/index.php/?m=review&a=index&sort=a.title&sortorder=desc">↑</A></th>
				<th class="title" style="width:10%">評分<A href="__ACTION__/index.php/?m=review&a=index&sort=f.rate_1&sortorder=asc">↓</A>|<A href="__ACTION__/index.php/?m=review&a=index&sort=f.rate_1&sortorder=desc">↑</A></th>
                <th class="title" style="width:15%">創建時間<A href="__ACTION__/index.php/?m=review&a=index&sort=a.create_time&sortorder=asc">↓</A>|<A href="__ACTION__/index.php/?m=review&a=index&sort=a.create_time&sortorder=desc">↑</A></th>
                <th class="title" style="width:10%">評介者<A href="__ACTION__/index.php/?m=review&a=index&sort=a.user_id&sortorder=asc">↓</A>|<A href="__ACTION__/index.php/?m=review&a=index&sort=a.user_id&sortorder=desc">↑</A></th>
                <th class="title" style="width:35%">評介內容<A href="__ACTION__/index.php/?m=review&a=index&sort=a.description&sortorder=asc">↓</A>|<A href="__ACTION__/index.php/?m=review&a=index&sort=a.description&sortorder=desc">↑</A></th>
            </tr>
            <iterate name="reviewList" id="vo">
            	<tr>
                	<td class="row">{$vo.id}</td>
                	<td class="row"><a target="_blank" href="{$OUTSTREET_DIR}/shop/view/id/{$vo.shop_id}/reviewid/{$vo.id}">{$vo.title}<if condition="$shop_count gt 1">&nbsp;| {$vo.shop_name}({$vo.sub_location_name}分店)</if></a></td>
                	<td class="row">{$vo.rate_1}</td>
					<td class="row">{$vo.create_time|date='Y-m-d H:i',###}</td>
                	<td class="row"><a target="_blank" href="{$OUTSTREET_DIR}/user/view/id/{$vo.user_id}">{$vo.nick_name}</a></td>
                	<td class="row"><div style="display:none" onclick="showdesc({$vo.id})" id="desc2_{$vo.id}">{$vo.description|strip_tags}</div><div onclick="hidedesc({$vo.id})" id="desc1_{$vo.id}">{$vo.description|strip_tags|msubstr=###,0,20}</div></td>
            	</tr>
            </iterate>        	
            <tr>
                <td class="row_spec" colspan="5">{$multipage}</td>
            </tr>
        </table>
    </if>
    </div>
	<div class="ot_d_clearBoth"></div>
</div>
<include file="Public:footer" />