<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.validate.js" /> 
<load href="__PUBLIC__/js/jquery.form.js" /> 
<load href="__PUBLIC__/js/ajaxupload.js"/>
<script type="text/javascript">
	var tb_pathToImage = "__PUBLIC__/js/thickbox/loadingAnimation.gif";
</script>

<script type="text/javascript" src="http://maps.google.com.hk/maps?file=api&v=2&key=ABQIAAAA265tqANg-PO9A0c1yzonRhTjMhPI1CAhGVtOIejGS_y-mHbIYBQkOamcSRGA1BZVqQuXy1KsEawDSw"></script> 
<load href="__PUBLIC__/css/global2.css" />
<load href="__PUBLIC__/js/thickbox/thickbox.css" />
<load href="__PUBLIC__/js/thickbox/thickbox.js" />
<load href="__PUBLIC__/js/jquery.validate.min.js" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.timeentry.package/jquery.timeentry.css" />
<load href="__PUBLIC__/js/jquery.timeentry.package/jquery.timeentry.pack.js" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" />
<style type="text/css">
label.error {
	float: none;
	color: red;
	padding-left: .5em;
	vertical-align: top;
	display: none;
}
;
</style>
<script type="text/javascript">

$().ready(function() {
	$("#editForm").validate({
		rules: {
			cate_id: "required",
			name: "required",
			details: "required",
			main_location_id: "required",
			sub_location_id: "required",
			shop_id: "number",
			ticket_website:{
				url: true
			},
			ticket_phone: {
				//required: true,
				minlength: 8
			},
			ticket_startdate: {
				//date: true
			}
		},
		messages: {
			cate_id: "請選擇節目子分類",
			name:"請輸入節目名稱",
			details: "請輸入節目介紹",
			main_location_id: "請選擇節目區域",
			sub_location_id: "請選擇所屬商圈",
			shop_id: "請輸入數字",
			ticket_website:"必須是合法的鏈接",
			ticket_phone: {
				minlength: "電話不能少於8個字符"
			},
			ticket_startdate: "請輸入開始售票日期"		
		},
		submitHandler: function( form )
		{
			$shopId = $('#shop_id').val();
			$address = $('#address').val();	
			if($shopId=='' && $address==''){
				alert('請輸入地址或場地其中一項');
				$('#address').focus();
				$('#address').select();
				return;
			}else if($('#shopError').val()=='1'){
				$('#shop_id').focus();
				return;
			}else{
				form.submit();	
			}
		}
	});
	
	$('#ticket_required').bind("change", function(){
		if($('#ticket_required:checked').val()!=null){
			$('.ticket_website_row').show();					
		}else{
			$('.ticket_website_row').hide();
		}
	});
	
	if($('#ticket_required:checked').val()!=null){
		$('.ticket_website_row').show();							
	}else{
		$('.ticket_website_row').hide();
	}
	
	//綁定事件  
	$('#main_event_cate_id').bind("change", function(){
		//設置相應隱藏域的值
		$('#main_event_cate_name').val(this.options.item(this.selectedIndex).text);
		//event取子分類
		$('#cate_id').empty();
		$.getJSON('__URL__/eventCateSub/mainid/' + $(this).val(),function(json){
			for (idx in json.data){
				//if (idx == 0){
				//	$('#sub_event_cate_name').val(json.data[idx].name);
				//}
				
				$('#cate_id').append('<option value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
			}
		});
	});


	//綁定事件
	$('#main_location_id').bind("change", function(){
		
		//設置相應隱藏域的值
		$('#main_location_name').val(this.options.item(this.selectedIndex).text);
		
		getSubLocationList($(this).val());
		
	});
	
	function getSubLocationList($mainLocationId){
		//event取商圈
		$('#sub_location_id').empty();
		$.getJSON('__URL__/locationSub/mainlocationid/' + $mainLocationId,function(json){
			for (idx in json.data){
				
				if (idx == 0){
					$('#sub_location_name').val(json.data[idx].name);
				}
				
				$('#sub_location_id').append('<option value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
			}
		});
	}
	
	//綁定事件  
	$('#sub_location_id').bind("change", function(){
		//設置相應隱藏域的值
		$('#sub_location_name').val(this.options.item(this.selectedIndex).text);
	});
	
	$('#shop_id').bind("change",getShopInfo);
	
	function getShopInfo(){
		$('#shopError').val('0');
		$('#addressError').empty();
		if($('#shop_id').val()=='0'){
			$('#shop_id').val('');
		}
		$('#shopInfo').css('color', 'black');
		$('#shopMapInfo').empty();
		if($('#shop_id').val()!=''){
			$.getJSON('__URL__/shopName/shopId/'+$('#shop_id').val() ,function(json){			
				if(json.data){			
				  $shopFullAddr = json.data[0].address + json.data[0].rooms;
				  $shopAddr = $('#sub_location_id :selected').text() + json.data[0].address;
				  $('#shopInfo').html($shopFullAddr);
				  $('#main_location_id').val(json.data[0].main_location_id);	
				  getSubLocationList(json.data[0].main_location_id);		
				  $('#sub_location_id').val(json.data[0].sub_location_id);
				  
				  $('#shopMapInfo').text('正在搜索您輸入的街道'+json.data[0].name + ' - ' + $shopAddr+'是否存在...');
				  $('#shopMapInfo').css('background-color','#66f');
				  
				  geocoder.getLatLng($shopAddr,function(point) {
					  if (!point) {
						  $('#shopMapInfo').text('無法找到您輸入的街道地址，請重新輸入');
						  $('#shopMapInfo').css('background-color','#f66');
						  $('#shop_id').focus();
					  } else {
						  $('#shopMapInfo').text('您輸入的街道地址位於東經'+json.data[0].googlemap_lat+'度,北緯'+json.data[0].googlemap_lng+'度');
						  $('#shopMapInfo').css('background-color','#6f6');
						  $('#googlemap_lat').val(json.data[0].googlemap_lat);
						  $('#googlemap_lng').val(json.data[0].googlemap_lng);
					  
						  map.clearOverlays();
						  map.setCenter(point, 17);
						  var marker = new GMarker(point, {draggable: true});
						  
						  GEvent.addListener(marker, "dragstart", function() {
							  map.closeInfoWindow();
						  });
					  
						  GEvent.addListener(marker, "dragend", function() {
							  var mlatlng = marker.getLatLng();
							  $('#googlemap_lat').val(mlatlng.lat());
							  $('#googlemap_lng').val(mlatlng.lng());							
						  });
						  
						  map.addOverlay(marker);
						  marker.openInfoWindowHtml($shopAddr);
						  $('#address').val($shopFullAddr);
					 }
				  }
		 		);	
				}else{
					$('#shopError').val('1');
			   		$('#shopInfo').html(json.info);
					$('#shopInfo').css('color', 'red');
				}
			});
		}else{
			$('#shopInfo').empty();
		}
	}
	getShopInfo();
	
	$('#cate_id').empty();
	$.getJSON('__URL__/eventCateSub/mainid/{$eventInfo.cate.parent_id}' ,function(json){
		
		for (idx in json.data){
			if (json.data[idx].id == {$eventInfo.cate_id}){
				$('#cate_id').append('<option selected="true" id="cate_id_at_'+json.data[idx].id +'" value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
			}else{
				$('#cate_id').append('<option id="cate_id_at_'+json.data[idx].id +'" value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
			}
		}
	});

	$('#sub_location_id').empty();
	$.getJSON('__URL__/locationSub/mainlocationid/{$eventInfo.main_location_id}',function(json){
		for (idx in json.data){
			if (json.data[idx].id == {$eventInfo.sub_location_id}){
				$('#sub_location_id').append('<option selected="true" value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
			}else{
				$('#sub_location_id').append('<option value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
			}
		}
	});

	$('#start_date,#end_date').datepick({beforeShow: customRange});  
	function customRange(input) {  
		return {minDate: (input.id == 'end_date' ? 
			$('#start_date').datepick('getDate') : '+0D',
			input.id == 'start_date' ? 
			'+0D': '+0D'),  
			maxDate: (input.id == 'start_date' ? 
			$('#end_date').datepick('getDate') : null)};  
	}

	var map = null;
	var geocoder = null;

	map = new GMap2(document.getElementById("gmap"));
	geocoder = new GClientGeocoder();

	map.addControl(new GLargeMapControl());
	var latlng = new GLatLng(<?php echo $eventInfo['googlemap_lat']; ?>,<?php echo $eventInfo['googlemap_lng']; ?>);
	map.setCenter(latlng, 17);
	var marker = new GMarker(latlng, {draggable: true});
	map.addOverlay(marker);
	marker.openInfoWindowHtml($('#address').val());
	GEvent.addListener(marker, "dragstart", function() {
		map.closeInfoWindow();
	});
	GEvent.addListener(marker, "dragend", function() {
		var mlatlng = marker.getLatLng();
		$('#googlemap_lat').val(mlatlng.lat());
		$('#googlemap_lng').val(mlatlng.lng());							
	});

	$('#address').bind("keyup click",function(){
		$('#shop_id').val('');
		getShopInfo();
	});

	$('#address').bind("change", function(){
		$('#addressError').empty();
		if ($('#address').val() != '<?php echo $EventInfo['address']; ?>')
		{
			$('#addressError').text('正在搜索您輸入的街道'+$('#address').val()+'是否存在...');
			$('#addressError').css('background-color','#66f');
			
		  geocoder.getLatLng(
			$('#sub_location_id :selected').text()+$('#address').val(),
			function(point) {
			  if (!point) {
				$('#addressError').text('無法找到您輸入的街道地址，請重新輸入');
				$('#addressError').css('background-color','#f66');
				$('#address').focus();
			  } else {
				$('#addressError').text('您輸入的街道地址位於東經'+point.lat()+'度,北緯'+point.lng()+'度');
				$('#addressError').css('background-color','#6f6');
				$('#googlemap_lat').val(point.lat());
				$('#googlemap_lng').val(point.lng());
						
				map.clearOverlays();
				map.setCenter(point, 17);
				var marker = new GMarker(point, {draggable: true});

				GEvent.addListener(marker, "dragstart", function() {
				  map.closeInfoWindow();
				 });
				
				GEvent.addListener(marker, "dragend", function() {
					var mlatlng = marker.getLatLng();
					$('#googlemap_lat').val(mlatlng.lat());
					$('#googlemap_lng').val(mlatlng.lng());							
				});

				map.addOverlay(marker);
				marker.openInfoWindowHtml($('#address').val());
			  }
			}
		);
	  }
	});

	$.timeEntry.setDefaults({show24Hours: true});
	$('#start_hour').timeEntry({spinnerImage: ''});
	$('#end_hour').timeEntry({spinnerImage: ''});

<iterate name="eventInfo.pictures" id="item" key="k">
	setPic({$k}, "{$item.file_path}","{$item.description}", {$item.id});
</iterate>

});

function setPic(eleid, picpath, desc, picid){
	var jPhoto = $('#photoAt'+eleid);
	
	var temp = '<a id="upfileAt'+eleid+'" class="thickbox" rel="upfiles" title="'+desc+'" href="{$Think.config.OUTSTREET_DIR}{$Think.config.EVENT_UPFILE_PATH}'+picpath+'"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.EVENT_UPFILE_PATH}thumb_'+picpath+'" width="120" height="120" /></a>';
	
	jPhoto.empty();
	jPhoto.append(temp);
	jPhoto.append('<br /><span>' + desc + '</span>');

	tb_init('#upfileAt' + eleid);
	
	var jPhotoEdit = $('#peditAt'+eleid);
	jPhotoEdit.empty();

	var jPhotoMain = $('<a />',{href:"#"});
	jPhotoMain.bind('click',function(){
		$.getJSON('__URL__/setEventMainPic/id/' + picid,function(json){
			alert(json.info);
		});
	});
	jPhotoMain.append('設為主圖');
	jPhotoEdit.append(jPhotoMain);
	temp = '<a href="__URL__/deletePic/id/'+picid+'/eleid/'+eleid+'/from/event" target="deleteResult">刪除</a>';
	jPhotoEdit.append(temp);
}

function reInitPic(eleid){
	var jPhoto = $('#photoAt'+eleid);
	jPhoto.empty();
	
	var jPhotoEdit = $('#peditAt'+eleid);
	jPhotoEdit.empty();
	temp = '<a id="uplink'+eleid+'" href="__URL__/uploadPic/eleid/'+eleid+'/picstamp/{$picstamp}/from/event/?height=160&width=400&modal=false" class="thickbox">上載</a>';
	jPhotoEdit.append(temp);
	tb_init('#uplink'+eleid);
}

</script>
<div class="container">
  <h3>節目列表</h3>
  <div class="mainbox">
    <form id="editForm" name="editForm" method="post" action="eventEdit">
      <input type="hidden" value="{$eventInfo.id}" name="id" />     
      <input type="hidden" value="{$eventInfo.picstamp}" name="picstamp" />
      <table id="tbWrite">
        <tr>
          <td width='80px'>節目相片:</td>
          <td><iframe id="deleteResult" name="deleteResult" style="display:none"></iframe>
            <iterate name="picids" id="item">
              <iframe name="iframeAt{$item}" id="iframeAt{$item}" src="__URL__/uploadResult" style="display:none"></iframe>
              <div class="photoContainer">
                <div class="photo" id="photoAt{$item}"></div>
                <div class="action" id="peditAt{$item}"><a href="__URL__/uploadPic/eleid/{$item}/eventid/{$_REQUEST['id']}/picstamp/{$eventInfo.picstamp}/from/event/?height=160&width=400&modal=false" class="thickbox">上載</a></div>
              </div>
            </iterate></td>
        </tr>
        <tr>
          <td>所屬分類:*</td>
          <td><select id="main_event_cate_id" name="main_event_cate_id">
              <option value="">請選擇主分類</option>
              <iterate name="eventCateList" id="vo">
                <if condition="$vo['id'] == $eventInfo['cate']['parent_id']">
                  <option id="main_event_cate_id_at_{$vo.id}" selected="true" value="{$vo.id}">{$vo.name}</option>
                  <else />
                  <option id="main_event_cate_id_at_{$vo.id}" value="{$vo.id}">{$vo.name}</option>
                </if>
              </iterate>
            </select>
            <input type="hidden" value="{$eventInfo.main_event_cate_name}" id="main_event_cate_name" name="main_event_cate_name" /></td>
        </tr>
        <tr>
          <td>所屬子分類:*</td>
          <td><select id="cate_id" name="cate_id">
              <option value="">請選擇子分類</option>
            </select>
			</td>
        </tr>
        <tr>
          <td>節目名稱:*</td>
          <td><input type="text" name="name" id="name" value="{$eventInfo.name}" /></td>
        </tr>
        <tr>
          <td>主辦單位:</td>
          <td><input type="text" name="creater_name" id="creater_name" value="{$eventInfo.creater_name}" /></td>
        </tr>
        <tr>
          <td>節目區域:*</td>
          <td><select id="main_location_id" name="main_location_id">
              <option value="">請選擇區域</option>
              <iterate name="mainLocationList" id="vo">
                <if condition="$vo['id'] == $eventInfo['main_location_id']">
                  <option value="{$vo.id}" selected="true">{$vo.name}</option>
                  <else />
                  <option value="{$vo.id}">{$vo.name}</option>
                </if>
              </iterate>
            </select>
            <input type="hidden" value="{$eventInfo.main_location_name}" id="main_location_name" name="main_location_name" /></td>
        </tr>
        <tr>
          <td>所屬商圈:*</td>
          <td><select id="sub_location_id" name="sub_location_id">
              <option value="">請選擇商圈</option>
            </select>
            <input type="hidden" value="{$eventInfo.sub_location_name}" id="sub_location_name" name="sub_location_name" /></td>
        </tr>
        <tr>
          <td>詳細地址:</td>
          <td><input type="text" name="address" id="address" value="{$eventInfo.address}" size="50"/><span id="addressError">如:xx街xx號</span></td>
        </tr>
		<tr>
          <td>商鋪ID:</td>
          <td>
    	      <input type="text" name="shop_id" id="shop_id" value="{$eventInfo.shop_id}" size="6"/><div id="shopInfo"></div><div id="shopMapInfo"></div> <input type="hidden" name="shopError" id="shopError" value="0"/>
          </td>
        </tr> 
        <tr>
        	<td></td>
        	<td>
				<div id="gmap" style="width:300px; height:300px;"></div><br>
				<input type="text" name="googlemap_lat" readonly="true" id="googlemap_lat" value="<?php echo $eventInfo['googlemap_lat']; ?>" class="small" />
				<input type="text" name="googlemap_lng" readonly="true" id="googlemap_lng" value="<?php echo $eventInfo['googlemap_lng']; ?>" class="small" />     
        	</td>
        </tr>       
        <tr>
          <td>開始日期:*</td>
          <td><input type="text" name="start_date" id="start_date" value="{$eventInfo.start_date}" size="12" class="small" />
            幾點:
            <input type="text" name="start_hour" id="start_hour" value="{$eventInfo.start_hour}" size="5" class="small" />
            <LABEL for="start_date" class="error">請輸入開始日期</LABEL></td>
        </tr>
        <tr>
          <td>結束日期:*</td>
          <td><input type="text" name="end_date" id="end_date" value="{$eventInfo.end_date}" size="12" class="small" />
            幾點:
            <input type="text" name="end_hour" id="end_hour" value="{$eventInfo.end_hour}" size="5" class="small" />
            <LABEL for="end_date" class="error">請輸入结束日期</LABEL></td>
        </tr>
        <tr>
          <td>節目介紹:*</td>
          <td><textarea name="details" id="details" cols="50" rows="10">{$eventInfo.details}</textarea></td>
        </tr>
        <tr>
          <td>聯係電話:</td>
          <td><input type="text" name="telephone" id="telephone" value="{$eventInfo.telephone}" maxlength="8"/></td>
        </tr>
        <tr>
          <td>網址:</td>
          <td><input type="text" name="website" id="website" value="{$eventInfo.website}" size="80"/></td>
        </tr>
        <tr>
          <td>電郵:</td>
          <td><input type="text" name="email" id="email" value="{$eventInfo.email}" size="50"/></td>
        </tr>
         <tr>
          <td>需要售票:</td>
          <td><input type="checkbox" name="ticket_required" id="ticket_required" value="1" <?php if($eventInfo['ticket_required']) echo 'checked' ?> ></td>
        </tr>
         <tr class="ticket_website_row" style="display:none;">
          <td>售票網站:</td>
          <td><input type="text" name="ticket_website" id="ticket_website" value="{$eventInfo.ticket_website}"/></td>
        </tr>
         <tr class="ticket_website_row" style="display:none;">
          <td>售票電話:</td>
          <td><input type="text" name="ticket_phone" id="ticket_phone" minlength="8" maxlength="8" value="{$eventInfo.ticket_phone}"/></td>
        </tr>
         <tr class="ticket_website_row" style="display:none;">
          <td>票價:</td>
          <td><input type="text" name="price" id="price" value="{$eventInfo.price}"/></td>
        </tr>
        <tr>
          <td>開始售票日期:</td>
          <td><input type="text" name="ticket_startdate" id="ticket_startdate" value="{$eventInfo.ticket_startdate}"/>如:28-01-2010 22:05:00</td>
        </tr>
        <tr>
          <td>詳細時間:</td>
          <td><textarea name="time_more" id="time_more" cols="50" rows="5"/>{$eventInfo.time_more}</textarea></td>
        </tr>
        <tr>
          <td>主EventID:</td>
          <td><input type="text" name="parent_event_id" id="parent_event_id" value="{$eventInfo.parent_event_id}"/></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" name="submitBtn" id="submitBtn" value="提交更新"/></td>
        </tr>
      </table>
    </form>
  </div>
</div>
<include file="Public:sa-footer" />