<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" /> 
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" />

<script type="text/javascript">
$(document).ready(function(){
	$('#start_date').datepick({dateFormat:'yyyy-mm-dd'});
	$('#end_date').datepick({dateFormat:'yyyy-mm-dd'});

	$('.doRecommend').bind('click', function(){
		var uri = $(this).attr('id');
		$.get(uri,function(data){
			location.reload();
		});
	});
	
	$('.doAudit').bind('click', function(){
		var uri = $(this).attr('id');
		$.get(uri,function(data){
			location.reload();
		});
	});
});

function doRecommend_priority(id,value){
	
	$.getJSON( '__URL__/doRecommend/is_recommend/'+value+'/event_id/'+id, 
		function(json){
			if(json.result == 1) {
				alert(json.msg);
				location.reload(true);
			} else {
				alert(json.msg);
			}
		});
	
}

function doRecommend_priority_new(id,value){
	
	$.getJSON( '__URL__/doRecommend_new/is_recommend_new/'+value+'/event_id/'+id, 
		function(json){
			if(json.result == 1) {
				alert(json.msg);
				location.reload(true);
			} else {
				alert(json.msg);
			}
		});
	
}

</script>

<div class="container">
	<h3>節目列表</h3>
	<div class="mainbox">
        <form action="__URL__/listAll/" method="get">
            <a href="__URL__/listAll/is_recommend/1">只顯示精選</a>
            <a href="__URL__/listAll/is_recommend_new/1">只顯示精選(新)</a>
            <a href="__URL__/listAll/is_recommend/0">只顯示普通</a>
            名稱:<input type="text" name="name" value="{.name}" />
            時間:<input type="text" style="width: 100px;" id="start_date" name="start_date" value="{.start_date}"/>-<input type="text" style="width: 100px;" id="end_date" name="end_date" value="{.end_date}"/>
            <input type="submit" name="search" value="搜尋" />
        </form>
		<table class="datalist fixwidth">
			<tr>
				<?php $sortcols = array( 'id'=>'ID','name'=>'名稱','create_time'=>'發佈時間','is_recommend'=>'是否精選?','is_recommend_new'=>'是否精選(新)?','is_audit'=>'審核' ); ?>
				<?php foreach( $sortcols AS $key=>$val ): ?>
					<th>
						<?php echo $val; ?><a href="__URL__/listAll/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/listAll/sort/{$key}/sortorder/desc">&#8593;</a>
					</th>
				<?php endforeach; ?>
                	<th>修改</th>
			</tr>
			<iterate name="list" id="vo">
				<tr title="{$vo.summary}" class="mousetr">
					<td width="5%">{$vo.id}</td>
					<td width="40%" title="{$vo.name}">{$vo.name}</td>
					<td width="15%" class="date">{$vo.create_time|date='Y-m-d H:i',###}</td>
					<td width="12%">
						<if condition="$vo.is_recommend eq 0">
                        	<a href="javaScript:void(0);" id="__URL__/doRecommend/id/{$vo.id}/is_recommend/{$vo.is_recommend}" class="doRecommend">(否) 成為精選</a>
                        </if>
						<if condition="$vo.is_recommend gt 0">
                        	<a href="javaScript:void(0);" id="__URL__/doRecommend/id/{$vo.id}/is_recommend/{$vo.is_recommend}" class="doRecommend">(是) 取消精選</a>
                            <br />優先度:
                            <select name="is_recommend" onchange="doRecommend_priority({$vo.id},this.value)">
                                <option <?php if($vo['is_recommend']==1) { ?> selected <?php } ?> value="1">1</option>
                                <option <?php if($vo['is_recommend']==2) { ?> selected <?php } ?> value="2">2</option>
                                <option <?php if($vo['is_recommend']==3) { ?> selected <?php } ?> value="3">3</option>
                                <option <?php if($vo['is_recommend']==4) { ?> selected <?php } ?> value="4">4</option>
                                <option <?php if($vo['is_recommend']==5) { ?> selected <?php } ?> value="5">5</option>
                            </select>
                        </if>
					</td>
                    <td width="12%">
						<if condition="$vo.is_recommend_new eq 0">
                        	<a href="javaScript:void(0);" id="__URL__/doRecommend_new/id/{$vo.id}/is_recommend_new/{$vo.is_recommend_new}" class="doRecommend">(否) 成為精選(新)</a>
                        </if>
						<if condition="$vo.is_recommend_new gt 0">
                        	<a href="javaScript:void(0);" id="__URL__/doRecommend_new/id/{$vo.id}/is_recommend_new/{$vo.is_recommend_new}" class="doRecommend">(是) 取消精選(新)</a>
                     		<br />優先度:
                            <select name="is_recommend_new" onchange="doRecommend_priority_new({$vo.id},this.value)">
                                <option <?php if($vo['is_recommend_new']==1) { ?> selected <?php } ?> value="1">1</option>
                                <option <?php if($vo['is_recommend_new']==2) { ?> selected <?php } ?> value="2">2</option>
                                <option <?php if($vo['is_recommend_new']==3) { ?> selected <?php } ?> value="3">3</option>
                                <option <?php if($vo['is_recommend_new']==4) { ?> selected <?php } ?> value="4">4</option>
                            </select>
                        </if>
					</td>
                    <td width="10%">
						<if condition="$vo.is_audit eq 0">
                        	<a href="javaScript:void(0);" id="__URL__/doAudit/id/{$vo.id}/is_audit/{$vo.is_audit}" style="color:red" class="doAudit">未審核</a>
						<else/>
                        	<a href="javaScript:void(0);" id="__URL__/doAudit/id/{$vo.id}/is_audit/{$vo.is_audit}" style="color:green" class="doAudit">已審核</a>
						</if>
					</td>
                    <td width="6%">
						<a href="__URL__/eventEdit/id/{$vo.id}" class="green">修改</a>
					</td>
				</tr>
			</iterate>
			<tr class="nobg">
				<td class="tdpage" colspan="6">{$multipage}</td>
			</tr>
		</table>
	</div>
</div>
<include file="Public:sa-footer" />
