
<script type="text/javascript">

$("#upForm").validate({
	rules: {
		upfile:'required',
		description: 'required'
	},
	messages: {
		upfile: '請選擇上載的照片',
		description: "請輸入圖片介紹"
	},
	submitHandler: function(form) {
		var temp = '<img class="loading" src="__PUBLIC__/images/loading.gif" />';
		$('#photoAt{.eleid}').append(temp);
		$('#peditAt{.eleid}').text('uploading...')
		tb_remove();

		form.submit();
	}
});

</script>

<div id='main'> 
	<h2>上傳圖片</h2>
	<form method="POST" id="upForm" name="upForm" action="__URL__/uploadResult" enctype="multipart/form-data" target="iframeAt{.eleid}">
		<input type="hidden" name="eleid" value="{.eleid}" />
		<input type="hidden" name="picstamp" value="{.picstamp}" />
		<input type="hidden" name="eventid" value="{.eventid}" /><!--from為event時無效(此時eventid未知)，from為review時才有效-->
		<input type="hidden" name="from" value="{.from}" /><!--上傳到那個表-->
		<table>
		<tr>
			<td>圖片文件</td>
			<td>
				<input type="file" name="upfile" id="upfile" />
      	<br />
      	(僅允許上傳{&UPFILE_ALLOW_IMGEXT}類型文件)
			</td>
		</tr>
		<tr>
			<td>圖片說明</td>
			<td><input type="text" name="description" id="description" maxlength="30" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="btnSubmit" id="btnSubmit" /></td>
		</tr>
		</table>
	</form>
</div>	
