<script type="text/javascript">
$().ready(function(){
	set_selected();
	$('#selall').bind('click',function(){
		var checked_status = $('#selallchk').val();
		if(checked_status=='true'){
			$('.selrow').removeClass('selected');
			$('.selrow').removeClass('selerror');			
			$('#selallchk').val('false');
			$(".selshop").attr('ref','false');			
			setnum('0');
			$(this).val('全選');
		}else{
			$('.selrow').addClass('selected');			
			$('#selallchk').val('true');
			$(".selshop").attr('ref','true');			
			setnum('<?php echo $shop_count?>');
			$(this).val('取消全選');				
		}
	});
	$('.selrow').bind('click',function(){
		var ref = $(this).attr('ref');
		if($('#selshop'+ref).attr('ref')=='true'){
			$('#selshop'+ref).attr('ref','false');
			$(this).removeClass('selected');
			$(this).removeClass('selerror');			
			chgnum('false');
		}else{
			$('#selshop'+ref).attr('ref','true');
			$(this).addClass('selected');
			chgnum('true');
		}
	});
	$('#confirm').bind('click',function(){
		$('#errbox').html('');
		var ids= new Array();
		var item_id = '<?php echo $target?>';
		var i =0;
		$(".selshop").each(function(){
			if($(this).attr('ref')=='true'){
				ids[i] = $(this).val();
				i++;
			}
		});
		$.get('__APP__?m=base&a=assign_shop&type='+$('#type').val()+'&ids='+ids.join(',')+'&item_id='+item_id,function(response){
			var json = $.parseJSON(response);
			if(json.status==0){
				set_shop('<?php echo $target?>');
				parent.$.fancybox.close()
			}else{
				$('#errbox').html('紅色標記為超出可指派限額之分店');
				set_error(json.err_ids);
			}
		});
	});
	$('#cancel').bind('click',function(){
		parent.$.fancybox.close()		
	});
	function chgnum(is_plus){
		var num = parseInt($('#selnum').html());	
		if(is_plus == 'true'){
			num++;
		}else{
			num--;			
		}
		$('#selnum').html(num);
	}
	function setnum(num){
		$('#selnum').html(num);
	}
	function set_error(errids){
		var j=0;
		for(i=0;i<errids.length;i++){
			if(errids[i]){
				if($('#selshop'+errids[i])){
					$('#selshop'+errids[i]).parent().parent('.selrow').addClass('selerror');
				}
			};
		}
	}
	function set_selected(){
		var ids = <?php echo json_encode($ids)?>;
		var errids = <?php echo json_encode($errids)?>;
		var j=0;
		for(i=0;i<ids.length;i++){
			if(ids[i]){
				$('#selshop'+ids[i]).attr('ref','true');	
				$('#selshop'+ids[i]).parent().parent('.selrow').addClass('selected');	
				chgnum('true');
				j++;
			};
		}
		for(i=0;i<errids.length;i++){
			if(errids[i]){
				$('#selshop'+errids[i]).parent().parent('.selrow').addClass('selerror');
			};
		}
		if(j==<?php echo $shop_count==''?0:$shop_count;?>){
			$('#selallchk').val('true');
			setnum('<?php echo $shop_count?>');
			$('#selall').val('取消全選');	
		}
	}
});
</script>
<div style="margin-bottom:10px;height:20px;">
	<div style="float:left"><input id="selallchk" type="hidden" value="false"/>
你已選擇 <span id="selnum">0</span> 間分店</div>
	<div style="float:right;">
    	<input type="button" id="selall" class="btn02_long" value="全選"/>
    	<input type="button" id="confirm" class="btn02" value="確定"/>
    	<input type="button" id="cancel" class="btn02" value="取消"/>                
	</div>
</div>
<div style="float:left; text-align:center; width:100%;"><span id="errbox" style="color:#F00"></span></div>
<div style="clear:both"></div>
<div>
<form method="POST" id="selShopForm" name="selShopForm" >
<table class="ot_t_listing_table" cellpadding="0" cellspacing="0">
    <tr>
        <th class="title" style="width:10%">ID</th>
        <th class="title" style="width:40%">分店名稱</th>
        <th class="title" style="width:50%">分店地址</th>
    </tr>
    <iterate name="shopList" id="vo">
        <tr class="selrow" ref="{$vo.id}">
            <td style="text-align:center">{$vo.id}</td>
            <td style="text-align:left">{$vo.shop_name} ({$vo.sub_location_name}分店)</td>
            <td style="text-align:left">{$vo.address}<input type="hidden" name="selshop" class="selshop" id="selshop{$vo.id}" value="{$vo.id}" ref="false"/></td>
        </tr>
    </iterate>  
</table>
</form>
</div>