<load href="__PUBLIC__/js/xheditor/xheditor_plugins/ubb.js" /> 
<load href="__PUBLIC__/js/xheditor/xheditor-zh-tw.js" />
<load href="__PUBLIC__/js/jquery.form.js" />

<?php
//type: shop,event,promotion
$type = strtoupper($type);
$item_id = $_REQUEST['id'];
switch($type){
    //pictype:	0- shop,1- shop request,2- shop review,3- event,4- promotion
    case 'SHOP':
        $picType=2;
    break;
    case 'EVENT':
        $picType=3;
    break;		
    case 'PROMOTION':
        $picType=4;
    break;
}

$action = '__ROOT__/Reviewform/addReview';
?>
<script type="text/javascript">
$().ready(function(){
	review_validate = $("#reviewForm").validate({
		rules: {
			description:{
				required: true,
				minlength: 40
			},
			title:{
				required: true,
				maxlength: 255
			}
		},
		messages: {
			description:{
				required: "請輸入評介內容",
				minlength: "請輸入不少於40字符的評介內容"
			},
			title:{
				required: "請輸入標題內容",
				maxlength: "請輸入不多於255字符的評介標題"
			}
		}
	});
	
	$('.logElement').bind('change',function(){
		var ajaxuri = '__ROOT__/ajax/user_login';
			var login_email = $('#login_email').val();
			var login_password = $('#login_password').val();
			if(login_email!=''&& login_password!=''){
				$.post(ajaxuri, { email: login_email, password: login_password } , function(json){
					if(json.info==1){
						$('#errorMsg').text('登入無效，請檢查登入電郵及密碼');
						var target_offset = $('#login_email').offset();
						var target_top = target_offset.top;
						$('html, body').animate({scrollTop:target_top}, 'slow');
						return false;
					}else if(json.info==2){
						$('#errorMsg').text('暫未提供店主評介');
						var target_offset = $('#errorMsg').offset();
						var target_top = target_offset.top;
						$('html, body').animate({scrollTop:target_top}, 'slow');
						return false;
					}else{
						$('#errorMsg').text('');
						$("#login_email").hide();
						$("#login_password").hide();
						$("#login_password_text").text($("#login_email").val()+' 已登入!');	
						$("#login_email_text").show();
						$("#login_password_text").show();
						$("#tabs-link02").hide();
						$('#login_email_area').hide();
						$('#password_area').hide();
					}
				},'json');	
			}
	})

	desc_edit = $('#description').xheditor(true,{
			tools:'GStart,Bold,Italic,Underline,Removeformat,Emot,GEnd',
			width: '620',
			height:'150',
			blur:function(){
				$('#description').val(desc_edit.getSource());
			}}
	);
	$('.ot_d_review_sel_role').bind('click',function(){
		var ref = $(this).attr('ref');
		var id = $(this).attr('id');
		if(ref==1){
			$('#tabs-link01').removeClass('current');
			$('#tabs-link02').addClass('current');
			$('#login_area').hide();
			$('#register_area').show();
			$('#email').focus();
			$('#reglog').val(1);
			$("#email").rules("add", {
			 	required: true,
			 	email: true,
				remote: "__ROOT__/Ajax/existEmail/",
				messages: {
					required: "請輸入電子郵箱",
				   	email: "請輸入一個正確的email地址",
				   	remote: "該電子郵箱已被使用"
				}
			});
			$("#nick_name").rules("add", {
			 	required: true,
				remote: '__ROOT__/Ajax/existNickName/',
			 	messages: {
			  		required: "請填寫暱稱",
					remote: "該暱稱已被使用或無效"
			 	}
			});
			$("#login_email").rules('remove');
			$("#login_password").rules('remove');	
		}else{
			$('#tabs-link01').addClass('current');
			$('#tabs-link02').removeClass('current');
			$('#login_area').show();
			$('#register_area').hide();
			$('#login_email').focus();
			$('#reglog').val(0);
			$("#login_email").rules("add", {
			 	required: true,
			 	email: true,
			 	messages: {
			   	required: "請輸入電子郵箱",
			   		email: "請輸入一個正確的email地址"
			 	}
			});
			$("#login_password").rules("add", {
			 	required: true,
				minlength: 5,
			 	messages: {
			   		required: "請輸入一個密碼",
			   		minlength: "密碼必須大於5個字符"
			 	}
			});
			$("#email").rules('remove');
			$("#nick_name").rules('remove');
		}
	});
	$('#review_role_1').trigger('click');
});
</script>

<style type="text/css"> 
	form label.error { display: none; color: red; }	
</style>
<form id="reviewForm" name="reviewForm" class="reviewForm" method="POST" action="{$action}">
	<input type="hidden" name="item_id" value="{$item_id}" />
	<input type="hidden" name="picstamp" value="{$picstamp}" />	
	<input type="hidden" name="formType" value="{$type}"/>

    <if condition="!$authInfo">
    	<input type="hidden" name="reglog" id="reglog" value="0" />
        <div class="ot_d_eW">
            <div id="ot_d_review_sel_role_col">
                <ul>
                    <li><div class="ot_d_review_sel_role" id="review_role_1" ref="0"><a class="tabs-link current" href="#" id="tabs-link01">現有會員</a></div></li>
                    <li><div class="ot_d_review_sel_role" id="review_role_2" ref="1"><a class="tabs-link" href="#" id="tabs-link02">新會員</a></div></li>
                </ul>
            </div>
            <div class="ot_d_review_logreg_area" id="login_area" >
            	<label name="login_password_text" id="login_password_text" class="od_d_review_logreg_text">werwer</label>
                <div id="login_email_area" class="topform-row">
                    <div>
                    <label class="label"><span>電子郵箱:</span></label>
                    <input type="text" name="login_email" class="text-input logElement" id="login_email"/>
                    </div>
                    <div class="clearBoth"></div>
                </div>
                <div id="password_area" class="topform-row">
                    <label class="label"><span>密碼:</span></label>
                    <input type="password" name="login_password" class="text-input logElement" id="login_password"/>
                    <div class="clearBoth"></div>
                </div>
                <div id="errorMsg" style="color:red"></div>
             </div>
             <div class="ot_d_review_logreg_area" id="register_area" >
                <div class="topform-row">
                    <label class="label"><span>電子郵箱:</span></label>
                    <input type="text" name="email" class="text-input" id="email" />
                    <div class="clearBoth"></div>
                </div>
                <div class="topform-row">
                    <label class="label"><span>暱稱:</span></label>
                    <input type="text" name="nick_name" class="text-input" id="nick_name" />
                    <div class="clearBoth"></div>
                </div>
            </div>
        </div>
	</if>
    <div class="clearBoth"></div>
    <table border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #91c5e2;width:100%">
        <tr>
            <td style="background-color:#cfedfe;padding:7px" id="header2"><b>發表評介</b></td>
        </tr>
        <tr>
            <td style="background-color:#FFFFFF;padding:7px;vertical-align: text-top; border-bottom:1px #ddf2fe solid">
                <table width="0%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="width:130px;"><b>標題</b></td>
                        <td><input type="text" id="title" name="title" style="width: 480px;"/></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background-color:#FFFFFF;padding:7px 7px 2px 7px;vertical-align: text-top; ">
                <table width="0%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="2"><b>內容</b> (為提供更優質的內容及服務，請輸入不少於40個字符)</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background-color:#FFFFFF;padding:2px 7px 7px 7px;border-bottom:1px #ddf2fe solid">
                <table width="0%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <!--td style="width:130px;"><b>評介內容</b></td-->
                        <td colspan="2">
                            <textarea id="description" name="description"></textarea>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background-color:#FFFFFF;padding:7px;border-bottom:1px #ddf2fe solid">
                <table width="0%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="padding:0px 90px 0px 0px;width:40px"><b>相片</b></td>
                        <td><?php print generateUploadPicModule($picType,$picstamp); ?></td>	
                    </tr>
                </table>
            </td>
        </tr>
        <?php if($type=='SHOP'){ ?>
            <tr>
                <td style="background-color:#FFFFFF;padding:7px;border-bottom:1px #ddf2fe solid">
                    <table width="0%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="width:130px;"><b>綜合評價</b></td>
                            <td>
                                <input type="radio" id="rate_level_1" name="rate_1" value="1" class="star" />
                                <input type="radio" id="rate_level_2" name="rate_1" value="2" class="star" />
                                <input type="radio" id="rate_level_3" name="rate_1" value="3" class="star"  checked="true" />
                                <input type="radio" id="rate_level_4" name="rate_1" value="4" class="star" />
                                <input type="radio" id="rate_level_5" name="rate_1" value="5" class="star" />
                                <label for="rate_1" class="error">請選擇一個評分</label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background-color:#FFFFFF;padding:7px;border-bottom:1px #ddf2fe solid">
                    <table width="0%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="width:130px;"><b>其他評價</b></td>
                            <td>
            					<?php $columns = array('2'=>'服務','3'=>'環境', '4'=>'方便', '5'=>'價格', '6'=>'產品質素', '7'=>'產品種類'); ?>
                                <table style="width:480px;">
									<tr>
										<td width="22%"></td>
										<td width="13%" style="padding: 5px;" align="center"><u><b>N/A</b></u></td>
										<td width="13%" style="padding: 5px;" align="center"><u><b>1 (最低)</b></u></td>
										<td width="13%" style="padding: 5px;" align="center"><u><b>2</b></u></td>
										<td width="13%" style="padding: 5px;" align="center"><u><b>3</b></u></td>
										<td width="13%" style="padding: 5px;" align="center"><u><b>4</b></u></td>
										<td width="13%" style="padding: 5px;" align="center"><u><b>5 (最高)</b></u></td>
									</tr>
									<?php foreach( $columns AS $key=>$val ){ ?>
									<tr>
										<td width="22%" style="padding: 5px;" valign="middle">{$val}</td>
										<td width="13%" style="padding: 5px;" align="center" valign="middle"><input type="radio" name="rate_{$key}" value="N/A" checked/></td>
										<td width="13%" style="padding: 5px;" align="center" valign="middle"><input type="radio" name="rate_{$key}" value="1"/></td>
										<td width="13%" style="padding: 5px;" align="center" valign="middle"><input type="radio" name="rate_{$key}" value="2"/></td>
										<td width="13%" style="padding: 5px;" align="center" valign="middle"><input type="radio" name="rate_{$key}" value="3"/></td>
										<td width="13%" style="padding: 5px;" align="center" valign="middle"><input type="radio" name="rate_{$key}" value="4"/></td>
										<td width="13%" style="padding: 5px;" align="center" valign="middle"><input type="radio" name="rate_{$key}" value="5"/></td>
									</tr>
									<?php } ?>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        <?php } ?>
        <tr>
            <td style="background-color:#FFFFFF;padding:7px">
                <div style="padding: 1px 0px 1px 130px;">
                    <input type="submit" name="submit" id="submit_review_button" value="" class="send2"/>
                    <input type="reset" name="btnSubmit" id="btnSubmit" value="" class="reset"/>
                    <input type="button" id="review_preview_button" value="" class="preview"/>
                </div>
            </td>
        </tr>
	</table>
</form>