<script type="text/javascript">
$('#review_preview_button').live( 'click', function() {

if (review_validate.form())
{

	$('#reviewForm').hide();

	var rate1 = $('#reviewForm [name=rate_1]:checked').val();
	var html = '';
	for (var i=1; i<=5; i++)
	{
		html += '<input type="radio" name="rate1_preview" value="'+i+'" '+(rate1 == i ? 'checked' : '')+' disabled/>';
	}
	$('#rate1_preview_box').html( html );
	$('#rate1_preview_box [name=rate1_preview]').rating();

	$('#rate2_preview_box').text($('#reviewForm [name=rate_2]:checked').val()+($('#reviewForm [name=rate_2]:checked').val() != 'N/A' ? '/5' : ''));
	$('#rate3_preview_box').text($('#reviewForm [name=rate_3]:checked').val()+($('#reviewForm [name=rate_3]:checked').val() != 'N/A' ? '/5' : ''));
	$('#rate4_preview_box').text($('#reviewForm [name=rate_4]:checked').val()+($('#reviewForm [name=rate_4]:checked').val() != 'N/A' ? '/5' : ''));
	$('#rate5_preview_box').text($('#reviewForm [name=rate_5]:checked').val()+($('#reviewForm [name=rate_5]:checked').val() != 'N/A' ? '/5' : ''));
	$('#rate6_preview_box').text($('#reviewForm [name=rate_6]:checked').val()+($('#reviewForm [name=rate_6]:checked').val() != 'N/A' ? '/5' : ''));
	$('#rate7_preview_box').text($('#reviewForm [name=rate_7]:checked').val()+($('#reviewForm [name=rate_7]:checked').val() != 'N/A' ? '/5' : ''));

	$('#title_preview_box').text($('#reviewForm [name=title]').val());
	$('#description_preview_box').html(ubb2html($('#reviewForm [name=description]').val()));

	var uplinks = [];
	var updescs = [];

	var i = 0;
	$('a[rel=upfiles]').each( function() {
		uplinks[i] = $( this ).attr('href'); i++;
	} );
	var i = 0;
	$('span[rel=upfiles]').each( function() {
		updescs[i] = $( this ).text(); i++;
	} );

	var html = '';
	for (var i=0; i<uplinks.length; i++)
	{
		if((i % 2) == 0) {
			html += '<div class="ot_review_pictures_pos">';
			html += '<div class="ot_review_pictures_pos_frame ot_review_pictures_marginright ot_review_pictures_marginbottom">';
			html += '    <div class="ot_review_pictures_info">';
			html += '       <img src="'+uplinks[i]+'" onload="javascript:DrawImage(this,240,1000)"/>';
			html += '    </div>';
			html += '    <div class="clear"></div>';
			html += '    <div title="'+updescs[i]+'" class="ot_review_pictures_desc">'+updescs[i]+'</div>';
			html += '</div>';
		} else {
			html += '<div class="ot_review_pictures_pos_frame ot_review_pictures_marginbottom">';
			html += '    <div class="ot_review_pictures_info">';
			html += '        <img src="'+uplinks[i]+'" onload="javascript:DrawImage(this,240,1000)" />';
			html += '    </div>';
			html += '<div class="clear"></div>';
			html += '    <div title="'+updescs[i]+'" class="ot_review_pictures_desc">'+updescs[i]+'</div>';
			html += '</div>';
			html += '</div>';
		}
	}

	if((i % 2) == 1) {
		html += '<div class="ot_review_pictures_pos_frame ot_review_pictures_marginbottom">';
		html += '<div class="ot_review_pictures_info">&nbsp;</div>';
		html += '<div class="clear"></div>';
		html += '<div class="ot_review_pictures_desc">&nbsp;</div>';
		html += '</div>';
		html += '</div>';
	}
	$('#pictures_preview_box').html( html );

	$('#preview_box').show();

}

} );

$( '#cancel_preview_button' ).live( 'click', function() {
	
	$('#preview_box').hide();
	$('#reviewForm').show();

} );

$( '#submit_preview_button' ).live( 'click', function() {
	
	$('#submit_review_button').click();

} );
</script>

<div id="preview_box" class="ot_d_review" style="display: none;">
    <div class="clearBoth"></div>
        <div id="ot_d_merchant_comments_box" class="left-box">
            <div class="ot_d_content">
                <ul>
                    <li>
                    <div>
                        <div class="ot_d_left">
                            <div class="ot_d_profile_image"><img src="{$authInfo|getFace}" width="88" height="88" /></div>
                            <a href="__ROOT__/user/view/id/{$authInfo.id}.html" class="ot_d_profile_name">{$authInfo.nick_name}</a>
                        </div>
                        <div class="ot_d_right">
                            <div>
                                <div class="ot_d_shopreview_info">
                                    <div>
                                        <span class="ot_d_comment_title" id="title_preview_box"></span><?php echo date(chDate(3))?>(<?php echo week2ch(date('w'))?>)
                                    </div>
                                    <?php if ($type == 'shop'): ?>
                                    <div class="ot_d_reviewstar">
                                        <div id="rate1_preview_box" class="rating_5">
                                        </div>
                                    </div>
                                    <?php endif; ?>                                            
                                </div>
                            </div>
                        	<div id="pictures_preview_box" class="ot_review_pictures"></div>
                         	<div class="clear"></div>
                         	<div class="ot_d_comment" id="description_preview_box"></div>
                            <?php if ($type == 'shop'): ?>                                 
                            	<div class="ot_d_review6icons">
                                    <div class="ot_d_review6icons_short">
                                        <div class="ot_d_review6icons_shorttxt">服務</div><div class="ot_d_review6icons_shortnum" id="rate2_preview_box"></div>
                                    </div>
                                    <div class="ot_d_review6icons_short">
                                        <div class="ot_d_review6icons_shorttxt">環境</div><div class="ot_d_review6icons_shortnum" id="rate3_preview_box"></div>
                                    </div>
                                    <div class="ot_d_review6icons_short">
                                        <div class="ot_d_review6icons_shorttxt">方便</div><div class="ot_d_review6icons_shortnum" id="rate4_preview_box"></div>
                                    </div>
                                    <div class="ot_d_review6icons_short">
                                        <div class="ot_d_review6icons_shorttxt">價格</div><div class="ot_d_review6icons_shortnum" id="rate5_preview_box"></div>
                                    </div>
                                    <div class="ot_d_review6icons_long">
                                        <div class="ot_d_review6icons_longtxt">產品質素</div><div class="ot_d_review6icons_longnum" id="rate6_preview_box"></div>
                                    </div>
                                    <div class="ot_d_review6icons_long">
                                        <div class="ot_d_review6icons_longtxt">產品種類</div><div class="ot_d_review6icons_longnum" id="rate7_preview_box"></div>
                                    </div>
                                 </div>
                         	<?php endif?>
                            <input type="button" id="cancel_preview_button" value="cancel_preview_button" class="back"/>
                            <input type="button" id="submit_preview_button" value="submit_preview_button" class="send2"/>
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                    </li>
                </ul>
            </div>
            <div class="footer"></div>
        </div>
    <div class="clear"></div>
</div>
