<load href="__PUBLIC__/js/json_parse.js" /> 

<div id="ot_d_whatsnews_box" class="right-box">
	<div class="ot_d_header">
		<h3>OutStreet最新動態</h3>
	</div>
	<div class="ot_d_content">
		<?php $week = array( '日', '一', '二', '三', '四', '五', '六' ); ?>
		<?php $x=0; foreach ( $news AS $val ): echo $x ? '<div class="ot_d_line"></div>' : ''; ?>
    	<div id="ot_d_whatsnews_box" class="ot_d_word">
		<table style="width: 100%;">
		<tr><td class="ot_t_tablespace" onmouseover="this.className='ot_t_wordbg'" >
			<?php $date = getdate( $val[ 'create_time' ] ); ?>
			<?php echo date( 'd/m', $val[ 'create_time' ] ) ?>(<?php echo $week[ $date[ 'wday' ] ] ?>)&nbsp;
			<?php echo $val['description'] ?>
			<?php if ( $val[ 'url' ] ): ?><a href=<?php echo $val['url'] ?> class="ot_o_url">(詳情)<?php endif; ?>
		</a>
		</td></tr></table>
        </div>
		<?php $x=1; endforeach; ?>
	</div>
	<div class="ot_d_footer"></div>
</div>
