<?php $likeBoxWidth = 1; $likeBoxWidth = 300; ?>
<?php $likeBoxHeight = 1; $likeBoxHeight = 185; ?>
<?php $likeBoxFanNum = 5; ?>
<div id="ot_d_facebookfans_box">
	<div class="ot_d_header"></div>
    <iframe src="http://www.facebook.com/plugins/likebox.php?locale=zh_HK&amp;id=109079425794298&amp;width=<?php echo $likeBoxWidth ?>&amp;connections=<?php echo $likeBoxFanNum ?>&amp;stream=false&amp;header=false&amp;height=<?php echo $likeBoxHeight ?>" scrolling="no" frameborder="0" style="width:<?php echo $likeBoxWidth ?>px; height:<?php echo $likeBoxHeight ?>px;" class="ot_d_facebookfans_area"></iframe>
</div>

<?php $activityBoxWidth = 1; $activityBoxWidth = 300; ?>
<?php $activityBoxHeight = 1; $activityBoxHeight = 230; ?>
<div id="ot_d_facebookactivity_box">
	<div class="ot_d_header"></div>
	<iframe src="http://www.facebook.com/plugins/activity.php?locale=zh_HK&amp;site=outstreet.com.hk&amp;width=<?php echo $activityBoxWidth ?>&amp;height=<?php echo $activityBoxHeight ?>&amp;header=false&amp;colorscheme=light&amp;recommendations=true" scrolling="no" frameborder="0" style="width:<?php echo $activityBoxWidth ?>px; height:<?php echo $activityBoxHeight ?>px;" class="ot_d_facebookactivity_area"></iframe>
</div>