<div class="ot_d_right_box">
    <a href="http://itunes.apple.com/app/id432490282" target="_blank"><img src="__ROOT__/Public/images/index/download.jpg" width="300" height="67"></a>
</div>
<div class="ot_d_right_box">
    <a href="__ROOT__/aboutus"><img src="__ROOT__/Public/images/index/owner_banner.gif" width="300" height="70"></a>
</div>
<!--<div class="ot_d_right_box">
    <a href="__ROOT__/banner/click/code/modernchinarestaurant/url/<?php echo urlencode(base64_encode('http://www.modernchinarestaurant.com/')) ?>" target="_blank">
		<img src="__ROOT__/Public/images/index/mc_banner.gif" width="300" height="120">
	</a>
	<img src="__ROOT__/banner/impression/code/modernchinarestaurant" width="1" height="1">
</div>-->
