<script type="text/javascript">
	$().ready(function(){
		$('.ot_d_member_sendbtn').hover( function() { $(this).addClass('hover'); }, function() { $(this).removeClass('hover'); } );
	});
</script>
<div id="ot_d_member_login">
	<form name="form_login" id="loginForm" action="__ROOT__/user/login" method="post">
    	<div class="ot_d_title">會員登入</div>
        <div class="ot_d_login_content">已經成為會員？請立即登入</div>
        <div class="ot_d_login_box">
            <div class="ot_d_login_title">電子郵箱：</div>
            <div><input type="text" name="email" id="email" value="{$email}" class="ot_d_login_formbox"/></div>
            <div class="ot_d_login_title">密碼：</div>
            <div><input type="password" name="password" id="password" maxlength="20" value="" class="ot_d_login_formbox"/></div>
        </div>
        <div class="ot_d_login_content">
            <input type="submit" name="submit" id="submit" class="ot_d_member_sendbtn" value="登入"/>
        	<a href="__URL__/forgetPsd" class="ot_d_forgetpwdurl">忘記密碼？</a>
    	</div>
	</form>
    <div class="ot_d_clearBoth"></div>
</div>
