<if condition="empty($authInfo)">
<div id="login-box" class="right-box">
	<div class="header">
		<h3>用戶登入</h3>
		<a href="__ROOT__/user/register" class="plus"><span class="register">登記</span></a>
	</div>
	<div class="content">
		<form name="form_login" id="form_login" action="__ROOT__/user/login" method="post">
			<div class="form-row">
				<label class="label"><span>電子郵箱:</span></label>
				<input type="text" name="email" class="text-input" />
				<div class="clearBoth"></div>
			</div>
			<div class="form-row">
				<label class="label"><span>密碼:</span></label>
				<input type="password" name="password" class="text-input" />
				<input type="submit" class="login-button" name="submit" value="登入" />
				<div class="clearBoth"></div>
			</div>
			<div class="form-row">
				<label>&nbsp;</label>
				<a href="__ROOT__/User/forgetPsd">忘記密碼</a>
				<div class="clearBoth"></div>
			</div>
		</form>
	</div>
	<div class="footer"></div>
</div>
</if>
