	<div id="newest-reviews3-box" class="right-box">
		<div class="header">
			<h3>最新評介</h3>
			<a href="__ROOT__/review" class="more">更多</a>
		</div>
		<div class="content">
			<ul>
				<iterate name="reviewList" id="vo">
				<li>
					<a class="title" href="__ROOT__/review/view/id/{$vo.id}">{$vo.title}</a><br />
					<a href="__ROOT__/user/view/id/{$vo.user_id}">{$vo.user.nick_name}</a>  |  {$vo.create_time|date='H:i d-m-y',###}
				</li>
				</iterate>
			</ul>
		</div>
		<div class="footer"></div>
	</div>