<?php
if($type =='shop'){
	$itemInfo = $shopInfo;
}elseif($type =='event'){
	$itemInfo = $eventInfo;	
}elseif($type =='promotion'){
	$itemInfo = $promotionInfo;
}
?>


	<div class="ot_d_review">
        	<div class="clearBoth"></div>
            <?php if($type !='user'):?>
            <h2 class="ot_d_merchant_comment_header">OutStreet 用戶評介 (共{$itemInfo.reviews|count}篇)</h2>
            <if condition="!empty($_REQUEST['reviewid'])">
            	<div class="ot_d_merchant_comments_ctrl">&nbsp;
                    <div class="ot_d_merchant_comments_ctrl_return"><a href="__URL__/view/id/{$_REQUEST['id']}">返回所有評介</a></div>
                    <div class="ot_d_merchant_comments_ctrl_switch">
                        <if condition="!empty($lastReviewId) OR !empty($nextReviewId)"><</if> 
                        <if condition="!empty($lastReviewId)"><a href="__URL__/view/id/{$_REQUEST['id']}/reviewid/{$lastReviewId}">上一篇評介</a></if>
                        <if condition="!empty($lastReviewId) AND !empty($nextReviewId)">    |    </if>
                        <if condition="!empty($nextReviewId)"><a href="__URL__/view/id/{$_REQUEST['id']}/reviewid/{$nextReviewId}">下一篇評介</a></if>
                        <if condition="!empty($lastReviewId) OR !empty($nextReviewId)">></if>
                     </div>
                </div>
            </if>
            <?php endif?>            
            <if condition="!empty($itemInfo['reviews'])">
            	<div id="ot_d_merchant_comments_box" class="left-box">
                	<div class="ot_d_content">
                        <ul>
                            <iterate name="itemInfo.reviews" id="item" key="k">
                            <li><div>
                                <div class="ot_d_left">
                                    <div class="ot_d_profile_image"><img src="{$item['user']|getFace}" width="88" height="88" /></div>
                                    <a href="__ROOT__/user/view/id/{$item.user.id}.html" class="ot_d_profile_name">{$item.user.nick_name}</a>
                                    <if condition="$authInfo['user_type'] eq 0">
                                        <if condition="$item['user']['id'] neq $authInfo['id']">
                                            <a href="{$item.user.id}" class="userFavoriteLink ot_o_add_favourite">儲存為心水評家</a>
                                        </if>
                                    </if>
                              	</div>
                                <div class="ot_d_right">
                                	<div>
                                    	<div class="ot_d_shopreview_info">
                                        	<div>
                                                <span class="ot_d_comment_title">{$item.title}</span>{$item.create_time|date=chDate(3),###}({$item.create_time|date='w',###|week2ch})
                                            </div>
                                            <?php if($type =='shop'):?>
                                            <div class="ot_d_reviewstar">
												<div class="rating_5">
													<input type="radio" id="total_rate_level_{$item.id}_1" name="rate_level_{$item.id}" disabled="disabled" value="1" class="star" />
													<input type="radio" id="total_rate_level_{$item.id}_2" name="rate_level_{$item.id}" disabled="disabled" value="2" class="star" />
													<input type="radio" id="total_rate_level_{$item.id}_3" name="rate_level_{$item.id}" disabled="disabled" value="3" class="star" />
													<input type="radio" id="total_rate_level_{$item.id}_4" name="rate_level_{$item.id}" disabled="disabled" value="4" class="star" />
													<input type="radio" id="total_rate_level_{$item.id}_5" name="rate_level_{$item.id}" disabled="disabled" value="5" class="star" />
													<script type="text/javascript">
														$('#total_rate_level_{$item.id}_{$item.rate.rate_1}').attr('checked', true);
													</script>
												</div>
                                            </div>
		                                    <?php endif;?>                                            
                                        </div>
                                    </div>
                                <div class="ot_review_pictures">
                                	<?php $picCount = 0; ?>
                                	<iterate name="item.pictures" id="pitem">
                                    	<?php if(($picCount % 2) == 0) { ?>
                                        	<div class="ot_review_pictures_pos">
                                                <div class="ot_review_pictures_pos_frame ot_review_pictures_marginright ot_review_pictures_marginbottom">
                                                    <?php
                                                    	if($type=='shop'){
                                                    		$path = C('OUTSTREET_DIR').C('REVIEW_UPFILE_PATH');
	                                                    }elseif($type=='event'){
                                                    		$path = C('OUTSTREET_DIR').C('EVENT_REVIEW_UPFILE_PATH');
                                                        }elseif($type=='promotion'){
                                                    		$path = C('OUTSTREET_DIR').C('PROMOTION_REVIEW_UPFILE_PATH');
                                                        }
                                                    ?>
                                                    <div class="ot_review_pictures_info">
                                                    <a href="{$path}{$pitem.file_path}" class="thickbox image" rel="group_{$item.id}"><img src='{$path}thumb_{$pitem.file_path}' alt="{$pitem.id}" onload="javascript:DrawImage(this,240,1000)"/></a>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div title="{$pitem.description}" class="ot_review_pictures_desc">{$pitem.description|formatInfoUTF8=20}</div>
                                                </div>
                                    	<?php } else { ?>
                                                <div class="ot_review_pictures_pos_frame ot_review_pictures_marginbottom">
                                                    <div class="ot_review_pictures_info">
                                                         <a href="{$path}{$pitem.file_path}" class="thickbox image" rel="group_{$item.id}"><img src='{$path}thumb_{$pitem.file_path}' alt="{$pitem.id}" onload="javascript:DrawImage(this,240,1000)" /></a>
                                                    </div>
													<div class="clear"></div>
                                                    <div title="{$pitem.description}" class="ot_review_pictures_desc">{$pitem.description|formatInfoUTF8=20}</div>
                                                </div>
                                             </div>
                                        <?php } ?>
                                        <?php $picCount++; ?>
                                    </iterate>
                                    <?php if(($picCount % 2) == 1) { ?>
                                            <div class="ot_review_pictures_pos_frame ot_review_pictures_marginbottom">
                                                <div class="ot_review_pictures_info">&nbsp;</div>
                                                <div class="clear"></div>
                                                <div class="ot_review_pictures_desc">&nbsp;</div>
                                            </div>
                                        </div>
                                    <?php } ?>
                                 </div>
                                 <div class="clear"></div>
                                 <div class="ot_d_comment">{$item.description}</div>
								 <?php if($type =='shop'):?>                                 
                                 <div class="ot_d_review6icons">
									<div class="ot_d_review6icons_short">
										<div class="ot_d_review6icons_shorttxt">服務</div><div class="ot_d_review6icons_shortnum"><?php echo((!$item['rate']['rate_2'] and $item['rate']['rate_2'] != 0) || $item['rate']['rate_2'] < 0 )?'N/A':round($item['rate']['rate_2']).'/5'; ?></div>
									</div>
									<div class="ot_d_review6icons_short">
										<div class="ot_d_review6icons_shorttxt">環境</div><div class="ot_d_review6icons_shortnum"><?php echo((!$item['rate']['rate_2'] and $item['rate']['rate_3'] != 0) || $item['rate']['rate_3'] < 0 )?'N/A':round($item['rate']['rate_3']).'/5'; ?></div>
									</div>
									<div class="ot_d_review6icons_short">
										<div class="ot_d_review6icons_shorttxt">方便</div><div class="ot_d_review6icons_shortnum"><?php echo((!$item['rate']['rate_2'] and $item['rate']['rate_4'] != 0) || $item['rate']['rate_4'] < 0 )?'N/A':round($item['rate']['rate_4']).'/5'; ?></div>
									</div>
									<div class="ot_d_review6icons_short">
										<div class="ot_d_review6icons_shorttxt">價格</div><div class="ot_d_review6icons_shortnum"><?php echo((!$item['rate']['rate_2'] and $item['rate']['rate_5'] != 0) || $item['rate']['rate_5'] < 0 )?'N/A':round($item['rate']['rate_5']).'/5'; ?></div>
									</div>
									<div class="ot_d_review6icons_long">
										<div class="ot_d_review6icons_longtxt">產品質素</div><div class="ot_d_review6icons_longnum"><?php echo((!$item['rate']['rate_2'] and $item['rate']['rate_6'] != 0) || $item['rate']['rate_6'] < 0 )?'N/A':round($item['rate']['rate_6']).'/5'; ?></div>
									</div>
									<div class="ot_d_review6icons_long">
										<div class="ot_d_review6icons_longtxt">產品種類</div><div class="ot_d_review6icons_longnum"><?php echo((!$item['rate']['rate_2'] and $item['rate']['rate_7'] != 0) || $item['rate']['rate_7'] < 0 )?'N/A':round($item['rate']['rate_7']).'/5'; ?></div>
									</div>
                                 </div>
                                 <?php endif;?>
                                 <div class="ot_d_commentreview">
                                 	<if condition="$authInfo['user_type'] eq 0">
	                                 	<if condition="$item['user']['id'] neq $authInfo['id']">                                   
	                                    <div class="ot_d_commentreview_pos_clap">
	                                        <a href="{$item.id}" rel="{$item.id}" class="ot_d_clap">稱讚(<span class="commend"></span>)</a>
	                                    </div>
	                                    <div class="ot_d_commentreview_pos_flag">
	                                    	<a href="{$item.id}" rel="{$item.id}" class="ot_d_flag">檢舉(<span class="reports"></span>)</a>
	                                    </div>
	                                    </if>
                                    </if>
								</div>
                                {$itemInfo.id|fbBtn=$type,3,$authInfo['nick_name'],$item['id']}

                                <div style="float:left">
                                    <if condition="$authInfo['user_type'] eq 0">
                                        <div class="ot_d_merchant_review_buttons">
                                            <a href="__ROOT__/review/write_review/id/{$shopInfo.id}?placeValuesBeforeTB_=savedValues&TB_iframe=true&width=650&height=500" class="write-review thickbox">寫評介</a>
                                        </div>
                                    </if>
                                </div>
                                <div style="float:right; width:80px;"><a href="#" class="ot_o_back">回到頁首</a></div>
                                </div>
                                <div class="clearBoth"></div>
                                </div>
                            </li>
                            </iterate>
                        </ul>
                    </div>
                    <div class="footer"></div>
                </div>
                <if condition="empty($_REQUEST['reviewid'])">
              		<div class="ot_d_paging">{$multipage}</div>
                </if>
            </if>
            <include file="Public:div-review" />
            <div class="clear"></div>
        </div>
        
