<style type="text/css">
#browse-district-box .content {
	padding-bottom: 15px;
}

#browse-district-box .content ul {
	height: 33px;
	border-bottom: 2px solid #e9f4ff;
}
#browse-district-box .content ul li {
	float: left;
	padding-left: 15px;
	width: 63px;
	height: 33px;
	padding-bottom:0px;
}
#browse-district-box .content ul li a {
	display: block;
	width: 63px;
	height: 33px;
	background: none;
	font-size: 14px;
	line-height: 33px;
	text-align: center;
	text-decoration: underline;
}
#browse-district-box .content ul li a:hover {
	 color: #333333;
}
#browse-district-box .content .tabs-link.current {
	color: #333333;
    font-weight:bold;	
	text-decoration: none;
	background: url(__PUBLIC__/images/backgrounds/reviewer-page-tab.gif) no-repeat top left;
}
#load_box{
	height:90px;
	padding-top:5px;
	padding-left:15px;
}
#load_box #loading{
	text-align:center;
	top:30px;
	height:90px;
	position:relative;	
}
</style>
<script type="text/javascript">
	$().ready(function(){
		var bindLink = function(){
			$('#browse-district-box .content .tabs-link').removeClass('current');
			var idx = $(this).attr('href');
			var url = $(this).attr('href');
			if (idx != null){				
				$('#browse-district-box .content a[href="'+idx+'"]').addClass('current');
				var main_loc = 0;
				var cate_str = '';
				if("<?php echo strtoupper(MODULE_NAME)?>" == "SHOP"){
					type = 0;
					cate_str = "<?php echo $_REQUEST['cate_id']?>";
				}else{
					type = 1;					
					cate_str = "<?php echo $_REQUEST['cateid']?>";				
				}
				if(cate_str != ""){
					cate_id = cate_str;
				}else{
					cate_id = "0";
				}
				var main_loc_str = "<?php echo $_REQUEST['mainlocationid']?>";
				if(main_loc_str != ""){
					main_loc = "<?php echo $_REQUEST['mainlocationid']?>";
				}
				url = $(this).attr('href').replace('#loc','__ROOT__/base/view_loc/mainlocationid/'+ main_loc +'/cate_id/'+cate_id+'/type/'+ type+'/id/');				
			}	
				//$('#load_box').html('<div id="loading"><img src="__PUBLIC__/images/loading.gif"/></div>');		
				$.get(url, function(data){
					$('#load_box').html(data);
				});
			return false;
		};
		$('#browse-district-box .content .tabs-link').bind('click', bindLink);
		var cur_mainlocationid = "<?php echo $_REQUEST['mainlocationid']?>";
		if(cur_mainlocationid=="" || cur_mainlocationid=="0"){
			$('#browse-district-box .content .tabs-link:first').trigger('click');
		}else{
			$('#browse-district-box .content a[href="#loc'+cur_mainlocationid+'"]').trigger('click');
		}
		
	});
</script>
<div id="browse-district-box" class="left-box">
    <div class="header">
        <h3>分區瀏覽</h3>
        <div class="clearBoth"></div>
    </div>
    <div class="shop-categories">
    <if condition="$curMainLocation.name neq '' OR $curSubLocation.name neq ''">
        <a href="__URL__/lists/mainlocationid/0/cate_id/<?php echo $cate_id; ?>">地區</a>
        <if condition="$curSubLocation.name neq ''">
            > <a href="__URL__/lists/mainlocationid/{$curMainLocation.id}/cate_id/<?php echo $cate_id; ?>">{$curMainLocation.name}</a>
            > {$curSubLocation.name}
            <else/>
            > {$curMainLocation.name}
        </if>
    </if>
	</div>
    <?php if ($curSubLocation==''): ?>
    <div class="content">					
        <ul>
        <!-- MainLocation Start -->
                <iterate name="locationMainList" id="item" key="key">
                    <li>
                        <a class="tabs-link" <if condition="$key eq 1"> id="this-index" </if> href='#loc{$item.id}'>{$item.name}</a>
                    </li>
                </iterate>
        <!-- MainLocation End -->                
        </ul>
        <div class="clearBoth"></div>
        <div id="load_box"></div>
    </div>
    <?php endif; ?>
    <div class="footer"></div>
</div>
