<div id="ot_d_body_footer">
	<div class="ot_d_line"></div>
    <script type="text/javascript">
		function privacy(){
			privacyWindow=open('__ROOT__/footer/privacy','privacy','resizable=yes, scrollbars=yes, status=no, menubar=no,width=470,height=500');
		}
		function tc(){
			tcWindow=open('__ROOT__/footer/tc','tc','resizable=yes, scrollbars=yes, status=no, menubar=no,width=470,height=500');
		}
    </script>
    <!-- set home -->
    <script type="text/javascript" language="JavaScript">
		function setHome(){
			document.body.style.behavior='url(#default#homepage)';
			document.body.setHomePage(window.location.href);
		}
    </script>
    <script type="text/javascript">
   		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    	try {
    		var pageTracker = _gat._getTracker("UA-15793058-1");
   			pageTracker._trackPageview();
    	} catch(err) {}
    </script>
    <div class="ot_d_copy">OutStreet&copy; 2009</div><br/>
    <a href="javascript:addBookmark('OutStreet.com','http://outstreet.com.hk')">加 OutStreet 到我的最愛</a>
    <script>
		function addBookmark(title,url) {
			if( document.all ) {
				window.external.AddFavorite( url, title);
			} else if (window.sidebar) {
				window.sidebar.addPanel(title, url,"");
			}
		}
    </script>
    <!---<iframe scrolling="yes" frameborder="0" width="600" height="600" src="http://content.webcollage.net/outstreet/showcase-page?showcase=rackspace"/></iframe>--->
    <br/>
    <a href='__ROOT__/'>主頁</a> | <a href='__ROOT__/guide'>出街指南</a> | <a href='__ROOT__/event'>節目</a> | <a href='__ROOT__/promotion'>優惠</a> | <a href='__ROOT__/review/index/search_shop/true/search_event/true/'>評介</a> | <a href='__ROOT__/user'>評家</a> | <a href='__ROOT__/forum'>討論區</a> | <a href="__ROOT__/info" >交通天氣</a> | <a href="__ROOT__/aboutus">關於我們</a>
    <br/>
    <a href='__ROOT__/user/login'>登入</a> | <!--<a target="_blank" href='http://biz.outstreet.com.hk'>店主登入</a>--> | <a href='__ROOT__/user/register'>會員登記</a> <if condition="$authInfo.user_type eq 0">
		          | <a href='__ROOT__/aboutus'>店主登記</a>
    	        </if>
    <br/>
    <a href="__ROOT__/advert" >廣告服務</a> | <a href="__ROOT__/careers" >職位空缺</a> | <a href="__ROOT__/Aboutus">聯絡我們</a> | <a href="__ROOT__/Faq">FAQ</a> | <a href="__ROOT__/footer/tnc">條款及細則</a>
    </div>
</div>
</div>
</body>
</html>