<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.tabs.js" />

<style type="text/css" >
	#msgbox{
	height:150px;
	width:900px;
	margin:0 auto;
	background-color:#fff;
	border:1px dashed #cccccc;
     }
	 
	 #msgbox h2{
    	height:10px;
		font-weight:600;
		font-size:14px;
		color:#666666;
		background-color:#eeedea;	
    }
	#msgbox p{
		font-weight:400;
		font-size:13px;
		color:#666666;
		text-align:left;
	}
	#errorleft{
		height:110px;
		width:10%;
		float:left;
		background-image: url("__PUBLIC__/images/error_face.gif");
		background-repeat:no-repeat;
		margin-top:20px;
	}
	#rightleft{
		height:110px;
		width:10%;
		float:left;
		background-image: url("__PUBLIC__/images/ok_face.gif");
		background-repeat:no-repeat;
		margin-top:20px;
	}
	#errorright{
		height:110px;
		width:90%;
		margin-top:20px;
	}
	#msgbox a{
		font-weight:400;
		font-size:13px;
		color:#666666;
	}
	#msgbox a:hover{
		font-weight:500;
		font-size:13px;
		color:#e54600;
	}
</style>
<div class="body-content-error">
    <div class="breadcrumb">
		<a href="__ROOT__/">主頁</a> > <a href="__ROOT__/reg">用戶登記</a>
	</div>
    <div id="error-box" class="left-box">
			<div class="content">
					<table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
					<tr><td>OutStreet《出街》網始創於2010年，為全港市民提供最新、最Update、最多元化出街資訊及消費指南。本網提供全天侯互動平台，讓你輕易搜尋本地消閒好去處及不同大少活動。現時本網已聚集超過六千個出街情報，希望全港出街一族立即加入，合力打造一個強大而有效的綜合資訊網。<br><br>OutStreet《出街》網亦照顧商業客戶需要，提供一個有效及完善的網上商業宣傳平台。如貴公司已於本網建立聯絡資料，可透過本網建立公司特設專頁，吸引更多客戶注意。若貴公司未有建立聯絡資料，可立即與本網聯絡<a href="mailto:info@outstreet.com.hk" style="color:red;text-decoration:underline;" title="聯絡我們">info@outstreet.com.hk</a></td></tr></table>
				</div>
			</div>	

</div>
<include file="Public:footer" />



	<div id="msgbox">
			<if condition="$status">
				<h2 align="center">操作成功!</h2>
			<else />
				<h2 align="center">出錯啦!</h2>
			</if>
				<p >提示信息：{$message}!
				<if condition="$status">
				 	<div id="rightleft">
					</div>
				<else />
					<div id="errorleft">
					</div>
				</if>
					<div id="errorright">
					<if condition="$box">
						<if condition="$status">
							<br /><br /><a href="javascript:parent.tb_remove();parent.location='{$jumpUrl}';">本窗口將在 {$waitSecond} 秒后自动關閉，点击这里直接關閉...</a>
						<else />
							<br /><br /><a href="{$jumpUrl}">页面将在 {$waitSecond} 秒后自动跳转到下一页，点击这里直接跳转...</a>
						</if>
					<else />
						<br /><br /><a href="{$jumpUrl}">页面将在 {$waitSecond} 秒后自动跳转到下一页，点击这里直接跳转...</a>
					</if>
				</div>	
				</p>
		  		<script type="text/javascript">
					<if condition="$box">
						<if condition="$status">
							setTimeout("parent.tb_remove();parent.location='{$jumpUrl}'", {$waitSecond} * 5000);
						<else />
							setTimeout("window.location='{$jumpUrl}'", {$waitSecond} * 5000);
						</if>
					<else />
						setTimeout("window.location='{$jumpUrl}'", {$waitSecond} * 5000);
					</if>
				</script>   
	</div>
		
<if condition="$box">
	<include file="Public:box-footer" />
<else />
	<include file="Public:footer" />
</if>
	