<table class="ot_t_shoplist">
    <tr><th>商戶</th><th>地區</th><th>地址</th><th>電話</th><th>狀態</th></tr>
    <iterate name="shopList" id="vo">
    <tr class="<?php if($i%2 == 0) echo 'even_row'?>">
	    <td class="shopname">
        	<a class="shop_link" href="javascript:void(0);" rel="__ROOT__/shop/view/id/{$vo.id}"><?php $shopName = formatShopName($vo['name'], $vo['eng_name']); ?>{$shopName|formatInfo=40}</a>
        </td>
       	<td class="district">{$vo.sub_location.name}</td>
        <td class="address">{$vo.address}{$vo.rooms}</td>
        <td class="telephone">{$vo.telephone|formatTelephone=1}</td>
        <td class="status">
        	<switch name="vo.shop_status">
	            <case value="0">營業中</case>
                <case value="1">已搬址</case>
                <case value="2">已結業</case>
                <case value="3">裝修中</case>
                <default/>
            </switch>
        </td>        
    </tr>                
    </iterate>
</table>
 <div id="paging-box">
    <div class="paging">{$multipage}</div>
</div>