<script type="text/javascript">
var $refList = <?php echo json_encode($refList); ?>;
$(document).ready(function(){
	$("#selForm").validate({
		submitHandler: function(form) {
			seteventcatesSearch($('#selForm').serializeArray());
			tb_remove();
			return false;
		}
	});
	$('.sel_all').bind('click',function(){
		_this = $(this);
		$(this).parents('.agroup').find('.cate_ids').each(function(){
			$(this).attr('checked', _this.attr('checked'));
		});
	});

	$('.agroup input[name=cate_ids]').change( function() {
		var id = $(this).attr('id');
		var checked = $(this).attr('checked');
		$('.'+id).attr('checked',checked);
		$('.'+id).each(function(){
			thisId = $(this).attr('id');
			thisId = thisId.replace("cate_id_","");
			checkRef(thisId);
		});
	} );
	
	$('.bgroup input[name=cate_ids]').change( function() {
		var myclass = $(this).attr('class');
		checkSelectAll(myclass);
	} );
	
	setTimeout( function() { $('.bgroup input[name=cate_ids]').trigger('change'); }, 10);
});

function checkRef($id){
	var isChecked = false;
	if(document.getElementById('cate_id_'+$id).checked){
		isChecked = true;
	}
	for($idx in $refList){
		if($idx==$id){
			for($idx2 in $refList[$idx]){
				document.getElementById('cate_id_'+$refList[$idx][$idx2]).checked = isChecked;
				$('#cate_id_'+$refList[$idx][$idx2]).attr('checked',isChecked);
				var myclass = $('#cate_id_'+$refList[$idx][$idx2]).attr('class');
				checkSelectAll(myclass);
			}
		}
	}
}
function checkSelectAll(myclass){
	var checkAll = true;		
	$('.bgroup input[name=cate_ids]').each(function() {
		if($(this).attr('class')==myclass){
			if($(this).attr('checked')==false){
				checkAll = false;	
			}
		}
	});
	var arr = myclass.split(" ");
	$('#'+arr[1]).attr('checked',checkAll);	
}
</script>

<style>
#TB_title {
	background-color: #f80000;
	height: 27px;
	font-weight: bold;
	font-size: 14px;
	color:#fff;
}
#TB_title #TB_closeWindowButton{
	color:#fff;
	font-weight:normal;
}
.ot_t_infopos{
	padding:10px 4px 4px 0px;
}
.ot_t_cat2infopos{
	width: 100px;
	padding: 5px 0px 5px 5px;
	border-bottom:1px solid #cccccc;
}
.ot_t_cat3infopos{
	width:294px;
	padding:5px;
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
}
.main_cate{
	font-weight:bold;
	background: #f66;
	color:#fff;
	padding: 4px;
	width:429px;
}
#cate_select_box {
	width:100%;
}
#cate_select_box td{
	padding: 3px;
}
.cate_select_box{
	margin-top:35px;
}
.aitem{
	float: left;
	display: block;
	width:130px;
	overflow: hidden;
	padding:2px 0
}
.bitem{
	float:left;
	width:120px;
	overflow: hidden;
	padding:2px 0px 0px 10px;
}
.checkbox_word_left{
	position:relative;
	left:5px
}
#btnsend{
	position:absolute;
	top:27px;
	left:0px;	
	height:30px;
	width:458px;
	background-color:#ffe4e4;
	text-align:right;
	padding-right:5px;	
	padding-top:2px;		
}
#btnsend .cate_select_send{
	width: 46px;
	height: 21px;
	margin-top: 4px;
	background: url(__PUBLIC__/images/buttons/search_locate_btn.gif) no-repeat;
	position: 0px 0px;
	border: 0;
	cursor: pointer;

}
#btnsend .cate_select_send:hover {
	background-position: 0px -21px;
}
</style>

<form method="POST" id="selForm" name="selForm" >

<table id="cate_select_box" class="cate_select_box">

<?php foreach( $cateList AS $key=>$val ): ?>
	<tr>
		<td class="ot_t_infopos">
			<div class="agroup main_cate"><label> <?php echo $val['name']; ?> </label></div>
			<?php foreach( $val['item'] AS $skey=>$sval ): ?>
				<table>
				<tr>
					<td class="ot_t_cat2infopos">
						<div class="agroup"><label class="aitem"> <input name="cate_ids" id="cate_id_<?php echo $skey; ?>" class="cate_id_<?php echo $key; ?>" type="checkbox" value="<?php echo $skey; ?>||<?php echo $sval['name']; ?>" class="cate_ids" onclick="checkRef('{$skey}')" /> <?php echo $sval['name']; ?> </label></div>
					</td>
					<td class="bgroup ot_t_cat3infopos">
						<?php foreach( $sval['item'] AS $sskey=>$ssval ): ?>
							<label class="aitem"> <input name="cate_ids" id="cate_id_<?php echo $sskey; ?>" class="cate_id_<?php echo $key; ?> cate_id_<?php echo $skey; ?>" type="checkbox" value="<?php echo $sskey; ?>||<?php echo $ssval['name']; ?>" class="cate_ids" onclick="checkRef('{$sskey}')" /> <?php echo $ssval['name']; ?> </label>
						<?php endforeach; ?>
					</td>
				</tr>
				</table>
			<?php endforeach; ?>
		</td>
	</tr>
<?php endforeach; ?>

<tr>
<td><!--<input type="submit" id="submit" value="" class="cate_select_send"/>--></td>
</tr>
</table>
<div id="btnsend"><div class="cate_select_send_pos"><input type="submit" id="submit" value="" class="cate_select_send"/></div></div>
</form>
<script type="text/javascript">
geteventcatesSearch();
</script>
