<load href="__PUBLIC__/css/ot_sel.css"/>
<script type="text/javascript">
$(document).ready(function(){
	$("#selLocationForm").validate({
		submitHandler: function(form) {
			g_setlocations($('#selLocationForm').serializeArray());
			tb_remove();
			return false;
		}
	});
	
	$('.sel_all').bind('click',function(){
		_this = $(this);
		$(this).parents('.agroup').find('.sub_location_ids').each(function(){
			$(this).attr('checked', _this.attr('checked'));
		});
	});
	$('.sub_location_ids').bind('click',function(){
		var checked = $(this).attr('checked');
		if (!checked){
			$(this).parents('.agroup').find('.sel_all').attr('checked',false);
		}
		_this = $(this);
		var unchecked=0;
			
		$(this).parents('.agroup').find('.sub_location_ids').each(function(){			
			if(!$(this).attr('checked')){
				unchecked++;
			}
		});		
		if(unchecked==0){
			$(this).parents('.agroup').find('.sel_all').each(function(){
				$(this).attr('checked', _this.attr('checked'));
			});
		}
	});	
});
</script>
<form method="POST" id="selLocationForm" name="selLocationForm" >
	
	<table class="ot_t_cate_select_box">
		<iterate name="locationMainList" id="vo">
			<tr>
				<td>
                	<div class="agroup ot_d_main_cate"><label>{$vo.name}</label></div>
                </td>
			</tr>
			<tr>
				<td class="agroup">
					<label>
						<div class="ot_t_location_aitem">
							<input type="checkbox" class="sel_all" /><label class="ot_label_checkbox_word_left">全選</label>
						</div>
					</label>
					<iterate name="vo.locationSubList" id="voo">
						<label>
							<div class="ot_t_location_aitem">
								<input name="location_ids" id="g_sub_location_id_{$voo.id}"  type="checkbox" value="{$voo.id}||{$voo.name}" class="sub_location_ids" /><span <if condition="$voo.type eq 1">class="ot_s_weighted"</if>><label class="ot_label_checkbox_word_left">{$voo.name}</label></span>
							</div>
						</label>
					</iterate>
				</td>
			</tr>
		</iterate>
		<tr>
			<td><!--<input type="submit" id="submit" class="cate_select_send" value=""/>--></td>
		</tr>
	</table>
  	<div id="ot_d_btnsend"><input type="submit" id="submit" class="ot_b_cate_select_send" value=""/></div>
</form>
<script type="text/javascript">
	g_getlocations();
</script>
