<load href="__PUBLIC__/css/ot_sel.css"/>
<script type="text/javascript">
var $refList = <?php echo json_encode($refList); ?>;
var cateDom = <?php echo json_encode($cateList); ?>;
$(document).ready(function(){
	$("#selForm").validate({
		submitHandler: function(form) {
			setcatesSearch($('#selForm').serializeArray());
			tb_remove();
			return false;
		}
	});
	$('.ot_d_main_cate').hide();
	$('#lv1selectbox').bind('change', loadcatedata);
	setTimeout( function() {
		checkselected();
	},10);
});
function loadcatedata(){
	$('#lv2list').empty();
	$('.ot_d_main_cate').hide();
	if($('#lv1selectbox').val()!==''){
		$('.ot_d_main_cate').show();
		$('.ot_d_main_cate').find('label').text($('#lv1selectbox option:selected').text());		
		var temp = '';
		for($lv2id in cateDom[$('#lv1selectbox').val()]['item']){
			temp +=("<table><tr><td class='ot_t_cat2infopos'><div class='agroup'><label class='ot_t_shop_cate_aitem'><input name='cate_ids' id='cate_id_"+$lv2id+"'  class='cate_id_"+$('#lv1selectbox').val()+"' type='checkbox' value='"+$lv2id+"||"+cateDom[$('#lv1selectbox').val()]['item'][$lv2id].name+"' class='cate_ids' onclick='checkRef("+$lv2id+")' /> "+cateDom[$('#lv1selectbox').val()]['item'][$lv2id].name+" </label></div></td><td class='bgroup ot_t_cat3infopos'>");
			for($lv3id in cateDom[$('#lv1selectbox').val()]['item'][$lv2id]['item']){
				temp += ("<label class='ot_t_shop_cate_aitem'> <input name='cate_ids' id='cate_id_"+$lv3id+"' class='cate_id_"+$('#lv1selectbox').val()+" cate_id_"+$lv2id+"' type='checkbox' value='"+$lv3id+"||"+cateDom[$('#lv1selectbox').val()]['item'][$lv2id]['item'][$lv3id].name+" ' class='cate_ids' onclick='checkRef("+$lv3id+")' /> "+cateDom[$('#lv1selectbox').val()]['item'][$lv2id]['item'][$lv3id].name+"  </label>");
			}
			temp +=("</td></tr></table>");	
		}
		$('#lv2list').append(temp);
		getcatesSearch();

		setTimeout( function() {
			if ( $( '.agroup, .bgroup' ).find( 'input:checkbox' ).length == $( '.agroup, .bgroup' ).find( 'input:checked' ).length )
				{ $( '#top_cate_id' ).attr( 'checked', true ); }
			else
				{  $( '#top_cate_id' ).attr( 'checked', false ); }
		},20);
	}
}
function checkRef($id){	
	var isChecked = false;
	if(document.getElementById('cate_id_'+$id).checked){
		isChecked = true;
	}
	if($('#cate_id_'+$id).attr('class')=='cate_id_'+$('#lv1selectbox').val()){
		for($lv3id in cateDom[$('#lv1selectbox').val()]['item'][$id]['item']){
			$('#cate_id_'+$lv3id).attr('checked',isChecked);
		}
	}
	for($idx in $refList){
		if($idx==$id){
			for($idx2 in $refList[$idx]){
				if(document.getElementById('cate_id_'+$refList[$idx][$idx2])){
					document.getElementById('cate_id_'+$refList[$idx][$idx2]).checked = isChecked;
					$('#cate_id_'+$refList[$idx][$idx2]).attr('checked',isChecked);
					var myclass = $('#cate_id_'+$refList[$idx][$idx2]).attr('class');
					checkSelectAll(myclass);
				}
			}
		}
	}
	var myclass = $('#cate_id_'+$id).attr('class');
	checkSelectAll(myclass);
}
function checkSelectAll(myclass){
	var checkAll = true;
	$('.bgroup input[name=cate_ids]').each(function() {
		if($(this).attr('class')==myclass){
			if($(this).attr('checked')==false){
				checkAll = false;	
			}
		}
	});
	var arr = myclass.split(" ");
	$('#'+arr[1]).attr('checked',checkAll);	
}
function checkselected(){	
	if($('#shop_cate_ids').val()!=''){
		var arr = $('#shop_cate_ids').val().split(',');
		$.getJSON( "__ROOT__/Ajax/shopcatedetail/cate_id/"+arr[0], function(response){
			$("#lv1selectbox").val( response.data[0] ).attr('selected',true);
			loadcatedata();
			if(response.data[2]==1){
				getcatesSearchAll(response.data[0]);
			}else{
				getcatesSearch();
			}
		});		
	}else{
		loadcatedata();
	}
}

$( '#top_cate_id' ).live( 'click', function() {
	if ($( this ).is( ':checked' ))
	{
		$( '.agroup, .bgroup' ).find( 'input:checkbox' ).attr( 'disabled', true );
		$( '.agroup, .bgroup' ).find( 'input:checkbox' ).attr( 'checked', true );
		$( this ).val( $('#lv1selectbox option:selected').val() + '||' + $('#lv1selectbox option:selected').text() );
	}
	else
	{
		$( '.agroup, .bgroup' ).find( 'input:checkbox' ).attr( 'disabled', false );
		$( '.agroup, .bgroup' ).find( 'input:checkbox' ).attr( 'checked', false );
		$( this ).val( null );
	}
} );

</script>
<form method="POST" id="selForm" name="selForm" >
<table class="ot_t_cate_select_box">
    <tr>
        <td>
            <div>
				<input type="checkbox" id="top_cate_id" name="top_cate_id"/> 
                <select id="lv1selectbox">
                    <iterate name="cateList" id="vo">
                        <option value="{$key}">{$vo.name}</option>
                    </iterate>
                </select>
            </div>
        </td>
    </tr>
    <tr>
        <td class="ot_t_infopos">
            <div class="agroup ot_d_main_cate"><label></label></div>
            <div id="lv2list"></div>
        </td>
    </tr>
</table>
<div id="ot_d_btnsend"><input type="submit" id="submit" value="" class="ot_b_cate_select_send"/></div>
</form>