<script type="text/javascript">
$(document).ready(function(){
});
</script>
<style type="text/css">
.aitem{
	width:75px;
	float:left;
	overflow:hidden;
	padding:2px 0
}
.aitem_weighted{
	width:75px;
	float:left;
	overflow:hidden;
	padding:2px 0;
	font-weight:bold;
}
</style>
<div id="locationSubList">
	<if condition="$_REQUEST['mainlocationid'] eq 0 OR $_REQUEST['mainlocationid'] neq $_REQUEST['id']">
	<div class="aitem_weighted"><a href="__ROOT__/<?php if($type==0)echo 'shop';else echo 'event';?>/lists/<?php if($_REQUEST['cate_id'] !='') echo 'cate_id/'.$_REQUEST['cate_id'].'/'?>mainlocationid/{$_REQUEST.id}/">全部</a></div>
    </if>
    <iterate name="locationSubList" id="vo">
        <label>
        	<if condition="$vo.type eq 1">
	            <div class="aitem_weighted">            
            <else/>
	            <div class="aitem">            
            </if>
				<if condition="$type eq 0">
	                <a href="__ROOT__/shop/lists/<?php if($_REQUEST['cate_id'] !='') echo 'cate_id/'.$_REQUEST['cate_id'].'/'?>sublocationid/{$vo.id}/">{$vo.name}</a>
                <else/>
					<a href="__ROOT__/event/lists/<?php if($_REQUEST['cate_id'] !='') echo 'cateid/'.$_REQUEST['cate_id'].'/'?>sublocationid/{$vo.id}/">{$vo.name}</a>
           		</if>
            </div>
        </label>
    </iterate>
</div>
<div class="clearBoth"></div>
