<include file="Public:sa-header" />
<include file="Public:box-header" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" /> 
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" />
<script type="text/javascript">
function confirmDelete(id){
	var result=confirm("一經確認即無法復原?");	
	if(result==true){
		window.location="__URL__/listAction/type/delete/action/1/targetid/"+id+"/url/{$url}/{&VAR_PAGE}/{$page}";
	 }else{
		return false;
	 }
}
$().ready(function(){
	$('#start_date').datepick({dateFormat: 'yyyy-mm-dd'});	
	$('#end_date').datepick({dateFormat: 'yyyy-mm-dd'});	
});
</script>

<div class="container">
	<h3>優惠列表</h3>
    <div class="mainbox">
    <div>
    	<form action="__URL__/listAll/" method="get">
        	名稱:<input type="text" style="width: 100px;" name="name" value="{.name}" />
            <input type="submit" name="search" id="searchbtn" value="搜尋" />
        </form>	
    </div>
    <!---<div>
    	<form action="__URL__/listAll/" method="get">
				優惠ID:<input type="text" style="width: 20px;" name="id" value="{.id}" />
				時間:<input type="text" style="width:100px;" readonly="true" id="start_date" name="start_date" value="{.start_date}"/>-<input type="text" style="width: 100px;" readonly="true" id="end_date" name="end_date" value="{.end_date}"/>
				商戶ID:<input type="text" name="shop_id" value="{.shop_id}" />
				<input type="submit" name="search" id="searchbtn" value="搜尋" />
		</form>
    </div>--->
    <table class="datalist fixwidth">
        <tr>
            <?php $sortcols = array( 'promotion_fields.id'=>'ID', 'promotion_fields.name'=>'優惠名稱','promotion_fields.create_time'=>'創建時間','promotion_fields.type1'=>'種類1','promotion_fields.time_start'=>'開始時間','promotion_fields.time_end'=>'完結時間'); ?>
            <?php foreach( $sortcols AS $key=>$val ): ?>
                <th>
                    <?php echo $val; ?><a href="__URL__/listAll/sort/{$key}/sortorder/asc/searchLink/{$searchLink}">&#8595;</a>|<a href="__URL__/listAll/sort/{$key}/sortorder/desc/searchLink/{$searchLink}">&#8593;</a>
                </th>
            <?php endforeach; ?> 
            <th>商戶名稱</th>    
            <th>精選狀態</th>           
            <th>審核</th>
            <th>修改</th>
            <th>刪除</th>
            <th>己完結</th>
        </tr>    
    	<iterate name="promotionList" id="vo">    
            <tr title="{$vo.name|stripslashes}" class="mousetr">
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                <td><switch name="vo.type1"><case value='1'>大減價</case><case value='2'>優惠</case></switch></td>
                <!---<td><switch name="vo.type2"><case value ='1'>一間商戶</case><case value ='2'>同品牌多分店</case><case value ='3'>不同品牌多分店</case></switch></td>--->
                <td>{$vo.time_start}</td>
                <td>{$vo.time_end}</td>
                <td>{$vo.shop.name}</td>
                <td>
                    <if condition="$vo.is_special eq 0">
                        <if condition="$vo.is_audit eq 0">
                            <b style="color:#CCC">未審核</b>
                        <else />
                            <if condition="$vo.is_ended eq 1">
                                <b class="red">己完結</b>
                            <else />
                                <a href="__URL__/upgrade/promotionid/{$vo.id}/url/{$url}/type1/{$vo.type1}?height=300&amp;width=600&amp;modal=false" class="thickbox green">升級為精選優惠</a>
                            </if>
                        </if>               
                    <else />
                        <b class="red"><switch name="vo.type1"><case value='1'>大減價</case><case value='2'>優惠</case></switch></b>
                    </if>
                </td>
                <td>
                    <if condition="$vo.is_audit eq 0">                	
                        <a href="__URL__/listAction/type/audit/action/1/targetid/{$vo.id}/url/{$url}/{&VAR_PAGE}/{$page}/" class="red">未審核</a>
                    <else/>
                        <a href="__URL__/listAction/type/audit/action/0/targetid/{$vo.id}/url/{$url}/{&VAR_PAGE}/{$page}" class="green">已審核</a>
                    </if>
                </td>
                <td>
                    <a href="__URL__/promotionEdit/id/{$vo.id}/type/edit" class="green">修改</a>
                </td>
                <td>
                    <a id="delete_link_{$vo.id}" onclick="confirmDelete({$vo.id})" href="" class="green">刪除</a>
                </td>
                <td>
                    <if condition="strtotime($vo['time_end']) eq ''">
                        <if condition="$vo.is_ended eq 1">
                           <a id="end_link_{$vo.id}" href="__URL__/listAction/type/isend/action/0/targetid/{$vo.id}/url/{$url}/{&VAR_PAGE}/{$page}" class="red">解除完結狀態</a>
                        <else />
                            <a id="end_link_{$vo.id}" href="__URL__/listAction/type/isend/action/1/targetid/{$vo.id}/url/{$url}/{&VAR_PAGE}/{$page}" class="green">己完結</a>
                        </if>
                    </if>
                </td>
            </tr>
    	</iterate>
        <tr class="nobg">
        	<td class="tdpage" colspan="11">{$multipage}</td>
		</tr>
    </table>
    </div>
</div>

<div>
<marquee scrollamount="1" height="70" direction="up" onMouseOut="this.start()" onMouseOver="this.stop()">
    <table>
        <iterate name="logtable" id="vo">
            <tr>
            	<td width="30px">{$vo.id}</td><td <if condition="date('yyyy-mm-dd', strtotime($vo.date)) eq date('yyyy-mm-dd',time())">style="color:red;"</if> width="150px"> {$vo.date} </td> <td width="200px">id: {$vo.class_id} </td> <td width="80px">{$vo.user_name}</td><td width="80px">{$vo.type}</td> 
            </tr>
        </iterate>
    </table>
</marquee>
</div>

<include file="Public:sa-footer" />