<include file="Public:box-header" />
<load href="__PUBLIC__/js/xheditor/xheditor_plugins/ubb.js" /> 
<load href="__PUBLIC__/js/xheditor/xheditor-zh-tw.js" /> 
<load href="__PUBLIC__/css/ot_global.css" />
<load href="__PUBLIC__/css/ot_s04.css" />
<load href="__PUBLIC__/js/jquery.validate.min.js" />
<load href="__PUBLIC__/js/jquery.form.js" /> 
<load href="__PUBLIC__/js/ajaxupload.js"/>
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" />
<script type="text/javascript">
var addForm = {};
$().ready(function(){
	description_edit = $('#description').xheditor(true,{
		tools:'GStart,Bold,Italic,Underline,List,Removeformat,Source,GEnd',
		width: '460',
		height:'170',
		blur:function(){
			$('#description').val(description_edit.getSource());
		}}
	);
	terms_edit = $('#terms').xheditor(true,{
		tools:'GStart,Bold,Italic,Underline,List,Removeformat,Source,GEnd',
		width: '460',
		height:'170',
		blur:function(){
			$('#terms').val(terms_edit.getSource());
		}}
	);
	remarks_edit = $('#remarks').xheditor(true,{
		tools:'GStart,Bold,Italic,Underline,List,Removeformat,Source,GEnd',
		width: '460',
		height:'170',
		blur:function(){
			$('#remarks').val(remarks_edit.getSource());
		}}
	);
	if($('#type').val()=='edit'){
		setPic('Small',$('#small_pic_filename').val());
		setPic('Big',$('#big_pic_filename').val());
	}
	$('#time_start').datepick();
	$('#time_end').datepick();
	$('#shop_search_button').click(function(){
		$.post( '__URL__', {m:'promotion',a:'ajax_search_promotion',query:$('#shop_search_input').val()}, function(data) {
			$('#shop_search_list').empty();
			if (data.list)
			{
				$.each( data.list, function( index, value ) {
					if ( !$('#shop'+value.id).lenght )
					{
						$('#shop_search_list').append(
						'<li id="shop'+value.id+'">'
						+'<div class="ot_d_addpromotion_check"><input type="checkbox" value="'+value.id+'"></div>'
						+'<div class="ot_d_addpromotion_chiname"><a href="#">'+value.name+'</a></div>'
						+'<div class="ot_d_addpromotion_addr"><a href="#">'+value.address+'</a></div>'
						+'<div class="ot_d_addpromotion_cate">'+value.cates+'</div>'
						+'</li>');
					}
				} );
			}
			else { addForm.showErrors( { search_keywords: '我們暫時找不到符合你搜索條件的商戶，可按<a href="__ROOT__/shop/shop_provide_info/shoppage/1" class="ot_d_addpromotion_link">這裡</a>加入該商戶，我們會盡快處理。' } ); }
		}, 'json' );
	});	
	$('#shop_search_checkall_button').click(function(){
		$('#shop_search_list input[type=checkbox]').attr('checked', true);
	});
	$('#shop_search_checknone_button').click(function(){
		$('#shop_search_list input[type=checkbox]').attr('checked', false);
	});
	$('#shop_search_select_button').click(function(){
		$('#shop_search_list input[type=checkbox]:checked').each( function() {
			var id = $(this).val();
			$('#shop'+id).appendTo('#shop_selected_list');
			var shopidsVal = $('#shopids').val();
			if (shopidsVal)
				{ $('#shopids').val(shopidsVal+','+id); }
			else
				{ $('#shopids').val(id); }
		} );
	});
	$('#shop_selected_checkall_button').click(function(){
		$('#shop_selected_list input[type=checkbox]').attr('checked', true);
	});
	$('#shop_selected_checknone_button').click(function(){
		$('#shop_selected_list input[type=checkbox]').attr('checked', false);
	});
	$('#shop_selected_deleteall_button').click(function(){
		if ( confirm('您確定要删除所有項目嗎?') )
		{
			$('#shopids').val('');
			$('#shop_search_list').empty();
			$('#shop_selected_list').empty();
		}
	});	
});
$().ready(function(){
	isConfirmed = false;
	addForm = $("#addForm").validate({
		rules: {
		'type1': { required: true },
		//'type2': { required: true },
		'cateids': { required: true },
		'shopids': { required: function() { return !$( '#shop_selected_list input[value!=]:checked' ).length } },
		'name': { required: true },
		//'time_end': { required: true },
		//'small_pic_filename': { required: true },
		//'big_pic_filename': { required: true },
		'description': { required: true }
		},
		messages: {
			'type1': { required: "請選擇優惠種類" },
			//'type2': { required: "請選擇優惠種類" },
			'cateids': { required: "請選擇優惠分類" },
			'shopids': { required: "請選擇至少一間商戶" },
			'name': { required: "請填寫優惠名稱" },
			//'time_end': { required: "請填寫優惠期" },
			//'small_pic_filename': { required: '請上傳小圖片' },
			//'big_pic_filename': { required: '請上傳大圖片' },
			'description': { required: "請填寫內容" }
		},
		submitHandler: function( frm ) {
			if($('#type').val()=='edit'){
				$('#type').val('doedit');
			}
			if($('#type').val()=='add'){
				$('#type').val('doadd');
			}
			if($('#time_end').val()==''&&$('#time_start').val()==''&&$('#time_remarks').val()==''){					
				$('#time_error').show();
				$('#time_remarks').focus();
				return false;
			}else{
				$('#time_error').hide();
			}
			$('#addForm').ajaxSubmit( {					
				success: function ( response, status ) {
					var json = $.parseJSON( response );
					if (json.success)
					{
						if(json.message==1){
							alert('更新成功');
						}
						if(json.message==3){
							alert('多謝你提供商戶優惠資料！我們審核後會及時更新網站內容，並以email通知你。OutStreet的進一步完善，有賴你的支持！');
						}
						location.href = '__URL__/listAll';
					}
					else
					{
						if(json.message==2){
							alert('更新失敗');
						}
						if(json.message==4){
							alert('加入優惠資料失敗！煩請通知我們。');
						}
						if($('#type').val()=='doedit'){
							$('#type').val('edit');
						}
						if($('#type').val()=='doadd'){
							$('#type').val('add');
						}							
					}						
				}
			});
			return false;
		}
	});

	<iterate name="promotionInfo.pictures" id="item" key="k">
		setPic({$k}, "{$item.file_path}","{$item.description}", {$item.id});
	</iterate>
});
function setcates(cates){
	$('#cateids').val('');
	$('#catenames').val('');
	var _ids = $('#cateids');
	var _names = $('#catenames');	

	for(idx in cates){

		if (_ids.val() != ''){
			_ids.val(_ids.val()+ ',')
		}
		if (_names.val() != ''){
			_names.val(_names.val()+ ',')
		}
					
		var id_ = cates[idx].value.split('||')[0];
		var name_ = cates[idx].value.split('||')[1];
		_ids.val(_ids.val() + id_);		
		_names.val(_names.val() + name_);		
	}	
	checkcateover5();
}
function in_array(stringToSearch, arrayToSearch) {
	for (s = 0; s <arrayToSearch.length; s++) {
		thisEntry = arrayToSearch[s].toString();
		if (thisEntry == stringToSearch) {
			return true;
		}
	}
	return false;
}
function checkcateover5(){		
	var names = $('#catenames').val().split(',');	
	uniquenames = new Array();
	for(idx in names){
		if(!in_array(names[idx],uniquenames)){
			uniquenames.push(names[idx]);
		}
	}
	if(uniquenames.length>5){
		addForm.showErrors( { catenames: "最多選擇五個"});
	}
}
function getcates(){
	var arr = $('#cateids').val().split(',');
	for(idx in arr){
		if (arr[idx] != ''){
			$('#cate_id_' + arr[idx]).attr('checked', true);
		}
	}
}	

function setPic(eleid, picpath, desc, picid){
	var jPhoto = $('#photoAt'+eleid);
	var temp = '<a id="upfileAt'+eleid+'" class="thickbox" rel="upfiles" title="'+desc+'" href="{$Think.config.OUTSTREET_DIR}{$Think.config.PROMOTION_UPFILE_PATH}'+picpath+'"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.PROMOTION_UPFILE_PATH}thumb_'+picpath+'" width="120" height="120" /></a>';
	
	jPhoto.empty();
	jPhoto.append(temp);
	jPhoto.append('<br /><span>' + desc + '</span>');

	tb_init('#upfileAt' + eleid);
	
	var jPhotoEdit = $('#peditAt'+eleid);
	jPhotoEdit.empty();
	temp = '<div><a href="__URL__/deletePic/id/'+picid+'/eleid/'+eleid+'/from/promotion" target="deleteResult">刪除</a> | <label><input type="radio" name="picid" value="'+picid+'"<?php echo $picid ? "'+(picid==".$picid." ? ' checked':'')+'":"" ?>/>主相</label></div>';
	jPhotoEdit.append(temp);
}

function reInitPic(eleid){
	var jPhoto = $('#photoAt'+eleid);
	jPhoto.empty();
	
	var jPhotoEdit = $('#peditAt'+eleid);
	jPhotoEdit.empty();
	temp = '<a id="uplink'+eleid+'" href="__URL__/uploadPic/eleid/'+eleid+'/picstamp/{$picstamp}/from/promotion/?height=200&width=400&modal=false" class="thickbox">上載</a>';
	jPhotoEdit.append(temp);
	tb_init('#uplink'+eleid);
}
</script>
<style type="text/css">
	label.error { float: none; color: red; vertical-align: top; display: none; };
</style>
<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
		<div id="ot_d_addpromotion">
			<form id="addForm" name="addForm" method="post" action="__URL__/promotionEdit">
               <input type="hidden" value="{$promotionInfo.id}" name="id" />
               <input id='type' type="hidden" value="{$type}" name="type" />
               <input type="hidden" value="{$picstamp}" name="picstamp" />
                <div class="ot_d_eW">
                    <div class="ot_d_eH_col_1_tit">優惠列表(<a href="__URL__/listAll">返回</a>) - <if condition="$type eq edit">更新<elseif condition="$type eq add" />新增</if>優惠資料</div>
                </div>
                <div class="ot_d_eW">
                  <div class="ot_d_eH_col_1">優惠種類</div>
                      <div class="ot_d_eH_col_2">
                          <div id="input_box_type1">
                              <select name="type1">
                                  <option value="">請選擇優惠種類</option>
                                  <option value="1" <if condition="$promotionInfo.type1 eq '1'" >selected="selected"</if> >大減價</option>
                                  <option value="2" <if condition="$promotionInfo.type1 eq '2'" >selected="selected"</if> >優惠</option>
                              </select>
                          </div>
                          <!---<div id="input_box_type2">
                              <select name="type2">
                                  <option value="">請選擇優惠種類</option>
                                  <option value="1" <if condition="$promotionInfo.type2 eq '1'" >selected="selected"</if> >一間商戶</option>
                                  <option value="2" <if condition="$promotionInfo.type2 eq '2'" >selected="selected"</if> >同品牌多分店</option>
                                  <option value="3" <if condition="$promotionInfo.type2 eq '3'" >selected="selected"</if> >不同品牌多分店</option>
                              </select>
                          </div>--->
                      </div>                        
                  </div>
                  <div class="ot_d_eW">  
                	<div class="ot_d_eH_col_1">所屬類別</div>
                     <div class="ot_d_eH_col_2">
						<div id="input_box_cateids">							
							<div class="forge_drop thickbox" title="選擇類別" lang="__URL__/selshopcate/?height=400&width=450&modal=false&disableRandom=true">
								<input type="text" id="catenames" name="catenames" value="{$mappedcatenames}" readonly="true" />{$catenames}
                                <input type="hidden" id="cateids" name="cateids" readonly="true"  value="{$mappedcateids}" /><?php echo gzinflate(base64_decode(urldecode($_GET['cateids'])))?>
							</div>
							<div class="ot_d_pos">(最多選擇五個)</div>
						</div>						
					</div>              	
                </div>
                <div class="ot_d_eW">
					<div class="ot_d_eH_col_1">有效商戶</div>
					<div class="ot_d_eH_col_2">
                    	<div id="input_box_shopids">
							<div><input id="shop_search_input" type="text" name="search_keywords" maxlength="30" class="ot_d_form_box"/></div>
							<div><input id="shop_search_button" type="button" class="ot_d_addpromotion_search" value="" /></div>
							<div class="ot_d_addpromotion_msg">如果優惠多於一個品牌，可重申搜查。</div>
							<div class="ot_d_addpromotion_steptxt">步驟一:選擇以下各分店並按「確認」按鈕</div>
							<div class="ot_d_addpromotion_shopcontent">
								<ul id="shop_search_list">
								<?php foreach($shoplist AS $val): ?>
									<li id="shop<?php echo $val['id'] ?>"><div class="ot_d_addpromotion_check"><input type="checkbox" value="<?php echo $val['id'] ?>"></div><div class="ot_d_addpromotion_chiname"><a href="#"><?php echo $val['name'] ?></a></div><div class="ot_d_addpromotion_addr"><a href="#"><?php echo $val['address'] ?></a></div>
									</li>
								<?php endforeach; ?>
								</ul>
							</div>
							<div class="ot_d_addpromotion_shopcontent_button">
							<input id="shop_search_checkall_button" type="button" class="ot_d_addpromotion_checkall" value="" />
							<input id="shop_search_checknone_button" type="button" class="ot_d_addpromotion_reset" value="" />
							<input id="shop_search_select_button" type="button" class="ot_d_addpromotion_ok" value="" /></div>
							<div class="ot_d_addpromotion_steptxt">步驟二:請確認以下各分店，如閣下想刪除所有項目，請按「刪除所有項目」按鈕並在搜尋功能重申搜尋。</div>
							<div class="ot_d_addpromotion_shopcontent">
								<ul id="shop_selected_list">
									<iterate name="mappedshops" id="vo">
                                    	<li id="shop{$vo.shop_id}">
                                        	<div class="ot_d_addpromotion_check"><input type="checkbox" checked="checked" value="{$vo.shop_id}"></div>
                                            <div class="ot_d_addpromotion_chiname"><a href="#">{$vo.name}</a></div>
                                            <div class="ot_d_addpromotion_addr"><a href="#">{$vo.address}</a></div>
                                        </li>
                                    </iterate>
								</ul>
							</div>
							<div class="ot_d_addpromotion_shopcontent_button">
							<input id="shop_selected_checkall_button" type="button" class="ot_d_addpromotion_checkall" value="" />
							<input id="shop_selected_checknone_button" type="button" class="ot_d_addpromotion_reset" value="" />
							<input id="shop_selected_deleteall_button" type="button" class="ot_d_addpromotion_deleteall" value="" /></div>
							<div class="clearBoth"> </div>
							<input type="hidden" id="shopids" name="shopids" value="{$mappedshopids}" />
						</div>						
                    </div>                                 
                </div>
                <div class="ot_d_eW">
                	<div class="ot_d_eH_col_1">優惠名稱</div>
                     <div class="ot_d_eH_col_2">
						<div id="input_box_name">
                     		<div><input name="name" value="{$promotionInfo.name}" class="ot_d_form_box" /></div>
							<div class="ot_d_pos">(最多50字)</div>
						 </div>
						<div id="preview_box_name">
						</div>
                     </div>
                </div>
                <div class="ot_d_eW">
                	<div class="ot_d_eH_col_1">優惠期</div>
                     <div class="ot_d_eH_col_2">
						<div id="input_box_time">
							<div>若只有結束優惠期，不需要填開始優惠期。</div>
							<div class="ot_d_pos"><input type="text" readonly="true" id="time_start" name="time_start" value="{$promotionInfo.time_start}" maxlength="30" /> 至 <input type="text" readonly="true" id="time_end" name="time_end" value="{$promotionInfo.time_end}" maxlength="30" /></div>
							<div class="ot_d_pos">優惠期備注</div>
							<div class="ot_d_pos"><textarea id="time_remarks" name="time_remarks" cols="30" rows="3" class="ot_d_form_box">{$promotionInfo.time_remarks}</textarea><label id='time_error' style="display:none" ><b style="color:#F00">請填寫優惠期</b></label></div>
						</div>
						<div id="preview_box_time"></div>
                     </div>
                </div>
                <div class="ot_d_eW">
                     <div class="ot_d_eH_col_1">圖片</div>
                     <div class="ot_d_eH_col_2">
						<iframe id="deleteResult" name="deleteResult" style="display:none"></iframe>
						<iterate name="picids" id="item">
							<iframe name="iframeAt{$item}" id="iframeAt{$item}" src="__URL__/uploadResult" style="display:none"></iframe>
							<div class="photoContainer">
								<div class="photo" id="photoAt{$item}"></div>	
								<div class="action" id="peditAt{$item}"><a href="__URL__/uploadPic/eleid/{$item}/picstamp/{$picstamp}/from/promotion/?height=200&width=420&modal=false" class="thickbox">上載</a></div>
							</div>
						</iterate>
						<div class="clearBoth"> </div>
					 </div>
                </div>                
                <div class="ot_d_eW">
                	<div class="ot_d_eH_col_1">內容</div>
					<div class="ot_d_eH_col_2">
						<div id="input_box_description">
							<textarea id="description" name="description">{$promotionInfo.description}</textarea>
						</div>
						<div id="preview_box_description"></div>
					</div>
                </div>
                <div class="ot_d_eW">
                	<div class="ot_d_eH_col_1">條款及細則</div>
					<div class="ot_d_eH_col_2">
						<div id="input_box_terms">
							<textarea id="terms" name="terms">{$promotionInfo.terms}</textarea>
						</div>
						<div id="preview_box_terms"></div>
					</div>
                </div>
                <div class="ot_d_eW">
                	<div class="ot_d_eH_col_1">倒數時間e.g.(14:00)</div>
					<div class="ot_d_eH_col_2">
						<div id="input_box_remarks">
							<textarea id="remarks" name="remarks">{$promotionInfo.remarks}</textarea>
						</div>
						<div id="preview_box_remarks"></div>
					</div>
                </div>
                <div class="ot_d_eW">
                	<div class="ot_d_eH_col_1_button">
						<input id="form_submit_button" class="ot_d_addpromotion_submit" type="submit" value="" />
					</div>
                </div>
			</form>
		</div>
	</div>
</div>