<script>
$(document).ready(function(){
	var full = "{$full}";	
	if(full==true){		
	}else{
		location.href = "__URL__/listAll";
	}	
});
</script>

<h4 style="color:#900">鑑於<switch name="type1"><case value='1'>大減價</case><case value='2'>優惠</case></switch>之精選狀態以達三個之上限, 請擇其一優惠以切換之</h4>
<p>
    <div style="width:420px">
        <div style="width:40px;float:left">
        <b>ID</b>
        </div>
        <div style="width:100px;float:left">
        <b>優惠名稱</b>
        </div>
        <div style="width:200px;float:left">
        <b>優惠介紹</b>
        </div>
        <div style="width:60px;float:left">
        <b>退出精選</b>
        </div>
    </div>
</p>
<iterate name="upgradedList" id="vo">
<p>
    <div style="width:420px; overflow:hidden;">
    <div style="width:40px;float:left">{$vo.id}</div>
    <div style="width:100px;float:left">{$vo.name}</div>
    <div style="width:200px;float:left">{$vo.description}</div>
    <div style="width:60px;float:left"><a href="__URL__/listAction/type/downgrade/targetid/{$vo.id}/upgradeid/{$id}/url/{$url}"><img src="__PUBLIC__/images/buttons/cross.jpg" width="20" height="20"></img></a></div>
    </div>
</p>
</iterate>
