<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.validate.js" /> 
<load href="__PUBLIC__/js/jquery.form.js" /> 
<script type="text/javascript">
$(document).ready(function(){
	var validator = $( '#theform' ).validate( {
		rules: {
			description: { required: true }
		},
		messages: {
			description: { required: '介紹是必須' }
		},
		submitHandler: function()
		{
			$( '#theform' ).ajaxSubmit( {
				success: function ( response, status ) { //alert(response);
					var json = $.parseJSON( response );
					if ( json.success ) { alert('修改成功');  }
					else { alert('發生錯誤'); }
					$( location ).attr( 'href', "__URL__/listAll" );
				}
			} );
			return false;
		}
	} );
});
</script>
<div class="container">
	<h3>最新動態列表</h3>
	<div class="mainbox">
		<form id="theform" action="__APP__" method="post" onsubmit="return false;">
		<input type="hidden" name="m" value="news" />
		<input type="hidden" name="a" value="doEdit" />
		<input type="hidden" name="id" value="{$id}" />
		<table cellspacing="5" cellpadding="0" align="left">
		<tr>
			<td style="width: 25%;"><label><b>*</b> 介紹:</label></td>
			<td style="width: 75%;"><textarea style="width: 500px; height: 200px;" name="description" >{$news['description']}</textarea></td>
		</tr>
		<tr>
			<td style="width: 25%;"><label><b></b> 連結: (請填寫http://)</label></td>
			<td style="width: 75%;"><input type="text" style="width: 500px;" name="url" value="{$news['url']}" /></td>
		</tr>
		<tr>
			<td colspan="2" align="right">
				<input type="submit" value="修改" />
			</td>
		</tr>
		</table>
		</form>

	</div>
	
</div>
<include file="Public:sa-footer" />