<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" /> 
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" /> 
<script type="text/javascript">
$(document).ready(function(){

	$('#start_date').datepick({dateFormat:'yyyy-mm-dd'});
	$('#end_date').datepick({dateFormat:'yyyy-mm-dd'});

	$('.move').bind('click', function(){
		var uri = $(this).attr('id');
		
		$.get(uri,function(data){
			location.reload();
		});
	});
	$('.delete').bind('click', function(){
		if ( confirm('该操作不可恢复，您确认要删除吗？') )
		{
			var uri = $(this).attr('id');
			$.get(uri,function(data){
				location.reload();
			});
		}
	});
});
</script>
<div class="container">
	<h3>最新動態列表</h3>
	<div class="mainbox">
		<div>
			<form action="__URL__/listAll/" method="get">
				介紹:<input type="text" name="description" value="{.description}" />
				時間:<input type="text" style="width: 100px;" id="start_date" name="start_date" value="{.start_date}"/>-<input type="text" style="width: 100px;" id="end_date" name="end_date" value="{.end_date}"/>
				<input type="submit" name="search" value="搜尋" />
			</form>
		</div>
		<form action="__URL__/listAll/{&VAR_PAGE}/{$page}" onsubmit="return confirm('该操作不可恢复，您确认要删除这些主题吗？');" method="post">
		<table class="datalist fixwidth">
			<tr>
				<?php $sortcols = array( 'id'=>'ID','description'=>'介紹','create_time'=>'发布時間' ); ?>
				<?php foreach( $sortcols AS $key=>$val ): ?>
					<th>
						<?php echo $val; ?><a href="__URL__/listAll/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/listAll/sort/{$key}/sortorder/desc">&#8593;</a>
					</th>
				<?php endforeach; ?>
				<th>修改</th>
				<th>删除</th>
			</tr>
			<iterate name="list" id="vo">
				<tr title="{$vo.summary}" class="mousetr">
					<td width="5%">{$vo.id}</td>
					<td width="65%" title="{$vo.description}">{$vo.description}</td>
					<td width="15%" class="date">{$vo.create_time|date='Y-m-d H:i',###}</td>
					<td width="5%"><a href="__URL__/edit/id/{$vo.id}">修改</a></td>
					<td width="5%"><a href="javaScript:void(0);" id="__URL__/doDel/id/{$vo.id}" class="delete">删除</a></td>
				</tr>
			</iterate>
			<tr class="nobg">
				<td class="tdpage" colspan="6">{$multipage}</td>
			</tr>
		</table>
		</form>

		
	</div>
	
</div>
<include file="Public:sa-footer" />