<include file="Public:header" />
<script type="text/javascript">
$(document).ready(function(){	
	var validator = $( '#theform' ).validate( {
		rules: {
			email: { required: true }
		},
		messages: {
			email: { required: '登入電郵是必須' }
		},
		submitHandler: function()
		{
			$( '#theform' ).ajaxSubmit( {
				success: function ( response, status ) {
					var json = $.parseJSON( response );
					if ( json.success ) { alert( '已經將密碼發送到您的郵箱' ); $( location ).attr( 'href', "__APP__" );  }
					else { validator.showErrors( { 'email': '登入電郵不正確彧未啟用' } ); }
				}
			} );
			return false;
		}
	} );
});
</script>

<div class="ot_d_login_box_body" align="center">
	<table>
    	<tr>
        	<td class="ot_login_box">
                <form id="theform" action="__APP__" method="post">
                    <input type="hidden" name="m" value="index" />
                    <input type="hidden" name="a" value="do_forgetpw" />
                    <table cellspacing="10" cellpadding="0" align="center">
                        <tr>
                            <td colspan="2" align="left">忘記密碼</td>
                        </tr>
                        <tr>
                            <td style="width: 25%;" align="left"><label><b>*</b> 登入電郵:</label></td>
                            <td style="width: 75%;" align="right"><input class="input" type="text" name="email" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">
                                <input class="btn01" type="submit" value="提交" />
                            </td>
                        </tr>
                    </table>
               </form>
			</td>
    	</tr>
    </table>
</div>

<include file="Public:footer" />