<include file="Public:header" />
<script type="text/javascript">
$(document).ready(function(){	
	var validator = $( '#theform' ).validate( {
		rules: {
			email: { required: true },
			password: { required: true }
		},
		messages: {
			email: { required: '登入電郵是必須' },
			password: { required: '登入密碼是必須' }
		},
		submitHandler: function()
		{
			$( '#theform' ).ajaxSubmit( {
				success: function ( response, status ) {
					var json = $.parseJSON( response );
					if ( json.success ) { $( location ).attr( 'href', "__APP__?m=main&a=index" );  }
					else { validator.showErrors( { 'password': '登入電郵或登入密碼不正確' } ); }
				}
			} );
			return false;
		}
	} );
});
</script>

<div class="ot_d_login_box_body" align="center">
	<table>
    	<tr>
        	<td class="ot_login_box" align="center">
                <form id="theform" action="__APP__" method="post">
                    <input type="hidden" name="m" value="index" />
                    <input type="hidden" name="a" value="do_login" />
                    <table cellspacing="10" cellpadding="0">
                        <tr>
                            <td colspan="2" align="left">登入</td>
                        </tr>
                        <tr>
                            <td style="width: 25%;" align="left"><label><b>*</b> 登入電郵:</label></td>
                            <td style="width: 75%;" align="right"><input class="input" type="text" name="email" /></td>
                        </tr>
                        <tr>
                            <td style="width: 25%;" align="left"><label><b>*</b> 登入密碼:</label></td>
                            <td style="width: 75%;" align="right"><input class="input" type="password" name="password" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">
                                <input class="btn01" type="submit" value="登入" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">
								<a href="__APP__?a=forgetpw">忘記密碼</a>
                            </td>
                        </tr>
                    </table>
               </form>
			</td>
    	</tr>
    </table>
</div>

<include file="Public:footer" />