<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.validate.js" />  

<script type="text/javascript">

	$(document).ready(function(){
		
		var validator = $( '#form' ).validate({
			rules: {
				old_pw: { required: true },
				new_pw: { required: true },
				confirm_pw: { required: true }
			},
			messages: {
				old_pw: { required: '請輸入舊密碼' },
				new_pw: { required: '請輸入新密碼' },
				confirm_pw: { required: '請輸入確認密碼' }
			}
		});
		
	});	
	
</script>

<div class="container">
	<div class="mainbox">
    	<if condition="$status!=0">
    		<p class="
                <if condition="$status gt 0">sucinfo</if>
                <if condition="$status==2">errinfo</if>
                <if condition="$status==0">acinfo</if>
            ">
				{$actionInfo}
			</p>
        </if>
        
		<iterate name="admininfo" id="vo">
      		<h3>管理員資料</h3> 
        	<ul class="memlist fixwidth">
                <li><em>管理員ID:</em>{$vo.admin_id}</li>       
                <li><em>管理員名稱:</em>{$vo.username}</li>
                <li><em>最後登入時間:</em>{$vo.updated_at}</li>
                <li><em>創建時間:</em>{$vo.created_at}</li>
            </ul>
            
            <h3>修改密碼</h3>
            <form action="__APP__/Main/adminInfo" id="form" method="post">
        		<table class="memlist fixwidth">
                    <tr>
                        <td width="16%">舊密碼:</td>
                        <td><input type="password" name="old_pw" /></td>
                    </tr>
                    <tr>
                        <td>新密碼:</td>
                        <td><input type="password" name="new_pw" /></td>
                    </tr>
                    <tr>
                        <td>確認密碼:</td>
                        <td><input type="password" name="confirm_pw" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right"><input type="submit" name="submit" value="修改" /></td>
                    </tr>
                </table>
           	 </form>
		</iterate>
	</div>
</div>

<include file="Public:sa-footer" />