<include file="Public:sa-header" />

<div class="container">
	<h3>商鋪列表</h3>
	<div class="mainbox">
		<p class="
			<if condition="$status gt 0">sucinfo</if>
			<if condition="$status lt 0">errinfo</if>
			<if condition="$status==0">acinfo</if>
		">
		{$actionInfo}
		</p>
		<form action="__APP__/sa/backuplist" onsubmit="return confirm('该操作不可恢复，您确认要删除这些申請吗？');" method="post">
		<table class="datalist fixwidth">
			<tr>
				<th><input type="checkbox" name="chkall" id="chkall" onclick="$('.delops').attr('checked', function(){return !this.checked})" class="checkbox" /><label for="chkall">删除</label></th>
				<th>備份名稱</th>
				<th>備份時間</th>
				<th>恢復</th>
			</tr>
			<iterate name="backuplist" id="vo">
				<tr title="{$vo}" class="mousetr">
					<td class="option"><input type="checkbox" class="delops" name="filename[]" value="{$vo.filename}" class="checkbox" /></td>
					<td>{$vo.filename}</td>
					<td>{$vo.createtime|date='Y-m-d H:i:s',###}</td>
					<td><a href="__ACTION__/do/restore/filename/{$vo.filename}" onclick="return confirm('你確定要恢復該備份么?')">恢復該備份</a></td>
				</tr>
			</iterate>
			<tr class="nobg">
				<td colspan="4">
					<input type="submit" name="submit" value="删除所选" class="btn" />
					<input type="button" name="button" value="創建新備份" class="btn" onclick='location.href="__ACTION__/do/backup"' />
				</td>
			</tr>
		</table>
		</form>

		
	</div>
	
</div>
<include file="Public:sa-footer" />