<include file="Public:frame-header" />

<iframe id="iframe_content" scrolling="auto" name="main" src="__URL__/main" frameborder="0" height="100%" width="100%"></iframe>

<include file="Public:frame-footer" />