<include file="Public:sa-header" />
<script type="text/javascript">
	$().ready(function(){
		$('.caption').bind('click',function(){
			$('#caption').val($(this).text());
		});
	});
</script>

<div class="container">
	<h3>選項列表</h3>
	<div class="mainbox">
		<p class="
			<if condition="$status gt 0">sucinfo</if>
			<if condition="$status lt 0">errinfo</if>
			<if condition="$status==0">acinfo</if>
		">
		{$actionInfo}
		</p>
		<form action="__APP__/sa/inputlist" onsubmit="return confirm('该操作不可恢复，您确认要删除这些選項吗？');" method="post">
		<table class="datalist fixwidth">
			<tr>
				<th><input type="checkbox" name="chkall" id="chkall" onclick="$('.delops').attr('checked', function(){return !this.checked})" class="checkbox" /><label for="chkall">删除</label></th>
				<th>選項組</th>
				<th>選項</th>
			</tr>
			<iterate name="inputlist" id="vo">
				<tr title="{$vo}" class="mousetr">
					<td class="option"><input type="checkbox" class="delops" name="id[]" value="{$vo.id}" class="checkbox" /></td>
					<td class="caption">{$vo.caption}</td>
					<td>{$vo.option}</td>
				</tr>
			</iterate>
			<tr class="nobg">
				<td colspan="3">
					<input type="submit" name="submit" value="删除所选" class="btn" />
				</td>
			</tr>
		</table>
		</form>
		<form action="__ACTION__" method="post">
			<table>
				<tr>
					<td>選項組</td>	
					<td><input type="text" id="caption" name="caption" /></td>	
				</tr>
				<tr>
					<td>新選項</td>	
					<td><input type="text" name="option" /></td>	
				</tr>
				<tr>
					<td colspan="2"><input type="submit" name="submit" value="添加" /></td>	
				</tr>
			</table>
		</form>
		
	</div>
	
</div>
<include file="Public:sa-footer" />