<div id="paging-box" class="left-box">
	<div class="content">
		<div class="paging">{$multipage}</div>
	</div>
</div>

<div id="ot_d_promotion_result_box">
	<div class="ot_d_header">
		<h3></h3>
		<div class="clearBoth"></div>
	</div>
    <div class="ot_d_content">
		<ul>
			<?php $i=1; foreach($promotions AS $promotion): ?>
          	<li>
          		<table width="100%" height="100%" cellspacing="0" cellpadding="0">
                	<tr>
                  		<td rowspan="2">
                        	<table>
                      			<tr>
                        			<td class="ot_o_result_num_pos"><div class="ot_t_result_num">
                                        <?php
                                             switch ($i){
                                                case 1:  echo "A"; break;
                                                case 2:  echo "B"; break;
                                                case 3:  echo "C"; break;
                                                case 4:  echo "D"; break;
                                                case 5:  echo "E"; break;
                                                case 6:  echo "F"; break;
                                                case 7:  echo "G"; break;
                                                case 8:  echo "H"; break;
                                                case 9:  echo "I"; break;
                                                case 10: echo "J"; break;
                                             }
                                        ?>
                                    </div></td>
                                    <td>
                                    	<div class="ot_d_name">
                                      		<h4><a href="__ROOT__/promotion/view/id/{$promotion.id}" class="ot_t_promotion_link">
											<?php if ($promotion['is_ended'] || (strtotime($promotion['time_end']) && strtotime(date('Y-m-d')) > strtotime($promotion['time_end'])) ): ?>
                                            	(已完結)
                                            <?php endif; ?>
											{$promotion.name}
											</a></h4>
                                            <h4>
                                                <a href="__ROOT__/promotion/view/id/{$promotion.id}" class="ot_t_main_link"><?php echo $promotion['shops'][0]['name'] ?></a>
                                                <a href="__ROOT__/promotion/view/id/{$promotion.id}#address" class="ot_t_main_link">
                                                <?php echo count($promotion['shops'])>1 ? '('.count($promotion['shops']).'個地點)': '('.$sublocation[$promotion['shops'][0]['sub_location_id']]['name'].')'; ?></a>
                                            </h4>
                                      	</div>
                                    	<div class="clearBoth"></div>
                                        <div class="ot_d_promotiontype">{$promotion['type1']|rtnPromotionType}</div>
                                      	<div class="ot_d_type"><?php echo formatCategory($promotion['cates'], 20, false ) ?></div>
                                      	<div class="ot_d_promotiondate">
                                        	<?php $weekdays = array('一','二','三','四','五','六','日'); ?>
                                            <?php if ( strtotime($promotion['time_start']) && strtotime($promotion['time_end']) ): ?>
                                                {$promotion.time_start|strtotime|date=chDate(3),###}(<?php echo $weekdays[$promotion['time_start_weekday']] ?>) 至 {$promotion.time_end|strtotime|date=chDate(3),###} (<?php echo $weekdays[$promotion['time_end_weekday']] ?>)
                                            <?php elseif (strtotime($promotion['time_start'])): ?>
                                                {$promotion.time_start|strtotime|date=chDate(3),###}(<?php echo $weekdays[$promotion['time_start_weekday']] ?>)起
                                            <?php elseif (strtotime($promotion['time_end'])): ?>
                                                即日起 至 {$promotion.time_end|strtotime|date=chDate(3),###} (<?php echo $weekdays[$promotion['time_end_weekday']] ?>)
                                            <?php endif; ?>
                                            <?php if ($promotion['is_ended'] || (strtotime($promotion['time_end']) && strtotime(date('Y-m-d')) > strtotime($promotion['time_end'])) ): ?>
                                            	(已完結)
                                            <?php else: ?>
                                            	<?php echo $promotion['time_remarks'] ?>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                      			</tr>
                  			</table>
						</td>
                  		<td class="ot_o_content_pos">
                      		<div class="ot_d_imgframe"><div>{$promotion|rtnPromotionImg='ot_d_imgframe_pic',80,60}</div></div>
                  		</td>
                	</tr>
                	<tr>
                		<td><a href="__ROOT__/promotion/view/id/{$promotion.id}" class="plus">詳情</a></td>
               		</tr>
              	</table>
            </li>
			<?php $i++; endforeach; ?>
        </ul>
	  	<div class="clearBoth"></div>
    </div>
  	<div class="footer"></div>
</div>

<div id="paging-box" class="left-box">
    <div class="content">
        <div class="paging">
            {$multipage}
        </div>
    </div>
</div>