<include file="Public:header" />
<script type="text/javascript">
	$().ready(function(){
		$('.ot_menu_sec04 a').toggleClass('current');
		$('div.headerAboutus').corner("cc:#fff ,top");
		$('div.footer-aboutus').corner("cc:#fff ,bottom");
	});

</script>
<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
    	<div class="breadcrumb">
			<a href="__ROOT__/">主頁</a> > <a href="__ROOT__/promotion">優惠</a>
		</div>
        <div id="ot_d_bigsales">
			<div class="ot_d_header"></div>
            <div class="ot_d_content">
            	<ul>
					<?php $x=0; foreach($type1specialpromotion AS $promotion): ?>
                   	<li>
                       <table border="0" cellpadding="0" cellspacing="0">
                           <tr>
                              <td valign="middle">
                                 <div align="center" class="<?php echo $x ? 'ot_d_bigsalelines' : ''?>">
                                     <table class="ot_t_bigsaletable">
                                     <tr>
                                        <td class="ot_t_bigsalepic">
                                        	<a href="__ROOT__/promotion/view/id/{$promotion.id}">{$promotion|rtnPromotionImg='ot_d_imgframe_pic',80,60}</a>
                                        </td>
                                        <td class="ot_t_bigsaleinfo">
                                             <a href="__ROOT__/promotion/view/id/{$promotion.id}" class="ot_t_promotiontit"><?php echo formatInfo($promotion['name'],20) ?></a>
                                             <h4><a href="__ROOT__/promotion/view/id/{$promotion.id}#address"><?php echo formatInfoUTF8($promotion['shops'][0]['name'],18) ?> <?php echo count($promotion['shops'])>1 ? '('.count($promotion['shops']).'個地點)': '('.$sublocation[$promotion['shops'][0]['sub_location_id']]['name'].')' ?></a></h4>
                                             <?php echo formatCategory($promotion['cates'], 8, false ) ?>
                                        </td>
                                     </tr>
                                     </table>
                                  </div>
                              </td>
                           </tr>
                       </table>
                    </li>
					<?php $x++; endforeach; ?>
            </div>
            <div class="ot_d_footer"></div>
        </div>
        <div id="ot_d_promotionsale">
			<div class="ot_d_header"></div>
            <div class="ot_d_content">
            	<ul>
					<?php $x=0; foreach($type2specialpromotion AS $promotion): ?>
                   	<li>
                       <table border="0" cellpadding="0" cellspacing="0">
                           <tr>
                              <td valign="middle">
                                 <div align="center" class="<?php echo $x ? 'ot_d_promotionsalelines' : ''?>">
                                     <table class="ot_t_promotionsaletable">
                                     <tr>
                                        <td class="ot_t_promotionsalepic">
                                        	<a href="__ROOT__/promotion/view/id/{$promotion.id}">{$promotion|rtnPromotionImg='ot_d_imgframe_pic',80,60}</a>
                                        </td>
                                        <td class="ot_t_promotionsaleinfo">
                                             <a href="__ROOT__/promotion/view/id/{$promotion.id}#address" class="ot_t_promotiontit"><?php echo formatInfo($promotion['name'],20) ?></a>
                                             <h4><a href="__ROOT__/promotion/view/id/{$promotion.id}"><?php echo formatInfoUTF8($promotion['shops'][0]['name'],18) ?> <?php echo count($promotion['shops'])>1 ? '('.count($promotion['shops']).'個地點)': '('.$sublocation[$promotion['shops'][0]['sub_location_id']]['name'].')' ?></a></h4>
                                             <?php echo formatCategory($promotion['cates'], 8, false ) ?>
                                        </td>
                                     </tr>
                                     </table>
                                  </div>
                              </td>
                           </tr>
                       </table>
                    </li>
					<?php $x++; endforeach; ?>
                </ul>
            </div>
            <div class="ot_d_footer"></div>
        </div>
		<div id="ot_d_otherbigsale">
			<div class="ot_d_header"><a href="__ROOT__/promotion/lists/type1/1" class="ot_d_more"></a></div>
            <div class="ot_d_content">
				<?php foreach($type1promotion AS $promotion): ?>
            	<ul>
					<li class="ot_d_promotion"><a href="__ROOT__/promotion/view/id/{$promotion.id}"><?php echo formatInfoUTF8($promotion['name'],30) ?></a></li>
					<li class="ot_d_shopname"><a href="__ROOT__/promotion/view/id/{$promotion.id}#address"><?php echo formatInfoUTF8($promotion['shops'][0]['name'],18) ?> <?php echo count($promotion['shops'])>1 ? '('.count($promotion['shops']).'個地點)': '('.$sublocation[$promotion['shops'][0]['sub_location_id']]['name'].')'; ?></a></li>
					<li class="ot_d_type"><?php echo formatCategory($promotion['cates'], 6, false ) ?></li>
                </ul>
				<?php endforeach; ?>
            </div>
            <div class="ot_d_footer"></div>
		</div>
        <div id="ot_d_otherpromotionsale">
			<div class="ot_d_header"><a href="__ROOT__/promotion/lists/type1/2" class="ot_d_more"></a></div>
            <div class="ot_d_content">
				<?php foreach($type2promotion AS $promotion): ?>
            	<ul>
					<li class="ot_d_promotion"><a href="__ROOT__/promotion/view/id/{$promotion.id}"><?php echo formatInfoUTF8($promotion['name'],30) ?></a></li>
					<li class="ot_d_shopname"><a href="__ROOT__/promotion/view/id/{$promotion.id}#address"><?php echo formatInfoUTF8($promotion['shops'][0]['name'],18) ?> <?php echo count($promotion['shops'])>1 ? '('.count($promotion['shops']).'個地點)': '('.$sublocation[$promotion['shops'][0]['sub_location_id']]['name'].')' ?></a></li>
					<li class="ot_d_type"><?php echo formatCategory($promotion['cates'], 6, false ) ?></li>
                </ul>
				<?php endforeach; ?>
            </div>
            <div class="ot_d_footer"></div>
		</div>
	</div>
    <div class="ot_d_body_content_right">
    	<include file="Public:div-weather" />
    	<include file="Public:div-btn_facebook" />
		<div id="ysm_right"><script>var ysmright=1;</script></div>
    </div>
    <div class="clearBoth">
    </div>
</div>
<include file="Public:footer" />