<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s04.css" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

$( document ).ready( function() {

	if (document.getElementById('map_canvas'))
	{

	map = new google.maps.Map( document.getElementById('map_canvas'), myOptions );


	lastScrollTop = 0;
	lastScrollTime = 0;
	initTop = $( '#map_container' ).position().top;
	$( '#map_container' ).css( 'position', 'absolute' ).css( 'top', initTop + 'px' );

	$( '#map_container_checkbox' ).change( function() {
		if ( $(this).attr('checked') ) { $( '#map_container' ).css( 'position', 'absolute' ).animate( { top: initTop + 'px' }, 1000); }
	} );

	$( window ).scroll( function() {
		if ( new Date().getTime() - lastScrollTime > 900 ) {
			setTimeout( function() {
				if ( !$( '#map_container_checkbox' ).is(':checked') && lastScrollTop == $( window ).scrollTop() ) {
					var top = $( '#map_container' ).position().top;
					var scrollTop = $( window ).scrollTop();
					if ( scrollTop > initTop )
					{
						$( '#map_container' ).css( 'position', 'absolute' ).animate( { top: scrollTop + 20 + 'px' }, 1000 );
					}
					else
					{
						$( '#map_container' ).css( 'position', 'absolute' ).animate( { top: initTop + 'px' }, 1000);
					}
				}
			}, 1000 );
			lastScrollTime = new Date().getTime();
		}
		lastScrollTop = $( window ).scrollTop();
	} );

	}
});

geocoder = new google.maps.Geocoder();
marker = {};
myOptions = {
	zoom: 10,
	center: new google.maps.LatLng(22.279279, 114.1798),
	mapTypeId: google.maps.MapTypeId.ROADMAP
}
minLat = 0;
maxLat = 0;
minLng = 0;
maxLng = 0;

function InfoBox( settings ) {
	google.maps.OverlayView.call(this);
	this.__latlng = settings.latlng;
	this.__map = settings.map;
	this.__shopId = settings.shopId;
	this.setMap(this.__map);
}

function addMarker(letter, id, lat, lng) {
	if ( !minLat || lat < minLat ) { minLat = lat; }
	if ( !minLng || lng < minLng ) { minLng = lng; }
	if ( !maxLat || lat > maxLat ) { maxLat = lat; }
	if ( !maxLng || lng > maxLng ) { maxLng = lng; }
	marker[id] = new google.maps.Marker({ map: map, position: new google.maps.LatLng(lat, lng), icon: '__PUBLIC__/images/backgrounds/google_map_numbering_'+letter+'.gif' });
}
</script>
<script type="text/javascript">
	$().ready(function(){
		$('.ot_menu_sec04 a').toggleClass('current');
		$('div.headerAboutus').corner("cc:#fff ,top");
		$('div.footer-aboutus').corner("cc:#fff ,bottom");
	});
</script>
<iterate name="promotions" id="val">
<?php $letters = range('a','j'); ?>
<?php if (count($val['shops'])==1): ?>
<script type="text/javascript">
	$( document ).ready( function() {
		addMarker( '<?php echo $letters[$i-1]; ?>',
			<?php echo $val['shops'][0]['id']?>,
			<?php echo $val['shops'][0]['googlemap_lat']?>,
			<?php echo $val['shops'][0]['googlemap_lng']?> );
	} );
</script>
<?php endif; ?>
<script type="text/javascript">
	setTimeout( function() {

		if (minLat || maxLat || minLng ||maxLng)
		{
			map.setCenter( new google.maps.LatLng((minLat+maxLat)/2, (minLng+maxLng)/2) );
			map.setZoom( 17 );

			var isFoundZoom = false;
			for ( var i=17; i>=10; i-- )
			{
				var mapLatLng = map.getBounds();
				var mapMinLat = mapLatLng.getSouthWest().lat();
				var mapMinLng = mapLatLng.getSouthWest().lng();
				var mapMaxLat = mapLatLng.getNorthEast().lat();
				var mapMaxLng = mapLatLng.getNorthEast().lng();
				if ( mapMinLat > minLat || mapMaxLat < maxLat || mapMinLng > minLng || mapMaxLng < maxLng )
					{ map.setZoom( i ); }
				else
					{ break; }
			}
		}

	}, 1000 );
</script>
</iterate>
<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
    	<div class="breadcrumb">
			<a href="__ROOT__/">主頁</a> > <a href="__ROOT__/promotion">優惠</a>
			<?php if ($type1 == 1): ?>> <a href="__ROOT__/promotion/lists/type1/1">大減價</a><?php endif; ?>
			<?php if ($type1 == 2): ?>> <a href="__ROOT__/promotion/lists/type1/2">商戶優惠</a><?php endif; ?>
		</div>
        <include file="div_promotionlist" />
	</div>
    <div class="ot_d_body_content_right">
    	<include file="Public:div-weather" />
        <div id="map_container" style="padding: 2px; background: #FFFFFF;">
			<div id="map_canvas" style="width: 300px; height: 300px;"></div>
            <div style="padding: 5px;"><label><input id="map_container_checkbox" type="checkbox"> 返回原位!<label></div>
        </div>
    </div>
    <div class="clearBoth">
    </div>
</div>
<include file="Public:footer" />