<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s04.css" />
<load href="__PUBLIC__/js/uploadimage.js" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<load href="__PUBLIC__/css/jphoto/default.css" />
<load href="__PUBLIC__/js/jphoto/jquery.flow.1.1.min.js" />
<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec04 a').toggleClass('current');
	$(function() {
		$("div#controller").jFlow({
			slides: "#slides",
			width: "206px",
			height: "206px"
		});
	});
	$('#jphoto_prev').click(function(){
		$('.jphoto_img').hide();
		$('.jphoto_img').fadeIn(2000);
		$('.jphotocontent').hide();
		$('.jphotocontent').fadeIn(2000);
	});
	$('#jphoto_next').click(function(){
		$('.jphoto_img').hide();
		$('.jphoto_img').fadeIn(2000);
		$('.jphotocontent').hide();
		$('.jphotocontent').fadeIn(2000);
	});
});
</script>

<load href="__PUBLIC__/js/xheditor/xheditor_plugins/ubb.js" />
<load href="__PUBLIC__/js/xheditor/xheditor-zh-tw.js" />
<load href="__PUBLIC__/js/jquery.easing.1.3.js" />
<load href="__PUBLIC__/js/jquery-galleryview-1.1/jquery.galleryview-1.1.js" />
<load href="__PUBLIC__/js/jquery-galleryview-1.1/jquery.timers-1.1.2.js" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.MetaData.js" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.css" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.pack.js" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
$( document ).ready( function() {
	map = new google.maps.Map( document.getElementById('map_canvas'), myOptions );

	$.each($('.commend'),function(idx, ele){
		$.getJSON('__ROOT__/ajax/getReviewCommendCount/reviewId/' + $('.ot_d_clap').attr('href'),function(json){

			$(ele).text(json.status);
		});
	});
	$.each($('.reports'),function(idx, ele){
		$.getJSON('__ROOT__/ajax/getReviewReportCount/reviewId/' + $('.ot_d_flag').attr('href'),function(json){
			$(ele).text(json.status);
		});
	});

	$('.ot_d_clap').bind('click', function(){
		_this = this;
		$.getJSON('__ROOT__/ajax/appendReviewCommend/reviewId/' + $(_this).attr('href'),function(json){
			alert(json.info);
			if (json.status != 0){
				$(_this).children('.commend').text(json.status);
			}
		});
		return false;
	});

	$('.ot_d_flag').bind('click', function(){
		_this = this;
		$.getJSON('__ROOT__/ajax/appendReviewReport/reviewId/' + $(_this).attr('href'),function(json){
			alert(json.info);
			if (json.status != 0){
				$(_this).children('.reports').text(json.status);
			}
		});

		return false;
	});
	$('#promotionFavoriteLink').bind('click', function(){
		if ('{$authInfo.id}' == ''){
			alert('請登入后再儲存為心水優惠');
		}else{
			$.getJSON('__ROOT__/ajax/joinPromotion2Favorite/promotionid/{$promotionInfo.id}',function(json){
				if(json.status==1){
					$('#promotionFavoriteLink ').removeClass('ot_d_promotion_add_favourite').addClass('ot_d_promotion_added_favourite').unbind('click');
				}
				alert(json.info);
			});
		}
	});

});

geocoder = new google.maps.Geocoder();
marker = {};
myOptions = {
	zoom: 10,
	center: new google.maps.LatLng(22.279279, 114.1798),
	mapTypeId: google.maps.MapTypeId.ROADMAP
}
minLat = 0;
maxLat = 0;
minLng = 0;
maxLng = 0;

function addMarker(num, id, lat, lng) {
	if ( !minLat || lat < minLat ) { minLat = lat; }
	if ( !minLng || lng < minLng ) { minLng = lng; }
	if ( !maxLat || lat > maxLat ) { maxLat = lat; }
	if ( !maxLng || lng > maxLng ) { maxLng = lng; }
	marker[id] = new google.maps.Marker({ map: map, position: new google.maps.LatLng(lat, lng), icon: '__PUBLIC__/images/promotion/googlemap_num/googlemap_num'+num+'.gif' });
}

setTimeout( function() {
	map.setCenter( new google.maps.LatLng((minLat+maxLat)/2, (minLng+maxLng)/2) );
	map.setZoom( 17 );

	var isFoundZoom = false;
	for ( var i=17; i>=10; i-- )
	{
		var mapLatLng = map.getBounds();
		var mapMinLat = mapLatLng.getSouthWest().lat();
		var mapMinLng = mapLatLng.getSouthWest().lng();
		var mapMaxLat = mapLatLng.getNorthEast().lat();
		var mapMaxLng = mapLatLng.getNorthEast().lng();
		if ( mapMinLat > minLat || mapMaxLat < maxLat || mapMinLng > minLng || mapMaxLng < maxLng )
			{ map.setZoom( i ); }
		else
			{ break; }
	}

}, 1000 );
</script>

<style type="text/css">
	form label.error { display: none; color: red; }
</style>

<div id="ot_d_promotion_content">
    <div class="ot_d_promotion_content_left">
    	<div class="ot_d_promotion_infodetail">
        	<div class="breadcrumb">
            <a href="__ROOT__/">主頁</a>
            > <a href="__ROOT__/promotion">優惠</a>
			<?php if ($promotionInfo['type1'] == 1): ?>> <a href="__ROOT__/promotion/lists/type1/1">大減價</a><?php endif; ?>
			<?php if ($promotionInfo['type1'] == 2): ?>> <a href="__ROOT__/promotion/lists/type1/2">商戶優惠</a><?php endif; ?>
			<?php if ($promotionInfo['type1'] == 3): ?>> <a href="__ROOT__/promotion/lists/type1/3">信用卡優惠</a><?php endif; ?>
            > <?php echo $promotionInfo['name'] ?>
            </div>
            <div id="ot_d_promotion_info_box">
                <div class="ot_d_content">
                    <div class="ot_d_promotionname">
                        <span class="ot_d_promotion_chiname">
						<?php if ($promotionInfo['is_ended'] || (strtotime($promotionInfo['time_end']) && strtotime(date('Y-m-d')) > strtotime($promotionInfo['time_end'])) ): ?>
							(已完結)
						<?php endif; ?>
						{$promotionInfo.name}</span>
                    </div>
                    <div class="ot_d_info">
						<div class="ot_d_info_pos">
                            <div style="width:414px;">
                                <div class="ot_d_eW">
                                    <div class="ot_d_eH_col_1_firstline">品牌/商戶</div>
                                    <div class="ot_d_eH_col_2_firstline">
										<ul>
											<?php foreach( $brand AS $val): ?>
												<li><a href="__ROOT__/shop/lists/brandid/{$val.id}">{$val.name}</a></li>
											<?php endforeach; ?>
											<?php foreach( $promotionInfo['shops'] AS $val): ?>
                                                <?php if( !$val['brand_id']): ?>
                                                	<li><a href="__ROOT__/shop/view/id/{$val.id}">{$val.name}</a></li>
                                                <?php endif; ?>
											<?php endforeach; ?>
										</ul>
                                    </div>
                                </div>
                                <div class="ot_d_eW">
                                    <div class="ot_d_eH_col_1">優惠種類</div>
                                    <div class="ot_d_eH_col_2">{$promotionInfo['type1']|rtnPromotionType}(<?php echo formatCategory($promotionInfo['cates'], 100, false ) ?>)</div>
                                </div>
								<A name="address"></A>
                                <div class="ot_d_eW">
                                    <div class="ot_d_eH_col_1">地點</div>
                                    <div class="ot_d_eH_col_2">
										<ul>
											<?php $i=1; foreach( $promotionInfo['shops'] AS $val): ?>
											<li<?php if ($i>3): ?> style="display: none;"<?php endif; ?>>
												<div class="ot_d_info_addr_gm_num"><?php echo $i; ?></div>
                    							<div class="ot_d_info_addr"><a href="__ROOT__/shop/view/id/{$val.id}">{$val.name}</a> (<?php echo $sublocation[$val['sub_location_id']]['name'] ?>) {$val.address} </div>
											</li>
                                            <div style="display:none">
                                            <?php if ($i<100): ?>
                                            <script type="text/javascript">
												$( document ).ready( function() {
													addMarker(<?php echo $i; ?>, {$val.id}, {$val.googlemap_lat}, {$val.googlemap_lng});
												} );
											</script>
                                            <?php endif; ?>
                                            </div>
											<?php $i++; endforeach; ?>
											<?php if ($i>3): ?>
											<li>
												<div class="ot_d_info_more_space"></div>
												<div class="ot_d_info_more"><a href="javascript:" onclick="$(this).closest('ul').children().show();$(this).closest('li').hide();">(更多)</a></div>
											</li>
											<?php endif; ?>
										</ul>
                                    </div>
                                </div>
                                <div class="ot_d_eW">
                                    <div class="ot_d_eH_col_1">優惠期</div>
                                    <div class="ot_d_eH_col_2">
										<?php $weekdays = array('一','二','三','四','五','六','日'); ?>
										<?php if ( strtotime($promotionInfo['time_start']) && strtotime($promotionInfo['time_end']) ): ?>
											{$promotionInfo.time_start|strtotime|date=chDate(3),###}(<?php echo $weekdays[$promotionInfo['time_start_weekday']] ?>) 至 {$promotionInfo.time_end|strtotime|date=chDate(3),###} (<?php echo $weekdays[$promotionInfo['time_end_weekday']] ?>)<br/>
										<?php elseif (strtotime($promotionInfo['time_start'])): ?>
											{$promotionInfo.time_start|strtotime|date=chDate(3),###}(<?php echo $weekdays[$promotionInfo['time_start_weekday']] ?>)起<br/>
										<?php elseif (strtotime($promotionInfo['time_end'])): ?>
											即日起 至 {$promotionInfo.time_end|strtotime|date=chDate(3),###} (<?php echo $weekdays[$promotionInfo['time_end_weekday']] ?>)<br/>
										<?php endif; ?>
										<?php if ($promotionInfo['is_ended'] || (strtotime($promotionInfo['time_end']) && strtotime(date('Y-m-d')) > strtotime($promotionInfo['time_end'])) ): ?>
											(已完結)
										<?php else: ?>
											<?php echo $promotionInfo['time_remarks'] ?>
										<?php endif; ?>
                                    </div>
                                </div>
                                <div class="ot_d_eW ot_d_eB">
                                  	<div class="ot_d_eH col_1"></div>
                                  	<div class="ot_d_eH col_2"></div>
                                </div>
                            </div>
                            <div class="ot_d_promotion_buttons">
                            	<div>
                                  	<if condition="$promotionFavoriteState eq 1">
                                    	<a href="#" class="ot_d_promotion_added_favourite">已存為心水優惠</a>
                                  	<else/>
                                        <a id="promotionFavoriteLink" href="javascript:void(0)" class="ot_d_promotion_add_favourite">儲存為心水優惠</a>
                                  	</if>
                                </div>
                                <div>
                                  	<if condition="!empty($authInfo)">
                                        <a href="#reviewForm" class="write-review">寫評介</a>
                                  	<else/>
                                        <a href="__ROOT__/user/login" onclick="alert('請先登錄');return true;" class="write-review">寫評介</a>
                                  	</if>
                                </div>
                            </div>
                        </div>
                        <div class="ot_d_promotionphotos">
                            <div id="jphoto">
                                <div id="wrap">
                                    <div id="controller" class="hidden">
                                    <if condition="count($promotionInfo['pictures']) neq 0">
                                        <iterate name="promotionInfo.pictures" id="vo">
                                            <span class="jFlowControl">No {$i}</span>
                                        </iterate>
                                    <else />
                                        <span class="jFlowControl">No 1</span>
                                    </if>
                                    </div>
                                    <div id="jphoto_prevNext">
                                        <div id="jphoto_prev">
                                            <if condition="count($promotionInfo['pictures']) gt 1">
                                            <img src="__PUBLIC__/images/jphoto/prev.jpg" alt="Previous Tab" class="jFlowPrev" />
                                            </if>
                                        </div>
                                        <div id="jphoto_next">
                                        <if condition="count($promotionInfo['pictures']) gt 1">
                                            <img src="__PUBLIC__/images/jphoto/next.jpg" alt="Next Tab" class="jFlowNext" />
                                        </if>
                                        </div>
                                        <div class="jphoto_link"><if condition="!count($promotionInfo['pictures'])"><a class="jphoto_link_text" href="{$Think.config.OUTSTREET_DIR}/shop/shop_provide_info/shoppage/3/shop_id/{$promotionInfo.id}/hash/{$promotionInfo.id|getHash}">加入圖片</a><else />&nbsp;</if></div>
                                    </div>
                                    <div id="slides">
                                        <if condition="count($promotionInfo['pictures']) neq 0">
                                            <iterate name="promotionInfo.pictures" id="vo">
                                                <div>
                                                    <div class="jphoto_img"><span class="jphoto_spn"></span><a href="{$Think.config.OUTSTREET_DIR}{$Think.config.PROMOTION_UPFILE_PATH}{$vo['file_path']}" class="thickbox image" rel="group"><img onload="javascript:DrawImage(this,202,152)" src="{$Think.config.OUTSTREET_DIR}{$Think.config.PROMOTION_UPFILE_PATH}{$vo['file_path']}" alt="photo"/></a></div><p id="jphotocontent" class="jphotocontent">{$i} of {$promotionInfo['pictures']|count}</p>
                                                    </div>
                                            </iterate>
                                        <else />
                                            <div>
                                                <div class="jphoto_img"><span class="jphoto_spn"></span><a style="z-index:10;color:#FFF;" href="{$Think.config.OUTSTREET_DIR}/shop/shop_provide_info/shoppage/3/shop_id/{$promotionInfo.id}/hash/{$promotionInfo.id|getHash}"><img style="padding-left:1px;" src="__PUBLIC__/images/jphoto/providephotobtn.jpg" width="73" height="26" alt="photo"/></a>
                                                </div>
                                            <p id="jphotocontent"></p>
                                            </div>
                                        </if>
                                    </div>
                                </div>
                            </div>
						</div>
                        {$promotionInfo.id|fbBtn='promotion',3,$authInfo['nick_name']}
                    </div>
                    <div class="ot_d_extra_info">
                        <div class="ot_d_extra_info_desc">
                        	<div class="ot_d_extra_info_tit">內容</div>
							{$promotionInfo.description}
                                <div class="ot_d_extra_info_space"></div>
                                <div class="ot_d_extra_info_tit">條款及細則</div>
                                {$promotionInfo.terms} 如有任何爭議，商戶保留最終決定權。
							<?php if ($promotionInfo['remarks']): ?>
                                <div class="ot_d_extra_info_space"></div>
                                <div class="ot_d_extra_info_tit">備註</div>
                                {$promotionInfo.remarks}
							<?php endif; ?>
                        </div>
                    </div>
                    <div class="clearBoth"></div>
                </div>
                <div class="clearBoth"></div>
            </div>
        </div>
        <?php $type = 'promotion'; ?>
        <include file="Public:div_review"/>
        <if condition="$authInfo">
            <include file="Public:div-reviewpreview" />
            <div class="ot_d_promotion_writereview">
             	<include file="Public:div-reviewform" />
            </div>
		<else/>
			<div class="clear"></div>
		</if>
    </div>
    <div class="ot_d_promotion_content_right">
		<div id="map_canvas" style="height:300px;"></div><br/>
        <include file="Public:div-btn_facebook" />
    </div>
    <div class="clearBoth"></div>
</div>
<div id='clear'></div>
<include file="Public:footer" />