<include file="Public:sa-header" />

	<div class="container">
		<h3>備份列表</h3>
		<div class="mainbox">
            <p class="
                <if condition="$status gt 0">sucinfo</if>
                <if condition="$status lt 0">errinfo</if>
                <if condition="$status==0">acinfo</if>
            ">
				{$actionInfo}
			</p>
			<table class="datalist fixwidth">
        		<form action="__APP__/SystemManagement/backuplist" onsubmit="return confirm('該操作不可恢復,您確定要刪除這些備份嗎?');" method="post">
					<tr>
						<th><input type="checkbox" name="chkall" id="chkall" onclick="$('.delops').attr('checked', function(){return !this.checked})" class="checkbox" /><label for="chkall">刪除</label></th>
						<th>備份名稱</th>
						<th>備份時間</th>
						<th>恢復</th>
					</tr>
                	<iterate name="backuplist" id="vo" offset="$offset" length="10">
						<tr title="{$vo}" class="mousetr">
							<td class="option"><input type="checkbox" class="delops" name="filename[]" value="{$vo.filename}" class="checkbox" /></td>
							<td>{$vo.filename}</td>
							<td>{$vo.createtime|date='Y-m-d H:i:s',###}</td>
							<td><a href="__ACTION__/do/restore/filename/{$vo.filename}" onclick="return confirm('您確定要恢復該備份嗎?')">恢復備份</a></td>
						</tr>
					</iterate>
            		<tr class="nobg">
						<td colspan="4">
							<input type="submit" name="submit" value="刪除所選" class="btn" />
							<input type="button" name="button" value="創建新備份" class="btn" onclick='location.href="__ACTION__/do/backup"' />
						</td>
					</tr>
            	</form>
            	<tr class="nobg">
					<td class="tdpage" colspan="4">{$multipage}</td>
				</tr>
			</table>
        </div>
    </div>

<include file="Public:sa-footer" />