<include file="Public:sa-header" />

    <div class="container">
        <h3>選項列表</h3>
        <div class="mainbox">
            <p class="
                <if condition="$status gt 0">sucinfo</if>
                <if condition="$status lt 0">errinfo</if>
                <if condition="$status==0">acinfo</if>
            ">
            	{$actionInfo}
            </p>
            <form action="__ACTION__" method="post">
                <table>
                    <tr>
                        <td>選項組</td>	
                        <td><input type="text" id="caption" name="caption" /></td>	
                        <td>新選項</td>	
                        <td><input type="text" name="option" /></td>	
                        <td><input type="submit" name="submit" value="添加" /></td>	
                    </tr>
                </table>
            </form>
            <table class="datalist fixwidth">
                <form action="__APP__/SystemManagement/inputlist" onsubmit="return confirm('該操作不可恢復,您確認要刪除這些選項嗎?');" method="post">
                	<tr>
                    	<th><input type="checkbox" name="chkall" id="chkall" onclick="$('.delops').attr('checked', function(){return !this.checked})" class="checkbox" /><label for="chkall">刪除</label></th>
                        <?php $sortcols = array( 'common_input_list.caption'=>'選項組','common_input_list.option'=>'選項'); ?>
						<?php foreach( $sortcols AS $key=>$val ): ?>
						<th><?php echo $val; ?><a href="__URL__/inputlist/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/inputlist/sort/{$key}/sortorder/desc">&#8593;</a></th>
						<?php endforeach; ?>
                	</tr>
                	<iterate name="inputlist" id="vo">
                        <tr title="{$vo}" class="mousetr">
                            <td class="option"><input type="checkbox" class="delops" name="id[]" value="{$vo.id}" class="checkbox" /></td>
                            <td class="caption">{$vo.caption}</td>
                            <td>{$vo.option}</td>
                        </tr>
                	</iterate>
                	<tr class="nobg">
                        <td colspan="2"><input type="submit" name="submit" value="刪除所選" class="btn" /></td>
                </form>
                        <td class="tdpage">{$multipage}</td>
                	</tr>
           		</table>
        </div>
    </div>

<include file="Public:sa-footer" />