<include file="Public:sa-header" />

    <div class="container">
    
        <h3>系統信息</h3>
        <ul class="memlist fixwidth">
            <li><em>商舖數量:</em>{$shopCount} 家</li>
        </ul>
        
        <h3>伺服器環境</h3>
        <ul class="memlist fixwidth">
        	<li><em>操作系統:</em>{$os}</li>
        	<li><em>Web服務:</em>{$webserver}</li>
        	<li><em>上傳限制:</em>{$fileupload}</li>
        	<li><em>DEBUG_MODE:</em>{$debugmode}</li>
        	<li><em>URL_MODEL:</em>{$urlmodel}</li>
        	<li><em>magic_quote_gpc:</em>{$magic_quote_gpc}</li>
        </ul>
            
        <h3>技術支援</h3>
        <ul class="memlist fixwidth"></ul>
        
	</div>
    
<include file="Public:sa-footer" />