{include:Public:sa-header}

<script>
</script>

<div class="container">
	<h3>列表(<a href="__URL__/add/" class="green">新增消息</a>)</h3>
	<div class="mainbox">
		<div>
			<form action="__URL__/listAll/" method="get">
				消息標題:<input type="text" name="title" value="{.title}" />
				<input type="submit" name="search" value="搜尋" />
			</form>
		</div>
		<table class="datalist fixwidth">
			<tr>
				<th></th>
				<th>ID</th>
				<th>標題</th>
				<th>內容</th>
				<th>刊登日期</th>
				<th>相片</th>
				<th></th>
			</tr>
			<?php foreach ( $rows AS $row ): ?>
				<tr>
					<td>
						<a href="javascript:;" onclick="doDelete( '<?php echo $row[ 'id' ] ?>' );">刪除</a>
					</td>
					<td><?php echo $row[ 'id' ] ?></td>
					<td><?php echo $row[ 'title' ] ?></td>
					<td><?php echo $row[ 'content' ] ?></td>
					<td><?php echo $row[ 'published_at' ] ?></td>
					<td>
						<?php foreach ( $row[ 'photos' ] AS $photo ): ?>
							<img src="<?php echo C( "OUTSTREET_DIR" ); ?>/Public/uploadimages/app_news/small_<?php echo $photo[ 'file' ] ?>"/>
							<?php break; ?>
						<?php endforeach; ?>
					</td>
					<td><a href="__URL__/edit?id=<?php echo $row[ 'id' ] ?>">修改</a></td>
				</tr>
			<?php endforeach; ?>
			<tr class="nobg">
				<td class="tdpage" colspan="9">{$multipage}</td>
			</tr>
		</table>
	</div>

</div>

<script>
	function doDelete( id )
	{
		if ( confirm( 'Confirm Delete?' ) )
		{
			$.post( '__APP__/app_news/delete', { id: id }, function() {
				location.reload();
			} );
		}
	}
</script>

{include:Public:sa-footer}