<include file="Public:sa-header" />
<load href="__PUBLIC__/sares/statistics.css" /> 
<script type="text/javascript">
	var n = Math.ceil({$eventCateCount} / 100); //每次ajax統計多少條()
	if (n > 100){
		n = 100; //每次最多統計100條 否則等待時間太長
	}

	var ajCount = 5; //ajax請求的最大幷發數量

	var i = 0; 
	var p = 0; //進度反饋 在ajax請求回來后加n
	
	//參數為每次發送的ajax請求數
	
	function StartPool(writeLogs){
			var btnS = $('#btnStart');
			var curP = $('#curProgreass');
			var workS = $('#workSpace');
			
			//ajSurplus表示還可以進行多少次ajax請求
			var ajSurplus = ajCount;
			
			while(true){
				//如果ajSurplus大於0  發起ajax請求
				if (i < {$eventCateCount} && ajSurplus > 0){
					ajSurplus-=1;

					$.getJSON('__URL__/doEventCate/limit/' + i + ',' + n,function(json){
						writeLogs(json);
						ajSurplus+=1;
						if (p == {$eventCateCount}){
							workS.val(workS.val() + '\n統計完畢!\n');
							btnS.val('開始統計');
							btnS.attr('disabled', false);
							i=0;
							p=0;
						}else{
							if (ajSurplus == ajCount){
								StartPool(writeLogs);
							}
						}
					});
					if (i+n <= {$eventCateCount}){
						i+=n;
					}else{
						i = {$eventCateCount};
					}					

				}else{
					break;
				}
			}
	}
	
	$().ready(function(){
		$('#btnStart').bind('click',function(){
			var btnS = $(this);
			var curP = $('#curProgreass');
			var workS = $('#workSpace');
			
			btnS.val('統計中...');
			btnS.attr('disabled', true);
			
			workS.val('發送統計初始化請求...\n');
			var respText = $.ajax({
				url:'__URL__/initEventCate',
				async: false
			}).responseText;
			workS.val(workS.val()+respText+'\n\n');	
			workS.val(workS.val()+'節目分類ID\t\t節目數量\n');

			var writeLogs = function(json){
				if (p+n <= {$eventCateCount}){
					p+=n;
				}else{
					p = {$eventCateCount};
				}

				for(key in json.data){
					workS.val(workS.val()+json.data[key].id + '\t\t' + json.data[key].event_count + '\n');
				}
				var w =  Math.ceil((100 / {$eventCateCount} * p)) + '%';
				$('#curProgressNum').text(w);
				curP.css('width', w);
				$('#curcount').text(p);
			};
			
			StartPool(writeLogs);
			
		});
	});
</script>

<div class="container">
	<p id="workinfo">
		<span class="spliter"></span><span class="spliter"></span>
		節目分類數:<span id="totalcount">{$eventCateCount}</span>, 已建立統計信息:<span id="curcount">0</span>。
	</p>
	<textarea id="workSpace" readonly="true"></textarea>
	<div id="progressBar">
		<span id="curProgressNum">0%</span>	
		<div id="curProgreass">
		</div>
	</div>
	<input type="button" id="btnStart" value="開始統計" />
</div>

<include file="Public:sa-footer" />