<include file="Public:sa-header" />
<load href="__PUBLIC__/sares/statistics.css" /> 
<script type="text/javascript">
var shopStatType = 1;
var totalCount   = {$totalCount};
var workSTitle   = '商戶編號\t商戶名稱\n\n';
var n = Math.ceil(totalCount / 100); //每次ajax統計多少條()
if (n > 100){
	n = 100; //每次最多統計100條 否則等待時間太長
}

var ajCount = 10; //ajax請求的最大幷發數量

var i = 0; 
var p = 0; //進度反饋 在ajax請求回來后加n

//參數為每次發送的ajax請求數
function StartPool(writeLogs){
	var btnS = $('#btnStart');
	var curP = $('#curProgreass');
	var workS = $('#workSpace');
	
	//ajSurplus表示還可以進行多少次ajax請求
	var ajSurplus = ajCount;
	
	while(true){
		//如果ajSurplus大於0  發起ajax請求
		if (i < totalCount && ajSurplus > 0){
			ajSurplus-=1;
			
			$.getJSON('__URL__/doshop/type/'+shopStatType+'/limit/'+i+','+n,function(json){
				writeLogs(json);
				ajSurplus+=1;
				if (p == totalCount){
					workS.val(workS.val() + '\n統計完畢!\n');
					btnS.val('開始統計');
					btnS.attr('disabled', false);
					i=0;
					p=0;
				}else{
					if (ajSurplus == ajCount){
						StartPool(writeLogs);
					}
				}
			});
			
			if (i+n <= totalCount){
				i+=n;
			}else{
				i = totalCount;
			}
		}else{
			break;
		}
	}
}

function writeLogsProgress(type,json) {
	var btnS = $(this);
	var curP = $('#curProgreass');
	var workS = $('#workSpace');
	
	switch(type) {
		case 1:
			btnS.val('統計中...');
			btnS.attr('disabled', true);
			
			workS.val('發送統計初始化請求...\n');
			var respText = $.ajax({
				url:'__URL__/initShop',
				async: false
			}).responseText;
			workS.val(workS.val()+respText+'\n\n');			
			workS.val(workS.val()+'開始統計...\n\n');
			workS.val(workS.val()+workSTitle);
		break;
		case 2:
		if (p+n <= totalCount){
				p+=n;
			}else{
				p = totalCount;
			}

			for(key in json.data){
				workS.val(workS.val()+json.data[key].shop_id + '\t' + json.data[key].shop_name + '\t\t\t\t' + json.data[key].count + '\n');
			}

			var w =  Math.ceil((100 / totalCount * p)) + '%';
			$('#curProgressNum').text(w);
			curP.css('width', w);
			$('#curcount').text(p);
		break;
	}
}

$().ready(function(){
	$('#btnChoose').bind('click',function(){
		shopStatType = $('#selectShopStatType').val();				  
		$.getJSON('__URL__/subShop/type/'+$('#selectShopStatType').val()+'/',function(json){
			shopStatType = $('#selectShopStatType').val();											 
			n = Math.ceil(json.data / 100);
			if (n > 100){
				n = 100;
			}
			$('#totalCount').text(json.data);
			$('#curcount').text(0);
			totalCount = json.data;
			n = Math.ceil(json.data/ 100);
			
			if(shopStatType == 1) {
				$('#shopStatTitle').text('統計每個商戶的信息');
				workSTitle = '商戶編號\t商戶名稱\n\n';
			} else if(shopStatType == 2) {
				$('#shopStatTitle').text('統計每個商戶的評論信息');
				workSTitle = '商戶編號\t商戶名稱\t\t\t\t評論數目\n\n';
			} else if(shopStatType == 3) {
				$('#shopStatTitle').text('統計每個商戶的圖片數目');
				workSTitle = '商戶編號\t商戶名稱\t\t\t\t圖片數目\n\n';
			} else if(shopStatType == 4) {
				$('#shopStatTitle').text('統計每個商戶的活動數目');
				workSTitle = '商戶編號\t商戶名稱\t\t\t\t活動數目\n\n';
			} else if(shopStatType == 5) {
				$('#shopStatTitle').text('統計每個商戶的用戶收藏數目');
				workSTitle = '商戶編號\t商戶名稱\t\t\t\t用戶收藏數目\n\n';
			}
		});
	});
	$('#btnStart').bind('click',function(){
		writeLogsProgress(1,'');

		var writeLogs = function(json){
			writeLogsProgress(2,json);		
		};
		
		StartPool(writeLogs);
	});
});
</script>

<div class="container">
	<p id="workinfo">
		<span id="shopStatTitle" style="color:#F00">{$shopStatTitle}</span><br />
		待審核總數<span id="totalCount">{$totalCount}</span>, 已建立統計信息:<span id="curcount">0</span>。
	</p>
	<textarea id="workSpace" readonly="true"></textarea>
	<div id="progressBar">
		<span id="curProgressNum">0%</span>	
		<div id="curProgreass"></div>
	</div>
    <form>
        <div>
            <span id="workinfo" style="width:200px;">
                <select name"selectShopStatType" id="selectShopStatType" >
                	<option value="1">統計每個商戶的信息</option>
                    <option value="2">統計每個商戶的評論信息</option>
                    <option value="3">統計每個商戶的圖片數目</option>
                    <option value="4">統計每個商戶的活動數目</option>
                    <option value="5">統計每個商戶的用戶收藏數目</option>
                </select>
            </span>
            <span><input type="button" id="btnChoose" value="選擇"/>&nbsp;<input type="button" id="btnStart" value="開始統計" /></span>
        </div>
    </form>
</div>

<include file="Public:sa-footer" />