﻿<script type="text/javascript">
	$(document).ready(function(){
		$('.tabs > ul').hide();

		$('.tabs > h3').click(
			function(){
				//$('.tabs > ul').hide();
				$(this).toggleClass('open');
				$('#' + $(this).attr('name')).toggle();
			}
		);
		$('.tabs li').click(
			function(){
				$('.tabs li').removeClass('selected');
				$(this).toggleClass('selected');
			}
		);
	});
</script>

<div class="menu">
	<div class="tabs">
		<h3 name="menu-system">系統管理</h3>
		<ul id="menu-system">
			<li><a href="__APP__/Systemmanagement/main">管理首頁</a></li>
			<!---<li><a href="__APP__/Systemmanagement/backuplist">數據備份</a></li>
			<li><a href="__APP__/Systemmanagement/inputlist">預置選項</a></li>--->
		</ul>
	</div>
	<div class="tabs">
		<h3 name="menu-news">最新動態</h3>
		<ul id="menu-news">
			<li><a href="__APP__/News/listAll">最新動態列表</a></li>
			<li><a href="__APP__/News/add">添加最新動態</a></li>
		</ul>
	</div>
	<div class="tabs">
		<h3 name="menu-poster">海報管理</h3>
		<ul id="menu-poster">
			<li><a href="__APP__/Poster/listAll">海報列表</a></li>
			<li><a href="__APP__/Poster/add">添加海報</a></li>
		</ul>
	</div>
	<div class="tabs">
		<h3 name="menu-keyword">熱門搜尋</h3>
		<ul id="menu-keyword">
			<li><a href="__APP__/Keyword/add">加入/修改</a></li>
		</ul>
	</div>
	<div class="tabs">
		<h3 name="menu-event">節目管理</h3>
		<ul id="menu-event">
			<li><a href="__APP__/Event/listAll">節目列表</a></li>
		</ul>
	</div>
	<div class="tabs">
		<h3 name="menu-promotion">優惠管理</h3>
		<ul id="menu-promotion">
			<li><a href="__APP__/Promotion/listAll">優惠列表</a></li>
            <li><a href="__APP__/Promotion/promotionEdit/type/add">新增優惠</a></li>
		</ul>
	</div>
	<div class="tabs">
		<h3 name="menu-shop">商戶管理</h3>
		<ul id="menu-shop">
            <li><a href="__APP__/Shop/listAll">商戶列表</a></li>
            <li><a href="__APP__/Shoppdf/listAll">商戶PDF列表</a></li>
            <li><a href="__APP__/Shopnews/listAll">商戶消息列表</a></li>
			<li><a href="__APP__/Shopbrand/listAll">品牌列表</a></li>
            <li><a href="__APP__/Shoprequest/listShopAudit">評審商戶列表</a></li>
			<li><a href="__APP__/Shoprequest/listShopPicAudit">評審相片列表</a></li>
			<li><a href="__APP__/Owner/listAll">店主列表</a></li>
			<li><a href="__APP__/Shopexcel/listAll" target="_top">加入商戶(Excel)</a></li>
		</ul>
	</div>
	<div class="tabs">
		<h3 name="menu-app-shop">App商戶管理</h3>
		<ul id="menu-app-shop">
			<li><a href="__APP__/app_shop/listAll">商戶列表</a></li>
			<li><a href="__APP__/app_shop/add">新增商戶</a></li>
			<li><a href="__APP__/app_shop/stats">商戶統計</a></li>
			<li><a href="__APP__/app_featured/listAll">頭版商戶列表</a></li>
			<li><a href="__APP__/app_featured/add">新增頭版商戶</a></li>
		</ul>
	</div>
	<div class="tabs">
		<h3 name="menu-app_category">App目錄管理</h3>
		<ul id="menu-app_category">
			<li><a href="__APP__/app_category/listAll">目錄列表</a></li>
		</ul>
	</div>
	<div class="tabs">
		<h3 name="menu-app_news">App消息管理</h3>
		<ul id="menu-app_news">
			<li><a href="__APP__/app_news/listAll">消息列表</a></li>
			<li><a href="__APP__/app_news/add">新增消息</a></li>
		</ul>
	</div>
    <div class="tabs">
		<h3 name="menu-thread">討論區管理</h3>
		<ul id="menu-thread">
            <li><a href="__APP__/Thread/threadlist">主題列表</a></li>
		</ul>
	</div>
	<div class="tabs">
		<h3 name="menu-member">會員</h3>
		<ul id="menu-member">
			<li><a href="__APP__/RestrictedName/listAll">限制名稱</a></li>
			<li><a href="__APP__/RestrictedName/examinelist">留言審核</a></li>
            <li><a href="__APP__/Review/listAll">評介列表</a></li>
            <li><a href="__APP__/User/listall">會員列表</a></li>
		</ul>
	</div>
    <div class="tabs">
		<h3 name="menu-statistics">重建統計</h3>
		<ul id="menu-statistics">
			<li><a href="__APP__/Statistics/shop">統計商戶</a></li>
			<li><a href="__APP__/Statistics/event">統計節目</a></li>
			<li><a href="__APP__/Statistics/user">統計用戶</a></li>
			<li><a href="__APP__/Statistics/locationMain">統計主地區</a></li>
			<li><a href="__APP__/Statistics/locationSub">統計子地區</a></li>
			<li><a href="__APP__/Statistics/shopCate">統計商戶分類</a></li>
			<li><a href="__APP__/Statistics/eventCate">統計節目分類</a></li>
		</ul>
	</div>
    <div class="tabs">
		<h3 name="menu-log">統計</h3>
		<ul id="menu-log">
			<li><a href="__APP__/Log/appStats">App統計</a></li>
			<li><a href="__APP__/Log/webStats">Web統計</a></li>
		</ul>
	</div>
</div>

<div class="menufooter">
	Powered by <a href="#" target="_blank"></a> <br />&copy; 2009
</div>