<if condition="$box eq 1">
	<style type="text/css" >
	#msgbox{
		height:150px;
		margin:0 auto;
		text-align: center;
		background-color:#fff;
		width:100%;
	}
	
	#msgbox h2{
		font-size:14px;
		line-height:24px;
		color:#336;
		background-color:#def;	
		text-align: left;
		padding-left:10px;
	}
	#msgtable{
		font-size: 12px;
		width: 90%;
		margin: 20px auto 0 auto;
		text-align:center;
		border-collapse:collapse;
	}
	#msgtable td{
		border: #def solid 1px;
	}
	#msgtable td.msghead{
		padding: 5px;
		font-weight:bold;
	}
	#msgtable td.msgbody{
		padding: 20px;
	}
	#msgbox a{
		font-weight:400;
		font-size:13px;
		color:#666666;
	}
	#msgbox a:hover{
		font-weight:500;
		font-size:13px;
		color:#e54600;
	}
	</style>
	<include file="Public:box-header" />
		
		<div id="msgbox">
			<!--<if condition="$status">
				<h2 align="center">操作成功!</h2>
			<else />
				<h2 align="center">出錯啦!</h2>
			</if>-->
			
			<table id="msgtable">
				<tr>
					<td class="msghead">提示信息</td>
				</tr>
				<tr>
					<td class="msgbody">
						{$message}!<br /><br />
						<if condition="$status">
							<if condition="empty($jumpUrl)">							
								<a href="javascript:parent.tb_remove();parent.reload();">本窗口將在 {$waitSecond} 秒後自動關閉，點撃這裡直接關閉...</a>
							<else />
								<a href="javascript:parent.tb_remove();parent.location='{$jumpUrl}';">本窗口將在 {$waitSecond} 秒後自動關閉，點撃這裡直接關閉...</a>
							</if>
						<else />
							<a href="{$jumpUrl}">頁面將在 {$waitSecond}秒後返回，點擊這里直接返回...</a>
						</if>
					</td>
				</tr>
			</table>
		</div>
	
	<script type="text/javascript">
		<if condition="$status">
			<if condition="empty($jumpUrl)">
				setTimeout("parent.tb_remove();parent.location.reload()", {$waitSecond} * 1000);
			<else />
				setTimeout("parent.tb_remove();parent.location='{$jumpUrl}'", {$waitSecond} * 1000);
			</if>
		<else />
			setTimeout("window.location='{$jumpUrl}'", {$waitSecond} * 1000);
		</if>
	</script>   
	
			
	<include file="Public:box-footer" />
			
<else />


	<include file="Public:header" />
	
	<style type="text/css" >
	#msgbox{
		height:160px;
		margin:0 auto;
		text-align: center;
		background-color:#fff;
	}
	
	#msgbox h2{
		font-size:14px;
		line-height:24px;
		color:#336;
		background-color:#def;	
		text-align: left;
		padding-left:10px;
	}
	#msgtable{
		font-size: 12px;
		width: 90%;
		margin: 20px auto 0 auto;
		text-align:center;
		border-collapse:collapse;
	
	}
	#msgtable td{
		border: #def solid 1px;
	}
	#msgtable td.msghead{
		padding: 5px;
		font-weight:bold;
	}
	#msgtable td.msgbody{
		padding: 20px;
	}
	#msgbox a{
		font-weight:400;
		font-size:13px;
		color:#666666;
	}
	#msgbox a:hover{
		font-weight:500;
		font-size:13px;
		color:#e54600;
	}
	</style>
		<div id="msgbox">
			<!--<if condition="$status">
				<h2 align="center">操作成功!</h2>
			<else />
				<h2 align="center">出錯啦!</h2>
			</if>-->
			<table id="msgtable">
				<tr>
					<td class="msghead">提示信息</td>
				</tr>
				<tr>
					<td class="msgbody">
						{$message}!<br /><br />
						<if condition="$status">
							<a href="javascript:window.location='{$jumpUrl}';">本窗口將在 {$waitSecond}  秒後自動跳轉到下一頁，點撃這裡直接跳轉...</a>
						<else />
							<a href="{$jumpUrl}">頁面將在 {$waitSecond} 秒後自動跳轉到下一頁，點撃這裡直接跳轉...</a>
						</if>
					</td>
				</tr>
			</table>
			
		</div>
	
		<script type="text/javascript">
			setTimeout("window.location='{$jumpUrl}'", {$waitSecond} * 1000);
		</script>   
		
			
	<include file="Public:footer" />
	
		

</if>
