<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" /> 
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" /> 
<script type="text/javascript">
$(document).ready(function(){
	$('#start_date').datepick({dateFormat:'yyyy-mm-dd'});
	$('#end_date').datepick({dateFormat:'yyyy-mm-dd'});
});
</script>

<div class="container">
	<h3>統計</h3>
	<div class="mainbox">
		<div>
			<form action="__URL__/appStats/" method="get">
				時間:<input type="text" style="width: 100px;" id="start_date" name="start_date" value="{$start_date}"/>-<input type="text" style="width: 100px;" id="end_date" name="end_date" value="{$end_date}"/>
				<br/>
				<table>
					<tr>
						<td align="right"><label>Hourly Unique <input type="radio" name="unique_time" value="h"<?php echo $unique_time!='d'||$unique_time!='m'?' checked':''?>/></label></td>
						<td align="right"><label>Daily Unique <input type="radio" name="unique_time" value="d"<?php echo $unique_time=='d'?' checked':''?>/></label></td>
						<td align="right"><label>Monthly Unique <input type="radio" name="unique_time" value="m"<?php echo $unique_time=='m'?' checked':''?>/></label></td>
					</tr>
				</table>
				<input type="submit" name="search" value="搜尋" />
			</form>
		</div>
		<table class="datalist fixwidth">
			<tr>
				<th>日期時間</th>
				<th>數目</th>
			</tr>
			<iterate name="statslist" id="vo">
				<tr class="mousetr">
					<td width="50%">{$vo.date}</td>
					<td width="50%">{$vo.count}</td>
				</tr>
			</iterate>
			<tr class="nobg">
				<td class="tdpage" colspan="6">{$multipage}</td>
			</tr>
		</table>
	</div>
</div>

<include file="Public:sa-footer" />