<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" /> 
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" /> 
<script type="text/javascript">
$(document).ready(function(){
	$('#start_date').datepick({dateFormat:'yyyy-mm-dd'});
	$('#end_date').datepick({dateFormat:'yyyy-mm-dd'});
});
</script>

<div class="container">
	<h3>統計</h3>
	<div class="mainbox">
		<div>
			<form action="__URL__/webStats/" method="get">
				時間:<input type="text" style="width: 100px;" id="start_date" name="start_date" value="{$start_date}"/>-<input type="text" style="width: 100px;" id="end_date" name="end_date" value="{$end_date}"/>
				<input type="submit" name="search" value="搜尋" />
			</form>
		</div>
		<table class="datalist fixwidth">
			<tr>
				<th>Date</th>
				<th>Page View</th>
				<th>Visit</th>
				<th>Redirect</th>
			</tr>
			<iterate name="statslist" id="vo">
				<tr class="mousetr">
					<td width="25%">{$vo.date}</td>
					<td width="25%">{$vo.page_view}</td>
					<td width="25%">{$vo.visit}</td>
					<td width="25%">{$vo.redirect}</td>
				</tr>
			</iterate>
			<tr class="nobg">
				<td class="tdpage" colspan="6">{$multipage}</td>
			</tr>
		</table>
	</div>
</div>

<include file="Public:sa-footer" />