<script type="text/javascript" src="//ad.unimhk.com/floating320.php?id=ywi5y2y2owjhnzk1"></script>
<script>

    var trackingArr = [ ];
    var trackingText = '';

    document.title = "<?php echo $title ?>";

    var interval = setInterval( function () {

        if ( $( '.gemini-loaded' ).length ) {
            clearInterval( interval );
            start();
        }

    }, 100 );

    function start()
    {
        var $gemini = $( '.gemini-loaded' );
        var url = String( $gemini.attr( 'onclick' ) )
                .replace( /^window\.open\([\s*\'\"]+/, '' )
                .replace( /[\s*\'\"]+\)$/, '' );

        if ( url ) {

            trackingArr.push( url );
            trackingText = $gemini.text();

            $.post( '__ROOT__', { m: 'tracking', a: 'convert', code: "<?php echo $_REQUEST[ 'code' ] ?>", length: trackingArr.length }, function ( data ) {
                $( data ).appendTo( 'body' );
            } );

            if ( mobile ) {
                ga( 'tracker1.send', 'event', 'tracking', 'page_mobile', trackingText + ' - ' + document.title );
            } else {
                ga( 'tracker1.send', 'event', 'tracking', 'page_desktop', trackingText + ' - ' + document.title );
            }
        }

    }

</script>