@charset "utf-8";

#jposter_frame{
	height: 176px;
	background-image: url(../../images/jposter/jposter_frame.jpg);
	background-repeat:no-repeat;
	overflow:hidden;
}
#jposter_frame a:hover{
	text-decoration:none;
	cursor:pointer;	
}
#jposter_frame #jposter_header_set{
	height:25px;
	padding-top:10px;
	padding-right:5px;
}
#jposter_frame #jposter_content_set{	
	float:left;
	position:relative;
	top:9px;
	left:10px;
}
#jposter_frame .jposter_content{
	position:relative;
	top:10px;	
	overflow:hidden;
	width:400px;
	display:none;
}
#jposter_frame .jposter_content_pic{	
	width:160px;
	height:120px;
	float:left;
}
#jposter_frame .jposter_content_text{	
	float:left;
	width:236px;
}
#jposter_frame .jposter_content_title{
	margin:6px 0 0 11px;
	color:#003A6B;
	font-size:15px;
	font-family:"新細明體";
}
#jposter_frame .jposter_content_lead{
	margin:9px 0 0 11px;
	color:#000;
	font-size:13px;	
	font-family:"新細明體";
	word-break:normal;	
	height:95px;
	overflow:hidden;
}
#jposter_frame .jposter_prev{
	position:relative;
	float:left;
	left:26px;
	top:-82px;
	z-index:10;
	display:none;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:pointer;	
}
#jposter_frame .jposter_next{
	position:relative;
	float:right;
	right:26px;
	top:-82px;
	z-index:10;
	display:none;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:pointer;
}