<include file="Public:sa-header" />
<script type="text/javascript">
$(document).ready(function(){

});
</script>
<div class="container">
	<h3>海報列表</h3>
	<div class="mainbox">
		<form action="__APP__" method="post">
		<input type="hidden" name="m" value="keyword" />
		<input type="hidden" name="a" value="doAdd" />
		<table align="left" cellpadding="0" cellspacing="5">
        <?php for($i = 0; $i < 10; $i++) { ?>
        	<?php $j = $i + 1; ?>
            <tr>
                <td style="width: 25%;"><label><b>*</b> 熱門搜尋<?php print $j?>:</label></td>
                <td style="width: 50%;"><input type="text" name="keywords[]" value="{$keywords[$i]}" /></td>
                <td style="width: 25%;" align="left">
                    <select name="type[]">
                        <option <?php if($types[$i] == 'shop') { ?> selected <?php } ?> value="shop">商舖</option>
                        <option <?php if($types[$i] == 'event') { ?> selected <?php } ?> value="event">節目</option>
                    </select>
                </td>
            </tr>
        <?php } ?>
        <tr>
			<td valign="bottom" colspan="3" align="right">
				<input class="red-button" type="submit" value="加入" />
			</td>
		</tr>
		</table>
		</form>

	</div>
	
</div>
<include file="Public:sa-footer" />