<include file="Public:sa-header" />

<script type="text/javascript">

function confirmDelete() {
	
	if (confirm("此操作不能返回!確定刪除??")) {
		alert('刪除成功!!!');
	} else return false;
	
}

</script>

<div class="container">
	<h3>討論區主題列表</h3>
	<div class="mainbox">
		<p class="
			<if condition="$status gt 0">sucinfo</if>
			<if condition="$status lt 0">errinfo</if>
			<if condition="$status==0">acinfo</if>
		">
		{$actionInfo}
		</p>
        <table class="datalist fixwidth">
            <tr>
            	<?php $sortcols = array( 'summary'=>'主題','board_name'=>'所屬板塊','create_time'=>'發布時間','user_name'=>'發表者','is_top'=>'置頂狀態','is_recommend'=>'首頁黃框推介(3個名額)'); ?>
				<?php foreach( $sortcols AS $key=>$val ): ?>
					<th><?php echo $val; ?><a href="__URL__/threadlist/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/threadlist/sort/{$key}/sortorder/desc">&#8593;</a></th>
				<?php endforeach; ?>
                <th>刪除</th>
            </tr>
            <form action="__APP__/Thread/threadlist" method="get">
                <iterate name="threadList" id="vo">
                    <tr title="{$vo.summary}" class="mousetr">
                        <td>
                            <strong><a href="{$threadlink}{$vo.id}" target="_blank">{$vo.summary|msubstr=###,0,12}</a></strong>
                        </td>
                        <td><a href="{$boardlink}{$vo.board_id}" target="_blank">{$vo.board_name}</a></td>
                        <td class="date">{$vo.create_time|date='Y/m/d H:i',###}</td>
                        <td>{$vo.user_name}</td>
                        <td style="color:#f00">
                            <switch name="vo.is_top">
                                <case value="1">
                                    <a href="__ACTION__/id/{$vo.id}/top/0/p/{.p}">非置頂</a> 本版置頂 <a href="__ACTION__/id/{$vo.id}/top/2/p/{.p}">全局置頂</a>
                                </case>
                                <case value="2">
                                    <a href="__ACTION__/id/{$vo.id}/top/0/p/{.p}">非置頂</a> <a href="__ACTION__/id/{$vo.id}/top/1/p/{.p}">本版置頂</a> 全局置頂
                                </case>
                                <default />非置頂 <a href="__ACTION__/id/{$vo.id}/top/1/p/{.p}">本版置頂</a> <a href="__ACTION__/id/{$vo.id}/top/2/p/{.p}">全局置頂</a>
                            </switch>
                        </td>
                        <td>
                            <if condition="$vo.is_recommend eq 0">
                                <a href="__ACTION__/recommendid/{$vo.id}/{&VAR_PAGE}/{$page}" class="green">未推介</a>
                            <else/>
                                <a href="__ACTION__/recommendid/{$vo.id}/{&VAR_PAGE}/{$page}" class="red">已推介</a>
                            </if>
                        </td>
                        <td>
                            <a href="__ACTION__/id/{$vo.id}/del/1" onclick="return confirmDelete()">刪除</a>
                        </td>
                    </tr>
                </iterate>
            </form>
            <tr class="nobg">
                <td class="tdpage" colspan="7">{$multipage}</td>
            </tr>
        </table>
	</div>
</div>

<include file="Public:sa-footer" />