div#wrapper {
	
}

div#maps {
	border: #abc 1px dashed;
	background: #def;
	height: 600px;
}

#resizable {
	width: 100px;
	height: 100px;
	padding: 0.5em;
	background: #f00;
}

div#debug {
	background: #abc;
	padding: 10px;
	width: 100%;
}

div.tabContent {
	width: 90%;
}

div#floatPanel {
	z-index: 9;
	background: #def;
	width: 270px;
	padding: 15px 10px 5px 10px;
	right: 10px;
	top: 40px;
	position: absolute;
}

div#floatPanel ul {
	background: #fff;
	padding: 4px;
	list-style: none;
}