/* -------------------------------------------------- /
    Mask
/ -------------------------------------------------- */

.mask-wrapper {
    position: relative;
    overflow: hidden;
	width: 100%;
	height: 100%;
}

.mask-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mask-wrapper .mask-target {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.mask-wrapper .mask-target.invisible {
    position: absolute;
    z-index: -999;
    visibility: hidden;
}

.fb-like-wrapper {
    width: 51px;
    height: 20px;
    overflow: hidden;
    position: relative;
}

.fb-like-wrapper {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.fb-like-wrapper {
    margin-top: -10px;
    margin-left: -40px;
}

.fb-like-wrapper > .fb-like-box {
    position: absolute;
    top: -33px;
    left: -65px;
}

#otmainbody {
	position: relative;
}
.otmainbody-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
}