@charset "utf-8";

/* START: Outstreet Forum Box */
#outstreet-forum-box {
}

#outstreet-forum-box .header {
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/outstreet-forum-box.gif);
}

#outstreet-forum-box .content {
	background-image: url(../images/backgrounds/boxes/content/outstreet-forum-box.gif);
}

#outstreet-forum-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/outstreet-forum-box.gif);
}

#outstreet-forum-box .content table {
	width: 951px;
}

#outstreet-forum-box .content table thead th {
	height: 26px;
	line-height: 26px;
	font-weight: normal;
	text-align: left;
}
#outstreet-forum-box .content table tbody td {
	height: 34px;
	border-top: 1px solid #eff6fe;
	vertical-align: middle;
}
#outstreet-forum-box .content table tbody td.forum-folder {
	background: url(../images/icons/forum-folder.gif) no-repeat center;
}
/* END: Outstreet Forum Box */

/* START: Forum Main Box */
#forum-main-box {
	padding-bottom: 5px;
}

#forum-main-box .header {
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/forum-main-box.gif);
}

#forum-main-box .content {
	background-image: url(../images/backgrounds/boxes/content/forum-main-box.gif);
}

#forum-main-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/forum-main-box.gif);
}
#forum-main-box .content table {
	width: 951px;
}

#forum-main-box .content table thead th {
	height: 26px;
	line-height: 26px;
	font-weight: normal;
}
#forum-main-box .content table tbody td {
	height: 34px;
	border-top: 1px solid #eff6fe;
	vertical-align: middle;
}
#forum-main-box .content table tbody td.forum-topic	{ background: url(../images/icons/forum-topic.gif) no-repeat center; }
#forum-main-box .content table tbody td.forum-poll	{ background: url(../images/icons/forum-poll.gif) no-repeat center; }

#forum-main-box .content table tbody td.forum-author,
#forum-main-box .content table tbody td.forum-reply-view {
	font-size: 11px;
}
#forum-main-box .content table tbody td.forum-author span.date		{ color: #808080; }
#forum-main-box .content table tbody td.forum-reply-view span.reply	{ color: #46cdff; }

#forum-main-box .content table tbody td.forum-lastpost				{ color: #808080; }
/* END: Forum Main Box */

/* Start: Forum*/
.forum_posttit{
	font-size:15px;
	font-weight:bold;
	position:absolute;
	margin-right:350px;
}
.forum_replytitle {
	width:500px;
}
.forum_replycontent {
	width:500px;
}
.forum_addcontent {
	width:450px;
}
.forum_addtitle {
	width:450px;
}
.forum_author{
	padding-bottom:100px;
}
#forum-function-box .content .btnnew-topic{
	width:62px;
	height:22px;
	background-image: url(../images/buttons/forum_newtopic.jpg);
	background-repeat: no-repeat;
	text-indent: -9999px;
	display:table-cell;
	cursor:pointer;
}
#forum-function-box .content .btnnew-topic:hover{
	background-position: 0px -22px;
}
#forum-function-box .content a.new-topic:hover {
	background-position: 0px -21px;
}

#forum-function-box .content a.new-poll:hover {
	background-position: 0px -21px;
}
#post_box .btnview-complain_pos{
	float:right;
	position:relative;
}
#post_box .btnview-complain{
	width:48px;
	height:22px;
	padding-right:4px;
	background-image: url(../images/buttons/forum_complain.jpg);
	background-repeat: no-repeat;
	text-indent: -9999px;
	display:table-cell;
	cursor:pointer;
	position:relative;
}
#post_box .btnview-complain:hover{
	background-position: 0px -22px;
}
#post_box .ban_replypost{
	border-style:dotted;
	background-color:#fefccc;
	padding: 3px 7px 3px 7px;
	border-width:1px;
	position:absolute;
}
/* End: Forum*/

table#add_thread {
	margin: 10px 0;
	width: 100%;
}

table#add_thread td,table#add_thread th {
	padding: 5px 10px;
	vertical-align: top;
	border: 1px solid #def;
}

table#add_thread th {
	background: #def;
}

table#add_thread td#editor td {
	border: none;
	padding: 2px;
}

div#post_box {
	width: 951px;
}

div#post_box table td.header {
	padding-left: 8px;
	line-height: 24px;
}

div#post_box table td.header a:hover {
	text-decoration: underline;
}

div#post_box table {
	margin: 0 auto;
	border: 1px #def solid;
	width: 100%;
}

div#post_box table td {
	vertical-align: top;
	padding: 5px 0;
}

div#post_box table td.j {
	width: 170px;
	background: #d3e8f2;
}

div#post_box table td.x {
	width: 170px;
	height: 5px;
	background: #d3e8f2;
}

div#post_box table td.pager {
	background: #ebf2f8;
	text-align: right;
	padding: 10px 10px;
}

div#post_box table td.p {
	background: #ebf2f8;
}

div#post_box table td.author {
	background: #ebf2f8;
	text-align: center;
}

div#post_box table td.author img {
	width: 100px;
}

div#post_box table.post {
	border: none;
	width: 98%;
}

div#post_box table.post td {
	border: none;
	padding: 5px 0;
}

div#post_box table.post td.summary {
	font-weight: bold;
	font-size: 14px;
}

div#post_box table.post td.postinfo {
	border-bottom: dashed 1px #ccc;
}

div#post_box table.post td.date {
	font-size: 90%;
	text-align: right;
}

div#post_box table.post span.mark {
	float: right;
}

a.smlbtn {
	display: inline;
	padding: 3px 5px;
	background: #f8f8f8;
	border: solid 1px #666;
	color: #333;
}

#body {
	height: 150px;
}