@charset "utf-8";
/* CSS Document */

#ot_d_body_header .ot_d_search_bar .ot_d_pop_search_bar .ot_h_pop_search_title {
	right:320px;
	float:right;
	position:absolute;
}
#ot_d_body_header .ot_d_search_bar .ot_d_search_box .ot_o_searchcat{
	top:-2px;
	position:relative;
}
.ot_i_searchbox_input_button{
	position:relative;
    top:-2px;
}
#ot_d_body_header .ot_d_search_bar .ot_d_search_box select {
	margin: 0px 0px 0px 0px;
}
.ot_i_searchbox_input{
	position:relative;
    top:1px;
}

#ot_d_tabs_box .content .tab-content .newshow_line{
	padding-top:20px;	
}

#ots06_o_newest_reviewers_box {
	width:200px;
}

/* Start For Shop Add and Edit Form */
.build_shop {
	float: left;
}
.send2 {
	float: left;
}
.send3 {
	float: left;
}
/* End For Shop Add and Edit Form */

#ot_d_load_box form .ot_d_data_3lvl{
	margin-left:0px;
}
#ot_d_load_box form .ot_d_data_4lvl{
	padding-left:0px;
}

#ot_d_merchant_info_box .ot_d_content .ot_d_info .ot_d_info_pos .ot_d_shopfacebook{
	padding: 0px 0px 12px 5px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_header .ot_d_merchant_news_tit{
	line-height:20px;
}
#ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures{
	margin-top:5px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon{
	padding: 0px 0px 0px 0px;
}
#ot_d_merchant_comments_box .ot_d_content ul li .ot_d_reviewfacebook{
	padding-top:0px;
	margin-top:-20px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_icon{
	padding-bottom:1px;
	margin-bottom:-1px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news{
	padding-top:2px;
	line-height:18px;
}
#ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review6icons .ot_d_review6icons_shorttxt{
	line-height:20px;
}
#ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review6icons .ot_d_review6icons_longtxt{
	line-height:20px;
}

#ot_d_promotion_info_box .ot_d_content .ot_d_info .ot_d_info_pos .ot_d_shopfacebook{
	padding: 0px 0px 12px 5px;
}
.ot_d_menu_container .first_level_li{
	height:14px;
}