@charset "utf-8";
/* CSS Document */

#ot_d_body_header .ot_d_search_bar .ot_d_pop_search_bar .ot_h_pop_search_title {
	right:340px;
	float:right;
}

.ot_i_searchbox_input_button{
	position:relative;
    top:-2px;
}

.ot_i_searchbox_input{
	position:relative;
    top:3px;
}

#ot_d_tabs_box .content .tab-content .newshow_line{
	padding-top:20px;	
}

#ot_d_newest_merchants_index .ot_d_content .ot_o_browse_merchants_list li {
	margin: 10px 10px 10px 0px;
}

#ot_d_category_box {
	width: 207px;
	
}

#ots06_o_newest_reviewers_box {
	width:200px;
}
.ot_d_google_listbox_span .ot_d_google_listbox_pic_frame{
	margin: 8px 0px 8px 4px;
}

.ot_d_google_listbox_span .ot_d_google_listbox_onlyinfo{
	margin: 8px 7px 8px 4px;
	width:260px;
}
#ot_d_load_box form .ot_d_data_4lvl{
	padding-left:0px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_info .ot_d_info_pos .ot_d_shopfacebook{
	padding: 0px 0px 12px 5px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_header .ot_d_merchant_news_tit{
	line-height:20px;
}
#ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures{
	margin-top:5px;
}
#ot_d_merchant_comments_box .ot_d_content ul li .ot_d_reviewfacebook{
	padding-top:0px;
	margin-top:-20px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_icon{
	padding-bottom:2px;
	margin-bottom:-1px;
}
#ot_d_shop_content .ot_d_shop_content_right {
	padding: 0px;
}	
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news{
	padding-top:2px;
	line-height:18px;
}
#ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review6icons .ot_d_review6icons_shorttxt{
	line-height:20px;
}
#ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review6icons .ot_d_review6icons_longtxt{
	line-height:20px;
}

#ot_d_promotion_info_box .ot_d_content .ot_d_info .ot_d_info_pos .ot_d_shopfacebook{
	padding: 0px 0px 12px 5px;
}
.ot_d_menu_container .first_level_li{
	height:14px;
	line-height:14px;
}