@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
#body-content {
    width: 965px;

}
#body-content-full {
    background: #FFF ;
    padding-left: 15px;
    padding-bottom: 30px;
    padding-top: 15px;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    outline: none;
}

body {
    font-family: Arial, MingLiu, Helvetica, sans-serif;
    background-color: #ebf4fb;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    background-image:url(../images/backgrounds/bg.jpg);
    background-repeat:repeat-x;
}
.error{
    margin:0px 5px 0px 0px ;
}
.pos_right{
    float:right;
}
.pos_right_margin{
    margin-right: -3px;
}
a, a:hover, a:link, a:visited, a:active {
    color: #2155B5;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.ot_d_clearBoth { clear: both; height: 0px; font-size: 0px; line-height: 0px; }

#ot_d_body_wrapper {
    width: 980px;
    margin: 0 auto;
    padding-bottom: 10px;
}

#ot_d_body_header {
    width: 100%;
}

#ot_d_body_header .header-top {
    height: 17px;
    text-align: right;
    color: #FFF;
}
#ot_d_body_header .header-top a {
    color: #FFF;
}

#ot_d_body_header .header-top a:hover { color: #222222; }

#ot_d_body_header .banner {
    height: 104px;
    background: url(../images/backgrounds/body-header.jpg) no-repeat left;
}
#ot_d_body_header h1.logo {
    display: block;
    float: left;
    height: 104px;
    width: 200px;
}
#ot_d_body_header h1.logo a {
    display: block;
    height: 104px;
    width: 200px;
    text-indent: -9999px;
}

#ot_d_body_header .ad-banner {
    display: block;
    float: right;
    width: 760px;
    height: 91px;
    padding-right: 12px;
    padding-top: 7px;
    text-align: right;
}

#ot_d_body_header .ot_d_search_bar {
    height: 31px;
    line-height: 30px;
    background-color: #e0f7ff;
    padding: 0 12px 0 12px;
    background-color:#444444;
}

#ot_d_body_header .ot_d_search_bar .ot_d_search_box {
    float: left;
}

#ot_d_body_header .ot_d_search_bar .ot_d_search_box ul li {
    display: block;
    float: left;
    margin-right: 5px;
    height: 30px;
}

#ot_d_body_header .ot_d_search_bar .ot_d_search_box ul li .ot_f_t_searchtable td{
    padding: 3px 3px 3px 3px;
}
#ot_d_body_header .ot_d_search_bar .ot_d_search_box ul li .ot_f_t_searchtable .ot_virtual_selected{
    margin-top: 2px;
}

#ot_d_body_header .ot_d_search_bar .ot_d_search_box .ot_f_search_label {
    display: block;
    width: 26px;
    text-indent: -9999px;
    background: url(../images/backgrounds/search-title.gif) no-repeat left center;
    cursor: pointer;
}

#ot_d_body_header .ot_d_search_bar .ot_d_search_box .ot_f_searchform{
    display:none;
}
#ot_d_body_header .ot_d_search_bar .ot_d_search_box #searchshop{
    display:block;
}

#ot_d_body_header .ot_d_search_bar .ot_d_search_box select {
    height: 20px;
    border: 1px solid #a5acb2;
    font-size: 12px;
    margin: 5px 0px 0px 0px;
    width: 70px;
}

#ot_d_body_header .ot_d_search_bar .ot_d_search_box input.search-terms {
    width: 168px;
    height: 16px;
    margin-top: 5px;
    border: 1px solid #a5acb2;
}

#ot_d_body_header .ot_d_search_bar .ot_d_search_box div.forge_drop {
    margin-top: 5px;
    padding: 1px 16px 1px 1px;
}

#ot_d_body_header .ot_d_search_bar .ot_d_search_box .ot_i_search_button {
    width: 45px;
    height: 20px;
    margin-top: 4px;
    background: url(../images/buttons/search_index.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
}

#ot_d_body_header .ot_d_search_bar .ot_d_search_box .ot_i_search_button.hover {
    background-position: 0px -20px;
}

#ot_d_body_header .ot_d_search_bar .ot_d_search_box .ot_i_reset_button {
    width: 45px;
    height: 20px;
    margin-top: 4px;
    background: url(../images/buttons/reset_index.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
}

#ot_d_body_header .ot_d_search_bar .ot_d_search_box .ot_i_reset_button:hover {
    background-position: 0px -20px;
}

#ot_d_body_header .ot_d_search_bar .ot_d_pop_search_bar {
    height: 30px;
    width:270px;
    float:right;
}

#ot_d_body_header .ot_d_search_bar .ot_d_pop_search_bar .ot_h_pop_search_title_pos {
    display: block;
    background: url(../images/backgrounds/hot-searches.gif) no-repeat left center;
    width: 55px;
    text-indent: -9999px;
    float: left;
}

#ot_d_body_header .ot_d_search_bar .ot_d_pop_search_bar .ot_o_pop_search_list {
    float: right;
    display: block;
}

#ot_d_body_header .ot_d_search_bar .ot_d_pop_search_bar .ot_o_pop_search_list li {
    display: block;
    float: left;
}

#ot_d_body_header .ot_d_search_bar .ot_d_pop_search_bar .ot_o_pop_search_list li a {
    padding: 0px 0px 0px 7px;
    color:#FFF;
    text-decoration:underline;
}

.ot_i_searchbox_input_button{
    position:relative;
    top:-4px;
}

.ot_i_searchbox_pos{
    position:relative;
    top:0px;
}
.ot_i_searchbox_input{
    position:relative;
    top:3px;
}

/* START: BODY CONTENT */
#ot_d_body_content {
    background: #FFF url(../images/backgrounds/body-content.gif) repeat-y left top;
    padding-left: 12px;
    padding-bottom: 12px;

}
#ot_d_body_content.full {
    background: #FFF;
    padding-left: 12px;
    padding-bottom: 12px;
}

#ot_d_body_content .ot_d_body_content_left {
    float: left;
    width: 632px;
    padding-top: 12px;
}

#ot_d_body_content .ot_d_body_content_left .ot_d_body_content_left_left {
    float: left;
    width: 207px;
}
#ot_d_body_content .ot_d_body_content_left .ot_d_body_content_left_left ul.shows-list {
    /*height: 256px;*/
}

#ot_d_body_content .ot_d_body_content_left .ot_d_body_content_left_right{
    float: right;
    width: 413px;
}

#ot_d_body_content .ot_d_body_content_right {
    float: right;
    width: 300px;
    height: 700px;
    padding: 12px 12px 0px 12px;
}

#ot_d_body_content .ot_d_body_content_full {
    padding-top: 12px;
}
/* END: BODY CONTENT */

/* MORE BUTTON */
#ot_d_body_content a.more {
    display: block;
    text-indent: -9999px;
    float: right;
    width: 45px;
    height: 16px;
    background: url(../images/buttons/more-off.png) no-repeat top left;
}
#ot_d_body_content a.more:hover { background-image: url(../images/buttons/more-on.png); }

/* PLUS BUTTON */
#ot_d_body_content a.plus {
    display: block;
    float: right;
    height: 16px;
    line-height: 16px;
    padding-left: 22px;
    background: url(../images/buttons/plus-off.gif) no-repeat 0 0;
    vertical-align: middle;
}
#ot_d_body_content a.plus:hover { background-image: url(../images/buttons/plus-on.gif); }
#ot_d_body_content a.plus span {
    display: block;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    text-indent: -9999px;
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
}

#ot_d_body_content a.plus span.write-review	{ width: 44px; background-image: url(../images/buttons/write-review-off.gif); }
#ot_d_body_content a.plus span.new-merchant	{ width: 44px; background-image: url(../images/buttons/new-merchant-off.png); }
#ot_d_body_content a.plus span.register		{ width: 25px; background-image: url(../images/buttons/register-off.png); }
#ot_d_body_content a.plus span.join			{ width: 24px; background-image: url(../images/buttons/join-off.png); }
#ot_d_body_content a.plus span.leavemessage	{ width: 29px; background-image: url(../images/buttons/leavemessage-off.png); }

#ot_d_body_content a.plus:hover span.write-review	{ background-image: url(../images/buttons/write-review-on.gif); }
#ot_d_body_content a.plus:hover span.new-merchant	{ background-image: url(../images/buttons/new-merchant-on.png); }
#ot_d_body_content a.plus:hover span.register		{ background-image: url(../images/buttons/register-on.png); }
#ot_d_body_content a.plus:hover span.leavemessage	{ background-image: url(../images/buttons/leavemessage-on.png); }

/* Breadcrumb */
.breadcrumb {
    color: #2155B5;
    height: 12px;
    padding-bottom: 11px;
}

div.photoContainer {
    min-height: 160px !important;
    height: 160px;
    border: 1px dashed #ccc;
    margin: 0 10px 10px 0;
    float: left;
    text-align: center;
}

div.photoContainer .photo {
    padding: 0 10px;
    width: 120px;
    min-height: 140px !important;
    height: 140px;
    background: #efe;
}

div.photoContainer .photo .loading {
    margin-top: 60px;
}

div.photoContainer .action {
    padding: 2px;
}

/* START: Paging Box */
#paging-box {
    padding-top: 4px;
    padding-bottom: 11px;
    height: 21px;
}

#paging-box .content a.new-topic {
    display: block;
    float: left;
    width: 58px;
    height: 21px;
    padding-right: 7px;
    text-indent: -9999px;
    background: url(../images/buttons/new-topic.gif) no-repeat 0px 0px;
}
#paging-box .content a.new-topic:hover { background-position: 0px -21px; }

#paging-box .content a.new-poll {
    display: block;
    float: left;
    width: 58px;
    height: 21px;
    padding-right: 7px;
    text-indent: -9999px;
    background: url(../images/buttons/new-poll.gif) no-repeat 0px 0px;
}
#paging-box .content a.new-poll:hover { background-position: 0px -21px; }

#paging-box .content .paging {
    text-align: right;
    width:100%;
    padding: 3px;
}
#paging-box .content .paging a {
    font-size: 11px;
    line-height: 11px;
    padding: 3px;
    min-width: 11px;
    width: 11px;
    width: auto!important;
    text-align: center;
    border: 1px solid #bdbdbd;
    margin-left: 4px;
}
/* END: Paging Box */

/* START: FOOTER */
#ot_d_body_footer {
    text-align: center;
}
#ot_d_body_footer .ot_d_line{
    border-bottom: 3px #52a2db solid;
    margin:10px 0px 12px 0px;
    width:auto;
}
#ot_d_body_footer .ot_d_copy{
    color:#636a72;
}
#ot_d_body_footer a,
#ot_d_body_footer a:hover,
#ot_d_body_footer a:link,
#ot_d_body_footer a:visited,
#ot_d_body_footer a:active {
    color: #636a72;
    text-decoration: none;
}
#ot_d_body_footer a:hover {
    color: #244a75;
}
/* END: FOOTER */

/* START: User list all member*/
#memberall{
    position:relative;
    vertical-align:top;
    vertical-align:text-top;
    top:-10px;
}

#memberall .tit{
    position:relative;
    vertical-align:middle;
}
#memberall .pic{
    top:7px;
    position:relative;
    vertical-align:bottom;
}
/* End: User list all member*/

/*Top login form*/
.topform-row {
    width: 400px;
    padding-bottom: 6px;
}
.topform-row label {
    color: #333333;
    display: block;
    float: left;
    width: 73px;
    height: 20px;
    line-height: 20px;
}
.topform-row input.text-input {
    float: left;
    height: 18px;
    border: 1px solid #A5ACB2;
}
.topform-row a {
    text-decoration: underline;
}

.topform-row label.error{
    width: 200px;
    padding: 0px 0px 0px 5px;
}
/* End: Top login form*/

/* Full Box */
.full-box {
    width: 951px;
    padding-bottom: 15px;
}
.full-box .header {
    background-position: top left;
    background-repeat: no-repeat;
    padding-right: 10px;
}
.full-box .header h3 {
    display: block;
    float: left;
    text-indent: -9999px;
}

.full-box .content {
    background-position: top left;
    background-repeat: repeat-y;
}

.full-box .footer {
    background-position: top left;
    background-repeat: no-repeat;
}
/* END: Full Box */

/* START: Newest Reviews 3 Box */
#newest-reviews3-box a.more { margin-top: 8px; }
#newest-reviews3-box .header {
    height: 33px;
    background-image: url(../images/backgrounds/boxes/header/newest-reviews3-box.gif);
}
#newest-reviews3-box .content {
    padding-left: 9px;
    padding-right: 15px;
    padding-top: 10px;
}
#newest-reviews3-box .footer {
}
#newest-reviews3-box .content ul li {
    line-height: 17px;
    padding-bottom: 20px;
}
#newest-reviews3-box .content ul li a.title {
    font-weight:bold;
    font-size: 14px;
    color:#339933;
}

/* END: Newest Reviews 3 Box */

/* Start: Shop page view*/
.photoThumb{
    cursor: pointer;
    padding:4px;
}
.photoThumb:hover{
    cursor: pointer;
    padding:2px;
    border: 2px #cfd9e5 solid;
}
#thickbox-photoThumb{
    cursor: pointer;
    padding:4px;
}
#thickbox-photoThumb:hover{
    cursor: pointer;
    padding:2px;
    border: 2px #cfd9e5 solid;
}
/* End: Shop page view*/

#event-add-item {
}

#event-add-item a.eventadd{
    width: 106;
    height: 29px;
    background-image: url(__PUBLIC__/buttons/eventadd.gif);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

/* Start: Buttons*/
.preview {
    width: 45px;
    height: 20px;
    background: url(../images/buttons/preview.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
}
.preview:hover {
    background: url(../images/buttons/preview.gif) 0px -20px;
}
.cancel {
    width: 45px;
    height: 20px;
    background: url(../images/buttons/cancel.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
    text-indent: -9999px;
}
.cancel:hover {
    background: url(../images/buttons/cancel.gif) 0px -20px;
}
.send2 {
    width: 45px;
    height: 20px;
    background: url(../images/buttons/send2.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
    text-indent: -9999px;
}
.send2:hover {
    background: url(../images/buttons/send2.gif) 0px -20px;
}
.back {
    width: 45px;
    height: 20px;
    background: url(../images/buttons/back.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
    text-indent: -9999px;
}
.back:hover {
    background: url(../images/buttons/back.gif) 0px -20px;
}
.reset{
    width: 46px;
    height:20px;
    background: url(../images/buttons/reset.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
    text-indent:-9999px;
}
.reset:hover{
    background: url(../images/buttons/reset.gif) 0px -20px;
}
.send3 {
    width: 45px;
    height: 20px;
    background: url(../images/buttons/search_locate_btn.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
}
.send3:hover {
    background: url(../images/buttons/search_locate_btn.gif) 0px -20px;
}

.build_shop {
    width: 71px;
    height: 20px;
    background: url(../images/buttons/build_shop.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
}
.build_shop:hover {
    background: url(../images/buttons/build_shop.gif) 0px -20px;
}

.build_event {
    width: 82px;
    height: 20px;
    background: url(../images/buttons/build_event.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
}
.build_event:hover {
    background: url(../images/buttons/build_event.gif) 0px -20px;
}

.shop_choice {
    position:relative;
    top:5px;
    width: 96px;
    height: 20px;
    background: url(../images/buttons/shop_choice.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
}
.shop_choice:hover {
    background: url(../images/buttons/shop_choice.gif) 0px -20px;
}

.nextstep {
    width: 55px;
    height: 20px;
    background: url(../images/buttons/next-step.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
}
.nextstep:hover {
    background: url(../images/buttons/next-step.gif) 0px -21px;
}

.browse {
    width: 45px;
    height: 20px;
    background: url(../images/buttons/browse.gif) no-repeat;
    position: 0px 0px;
    border: 0;
    cursor: pointer;
}
.browse:hover {
    background: url(../images/buttons/browse.gif) 0px -20px;
}

/* End: Buttons*/

/* RIGHT CONTENT */
.right-box {
    padding-bottom: 15px;
}

.right-box .header {
    background-position: top left;
    background-repeat: no-repeat;
    padding-right: 10px;
}
.right-box .header h3 {
    display: block;
    float: left;
    text-indent: -9999px;
}

.right-box .content {
    background-position: top left;
    background-repeat: repeat-y;
}
.right-box .content .content-left {
    float: left;
    width: 50%;
}
.right-box .content .content-right {
    float: right;
    width: 50%;
}

.right-box .footer {
    background-position: top left;
    background-repeat: no-repeat;
}

.right-box .topheader h3 {
    text-indent: -9999px;
}



/* START: Browse District Box */
#browse-district-box {
}
#browse-district-box a.more				{ margin-top: 9px; }
#browse-district-box .header {
    height: 38px;
    background-image: url(../images/backgrounds/boxes/header/browse-district-box.gif);
}

#browse-district-box .content {
    padding: 12px 0 6px 0px;
    background-color: #FFF;
    background-image: url(../images/backgrounds/boxes/content/browse-district-box.gif);
    overflow: hidden;
}

#browse-district-box .footer {
    height: 3px;
    background-image: url(../images/backgrounds/boxes/footer/browse-district-box.gif);
}

#browse-district-box .content ul li {
    display: block;
    float: left;
    width: 75px;
    height: 14px;
    padding-bottom: 5px;
}
/* END: Browse District Box */

/* Login Box */
#login-box .header {
    height: 25px;
    padding-top: 10px;
    background-image: url(../images/backgrounds/boxes/header/login-box.gif);
    width:270px;
}
#login-box a.plus	{
    padding-left: 19px;
}
#login-box .header a.register:hover {
    background-position: 0px -16px;
}

#login-box .content {
    padding: 10px 10px 6px 22px;
    background-color: #FFF;
    background-image: url(../images/backgrounds/boxes/content/login-box.gif);
}
#login-box .footer {
    height: 3px;
    background-image: url(../images/backgrounds/boxes/footer/login-box.gif);
}

#login-box .header a.register:hover { background-position: 0px -16px; }

#login-box .content .text-input {
    width: 117px;
}
.login-button {
    float: right;
    width: 45px;
    height: 20px;
    background: url(../images/buttons/login.gif) no-repeat top left;
    text-indent: -9999px;
    border: 0;
    cursor: pointer;
}
.login-button.hover {
    background-position: 0px -20px;
}

.form-row {
    width: 248px;
    padding-bottom: 6px;
}
.form-row .error label {
    width: 300px;
}
.form-row label {
    color: #333333;
    display: block;
    float: left;
    width: 73px;
    height: 20px;
    line-height: 20px;
}
.form-row input.text-input {
    float: left;
    height: 18px;
    border: 1px solid #A5ACB2;
}
.form-row a {
    text-decoration: underline;
}

h2.merchant-comment-header {
    color: #3a85b0;
    font-size: 16px;
    padding-bottom: 8px;
}

input[type='text'].short{
    width: 80px;
}
#reviewer-comments-box #write-comment table tr td{
    vertical-align:top;
}
table.cate_select_box tr{
    padding: 10px 0;
}
table.cate_select_box td span.item{
    padding: 15px;
}
table td,table th{
    vertical-align: top;
}

table td.label,table th.label{
    text-align:right;
    padding-right: 10px;
}
#eventForm td{
    padding: 5px;
    border: 1px #def solid;

}

/* Top right Login Box */
#login-box .topheader {
    height: 25px;
    padding-top: 10px;
    background-image: url(../images/backgrounds/boxes/header/toplogin-box.gif);
    background-repeat: no-repeat;
}
#login-box .topcontent {
    padding: 10px 10px 6px 22px;
    background-color: #FFF;
    background-image: url(../images/backgrounds/boxes/content/toplogin-box.gif);
}


#login-box .topheader a.register:hover {
    background-position: 0px -16px;
}

#login-box .topcontent .text-input {
    width: 117px;
}


.searchbox_input{
    margin-top:7px;
    height:16px;
}

.checkbox_word_left{
    position:static !important;
    margin-left:3px;
}
#body-header .search-bar .search-box .searchform{
    display:none;
}
#body-header .search-bar .search-box #searchshop{
    display:block;
}

/* START: Tabs Box */
#tabs-box {
    padding-top: 2px;
    border-bottom: 3px solid #a9e31e;
}
#tabs-box a.more						{ margin-top: 12px; }
#tabs-box .header {
    border-bottom: 3px solid #a9e31e;
    padding-right: 10px;
    height: 32px;
    background-image: url(../images/backgrounds/tab-box.gif);
}
#tabs-box .header .tabs {
    display: block;
    float: left;
    height: 32px;
}

#tabs-box .header .tabs li {
    display: block;
    float: left;
    height: 32px;
    padding-right: 2px;
}
#tabs-box .header .tabs li a {
    display: block;
    height: 32px;
    text-indent: -9999px;
    background-image: url(../images/backgrounds/tab-box.gif);
    background-repeat: no-repeat;
}

#tabs-box .header .tabs li a.newshows{width: 117px; background-position: 0px 0px;}
#tabs-box .header .tabs li a.newreviews{width: 109px; background-position: -122px 0px;}

#tabs-box .header .tabs li a.newshows:hover,
#tabs-box .header .tabs li.newshows a.selected{width: 117px; background-position: 0px -32px;}

#tabs-box .header .tabs li a.newreviews:hover,
#tabs-box .header .tabs li.newreviews a.selected{width: 117px; background-position:-122px -32px;}

#tabs-box .content .tab-content table {
    width: 97%;
    margin: 0 auto;
}
#tabs-box .content .tab-content table thead tr th { border-bottom: 1px dotted #C3C3C3; }
#tabs-box .content .tab-content table thead tr th, #tabs-box .content .tab-content table tbody tr td {
    padding: 9px 0;
    text-align: left;
    font-weight: normal;
}

#tabs-box .content .tab-content table tbody tr td a.cat		{ color: #5386df; }
#tabs-box .content .tab-content table tbody tr td a.cat:hover	{ color: #222222; }
#tabs-box .content .tab-content .newshow_detail-link{
    float:right;
    margin-right: 0px !important;
}
#tabs-box .content .tab-content .newshow-content{
    padding-left:5px;
}
#tabs-box .content .tab-content .newshow_line{
    border-bottom:solid 1px #d8efa0;
    display:block;
    padding-top:6px;
    padding-top: 20px !important;
}

#tabs-box .content .tab-content .newreviews{
    float:right;
    margin-right: -3px;
}
#tabs-box .header .tabs li a.newshows.selected, #tabs-box .header .tabs li a.newshows:hover {
    width: 117px;
    background-position: 0px -32px;
}

#tabs-box .header .tabs li a.newreviews.selected, #tabs-box .header .tabs li a.newreviews:hover {
    width: 105px;
    background-position: -122px -32px;
}

#tabs-box .content #newreviews table thead tr th {
    border-bottom: 1px dotted #C3C3C3;
}

#tabs-box .content #newshows table thead tr th {
    border-bottom: 1px dotted #C3C3C3;
}

/* END: Tabs Box */

/*START: Google Box Info (Right side)*/
.ot_d_google_listbox_pic{
    width:460px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.ot_d_google_listbox_nopic{
    width:370px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.ot_d_google_listbox_pic .ot_d_google_listbox_scroll
{
    width:400px;
    padding: 10px;
    margin:5px 2px;
}
.ot_d_google_listbox_nopic .ot_d_google_listbox_scroll
{
    width:310px;
    padding: 10px;
    margin:5px 2px;
}
div.ot_t_result_num {
    background: url(../images/backgrounds/result-numering.gif) no-repeat top left;
    line-height: 20px;
    width:24px;
    height:40px;
    text-align:center;
    font-weight:bold;
}
.ot_d_google_listbox_span{
    background:url(../images/shop/google_box_span.gif) right top;
    border-left:2px solid #2155b5;
    clear:both;
    overflow:hidden;
}
.ot_d_google_listbox_span_reverse{
    background:url(../images/shop/google_box_span_reverse.gif) right top;
}
.ot_d_google_listbox_line{
    background:url(../images/shop/google_box.gif) right top;
    height:2px;
    clear:both;
    overflow:hidden;
}
.ot_d_google_listbox_span .ot_d_google_listbox_pic_frame{
    margin: 8px 0px 8px 8px;
    float:left;
    width:95px;
}
.ot_d_google_listbox_span .ot_d_google_listbox_info{
    float:left;
    margin: 8px 8px 8px 8px;
    width:250px;
}
.ot_d_google_listbox_span .ot_d_google_listbox_onlyinfo{
    width:260px;
}
.ot_d_google_listbox_span .ot_d_google_listbox_close{
    /*background:url(../images/shop/google_box_close.jpg) no-repeat;
    width:13px;
    height:13px;
    margin: 4px 31px 4px 0px;
    float:right;*/
}
.ot_d_google_listbox_span .ot_d_google_listbox_info .ot_d_google_listbox_tit_chi{
    font-size:13px;
    font-weight:bold;
    padding-right:2px;
    color:#000000;
    text-decoration:underline;
}
.ot_d_google_listbox_span .ot_d_google_listbox_info .ot_d_google_listbox_tit_eng{
    font-size:13px;
    font-weight:bold;
    color:#000000;
    text-decoration:underline;
}
.ot_d_google_listbox_span .ot_d_google_listbox_info .ot_d_google_listbox_type{
    background:url(../images/shop/google_box_type.jpg) no-repeat;
    padding-left:22px;
    margin-top: 6px;
    line-height:18px;
    color:#000000;
    text-decoration:none;
}
.ot_d_google_listbox_span .ot_d_google_listbox_info div.ot_d_google_listbox_type a{
    color:#000000;
    text-decoration:none;
}
.ot_d_google_listbox_span .ot_d_google_listbox_info .ot_d_google_listbox_address{
    background:url(../images/shop/google_box_address.jpg) no-repeat;
    padding-left:21px;
    margin-top: 6px;
}
.ot_d_google_listbox_span .ot_d_google_listbox_info .ot_d_google_listbox_phone{
    background:url(../images/shop/google_box_phone.jpg) no-repeat;
    padding-left:21px;
    margin-top: 6px;
}
.ot_d_google_listbox_span_red{
    background:url(../images/shop/google_box_span_red.gif) right top;
    border-left:2px solid #6D1515;
    clear:both;
    overflow:hidden;
}
.ot_d_google_listbox_span_reverse_red{
    background:url(../images/shop/google_box_span_reverse_red.gif) right top;
}
.ot_d_google_listbox_line_red{
    background:url(../images/shop/google_box_red.gif) right top;
    height:2px;
    clear:both;
    overflow:hidden;
}
div.ot_t_result_num_red {
    background: url(../images/backgrounds/result_numering_red.gif) no-repeat top left;
    line-height: 20px;
    width:34px;
    height:25px;
    text-align:center;
    font-weight:bold;
    color:#FFF;
}
.ot_d_google_listbox_span_red .ot_d_google_listbox_pic_frame{
    margin: 8px 0px 8px 8px;
    float:left;
    width:95px;
}
.ot_d_google_listbox_span_red .ot_d_google_listbox_info{
    float:left;
    margin: 8px 8px 8px 8px;
    width:250px;
}
.ot_d_google_listbox_span_red .ot_d_google_listbox_onlyinfo{
    width:260px;
}
.ot_d_google_listbox_span_red .ot_d_google_listbox_close{
    /*background:url(../images/shop/google_box_close.jpg) no-repeat;
    width:13px;
    height:13px;
    margin: 4px 31px 4px 0px;
    float:right;*/
}
.ot_d_google_listbox_span_red .ot_d_google_listbox_info .ot_d_google_listbox_tit_chi{
    font-size:13px;
    font-weight:bold;
    padding-right:2px;
    color:#000000;
    text-decoration:underline;
}
.ot_d_google_listbox_span_red .ot_d_google_listbox_info .ot_d_google_listbox_tit_eng{
    font-size:13px;
    font-weight:bold;
    color:#000000;
    text-decoration:underline;
}
.ot_d_google_listbox_span_red .ot_d_google_listbox_info .ot_d_google_listbox_type{
    background:url(../images/shop/google_box_type_red.jpg) no-repeat;
    padding-left:22px;
    margin-top: 6px;
    line-height:18px;
    color:#000000;
    text-decoration:none;
}
.ot_d_google_listbox_span_red .ot_d_google_listbox_info div.ot_d_google_listbox_type a{
    color:#000000;
    text-decoration:none;
}
.ot_d_google_listbox_span_red .ot_d_google_listbox_info .ot_d_google_listbox_address{
    background:url(../images/shop/google_box_address_red.jpg) no-repeat;
    padding-left:21px;
    margin-top: 6px;
}
.ot_d_google_listbox_span_red .ot_d_google_listbox_info .ot_d_google_listbox_phone{
    background:url(../images/shop/google_box_phone_red.jpg) no-repeat;
    padding-left:21px;
    margin-top: 6px;
}

/*End: Google Box Info (Right side)*/

/*#msgbox {
    height: 150px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px dashed #cccccc;
}*/

.yuBaoTable {
    width: 640px;
}
.medium{
    margin-right:5px;
    vertical-align:top;
}
.ot_i_topsearch_inputbox{
    vertical-align:top;
}
div.forge_drop {
    display:block;
    width: 120px;
    height: 16px;
    background: url(../images/dropdown.png) #f8f8f8 right no-repeat;
    border: #abc solid 1px;
    border-top: #abc solid 2px;
    border-left: #abc solid 2px;
    cursor: pointer;
}

span.forge_drop {
    display:block;
    width: 150px;
    height: 16px;
    background: url(../images/dropdown.png) #f8f8f8 right no-repeat;
    padding-right: 20px;
    border: #abc solid 1px;
    border-top: #abc solid 2px;
    border-left: #abc solid 2px;
    cursor: pointer;
    margin-left: 150px;
}

.forge_drop input{
    margin: 0;
    border:none;
    background:#fff;
    color:#363666;
    width:100%;
    cursor: pointer;
    display: block;
}

tr.alt td {
    background: #ffffce;
}

.clearBoth { clear: both; height: 0px; font-size: 0px; line-height: 0px; }

#breadcrumb {
    font-size: 0.875em;
    padding-top: 10px;
}

.texts .Shopreview_title{
    font-size:14px;

}

/* START: Left Box */
.left-box {
    padding-bottom: 12px;
}
.left-box .header {
    background-position: top left;
    background-repeat: no-repeat;
    padding-right: 10px;
}
.left-box .header h3 {
    display: block;
    float: left;
    text-indent: -9999px;
}

.left-box .content {
    background-position: top left;
    background-repeat: repeat-y;
}

.left-box .footer {
    background-position: top left;
    background-repeat: no-repeat;
}
/* END: Left Box */

div#gmap {
    width: 300px;
    height: 300px;
}

div.gmapedit {
    margin-left: 160px;
}

div.clear {
    clear: both;
}

#clear {
    clear: left;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
}

div.review {
    border-top: 1px dashed #c5ccd4;
    border-bottom: 1px dashed #c5ccd4;
    padding: 10px;
    background: #f9fff9;
    margin-right:15px;
    margin-top:10px;
}

div.review .author {
    float: left;
    width: 12%;
    text-align:right;
    width:125px;
}

div.review .author img {
    width: 80px;
    height: 80px;
    border: 2px solid #eae6e4;
}

div.review .author a b{
    font-weight:normal;
    text-decoration:underline;
    color:#4a678b;
}

div.review .picture {
    border: 1px dashed #ccc;
    float: left;
    text-align: center;
    background: #efe;
    min-height: 140px !important;
    height: 140px;
    width: 120px;
    margin: 10px 10px 0 0;
    padding: 5px;
}

div.review .rates {
    font-size: 150%;
}

div.review .rates .key {
    float: right;
    color: #abc;
}

div.review .texts {
    width: 85%;
    float: right;
}

div.review .desc {
    margin: 10px 0;
    padding: 10px;
    background: #def;
    border: dashed 1px #cfc;
    text-indent: 14px;
    word-wrap:break-word;
    word-break:normal;
}

div.review .other {
    color: #666;
    margin-top: 10px;
    text-align: right;
}

div#reviews {
    text-align: left;
    width: 70%;
    float: left;
}

p#desc {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

a.category {
    float: left;
    padding: 5px 10px;
}

a.category:hover {
    background: #fff;
}

.summary{
    right:100px;
}

.ot_facebook_set, .ot_facebook_set_right {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    clear: both;
}

.ot_facebook_set div {
    float: left;
    padding: 5px;
}

.ot_facebook_set div a{
    display: block;
    padding: 5px 5px 5px 20px;
    background: url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif) no-repeat left center;
}

.ot_facebook_set_right div {
    float: right;
    padding: 5px;
}

.ot_facebook_set_right div a{
    display: block;
    padding: 5px 5px 5px 0px;
}

/* START: Event Advance Search text */
.ot_t_adv_search_pos{
    padding-top:3px;
    line-height:25px;
}
.ot_d_adv_search_down .ot_d_adv_search_text {
    padding-left:11px;
    color:#FFF;
    text-decoration:underline;
    background: url(../images/buttons/adv_search_downarrow.jpg) no-repeat left center;
}
.ot_d_adv_search_down:hover {
    color:#FFF;
    text-decoration:none;
}
.ot_d_adv_search_down .ot_d_adv_search_text:hover {
    color:#FFF;
    text-decoration:underline;
}
.ot_d_adv_search_up .ot_d_adv_search_text {
    padding-left:11px;
    color:#FFF;
    text-decoration:underline;
    background: url(../images/buttons/adv_search_uparrow.jpg) no-repeat left center;
}
/* END: Event Advance Search text */

/* START: Event Advance Box */
#ot_d_event_adv_search .ot_d_content{
    width:630px;
    background-color:#bcbcbc;
    border:2px solid #444444;
}
#ot_d_event_adv_search .ot_d_content ul{
    margin: 0px 0px 10px 10px;
    padding:0px;
    overflow:hidden;
}
#ot_d_event_adv_search .ot_d_content ul li.ot_d_info_pos{
    list-style:none;
    width:100%;
    margin-top:10px;
    overflow:hidden;
}
#ot_d_event_adv_search .ot_d_content ul li .ot_d_event_type{
    font-size:13px;
    font-weight:bold;
}
#ot_d_event_adv_search .ot_d_content ul li .ot_d_event_type_2nd{
    font-size:13px;
    font-weight:bold;
    margin-left:7px;
}
#ot_d_event_adv_search .ot_d_content ul li .ot_d_daterange{
    margin-right:5px;
}
#ot_d_event_adv_search .ot_d_content ul li .ot_d_dateicon_pos{
    vertical-align:middle;
}

#ot_d_event_adv_search .ot_d_content ul li .ot_o_popdate {
    width:70px;
    border: 1px solid #A5ACB2;
}
#ot_d_event_adv_search .ot_d_content ul li .ot_o_formtextcompany {
    width:330px;
    margin-left:5px;
    border: 1px solid #A5ACB2;
}
#ot_d_event_adv_search .ot_d_content ul li .ot_o_formtextphone {
    width:100px;
    margin-left:5px;
    border: 1px solid #A5ACB2;
}
/* END: Event Advance Search Box */

/* START: Shop Advance Search text */
.ot_t_adv_search_pos{
    padding-top:3px;
    line-height:25px;
}

.ot_d_adv_search_down .ot_d_adv_search_text {
    padding-left:11px;
    background: url(../images/buttons/adv_search_downarrow.jpg) no-repeat left center;
}

.ot_d_adv_search_up .ot_d_adv_search_text {
    padding-left:11px;
    background: url(../images/buttons/adv_search_uparrow.jpg) no-repeat left center;
}
/* END: Shop Advance Search text */

/* START: Shop Advance Box */
#ot_d_shop_adv_search .ot_d_content{
    width:630px;
    height:100px;
    background-color:#bcbcbc;
    border:2px solid #444444;
}
#ot_d_shop_adv_search .ot_d_content ul{
    margin: 0px 0px 10px 10px;
    padding:0px;
    overflow:hidden;
}
#ot_d_shop_adv_search .ot_d_content ul li.ot_d_info_pos {
    list-style:none;
    width:270px;
    height:45px;
    _height:60px;
    margin-top:10px;
    float:left;
}
#ot_d_shop_adv_search .ot_d_content ul li.ot_d_info_pos_full {
    list-style:none;
    width:500px;
    height:45px;
    _height:60px;
    float:left;
}
#ot_d_shop_adv_search .ot_d_content ul li .ot_o_formtextnearby {
    width:220px;
    margin-left:5px;
    margin-right:5px;
    border: 1px solid #A5ACB2;
}
#ot_d_shop_adv_search .ot_d_content ul li .ot_d_shop_type{
    font-size:13px;
    font-weight:bold;
    width:35px;
    display: inline-block; zoom: 1; *display: inline;
}
#ot_d_shop_adv_search .ot_d_content ul li .ot_d_shop_addr_example{
    margin: -10px 0px 0px 45px;
}
#ot_d_shop_adv_search .ot_d_content ul li .ot_d_distance_type{
    font-size:13px;
    font-weight:bold;
    width:45px;
    float:left;
}
#ot_d_shop_adv_search .ot_d_content ul li .ot_d_price_range{
    font-size:13px;
    font-weight:bold;
    width:70px;
    float:left;
}
#ot_d_shop_adv_search .ot_d_content ul li #distance_slider{
    zoom: 1;
    width: 150px;
    margin-top:10px;
    vertical-align:middle;
    float:left;
}
#malllist {cursor:pointer;}
/* END: Shop Advance Search Box */


.reminder {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

body.remind {
    overflow: hidden;
}

body.remind .reminder {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

body.remind .reminder:before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

body.remind .reminder > .wrapper {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

body.remind .reminder > .wrapper > .content {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
body.remind .reminder > .wrapper > .content > .box {
    position: relative;
    z-index: 999;
    display: inline-block;
    max-width: 1000px;
}

body.remind .reminder > .wrapper > .content > .box > img {
    width: 100%;
}

body.remind .reminder > .wrapper > .content > .box > .download {
    position: absolute;
    top: 84%;
    left: 25.5%;
    display: block;
    width: 22.5%;
    height: 12.5%;
    padding: 0;
    margin: 0;
}

body.remind .reminder > .wrapper > .content > .box > .close {
    position: absolute;
    top: 84%;
    left: 52%;
    display: block;
    width: 22.5%;
    height: 12.5%;
    padding: 0;
    margin: 0;
}

body.remind .reminder > .wrapper > .content > .box > .dismiss {
    position: absolute;
    top: 0%;
    right: 0%;
    display: block;
    width: 10%;
    height: 10%;
    padding: 0;
    margin: 0;
}
