@charset "utf-8";

/* START: More Button*/
#ot_d_shows_box a.more					{ margin-top: 9px; }
#category-box a.more					{ margin-top: 9px; }
#ot_d_weather_box a.more				{ margin-top: 12px; }
#ot_d_newest_event_index a.more			{ margin-top: 12px;margin-right: 5px; }
#ot_d_newest_review_index a.more		{ margin-top: 12px;margin-right: 5px; }
#reviewer-recent-reviews-box a.more		{ margin-top: 6px; }
#ot_d_event_hot_sales .ot_d_header a.more			{ margin-top: 12px;margin-right: 5px; }
#ot_d_addevent .ot_d_header a.more			{ margin-top: 12px;margin-right: 5px; }
/* END: More Button*/



/* START: RIGHT CONTENT */
.ot_d_right_box {
	padding-bottom: 5px;
}

.ot_d_right_box .ot_d_header {
	background-position: top left;
	background-repeat: no-repeat;
	padding-right: 10px;
}
.ot_d_right_box .ot_d_header h3 {
	display: block;
	float: left;
	text-indent: -9999px;
}

.ot_d_right_box .ot_d_content {
	background-position: top left;
	background-repeat: repeat-y;
}
.ot_d_right_box .ot_d_content .ot_d_content_left {
	float: left;
	width: 50%;
}
.ot_d_right_box .ot_d_content .ot_d_content_right {
	float: right;
	width: 50%;
}

.ot_d_right_box .ot_d_footer {
	background-position: top left;
	background-repeat: no-repeat;
}
/* START: Left Box */

/* START: Recommendation Box */
#ot_d_recommendation_box {
}
#ot_d_recommendation_box .ot_d_content{
	width: 412px;
	height: 176px;
}
/* END: Recommendation Box */

/* START: Greastest Event */
#ot_d_shows_box {
	width: 413px;
}

#ot_d_shows_box .ot_d_header {
	padding-right: 5px;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/shows-box.gif);
}

#ot_d_shows_box .ot_d_content {
	background-color: #e1f8ff;
	padding: 4px 16px 4px 16px;
	height:	488px;
}
#ot_d_shows_box .ot_d_footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/shows-box.gif);
	background-repeat: no-repeat;
}

#ot_d_shows_box .ot_d_content ul.ot_d_shows_list li {
	display:block;
}
#ot_d_shows_box .ot_d_content ul.ot_d_shows_list li .ot_d_shows_list_lines{
	padding-bottom:4px;
	border-bottom:1px #ccdfe6 solid;
}
#ot_d_shows_box .ot_d_content ul.ot_d_shows_list li .ot_t_showstable{
	width:380px;
	height:90px;
	padding-top:4px;
	margin-top:4px;
}
#ot_d_shows_box .ot_d_content ul.ot_d_shows_list li .ot_t_showspic{
	width:90px;
	height:90px;
	color:#FFFFFF; 
	text-align:center;
	vertical-align:middle;
}
#ot_d_shows_box .ot_d_content ul.ot_d_shows_list li .ot_t_showspic_frame{
	padding:2px;
	background-color:#FFFFFF;
	vertical-align:middle;
	border:1px solid #e3e3e3;
}
#ot_d_shows_box .ot_d_content ul.ot_d_shows_list li .ot_t_showsinfo{
	font-size:13px;
	width:290px;
	padding-left:10px;
	text-align:left;
	vertical-align:middle;
	line-height:18px;
}
#ot_d_shows_box .ot_d_content ul.ot_d_shows_list li .ot_t_showsinfo a{
	font-size:13px;
}
/* END: Greatest Event */

/* START: Category Box */
#ot_d_category_box {
	width: 207px;
	height: 304px;
}

#ot_d_category_box .ot_d_header {
	overflow:hidden;	
	height: 36px;
	background-color: #dbe8f4;
}

#ot_d_category_box .ot_d_header .ot_o_tabs {
	display: block;
	float: left;
	height: 36px;
}

#ot_d_category_box .ot_d_header .ot_o_tabs li {
	display: block;
	float: left;
	height: 36px;
}
#ot_d_category_box .ot_d_header .ot_o_tabs li a {
	display: block;
	height: 36px;
	text-indent: -9999px;
	background-image: url(../images/buttons/cat_index.jpg);
	background-repeat: no-repeat;
}

#ot_d_category_box .ot_d_header .ot_o_tabs li a.ot_o_merchants_cat{width: 103px; background-position: 0px 0px;}
#ot_d_category_box .ot_d_header .ot_o_tabs li a.ot_o_event_cat{width: 104px; background-position: -103px 0px;}

#ot_d_category_box .ot_d_header .ot_o_tabs li.ot_o_merchants_cat a.selected{width: 103px; background-position: 0px -36px;}
#ot_d_category_box .ot_d_header .ot_o_tabs li.ot_o_event_cat a.selected{width: 104px; background-position:-103px -36px;}

#ot_d_category_box .ot_d_content {
	background-image: url(../images/backgrounds/boxes/content/category-box.gif);
	padding-left: 11px;
	padding-top: 5px;
	padding-bottom: 0px;
	height:254px;
}

#ot_d_category_box .ot_d_footer {
	overflow:hidden;
	height:9px;
	background-image: url(../images/backgrounds/boxes/footer/category-box.gif);
}

.ot_d_menu_container {  
	width: 195px;
	position: relative;
	z-index: 12;
}
.ot_d_menu_container a {
  text-decoration: none;
  font-size: 9pt;
  font-family: Arial,Arial,sans-serif;
}
.ot_d_menu_container a:hover {
  color: #993300;
}
.ot_d_menu_container ul { 
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.ot_d_menu_container li {
	display: block;
	position: relative; 
	padding: 2px 0px 2px 0px;
}
.ot_d_menu_container .first_level_ul {
}
.ot_d_menu_container .first_level_li {
	height: 17px;
	background-repeat: no-repeat;
	background-position: left center;
}
.ot_d_menu_container .first_level_a {
	display: block;
	background: url(../images/index/category/arrow_off.gif) no-repeat center right;
	width: 165px;
	padding-left: 20px;
}
.ot_d_menu_container .first_level_a:hover {
	background: url(../images/index/category/arrow_on.gif) no-repeat center right;
}
.ot_d_menu_container .second_level_ul {
	visibility: hidden; 
	position: absolute;  
	top: -6px;
	left: 195px;
	width: 160px;
	padding: 5px 0px 5px 10px;
	border:solid 1px #ffc600;
	background-color: #fcfad7;
}
.ot_d_menu_container .second_level_li {
}
.ot_d_menu_container .second_level_a {
}
.ot_d_menu_container .second_level_a:hover {
}
/* END: Category Box */

/* START: Merchant release*/
#ot_d_newest_merchants_index {
	
}
#ot_d_newest_merchants_index .ot_d_header{
	height: 36px;
	background-image: url(../images/backgrounds/boxes/header/newest_merchants_index.gif);
}
#ot_d_newest_merchants_index .ot_d_content{
	padding:3px 0px 0px 10px;
	height:176px;
	background-image: url(../images/backgrounds/boxes/content/newest_merchants_index.gif);
}
#ot_d_newest_merchants_index .ot_d_content .ot_d_newshop{
	text-align:center;
	width:188px;
}
#ot_d_newest_merchants_index .ot_d_footer{
	height: 6px;
	width:207px;
	background-image: url(../images/backgrounds/boxes/footer/newest_merchants_index.gif);
	background-repeat: no-repeat;
}
#ot_d_newest_merchants_index .ot_d_content .ot_o_browse_merchants_list li {
	display: block;
	height: 21px;
	padding-left: 20px;
	margin: 10px 20px 20px 0px;
	background: url(../images/bullet_brown.jpg) no-repeat left center;
}
#ot_d_newest_merchants_index .ot_d_content .ot_o_browse_merchants_list li a{
	font-size:13px;
	
}
#ot_d_newest_merchants_index .ot_d_header .ot_d_newest_merchants_index_add{ 
	display:block;
	float:right;
	width: 85px; 
	height:36px;
	text-indent:-9999px;
	background-image: url(../images/buttons/newest_merchants_index_add.jpg); 
}
#ot_d_newest_merchants_index .ot_d_header .ot_d_newest_merchants_index_add:hover{ 
	background-position: 0px -36px;
}
/* END: Merchant release */

/* START: Newest Event*/
#ot_d_newest_event_index {
	width:632px;
}
#ot_d_newest_event_index .ot_d_header{
	height: 39px;
	width:632px;
	background-image: url(../images/backgrounds/boxes/header/newest_event_index-box.jpg);
}
#ot_d_newest_event_index .ot_d_content{
	padding:8px 0px 0px 10px;
	width:622px;
	background-image: url(../images/backgrounds/boxes/content/newest_event_index-box.jpg);
}
#ot_d_newest_event_index .ot_d_footer{
	height: 6px;
	width:632px;
	background-image: url(../images/backgrounds/boxes/footer/newest_event_index-box.jpg);
	background-repeat: no-repeat;
}
#ot_d_newest_event_index .ot_d_content ul.ot_newshows li {
	display: block;
	padding-bottom: 8px;
}

#ot_d_newest_event_index .ot_d_content ul.ot_newshows li .ot_d_show_image {
	display: block;
	float: left;
	width: 90px;
	text-align:right;
	vertical-align:top;
}
#ot_d_newest_event_index .ot_d_content ul.ot_newshows li .ot_t_showspic_frame {
	padding:2px;
	background-color:#FFFFFF;
	border:1px solid #e3e3e3;
}
#ot_d_newest_event_index .ot_d_content ul.ot_newshows li .ot_d_show_details{
	display: block;
	float: left;
	width: 513px;
	line-height:20px;
	padding-left:10px;
}
#ot_d_newest_event_index .ot_d_content ul.ot_newshows li .ot_d_show_details, #ot_d_newest_event_index .ot_d_content ul.ot_newshows li .ot_d_show_details a{
	font-size:13px;
	line-height:20px;
}
#ot_d_newest_event_index .ot_d_header a.ot_o_more_gray {
	display: block;
	text-indent: -9999px;
	float: right;
	width: 45px;
	height: 16px;
	margin-top: 12px;
	margin-right: 5px;
	background: url(../images/buttons/more_gray_off.gif) no-repeat top left;
}
#ot_d_newest_event_index .ot_d_header a.ot_o_more_gray:hover {
	background-image: url(../images/buttons/more_gray_on.gif); 
}
/* END: Newest Event*/

/* START: Newest Review*/
#ot_d_newest_review_index {
	width:632px;
}
#ot_d_newest_review_index .ot_d_header{
	height: 39px;
	width:632px;
	background-image: url(../images/backgrounds/boxes/header/newest_review_index-box.jpg);
}
#ot_d_newest_review_index .ot_d_content{
	padding:8px 0px 0px 10px;
	width:622px;
	background-image: url(../images/backgrounds/boxes/content/newest_review_index-box.jpg);
}
#ot_d_newest_review_index .ot_d_footer{
	height: 6px;
	width:632px;
	background-image: url(../images/backgrounds/boxes/footer/newest_review_index-box.jpg);
	background-repeat: no-repeat;
}
#ot_d_newest_review_index .ot_d_content ul li.ot_d_line {
	border-bottom: 1px solid #c8f1ff;
	width:612px;
}
#ot_d_newest_review_index .ot_d_content ul li {
	display: block;
	padding-top:8px;
}
#ot_d_newest_review_index .ot_d_content ul li .ot_d_show_image {
	display: block;
	float: left;
	width: 55px;
	height: 55px;
	background-color:#FFF;
	text-align:right;
	vertical-align:top;
}
#ot_d_newest_review_index .ot_d_content ul li .ot_t_showspic_frame {
	padding:3px;
	background-color:#FFFFFF;
	border:2px solid #e3e3e3;
}
#ot_d_newest_review_index .ot_d_content ul li .ot_d_show_details{
	display: block;
	float: left;
	width: 513px;
	line-height:20px;
	padding-left:10px;
}

#ot_d_newest_review_index .ot_d_content ul li .ot_d_review_title{
	float:left;
	width:100%;
}
#ot_d_newest_review_index .ot_d_content ul li .ot_d_review_title a{
	color:#905119;
	font-weight:bold;
	font-size:13px;
}
#ot_d_newest_review_index .ot_d_content ul li .ot_d_review_text{
	float:left;
	font-size:13px;
	margin-top:2px;
	width:100%;
}
#ot_d_newest_review_index .ot_d_content ul li .ot_d_review_target_icon{
	float:left;
	width:100%;
	margin-top:5px;
	background: no-repeat;	
	background-image: url(../images/icons/category-store.gif);
	background-position:0px 2px;
	padding-left: 20px;
}
#ot_d_newest_review_index .ot_d_content ul li .ot_d_review_catemain{
	float:left;
	margin-top:2px;
	width:100%;	
	position:relative;
	text-decoration: none;
	padding-left: 20px;
	background: no-repeat top left;
	background-image: url(../images/icons/icons_type.gif);
}
#ot_d_newest_review_index .ot_d_content ul li .ot_d_show_details, #ot_d_newest_review_index .ot_d_content ul li .ot_d_show_details a{
	font-size:13px;
	line-height:20px;
}
#ot_d_newest_review_index .ot_d_header a.ot_o_more_gray {
	display: block;
	text-indent: -9999px;
	float: right;
	width: 45px;
	height: 16px;
	margin-top: 12px;
	margin-right: 5px;
	background: url(../images/buttons/more_gray_off.gif) no-repeat top left;
}
#ot_d_newest_review_index .ot_d_header a.ot_o_more_gray:hover {
	background-image: url(../images/buttons/more_gray_on.gif); 
}
#ot_d_newest_review_index .ot_d_content ul li .ot_d_newest_review_facebook{
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	clear: both;
}
#ot_d_newest_review_index .ot_d_content ul li .ot_d_newest_review_facebook div{
	float: left;
	padding: 5px 5px 5px 0px;
}
#ot_d_newest_review_index .ot_d_content ul li .ot_d_newest_review_facebook div a{
	display: block;
	padding: 5px 5px 5px 20px;
	background: url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif) no-repeat left center;
}
/* END: Newest Review*/

/* START: What's news*/
#ot_d_whatsnews_box .ot_d_header{
	height: 37px;
	text-indent: -9999px;
	background-image: url(../images/backgrounds/boxes/header/index_whatsnews-box.jpg);
}
#ot_d_whatsnews_box .ot_d_content{
	padding:3px 10px 3px 10px;
	background-color:#F00;
	background-image: url(../images/backgrounds/boxes/content/index_whatsnews-box.jpg);
	background-position:top;
	background-repeat:repeat-y;	
}
#ot_d_whatsnews_box .ot_d_footer{
	height: 5px;
	width:300px;
	background-image: url(../images/backgrounds/boxes/footer/index_whatsnews-box.jpg);
	background-repeat:no-repeat;
}
#ot_d_whatsnews_box .ot_d_word{ 
	width:280px;
 	font-size:13px;
	color:#4c4c4c;
	line-height:16px;
}
#ot_d_whatsnews_box .ot_t_tablespace{
	padding-top:8px;
	padding-bottom:8px;
}
#ot_d_whatsnews_box .ot_t_wordbg{
	padding-top:8px;
	padding-bottom:8px;
	background-color:#fff;
}
#ot_d_whatsnews_box .ot_t_wordbg:hover{
	padding-top:8px;
	padding-bottom:8px;
	background-color:#fef2f3;
}
#ot_d_whatsnews_box .ot_o_url{ 
 	float:right;
	font-size:13px;
	color:#6388cb;
}
#ot_d_whatsnews_box .ot_d_line{
	border-bottom:#fecdcf solid 1px;
}
/* END: What's news*/

/* START: Weather Box */
#ot_d_weather_box .ot_d_header {
	padding-right:5px;
	height: 36px;
	background-image: url(../images/backgrounds/boxes/header/weather-box.gif);
}
#ot_d_weather_box .ot_d_content {
	padding: 10px 0;
	text-align: center;
	background-image: url(../images/backgrounds/boxes/content/weather-box.gif);
}
#ot_d_weather_box .ot_d_footer {
	height: 4px;
	background-image: url(../images/backgrounds/boxes/footer/weather-box.gif);
}

#ot_d_weather_box .ot_d_content a {
	text-decoration: underline;
}
#ot_d_weather_box .ot_d_content .ot_d_content_left {
	width: 145px;
	border-right: 1px solid #cccece;
}
#ot_d_weather_box .ot_d_content .ot_d_day {
	text-align: left;
	padding-left: 10px;
}
/* END: Weather Box */

/* START: Facebook Fans Box */
#ot_d_facebookfans_box .ot_d_header {
	height: 36px;
	background-image: url(../images/backgrounds/boxes/header/facebookfans_box.jpg);
}
#ot_d_facebookfans_box .ot_d_facebookfans_area {
	border:none; 
	overflow:hidden; 
	background-color:#FFF;
	margin-bottom:10px;
}
#ot_d_facebookactivity_box .ot_d_header {
	height: 36px;
	background-image: url(../images/backgrounds/boxes/header/facebookactivity_box.jpg);
}
#ot_d_facebookactivity_box .ot_d_facebookactivity_area {
	border:none; 
	overflow:hidden; 
	background-color:#FFF;
}
/* END: Facebook Fans Box */