@charset "utf-8";

/* START: MENU*/
#ot_d_body_header .ot_menu {
	height: 29px;
	background: url(../images/navbar.gif) no-repeat top left;
}

.ot_menu ul {
	display: block;
	height: 29px;
	width: 980px;
}

.ot_menu ul li {
	display: block;
	float: left;
	height: 29px;
}
/*.ot_menu ul li.ot_menu_sec09 {
	position:relative;
	float: right; 
	right:79px;
}
.ot_menu ul li.ot_menu_sec10 { 
	position:relative;
	float: right; 
	right:-136px;
}*/

.ot_menu ul li a {
	display: block;
	height: 29px;
	background-image: url(../images/nav.jpg);
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.ot_menu ul li.ot_menu_provide_info {float:right;}

.ot_menu ul li.ot_menu_sec01 a	{ background-position: 0px 0px; width: 80px; }
.ot_menu ul li.ot_menu_sec02 a	{ background-position: -80px 0px; width: 111px; }
.ot_menu ul li.ot_menu_sec03 a	{ background-position: -191px 0px; width: 79px; }
.ot_menu ul li.ot_menu_sec04 a	{ background-position: -270px 0px; width: 79px; }
.ot_menu ul li.ot_menu_sec05 a	{ background-position: -349px 0px; width: 81px; }
.ot_menu ul li.ot_menu_sec06 a	{ background-position: -430px 0px; width: 81px; }
.ot_menu ul li.ot_menu_sec07 a	{ background-position: -511px 0px; width: 99px; }
.ot_menu ul li.ot_menu_sec08 a	{ background-position: -610px 0px; width: 111px; }
.ot_menu ul li.ot_menu_provide_info a { background-position: -877px 0px; width: 102px;}
/*.ot_menu ul li.ot_menu_sec09 a	{ background-position: -764px 0px; width: 136px; }
.ot_menu ul li.ot_menu_sec10 a	{ background-position: -900px 0px; width: 80px; }*/

.ot_menu ul li.ot_menu_sec01 a:hover	{ background-position: 0px -29px; }
.ot_menu ul li.ot_menu_sec02 a:hover	{ background-position: -80px -29px; }
.ot_menu ul li.ot_menu_sec03 a:hover	{ background-position: -191px -29px; }
.ot_menu ul li.ot_menu_sec04 a:hover	{ background-position: -270px -29px; }
.ot_menu ul li.ot_menu_sec05 a:hover	{ background-position: -349px -29px; }
.ot_menu ul li.ot_menu_sec06 a:hover	{ background-position: -430px -29px; }
.ot_menu ul li.ot_menu_sec07 a:hover	{ background-position: -511px -29px; }
.ot_menu ul li.ot_menu_sec08 a:hover	{ background-position: -610px -29px; }
.ot_menu ul li.ot_menu_provide_info a:hover { background-position: -877px -29px;}
/*.ot_menu ul li.ot_menu_sec09 a:hover	{ background-position: -764px -29px; }
.ot_menu ul li.ot_menu_sec10 a:hover	{ background-position: -900px -29px; }*/

.ot_menu ul li.ot_menu_sec01 a.current	{ background-position: 0px -58px; }
.ot_menu ul li.ot_menu_sec02 a.current	{ background-position: -80px -58px; }
.ot_menu ul li.ot_menu_sec03 a.current	{ background-position: -191px -58px; }
.ot_menu ul li.ot_menu_sec04 a.current	{ background-position: -270px -58px; }
.ot_menu ul li.ot_menu_sec05 a.current	{ background-position: -349px -58px; }
.ot_menu ul li.ot_menu_sec06 a.current	{ background-position: -430px -58px; }
.ot_menu ul li.ot_menu_sec07 a.current	{ background-position: -511px -58px; }
.ot_menu ul li.ot_menu_sec08 a.current	{ background-position: -610px -58px; }
.ot_menu ul li.ot_menu_provide_info a.current { background-position: -877px -58px;}
/*.ot_menu ul li.ot_menu_sec09 a.current	{ background-position: -764px -58px; }
.ot_menu ul li.ot_menu_sec10 a.current	{ background-position: -900px -58px; }*/

.ot_menu ul li.ot_menu_sec01 a.current:hover	{ background-position: 0px -58px; }
.ot_menu ul li.ot_menu_sec02 a.current:hover	{ background-position: -80px -58px; }
.ot_menu ul li.ot_menu_sec03 a.current:hover	{ background-position: -191px -58px; }
.ot_menu ul li.ot_menu_sec04 a.current:hover	{ background-position: -270px -58px; }
.ot_menu ul li.ot_menu_sec05 a.current:hover	{ background-position: -349px -58px; }
.ot_menu ul li.ot_menu_sec06 a.current:hover	{ background-position: -430px -58px; }
.ot_menu ul li.ot_menu_sec07 a.current:hover	{ background-position: -511px -58px; }
.ot_menu ul li.ot_menu_sec08 a.current:hover	{ background-position: -610px -58px; }
/*.ot_menu ul li.ot_menu_sec09 a.current:hover	{ background-position: -764px -58px; }
.ot_menu ul li.ot_menu_sec10 a.current:hover	{ background-position: -900px -58px; }*/

/* END: MENU*/