@charset "utf-8";

/* START: Registration Box */
#registration-box {
	color: #333333;
}

#registration-box .header {
	height: 39px;
}

#registration-box .content {
	border-left: 1px solid #d7e9fc;
	border-top: 1px solid #d7e9fc;
	border-right: 1px solid #d7e9fc;
}

#registration-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/registration-box.gif);
}

#registration-box .header ul {
	height: 39px;
}
#registration-box .header ul li {
	display: block;
	float: left;
	width: 137px;
	height: 39px;
	padding-right: 8px;
}
#registration-box .header ul li a {
	display: block;
	width: 137px;
	height: 39px;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
	background-image: url(../images/backgrounds/tab-registration.gif);
	background-repeat: no-repeat;
}
#registration-box .header ul li.registration-user a		{ background-position: 0px 0px; }
#registration-box .header ul li.registration-company a	{ background-position: -145px 0px; }

#registration-box .header ul li.registration-user a.current, #registration-box .header ul li.registration-user a:hover { background-position: 0px -39px; }
#registration-box .header ul li.registration-company a.current, #registration-box .header ul li.registration-company a:hover	{ background-position: -145px -39px; }

#registration-box .header ul li.registration-user label a {
	background-position: 0px 0px;
}

#registration-box .header ul li.registration-company label a {
	background-position: -145px 0px;
}

#registration-box .header ul li.registration-user label a.current, #registration-box .header ul li.registration-user label a:hover {
	background-position: 0px -39px;
}

#registration-box .header ul li.registration-company label a.current, #registration-box .header ul li.registration-company label a:hover {
	background-position: -145px -39px;
}


#registration-box .content h4 {
	height: 23px;
	line-height: 23px;
	font-weight: normal;
	padding-left: 10px;
	border-bottom: 1px solid #d7e9fc;
}
#registration-box .content table { margin-bottom: 11px; }
#registration-box .content table th,
#registration-box .content table td {
	height: 22px;
	padding-top: 12px;
	padding-bottom: 1px;
	line-height: 21px;
}
#registration-box .content table th { font-weight: normal; }
#registration-box .content table td input.text-input {
	border: 1px solid #A5ACB2;
	height: 18px;
	width: 228px;
}
#registration-box .content table td input.small-input {
	width: 165px;
}
#registration-box .content table td input.next-step-button {
	display: block;
	width: 55px;
	height: 21px;
	background: url(../images/buttons/next-step.gif) no-repeat left top;
	border: none;
	text-indent: -9999px;
	cursor: pointer;
}
#registration-box .content table td input.next-step-button.hover {
	background-position: 0 -21px;
}
#registration-box .content table td input.register-submit-button {
	display: block;
	width: 42px;
	height: 21px;
	background: url(../images/buttons/register-submit.gif) no-repeat left top;
	border: none;
	text-indent: -9999px;
	cursor: pointer;
}
#registration-box .content table td input.send-button.hover {
	background-position: 0 -21px;
}
#registration-box .content table td input.send-button {
	display: block;
	width: 45px;
	height: 21px;
	background: url(../images/buttons/send.gif) no-repeat left top;
	border: none;
	text-indent: -9999px;
	cursor: pointer;
}
#registration-box .content table td input.send-button.hover {
	background-position: 0 -21px;
}
#registration-box .content table td select {
	border: 1px solid #A5ACB2;
	font-size: 12px;
	height: 22px;
	width: 230px;
	color: #333333;
}
#registration-box .content table td textarea {
	border: 1px solid #A5ACB2;
	height: 108px;
	width: 228px;
}
#registration-box .content table td label {
	width: 90px;
}
#registration-box .content table td label.error{
	color:#F00;
}
/* END: Registration Box */

/* START: Facbook Register Notice Box */
#ot_d_fb_reg_notice{
	width:100%;
	width: 442px;
	height: 35px;
	padding: 42px 0px 12px 12px;
	background: url(../images/index/fb_reg_notice/fb_reg_notice_tit.jpg) no-repeat left top;	
}
#ot_d_fb_reg_notice .ot_d_header{
	width: 442px;
	height: 3px;
	overflow:hidden;
	background: url(../images/backgrounds/boxes/header/fb_reg_notice-box.jpg) no-repeat left top;	
}
#ot_d_fb_reg_notice .ot_d_content{
	width: 406px;
	background: url(../images/backgrounds/boxes/content/fb_reg_notice-box.jpg);	
}
#ot_d_fb_reg_notice .ot_d_footer{
	width: 442px;
	height: 3px;
	background: url(../images/backgrounds/boxes/footer/fb_reg_notice-box.jpg) no-repeat left top;	
}
#ot_d_fb_reg_notice .ot_d_fb_reg_notice_pic{
	float:left;
}
#ot_d_fb_reg_notice .ot_d_fb_reg_notice_username{
	font-size:13px;
	padding: 0px 12px 12px 10px;
	float:left;
}
#ot_d_fb_reg_notice .ot_d_fb_reg_notice_form{
	float:left;
}
#ot_d_fb_reg_notice .ot_d_content ul{
	font-size:13px;
	margin:0px;
	padding:0px;
	overflow:hidden;
	list-style:none;
}
#ot_d_fb_reg_notice .ot_d_content ul li{
	padding: 12px 0px 0px 12px;
}
#ot_d_fb_reg_notice .ot_d_content ul li.ot_t_fb_reg_notice_blank{
	padding: 12px 12px 0px 92px;
}
#ot_d_fb_reg_notice .ot_d_content ul li .ot_d_fb_reg_notice_type{
	width:80px;
	float:left;
}
#ot_d_fb_reg_notice .ot_d_content ul li .ot_t_fb_reg_notice_textbox{
	width:250px;
}
#ot_d_fb_reg_notice .ot_i_submit{
	width: 45px;
	height: 21px;
	background: url(../images/buttons/send2.gif) no-repeat;
	position: 0px 0px;
	border: 0;
	cursor: pointer;
	margin-bottom:12px;
}
#ot_d_fb_reg_notice .ot_i_submit.hover {
	background-position: 0px -20px;
}
#ot_d_fb_reg_notice .ot_i_done_reg{
	width: 72px;
	height: 20px;
	background: url(../images/buttons/done_fb_reg_notice.gif) no-repeat;
	position: 0px 0px;
	border: 0;
	cursor: pointer;
	margin-bottom:12px;
}
#ot_d_fb_reg_notice .ot_i_done_reg.hover {
	background-position: 0px -20px;
}#ot_d_fb_reg_notice .ot_i_next_step_write{
	width: 121px;
	height: 20px;
	background: url(../images/buttons/next_step_write_info.gif) no-repeat;
	position: 0px 0px;
	border: 0;
	cursor: pointer;
	margin: 0px 0px 12px 10px;
	
}
#ot_d_fb_reg_notice .ot_i_next_step_write.hover {
	background-position: 0px -20px;
}
/* END: Facbook Register Notice Box */

#chgpwdForm td{
	padding: 5px;
	border: 1px #def solid;	
}
