@charset "utf-8";
/* CSS Document */

/* Start: Outstreet Poster*/
.op_textpath{
	margin-bottom:10px;
}
.op_textpath_height{
	height:45px;
}
.op_facebook{
	float:left;
}
.op_facebook_like{
	margin-left:10px;
	float:left;
}
.op_content_top{
	vertical-align:top;
	line-height:0;
}
.op_size{
	width: 640px;
	padding:0px;
	margin-bottom:12px;
}
.op_ban{
	width: 640px; 
	height: 173px;
}
.op_ban_small{
	width: 620px; 
	margin:10px;
}
.op_ban_pic{
	margin-right:7px;
	float:left;
	vertical-align:top;
}
.op_intro{
	margin: 15px 5px 0px 6px;
}
.op_intro_pos{
	line-height:20px;
}
.op_intro_tit{
	font-size:20px;
	color:#003a6b;
	font-weight:bold;
	margin-bottom:8px;
	padding-top:3px;
}
.op_intro_txt{
	font-size:15px;
	font-weight:bold;
}
.op_intro .op_intro_header{
	background-image:url(/Public/images/index/outstreetpromo/img_intro01.jpg);
	width: 629px; 
	height: 18px;
}
.op_intro .op_intro_content{
	background-image:url(http://www.outstreet.com.hk/Public/images/index/outstreetpromo/img_intro02.jpg);
	background-repeat:repeat-y;
	padding: 0px 30px 0px 30px;
	font-size:15px;
	line-height:20px;
}
.op_intro_bg{
	background-image:url(/Public/images/index/outstreetpromo/img_intro02.jpg);
	background-repeat:repeat-y;
}
.op_intro_word{
	padding: 0px 30px 0px 30px;
	font-size:15px;
	line-height:20px;
}
.op_intro .op_intro_footer{
	background-image:url(/Public/images/index/outstreetpromo/img_intro03.jpg);
	width: 629px; 
	height: 18px;	
}
.op_frame{
	margin-top:15px;
}
.op_frame_tit01{
	background-image:url(/Public/images/index/outstreetpromo/tit_03.jpg);
	background-repeat:repeat-x;
	width:564px;
}
.op_frame_tit{
	font-weight:bold;
	font-size:17px;
	line-height:31px;
	background-color:#c1c1c0;
}
.op_frame_content{
	background-image:url(/Public/images/index/outstreetpromo/tit_05.jpg);
	background-repeat:no-repeat;
	font-size:15px;
	line-height:20px;
	padding: 15px 40px 0px 43px;
}
.op_pic_pos{
	width:100%;
	text-align:center;
}
.op_pic{
	padding:5px;
}

.op_frame_content_notit{
	font-size:15px;
	line-height:20px;
	padding: 0px 40px 0px 43px;
}
#op_template_1 .op_template{
	margin-top:20px;
}
#op_template_1 .op_template_notit{
	margin-top:0px;
}
#op_template_1 .toppic{
	padding-bottom:12px;
	text-align:center;
}
#op_template_1 .wordsize{
	font-size:15px;	
}

#op_template_2 .op_template{
	margin-top:20px;
}
#op_template_2 .op_template_notit{
	margin-top:0px;
}
#op_template_2 .wordsize{
	font-size:15px;	
	padding-bottom:12px;	
}
#op_template_2 .toppic{
	text-align:center;
}

#op_template_3 .op_template{
	float:left;
	margin-top:20px;
}
#op_template_3 .op_template_notit{
	float:left;
	margin-top:0px;
}
#op_template_3 .op_template .leftpic{
	width:200px;
	float:left;
	padding-bottom:12px;
	padding-right:12px;	
}
#op_template_3 .op_template .wordsize{
	font-size:15px;	
}

#op_template_4 .op_template{
	width:100%;
	float:right;
	margin-top:20px;
}
#op_template_4 .op_template_notit{
	float:right;
	margin-top:0px;
	font-size:15px;	
}
#op_template_4 .op_template .rightpic{
	width:200px;
	float:right;
	padding-bottom:12px;
	padding-left:12px;	
}
#op_template_4 .op_template .wordsize{
	font-size:15px;	
}

#op_template_5 .op_template{
	float:left;
	margin-top:20px;
}
#op_template_5 .op_template_notit{
	float:left;
	margin-top:0px;
}
#op_template_5 .op_template .wordsize{
	font-size:15px;	
}
#op_template_5 .op_template .tablebg{
	font-size:15px;
	text-align:left;
	font-weight:bold;
	background-color:#ddeeff;	
}
#op_template_5 .op_template .tableword{
	text-align:left;
	font-size:15px;	
}
.op_tabledate {
	width: auto;
	clear: left;
	margin: 0;
	padding: 5px 0 0px 0;
}
.op_tabledate .record{
	overflow:auto;
	display:block;
}
.op_tabledate .tit{
	font-size:15px;
	text-align:left;
	float: left;
	margin-right:1px;
	margin-bottom:5px;
	padding: 5px 5px 0px 5px;
}
.op_tabledate .data{
	font-size:15px;
	text-align:left;
	float: left;	
	width: 264px;
	margin-right:1px;
	margin-bottom:5px;
	padding: 5px 5px 0px 5px;
}

a.button {
    background: url('http://www.outstreet.com.hk/Public/images/index/outstreetpromo/bg_button_a.jpg') no-repeat scroll top right;
    color: #fff;
	font-weight:bold;
    display: block;
	font-size:15px;	
    float: left;
    margin-right: 0px;
    padding-right: 18px;
    text-decoration: none;
}

a.button span {
    background: url('http://www.outstreet.com.hk/Public/images/index/outstreetpromo/bg_button_span.jpg') no-repeat;
    display: block;
    line-height: 28px;
    padding: 5px 0 5px 35px;
}
/* End: Outstreet Poster*/

/* START: Outstreet promo content page*/
#outstreet_mulitpage_head{
	margin-top:20px;
	width:auto;
}
#outstreet_mulitpage_head .title1{
	border-top:solid 1px #d9d9d9;
}
#outstreet_mulitpage_head .title2{
 	height:23px;
	padding-top:6px;	
	background-color:#e1f8ff;
	vertical-align:middle;	
}
#outstreet_mulitpage_head .title3{
	border-bottom:solid 1px #d9d9d9;
}
#outstreet_mulitpage_head .line{
	border-bottom:solid 1px #d9d9d9;
}
#outstreet_mulitpage_head .data_space{
 	height:23px;
	padding-top:6px;	
}
#outstreet_mulitpage_head .number{
	margin-left:30px;
	vertical-align:middle;
	padding-right:100px;
	position:absolute;	
	z-index:3;	
}
#outstreet_mulitpage_head .titlewording{
	margin-left:80px;
	vertical-align:middle;	
	position:absolute;
}
#outstreet_mulitpage_head .titlecontent{
	padding-left:80px;
	vertical-align:middle;	
	position:absolute;
	z-index:4;		
}
#outstreet_mulitpage_head .datewording{
	margin-left:475px;
	vertical-align:middle;	
	position:absolute;
}
#outstreet_mulitpage_head .datecontent{
	padding-left:475px;
	vertical-align:middle;	
	position:absolute;
	z-index:1;
}
a.button {
    background: url('http://www.outstreet.com.hk/Public/images/index/outstreetpromo/bg_button_a.jpg') no-repeat scroll top right;
    color: #fff;
	font-weight:bold;
    display: block;
	font-size:15px;	
    float: left;
    margin-right: 0px;
    padding-right: 18px;
    text-decoration: none;
}

a.button span {
    background: url('http://www.outstreet.com.hk/Public/images/index/outstreetpromo/bg_button_span.jpg') no-repeat;
    display: block;
    line-height: 28px;
    padding: 5px 0 5px 35px;
}
/* End: Outstreet promo content page*/

/* START: Promo List Box */
#promo_list_box {
}
#promo_list_box .content ul {

}
#promo_list_box .content ul li {
	border-bottom: 1px solid #c8f1ff;
	padding-top: 4px;
	padding-bottom: 12px;
}
#promo_list_box .content ul li.alt-row {
	background-color: #F2FAFF;
}
#promo_list_box .content ul li table td {
	line-height: 21px;
	vertical-align: top;
}
#promo_list_box .content ul li table td.result_num {
	text-indent: 8px;
	background: url(../images/backgrounds/result-numering.gif) no-repeat top left;
	line-height: 16px;
	width: 45px;
	
}
#promo_list_box .content ul li table td.spacer {
	height: 7px;
	line-height: 7px;
	font-size: 7px;
	background: none;
}
#promo_list_box .content ul li table td.upSpacer {
	height: 10px;
	line-height: 7px;
	font-size: 7px;
	background: none;
}
#promo_list_box .content ul li table td.write-review {
/*	height: 42px;
	background: url(../images/backgrounds/blue-vertical-line.gif) no-repeat left center;
	vertical-align: top;
*/
}
#promo_list_box .content ul li table td.write-review a.plus {
	float: left;
	margin-left: 10px;
	margin-top: 13px;
}
#promo_list_box .content ul li .main_link {
	display: block;
	float: left;
	height: 21px;
	line-height: 21px;
	padding-right: 11px;
	text-decoration: underline;
	font-size: 15px;
	font-weight: bold;
}
#promo_list_box .op_list {
	width: 100%;
	border: 0px;
	padding: 0px;
}
#promo_list_box .op_list .op_list_title{
	width: 485;
}
#promo_list_box .op_list .op_list_description {
	width: 70px;
	padding-left:5px;
	vertical-align:text-top;
}
#promo_list_box .op_list .op_list_thumbtable{
	width: 100%;
	border:: 1px;
	padding: 0px;
}
#promo_list_box .op_list .op_list_thumbtable .op_list_thumb{
	width: 160px;
	height: 120px;
}
#promo_list_box .op_list .op_list_thumbtable .op_list_titleCol{
	width: 80px;
	height:18px;
	padding-left: 5px;
}
#promo_list_box .op_list .op_list_thumbtable .op_list_DescCol{
	width: 80px;
	height:102px;
	padding-left: 5px;	
}
#promo_list_box .op_list .op_list_thumbtable .op_list_description{
	width: 350px;
	padding-right:10px;
	vertical-align:text-top;
}
/* END: Promo List Box */
