@charset "utf-8";

/*Contact us Box*/
#contactus-box {
}

#contactus-box .header {
	padding-right: 5px;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/contactus-box.gif);
}
#contactus-box .content {
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 12px;
	background-image: url(../images/backgrounds/boxes/content/contactus-box.gif);
}

#contactus-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/contactus-box.gif);
}
/*END: Contact us Box */

/*Advert Box*/
#advert-box {
}

#advert-box .header {
	padding-right: 5px;
	height: 3px;
	background-image: url(../images/backgrounds/boxes/header/advert-box.gif);
}
#advert-box .content {
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 12px;
	background-image: url(../images/backgrounds/boxes/content/advert-box.gif);
}

#advert-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/advert-box.gif);
}
/*END: Advert Box */

/*About us Box*/
#aboutus-box {
}

#aboutus-box .header {
	padding-right: 5px;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/aboutus-box.gif);
}
#aboutus-box .content {
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 12px;
	background-image: url(../images/backgrounds/boxes/content/aboutus-box.gif);
}

#aboutus-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/aboutus-box.gif);
}
/*END: About us Box */

/*Career Box*/
#career-box {
}

#career-box .header {
	padding-right: 5px;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/career-box.gif);
}
#career-box .content {
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 12px;
	background-image: url(../images/backgrounds/boxes/content/career-box.gif);
}

#career-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/career-box.gif);
}

#career-box .career-form-point {
	list-style: url(../images/backgrounds/career-point-form.gif);
	list-style-position: inside;
}

#career-box .tit-padding {
	padding:6px;
}

#career-box .tit-font {
	color: #666666;
	font-size: 15px;
	font-weight:bold;
	background-color: #E7F3FF;
}

#career-box a.applybtn {
	
	width: 97;
	height: 19px;
	background-image: url(../images/buttons/applybtn.gif);
	background-position: 0px 0px; 
	background-repeat: no-repeat;
	text-indent: -9999px;
}
#career-box a.applybtn:hover { 
	background-position: 0px -19px; 
}
/*END: Career Box */

/*under construction Box*/
#uc-box {
}

#uc-box .header {
	padding-right: 5px;
	height: 3px;
	background-image: url(../images/backgrounds/boxes/header/uc-box.gif);
}
#uc-box .content {
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 12px;
	background-image: url(../images/backgrounds/boxes/content/uc-box.gif);
}

#uc-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/uc-box.gif);
}
/*END: under construction Box */

/*under construction-contact Box*/
#uc-contact-box {
}

#uc-contact-box .header {
	padding-right: 5px;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/uc-contact-box.gif);
}
#uc-contact-box .content {
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 12px;
	background-image: url(../images/backgrounds/boxes/content/uc-contact-box.gif);
}

#uc-contact-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/uc-contact-box.gif);
}
/*END: under construction-contact us Box */

/*Faq*/
#faq-box {
}

#faq-box .header {
	padding-right: 5px;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/faq-box.gif);
}
#faq-box .content {
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 12px;
	background-image: url(../images/backgrounds/boxes/content/faq-box.gif);
}

#faq-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/faq-box.gif);
}
/*END: Faq */

/*Contest Box*/
#contest-box {
}

#contest-box .header {
	padding-right: 5px;
	height: 3px;
	background-image: url(../images/backgrounds/boxes/header/advert-box.gif);
}
#contest-box .content {
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 12px;
	background-image: url(../images/backgrounds/boxes/content/advert-box.gif);
}

#contest-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/advert-box.gif);
}
/*END: Contest Box */

/*Start: Error page*/
#body-content-error {
	width: 950px;
	padding-top: 15px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:30px;
	background-color:#fff;
}
#error-box {
	position:relative;
	left:148px;
}
#error-box .header{
	text-align:center;
	padding: 5px;
	font-weight:bold;
	height: 15px;
	width:630px;
	background-image: url(../images/backgrounds/boxes/header/error-box.gif);
}
#error-box .content{
	width:640px;
	background-image: url(../images/backgrounds/boxes/content/error-box.gif);
}
.error-box-text{
	line-height:30px;
	padding:20px;
}
#error-box .footer{
	height: 10px;
	width:640px;
	background-image: url(../images/backgrounds/boxes/footer/error-box.gif);
}
/*End: Error page*/

/*Start: Login small page*/
#body-content-loginsmall-error {
	width: 430px;
	padding-top: 5px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	background-color:#fff;
}
#body-content-loginsmall-error-full{
}
#loginsmall-error-box {
	position:relative;
	left:10px;
}
#loginsmall-error-box .header{
	text-align:center;
	padding: 5px;
	font-weight:bold;
	height: 19px;
	width:400px;
	background-image: url(../images/backgrounds/boxes/header/login_small-error-box.gif);
}
#loginsmall-error-box .content{
	width:400px;
	background-image: url(../images/backgrounds/boxes/content/login_small-error-box.gif);
}
.loginsmall-error-box-text{
	line-height:20px;
	padding:10px;
}
#loginsmall-error-box .footer{
	height: 10px;
	width:400px;
	background-image: url(../images/backgrounds/boxes/footer/login_small-error-box.gif);
}
/*End: Login small page*/