@charset "utf-8";

/*********************** Remark: ot_d_review_user is the same set as ot_d_review_user, plz change both set when modify ******************************/

/* START: Review*/
.ot_d_review{
	margin-top:12px;
	width:656px;
	background-color:#f9f9f9;
}
.ot_d_review .ot_d_merchant_comment_header{
	color: #3a85b0;
	font-size: 16px;
	line-height:34px;
	padding-left:12px;
	height:34px;
	background-color:#c7eaff;
	font-weight:bold;
}
.ot_d_review .ot_d_merchant_comments_ctrl{
	padding:5px 15px 5px 15px;
	height:20px;	
	line-height:5px;
}
.ot_d_review .ot_d_merchant_comments_ctrl_return{
	float:left;
	line-height:20px;
	vertical-align:baseline;	
}
.ot_d_review .ot_d_merchant_comments_ctrl_return a{
	font-size: 13px;
	text-decoration:none;
}
.ot_d_review .ot_d_merchant_comments_ctrl_return a:hover{
	border-bottom:1px #2155B5 solid;
}
.ot_d_review .ot_d_merchant_comments_ctrl_switch{
	float:right;
	line-height:20px;	
	vertical-align:baseline;
}
.ot_d_review .ot_d_merchant_comments_ctrl_switch a{
	font-size: 13px;
	text-decoration:none;
}
.ot_d_review .ot_d_merchant_comments_ctrl_switch a:hover{
	border-bottom:1px #2155B5 solid;
}
.ot_d_review .ot_d_paging{
	float:right;
	padding: 12px 0px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul {
	background: url(../images/backgrounds/lightblue-dotted-horizontal-line.gif) repeat-x top left;
	padding-top:1px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li {
	background: url(../images/backgrounds/lightblue-dotted-horizontal-line.gif) repeat-x bottom left;
	padding-bottom: 15px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li.ot_o_alt_row {
	background-color: #f2faff;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_left {
	float: left;
	padding-top: 13px;
	padding-left: 12px;
	width: 104px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_right {
	float: left;
	width: 525px;
	padding-top: 8px;
}

.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_comment_title {
	font-weight: bold;
	font-size: 15px;
	color:#905119;
	line-height: 21px;
	padding-right:3px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_comment_title a {
	font-weight: bold;
	font-size: 15px;
	color:#905119;
	line-height: 21px;
	padding-right:3px;
	text-decoration:none;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_comment_title a:hover {
	text-decoration:underline;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_reviewstar {
	padding: 7px 0px;
	display:block;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li span.cheap {
	display: block;
	float: left;
	width: 57px;
	height: 21px;
	text-indent: -9999px;
	background: url(../images/icons/cheap.gif) no-repeat top right;
	padding-left: 18px;
	vertical-align: bottom;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li a.ot_d_add_facebook {
	display: block;
	height: 21px;
	line-height: 21px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .description{
 	margin-bottom:12px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures{
	clear:both;
	margin-top:10px;
	position:relative;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_pos{
	width:528px;
	float:left;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_pos_frame{
	float:left;
	max-width:258px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_info{
	float:left;	
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_marginright{
	margin-right:12px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_marginbottom{
	margin-bottom:12px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_img{
	vertical-align:middle;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_desc{
	float:left;
	font-size:13px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_comment {
	margin-bottom:10px;	
	word-wrap:break-word;
	word-break:normal;
	font-size:15px;
	letter-spacing:1px;
	line-height:20px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_o_comment p {
	line-height: 18px;
	padding-bottom: 14px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li a.ot_o_clap {
	display: block;
	float: left;
	width: 82px;
	height: 55px;
	padding-top: 17px;
	padding-left: 76px;
	background: url(../images/buttons/clap.gif) no-repeat top left;
	text-decoration: none;
	color: #555555;
	font-size: 26px;
	font-weight: bold;
}

.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li a.ot_o_back {
	display: block;
	float: right;
	margin-top: 5px;
	margin-left: 5px;
	font-size:13px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_profile_image {
	border: 2px solid #e8e8e8;
	width: 88px;
	height: 88px;
	margin-bottom: 8px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_profile_name {
	display: block;
	text-align: left;
	padding-bottom: 7px;
	font-size:13px;
	text-decoration: underline;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_o_add_favourite {
	display: block;
	width: 92px;
	height: 42px;
	background: url(../images/buttons/comments-add-favourite.gif) no-repeat top left;
	text-indent: -9999px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_o_add_favourite:hover {
	background-position: 0 -42px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_commentreview{
	display: none;
	margin-bottom:10px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_commentreview_pos_clap{
	float:left;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_commentreview_pos_flag{
	float:left;
	padding-left:5px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_reviewfacebook{
	margin-top:10px;
	clear:both;
}

.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li a.ot_d_clap {
    background: url(../images/icons/shop_profile_review_good_btn.gif) no-repeat scroll top left;
	width:50px;
	position:relative;
	vertical-align:baseline;
	text-decoration:underline;
	padding-left:25px;
	padding-top:5px;
	margin-bottom:5px;
	display:block;
	font-size:13px;
}

.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li a.ot_d_flag {
    background: url(../images/icons/shop_profile_review_flag_btn.gif) no-repeat scroll top left;
	width:50px;
	position:relative;
	vertical-align:baseline;
	text-decoration:underline;
	padding-left:25px;
	padding-top:5px;
	margin-bottom:5px;	
	display:block;
	font-size:13px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review6icons{
	width:100%;
	height:28px;
	margin-bottom:10px;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review6icons .ot_d_review6icons_short{
	width:75px;
	height:28px;	
	float:left;
	margin-right:3px;
	background:url(../images/shop/shop_profile_review_6icon_frame1.jpg) no-repeat;	
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review6icons .ot_d_review6icons_shorttxt{
	width:40px;
	padding: 7px 0px;
	font-size:13px;
	font-weight:bold;	
	text-align:center;	
	color:#00162e;
	float:left;
	font-family:新細明體;
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review6icons .ot_d_review6icons_shortnum{
	width:34px;
	padding: 7px 0px;
	font-size:13px;
	font-weight:bold;	
	text-align:center;	
	color:#00162e;
	float:right;
	font-family:新細明體;	
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review6icons .ot_d_review6icons_long{
	width:103px;
	float:left;
	margin-right:3px;
	background:url(../images/shop/shop_profile_review_6icon_frame2.jpg) no-repeat;	
	float:left;		
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review6icons .ot_d_review6icons_longtxt{
	width:68px;
	padding: 7px 0px;
	font-size:13px;
	font-weight:bold;	
	text-align:center;	
	color:#00162e;
	float:left;
	font-family:新細明體;		
}
.ot_d_review #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review6icons .ot_d_review6icons_longnum{
	width:35px;
	padding: 7px 0px;
	font-size:13px;
	font-weight:bold;	
	text-align:center;	
	color:#00162e;
	float:left;
	font-family:新細明體;		
}
/* END: Review*/

/* START: User Review*/
.ot_d_review_user{
	margin-top:12px;
	width:770px;
	/*background-color:#f9f9f9;*/
}
.ot_d_review_user .ot_d_merchant_comment_header{
	color: #3a85b0;
	font-size: 16px;
	line-height:34px;
	padding-left:12px;
	height:34px;
	background-color:#c7eaff;
	font-weight:bold;
}
.ot_d_review_user .ot_d_merchant_comments_ctrl{
	padding:5px 15px 5px 15px;
	height:20px;	
	line-height:5px;
}
.ot_d_review_user .ot_d_merchant_comments_ctrl_return{
	float:left;
	line-height:20px;
	vertical-align:baseline;	
}
.ot_d_review_user .ot_d_merchant_comments_ctrl_return a{
	font-size: 13px;
	text-decoration:none;
}
.ot_d_review_user .ot_d_merchant_comments_ctrl_return a:hover{
	border-bottom:1px #2155B5 solid;
}
.ot_d_review_user .ot_d_merchant_comments_ctrl_switch{
	float:right;
	line-height:20px;	
	vertical-align:baseline;
}
.ot_d_review_user .ot_d_merchant_comments_ctrl_switch a{
	font-size: 13px;
	text-decoration:none;
}
.ot_d_review_user .ot_d_merchant_comments_ctrl_switch a:hover{
	border-bottom:1px #2155B5 solid;
}
.ot_d_review_user .ot_d_paging{
	float:right;
	padding: 12px 0px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul {
	background: url(../images/backgrounds/lightblue-dotted-horizontal-line.gif) repeat-x top left;
	padding-top:1px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li {
	background: url(../images/backgrounds/lightblue-dotted-horizontal-line.gif) repeat-x bottom left;
	padding-bottom: 15px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li.ot_o_alt_row {
	background-color: #f2faff;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_left {
	float: left;
	padding-top: 13px;
	padding-left: 12px;
	width: 104px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_right {
	float: left;
	width: 740px;
	padding-top: 8px;
}

.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_comment_title {
	font-weight: bold;
	font-size: 15px;
	color:#905119;
	line-height: 21px;
	padding-right:3px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_comment_title a {
	font-weight: bold;
	font-size: 15px;
	color:#905119;
	line-height: 21px;
	padding-right:3px;
	text-decoration:none;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_comment_title a:hover {
	text-decoration:underline;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review_userstar {
	padding: 7px 0px;
	display:block;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li span.cheap {
	display: block;
	float: left;
	width: 57px;
	height: 21px;
	text-indent: -9999px;
	background: url(../images/icons/cheap.gif) no-repeat top right;
	padding-left: 18px;
	vertical-align: bottom;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li a.ot_d_add_facebook {
	display: block;
	height: 21px;
	line-height: 21px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .description{
 	margin-bottom:12px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures{
	clear:both;
	margin-top:10px;
	position:relative;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_pos{
	width:528px;
	float:left;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_pos_frame{
	float:left;
	max-width:258px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_info{
	float:left;	
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_marginright{
	margin-right:12px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_marginbottom{
	margin-bottom:12px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_img{
	vertical-align:middle;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_review_pictures_desc{
	float:left;
	font-size:13px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_comment {
	margin-bottom:10px;	
	word-wrap:break-word;
	word-break:normal;
	font-size:15px;
	letter-spacing:1px;
	line-height:20px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_o_comment p {
	line-height: 18px;
	padding-bottom: 14px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li a.ot_o_clap {
	display: block;
	float: left;
	width: 82px;
	height: 55px;
	padding-top: 17px;
	padding-left: 76px;
	background: url(../images/buttons/clap.gif) no-repeat top left;
	text-decoration: none;
	color: #555555;
	font-size: 26px;
	font-weight: bold;
}

.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li a.ot_o_back {
	display: block;
	float: right;
	margin-top: 5px;
	margin-left: 5px;
	font-size:13px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_profile_image {
	border: 2px solid #e8e8e8;
	width: 88px;
	height: 88px;
	margin-bottom: 8px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_profile_name {
	display: block;
	text-align: left;
	padding-bottom: 7px;
	font-size:13px;
	text-decoration: underline;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_o_add_favourite {
	display: block;
	width: 92px;
	height: 42px;
	background: url(../images/buttons/comments-add-favourite.gif) no-repeat top left;
	text-indent: -9999px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_o_add_favourite:hover {
	background-position: 0 -42px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_commentreview{
	display: none;
	margin-bottom:10px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_commentreview_pos_clap{
	float:left;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_commentreview_pos_flag{
	float:left;
	padding-left:5px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review_userfacebook{
	margin-top:10px;
	clear:both;
}

.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li a.ot_d_clap {
    background: url(../images/icons/shop_profile_review_good_btn.gif) no-repeat scroll top left;
	width:50px;
	position:relative;
	vertical-align:baseline;
	text-decoration:underline;
	padding-left:25px;
	padding-top:5px;
	margin-bottom:5px;
	display:block;
	font-size:13px;
}

.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li a.ot_d_flag {
    background: url(../images/icons/shop_profile_review_flag_btn.gif) no-repeat scroll top left;
	width:50px;
	position:relative;
	vertical-align:baseline;
	text-decoration:underline;
	padding-left:25px;
	padding-top:5px;
	margin-bottom:5px;	
	display:block;
	font-size:13px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review_user6icons{
	width:100%;
	height:28px;
	margin-bottom:10px;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review_user6icons .ot_d_review_user6icons_short{
	width:75px;
	height:28px;	
	float:left;
	margin-right:3px;
	background:url(../images/shop/shop_profile_review_6icon_frame1.jpg) no-repeat;	
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review_user6icons .ot_d_review_user6icons_shorttxt{
	width:40px;
	padding: 7px 0px;
	font-size:13px;
	font-weight:bold;	
	text-align:center;	
	color:#00162e;
	float:left;
	font-family:新細明體;
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review_user6icons .ot_d_review_user6icons_shortnum{
	width:34px;
	padding: 7px 0px;
	font-size:13px;
	font-weight:bold;	
	text-align:center;	
	color:#00162e;
	float:right;
	font-family:新細明體;	
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review_user6icons .ot_d_review_user6icons_long{
	width:103px;
	float:left;
	margin-right:3px;
	background:url(../images/shop/shop_profile_review_6icon_frame2.jpg) no-repeat;	
	float:left;		
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review_user6icons .ot_d_review_user6icons_longtxt{
	width:68px;
	padding: 7px 0px;
	font-size:13px;
	font-weight:bold;	
	text-align:center;	
	color:#00162e;
	float:left;
	font-family:新細明體;		
}
.ot_d_review_user #ot_d_merchant_comments_box .ot_d_content ul li .ot_d_review_user6icons .ot_d_review_user6icons_longnum{
	width:35px;
	padding: 7px 0px;
	font-size:13px;
	font-weight:bold;	
	text-align:center;	
	color:#00162e;
	float:left;
	font-family:新細明體;		
}
/* END: Review*/

/*START Review form*/
#ot_d_review_sel_role_col {
	padding-bottom: 15px;
}
#ot_d_review_sel_role_col ul {
	height: 33px;
	border-bottom: 2px solid #e9f4ff;
}
#ot_d_review_sel_role_col ul li {
	float: left;
	padding-right: 10px;
	width: 78px;
	height: 33px;
}
#ot_d_review_sel_role_col ul li a {
	display: block;
	width: 78px;
	height: 33px;
	background: none;
	font-size: 14px;
	line-height: 33px;
	text-align: center;
	text-decoration: underline;
}
#ot_d_review_sel_role_col ul li a:hover {
	color: #333333;
}
#ot_d_review_sel_role_col ul li a.current {
	color: #333333;
	text-decoration: none;
	background: url(../images/backgrounds/reviewer-page-tab.gif) no-repeat top left;
}
.ot_d_eW div.ot_d_review_logreg_area {
	float:left;
	width:800px;
	margin-left:10px;
	padding:0px 50px 10px 0px;
	vertical-align:bottom;
	font-size:13px;
}
.od_d_review_logreg_text{
	display:none;
	font-weight:bold;
}
/*End Review form*/