@charset "utf-8";

/* START: Weather Forecast Box */
#ot_s08_d_weather_box {
}

#ot_s08_d_weather_box a.more {
	margin-top: 12px;
}

#ot_s08_d_weather_box .header {
	padding-right: 5px;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/weather-forecast-box.gif);
}

#ot_s08_d_weather_box .content {
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 12px;
	background-image: url(../images/backgrounds/boxes/content/weather-forecast-box.gif);
}

#ot_s08_d_weather_box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/weather-forecast-box.gif);
}

#ot_s08_d_weather_box .grid01 {
	height: 16px;
	background-image: url(../images/backgrounds/weather_gird01.jpg);
}

#ot_s08_d_weather_box .content table thead th {
	height: 30px;
	width: 60px;
	padding: 8px 10px;
	font-weight: normal;
	text-align: center;
	border-bottom: 1px solid #d2d2d2;
	border-right: 1px solid #d7e9fc;
	vertical-align: middle;
}

#ot_s08_d_weather_box .content table thead th.left { width: 56px; padding: 8px 0; }
#ot_s08_d_weather_box .content table thead th.right { padding-right: 0; border-right: none; }

#ot_s08_d_weather_box .content table tbody td {
	width: 72px;
	padding: 14px 4px 0;
	border-right: 1px solid #d7e9fc;
	text-align: center;
}
#ot_s08_d_weather_box .content table tbody td.left {
	width: 56px;
	vertical-align: middle;
	text-align: center;
	padding: 0;
}#ot_s08_d_weather_box .content table tbody td.right {
	padding-right: 0;
	border-right: none;
}

#ot_s08_d_weather_box .content table tbody td div.weather-image {
	padding-bottom: 19px;
}
#ot_s08_d_weather_box .content table tbody td div.weather-description {
	line-height: 18px;
	padding-bottom: 4px;
}
/* END: Weather Forecast Box */

/* START: Traffic Box */
#ot_s08_d_traffic_box {
}

#ot_s08_d_traffic_box .header {
	padding-right: 5px;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/traffic-box.gif);
}

#ot_s08_d_traffic_box .content {
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 19px;
	padding-bottom: 13px;
	background-image: url(../images/backgrounds/boxes/content/traffic-box.gif);
}

#ot_s08_d_traffic_box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/traffic-box.gif);
}

#ot_s08_d_traffic_box .content .transportation-list {
	height: 83px;
	padding-bottom: 23px;
}
#ot_s08_d_traffic_box .content .transportation-list li {
	float: left;
	padding-right: 13px;
}

#ot_s08_d_traffic_box .content h4 {
	display: block;
	height: 40px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: top left;
	padding-bottom: 14px;
}

#ot_s08_d_traffic_box .content h4.traffic-mtr		{ background-image: url(../images/backgrounds/traffic-mtr-header.gif); }
#ot_s08_d_traffic_box .content h4.traffic-bus		{ background-image: url(../images/backgrounds/traffic-bus-header.gif); }
#ot_s08_d_traffic_box .content h4.traffic-minibus	{ background-image: url(../images/backgrounds/traffic-minibus-header.gif); }
#ot_s08_d_traffic_box .content h4.traffic-tram		{ background-image: url(../images/backgrounds/traffic-tram-header.gif); }
#ot_s08_d_traffic_box .content h4.traffic-taxi		{ background-image: url(../images/backgrounds/traffic-taxi-header.gif); }

#ot_s08_d_traffic_box .content a.top {
	display: block;
	text-align: right;
	height: 21px;
}

#ot_s08_d_traffic_box .content table td {
	height: 14px;
	padding-bottom: 10px;
	color: #6c6c6c;
}

#ot_s08_d_traffic_box .content .traffic-taxi-tabs ul {
	height: 24px;
}

#ot_s08_d_traffic_box .content .traffic-taxi-tabs ul li {
	display: block;
	float: left;
	width: 58px;
	height: 24px;
	padding-right: 14px;
}
#ot_s08_d_traffic_box .content .traffic-taxi-tabs ul li a {
	display: block;
	width: 58px;
	height: 24px;
	line-height: 24px;
	background: url(../images/backgrounds/traffic-taxi-tab.gif) no-repeat top left;
	text-align: center;
}
#ot_s08_d_traffic_box .content .traffic-taxi-tabs ul li a.current {
	color: #6c6c6c;
	cursor: default;
}
#ot_s08_d_traffic_box .content .traffic-taxi-tabs ul li a.current:hover { text-decoration: none; }

#ot_s08_d_traffic_box .content .tab-content {
	display: none;
	border: 1px solid #d7e9fc;
	padding-top: 10px;
}
/* END: Traffic Box */