@charset "utf-8";

/* START: Netvigation Path Box */
.ot_d_fullpathlink{
	color: #2155B5;
	padding-bottom: 11px;
}
.ot_d_fullpathlink .ot_d_pathlink_home{
	float:left;
}
.ot_d_fullpathlink .ot_d_pathlink_info{
	margin-left:25px;
}
.ot_d_fullpathlink .ot_d_pathlink_info_pos{
	float:left;
	margin-left:5px;
	margin-bottom:7px;
	white-space:nowrap;
}
.ot_d_fullpathlink .ot_d_pathlink {
	text-decoration:none;
	position:relative;
	padding-top:1px;
	padding-bottom:1px;
	border:1px solid #2155b5;
}
.ot_d_fullpathlink .ot_d_pathlink .ot_d_pathlink_area {
	background: url(../images/buttons/path_closebtn.jpg) no-repeat right center;
	padding-right: 18px;
	padding-left: 4px;
	text-decoration:none;
}
/* END: Netvigation Path Box */

/* START: Events Result Box */
#events-result-box {

}
#events-result-box .content .result-num{
	background: url(../images/backgrounds/result-numering.gif) no-repeat top left;
	line-height: 16px;
	text-indent: 8px;
}
#events-result-box .content ul {
	border-top: 1px solid #c8f1ff;
}
#events-result-box .content ul li {
	border-bottom: 1px solid #c8f1ff;
	padding-top: 10px;
	padding-bottom: 0px;
}
#events-result-box .content ul li.alt-row {
	background-color: #F2FAFF;
}
#events-result-box .content ul li table td {
	line-height: 21px;
	vertical-align: top;
}
#events-result-box .content ul li table td.spacer {
	height: 4px;
	line-height: 4px;
	font-size: 4px;
	background: none;
}
#events-result-box .content ul li .interested {
	width: 110px;
	height: 29px;
	background: url(../images/backgrounds/interested.gif) no-repeat top left;
	font-size: 15px;
	line-height: 29px;
	text-indent: 27px;
}
#events-result-box .content ul li table td.write-review {
	height: 42px;
	vertical-align: top;
}
#events-result-box .content ul li table td.write-review a.plus {
	float: left;
	margin-left: 10px;
}
#events-result-box .content ul li .main-link {
	display: block;
	height: auto;
	line-height: 21px;
	padding-right: 11px;
	padding-bottom: 8px;
	text-decoration: underline;
	font-size: 15px;
	font-weight: bold;
	font-family:"sө";
}
#events-result-box .content ul li .guides-result-info td {
	padding-left: 20px;
	padding-right: 25px;
	height: 16px;
	line-height: 16px;
	background: url(../images/icons/icons.gif) no-repeat left top;
}
#events-result-box .content ul li .guides-result-info td.type		{ background-position: 0 0px; }
#events-result-box .content ul li .guides-result-info td.time		{ background:url(../images/icons/time.gif) no-repeat left top; }
#events-result-box .content ul li .guides-result-info td.address	{ background-position: 0 -32px; }
#events-result-box .content ul li .guides-result-info td.summary	{ background:url(../images/icons/icons_intro.gif) no-repeat left top; }
#events-result-box .content ul li .guides-result-info td.star		{ background-position: 0 -96px; }
#events-result-box .content ul li .guides-result-info td.cost		{ background-position: 0 -64px; }
#events-result-box .content ul li .guides-result-info td.none		{ background: none; }

#events-result-box .content ul li .guides-result-summary {
	padding-right: 10px;
}
/* END: Events Result Box */

/* START: Event Search Box */
#ot_d_event_search_box {
	margin-bottom:12px;
}
#ot_d_event_search_box .ot_d_header {
	padding-right: 5px;
	height: 39px;
	text-indent:-9999px;
	background-image: url(../images/backgrounds/boxes/header/event_search-box.jpg);
}
#ot_d_event_search_box .ot_d_content {
	padding: 12px 15px 5px 10px;
	overflow:hidden;
	background-image: url(../images/backgrounds/boxes/content/event_search-box.jpg);
}
#ot_d_event_search_box .ot_d_footer {
	height: 3px;
	overflow:hidden;
	background-image: url(../images/backgrounds/boxes/footer/event_search-box.jpg);
}
#ot_d_event_search_box .ot_d_content .ot_o_search_link_list_item {
	margin: 0 5px;
}
#ot_d_event_search_box .ot_d_content .ot_o_popdate {
	width:70px;
	margin-left:5px;
	border: 1px solid #A5ACB2;
}
#ot_d_event_search_box .ot_d_content .ot_d_popdateicon {
	width: 21px;
	height: 18px;
	display:block;
	text-indent:-9999px;
	margin-left:3px;
	background-image: url(../images/icons/date_icon.jpg);
}
#ot_d_event_search_box .ot_d_content .ot_d_item_pos {
	float:left
}
#ot_d_event_search_box .ot_d_content .ot_d_totext {
	float:left;
	margin-left:5px;
}
#ot_d_event_search_box .ot_d_content .ot_d_searchbutton {
	width: 45px;
	height: 21px;
	display:block;
	margin-left:5px;
	text-indent: -99999px;
	background: url(../images/buttons/search.gif) no-repeat;
}
#ot_d_event_search_box .ot_d_content .ot_d_searchbutton:hover {
	background-position: 0px -21px;
}

/* END: Event Search Box */

/*START: Event Page Structure*/
#ot_d_event_content {
	background: #FFF url(../images/backgrounds/body-content.gif) repeat-y left top;
	padding-bottom:12px;
}
#ot_d_event_content .ot_d_event_content_left {
	float: left;
}
#ot_d_event_content .ot_d_event_content_left .ot_d_event_infodetail{
	padding: 12px 0px 0px 12px;
	width:632px;
}
#ot_d_event_content .ot_d_event_content_left .ot_d_event_review{
	margin-top:12px;
	width:656px;
	background-color:#f9f9f9;
}
#ot_d_event_content .ot_d_event_content_right {
	float: right;
	width: 300px;
	padding: 12px 12px 0px 0px;
}
#ot_d_event_content .ot_d_event_content_left .ot_d_event_writereview{
	padding: 12px 0px 0px 12px;
	width:632px;
}
#ot_d_event_content .ot_d_event_content_left .ot_d_event_writereview .ot_t_event_writereview_table{
	border:solid 1px #91c5e2;
	width:100%;
}
#ot_d_event_content .ot_d_event_content_left .ot_d_event_writereview .ot_t_event_writereview_tit{
	background-color:#cfedfe;
	padding:7px;
	font-size:13px;
	font-weight:bold;
}
#ot_d_event_content .ot_d_event_content_left .ot_d_event_writereview .ot_t_event_writereview_text_pos_1{
	background-color:#FFFFFF;
	padding:7px;
	border-bottom:1px #ddf2fe solid;
}
#ot_d_event_content .ot_d_event_content_left .ot_d_event_writereview .ot_t_event_writereview_text_pos_2{
	background-color:#FFFFFF;
	padding:7px;
}
#ot_d_event_content .ot_d_event_content_left .ot_d_event_writereview .ot_t_event_writereview_btn{
	left:123px;
	position:relative;
}
#ot_d_event_content .ot_d_event_content_left .ot_d_event_writereview .ot_t_event_writereview_type{
	width:130px;
	font-size:13px;
	font-weight:bold;
}
#ot_d_event_content .ot_d_event_content_left .ot_d_event_writereview .ot_t_event_writereview_text{
	font-size:13px;
}
#ot_d_event_content a.more {
	display: block;
	text-indent: -9999px;
	float: right;
	width: 45px;
	height: 16px;
	background: url(../images/buttons/more-off.png) no-repeat top left;
}
#ot_d_event_content a.more:hover { background-image: url(../images/buttons/more-on.png); }
/*END: Event Page Structure*/

/* START: Event Category Full Box */
#ot_d_event_cate_full_box {
	border:solid 1px #dbe8f4;
	margin-bottom: 10px;
}

#ot_d_event_cate_full_box .header {
	padding-right: 5px;
	height: 35px;
	background-image: url(../images/backgrounds/boxes/header/event_cate_full_box.gif);
}

#ot_d_event_cate_full_box .content {
	background-color: #fff;
	padding-left: 17px;
	padding-top: 12px;
}

#ot_d_event_cate_full_box .content .ot_u_browse_event_cate li {
	display: block;
	float: left;
	width:135px;
	height: 19px;
	min-width:134px;
	padding-left:16px;
	background: url(../images/bullet_blue.gif) no-repeat left center;
	overflow:hidden;
}

#ot_d_event_cate_full_box a.more	{
	margin-top: 9px;
}
/* END: Event Category Full Box */

/* START: Event Info Box */
.googlemap_pos{
	margin-bottom:8px;
}
#ot_d_event_info_box .ot_d_content .ot_d_eventname{
	width:634px;
	padding: 6px 0px 6px 0px;
}
#ot_d_event_info_box .ot_d_content .ot_d_event_chiname{
	font-size:26px;
	font-weight:bold;
	color:#001a34;
	line-height:30px;
	color:#001a34;
	padding-right:7px;
}
#ot_d_event_info_box .ot_d_content .ot_d_event_engname{
	font-size:26px;
	line-height:30px;
	color:#001a34;
}
#ot_d_event_info_box .ot_d_content .ot_d_star{
	width:634px;
	height:29px;
}
#ot_d_event_info_box .ot_d_content .ot_d_star_pos{
	float:left;
	padding: 7px 0px;
}
#ot_d_event_info_box .ot_d_content .ot_d_info{
	width:632px;
	clear:both;
}
#ot_d_event_info_box .ot_d_content .ot_d_info_pos{
	width:416px;
	float:left;
}

#ot_d_event_info_box .ot_d_content div.ot_d_ew_hold {
	width:414px;
	border-top:2px solid #469bdb;
	background-color:#c7eaff;
}
#ot_d_event_info_box .ot_d_content div.ot_d_eW {  overflow:hidden }
#ot_d_event_info_box .ot_d_content div.ot_d_eW.ot_d_eB { height:1px; font-size:0; }
#ot_d_event_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_1 {
	float:left;
	width:60px;
	padding:5px 10px;
	border-top:1px solid #9edaff;
	font-weight:bold;
	font-size:13px;
}
#ot_d_event_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 {
	float:left;
	width:314px;
	background-color:#e9f7ff;
	padding:5px 10px;
	vertical-align:bottom;
	border-top:1px solid #9edaff;
	font-size:13px;
}
#ot_d_event_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 a{
	font-size:13px;
}
#ot_d_event_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 .ot_d_eH_col_button{
	padding-top:5px;
}
#ot_d_event_info_box .ot_d_content .ot_d_eventphotos{
	float:right;
}
#ot_d_event_info_box .ot_d_content .ot_d_extra_info{
	padding-top:12px;
	clear:both;
}
#ot_d_event_info_box .ot_d_content .ot_d_extra_info_desc{
	background-color:#e9edf0;
	padding: 10px;
	font-size:13px;
}
#ot_d_event_info_box .ot_d_content .ot_d_extra_info_nodesc{
	background-color:#e9edf0;
	padding: 5px 10px 5px 10px;
	text-align:center;
}
#ot_d_event_info_box .ot_d_content .ot_d_extra_info_bg{
	background-color:#e9edf0;
}
#ot_d_event_info_box .ot_d_content .ot_d_extra_info_area{
	width:632px;
}
#ot_d_event_info_box .ot_d_content .ot_d_event_buttons {
	padding-top: 12px;
	margin-bottom:12px;
}
#ot_d_event_info_box .ot_d_content .ot_d_event_buttons a {
	display: block;
	float: left;
	height: 23px;
	padding-right: 22px;
	text-indent: -9999px;
	background: url(../images/buttons/merchant-buttons.jpg) no-repeat;
}
#ot_d_event_info_box .ot_d_content .ot_d_event_buttons a.provide-details	{ width: 72px;		background-position: -136px 0px; }
#ot_d_event_info_box .ot_d_content .ot_d_event_buttons a.write-review	{ width: 60px;		background-position: -229px 0px; }

#ot_d_event_info_box .ot_d_content .ot_d_event_buttons a.provide-details:hover	{ width: 72px;		background-position: -136px -23px; }
#ot_d_event_info_box .ot_d_content .ot_d_event_buttons a.write-review:hover		{ width: 60px;		background-position: -229px -23px; }

#ot_d_event_info_box .ot_d_content .ot_d_info .ot_d_eventfacebook{
	padding: 10px 0px 0px 5px;
	clear:both;
}
/* END: Event Info Box */

/* START: Event Category Full Box */
#ot_d_event_category_full_box {
	border:solid 1px #dbe8f4;
	margin-bottom: 10px;
}

#ot_d_event_category_full_box .header {
	padding-right: 5px;
	height: 35px;
	background-image: url(../images/backgrounds/boxes/header/event_category_full_box.gif);
}

#ot_d_event_category_full_box .content {
	background-color: #fff;
	padding-left: 17px;
	padding-top: 12px;
}

#ot_d_event_category_full_box .footer {
}

#ot_d_event_category_full_box .content .ot_u_event_browser_category_list li {
	display: block;
	float: left;
	height: 19px;
	width: 160px;
	padding-left: 16px;
	background: url(../images/bullet_blue.gif) no-repeat left center;
}

#ot_d_event_category_full_box a.more {
	margin-top: 9px;
}
/* END: Category Full Box */

/* START: Event Category Box */
#ot_d_event_category_box {
	margin-bottom:12px;
}

#ot_d_event_category_box .ot_d_header {
	width:100%;
	height: 36px;
	background-image: url(../images/backgrounds/boxes/header/event_category-box.jpg);
}
#ot_d_event_category_box .ot_d_content {
	width:614px;
	padding: 12px 0px 12px 18px;
	overflow:hidden;
	background-image: url(../images/backgrounds/boxes/content/event_category-box.jpg);
	background-repeat:repeat-y;
}
#ot_d_event_category_box .ot_d_footer {
	width:100%;
	height: 3px;
	overflow:hidden;
	background-image: url(../images/backgrounds/boxes/footer/event_category-box.jpg);
}
#ot_d_event_category_box .ot_d_content .ot_d_event_category_list li{
	height: 19px;
	width: 134px;
	display: block;
	float: left;
	padding-left: 16px;
	background: url(../images/bullet_blue.gif) no-repeat left center;
}
/* END: Event Category Box */

/* START: Event four structure */
.ot_d_event_structure1 {
	width:310px;
	float:left;
}
.ot_d_event_structure2 {
	width:310px;
	float:right;
}
/* END: Event four structure */

/* START: Event Hot Sales*/
#ot_d_event_hot_sales {
	width:310px;
}
#ot_d_event_hot_sales .ot_d_header{
	height: 38px;
	width:310px;
	background-image: url(../images/backgrounds/boxes/header/event_hot_sales-box.jpg);
}
#ot_d_event_hot_sales .ot_d_content{
	padding:4px 10px 0px 10px;
	overflow:hidden;
	background-image: url(../images/backgrounds/boxes/content/event_hot_sales-box.jpg);
}
#ot_d_event_hot_sales .ot_d_footer{
	height: 3px;
	width:310px;
	overflow:hidden;
	background-image: url(../images/backgrounds/boxes/footer/event_hot_sales-box.jpg);
	background-repeat: no-repeat;
}
#ot_d_event_hot_sales .ot_d_content ul.ot_newshows {
	width:290px;
}
#ot_d_event_hot_sales .ot_d_content ul.ot_newshows li {
	display: block;
	padding: 4px 0px 4px 0px;
}
#ot_d_event_hot_sales .ot_d_content ul li.ot_d_shows_list_lines{
	border-bottom:1px #ccdfe6 solid;
}
#ot_d_event_hot_sales .ot_d_content ul.ot_newshows li .ot_d_show_image {
	display: block;
	float: left;
	width:90px;
	text-align:right;
	vertical-align:top;
}
#ot_d_event_hot_sales .ot_d_content ul.ot_newshows li .ot_t_showspic_frame {
	padding:2px;
	background-color:#FFFFFF;
	border:1px solid #e3e3e3;
}
#ot_d_event_hot_sales .ot_d_content ul.ot_newshows li .ot_d_show_details{
	display: block;
	float: left;
	width: 190px;
	padding-left:10px;
}
#ot_d_event_hot_sales .ot_d_content ul.ot_newshows li .ot_d_show_details, #ot_d_event_hot_sales .ot_d_content ul.ot_newshows li .ot_d_show_details a{
	font-size:13px;
	line-height:18px;
}
/* END: Event Hot Sales*/

/* START: Event This Week Greatest*/
#ot_d_event_thisweek {
	width:310px;
}
#ot_d_event_thisweek .ot_d_header{
	height: 38px;
	width:310px;
	background-image: url(../images/backgrounds/boxes/header/event_thisweek-box.jpg);
}
#ot_d_event_thisweek .ot_d_content{
	padding:4px 10px 0px 10px;
	overflow:hidden;
	background-image: url(../images/backgrounds/boxes/content/event_thisweek-box.jpg);
}
#ot_d_event_thisweek .ot_d_footer{
	height: 3px;
	width:310px;
	overflow:hidden;
	background-image: url(../images/backgrounds/boxes/footer/event_thisweek-box.jpg);
	background-repeat: no-repeat;
}
#ot_d_event_thisweek .ot_d_content ul.ot_newshows{
	width:290px;
}
#ot_d_event_thisweek .ot_d_content ul.ot_newshows li {
	display: block;
	padding: 4px 0px 4px 0px;
}
#ot_d_event_thisweek .ot_d_content ul li.ot_d_shows_list_lines{
	border-bottom:1px #ccdfe6 solid;
}
#ot_d_event_thisweek .ot_d_content ul.ot_newshows li .ot_d_show_image {
	display: block;
	float: left;
	width:90px;
	text-align:right;
	vertical-align:top;
}
#ot_d_event_thisweek .ot_d_content ul.ot_newshows li .ot_t_showspic_frame {
	padding:2px;
	background-color:#FFFFFF;
	border:1px solid #e3e3e3;
}
#ot_d_event_thisweek .ot_d_content ul.ot_newshows li .ot_d_show_details{
	display: block;
	float: left;
	width: 190px;
	padding-left:10px;
}
#ot_d_event_thisweek .ot_d_content ul.ot_newshows li .ot_d_show_details, #ot_d_event_thisweek .ot_d_content ul.ot_newshows li .ot_d_show_details a{
	font-size:13px;
	line-height:18px;
}
/* END: Event This Week Greatest*/

/* START: Event Today*/
#ot_d_addevent {
	width:310px;
	margin-top:12px;
}
#ot_d_addevent .ot_d_header{
	height: 38px;
	width:310px;
	background-image: url(../images/backgrounds/boxes/header/addevent-box.jpg);
}
#ot_d_addevent .ot_d_content{
	padding:4px 10px 0px 10px;
	overflow:hidden;
	background-image: url(../images/backgrounds/boxes/content/addevent-box.jpg);
}
#ot_d_addevent .ot_d_footer{
	height: 3px;
	width:310px;
	overflow:hidden;
	background-image: url(../images/backgrounds/boxes/footer/addevent-box.jpg);
	background-repeat: no-repeat;
}
#ot_d_addevent .ot_d_content ul.ot_newshows{
	width:290px;
}
#ot_d_addevent .ot_d_content ul.ot_newshows li {
	display: block;
	padding: 4px 0px 4px 0px;
}
#ot_d_addevent .ot_d_content ul li.ot_d_shows_list_lines{
	border-bottom:1px #ccdfe6 solid;
}
#ot_d_addevent .ot_d_content ul.ot_newshows li .ot_d_show_details{
	display: block;
	float: left;
	width: 290px;
}
#ot_d_addevent .ot_d_content ul.ot_newshows li .ot_d_show_details, #ot_d_event_today .ot_d_content ul.ot_newshows li .ot_d_show_details a{
	font-size:13px;
	font-weight:normal;
	line-height:18px;
}
#ot_d_addevent .ot_d_content ul.ot_newshows li .ot_d_show_date{
	margin-left:10px;
}
#ot_d_addevent .ot_d_content ul.ot_newshows li .ot_d_show_details .ot_d_show_description{
	font-weight:normal;
}
/* END: Event Today*/

/* START: Event Newest Review*/
#ot_d_event_newest_review {
	width:310px;
	margin-top:12px;
}
#ot_d_event_newest_review .ot_d_header{
	height: 38px;
	width:310px;
	background-image: url(../images/backgrounds/boxes/header/event_newest_reivew-box.jpg);
}
#ot_d_event_newest_review .ot_d_content{
	padding:4px 10px 0px 10px;
	overflow:hidden;
	background-image: url(../images/backgrounds/boxes/content/event_newest_reivew-box.jpg);
}
#ot_d_event_newest_review .ot_d_footer{
	height: 3px;
	width:310px;
	overflow:hidden;
	background-image: url(../images/backgrounds/boxes/footer/event_newest_reivew-box.jpg);
	background-repeat: no-repeat;
}
#ot_d_event_newest_review .ot_d_content ul.ot_newshows li {
	display: block;
	padding: 4px 0px 4px 0px;
	border:1px #FFF solid;
}
#ot_d_event_newest_review .ot_d_content ul li.ot_d_shows_list_lines{
	border-bottom:1px #ccdfe6 solid;
}
#ot_d_event_newest_review .ot_d_content ul.ot_newshows li .ot_d_show_details{
	display: block;
	width: 282px;
}
#ot_d_event_newest_review .ot_d_content ul.ot_newshows li .ot_d_show_details, #ot_d_event_newest_review .ot_d_content ul.ot_newshows li .ot_d_show_details a{
	font-size:13px;
	font-weight:normal;
	line-height:18px;
}
#ot_d_event_newest_review .ot_d_content ul.ot_newshows li .ot_d_show_details .ot_d_say_start{
	width: 15px;
	height: 10px;
	float:left;
	overflow:hidden;
	background-image: url(../images/event/event_newestreview_say_start.jpg);
}
#ot_d_event_newest_review .ot_d_content ul.ot_newshows li .ot_d_show_details .ot_d_say{
	font-size:13px;
	padding: 0px 20px;
	clear:both;
}
#ot_d_event_newest_review .ot_d_content ul.ot_newshows li .ot_d_show_details .ot_d_say_end{
	width: 15px;
	height: 10px;
	float:right;
	overflow:hidden;
	background-image: url(../images/event/event_newestreview_say_end.jpg);
}
#ot_d_event_newest_review .ot_d_content ul.ot_newshows li .ot_d_show_details .ot_d_totext{
	margin: 0px 5px;
	font-size:13px;
}
#ot_d_event_newest_review .ot_d_content ul.ot_newshows li .ot_d_show_details .ot_d_review_eventname{
	font-weight:bold;
}
#ot_d_event_newest_review .ot_d_content ul.ot_newshows li .ot_d_show_details .ot_d_say .ot_d_say_link{
	color:#333333;
}
/* END: Event Newest Review*/

div.guide_head {
	padding: 5px;
	font-size: 120%;
	font-weight: bold;
	background: #bcd;
}
table#tbReview {
	margin-top: 20px;
	border: 1px solid #ccc;
}
table#tbReview th {
	padding: 3px;
	vertical-align: top;
	width: 55px;
	text-align: right;
}
table#tbReview #header {
	background: #def;
	text-align: left;
}
#tbReview .long{
	width: 350px;
}
#chekboxlist {
	width: 400px;
	height: 40px;
}
#checkboxlabel {
	padding-right: 18px;
}
.jclock {
	float: right;
}