@charset "utf-8";

/* START: Newest Reviews Box */
/*#ots06_o_newest_reviewers_box {
	width:200px;
}*/

#ots06_o_newest_reviewers_box .header {
	padding-right: 5px;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/newest-reviews-box.gif);
}

#ots06_o_newest_reviewers_box .content {
	padding-top: 12px;
	padding-bottom: 9px;
	background-color: #fff;
	background-image: url(../images/backgrounds/boxes/content/newest-reviews-box.gif);
}

#ots06_o_newest_reviewers_box .footer {
	height: 2px;
	background-image: url(../images/backgrounds/boxes/footer/newest-reviews-box.gif);
}

#ots06_o_newest_reviewers_box .content ul {
	padding-left: 11px;
	padding-right: 10px;
}

#ots06_o_newest_reviewers_box .content ul li {
	font-size: 11px;
	padding-top:5px;
	padding-bottom: 5px;
	border-bottom: 1px #def solid;
}

#ots06_o_newest_reviewers_box .content ul li.last {
	padding-bottom: 0px;
}

#ots06_o_newest_reviewers_box .content ul li a {
	font-size: 12px;
}

#ots06_o_newest_reviewers_box .content ul li a.image {
	width: 28px;
	height: 28px;
	display: block;
	float: left;
	border: 1px solid #e3e3e3;
	margin-right: 10px;
}

#ots06_o_newest_reviewers_box .content ul li a.title {
	font-size: 14px;
	font-weight: bold;
	color: #393;
}

#ots06_o_newest_reviewers_box .content ul li a.name {
	text-decoration: underline;
}

#ots06_o_newest_reviewers_box .content ul li .description {
	position:relative;
	padding-top: 5px;
}

#ots06_o_newest_reviewers_box .content ul li .reviewer_summary {
	float: left;
	width: 140px;
}
/* END: Newest Reviews Box */

/* START: Reviewer Ranking Box */
#reviewer-ranking-box {
}

#reviewer-ranking-box a.more {
	margin-top: 12px;
}

#reviewer-ranking-box .header {
	padding-right: 5px;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/reviewer-ranking-box.gif);
}

#reviewer-ranking-box .content {
	padding-left: 10px;
	padding-right: 9px;
	padding-top: 10px;
	padding-bottom: 6px;
	background-image: url(../images/backgrounds/boxes/content/reviewer-ranking-box.gif);
}

#reviewer-ranking-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/reviewer-ranking-box.gif);
}
#reviewer-ranking-box .content ul {
	display: block;
	width: 621px;
	height: 659px;
}
#reviewer-ranking-box .content ul li {
	display: block;
	float: left;
	width: 310px;
	height: 85px;
	border-right: 1px solid #d7e9fc;
	border-top: 1px solid #d7e9fc;
	padding-top: 10px;
}
#reviewer-ranking-box .content ul li.right,
#reviewer-ranking-box .content ul li.top-right {
	border-right: none;
	padding-left: 9px;
	width: 291px;
}
#reviewer-ranking-box .content ul li.top,
#reviewer-ranking-box .content ul li.top-right {
	border-top: none;
	padding-top: 0;
}
#reviewer-ranking-box .content li img {
	/*float: right;
	width: 72px;
	height: 72px;
	border: 2px solid #f0f0f0;
	margin: 0 10px;*/
}
#reviewer-ranking-box .content li .imgframe {
	float:right;
	border: 1px solid #e3e3e3;
	background-color:#fff;
	width:75px;
	height:75px;
	margin: 0 5px;
}
#reviewer-ranking-box .content li .imgframe_XD{
	line-height:0;
	width:75px;
	height:75px;
	text-align:center;
	vertical-align:middle;
	display:table-cell;
}
#reviewer-ranking-box .content li .imgframe img {
}

#reviewer-ranking-box .content li .imgsize {

}
#reviewer-ranking-box .content li.right img { margin-right: 0; }
#reviewer-ranking-box .content li.top-right img { margin-right: 0; }
/* END: Reviewer Ranking Box */

/* START: Reviewer Page Layout */
.body-content-reviewer-left {
	float: left;
	width: 150px;
}

.body-content-reviewer-right {
	float: left;
	padding-left: 10px;
	width: 785px;
}

#reviewer-fans-box {
	width: 150px;
}

#reviewer-fans-box .header {
	position: relative;
	display: block;
	width: 150px;
	border-bottom: 3px solid #3f6cbf;
	text-align: center;
	line-height: 24px;
	margin-bottom: 8px;
}
#reviewer-fans-box .header h4 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
}

#reviewer-fans-box .header .reviewer-fans-left,
#reviewer-fans-box .header .reviewer-fans-right {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 18px;
	height: 18px;
	background: url(../images/buttons/left-right.gif) no-repeat;
	text-indent: -9999px;
	bottom: 3px;
}
#reviewer-fans-box .header .reviewer-fans-left			 { left: 0px;	background-position: 0px 0px; }
#reviewer-fans-box .header .reviewer-fans-right			 { right: 0px;	background-position: -18px 0px; }
#reviewer-fans-box .header .reviewer-fans-left:hover	 { left: 0px;	background-position: 0px -18px; }
#reviewer-fans-box .header .reviewer-fans-right:hover	 { right: 0px;	background-position: -18px -18px; }

#reviewer-fans-box ul {
	width: 140px;
	padding-left: 10px;
}
#reviewer-fans-box ul li {
	display: block;
	float: left;
	width: 60px;
	padding-right: 7px;
	padding-bottom: 5px;
}
#reviewer-fans-box ul li a.imgs {
	display: block;
	width: 47px;
	height: 47px;
	border: 1px solid #e3e3e3;
}

#reviewer-tabs-box {
	padding-bottom: 15px;
}

#reviewer-tabs-box ul {
	height: 33px;
	border-bottom: 2px solid #e9f4ff;
}
#reviewer-tabs-box ul li {
	float: left;
	padding-right: 10px;
	width: 78px;
	height: 33px;
}
#reviewer-tabs-box ul li a {
	display: block;
	width: 78px;
	height: 33px;
	background: none;
	font-size: 14px;
	line-height: 33px;
	text-align: center;
	text-decoration: underline;
}
#reviewer-tabs-box ul li a:hover {
	color: #333333;
}
#reviewer-tabs-box ul li a.current {
	color: #333333;
	text-decoration: none;
	background: url(../images/backgrounds/reviewer-page-tab.gif) no-repeat top left;
}
#reviewer-recent-reviews-box {
	padding: 0px 15px 20px 11px;
	width: 759px;
}
#reviewer-recent-reviews-box a.more		{ margin-top: 6px; }
#reviewer-recent-reviews-box .header {
	padding-right: 10px;
	border-bottom: 3px solid #3f6cbf;
}
#reviewer-recent-reviews-box h3 {
	float: left;
	width: 151px;
	height: 28px;
	text-indent: -9999px;
	background: url(../images/backgrounds/boxes/header/reviewer-recent-reviews-box.gif) no-repeat top left;
}
#reviewer-recent-reviews-box .content {
}
#reviewer-recent-reviews-box .content ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e7f3ff;
}
#reviewer-recent-reviews-box .content ul li.alt-row {
	background-color: transparent;
}
#reviewer-recent-reviews-box .content table td {
	vertical-align: top;
	line-height: 18px;
	color: #222222;
}
#reviewer-recent-reviews-box .content table td.numbering {
	text-align: center;
}
#reviewer-recent-reviews-box .content .main-link {
	display: block;
	float: left;
	height: 21px;
	line-height: 21px;
	padding-right: 11px;
	text-decoration: underline;
	font-size: 14px;
	color: #12A5A3;
	font-weight: bold;
}
#reviewer-recent-reviews-box .content .review-target {
	text-decoration: underline;
	line-height: 25px;
}

a.clap {
	display: block;
	float: left;
	width: 82px;
	height: 55px;
	padding-top: 17px;
	padding-left: 76px;
	margin-left: 9px;
	background: url(../images/buttons/clap.gif) no-repeat top left;
	text-decoration: none;
	color: #555555;
	font-size: 26px;
	font-weight: bold;
}

a.clap:hover {
	background-position: 0 -72px;
}



#reviewer-newest-photos-box {
	float: right;
	width: 390px;
	padding-right: 15px;
}

#reviewer-newest-photos-box .header {
	padding-right: 10px;
	height: 27px;
	border-bottom: 3px solid #3f6cbf;
}

#reviewer-newest-photos-box .header h3 {
	float: left;
	width: 103px;
	height: 27px;
	background: url(../images/backgrounds/boxes/header/reviewer-newest-photos-box.gif) no-repeat top left;
	text-indent: -9999px;
}

#reviewer-newest-photos-box .content {
	padding-top: 10px;
	padding-left: 3px;
}

#reviewer-newest-photos-box .content ul {
}

#reviewer-newest-photos-box .content ul li {
	float: left;
	width: 116px;
	padding: 4px;
	background-color: #ecf7ff;
	margin-right: 5px;
	margin-bottom: 5px;
}
#reviewer-newest-photos-box .content ul li a {
	position: relative;
	display: block;
	width: 116px;
	height:116px;
}
#reviewer-newest-photos-box .content ul li a .photo-overlay {
	position: absolute;
	width: 116px;
	height: 25px;
	bottom: 0px;
	left: 0px;
	background-color: #ecf7ff;
	/* for IE */
	filter:alpha(opacity=90);
	/* CSS3 standard */
	opacity:0.9;
	z-index: 10;
}

#reviewer-newest-photos-box .content ul li a .photo-name {
	position: absolute;
	width: 116px;
	height: 25px;
	bottom: 0px;
	left: 0px;
	line-height: 25px;
	text-indent: 3px;
	font-size: 12px;
	text-decoration: underline;
	z-index: 20;
}

#reviewer-reviews-box {
	padding-left: 4px;
	padding-right: 15px;
}

#reviewer-reviews-box .header {
	height: 27px;
	border-bottom: 3px solid #3f6cbf;
	margin-bottom: 6px;
}

#reviewer-reviews-box .header h3 {
	height: 27px;
	background: url(../images/backgrounds/boxes/header/reviewer-reviews-box.gif) no-repeat top left;
	text-indent: -9999px;
}

#reviewer-reviews-box .content {
	padding: 0 11px;
}
#reviewer-reviews-box ul {
	background: url(../images/backgrounds/lightblue-dotted-horizontal-line.gif) repeat-x top left;
	padding-bottom: 10px;
	padding-top: 1px;
}
#reviewer-reviews-box ul li {
	background: #ffffff url(../images/backgrounds/lightblue-dotted-horizontal-line.gif) repeat-x bottom left;
	padding: 3px 11px 15px 11px;
}
#reviewer-reviews-box ul li.alt-row {
	background-color: #e7f3ff;
}
#reviewer-reviews-box ul li .review-title-line {
	float: left;
	line-height: 40px;
	padding-right: 5px;
}
#reviewer-reviews-box ul li .review-title-line a.title {
	font-size: 14px;
	text-decoration: underline;
	padding-right: 5px;
	color: #12A5A3;
}
#reviewer-reviews-box ul li .review-title-line span {
	position: relative;
	display: inline-block;
	width: 57px;
	height: 21px;
	text-indent: -9999px;
	background: no-repeat top right;
	padding-left: 5px;
	top: 5px;
}
#reviewer-reviews-box ul li .review-title-line span.cheap { background-image: url(../images/icons/cheap.gif); }
.review_share_facebook a{
	float:right;	
}
#reviewer-reviews-box ul li .description{
	word-wrap: break-word; 
	word-break: normal; 
	
	padding-bottom:10px;
}

#reviewer-reviews-box ul li .rating {
	margin-top: 9px;
}
#reviewer-reviews-box ul li .review-target {
	display: block;
	line-height: 18px;
	text-decoration: underline;
	padding-bottom: 10px;
}
#reviewer-reviews-box ul li p {
	line-height: 18px;
	padding-bottom: 18px;
}
#reviewer-reviews-box ul li a.clap {
	display: block;
	float: left;
	width: 82px;
	height: 55px;
	padding-top: 17px;
	padding-left: 76px;
	background: url(../images/buttons/clap.gif) no-repeat top left;
	text-decoration: none;
	color: #555555;
	font-size: 26px;
	font-weight: bold;
}
#reviewer-reviews-box ul li a.clap:hover {
	background-position: 0 -72px;
}
#reviewer-reviews-box ul li a.report {
	display: block;
	float: left;
	margin-left: 8px;
	margin-top: 55px;
	text-decoration: underline;
}

#reviewer-comments-box {
	padding-left: 4px;
	padding-right: 15px;
}

#reviewer-comments-box a.plus	{ 
	margin-top: 6px;
}

#reviewer-comments-box .header {
	height: 27px;
	border-bottom: 3px solid #3f6cbf;
	margin-bottom: 6px;
	padding-right: 7px;
}

#reviewer-comments-box .header h3 {
	float: left;
	width: 85px;
	height: 27px;
	background: url(../images/backgrounds/boxes/header/reviewer-comments-box.gif) no-repeat top left;
	text-indent: -9999px;
}

#reviewer-comments-box .content {
	padding: 0 11px;
}
#reviewer-comments-box ul {
	background: url(../images/backgrounds/lightblue-dotted-horizontal-line.gif) repeat-x top left;
	padding-top: 1px;
	padding-bottom: 10px;
}
#reviewer-comments-box ul li {
	background: #ffffff url(../images/backgrounds/lightblue-dotted-horizontal-line.gif) repeat-x bottom left;
	padding: 10px 11px 15px 11px;
}
#reviewer-comments-box ul li.alt-row {
	background-color: #e7f3ff;
}
#reviewer-comments-box ul li td {
	vertical-align: top;
}
#reviewer-comments-box ul li .title {
	font-size: 14px;
	line-height: 25px;
	padding-right: 10px;
}
#reviewer-comments-box ul li .date {
	font-size: 12px;
	line-height: 25px;
	padding-right: 10px;
}
#reviewer-comments-box ul li .image img {
	display: block;
	width: 74px;
	height: 74px;
	border: 1px solid #e3e3e3;
}
#reviewer-comments-box ul li .image {
	display: block;
	width: 74px;
	text-align: center;
	font-size: 14px;
	line-height: 23px;
	text-decoration: underline;
	
}
#reviewer-comments-box ul li p {
	line-height: 20px;
	padding-bottom: 18px;
}

#reviewer-comments-box ul li .reviewer-reply {
	background-color: #f4f9fd;
	padding: 10px;
	margin-left: 10px;
}
#reviewer-comments-box ul li .reviewer-name {
	line-height: 23px;
}


#reviewer-photos-box {
	padding-left: 4px;
	padding-right: 15px;
}

#reviewer-photos-box .header {
	height: 27px;
	border-bottom: 3px solid #3f6cbf;
	margin-bottom: 6px;
}

#reviewer-photos-box .header h3 {
	height: 27px;
	background: url(../images/backgrounds/boxes/header/reviewer-photos-box.gif) no-repeat top left;
	text-indent: -9999px;
}

#reviewer-photos-box .content {
	padding: 0 11px;
}
#reviewer-photos-box ul {
	background: url(../images/backgrounds/lightblue-dotted-horizontal-line.gif) repeat-x top left;
	padding-top: 20px;
	padding-bottom: 10px;
}
#reviewer-photos-box ul li {
	float: left;
	width: 123px;
	padding: 5px;
	background-color: #f4faff;
	line-height: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
#reviewer-photos-box ul li.left {
	margin-left: 0px;
}
#reviewer-photos-box ul li .description {
	padding-left: 4px;
}
#reviewer-photos-box ul li a {
	display: block;
	text-decoration: underline;
}
#reviewer-photos-box ul li a.title {
	padding-top: 3px;
	padding-bottom: 3px;
}

#reviewer-photos-box ul li a.category-store,
#reviewer-photos-box ul li a.category-event {
	padding-left: 22px;
	background: no-repeat top left;
	line-height: 18px;
}
#reviewer-photos-box ul li a.category-store		{ background-image: url(../images/icons/category-store.gif); }
#reviewer-photos-box ul li a.category-event		{ background-image: url(../images/icons/category-event.gif); }

#reviewer-photos-box .seperator {
	clear: both;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin-bottom: 5px;
	background: url(../images/backgrounds/lightblue-dotted-horizontal-line.gif) repeat-x bottom left;
}


#reviewer-stores-box {
	padding-left: 4px;
	padding-right: 15px;
}

#reviewer-stores-box .header {
	height: 27px;
	border-bottom: 3px solid #3f6cbf;
	margin-bottom: 6px;
}

#reviewer-stores-box .header h3 {
	height: 27px;
	background: url(../images/backgrounds/boxes/header/reviewer_stores_box.gif) no-repeat top left;
	text-indent: -9999px;
}

#reviewer-stores-box .content {
	padding: 0 11px;
}
#reviewer-stores-box ul {
	padding-bottom: 10px;
	border-top: 1px solid #c8f1ff;
}
#reviewer-stores-box ul li {
	border-bottom: 1px solid #c8f1ff;
	padding: 9px 10px 10px 6px;
}
#reviewer-stores-box ul li.alt-row {
	background-color: #f2faff;
}
#reviewer-stores-box ul li td {
	line-height: 21px;
	vertical-align: top;
}
#reviewer-stores-box ul li td.numbering {
	background: url(../images/backgrounds/result-numering.gif) no-repeat top left;
	line-height: 16px;
	text-indent: 8px;
}
#reviewer-stores-box ul li .review-target {
	display: block;
	float: left;
	color: #12a5a3;
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
	padding-right: 10px;
	text-decoration: underline;
	margin-bottom: 10px;
}
#reviewer-stores-box ul li .rating {
	padding-right: 10px;
}
#reviewer-stores-box ul li .reviewer-comment-count {
	display: block;
	float: left;
	padding-right: 10px;
}
#reviewer-stores-box ul li .reviewer-critic {
	display: block;
	float: left;
	height: 20px;
	padding-left: 25px;
	background: url(../images/icons/reviewer-critic.gif) no-repeat top left;
}

#reviewer-stores-box ul li .review-category {
	text-decoration: underline;
	padding-right: 15px;
}





#reviewer-favoriteusers-box {
	padding-left: 4px;
	padding-right: 15px;
}

#reviewer-favoriteusers-box .header {
	height: 27px;
	border-bottom: 3px solid #3f6cbf;
	margin-bottom: 6px;
}

#reviewer-favoriteusers-box .header h3 {
	height: 27px;
	background: url(../images/backgrounds/boxes/header/reviewer-favoriteusers-box.gif) no-repeat top left;
	text-indent: -9999px;
}

#reviewer-favoriteusers-box .content {
	padding: 0 11px;
}
#reviewer-favoriteusers-box ul {
	padding-bottom: 10px;
	border-top: 1px solid #c8f1ff;
}
#reviewer-favoriteusers-box ul li {
	border-bottom: 1px solid #c8f1ff;
	padding: 9px 10px 10px 6px;
}
#reviewer-favoriteusers-box ul li.alt-row {
	background-color: #f2faff;
}
#reviewer-favoriteusers-box ul li td {
	line-height: 21px;
	vertical-align: top;
}
#reviewer-favoriteusers-box ul li td.numbering {
	background: url(../images/backgrounds/result-numering.gif) no-repeat top left;
	line-height: 16px;
	text-indent: 8px;
}
#reviewer-favoriteusers-box ul li .review-target {
	display: block;
	float: left;
	color: #12a5a3;
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
	padding-right: 10px;
	text-decoration: underline;
	margin-bottom: 10px;
}
#reviewer-favoriteusers-box ul li .rating {
	padding-right: 10px;
}
#reviewer-favoriteusers-box ul li .reviewer-comment-count {
	display: block;
	float: left;
	padding-right: 10px;
}
#reviewer-favoriteusers-box ul li .reviewer-critic {
	display: block;
	float: left;
	height: 20px;
	padding-left: 25px;
	background: url(../images/icons/reviewer-critic.gif) no-repeat top left;
}

#reviewer-favoriteusers-box ul li .review-category {
	text-decoration: underline;
	padding-right: 15px;
}



/* END: Reviewer Page Layout */

/* START: Reviewer Menu Box */
#reviewer-menu-box {
	width: 130px;
	background-color: #e9f4ff;
	padding: 10px;
	margin-bottom: 15px;
}
#reviewer-menu-box .reviewer-image {
	display: block;
	border: 5px solid #e3e3e3;
	margin-bottom: 10px;
	text-align:center;
	vertical-align:middle;
}
#reviewer-menu-box .reviewer-title {
	padding-bottom: 10px;
}
#reviewer-menu-box .reviewer-status {
	line-height: 18px;
	padding-bottom: 10px;
	background: url(../images/backgrounds/black-dotted-line.png) repeat-x bottom left;
}
#reviewer-menu-box ul.reviewer-statistics {
	padding-top: 10px;
}
#reviewer-menu-box ul.reviewer-statistics li {
	width: 99px;
	padding-left: 31px;
	line-height: 25px;
	background: url(../images/icons/reviewers-page-icons.gif) no-repeat;
}
#reviewer-menu-box ul.reviewer-statistics li.leavemessage	{ background-position: 0px 0px; }
#reviewer-menu-box ul.reviewer-statistics li.save			{ background-position: 0px -25px; }
#reviewer-menu-box ul.reviewer-statistics li.reviews		{ background-position: 0px -50px; }
#reviewer-menu-box ul.reviewer-statistics li.comments		{ background-position: 0px -75px; }
#reviewer-menu-box ul.reviewer-statistics li.pictures		{ background-position: 0px -100px; }
#reviewer-menu-box ul.reviewer-statistics li.fav-shop		{ background-position: 0px -125px; }
#reviewer-menu-box ul.reviewer-statistics li.fav-reviewer	{ background-position: 0px -150px; }
#reviewer-menu-box ul.reviewer-statistics li.recommeded		{ background-position: 0px -175px; }
#reviewer-menu-box ul.reviewer-statistics li.clap			{ background-position: 0px -200px; }
#reviewer-menu-box ul.reviewer-statistics li.top10			{ background-position: 0px -225px; }

#reviewer-menu-box ul.reviewer-statistics li a {
	display: block;
	line-height: 25px;
}
#reviewer-menu-box ul.reviewer-statistics li a.left { float: left; }
#reviewer-menu-box ul.reviewer-statistics li a.right { float: right; text-decoration: underline; }
/* END: Reviewer Menu Box */

#reviewer-recent-comments-box {
	float: left;
	width: 355px;
	padding-left: 15px;
}

#reviewer-recent-comments-box a.more	{ margin-top: 3px; }

#reviewer-recent-comments-box .header {
	padding-right: 10px;
	height: 27px;
	border-bottom: 3px solid #3f6cbf;
}

#reviewer-recent-comments-box .header h3 {
	float: left;
	width: 162px;
	height: 27px;
	background: url(../images/backgrounds/boxes/header/reviewer-recent-comments-box.gif) no-repeat top left;
	text-indent: -9999px;
}

#reviewer-recent-comments-box .content {
	padding-top: 10px;
	padding-right: 10px;
}

#reviewer-recent-comments-box .content ul {
	width: 345px;
}

#reviewer-recent-comments-box .content ul li {
	width: 325px;
	padding: 10px;
	background-color: #f4f9fd;
}
#reviewer-recent-comments-box .content ul li.alt-row {
	background-color: transparent;
}
#reviewer-recent-comments-box .content ul li td {
	vertical-align: top;
}

#reviewer-recent-comments-box .content ul li td.title {
	line-height: 18px;
}
#reviewer-recent-comments-box .content ul li td.title a {
	text-decoration: underline;
}
#reviewer-recent-comments-box .content ul li .profile-image {
	border: 1px solid #e3e3e3;
}


#owner_stores_box {
	padding-left: 4px;
	padding-right: 15px;
}

#owner_stores_box .header {
	height: 27px;
	border-bottom: 3px solid #3f6cbf;
	margin-bottom: 6px;
}

#owner_stores_box .header h3 {
	height: 27px;
	/*background: url(../images/backgrounds/boxes/header/reviewer_stores_box.gif) no-repeat top left;*/
	text-indent: -9999px;
}

#owner_stores_box .content {
	padding: 0 11px;
}
#owner_stores_box ul {
	padding-bottom: 10px;
	border-top: 1px solid #c8f1ff;
}
#owner_stores_box ul li {
	border-bottom: 1px solid #c8f1ff;
	padding: 9px 10px 10px 6px;
}
#owner_stores_box ul li.alt-row {
	background-color: #f2faff;
}
#owner_stores_box ul li td {
	line-height: 21px;
	vertical-align: top;
}
#owner_stores_box ul li td.numbering {
	background: url(../images/backgrounds/result-numering.gif) no-repeat top left;
	line-height: 16px;
	text-indent: 8px;
}
#owner_stores_box ul li .review-target {
	display: block;
	float: left;
	color: #12a5a3;
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
	padding-right: 10px;
	text-decoration: underline;
	margin-bottom: 10px;
}
#owner_stores_box ul li .rating {
	padding-right: 10px;
}
#owner_stores_box ul li .reviewer-comment-count {
	display: block;
	float: left;
	padding-right: 10px;
}
#owner_stores_box ul li .reviewer-critic {
	display: block;
	float: left;
	height: 20px;
	padding-left: 25px;
	background: url(../images/icons/reviewer-critic.gif) no-repeat top left;
}

#owner_stores_box ul li .review-category {
	text-decoration: underline;
	padding-right: 15px;
}






/*Forgot Password Box*/
#forgotpwd-box {
	color: #333333;
}

#forgotpwd-box .header {
	height: 39px;
}

#forgotpwd-box .content {
	border-left: 1px solid #d7e9fc;
	border-top: 1px solid #d7e9fc;
	border-right: 1px solid #d7e9fc;
	width: 640px;
}

#forgotpwd-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/forgetpwd-box.gif);
}

#forgotpwd-box .header ul {
	height: 39px;
}
#forgotpwd-box .header ul li {
	display: block;
	float: left;
	width: 137px;
	height: 39px;
	padding-right: 8px;
}
#forgotpwd-box .header ul li a {
	display: block;
	width: 137px;
	height: 39px;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
	background-image: url(../images/backgrounds/tab-forgetpwd.gif);
	background-repeat: no-repeat;
}
#forgotpwd-box .header ul li.forgotpwd-user a		{ background-position: 0px 0px; }

#forgotpwd-box .header ul li.forgotpwd-user a.current, #forgotpwd-box .header ul li.forgotpwd-user a:hover { background-position: 0px -39px; }

#forgotpwd-box .content table { margin-bottom: 11px; }
#forgotpwd-box .content table th,
#forgotpwd-box .content table td {
	height: 22px;
	padding-top: 12px;
	padding-bottom: 1px;
	line-height: 21px;
}
#forgotpwd-box .content table th { font-weight: normal; }
#forgotpwd-box .content table td input.text-input {
	border: 1px solid #A5ACB2;
	height: 18px;
	width: 228px;
}
#forgotpwd-box .content table td input.small-input {
	width: 65px;
}

#forgotpwd-box .content table td input.send-button {
	display: block;
	width: 45px;
	height: 21px;
	background: url(../images/buttons/send.gif) no-repeat left top;
	border: none;
	text-indent: -9999px;
	cursor: pointer;
}
#forgotpwd-box .content table td input.send-button.hover {
	background-position: 0 -21px;
}
#forgotpwd-box .content table td select {
	border: 1px solid #A5ACB2;
	font-size: 12px;
	height: 22px;
	width: 230px;
	color: #333333;
}
#forgotpwd-box .content table td textarea {
	border: 1px solid #A5ACB2;
	height: 108px;
	width: 228px;
}
/*End: Forgot Password Box*/

/*Start View Own Shop*/
#ot_d_merchant_info_box{
	float:right;
}
#ot_d_merchant_info_box .ot_d_merchant_buttons a {
	display: block;
	float: left;
	height: 25px;
	padding-right: 20px;
	text-indent: -9999px;
	background: url(../images/buttons/merchant-buttons.jpg) no-repeat;
}
#ot_d_merchant_info_box .ot_d_merchant_buttons a.provide-details	{ width: 72px;		background-position: -136px 0px; }
#ot_d_merchant_info_box .ot_d_merchant_buttons a.provide-details:hover	{ width: 72px;		background-position: -136px -23px; }

.additional_info_trigger{
	width:80px;
	background:url(../images/icons/arrow_down.gif) left no-repeat;
}
.additional_info_trigger_text{
	margin-left:15px;
	vertical-align:top;
}
.additional_info_trigger:hover{
	cursor:pointer;
}
.additional_info_trigger.active{
	background:url(../images/icons/arrow_up.gif) left no-repeat;
}
/*End View Own Shop*/

/*START: SHOP OWNER PDF File AND NEWS*/
#ot_d_additionaldata{
	height:350px;
}
#ot_d_shopownerpdf #ot_d_upload{
	display:none;
}
#ot_d_shopownerpdf{
}
#ot_d_shopownerpdf .ot_d_header{
	height: 27px;
	width:100%;
	background: url(../images/user/shopowner/news/pdf_tit_bg.gif);	
}
#ot_d_shopownerpdf .ot_d_content{
	margin-top:15px;
}
#ot_d_shopownerpdf .ot_d_header .ot_d_pdftit{
	height: 27px;
	width:78px;
	text-indent: -9999px;
	float:left;
	background: url(../images/user/shopowner/news/pdf_tit.jpg);
}
#ot_d_shopownerpdf .ot_d_header .ot_d_pdfupload{
	font-size:13px;	
	font-family:新細明體;
	text-align:right;
	height:22px;
	margin-right:5px;
	padding-top:8px;
	overflow:hidden;
}
#ot_d_shopownerpdf .ot_d_content ul {
	margin-left:15px;
}
#ot_d_shopownerpdf .ot_d_content ul li.ot_d_typeline{
	margin-bottom:10px;
	height:16px;
	border-bottom:solid 1px #494949;
}
#ot_d_shopownerpdf .ot_d_content ul div li{
	width:100%;
	float:left;
	padding-bottom:5px;
}
#ot_d_shopownerpdf .ot_d_content .ot_d_number{
	font-size:13px;	
	font-family:新細明體;
	width:30px;	
	float:left;	
}
#ot_d_shopownerpdf .ot_d_content .ot_d_number_launch{
	font-size:13px;	
	font-family:新細明體;
	width:30px;	
	float:left;
	color:#ff6600;	
}
#ot_d_shopownerpdf .ot_d_content .ot_d_breif{
	font-size:13px;	
	font-family:新細明體;	
	float:left;
	width:200px;	
}
#ot_d_shopownerpdf .ot_d_content .ot_d_breif_launch{
	font-size:13px;	
	font-family:新細明體;	
	float:left;
	width:200px;
	color:#ff6600;	
}
#ot_d_shopownerpdf .ot_d_content .ot_d_breif_formbox{
	font-size:13px;
	width:180px;
	margin-bottom:5px;
	resize:none;
}
#ot_d_shopownerpdf .ot_d_content .ot_d_pdfurl{
	float:left;
	width:260px;
}
#ot_d_shopownerpdf .ot_d_content .ot_d_btncontrol{
	font-size:13px;	
	font-family:新細明體;	
	float:left;	
	width:175px;		
}
#ot_d_shopownerpdf .ot_d_content .ot_d_pdfurl a{
	font-size:13px;	
	font-family:新細明體;
}
#ot_d_shopownerpdf .ot_d_content .ot_d_pdfurl a.ot_d_pdfurl_launch{
	font-size:13px;	
	font-family:新細明體;
	color:#ff6600;	
}
#ot_d_shopownerpdf .ot_d_content .ot_d_btn{
	float:left;
	width:150px;
}
#ot_d_shopownerpdf .ot_d_content .ot_d_pdfcontrol{
	width:400px;
	float:left;
	overflow:hidden;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_editbreifbtn{
	width:73px;
	height: 20px;
	float: left;
	background: url(../images/buttons/shopowner_editpdfbreif.gif) no-repeat;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_editbreifbtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_editpdfbtn{
	width:45px;
	height:20px;
	float:left;
	background: url(../images/buttons/edit.gif) no-repeat;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_editpdfbtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_delurllbtn{
	width:45px;
	height:20px;
	float:left;
	margin-left:0px;
	background: url(../images/buttons/delete.gif) no-repeat;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_delurllbtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_delrecordbtn{
	width:45px;
	height:20px;
	float:left;
	margin-left:5px;
	background: url(../images/buttons/delete.gif) no-repeat;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_delrecordbtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_browsebtn{
	width:45px;
	height: 20px;
	float: left;
	margin-left:5px;
	background: url(../images/buttons/browse.gif) no-repeat;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_browsebtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_sendbtn{
	width:45px;
	height: 20px;
	float: left;
	margin-left:5px;
	background: url(../images/buttons/send2.gif) no-repeat;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_sendbtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_addrecordbtn{
	width:100px;
	height: 20px;
	float: left;
	background: url(../images/buttons/shopowner_addpdfrecord.gif) no-repeat;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_addrecordbtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopownerpdf .ot_d_content .ot_d_addrecord_pos{
	margin-top:10px;
}
#ot_d_shopownerpdf .ot_d_content .ot_d_status{
	float:left;
	padding-left:5px;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_notpassurl{
	font-size:13px;	
	font-family:新細明體;
}
#ot_d_shopownerpdf .ot_d_content .ot_d_pass{
	font-size:13px;
	font-family:新細明體;
	color:#919191;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_notpass{
	font-size:13px;	
	font-family:新細明體;
	color:#919191;
}
#ot_d_shopownerpdf .ot_d_content a.ot_d_passurl{
	font-size:13px;
	font-family:新細明體;
}	
#ot_d_shopownernews{
	padding-top:15px;
}
#ot_d_shopownernews .ot_d_header{
	height: 27px;
	width:100%;
	background: url(../images/user/shopowner/news/pdf_tit_bg.gif);	
}
#ot_d_shopownernews .ot_d_content{
	margin-top:15px;
}
#ot_d_shopownernews .ot_d_content ul li.ot_d_typeline{
	margin-bottom:10px;
	border-bottom:solid 1px #494949;
}
#ot_d_shopownernews .ot_d_content ul {
	margin-left:15px;
}
#ot_d_shopownernews .ot_d_content ul li{
	width:100%;
	float:left;
	padding-bottom:5px;
}
#ot_d_shopownernews .ot_d_header .ot_d_newstit{
	height: 27px;
	width:78px;
	text-indent: -9999px;
	float:left;
	background: url(../images/user/shopowner/news/merchant_news_tit.jpg);
}
#ot_d_shopownernews .ot_d_header .ot_d_newsupload{
	font-size:13px;	
	font-family:新細明體;
	text-align:right;
	height:22px;
	margin-right:5px;
	padding-top:8px;
	overflow:hidden;
}
#ot_d_shopownernews .ot_d_content .ot_d_number{
	font-size:13px;	
	font-family:新細明體;
	width:20px;	
	float:left;
}
#ot_d_shopownernews .ot_d_content .ot_d_number_launch{
	font-size:13px;	
	font-family:新細明體;
	width:20px;	
	float:left;
	color:#ff6600;	
}
#ot_d_shopownernews .ot_d_content .ot_d_createtime{
	font-size:13px;	
	font-family:新細明體;	
	float:left;
	width:90px;
}
#ot_d_shopownernews .ot_d_content .ot_d_createtime_launch{
	font-size:13px;	
	font-family:新細明體;	
	float:left;
	width:90px;
	color:#ff6600;		
}
#ot_d_shopownernews .ot_d_content .ot_d_tit{
	font-size:13px;	
	font-family:新細明體;	
	float:left;
	width:125px;
}
#ot_d_shopownernews .ot_d_content .ot_d_tit_launch{
	font-size:13px;	
	font-family:新細明體;	
	float:left;
	width:125px;
	color:#ff6600;		
}
#ot_d_shopownernews .ot_d_content .ot_d_info{
	font-size:13px;	
	font-family:新細明體;	
	float:left;
	width:120px;
}
#ot_d_shopownernews .ot_d_content .ot_d_info_launch{
	font-size:13px;	
	font-family:新細明體;	
	float:left;
	width:120px;
	color:#ff6600;		
}
#ot_d_shopownernews .ot_d_content .ot_d_starttime{
	font-size:13px;	
	font-family:新細明體;	
	float:left;
	width:70px;
}
#ot_d_shopownernews .ot_d_content .ot_d_starttime_launch{
	font-size:13px;	
	font-family:新細明體;	
	float:left;
	width:70px;
	color:#ff6600;	
}
#ot_d_shopownernews .ot_d_content .ot_d_endtime{
	font-size:13px;	
	font-family:新細明體;	
	float:left;
	width:70px;
}
#ot_d_shopownernews .ot_d_content .ot_d_endtime_launch{
	font-size:13px;	
	font-family:新細明體;	
	float:left;
	width:70px;
	color:#ff6600;	
}
#ot_d_shopownernews .ot_d_content .ot_d_btn{
	float:left;
	width:160px;
}
#ot_d_shopownernews .ot_d_content .ot_d_btncontrol{
	font-size:13px;	
	font-family:新細明體;	
	float:left;	
	width:170px;
}
#ot_d_shopownernews .ot_d_content a.ot_d_browsebtn{
	width:45px;
	height: 20px;
	float: left;
	margin-left:5px;
	background: url(../images/buttons/browse.gif) no-repeat;
}
#ot_d_shopownernews .ot_d_content a.ot_d_browsebtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopownernews .ot_d_content a.ot_d_browsebtn{
	width:45px;
	height: 20px;
	float: left;
	margin-left:5px;
	background: url(../images/buttons/browse.gif) no-repeat;
}
#ot_d_shopownernews .ot_d_content a.ot_d_browsebtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopownernews .ot_d_content a.ot_d_editbtn{
	width:45px;
	height: 20px;
	float: left;
	margin-left:5px;
	background: url(../images/buttons/edit.gif) no-repeat;
}
#ot_d_shopownernews .ot_d_content a.ot_d_editbtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopownernews .ot_d_content a.ot_d_deletebtn{
	width:45px;
	height: 20px;
	float: left;
	margin-left:5px;
	background: url(../images/buttons/delete.gif) no-repeat;
}
#ot_d_shopownernews .ot_d_content a.ot_d_deletebtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopownernews .ot_d_content a.ot_d_addrecordbtn{
	width:100px;
	height: 20px;
	float: left;
	background: url(../images/buttons/shopowner_newsadd.gif) no-repeat;
}
#ot_d_shopownernews .ot_d_content a.ot_d_addrecordbtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopownernews .ot_d_content .ot_d_status{
	float:left;
	padding-left:5px;
}
#ot_d_shopownernews .ot_d_content a.ot_d_notpassurl{
	font-size:13px;	
	font-family:新細明體;
}
#ot_d_shopownernews .ot_d_content .ot_d_pass{
	font-size:13px;
	font-family:新細明體;
	color:#919191;
}
#ot_d_shopownernews .ot_d_content .ot_d_notpass{
	font-size:13px;	
	font-family:新細明體;
	color:#919191;
}
#ot_d_shopownernews .ot_d_content a.ot_d_passurl{
	font-size:13px;
	font-family:新細明體;
}
#ot_d_shopownernews .ot_d_content .ot_d_addnewsrecord_pos{
	margin-top:10px;
}
/*END: SHOP OWNER PDF File AND NEWS*/

/*START: SHOP OWNER ADD FORM*/
#ot_d_shopowner_addnews{
	width:634px;
	border-top:1px solid #9edaff;
	border-right:1px solid #9edaff;
 	border-left:1px solid #9edaff;
}
#ot_d_shopowner_addnews .ot_d_table { overflow:hidden;clear:both;}
#ot_d_shopowner_addnews .ot_d_table.ot_d_tableblank { height:1px; font-size:0; }
#ot_d_shopowner_addnews .ot_d_table.ot_d_tableblank .ot_d_colcolor{ border-top:1px solid #ddf2fe;float:left;width:634px; }
#ot_d_shopowner_addnews .ot_d_table.ot_d_tableblank .ot_d_lastcolcolor{ border-top:1px solid #9edaff;float:left;width:634px; }
#ot_d_shopowner_addnews .ot_d_table .ot_d_tit {
	float:left;
	width:614px;
	padding:10px;
	vertical-align:bottom;
	font-size:13px;	
	font-weight:bold;
	color:#333333;
	background-color:#e9f7ff;
}
#ot_d_shopowner_addnews .ot_d_table .ot_d_type {
	width:80px;
	font-weight:bold;
	font-size:13px;
	color:#333333;	
	padding:10px;
	float:left;	
	padding-bottom:125px;
	margin-bottom:-120px;
}
#ot_d_shopowner_addnews .ot_d_table .ot_d_content {
	width:514px;
	font-size:13px;
	color:#333333;	
	vertical-align:bottom;	
	padding:10px;
	float:left;	
	padding-bottom:65px;
	margin-bottom:-60px;
}
#ot_d_shopowner_addnews .ot_d_table .ot_d_box {
	float:left;
	width:500px;
}
#ot_d_shopowner_addnews .ot_d_table .ot_d_textareabox {
	font-size:13px;
	float:left;
	width:500px;
	height:100px;
}
#ot_d_shopowner_addnews .ot_d_table .ot_o_popdate {
	width:70px;
	margin-left:5px;
	vertical-align:middle;
	border: 1px solid #A5ACB2;
}
#ot_d_shopowner_addnews .ot_d_table .ot_d_dateicon_pos {
	margin:0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align:middle;
}
#ot_d_shopowner_addnews .ot_d_table .ot_d_startword {
	vertical-align:middle;	
}
#ot_d_shopowner_addnews .ot_d_table .ot_d_endword {
	vertical-align:middle;	
	margin-left:5px;
}
#ot_d_shopowner_addnews .ot_d_table a.ot_d_sendbtn{
	width:45px;
	height: 20px;
	float: left;
	background: url(../images/buttons/send2.gif) no-repeat;
}
#ot_d_shopowner_addnews .ot_d_table a.ot_d_sendbtn:hover{
	background-position: 0px -20px;
}
#ot_d_shopowner_addnews .ot_d_table a.ot_d_resetbtn{
	width:45px;
	height: 20px;
	float: left;
	margin-left:5px;
	background: url(../images/buttons/reset.gif) no-repeat;
}
#ot_d_shopowner_addnews .ot_d_table a.ot_d_resetbtn:hover{
	background-position: 0px -20px;
}
/*END: SHOP OWNER ADD FORM*/

/*Start: Member Register Introduction*/
#ot_d_member_reg_intro .ot_d_member_reg_intro_bg{
	width:632px;
	min-height:600px;
	height:auto !important;
	height:600px;
	background: url(../images/user/member/register/member_intro_bg.jpg);
}
#ot_d_member_reg_intro .ot_d_member_reg_intro_btn1{
	width:632px;
	text-align:center;
}
#ot_d_member_reg_intro .ot_d_member_reg_intro_btn2{
	width:632px;
	text-align:center;
	padding: 12px 0px 12px 0px;
}
#ot_d_member_reg_intro .ot_d_member_intro_scr1_off{
	width:632px;
	height:40px;
	text-align:center;
	margin-top:12px;
}
#ot_d_member_reg_intro .ot_d_member_intro_scr1_on{
	width:632px;
	height:40px;
	text-align:center;
	display:none;
	margin-top:12px;	
}
#ot_d_member_reg_intro .ot_d_member_intro_scr1{
	width:632px;
	text-align:center;
	display:none;
}
#ot_d_member_reg_intro .ot_d_member_intro_scr2_off{
	width:632px;
	height:40px;
	text-align:center;
	margin-top:12px;	
}
#ot_d_member_reg_intro .ot_d_member_intro_scr2_on{
	width:632px;
	height:40px;
	text-align:center;
	display:none;
	margin-top:12px;	
}
#ot_d_member_reg_intro .ot_d_member_intro_scr2{
	width:632px;
	text-align:center;
	display:none;
}
#ot_d_member_reg_intro .ot_d_member_intro_scr3_off{
	width:632px;
	height:40px;
	text-align:center;
	margin-top:12px;	
}
#ot_d_member_reg_intro .ot_d_member_intro_scr3_on{
	width:632px;
	height:40px;
	text-align:center;
	display:none;
	margin-top:12px;	
}
#ot_d_member_reg_intro .ot_d_member_intro_scr3{
	width:632px;
	text-align:center;
	display:none;
}
#ot_d_member_reg_intro .ot_d_member_intro_scr4_off{
	width:632px;
	height:40px;
	text-align:center;
	margin-top:12px;	
}
#ot_d_member_reg_intro .ot_d_member_intro_scr4_on{
	width:632px;
	height:40px;
	text-align:center;
	display:none;
	margin-top:12px;	
}
#ot_d_member_reg_intro .ot_d_member_intro_scr4{
	width:632px;
	text-align:center;
	display:none;
}
/*End: Member Register Introduction*/

/*start: Member Register Introduction Member Login*/
#ot_d_member_login{
	margin-bottom:12px;
}
#ot_d_member_login .ot_d_login_box .ot_d_login_formbox{
	width:150px;
}
#ot_d_member_login .ot_d_member_sendbtn{
	width: 45px;
	height: 20px;
	background: url(../images/buttons/login.gif) no-repeat;
	position: 0px 0px;
	border: 0;
	cursor: pointer;
	text-indent:-9999px;
	float:left;
}
#ot_d_member_login .ot_d_member_sendbtn.hover{
	background-position: 0px -20px;
}
#ot_d_member_login .ot_d_login_content{
	display:block;
}
#ot_d_member_login .ot_d_forgetpwdurl{
	float:left;
	padding: 3px 0px 0px 5px;
}
/*End: Member Register Introduction Member Login*/