@charset "utf-8";

/* START: Review Search Box */
#review-search-box {
}

#review-search-box .header {
	padding-right: 5px;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/review-search-box.gif);
}

#review-search-box .content {
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 12px;
	padding-bottom: 10px;
	background-color: #FFF;
	background-image: url(../images/backgrounds/boxes/content/review-search-box.gif);
	line-height: 28px;
}

#review-search-box .footer {
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/review-search-box.gif);
}

#review-search-box .content .search-button {
	display: inline-block;
	width: 45px;
	height: 21px;
	margin-top: -1px;
	background: url(../images/buttons/search.gif) no-repeat;
	background-position: 0px 0px;
	border: 0;
	cursor: pointer;
	text-indent: -99999px;
}
#review-search-box .content .search-button.hover {
	background-position: 0px -21px;
}
#review-search-box .content label {
	padding-right: 8px;
}
#review-search-box .content .calendar {
	display: inline-block;
	width: 18px;
	height: 16px;
	background: url(../images/icons/calendar.gif) no-repeat top left;
	text-indent: -9999px;
	vertical-align: middle;
}
#review-search-box .content input {
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	margin-right: 8px;
}
#review-search-box .content input.date-input,
#review-search-box .content input.merchant-input,
#review-search-box .content input.keyword-input {
	border: 1px solid #a5acb2;
	height: 18px;
	line-height: 18px;
	padding: 0 1px;
}
#review-search-box .content input.date-input,
#review-search-box .content input.merchant-input {
	width: 100px;
}
#review-search-box .content input.keyword-input {
	width: 230px;
}
/* END: Review Search Box */

/* START: Newest Reviews 4 Box */
#ot_d_newest-reviews4_box .ot_d_header {
	border-bottom: 3px solid #3F6CBF;
	padding-left: 10px;
	margin-bottom: 5px;
}
#ot_d_newest-reviews4_box .ot_d_header h3 {
	height: 30px;
	width: 93px;
	text-indent:-9999px;
	background-image: url(../images/backgrounds/boxes/header/newest-reviews4-box.gif);
}
#ot_d_newest-reviews4_box .ot_d_content ul {
	border-top: 1px solid #c8f1ff;
	padding-top:6px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li.ot_t_keywordspadding{
	padding-bottom:6px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li {
	border-bottom: 1px solid #c8f1ff;
	margin-bottom:6px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_notfindkeywords {
	color:#F00;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_show_image {
	display: block;
	float: left;
	width:101px;
	text-align:right;
	vertical-align:top;
	overflow:hidden;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_t_showspic_frame {
	padding:2px;
	background-color:#FFFFFF;
	border:1px solid #e3e3e3;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_show_info{
	display: block;
	float: left;
	width: 520px;
	padding-left:10px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_show_details{
	display: block;
	float: left;
	width: 330px;
	line-height:20px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_show_star{
	text-align:right;
	width: 190px;
	float:right;
	display:block;
	height:29px;
	margin-right:10px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_star{
	float:right;
	display:block;
	height:29px;
	margin-right:10px;
	margin-top:-5px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_star_pos{
	float:right;
	padding: 7px 0px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_review_title{
	float:left;
	width:100%;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_review_title a{
	color:#905119;
	font-weight:bold;
	font-size:13px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_review_text{
	float:left;
	font-size:13px;
	line-height:20px;
	margin-top:2px;
	width:100%;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_review_text a{
	font-size:13px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_review_target_icon{
	float:left;
	width:100%;
	margin-top:5px;
	background: no-repeat;	
	background-image: url(../images/icons/category-store.gif);
	background-position:0px 2px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_review_target_pos{
	font-size:13px;
	padding-left: 20px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_review_target_pos .ot_o_review_target{
	font-size:13px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_review_catemain{
	float:left;
	margin-top:2px;
	width:100%;	
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_o_review_catelink{
	position:relative;
	padding-left: 20px;
	background: no-repeat top left;
	background-image: url(../images/icons/icons_type.gif);
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_show_details, #ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_show_details a{
	font-size:13px;
	line-height:20px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_review_facebook{
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	clear: both;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_review_facebook div{
	float: left;
	padding: 5px 5px 5px 0px;
}
#ot_d_newest-reviews4_box .ot_d_content ul li .ot_d_review_facebook div a{
	display: block;
	padding: 5px 5px 5px 20px;
	background: url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif) no-repeat left center;
}
/* END: Newest Reviews 4 Box */