@charset "utf-8";

/* START: Big Sales */
#ot_d_bigsales{
	float:left;
	margin-bottom:12px;
}
#ot_d_bigsales .ot_d_header{
	width:310px;
	height:38px;
	background: url(../images/backgrounds/boxes/header/promotion_bigsale-box.jpg);
}
#ot_d_bigsales .ot_d_content{
	width:282px;
	padding: 9px 14px 0px 14px;
	background: url(../images/backgrounds/boxes/content/promotion_bigsale-box.jpg);
}
#ot_d_bigsales .ot_d_footer{
	width:310px;
	height:3px;
	overflow:hidden;
	background: url(../images/backgrounds/boxes/footer/promotion_bigsale-box.jpg);
}
#ot_d_bigsales .ot_d_content ul li{
	display:block;
}
#ot_d_bigsales .ot_d_content ul li .ot_d_bigsalelines{
	padding-top:4px;
	border-top:1px #ccdfe6 solid;
}
#ot_d_bigsales .ot_d_content ul li .ot_t_bigsaletable{
	width:283px;
	height:80px;
	padding-top:4px;
	margin-top:4px;
}
#ot_d_bigsales .ot_d_content ul li .ot_t_bigsalepic{
	width:86px;
	height:80px;	
	text-align:center;
	vertical-align:top;
}

#ot_d_bigsales .ot_d_content ul li .ot_t_bigsalepic_frame{
	padding:2px;
	background-color:#FFFFFF;
	vertical-align:middle;
	border:1px solid #e3e3e3;
}
#ot_d_bigsales .ot_d_content ul li .ot_t_bigsaleinfo{
	font-size:13px;
	width:187px;
	padding-left:10px;
	text-align:left;
	line-height:18px;
}
#ot_d_bigsales .ot_d_content ul li .ot_t_bigsaleinfo a{
	font-size:13px;
	font-weight:bold;
}
#ot_d_bigsales .ot_d_content ul li .ot_t_bigsaleinfo .ot_t_promotiontit{
	font-size:13px;
	color:#144000;
	font-weight:bold;
}
/* END: Big Sales */

/* START: Promotion Sales */
#ot_d_promotionsale{
	float:right;
	margin-bottom:12px;
}
#ot_d_promotionsale .ot_d_header{
	width:310px;
	height:38px;
	background: url(../images/backgrounds/boxes/header/promotion_promotionsale-box.jpg);
}
#ot_d_promotionsale .ot_d_content{
	width:282px;
	padding: 9px 14px 0px 14px;
	background: url(../images/backgrounds/boxes/content/promotion_promotionsale-box.jpg);
}
#ot_d_promotionsale .ot_d_footer{
	width:310px;
	height:3px;
	overflow:hidden;
	background: url(../images/backgrounds/boxes/footer/promotion_promotionsale-box.jpg);
}
#ot_d_promotionsale .ot_d_content ul li{
	display:block;
}
#ot_d_promotionsale .ot_d_content ul li .ot_d_promotionsalelines{
	padding-top:4px;
	border-top:1px #ccdfe6 solid;
}
#ot_d_promotionsale .ot_d_content ul li .ot_t_promotionsaletable{
	width:283px;
	height:80px;	
	padding-top:4px;
	margin-top:4px;
}
#ot_d_promotionsale .ot_d_content ul li .ot_t_promotionsalespic{
	width:86px;
	color:#FFFFFF; 
	text-align:center;
	vertical-align:middle;
}
#ot_d_promotionsale .ot_d_content ul li .ot_t_promotionsalepic_frame{
	padding:2px;
	background-color:#FFFFFF;
	vertical-align:middle;
	border:1px solid #e3e3e3;
}
#ot_d_promotionsale .ot_d_content ul li .ot_t_promotionsaleinfo{
	font-size:13px;
	width:187px;
	padding-left:10px;
	text-align:left;
	line-height:18px;
}
#ot_d_promotionsale .ot_d_content ul li .ot_t_promotiontit{
	font-size:13px;
	color:#144000;
	font-weight:bold;	
}
/* END: Promotion Sales */

/* START: Other Big Sales */
#ot_d_otherbigsale{
	clear:both;
}
#ot_d_otherbigsale .ot_d_header{
	height:38px;
	background: url(../images/backgrounds/boxes/header/promotion_othersbigsale-box.jpg);
}
#ot_d_otherbigsale .ot_d_content{
	width:632px;
	overflow:hidden;	
	background: url(../images/backgrounds/boxes/content/promotion_othersbigsale-box.jpg);
}
#ot_d_otherbigsale .ot_d_footer{
	height:3px;
	overflow:hidden;
	background: url(../images/backgrounds/boxes/footer/promotion_othersbigsale-box.jpg);
}
#ot_d_otherbigsale .ot_d_header a.ot_d_more{
	width:45px;
	height:16px;
	float:right;
	margin: 12px 8px 0px 0px;
	background: url(../images/buttons/more_blue.gif);
}
#ot_d_otherbigsale .ot_d_header a.ot_d_more:hover{
	background-position: 0px -16px;
}
#ot_d_otherbigsale .ot_d_content ul{
	height: 28px;
	padding: 5px 10px 0px 10px;
}
#ot_d_otherbigsale .ot_d_content ul li{
	line-height:25px;
}
#ot_d_otherbigsale .ot_d_content ul li.ot_d_promotion{
	width:40%;
	float:left;
	font-weight:bold;
}
#ot_d_otherbigsale .ot_d_content ul li.ot_d_promotion a{
	font-size:13px;	
	color:#144000;
}
#ot_d_otherbigsale .ot_d_content ul li.ot_d_shopname{
	width:38%;
	float:left;
	font-weight:bold;
}
#ot_d_otherbigsale .ot_d_content ul li.ot_d_shopname a{
	font-size:13px;	
}
#ot_d_otherbigsale .ot_d_content ul li.ot_d_type{
	font-size:13px;
	width:19%;
	float:left;
}
/* END: Other Big Sales */

/* START: Other Big Sales */
#ot_d_otherpromotionsale{
	margin-top:12px;
	clear:both;
}
#ot_d_otherpromotionsale .ot_d_header{
	height:38px;
	background: url(../images/backgrounds/boxes/header/promotion_otherspromotionsale-box.jpg);
}
#ot_d_otherpromotionsale .ot_d_content{
	width:632px;
	overflow:hidden;	
	background: url(../images/backgrounds/boxes/content/promotion_otherspromotionsale-box.jpg);
}
#ot_d_otherpromotionsale .ot_d_footer{
	height:3px;
	overflow:hidden;
	background: url(../images/backgrounds/boxes/footer/promotion_otherspromotionsale-box.jpg);
}
#ot_d_otherpromotionsale .ot_d_header a.ot_d_more{
	width:45px;
	height:16px;
	float:right;
	margin: 12px 8px 0px 0px;
	background: url(../images/buttons/more_blue.gif);
}
#ot_d_otherpromotionsale .ot_d_header a.ot_d_more:hover{
	background-position: 0px -16px;
}
#ot_d_otherpromotionsale .ot_d_content ul{
	height: 28px;
	padding: 5px 10px 0px 10px;
}
#ot_d_otherpromotionsale .ot_d_content ul li{
	line-height:25px;
}
#ot_d_otherpromotionsale .ot_d_content ul li.ot_d_promotion{
	width:40%;
	float:left;
	font-weight:bold;
}
#ot_d_otherpromotionsale .ot_d_content ul li.ot_d_promotion a{
	font-size:13px;	
	color:#144000;
}
#ot_d_otherpromotionsale .ot_d_content ul li.ot_d_shopname{
	width:38%;
	float:left;
	font-weight:bold;
}
#ot_d_otherpromotionsale .ot_d_content ul li.ot_d_shopname a{
	font-size:13px;	
}
#ot_d_otherpromotionsale .ot_d_content ul li.ot_d_type{
	font-size:13px;
	width:19%;
	float:left;
}
/* END: Other Big Sales */

/*START: Promotion Listing Page*/
#ot_d_promotion_result_box {

}
#ot_d_promotion_result_box .ot_d_content .ot_d_promotionphotos{
	float:right;
}
#ot_d_promotion_result_box .ot_d_content ul {
	border-top: 1px solid #c8f1ff;
}
#ot_d_promotion_result_box .ot_d_content ul li {
	border-bottom: 1px solid #c8f1ff;
	padding-top: 4px;
	padding-bottom: 12px;
}
#ot_d_promotion_result_box .ot_d_content ul li.ot_d_alt_row {
	background-color: #F2FAFF;
}
#ot_d_promotion_result_box .ot_d_content ul li table td {
	line-height: 21px;
	vertical-align: top;
}
#ot_d_promotion_result_box .ot_d_content ul li table .ot_o_result_num_pos {
	width:35px;
}
#ot_d_promotion_result_box .ot_d_content ul li table td div.ot_t_result_num {
	background: url(../images/backgrounds/result-numering.gif) no-repeat top left;
	line-height: 20px;
	width:24px;
	height:40px;
	text-align:center;
	font-weight:bold;
}
#ot_d_promotion_result_box .ot_d_content ul li table td .write-review a.plus {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}
#ot_d_body_content a.plus{
	overflow:hidden;
}
#ot_d_promotion_result_box .ot_d_content ul li table td .ot_t_promotion_link{
	padding-right: 11px;
	text-decoration: underline;
	font-size: 15px;
	font-weight: bold;
	font-family:"新細明體";
	color:#003300;
}
#ot_d_promotion_result_box .ot_d_content ul li table td .ot_t_main_link {
	padding-right: 11px;
	text-decoration: underline;
	font-size: 15px;
	font-weight: bold;
	font-family:"新細明體";
}
#ot_d_promotion_result_box .ot_d_content ul li table .ot_o_content_pos {
	width:100px;
	text-align:right;
}
#ot_d_promotion_result_box .ot_d_content ul li table td .ot_d_imgframe .ot_d_imgframe_pic{
	padding:2px;
	background-color:#FFFFFF;
	border:1px solid #e3e3e3;
}
#ot_d_promotion_result_box .ot_d_content ul li .ot_d_promotiontype {
	background: url(../images/icons/icons_promotiontype.gif) no-repeat left top;
	display:block;
	overflow:hidden;
	padding-left:20px;
	margin: 2px 5px 0px 0px;
}
#ot_d_promotion_result_box .ot_d_content ul li .ot_d_type {
	background: url(../images/icons/icons_type.gif) no-repeat left top;
	display:block;
	overflow:hidden;
	padding-left:20px;
	margin: 2px 5px 0px 0px;
	color:#2155b5;	
}
#ot_d_promotion_result_box .ot_d_content ul li .ot_d_address { 
	background: url(../images/icons/icons_address.gif) no-repeat left top;
	display:block;
	overflow:hidden;
	padding-left:20px;
	margin: 2px 5px 0px 0px;
}
#ot_d_promotion_result_box .ot_d_content ul li .ot_d_promotiondate {
	background: url(../images/icons/icons_promotiondate.gif) no-repeat left top;
	display:block;
	overflow:hidden;
	padding-left:20px;
	margin: 2px 5px 0px 0px;
}
/*End: Promotion Listing Page*/

/*Start: Promotion Branch Listing Page*/
#ot_d_promotion_branch_result_box{
	color: #003300;
	font-size: 16px;
	line-height:34px;
	padding-left:12px;
	height:34px;
	background-color:#e5eae5;
	font-weight:bold;
}
/*End: Promotion Branch Listing Page*/

/*START: Promotion Page Structure*/
#ot_d_promotion_content {
	background: #FFF url(../images/backgrounds/body-content.gif) repeat-y left top;
	padding-bottom:12px;
}
#ot_d_promotion_content .ot_d_promotion_content_left {
	float: left;
}
#ot_d_promotion_content .ot_d_promotion_content_left .ot_d_promotion_infodetail{
	padding: 12px 0px 0px 12px;
	width:632px;
}
#ot_d_promotion_content .ot_d_promotion_content_left .ot_d_promotion_review{
	margin-top:12px;
	width:656px;
	background-color:#f9f9f9;
}
#ot_d_promotion_content .ot_d_promotion_content_right {
	float: right;
	width: 300px;
	padding: 12px 12px 0px 0px;
}
#ot_d_promotion_content .ot_d_promotion_content_left .ot_d_promotion_writereview{
	padding: 12px 0px 0px 12px;
	width:632px;	
}
#ot_d_promotion_content .ot_d_promotion_content_left .ot_d_promotion_writereview .ot_t_event_writereview_table{
	border:solid 1px #91c5e2;
	width:100%;
}
#ot_d_promotion_content .ot_d_promotion_content_left .ot_d_promotion_writereview .ot_t_event_writereview_tit{
	background-color:#cfedfe;
	padding:7px;
	font-size:13px;
	font-weight:bold;
}
#ot_d_promotion_content .ot_d_promotion_content_left .ot_d_promotion_writereview .ot_t_event_writereview_text_pos_1{
	background-color:#FFFFFF;
	padding:7px;
	border-bottom:1px #ddf2fe solid;
}
#ot_d_promotion_content .ot_d_promotion_content_left .ot_d_promotion_writereview .ot_t_event_writereview_text_pos_2{
	background-color:#FFFFFF;
	padding:7px;
}
#ot_d_promotion_content .ot_d_promotion_content_left .ot_d_promotion_writereview .ot_t_event_writereview_btn{
	left:123px;
	position:relative;
}
#ot_d_promotion_content .ot_d_promotion_content_left .ot_d_promotion_writereview .ot_t_event_writereview_type{
	width:130px;
	font-size:13px;
	font-weight:bold;
}
#ot_d_promotion_content .ot_d_promotion_content_left .ot_d_promotion_writereview .ot_t_event_writereview_text{
	font-size:13px;
}
#ot_d_promotion_content a.more {
	display: block;
	text-indent: -9999px;
	float: right;
	width: 45px;
	height: 16px;
	background: url(../images/buttons/more-off.png) no-repeat top left;
}
#ot_d_promotion_content a.more:hover { background-image: url(../images/buttons/more-on.png); }
/*END: Promotion Page Structure*/

/* START: Promotion Info Box */
.googlemap_pos{
	margin-bottom:8px;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_promotionname{
	width:634px;
	padding: 6px 0px 6px 0px;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_promotion_chiname{
	font-size:26px;
	font-weight:bold;
	color:#144000;
	line-height:30px;
	padding-right:7px;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_star{
	width:634px;
	height:29px;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_star_pos{
	float:left;
	padding: 7px 0px;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_info{
	width:632px;
	clear:both;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_info_pos{
	width:416px;
	float:left;
}
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW { overflow:hidden }
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW.ot_d_eB { height:1px; font-size:0; }
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_1_firstline {
	float:left;
	width:69px;
	background-color:#7adf9c;
	padding: 10px 8px 10px 8px;
	padding-bottom:505px;
	margin-bottom:-500px;
	border-top:2px solid #086600;
	font-weight:bold;
	font-size:13px;
	color:#001327;
}
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2_firstline {
	float:left;
	width:313px;
	background-color:#f0ffee;
	padding: 10px 8px 10px 8px;
	padding-bottom:65px;
	margin-bottom:-60px;
	vertical-align:bottom;
	border-top:2px solid #086600;
	font-size:13px;
	color:#001327;
}
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2_firstline a{
	font-size:13px;
}
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_1 {
	float:left;
	width:69px;
	background-color:#7adf9c;
	padding: 10px 8px 10px 8px;
	padding-bottom:20005px;
	margin-bottom:-20000px;
	border-top:1px solid #6fd08a;
	font-weight:bold;
	font-size:13px;
	color:#001327;
}
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 {
	float:left;
	width:313px;
	background-color:#f0ffee;
	padding: 10px 8px 10px 8px;
	padding-bottom:65px;
	margin-bottom:-60px;
	vertical-align:bottom;
	border-top:1px solid #ceeacc;
	font-size:13px;
	color:#001327;
}
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 a{
	font-size:13px;
}
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 .ot_d_eH_col_button{
	padding-top:5px;
}
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 ul li{
	clear:both;
}
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 .ot_d_info_addr_gm_num{
	width:20px;
	height:18px;
	text-align:center;
	font-size:9px;
	float:left;
	color:#FFF;
	background: url(../images/promotion/promotion_info_addr.jpg) no-repeat top left;
}
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 .ot_d_info_addr{
	font-size:13px;
	float:left;
	width:285px;
	padding-left:3px;
	padding-bottom:4px;
}
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 .ot_d_info_more_space{
	width:20px;
	height:18px;
	float:left;
}
#ot_d_promotion_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 .ot_d_info_more{
	font-size:13px;
	float:left;
	padding-left:3px;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_promotionphotos{
	float:right;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_photoszoom{
	float:right;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_promotionphotos .ot_o_promotion_image_frame{
	padding:2px;
	background-color:#FFFFFF;
	border:1px solid #e3e3e3;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_extra_info{
	padding-top:12px;
	clear:both;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_extra_info_desc{
	background-color:#e9edf0;
	padding: 10px;
	font-size:13px;	
	line-height:17px;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_extra_info_desc ol{
	list-style-position: inside;
	list-style-type:decimal;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_extra_info_desc ul{
	list-style: inside;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_extra_info_tit{
	font-size:13px;
	font-weight:bold;
	text-decoration:underline;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_extra_info_space{
	padding: 5px 0px;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_extra_info_nodesc{
	background-color:#e9edf0;
	padding: 5px 10px 5px 10px;
	text-align:center;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_extra_info_bg{
	background-color:#e9edf0;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_extra_info_area{
	width:632px;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_promotion_buttons {
	padding-top: 12px;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_promotion_buttons a {
	display: block;
	float: left;
	height: 23px;
	padding-right: 22px;
	text-indent: -9999px;
	background: url(../images/buttons/merchant-buttons.jpg) no-repeat;
}
#ot_d_promotion_info_box .ot_d_content .ot_d_promotion_buttons a.ot_d_promotion_add_favourite{
	background:url(../images/buttons/add-favorite-promotion.jpg) no-repeat; 
	width: 108px;	
	background-position: 0px 2px; 
}
#ot_d_promotion_info_box .ot_d_content .ot_d_promotion_buttons a.ot_d_promotion_added_favourite{
	background:url(../images/buttons/added-favorite-promotion.jpg) no-repeat; 
	width: 108px;	
	background-position: 0px 2px; 
}
#ot_d_promotion_info_box .ot_d_content .ot_d_promotion_buttons a.ot_d_promotion_add_favourite:hover{
	background:url(../images/buttons/add-favorite-promotion.jpg) no-repeat; 
	width: 108px;	
	background-position: 0px -21px; 
}
#ot_d_promotion_info_box .ot_d_content .ot_d_promotion_buttons a.ot_d_promotion_added_favourite:hover{
	background:url(../images/buttons/added-favorite-promotion.jpg) no-repeat; 
	width: 108px;	
	background-position: 0px -21px; 
}
#ot_d_promotion_info_box .ot_d_content .ot_d_promotion_buttons a.provide-details	{ width: 72px;		background-position: -136px 0px; }
#ot_d_promotion_info_box .ot_d_content .ot_d_promotion_buttons a.write-review	{ width: 60px;		background-position: -229px 0px; }

#ot_d_promotion_info_box .ot_d_content .ot_d_promotion_buttons a.provide-details:hover	{ width: 72px;		background-position: -136px -23px; }
#ot_d_promotion_info_box .ot_d_content .ot_d_promotion_buttons a.write-review:hover		{ width: 60px;		background-position: -229px -23px; }
/* END: Promotion Info Box */

/* START: Promotion Edit message Box */
#ot_d_edit_msg .ot_d_header{
	width: 632px;
	height: 8px;
	overflow:hidden;
	background: url(../images/backgrounds/boxes/header/promotion_edit_text-box.jpg) no-repeat top left;
}
#ot_d_edit_msg .ot_d_content{
	width: 632px;
	vertical-align:middle;
	overflow:hidden;
	background: url(../images/backgrounds/boxes/content/promotion_edit_text-box.jpg);
}
#ot_d_edit_msg .ot_d_footer{
	width: 632px;
	height: 8px;
	background: url(../images/backgrounds/boxes/footer/promotion_edit_text-box.jpg) no-repeat top left;
}
#ot_d_edit_msg .ot_d_content .ot_d_tit{
	padding:7px;
	font-size:13px;
	font-weight:bold;
}
#ot_d_edit_msg .ot_d_content .ot_d_type{
	float:left;
	width:150px;
	font-size:13px;
	font-weight:bold;
	padding: 7px 0px 7px 7px;	
}
#ot_d_edit_msg .ot_d_content .ot_d_data{
	float:left;
	width:465px;
	font-size:13px;
	padding: 7px 7px 7px 0px;	
}
#ot_d_edit_msg .ot_d_content .ot_d_box{
	width:400px;
	font-size:13px;	
}
#ot_d_edit_msg .ot_d_content .ot_d_button{
	float:left;
	width:465px;
	font-size:13px;
	padding: 7px;	
}
#ot_d_edit_msg .ot_d_content .ot_d_edit_msg_submit{
	width:45px;
	height:20px;
	float:left;
	border: 0;
	cursor: pointer;	
	background: url(../images/buttons/send2.gif) no-repeat top left;
}
#ot_d_edit_msg .ot_d_content .ot_d_edit_msg_submit.hover{
	background-position: 0px -20px;
}
#ot_d_edit_msg .ot_d_content .ot_d_edit_msg_reset{
	width:45px;
	height:20px;
	float:left;
	margin-left:7px;
	border: 0;
	cursor: pointer;
	background: url(../images/buttons/reset.gif) no-repeat top left;
}
#ot_d_edit_msg .ot_d_content .ot_d_edit_msg_reset.hover{
	background-position: 0px -20px;
}
/* END: Promotion Edit message Box */

/* START: Add Promotion Form*/
#ot_d_addpromotion form {
	border:solid 1px #91c5e2;
	width:632px;
	overflow:hidden;
}
#ot_d_addpromotion form div.ot_d_eW { overflow:hidden }
#ot_d_addpromotion form div.ot_d_eW.ot_d_eB { height:1px; font-size:0; }
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_1_tit {
	float:left;
	width:618px;
	background-color:#cfedfe;
	padding:7px;
	padding-bottom:65px;
	margin-bottom:-60px;
	font-weight:bold;
	font-size:13px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_1_preview {
	float:left;
	width:618px;	
	padding:7px;
	padding-bottom:65px;
	margin-bottom:-60px;
	font-weight:bold;
	font-size:13px;
	background-color:#fff;	
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_1 {
	float:left;
	width:130px;
	padding: 7px;
	padding-bottom:155px;
	margin-bottom:-150px;
	border-top:1px solid #ddf2fe;
	font-weight:bold;
	font-size:13px;
	background-color:#FFF;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 {
	float:left;
	width:473px;
	background-color:#FFF;
	padding: 7px;
	padding-bottom:65px;
	margin-bottom:-60px;
	vertical-align:bottom;
	border-top:1px solid #ddf2fe;
	font-size:13px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 div{
	font-size:13px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_form_box{
	width:460px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_pos{
	margin-top:5px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_msg{
	font-size:13px;
	font-weight:bold;
	margin-top:5px;	
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_alertmsg{
	float:left;
	width:100%;
	display:block;
	font-size:13px;
	color:#F00;
	margin-top:5px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_steptxt{
	float:left;
	display:block;
	width:100%;	
	font-size:13px;
	font-weight:bold;
	margin-top:5px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_link{
	font-size:13px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_shopcontent{
	float:left;
	width:445px;
	height:200px;
	border:1px solid #cacaca;
	overflow:auto;
	margin-bottom:5px;
	margin-top:5px;
	padding: 10px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_shopcontent ul li{
	padding: 0px 0px 5px 0px;
	float:left;
	width:425px;	
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_shopcontent ul li a{
	font-size:13px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_shopcontent ul li .ot_d_addpromotion_check{
	float:left;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_shopcontent ul li .ot_d_addpromotion_chiname{
	float:left;
	font-size:13px;
	padding-left:10px;
	width:140px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_shopcontent ul li .ot_d_addpromotion_addr{
	float:left;
	font-size:13px;
	padding-left:10px;
	width:245px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_shopcontent ul li .ot_d_addpromotion_view_chiname{
	float:left;
	font-size:13px;
	width:140px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_shopcontent ul li .ot_d_addpromotion_view_addr{
	float:left;
	font-size:13px;
	padding-left:10px;
	width:270px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_shopcontent_button{
	float:left;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_1_button{
	float:left;
	width:618px;
	background-color:#FFF;
	padding: 7px;
	padding-bottom:65px;
	margin-bottom:-60px;
	vertical-align:bottom;
	border-top:1px solid #ddf2fe;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_1_button .ot_d_addpromotion_submit{
	width:45px;
	height:21px;
	float:left;
	border: 0;
	cursor: pointer;	
	background: url(../images/buttons/send2.gif) no-repeat top left;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_1_button .ot_d_addpromotion_submit.hover{
	background-position: 0px -20px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_1_button .ot_d_addpromotion_reset{
	width:45px;
	height:20px;
	float:left;
	margin-left:7px;
	border: 0;
	cursor: pointer;
	background: url(../images/buttons/reset.gif) no-repeat top left;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_1_button .ot_d_addpromotion_reset.hover{
	background-position: 0px -20px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_1_button .ot_d_addpromotion_next{
	width:59px;
	height:20px;
	float:left;
	border: 0;
	cursor: pointer;
	background: url(../images/buttons/next_step.gif) no-repeat top left;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_1_button .ot_d_addpromotion_next.hover{
	background-position: 0px -20px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_1_button .ot_d_addpromotion_previous{
	width:59px;
	height:20px;
	float:left;
	border: 0;
	cursor: pointer;
	margin-right:7px;
	background: url(../images/buttons/previous_step.gif) no-repeat top left;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_1_button .ot_d_addpromotion_previous.hover{
	background-position: 0px -20px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_search{
	width:45px;
	height:21px;
	border: 0;
	cursor: pointer;
	margin-top:5px;
	background: url(../images/buttons/search.gif) no-repeat;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_search.hover{
	background-position: 0px -21px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_checkall{
	width:45px;
	height:21px;
	border: 0;
	cursor: pointer;
	margin-right:7px;
	background: url(../images/buttons/check_all.gif) no-repeat top left;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_checkall.hover{
	background-position: 0px -20px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_reset{
	width:45px;
	height:21px;
	border: 0;
	cursor: pointer;
	margin-right:7px;
	background: url(../images/buttons/reset.gif) no-repeat top left;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_reset.hover{
	background-position: 0px -20px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_ok{
	width:45px;
	height:21px;
	border: 0;
	margin-right:7px;
	cursor: pointer;	
	background: url(../images/buttons/ok.gif) no-repeat top left;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_ok.hover{
	background-position: 0px -20px;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_deleteall{
	width:94px;
	height:21px;
	border: 0;
	margin-right:7px;
	cursor: pointer;	
	background: url(../images/buttons/delete_all.gif) no-repeat top left;
}
#ot_d_addpromotion form div.ot_d_eW div.ot_d_eH_col_2 .ot_d_addpromotion_deleteall.hover{
	background-position: 0px -20px;
}
/* END: Add Promotion Form */
