@charset "utf-8";

/* START: Netvigation Path Box */
.ot_d_fullpathlink{
	color: #2155B5;
	padding-bottom: 11px;
}
.ot_d_fullpathlink .ot_d_pathlink_home{
	float:left;
}
.ot_d_fullpathlink .ot_d_pathlink_info{
	margin-left:25px;
}
.ot_d_fullpathlink .ot_d_pathlink_info_pos{
	float:left;
	margin-left:5px;
	margin-bottom:7px;
	white-space:nowrap;
}
.ot_d_fullpathlink .ot_d_pathlink {
	text-decoration:none;
	position:relative;
	padding-top:1px;
	padding-bottom:1px;
	border:1px solid #2155b5;
}
.ot_d_fullpathlink .ot_d_pathlink .ot_d_pathlink_area {
	background: url(../images/buttons/path_closebtn.jpg) no-repeat right center;
	padding-right: 18px;
	padding-left: 4px;
	text-decoration:none;
}
.ot_d_fullpathlink .ot_d_pathlink .ot_d_pathlink_price {
	background: url(../images/buttons/path_closebtn.jpg) no-repeat right center;
	padding-right: 18px;
	padding-left: 4px;
	text-decoration:none;
}
/* END: Netvigation Path Box */

table.shop_details {
	width: 100%;
}

table.shop_details td {
	padding: 20px 0;
	border-bottom: 1px solid #def;
	vertical-align: top;
}

table.shop_details td.imgs {
	width: 20%;
}

table.shop_details td.detail {
	width: 55%;
}

table.shop_details td.rating {
	padding: 75px 0 0 10px;
	width: 20%;
	text-align: center;
	background: url(../images/rating.gif) no-repeat 35px top;
}

table.shop_details span.rating {
	color: #6B3918;
	font-weight: both;
	font-size: 200%;
}

table.shop_details a.summary {
	font-size: 150%;
}

table.shop_details p.desc {
	padding: 0 5px;
}
/* START: Guides Result Box */
.ot_d_googlemap_bubblespan {
    background: url('top_span.gif')top left;
	background-repeat:repeat-y;
	width:393px;
    display: block;
	float: left;
}
.ot_d_googlemap_bubble {
	background: url('top.gif') no-repeat bottom left;
	width:393px;	
	height:2px;
    display: block;
    float: left;
}
.ot_d_googlemap_font_pos{
	padding: 12px 42px 12px 12px;
}
.ot_d_googlemap_font_tit{
	font-size:13px;
	font-weight:bold;
	color:#000;
}
.ot_d_googlemap_shopname_link{
	font-size:13px;
	font-weight:bold;	
	color:#000;
}
.ot_d_googlemap_shoptype{
	background: url(googlemap_shop_type.gif) no-repeat left top;
	height:17px;
	display:block;
	overflow:hidden;
	padding-left:20px;
	margin: 5px 5px 0px 0px;
	font-size:12px;
}
/* END: Guides Result Box */

/* START: Guides Result Box */
#ot_d_guides_result_box {

}
#ot_d_guides_result_box .ot_d_content ul {
	border-top: 1px solid #c8f1ff;
}
#ot_d_guides_result_box .ot_d_content ul li {
	border-bottom: 1px solid #c8f1ff;
	padding-top: 4px;
	padding-bottom: 12px;
}
#ot_d_guides_result_box .ot_d_content ul li.ot_d_alt_row {
	background-color: #F2FAFF;
}
#ot_d_guides_result_box .ot_d_content ul li table td {
	line-height: 21px;
	vertical-align: top;
}
#ot_d_guides_result_box .ot_d_content ul li table .ot_o_result_num_pos {
	width:35px;
}
#ot_d_guides_result_box .ot_d_content ul li table .ot_o_content_pos {
	width:170px;
}
#ot_d_guides_result_box .ot_d_content ul li table .ot_o_photo_pos {
	height:60px;
}
#ot_d_guides_result_box .ot_d_content ul li table td div.ot_t_result_num {
	background: url(../images/backgrounds/result-numering.gif) no-repeat top left;
	line-height: 20px;
	width:24px;
	height:40px;
	text-align:center;
	font-weight:bold;
}
#ot_d_guides_result_box .ot_d_content ul li table td.ot_t_spacer {
	height: 7px;
	line-height: 7px;
	font-size: 7px;
	background: none;
}
#ot_d_guides_result_box .ot_d_content ul li .write-review-pos {
	position:relative; 
	float:right;
	top:-10px;
	margin-right:5px;
}
#ot_d_guides_result_box .ot_d_content ul li table td .write-review a.plus {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}
#ot_d_body_content a.plus{
	overflow:hidden;
}
#ot_d_guides_result_box .ot_d_content ul li table td .ot_t_main_link {
	display: block;
	float: left;
	line-height: 20px;
	padding-right: 11px;
	text-decoration: underline;
	font-size: 15px;
	font-weight: bold;
	font-family:"新細明體";
}
#ot_d_guides_result_box .ot_d_content ul li table td .rating_5{
	float:right;
	margin-right: 5px;
}
#ot_d_guides_result_box .ot_d_content ul li table td .ot_d_imgframe{
	float:right;
	margin-right: 5px;	
}
#ot_d_guides_result_box .ot_d_content ul li table td .ot_d_imgframe .ot_d_imgframe_pic{
	line-height:0;
	/*border: 1px solid #e3e3e3;
	background-color:#fff;*/
	width:101px;
	height:101px;
	text-align:center;
	vertical-align:middle;
	display:table-cell;
}
#ot_d_guides_result_box .ot_d_content ul li table td .ot_d_provide_photo{
	float:right;
	text-indent:-9999px;
	width:73px;
	height:26px;
	background: url(../images/buttons/provide_photo.gif) no-repeat top left;
	margin-right: 5px;
	margin-top: 5px;	
}
#ot_d_guides_result_box .ot_d_content ul li .ot_d_name {
	display:block;
	height:20px;
}
#ot_d_guides_result_box .ot_d_content ul li .ot_d_type {
	background: url(../images/icons/icons_type.gif) no-repeat left top;
	height:17px;
	display:block;
	overflow:hidden;
	padding-left:20px;
	margin: 5px 5px 0px 0px;
}
#ot_d_guides_result_box .ot_d_content ul li .ot_d_address { 
	background: url(../images/icons/icons_address.gif) no-repeat left top;
	height:17px;
	display:block;
	overflow:hidden;
	padding-left:20px;
	margin: 5px 5px 0px 0px;
}
#ot_d_guides_result_box .ot_d_content ul li .ot_d_telephone{ 
	background: url(../images/icons/icons_telephone.gif) no-repeat left top;
	height:17px;
	display:block;
	overflow:hidden;
	padding-left:20px;
	margin: 5px 5px 0px 0px;
}
#ot_d_guides_result_box .ot_d_content ul li .ot_d_guides_result_summary{ 
	background: url(../images/icons/icons_intro.gif) no-repeat left top;
	height:17px;
	display:block;
	overflow:hidden;
	padding-left:20px;
	margin: 5px 5px 0px 0px;
}
div#rating {
	float: left;
	background: url(../images/rating/thumbsback.png) transparent;
	width: 111px;
	height: 30px;
}
.rating {
	position: relative;
	float: left;
	width: 91px;
	height: 21px;
	padding-right: 8px;
	background: url(../images/backgrounds/rating.png) no-repeat top left;
}
.rating .rating-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 21px;
	background: url(../images/backgrounds/rating-overlay.png) no-repeat top left;
}
.rating .rating-rate {
	position: relative;
	display: block;
	float: left;
	height: 21px;
	width: 18px;
	text-decoration: none;
}
.rating .rating-rate:hover {
	text-decoration: none;
}
label.rate{
	padding: 0 10px;
	float: left
}
label.rate div {
	padding: 10px;
	float: left
}
/* END: Guides Result Box */

/* START: Guide Filter Box */
#guide-filter-box {
}

#guide-filter-box .content {
	padding: 10px 14px 14px 10px;
	background-color: #c8f1ff;
	height: 21px;
}

#guide-filter-box .content label {
	padding-right: 6px;
}

#guide-filter-box .content select {
	border: 1px solid #A5ACB2;
	font-size: 12px;
	height: 20px;
	margin-right: 17px;
}
#guide-filter-box .content input[type='text'] {
	margin-right: 12px;
}
#guide-filter-box .content select#guide-type		{ width: 109px; }
#guide-filter-box .content select#guide-district	{ width: 109px; }
#guide-filter-box .content input#guide-keyword {
	border: 1px solid #A5ACB2;
	height: 16px;
	width: 198px;
}

#guide-filter-box .content .ot_i_search_button {
	width: 45px;
	height: 21px;
	background: url(../images/buttons/search.gif) no-repeat;
	background-position: 0px 0px;
	border: 0;
	cursor: pointer;
	float: right;
}
#guide-filter-box .content .ot_i_search_button.hover {
	background-position: 0px -21px;
}
#guide-filter-box .content #searchform ul{
	line-height:25px;
}
#guide-filter-box .content #searchform ul li{
	display: block;
	float: left;
}
/* END: Guide Filter Box */

/*START: Merhant Page Structure*/
#ot_d_shop_content {
	background: #FFF url(../images/backgrounds/body-content.gif) repeat-y left top;
	padding-bottom:12px;
}
#ot_d_shop_content .ot_d_shop_content_left {
	float: left;
	/*width: 656px;*/
}
#ot_d_shop_content .ot_d_shop_content_left .ot_d_shop_infodetail{
	padding: 12px 0px 0px 12px;
	width:632px;
}
#ot_d_shop_content .ot_d_shop_content_left .ot_d_shop_review{
	margin-top:12px;
	width:656px;
	background-color:#f9f9f9;
}

#ot_d_shop_content .ot_d_shop_content_left .ot_d_shop_writereview{
	padding: 12px 0px 0px 12px;
	width:647px;
	background:none;
	background-color:#FFF;
}
#ot_d_shop_content .ot_d_shop_content_left .ot_d_shop_writereview .ot_t_shop_writereview_table{
	border:solid 1px #91c5e2;
	width:100%;
}
#ot_d_shop_content .ot_d_shop_content_left .ot_d_shop_writereview .ot_t_shop_writereview_tit{
	background-color:#cfedfe;
	padding:7px;
	font-size:13px;
	font-weight:bold;
}
#ot_d_shop_content .ot_d_shop_content_left .ot_d_shop_writereview .ot_t_shop_writereview_text_pos{
	background-color:#FFFFFF;
	padding:7px;
	border-bottom:1px #ddf2fe solid;
}
#ot_d_shop_content .ot_d_shop_content_left .ot_d_shop_writereview .ot_t_shop_writereview_pic{
	padding:0px 90px 0px 0px;
	width:40px;
	font-size:13px;
	font-weight:bold;
}
#ot_d_shop_content .ot_d_shop_content_left .ot_d_shop_writereview .ot_t_shop_writereview_uploadtext{
	font-size:13px;
}
#ot_d_shop_content .ot_d_shop_content_left .ot_d_shop_writereview .ot_t_shop_writereview_type{
	width:130px;
	font-size:13px;
	font-weight:bold;
}
#ot_d_shop_content .ot_d_shop_content_left .ot_d_shop_writereview .ot_t_shop_writereview_text{
	font-size:13px;
}
#ot_d_shop_content .ot_d_shop_content_right {
	float: right;
	width: 300px;
	padding: 12px 12px 0px 0px;
}	
/*END: Merhant Page Structure*/

/* START: Merchant Info Box */
.googlemap_pos{
	margin-bottom:8px;
}
#ot_d_merchant_info_box .ot_d_content {
	/*background-color: #e6f2ff;
	padding: 10px;*/
}
#ot_d_merchant_info_box .ot_d_content .ot_d_shopname{
	width:634px;
	padding: 6px 0px 6px 0px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_chiname{
	font-size:26px;
	font-weight:bold;
	color:#001a34;
	line-height:30px;
	color:#001a34;
	padding-right:7px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_engname{
	font-size:26px;
	line-height:30px;	
	color:#001a34;
	padding-right:7px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_status{
	font-size:26px;
	font-weight:bold;
	color:#001a34;
	line-height:30px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_star{
	width:634px;
	height:29px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_star_pos{
	float:left;
	padding: 7px 0px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_star_pos .ot_d_star_text{
	font-size:13px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_info{
	width:632px;
	clear:both;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_info_pos{
	width:416px;
	float:left;
}
#ot_d_merchant_info_box .ot_d_content div.ot_d_ew_hold {
	width:415px;
	border-top:2px solid #469bdb;
	background-color:#c7eaff;
}
#ot_d_merchant_info_box .ot_d_content div.ot_d_eW { overflow:hidden }
#ot_d_merchant_info_box .ot_d_content div.ot_d_eW.ot_d_eB { height:1px; font-size:0; }
#ot_d_merchant_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_1 {
	float:left;
	width:70px;
	padding:5px 10px;
	border-top:1px solid #9edaff;
	font-weight:bold;
	font-size:13px;
}
#ot_d_merchant_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 {
	float:left;
	width:305px;
	background-color:#e9f7ff;
	padding:5px 10px;
	vertical-align:bottom;
	border-top:1px solid #9edaff;
	font-size:13px;	
}
#ot_d_merchant_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 .ot_d_pricerange_orange{
	font-size:12px;
	color:#fe7011;
	font-family:Arial, Helvetica, sans-serif;
	padding-right:4px;
}
#ot_d_merchant_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 .ot_d_pricerange_grey{
	font-size:12px;
	color:#919191;
	font-family:Arial, Helvetica, sans-serif;
	padding-right:4px;
}
#ot_d_merchant_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 a{
	font-size:13px;
}
#ot_d_merchant_info_box .ot_d_content div.ot_d_eW div.ot_d_eH_col_2 .ot_d_eH_col_button{
	padding-top:5px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_info_shop_profile_brandbtn{
	padding-right:5px;
}	
#ot_d_merchant_info_box .ot_d_content .ot_d_shopphotos{
	float:right;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_extra_info{
	clear:both;
	padding-top:10px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_extra_info_desc{
	background-color:#e9edf0;
	padding: 10px 10px 10px 10px;
	font-size:13px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_extra_info_nodesc{
	background-color:#e9edf0;
	padding: 10px 10px 10px 10px;
	text-align:center;
	font-size:13px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_extra_info_bg{
	background-color:#e9edf0;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_extra_info_area{
	width:632px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_extra_info div.ot_d_eW { overflow:hidden }
#ot_d_merchant_info_box .ot_d_content .ot_d_extra_info div.ot_d_eW.ot_d_eB { height:1px; font-size:0; }
#ot_d_merchant_info_box .ot_d_content .ot_d_extra_info div.ot_d_eW div.ot_d_eH_col_1 {
	float:left;
	width:60px;
	background-color:#d1d7db;
	padding:10px;
	padding-bottom:305px;
	margin-bottom:-300px;
	border-top:1px solid #e9edf0;
	border-right:1px solid #e9edf0;	
	font-weight:normal;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_extra_info div.ot_d_eW div.ot_d_eH_col_2 {
	float:left;
	width:530px;
	background-color:#d1d7db;
	padding:10px;
	padding-bottom:65px;
	margin-bottom:-60px;
	vertical-align:bottom;
	border-top:1px solid #e9edf0;
	border-right:1px solid #e9edf0;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon{
	padding: 12px 0px 0px 0px;
	clear:both;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon_pos{
	float:left;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_header{
	width:274px;
	height:7px;
	background: url(../images/backgrounds/boxes/header/shop_profile_6icon-box.jpg) no-repeat;
	overflow:hidden;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content{
	width:274px;
	height:147px;
	background: url(../images/backgrounds/boxes/content/shop_profile_6icon-box.jpg);
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_footer{
	width:274px;
	height:3px;
	background: url(../images/backgrounds/boxes/footer/shop_profile_6icon-box.jpg);
	overflow:hidden;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_pos{
	float:left;
	width:192px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_titpos{
	float:left;
	width:80px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_iconpos{
	float:left;
	width:109px;
	margin-top:6px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_tit{
	width:65px;
	float:left;
	padding-left:7px;
	font-weight:bold;
	color:#300000;
	padding-top:7px;
	font-size:13px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_icon{
	width:96px;
	float:left;
	padding-left:13px;
	padding-bottom:4px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_icon .ot_6icon_box_icon_base{
	width:90px;
	height: 15px;
	background: url(../images/backgrounds/rating_0.gif);
	background-repeat:no-repeat;
	margin-bottom:4px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_icon .ot_6icon_box_icon_base .ot_6icon_box_icon_5mark{
	width:90px;
	height: 15px;
	background: url(../images/backgrounds/rating_5.gif);
	background-repeat:no-repeat;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_icon .ot_6icon_box_icon_base .ot_6icon_box_icon_4mark{
	width:90px;
	height: 15px;
	background: url(../images/backgrounds/rating_4.gif);
	background-repeat:no-repeat;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_icon .ot_6icon_box_icon_base .ot_6icon_box_icon_3mark{
	width:90px;
	height: 15px;
	background: url(../images/backgrounds/rating_3.gif);
	background-repeat:no-repeat;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_icon .ot_6icon_box_icon_base .ot_6icon_box_icon_2mark{
	width:90px;
	height: 15px;
	background: url(../images/backgrounds/rating_2.gif);
	background-repeat:no-repeat;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_icon .ot_6icon_box_icon_base .ot_6icon_box_icon_1mark{
	width:90px;
	height: 15px;
	background: url(../images/backgrounds/rating_1.gif);
	background-repeat:no-repeat;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_mark{
	float:right;
	width:80px;
	padding-top:40px;
	position:relative;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_mark_avg{
	text-align:center;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_mark_num{
	font-size:27px;
	line-height:25px;
	font-weight:bold;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_mark_pic{
	width:70px;
	height:18px;
	background: url(../images/shop/shop_profile_6icon_mark.jpg) no-repeat 6px 0px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_6icon .ot_d_content .ot_6icon_box_mark_review{
	margin-top:3px;
	text-align:center;
	font-size:13px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news{
	float:right;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_header{
	width:346px;
	height:33px;
	background: url(../images/backgrounds/boxes/header/shop_profile_news-box.jpg);
	overflow:hidden;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content{
	width:346px;
	height:121px;
	background: url(../images/backgrounds/boxes/content/shop_profile_news-box.jpg);
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_merchant_nonews{
	line-height:120px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	font-size:13px;	
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_footer{
	width:346px;
	height:3px;
	background: url(../images/backgrounds/boxes/footer/shop_profile_news-box.jpg);
	overflow:hidden;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_header .ot_d_merchant_news_tit{
	float:left;
	padding: 6px 0px 0px 10px;
	font-size:13px;
	font-weight:bold;
	color:#300000;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_header .ot_d_merchant_news_moreevent{
	float:right;
	padding: 6px 5px 0px 0px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_header .ot_d_merchant_news_moreevent a{
	font-size:13px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_header .ot_d_merchant_news_moreoffer{
	color:#b19fa0;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news{
	text-align:left;
	line-height:18px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_newsdetailtit{
	padding: 6px 38px 0px 10px;
	font-weight:bold;
	color:#122841;
	font-size:13px;	
	font-family:新細明體;	
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_newsdetaildate{
	font-size:13px;
	padding-right:83px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_newsdetailinfo a{
	margin-left:2px;
	font-size:13px;	
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_eventtit{
	padding: 6px 0px 0px 10px;
	font-weight:bold;
	color:#ff4747;
	font-size:13px;	
	font-family:新細明體;	
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_leftbox{
	float:left;
	overflow:hidden;
	height:18px;
	width:70px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_middlebox{
	float:left;
	width:130px;
	height:18px;
	overflow:hidden;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_rightbox{
	float:right;
	width:130px;
	margin-right:5px;
	height:18px;
	overflow:hidden;	
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_eventdate{
	padding-left: 10px;
	font-size:13px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_eventinfo{
	padding-left: 10px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_eventinfo a{
	font-size:13px;	
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_info{
	padding-left: 10px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_info a{
	font-size:13px;	
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_promotiontit{
	padding: 6px 0px 0px 10px;
	font-weight:bold;
	color:#33962d;
	font-size:13px;
	font-family:新細明體;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_news .ot_d_content .ot_d_content_news_promotiondate{
	padding-left: 10px;
	font-size:13px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons {
	padding-top: 12px;
	margin-bottom:12px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a {
	display: block;
	float: left;
	height: 23px;
	padding-right: 22px;
	text-indent: -9999px;
	background: url(../images/buttons/merchant-buttons.jpg) no-repeat;
}
.ot_d_merchant_review_buttons a {
	display: block;
	float: left;
	height: 23px;
	padding-right: 22px;
	text-indent: -9999px;
	background: url(../images/buttons/merchant-buttons.jpg) no-repeat;
}
.ot_d_merchant_review_buttons a.write-review	{ width: 60px;		background-position: -229px 0px; }
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.ot_o_add_favourite	{ width: 108px;		background-position: 0px 0px; }
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.ot_o_added_favourite	{ width: 108px;		background-position: 5px 0px; }
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.provide-details	{ width: 72px;		background-position: -136px 0px; }
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.write-review	{ width: 60px;		background-position: -229px 0px; }
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.owner-claim		{ width: 77px;		background-position: -311px 0px; }

#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.ot_o_added_favourite:hover		{ width: 108px;		background-position: 5px -23px; }
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.ot_o_add_favourite:hover		{ width: 108px;		background-position: 5px -23px; }
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.provide-details:hover	{ width: 72px;		background-position: -136px -23px; }
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.write-review:hover		{ width: 60px;		background-position: -229px -23px; }
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.owner-claim:hover		{ width: 77px;		background-position: -311px -23px; }

#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.ot_o_add_favourite{ 
	background:url(../images/buttons/add-favorite-shop.gif) no-repeat; 
	width: 108px;		
	background-position: 0px 5px; 
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.ot_o_added_favourite{ 
	background:url(../images/buttons/added-favorite-shop.gif) no-repeat; 
	width: 108px;		
	background-position: 5px 5px; 
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.ot_o_add_favourite:hover	{ 
	width: 108px;		
	background-position: 0px -18px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_merchant_buttons a.ot_o_added_favourite:hover	{ 
	width: 108px;		
	background-position: 5px -18px;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_pic_area{
	width:100%;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_info .ot_d_shopfacebook{
	padding: 10px 0px 10px 5px;
	clear:both;
}
/* END: Merchant Info Box */

/* START: Outstreet Best Box */
#ot_d_outstreet_best_box {
	width: 100%;
}
#ot_d_outstreet_best_box .ot_d_header {
	padding-right: 5px;
	height: 38px;
	background-image: url(../images/backgrounds/boxes/header/outstreet_best-box.gif);
}
#ot_d_outstreet_best_box .ot_d_content {
	background-color: #FFF;
	background-image: url(../images/backgrounds/boxes/content/outstreet_best-box.gif);
}
#ot_d_outstreet_best_box .ot_d_footer {
	overflow:hidden;
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/outstreet_best-box.gif);
}
#ot_d_outstreet_best_box .ot_d_header a.ot_o_more{ 
	display: block;
	text-indent: -9999px;
	float: right;
	width: 45px;
	height: 16px;
	margin-top:-5px;
	margin-right:3px;
	background: url(../images/buttons/more_blue_off.gif) no-repeat top left;
}
#ot_d_outstreet_best_box .ot_d_header a.ot_o_more:hover{ 
	background: url(../images/buttons/more_blue_on.gif) no-repeat top left;
}
#ot_d_outstreet_best_box .ot_d_header h3{
	text-indent:-9999px;
}
#ot_d_outstreet_best_box .ot_d_content .ot_d_catebg{
	background: url(../images/shop/outstreet_best_title_bg.gif) repeat-x;
	margin-left:1px;
	width:620px;
	padding: 8px 0px 0px 10px;
}
#ot_d_outstreet_best_box .ot_d_content .ot_d_show_image {
	display: block;
	float: left;
	width:102px;
	text-align:right;
	vertical-align:top;
}
#ot_d_outstreet_best_box .ot_d_content .ot_t_showspic_frame {
	padding:2px;
	background-color:#FFFFFF;
	border:1px solid #e3e3e3;
}
#ot_d_outstreet_best_box .ot_d_content .ot_d_show_details{
	display: block;
	float: left;
	width: 330px;
	padding-left:10px;
}
#ot_d_outstreet_best_box .ot_d_content .ot_d_show_details div{
	margin-bottom:2px;
}
#ot_d_outstreet_best_box .ot_d_content .ot_o_shopcate_name{
	font-size:13px;
	font-weight:bold;
	line-height:18px;
}
#ot_d_outstreet_best_box .ot_d_content .ot_o_shopcate_cate, #ot_d_outstreet_best_box .ot_d_content .ot_o_shopcate_description{
	font-size:13px;
	line-height:18px;
}
#ot_d_outstreet_best_box .ot_d_content .ot_d_star{
	float:right;
	display:block;
	height:29px;
	margin-right:10px;
	margin-top:-5px;
}
#ot_d_outstreet_best_box .ot_d_content .ot_d_star_pos{
	float:right;
	padding: 7px 0px;
}
#ot_d_outstreet_best_box .ot_d_content .ot_d_write_review_pos{
	width:100px;
	float:right;
	display:block;
	padding-right:10px;
}
#ot_d_outstreet_best_box .ot_d_content div.ot_d_shopping, #ot_d_outstreet_best_box .ot_d_content div.ot_d_barsclubs, #ot_d_outstreet_best_box .ot_d_content div.ot_d_beauty{
	margin-bottom:12px;
}
#ot_d_outstreet_best_box .ot_d_content div.ot_d_shopping .ot_o_shopcate{
	color:#333333;
	font-size:13px;
	padding-left:20px;
	background: url(../images/index/category/shop_1.gif) no-repeat left center;		
}
#ot_d_outstreet_best_box .ot_d_content div.ot_d_shopping li {
	list-style:none;
	margin: 12px 0px 0px 12px;
}
#ot_d_outstreet_best_box .ot_d_content div.ot_d_barsclubs .ot_o_shopcate{
	color:#333333;
	font-size:13px;
	padding-left:20px;
	background: url(../images/index/category/shop_10.gif) no-repeat left center;		
}
#ot_d_outstreet_best_box .ot_d_content div.ot_d_barsclubs li {
	list-style:none;
	margin: 12px 0px 0px 12px;
}
#ot_d_outstreet_best_box .ot_d_content div.ot_d_beauty .ot_o_shopcate{
	color:#333333;
	font-size:13px;
	padding-left:20px;
	background: url(../images/index/category/shop_6.gif) no-repeat left center;		
}
#ot_d_outstreet_best_box .ot_d_content div.ot_d_beauty li {
	list-style:none;
	margin: 12px 0px 0px 12px;
}
/* END: Outstreet Best Box */

/* START: Newest Merchants Box */
#ot_d_newest_merchants_box {
	width: 100%;
	margin-top:12px;
}
#ot_d_newest_merchants_box a.plus {
	margin-top:-5px;
	margin-right:5px;
}
#ot_d_newest_merchants_box .ot_d_header {
	padding-right: 5px;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/newest_merchants-box.gif);
}
#ot_d_newest_merchants_box .ot_d_header h3{
	text-indent:-9999px;
}
#ot_d_newest_merchants_box .ot_d_content {
	padding-left: 10px;
	padding-top:12px;
	background-color: #FFF;
	background-image: url(../images/backgrounds/boxes/content/newest_merchants-box.gif);
}
#ot_d_newest_merchants_box .ot_d_footer {
	overflow:hidden;
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/newest_merchants-box.gif);
}
#ot_d_newest_merchants_box .ot_d_content ul li{
	padding-bottom:8px;
}
#ot_d_newest_merchants_box .ot_d_content .ot_d_show_image {
	display: block;
	float: left;
	width:102px;
	text-align:right;
	vertical-align:top;
}
#ot_d_newest_merchants_box .ot_d_content .ot_t_showspic_frame {
	padding:2px;
	background-color:#FFFFFF;
	border:1px solid #e3e3e3;
}
#ot_d_newest_merchants_box .ot_d_content .ot_d_show_details{
	display: block;
	float: left;
	width: 330px;
	padding-left:10px;
}
#ot_d_newest_merchants_box .ot_d_content .ot_d_show_details div{
	margin-bottom:2px;
}
#ot_d_newest_merchants_box .ot_d_content .ot_o_shopcate_name{
	font-size:13px;
	font-weight:bold;
	line-height:18px;
}
#ot_d_newest_merchants_box .ot_d_content .ot_o_shopcate_cate, #ot_d_newest_merchants_box .ot_d_content .ot_o_shopcate_description{
	font-size:13px;
	line-height:18px;
}
#ot_d_newest_merchants_box .ot_d_content .ot_d_star{
	float:right;
	display:block;
	height:29px;
	margin-right:10px;
	margin-top:-5px;
}
#ot_d_newest_merchants_box .ot_d_content .ot_d_star_pos{
	float:right;
	padding: 7px 0px;
}
#ot_d_newest_merchants_box .ot_d_content .ot_d_write_review_pos{
	width:100px;
	float:right;
	display:block;
	padding-top:5px;
	padding-right:3px;
}
/* END: Newest Merchants Box */

/* START: Shop comment Box */
#ot_d_shopcomment_ttl_box{
	margin-top:7px;
}
#ot_d_shopcomment_ttl_box .ot_d_header {
	width:316px;
	height: 3px;
	background-image: url('../images/backgrounds/boxes/header/guide_shopcomment_total-box.jpg');
}
#ot_d_shopcomment_ttl_box .ot_d_content {
	width:298px;	
	height:56px;
	padding: 5px 9px 5px 9px;
	background-image: url('../images/backgrounds/boxes/content/guide_shopcomment_total-box.jpg');
}
#ot_d_shopcomment_ttl_box .ot_d_footer {
	width:316px;	
	height: 3px;
	background-image: url('../images/backgrounds/boxes/footer/guide_shopcomment_total-box.jpg');
	background-repeat:no-repeat;
	overflow:hidden;	
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_top{
	display:block;
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_bottom{
	display:block;
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_top .ot_d_tit1{
	width:33px;
	height:25px;
    float: left;
    margin-left: 0px;
	padding-top:4px;
    padding-left: 49px;
    background: url('../images/buttons/guide_shopcomment_ttl1.gif') no-repeat scroll top left;	
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_top .ot_d_tit1 span {
	width:20px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
    display: block;
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_top .ot_d_tit2{
	width:33px;
	height:25px;
    float: left;
    margin-left: 10px;
	padding-top:4px;
    padding-left: 49px;
    background: url('../images/buttons/guide_shopcomment_ttl2.gif') no-repeat scroll top left;	
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_top .ot_d_tit2 span {
	width:20px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
    display: block;
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_top .ot_d_tit3{
	width:33px;
	height:25px;
    float: left;
    margin-left: 10px;
	padding-top:4px;
    padding-left: 77px;
    background: url('../images/buttons/guide_shopcomment_ttl3.gif') no-repeat scroll top left;	
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_top .ot_d_tit3 span {
	width:20px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
    display: block;
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_bottom .ot_d_tit4{
	width:33px;
	height:25px;
    float: left;
    margin-left: 0px;
	margin-top:2px;
	padding-top:4px;
    padding-left: 49px;
    background: url('../images/buttons/guide_shopcomment_ttl4.gif') no-repeat scroll top left;	
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_bottom .ot_d_tit4 span {
	width:20px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
    display: block;
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_bottom .ot_d_tit5{
	width:33px;
	height:25px;
    float: left;
    margin-left: 10px;
	padding-top:4px;
    padding-left: 49px;
    background: url('../images/buttons/guide_shopcomment_ttl5.gif') no-repeat scroll top left;	
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_bottom .ot_d_tit5 span {
	width:20px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
    display: block;
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_bottom .ot_d_tit6{
	width:33px;
	height:25px;
    float: left;
    margin-left: 10px;
	padding-top:4px;
    padding-left: 77px;
    background: url('../images/buttons/guide_shopcomment_ttl6.gif') no-repeat scroll top left;	
}
#ot_d_shopcomment_ttl_box .ot_d_content .ot_d_bottom .ot_d_tit6 span {
	width:20px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
    display: block;
}

#ot_d_shopcomment_box {
	margin-top:7px;
	float:left;
}
#ot_d_shopcomment_box .ot_d_header {
	width:316px;
	height: 3px;
	background-image: url('../images/backgrounds/boxes/header/guide_shopcomment-box.jpg');
}
#ot_d_shopcomment_box .ot_d_content {
	width:298px;	
	height:56px;
	padding: 5px 9px 5px 9px;
	background-image: url('../images/backgrounds/boxes/content/guide_shopcomment-box.jpg');
}
#ot_d_shopcomment_box .ot_d_footer {
	width:316px;	
	height: 3px;
	background-image: url('../images/backgrounds/boxes/footer/guide_shopcomment-box.jpg');
	background-repeat:no-repeat;
	overflow:hidden;
}
#ot_d_shopcomment_box .ot_d_content .ot_d_top{
	display:block;
}
#ot_d_shopcomment_box .ot_d_content .ot_d_bottom{
	display:block;
}
#ot_d_shopcomment_box .ot_d_content .ot_d_top .ot_d_tit1{
	width:33px;
	height:25px;
    float: left;
    margin-left: 0px;
	padding-top:4px;
    padding-left: 49px;
    background: url('../images/buttons/guide_shopcomment_1.gif') no-repeat scroll top left;	
}
#ot_d_shopcomment_box .ot_d_content .ot_d_top .ot_d_tit1 span {
	width:20px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
    display: block;
}
#ot_d_shopcomment_box .ot_d_content .ot_d_top .ot_d_tit2{
	width:33px;
	height:25px;
    float: left;
    margin-left: 10px;
	padding-top:4px;
    padding-left: 49px;
    background: url('../images/buttons/guide_shopcomment_2.gif') no-repeat scroll top left;	
}
#ot_d_shopcomment_box .ot_d_content .ot_d_top .ot_d_tit2 span {
	width:20px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
    display: block;
}
#ot_d_shopcomment_box .ot_d_content .ot_d_top .ot_d_tit3{
	width:33px;
	height:25px;
    float: left;
    margin-left: 10px;
	padding-top:4px;
    padding-left: 77px;
    background: url('../images/buttons/guide_shopcomment_3.gif') no-repeat scroll top left;	
}
#ot_d_shopcomment_box .ot_d_content .ot_d_top .ot_d_tit3 span {
	width:20px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
    display: block;
}
#ot_d_shopcomment_box .ot_d_content .ot_d_bottom .ot_d_tit4{
	width:33px;
	height:25px;
    float: left;
    margin-left: 0px;
	margin-top:2px;
	padding-top:4px;
    padding-left: 49px;
    background: url('../images/buttons/guide_shopcomment_4.gif') no-repeat scroll top left;	
}
#ot_d_shopcomment_box .ot_d_content .ot_d_bottom .ot_d_tit4 span {
	width:20px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
    display: block;
}
#ot_d_shopcomment_box .ot_d_content .ot_d_bottom .ot_d_tit5{
	width:33px;
	height:25px;
    float: left;
    margin-left: 10px;
	padding-top:4px;
    padding-left: 49px;
    background: url('../images/buttons/guide_shopcomment_5.gif') no-repeat scroll top left;	
}
#ot_d_shopcomment_box .ot_d_content .ot_d_bottom .ot_d_tit5 span {
	width:20px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
    display: block;
}
#ot_d_shopcomment_box .ot_d_content .ot_d_bottom .ot_d_tit6{
	width:33px;
	height:25px;
    float: left;
    margin-left: 10px;
	padding-top:4px;
    padding-left: 77px;
    background: url('../images/buttons/guide_shopcomment_6.gif') no-repeat scroll top left;	
}
#ot_d_shopcomment_box .ot_d_content .ot_d_bottom .ot_d_tit6 span {
	width:20px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
    display: block;
}
/* END: Shop comment Box */

/* START: Similar Shops */
#ot_d_similar_shops_box{
}
#ot_d_similar_shops_box .ot_d_header {
	width:300px;
	height:23px;
	background-image: url('../images/backgrounds/boxes/header/similar_shops-box.jpg');
}
#ot_d_similar_shops_box .ot_d_content {
	margin: 8px 0px 12px 9px;
}
#ot_d_similar_shops_box .ot_d_content .ot_d_similar_shops_pos{
	width:280px;
	float:left;
}
#ot_d_similar_shops_box .ot_d_content .ot_d_similar_shops_padding{
	margin-bottom:12px;
}
#ot_d_similar_shops_box .ot_d_content .ot_d_similar_shops_picframe{
	width:92px;
	float:right;
}
#ot_d_similar_shops_box .ot_d_content .ot_d_similar_shops_info{
	width:173px;
	float:left;
}
#ot_d_similar_shops_box .ot_d_content .ot_d_similar_shops_info_nopics{
	width:100%;
	float:left;	
}
#ot_d_similar_shops_box .ot_d_content .ot_d_similar_shops_info .ot_d_similar_shops_tit_chi{
	font-size:13px;
	font-weight:bold;
	padding-right:3px;
}
#ot_d_similar_shops_box .ot_d_content .ot_d_similar_shops_info .ot_d_similar_shops_tit_eng{
	font-size:13px;
	font-weight:bold;
}
#ot_d_similar_shops_box .ot_d_content .ot_d_similar_shops_info .ot_d_similar_shops_type{
    background: url('../images/icons/icons_type.gif') no-repeat;
	padding-left:21px;
	margin-top: 6px;
	line-height:17px;
}
#ot_d_similar_shops_box .ot_d_content .ot_d_similar_shops_info .ot_d_similar_shops_type a{
    font-size:13px;
}
#ot_d_similar_shops_box .ot_d_content .ot_d_similar_shops_info .ot_d_similar_shops_address{
    background: url('../images/icons/icons_address.gif') no-repeat;
	padding-left:21px;
	margin-top: 6px;
    font-size:13px;
}
#ot_d_similar_shops_box .ot_d_content .ot_d_similar_shops_pos .ot_d_similar_shops_line{
    background: url('../images/shop/similarshops_line.jpg') no-repeat 0px 6px;
	padding-bottom: 14px;
	width:282px;	
	float:left;
}
/* END: Similar Shops */
.texts .Shopreview_title{
	font-size:14px;
}
.shop-categories{
	padding-left:10px;
	padding-top:5px;
	background: url(__PUBLIC__/images/backgrounds/boxes/content/browse-district-box.gif) #def;
	font-weight: bold;
}

/* START: SHOP PROVIDE Tabs*/
#ot_d_shopprovide_tabs_box {
	padding-bottom: 15px;
}
#ot_d_shopprovide_tabs_box ul {
	margin: 0px;
	padding: 0px;
	height: 33px;
	border-bottom: 2px solid #e9f4ff;
	width:632px;
}
#ot_d_shopprovide_tabs_box ul li {
	float: left;
	padding-right: 10px;
	list-style:none;
}
#ot_d_shopprovide_tabs_box ul li a {
	display: block;
	width: 112px;
	height: 33px;
	background: none;
	color:#2155b5;
}
#ot_d_shopprovide_tabs_box ul li a.ot_o_fontsize {
	font-size: 15px;
	line-height: 33px;
	text-align: center;
	text-decoration: underline;
}	
#ot_d_shopprovide_tabs_box ul li a#ot_o_own_shop {
	padding-left:5px;
	color:#F00;
	background: transparent url(../images/icons/icon_ownshop.gif) no-repeat center left;
	margin-left:135px;	
}
#ot_d_shopprovide_tabs_box ul li a:hover {
	 color:#2155b5;
}
#ot_d_shopprovide_tabs_box ul li a:hover#ot_o_ownshop {
	 color: #333333;
}
#ot_d_shopprovide_tabs_box ul li a.current {
	color: #333333;
	text-decoration: none;
	background: url(../images/backgrounds/shop_provide_info_tab.gif) no-repeat top left;
}
#ot_d_shopprovide_tabs_box ul li a.current#ot_o_own_shop {
	color: #330000;
	text-decoration: none;
	background: url(../images/backgrounds/shop_own_shop_tab.gif) no-repeat top left;
}
/* END: SHOP PROVIDE Tabs*/

/* START: SHOP PROVIDE CONTENT*/
#ot_d_load_box form {
	border:solid 1px #91c5e2;
	width:632px;
}
#ot_d_load_box form #ot_d_ownShopForm{
	border:solid 1px #91c5e2;
	width:632px;
}
#ot_d_load_box form, #ot_d_load_box form table {
	font-size:13px;
}
#ot_d_load_box form .ot_d_tit{
	background-color:#cfedfe;
	padding:7px;
}
#ot_d_load_box form p .ot_d_type{
	float:left; 
	width:150px; 
	text-align:left;
	font-weight:bold;
}
#ot_d_load_box form .ot_d_data{
	width:100%;
}
#ot_d_load_box form .ot_d_data_2lvl{
	margin-left:150px;
}
#ot_d_load_box form .ot_d_data_3lvl{
	margin-left:159px;
}
#ot_d_load_box form .ot_d_data_4lvl{
	padding-left:0px;
}
#ot_d_load_box form p{
	margin:2px;
	padding: 7px 7px 0px 7px;
}
#ot_d_load_box form p.ot_o_line{
	border-bottom: 1px solid #ddf2fe;
}
#ot_d_load_box form .ot_d_bg{
	background-color:#ccecfe;
}
#ot_d_load_box form .ot_d_type_remark{
	color:#F00;
	font-weight:bold;
	font-size:18px;
}
#ot_d_load_box form .ot_d_member{
	background-color:#ccecfe;
	margin-top:20px;
	padding-bottom:10px;
	border:solid 5px #8bd5ff;	
}
#ot_d_load_box form .ot_d_membertext{
	font-size:14px;
	font-weight:bolder;
	text-decoration:underline;
}
#ot_d_load_box form .ot_d_plus {
	display:block;
	float:left;
	width:16px;
	height: 16px;
	background: url(../images/buttons/plus-off.gif) no-repeat 0 0;
	text-indent:-9999px;
}
#ot_d_load_box form .ot_d_plus:hover { background-image: url(../images/buttons/plus-on.gif); }
#ot_d_load_box form .ot_d_send2 {
	verticaL-align:bottom;
	width: 45px;
	height: 20px;
	background: url(../images/buttons/send2.gif) no-repeat;
	position: 0px 0px;
	border: 0;
	cursor: pointer;
	text-indent: -9999px;
}
#ot_d_load_box form .ot_d_send2:hover { 
	background: url(../images/buttons/send2.gif) 0px -20px;
}
#ot_d_load_box form .ot_o_ownshop_info {
	verticaL-align:bottom;
	width: 83px;
	height: 20px;
	background: url(../images/buttons/ownshop_provide_info.gif) no-repeat;
	position: 0px 0px;
	border: 0;
	cursor: pointer;
	text-indent: -9999px;
}
#ot_d_load_box form .ot_o_ownshop_info:hover { 
	background: url(../images/buttons/ownshop_provide_info.gif) 0px -20px;
}
#ot_d_load_box form label.ot_d_error{ 
	font-size:12px;
	margin-left:5px;
	display: none;
	color:#F00;
	vertical-align:top;
}
#ot_d_load_box form .ot_d_errortit{ 
	font-size:13px;
	display: none;
	color:#F00;
	vertical-align:top;
}
#ot_d_load_box form .ot_o_resetbtn{
	verticaL-align:bottom;
	text-indent:-9999px;
	width: 46px;
	height:20px;
	position: 0px 0px;
	border: 0;
	cursor: pointer;
	background: url(../images/buttons/reset.gif) no-repeat;
}
#ot_d_load_box form .ot_o_resetbtn:hover{
	background: url(../images/buttons/reset.gif) 0px -20px;	
}
#ot_d_load_box form .ot_o_sendbtn{
	verticaL-align:bottom;
	text-indent:-9999px;
	width: 45px;
	height:20px;
	position: 0px 0px;
	border: 0;
	cursor: pointer;
	background: url(../images/buttons/send2.gif) no-repeat;
}
#ot_d_load_box form .ot_o_sendbtn:hover{
	background: url(../images/buttons/send2.gif) 0px -20px;	
}
#ot_d_load_box form label.error { color: red;  }	
.ot_d_msg{
	width:450px;
	height:600px;
	font-size:12px;	
}
.ot_d_msg .ot_d_logo{
	padding:10px
}
.ot_d_msg .ot_d_line1{
	border-bottom:solid 3px #52a2db;
}
.ot_d_msg .ot_d_line2{
	border-bottom:solid 3px #52a2db;
}
.ot_d_msg .ot_d_content{
	padding: 0px 10px 10px 10px;
}
.ot_d_msg .ot_d_btnpos{
	text-align:center;
}
.ot_d_msg .ot_o_nextstepbtn{
	display:block;
	text-indent:-9999px;
	float:left;
	margin-right:10px;
	width: 59px;
	height:20px;
	background: url(../images/buttons/nextstep.gif) no-repeat;
}
.ot_d_msg .ot_o_nextstepbtn:hover{
	background: url(../images/buttons/nextstep.gif) 0px -20px;	
}
.ot_d_msg .ot_o_closebtn{
	display:block;
	text-indent:-9999px;
	float:left;
	width: 46px;
	height:20px;
	background: url(../images/buttons/close_window.gif) no-repeat;
}
.ot_d_msg .ot_o_closebtn:hover{
	background: url(../images/buttons/close_window.gif) 0px -20px;	
}
.ot_d_msg .ot_d_copy{
	padding:10px;
	color:#636a72;
}
/* END: SHOP PROVIDE CONTENT*/

/* START: Category Full Box */
#ot_d_guide_category_full_box {
	border:solid 1px #dbe8f4;
	margin-bottom: 10px;
}

#ot_d_guide_category_full_box .header {
	padding-right: 5px;
	height: 35px;
	background-image: url(../images/backgrounds/boxes/header/category-full-box.gif);
}

#ot_d_guide_category_full_box .content {
	background-color: #fff;
	padding-left: 17px;
	padding-top: 12px;
}

#ot_d_guide_category_full_box .footer {
}

#ot_d_guide_category_full_box .content .ot_u_guide_browser_category_list li {
	display: block;
	float: left;
	height: 19px;
	width: 134px;
	padding-left: 16px;
	background: url(../images/bullet_blue.gif) no-repeat left center;
}

#ot_d_guide_category_full_box a.more	{ 
	margin-top: 9px;
}
/* END: Category Full Box */

/*START: Shop Owner Registration*/
#ot_d_body_content .ot_d_body_content_right #ot_d_owner_intro{
	width:300px;
	height:238px;
	background:url(../images/ownshop_reg_flow.jpg) no-repeat;
}
/*END: Shop Owner Registration*/

/*START: Shop View Download PDF*/
#ot_d_shopview_download_pdf{
	margin-top:12px;
}
#ot_d_shopview_download_pdf .ot_d_header{
	width:207px;
	height:25px;
	background: url(../images/backgrounds/boxes/header/shopview_pdftit-box.jpg) no-repeat;
	overflow:hidden;
}
#ot_d_shopview_download_pdf .ot_d_content{
	width:193px;
	padding:0px 7px;
	background: url(../images/backgrounds/boxes/content/shopview_pdftit-box.jpg);	
	overflow:hidden;	
}
#ot_d_shopview_download_pdf .ot_d_footer{
	width:207px;
	height:7px;
	background: url(../images/backgrounds/boxes/footer/shopview_pdftit-box.jpg) no-repeat;	
	overflow:hidden;	
}
#ot_d_shopview_download_pdf .ot_d_content ul li{
	width:100%;
	float:left;
	margin-bottom:2px;
}
#ot_d_shopview_download_pdf .ot_d_content ul li .ot_d_pdfurl{
	float:left;
	width:100px;
}
#ot_d_shopview_download_pdf .ot_d_content ul li .ot_d_downloadicon{
	float:right;
}
#ot_d_shopview_download_pdf .ot_d_content ul li .ot_d_downloadicon a{
	width:14px;
	height:13px;
	display:block;
	background: url(../images/icons/shopview_download.jpg) no-repeat;	
}
/*END: Shop View Download PDF*/

/*START: Shop View Share Facebook*/
#ot_d_merchant_info_box .ot_d_content .ot_d_shopviewfb{
	float:left;
	padding:7px 0px;	
}
#ot_d_merchant_info_box .ot_d_content .ot_d_shopviewfb .ot_d_shopviewfbshare{
	width:120px;
	padding:5px 0px;
	float:left;	
	overflow:hidden;
}
#ot_d_merchant_info_box .ot_d_content .ot_d_shopviewfb .ot_d_shopviewfblike{
	width:295px;
	float:left;	
	overflow:hidden;
}
/*END: Shop View Share Facebook*/

/*START Mall & Brand List*/
#ot_t_brandmalllist .ot_d_title{
	font-weight:bold;
	background: #f66;
	color:#fff;
	padding: 4px;
	font-size:16px;
	width:830px;	
}
#ot_t_brandmalllist .ot_d_detailbox{
	padding:5px;
	float:left;
	width:500px;
}
#ot_t_brandmalllist .ot_d_detailbox a{
	text-decoration:none;
	color:#2155B5;
}
#ot_t_brandmalllist .ot_d_detailbox a:hover{
	color:#06F;	
	text-decoration:underline;
}
#ot_t_brandmalllist .ot_d_detailbox .item_title{
	float:left;
	padding-right:10px;	
}
#ot_t_brandmalllist .ot_d_selcatebox{
	float:right;
}
#ot_t_brandmalllist .ot_t_shoplist{
	width: 100%;
	border:0px;
	border-spacing: 0px;
	border-collapse:collapse;
	font-size:14px;
}
#ot_t_brandmalllist .ot_t_shoplist a{
	color:#2155B5;
	text-decoration:none;
}
#ot_t_brandmalllist .ot_t_shoplist a:hover{
	color:#06F;
	text-decoration:underline;
}
#ot_t_brandmalllist .ot_t_shoplist th{
	padding:5px;
	background: #F66;
	text-align:left;
	color:#FFF;
}
#ot_t_brandmalllist .ot_t_shoplist td{
	padding:5px;
}
#ot_t_brandmalllist .ot_t_shoplist .even_row{
	background:#FCC;
}
#ot_t_brandmalllist .ot_t_shoplist .cate{
	width: 200px;
}
#ot_t_brandmalllist .ot_t_shoplist .shopname{
	width:200px;
}
#ot_t_brandmalllist .ot_t_shoplist .telephone{
	width:80px;
}
#ot_t_brandmalllist .ot_t_shoplist .rooms{
	width:160px;
}

#ot_t_brandmalllist .ot_t_shoplist .address{
	width:320px;
}
#ot_t_brandmalllist .ot_t_shoplist .district{
	width:50px;
}
#ot_t_brandmalllist .ot_t_shoplist .status{
	width:50px;
}
#ot_t_brandmalllist #paging-box {
	padding-top: 4px;
	padding-bottom: 11px;
	height: 21px;
	font-size: 11px;
}
#ot_t_brandmalllist #paging-box a.new-topic {
	display: block;
	float: left;
	width: 58px;
	height: 21px;
	padding-right: 7px;
	text-indent: -9999px;
	background: url(../images/buttons/new-topic.gif) no-repeat 0px 0px;
}
#ot_t_brandmalllist #paging-box a.new-topic:hover { background-position: 0px -21px; }

#ot_t_brandmalllist #paging-box a.new-poll {
	display: block;
	float: left;
	width: 58px;
	height: 21px;
	padding-right: 7px;
	text-indent: -9999px;
	background: url(../images/buttons/new-poll.gif) no-repeat 0px 0px;
}
#ot_t_brandmalllist #paging-box a.new-poll:hover { background-position: 0px -21px; }

#ot_t_brandmalllist #paging-box .paging {
	text-align: right;
	width:100%;
	padding: 3px;
}
#ot_t_brandmalllist #paging-box .paging a {
	font-size: 11px;
	line-height: 11px;
	padding: 3px;
	min-width: 11px;
	width: 11px;
	width: auto!important;
	text-align: center;
	border: 1px solid #bdbdbd;
	margin-left: 4px;
}
/*END Mall & Brand List*/