#TB_title {
	background-color: #f80000;
	height: 27px;
	font-weight: bold;
	font-size: 14px;
	color:#fff;
}
#TB_title #TB_closeWindowButton{
	color:#fff;
	font-weight:normal;
}
.ot_t_infopos{
	padding:10px 4px 4px 0px;
}
.ot_t_cat2infopos{
	width: 100px;
	padding: 5px 0px 5px 5px;
	border-bottom:1px solid #cccccc;
}
.ot_t_cat3infopos{
	width:294px;
	padding:5px;
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
}
.ot_d_eventcate_main_cate {
	background:none repeat scroll 0 0 #FF6666;
	color:#FFFFFF;
	padding: 3px 3px 20px 3px;
}
.ot_d_main_cate{	
	font-weight:bold;
	background: #f66;
	color:#fff;
	padding: 4px;
	width:429px;
}
.ot_t_cate_select_box td{
	padding: 3px 3px 20px 3px;
}
.ot_t_cate_select_box{
	width:100%;
}
.ot_t_event_cate_aitem{
	float: left;
	display: block;
	overflow: hidden;
	padding:2px 0 0 2px;
	width:140px;
}
.ot_t_shop_cate_aitem{
	float: left;
	display: block;
	width:130px;
	overflow: hidden;
	padding:2px 0;	
}
.ot_t_location_aitem{
	width:85px;
	float:left;
	overflow:hidden;
	padding:2px 0 0 2px;
}
.ot_label_checkbox_word_left{
	position:relative;
	position:static!important;
	left:5px;
	margin-left:3px;
}
#ot_d_btnsend{
	position:absolute;
	bottom:0px;
	right:17px;	
	height:30px;
	width:458px;
	background-color:#ffe4e4;
	text-align:right;
	padding-right:5px;	
	padding-top:2px;		
}
#ot_d_btnsend .ot_b_cate_select_send{
	width: 46px;
	height: 21px;
	margin-top: 4px;
	background: url(../images/buttons/search_locate_btn.gif) no-repeat;
	position: 0px 0px;
	border: 0;
	cursor: pointer;

}
#ot_d_btnsend .ot_b_cate_select_send:hover {
	background-position: 0px -21px;
}
.ot_s_weighted{
	font-weight:bold;	
	color:#930;
}