/* tables */
table.tablesorter {
	font-family: arial;
	background-color: #CDCDCD;
	margin: 10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}

table.tablesorter thead tr th,table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}

table.stripe thead tr .header {
	background-image: url(../images/icons/sort-asc.gif);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 10px;
	cursor: pointer;
}

table.stripe tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table.stripe tbody tr.odd td {
	background-color: #F0F0F6;
}

table.stripe thead tr .headerSortUp {
	background-image: url(../images/icons/sort-asc.gif);
}

table.stripe thead tr .headerSortDown {
	background-image: url(../images/icons/sort-desc.gif);
}

table.stripe thead tr .headerSortDown,table.stripe thead tr .headerSortUp
	{
	background-color: #fff;
}