<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.tabs.js" />

<style type="text/css" >
	#msgbox{
	height:150px;
	width:900px;
	margin:0 auto;
	background-color:#fff;
	border:1px dashed #cccccc;
     }
	 
	 #msgbox h2{
    	height:10px;
		font-weight:600;
		font-size:14px;
		color:#666666;
		background-color:#eeedea;	
    }
	#msgbox p{
		font-weight:400;
		font-size:13px;
		color:#666666;
		text-align:left;
	}
	#errorleft{
		height:110px;
		width:10%;
		float:left;
		background-image: url("__PUBLIC__/images/error_face.gif");
		background-repeat:no-repeat;
		margin-top:20px;
	}
	#rightleft{
		height:110px;
		width:10%;
		float:left;
		background-image: url("__PUBLIC__/images/ok_face.gif");
		background-repeat:no-repeat;
		margin-top:20px;
	}
	#errorright{
		height:110px;
		width:90%;
		margin-top:20px;
	}
	#msgbox a{
		font-weight:400;
		font-size:13px;
		color:#666666;
	}
	#msgbox a:hover{
		font-weight:500;
		font-size:13px;
		color:#e54600;
	}
</style>
<div id="body-content-error">
  <div class="breadcrumb">
		<a href="__ROOT__/">主頁</a> 
	</div>
    <div id="error-box">

    		<div class="header">提示信息:</div>
			<div class="content">
			  <table border="0" align="center" cellpadding="0" cellspacing="0">
			    <tr>
			      <td align="center" class="error-box-text"><p>您的密碼已成功修改，請登錄！</p>
			        <p><a href="#">頁面將在 3 秒後自動跳轉到下一頁，點撃這裡直接跳轉... </a></p></td>
		        </tr>
		      </table>
	  </div>
            <div class="footer"></div>
	</div>	
		<div class="clearBoth">
	</div>    
</div>
<include file="Public:footer" />