<load href="__PUBLIC__/css/ot_other.css" />

<load href="__PUBLIC__/js/jquery.tabs.js" />
<img src="__PUBLIC__/images/backgrounds/login_small_tit.gif" alt="" />        
<div id="body-content-loginsmall-error">
    <div id="loginsmall-error-box">
	  <div class="header">提示信息:</div>
			<div class="content">
            <table border="0" align="center" cellpadding="0" cellspacing="0">
            <tr><td align="center" class="error-box-text"><p>登錄成功！</p>
			<p><a href="#">頁面將在 3 秒後自動跳轉到下一頁，點撃這裡直接跳轉... </a></p></td></tr>
            </table>
	  </div>
            <div class="footer"></div>
	</div>	
		<div class="clearBoth">
	</div>    
</div>