<script type="text/javascript">
$(document).ready(function(){
	
});
</script>
<table class="ot_t_add_edit_table">
	<tr>
        <td id="col01">簡介:</td>
        <td id="col02"><label><?= $pdfInfo['description'] ?></label></td>
        <td id="col03"></td>
        <td id="col04"></td>
    </tr>
	<tr>
        <td id="col01">檔案:</td>
        <td id="col02"><div id="uploaddiv" style="display:none"><input id="file" name="file" type="file" /></div><a id="filepathlink" target="_blank" href="__APP__/?m=addinfo&a=downloadpdf&filename={$pdfInfo.file_path}">{$pdfInfo.ori_file_name}</a></td>
        <td id="col03"></td>
        <td id="col04"></td>
    </tr>
    <tr>
        <td id="col01">開始日期:</td>
        <td id="col02"><label><?= $pdfInfo['start_date'] ?></label></td>
        <td id="col03"></td>
        <td id="col04"></td>
    </tr>
    <tr>
        <td id="col01">結束日期:</td>
        <td id="col02"><label><?= $pdfInfo['end_date'] ?></label></td>
        <td id="col03"></td>
        <td id="col04"></td>
    </tr>
</table>
<div>指定商戶：</div>
<if condition="!$pdfInfo['shops']">
    <table class="ot_t_listing_table">
        <tr>
            <th>暫時未有指定商戶</th>
        </tr>
    </table>
<else />
<table class="ot_t_listing_table" cellpadding="0" cellspacing="0">
    <tr>
        <th class="title" style="width:10%">ID</th>
        <th class="title" style="width:40%">商戶名稱</th>
        <th class="title" style="width:50%">商戶地址</th>
    </tr>
    <iterate name="pdfInfo['shops']" id="vo">
        <tr>
            <td style="text-align:center">{$vo.id}</td>
            <td style="text-align:center">{$vo.name} ({$vo.sub_location_name}分店)</td>
            <td style="text-align:center">{$vo.address}{$vo.rooms}</td>                      
        </tr>
    </iterate>  
</table>
</if>