<load href="__PUBLIC__/js/datepicker_zh_TW.js" />
<load href="__PUBLIC__/js/jquery-ui-1.8.9.custom.min.js" />
<load href="__PUBLIC__/css/ui-lightness/jquery-ui-1.8.9.custom.css" />
<script type="text/javascript">
$(document).ready(function(){
	var validator = $( '#theform' ).validate( {
		rules: {
			description: { required: true,
			maxlength:	30
			},
			time_start: {
				required: true
			},
			time_end: {
				required: true
			}
		},
		messages: {
			description: { required: '簡介是必須',
			maxlength:	'請輸入不多於30字簡介'
			},
			time_start: {
				required: '請輸入開始時間'
			},
			time_end: {
				required: '請輸入結束時間'
			}
		},
		submitHandler: function()
		{
			var time_start = $('#time_start').val();
			var time_end = $('#time_end').val();
			if(time_start == time_end){
				validator.showErrors({'time_end':'請選擇時間範圍'});
			}else{
				$( '#theform' ).ajaxSubmit( {
					success: function ( response, status ) {
						var json = $.parseJSON( response );
						if ( json.status ==0 ) {
							alert('儲存成功');
							location.reload();
						}else if ( json.status ==1 ) {
							alert('請上傳小於2MB的PDF檔案');	
						}else if ( json.status ==1 ) {
							alert('更改失敗,請聯絡系統管理員');
						}
					}
				} );
			}
			return false;
		}
	} );
	$('#time_start').datepicker(datepicker_zhTW);
	$('#time_end').datepicker(datepicker_zhTW);		
	$('#reupload').bind('click',function(){
		$('#filepathlink').hide();
		$('#reupload').hide();
		$('#uploaddiv').show();
		$('#newupload').val(1);
	});
	$('#resetBtn').bind('click',function(){
		$('#filepathlink').show();
		$('#reupload').show();
		$('#uploaddiv').hide();
		$('#newupload').val(0);
	});
});
</script>
		<form id="theform" action="__APP__" method="post" enctype="multipart/form-data">
		<input type="hidden" name="m" value="addinfo" />
		<input type="hidden" name="a" value="do_edit" />
		<input type="hidden" name="id" value="{$_REQUEST['id']}" />
		<input type="hidden" id="newupload" name="newupload" value="0" />
    	<table class="ot_t_add_edit_table">
        	<tr>
                <td id="col01">開始時間:</td>
                <td id="col02"><input type="text" id="time_start" name="time_start" value="{$pdfInfo.start_date}" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
             <tr>
                <td id="col01">結束時間:</td>
                <td id="col02"><input type="text" id="time_end" name="time_end" value="{$pdfInfo.end_date}"/></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">簡介:</td>
                <td id="col02"><textarea name="description" maxlength="30" size="40" ><?= $pdfInfo['description'] ?></textarea></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
           <tr>
           		
           </tr>
            <tr>
                <td id="col01">檔案:</td>
                <td id="col02"><div id="uploaddiv" style="display:none"><input id="file" name="file" type="file" /></div><a id="filepathlink" target="_blank" href="__APP__/?m=addinfo&a=downloadpdf&filename={$pdfInfo.file_path}">{$pdfInfo.ori_file_name}</a> <input id="reupload" value="重新上載" type="button" name="reupload" class="btn02_long"/></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01"></td>
                <td id="col02">
                	<input id="submitbtn" value="儲存" type="submit" name="submitbtn" class="btn01"/>
                    <input id="resetBtn" value="重設" type="reset" name="resetBtn" class="btn01"/>
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
        </table>
		</form>