<include file="Public:header" />
<load href="__PUBLIC__/css/ot_addinfo.css" />
<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec04 a').toggleClass('current');
	$('.preview_pdf').fancybox({
		'scrolling'			:	'auto',
		'centerOnScroll'	:	true,
		'width'				:	800,
		'height'			:	600,
		'type'				:	'iframe'
	});
	$('.editpdf').fancybox({
		'scrolling'			:	'auto',
		'centerOnScroll'	:	true,
		'width'				:	600,
		'height'			:	300,
		'autoDimensions'	:	false
	});
	$('.detail').fancybox({	
		'scrolling'			:	'auto',
		'centerOnScroll'	:	true,
		'width'				:	800,
		'height'			:	600,
		'autoDimensions'	:	false
	});
	$('.deletebtn').bind('click',function(){
		var result=confirm("一經確認即無法復原?");	
		if(result==true){
			var id = $(this).attr('ref');
			$.get('__APP__/?m=addinfo&a=delete&id='+id,function(response){
				if(response == '1'){
					alert('刪除成功');
					location.reload();
				}else{
					alert('刪除失敗,請聯絡系統管理員');
				}
			});
		}else{
			return false;	
		}
	});
	$('.auditbtn').bind('click',function(){
		var id = $(this).attr('ref');
		var type = $(this).attr('audit');
		var ids = get_selshop_ids(id);
		$.get('__APP__/?m=addinfo&a=audit&id='+id+'&type='+type+'&ids='+ids,function(response){
			var json = $.parseJSON(response);
			if(json.status == 0){
				if(json.type==0){
					alert('發佈成功');
				}
				location.reload();
			}else if(json.status == 1){
				alert('發佈失敗，超出可指派商戶的上限。\n請檢查已發怖的附加資料，或聯絡系統管理員為你的商戶進行升級，以享受更多Outstreet 為你提供的管理服務');
				var errid = '';
				for(i=0;i<json.err_ids.length;i++){
					errid += json.err_ids[i]+',';
				}
				set_selshop_error(id,errid);
				$('#selshopbutton'+id).trigger('click');
			}else if(json.status == 2){
				alert('請指定商戶');
				$('#selshopbutton'+id).trigger('click');
			}else{
				alert('發佈失敗,請聯絡系統管理員');
			}
		});
	});
	
});
</script>
<input type="hidden" id="type" name="type" value="pdf" />
<div class="ot_d_body_content">
	<div id="ot_d_body_content_left">
    	<if condition="$simpleshop_id gt 0">
    	<include file="Public:left_menu"/>
        </if>
    </div>
	<div id="ot_d_body_content_right">    
		<table class="ot_t_listing_table" cellspacing="0">
			<tr>
            	<th id="title" style="width:35%;text-align:right;" colspan="10"><a class="editpdf" href="__APP__/?m=addinfo&a=add"><button class="btn02">新增</button></a></th>
            </tr>
	<if condition="$pdf_count eq 0">    	
			<tr>
            	<th>暫時未有附加資料</th>
            </tr>
		</table>
    <else />
        	<tr>
                <th id="title" style="width:14%">檔案名稱<A href="__APP__/?m=addinfo&a=index&sort=a.ori_file_name&sortorder=asc">↓</A>|<A href="__APP__/?m=addinfo&a=index&sort=a.ori_file_name&sortorder=desc">↑</A></th>
                <th id="title" style="width:22%">檔案簡介<A href="__APP__/?m=addinfo&a=index&sort=a.description&sortorder=asc">↓</A>|<A href="__APP__/?m=addinfo&a=index&sort=a.description&sortorder=desc">↑</A></th>
                <th id="title" style="width:17%">開始時間<A href="__APP__/?m=addinfo&a=index&sort=a.create_time&sortorder=asc">↓</A>|<A href="__APP__/?m=addinfo&a=index&sort=a.create_time&sortorder=desc">↑</A></th>
                <th id="title" style="width:17%">結束時間<A href="__APP__/?m=addinfo&a=index&sort=a.end_date&sortorder=asc">↓</A>|<A href="__APP__/?m=addinfo&a=index&sort=a.end_date&sortorder=desc">↑</A></th>
                <th id="title" style="width:14%">狀態</th>
                <th id="title" style="width:16%" colspan="5"></th>
            </tr>
            <iterate name="pdfList" id="vo">
            	<tr class="ot_t_addinfo_is_audit{$vo.is_audit}">
                	<td id="row"><a class="preview_pdf" href="<?php echo C('OUTSTREET_DIR') ?>/<?php echo C('SHOP_PDF_PATH') ?>{$vo.file_path}">{$vo.ori_file_name}</a></td>
                	<td id="row">{$vo.description}</td>
                	<td id="row">{$vo.start_date}</td>
                    <td id="row">{$vo.end_date}</td>
                    <td id="row"><label class="ot_l_is_audit{$vo.is_audit}"><?php echo $vo['is_audit']==1?'已':'未';?>發佈</label></td>  
					<td id="row"><a class="detail" href="__APP__/?m=addinfo&a=detail&id={$vo.id}"><button class="btn02">詳情</button></a></td>
                    <if condition="$vo.operation_right eq 1">
                    	<if condition="$vo.is_audit eq 1">                 
                       	 <td id="row" colspan="4"><button ref="{$vo.id}" audit="1" class="btn02_long auditbtn">取消發佈</button></td>
                        <else/>
                         <td id="row"><a class="editpdf" href="__APP__/?m=addinfo&a=edit&id={$vo.id}"><button class="btn02">更改</button></a></td>
                        <td id="row">
                        <?php if($simpleshop_id > 0):?>
							<input type="hidden" value="{$simpleshop_id}" id="selshoptxt{$vo.id}" name="selshoptxt{$vo.id}">
                        <?php else:?>
							<?php generateSelShop($vo['id'],$vo['assigned'],implode(',',$vo['assigned_ids']));?>
                        <?php endif?>
                        </td>
                        <td id="row"><button ref="{$vo.id}" audit="0" class="btn02 auditbtn">發佈</button></td>
                        <td id="row"><button ref="{$vo.id}" class="btn02 deletebtn">刪除</button></td>
                        </if>
                    <else/>
                    <td id="row" colspan="4">&nbsp;</td>
                    </if>
            	</tr>	
            </iterate>        	
            <tr>
                <td style="text-align:right;" colspan="10">{$multipage}</td>
            </tr>
        </table>
    </if>
    </div>
	<div class="ot_d_clearBoth"></div>
</div>
<include file="Public:footer" />