<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
        <div class="breadcrumb">
            <a href="__ROOT__/">主頁</a> > <a href="__ROOT__/advert">優質宣傳平台</a>
        </div>	
		<div id="advert-box" class="left-box">
            <div class="header">
                <h3>優質宣傳平台</h3>
            </div>
            <div class="content">
                <table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
                    <tbody>
                        <tr>
                            <td>OutStreet《出街》網是本地唯一最多元化的一站式網上玩樂及消費指南。本網吸引大量不同年齡階層的網上用戶。特別是一班尋覓新玩樂地點的高消費顧客群。
<br><br>本網於試用期間，已吸引大量商業客戶於本網刊登廣告。我們專業的市場推廣人員會替客戶度身訂造宣傳策略。想將你的廣告資訊跟全港網上用家分享？OutStreet《出街》網正好為你提供最佳的網上廣告媒介！如貴公司想於本網站刊登廣告，歡迎隨時電郵至 <a href="mailto:ads@outstreet.com.hk" style="color:red;text-decoration:underline;" title="優質宣傳平台">ads@outstreet.com.hk</a></td>
                            <td width="10">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer"></div>
        </div>
	</div>
	<div class="ot_d_body_content_right">
		<include file="Public:div-weather" />     
	</div>
	<div class="clearBoth"></div>
</div>

<include file="Public:footer" />