/* Flora style sheet for jQuery date picker v3.7.0. */
#datepick-div,.datepick-inline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background: #E0F4D7;
	width: 15em;
}

#datepick-div {
	display: none;
	border: 1px solid #FF9900;
	z-index: 100;
}

.datepick-inline {
	float: left;
	display: block;
	border: 0;
}

.datepick-rtl {
	direction: rtl;
}

.datepick-dialog {
	padding: 5px !important;
	border: 4px ridge #83C948 !important;
}

.datepick-disabled {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

button.datepick-trigger {
	width: 25px;
}

img.datepick-trigger {
	margin: 2px;
	vertical-align: middle;
}

.datepick-prompt {
	float: left;
	padding: 2px;
	background: #E0F4D7;
	color: #000;
}

* html .datepick-prompt {
	width: 15em;
}

.datepick-control,.datepick-links,.datepick-header,.datepick {
	clear: both;
	float: left;
	width: 100%;
	color: #FFF;
}

.datepick-control {
	background: #FF9900;
	padding: 2px 0px;
}

.datepick-links {
	background: #E0F4D7;
	padding: 2px 0px;
}

.datepick-control,.datepick-links {
	font-weight: bold;
	font-size: 80%;
}

.datepick-links label {
	padding: 2px 5px;
	color: #888;
}

.datepick-clear,.datepick-prev {
	float: left;
	width: 34%;
}

.datepick-rtl .datepick-clear,.datepick-rtl .datepick-prev {
	float: right;
	text-align: right;
}

.datepick-current {
	float: left;
	width: 30%;
	text-align: center;
}

.datepick-close,.datepick-next {
	float: right;
	width: 34%;
	text-align: right;
}

.datepick-rtl .datepick-close,.datepick-rtl .datepick-next {
	float: left;
	text-align: left;
}

.datepick-header {
	background: #83C948;
	color: #fff;
	text-align: center;
	font-weight: bold;
	height: 1.6em;
}

.datepick-header select {
	background: #83C948;
	color: #fff;
	border: 0px;
	font-weight: bold;
}

.datepick-header span {
	position: relative;
	top: 3px;
}

.datepick {
	background: #CCC;
	text-align: center;
	font-size: 100%;
}

.datepick a {
	display: block;
	width: 100%;
}

.datepick-title-row {
	background: #B1DB87;
	color: #000;
}

.datepick-title-row th {
	text-align: center;
	font-weight: normal;
}

.datepick-title-row .datepick-week-end-cell {
	background: #B1DB87;
}

.datepick-days-row {
	background: #FFF;
	color: #666;
}

.datepick-week-col {
	background: #B1DB87;
	color: #000;
}

.datepick-days-cell {
	color: #000;
	border: 1px solid #DDD;
}

.datepick-other-month {
	background: #E0F4D7;
}

.datepick-days-cell a {
	display: block;
}

.datepick-week-end-cell {
	background: #E0F4D7;
}

.datepick-unselectable {
	color: #888;
}

.datepick-week-over,.datepick-week-over .datepick-week-end-cell {
	background: #B1DB87;
}

.datepick-today {
	background: #B1DB87;
}

.datepick-current-day {
	background: #83C948;
	color: #fff;
}

.datepick-days-cell-over,.datepick-days-cell-over.datepick-week-end-cell
	{
	background: #FFF;
	color: #000;
	border: 1px solid #777;
}

.datepick-status {
	background: #E0F4D7;
	width: 100%;
	font-size: 80%;
	text-align: center;
}

#datepick-div a,.datepick-inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.datepick-inline .datepick-links a {
	padding: 0 5px !important;
}

.datepick-control a,.datepick-links a {
	padding: 2px 5px !important;
	color: #000 !important;
}

.datepick-title-row a {
	color: #000;
}

.datepick-control a:hover {
	background: #FDD;
	color: #333;
}

.datepick-links a:hover,.datepick-title-row a:hover {
	background: #FFF;
	color: #333;
}

.datepick-multi .datepick {
	border: 1px solid #83C948;
}

.datepick-one-month {
	float: left;
	width: 15em;
}

.datepick-new-row {
	clear: left;
}

/* ___________ IE6 IFRAME FIX ________ */
.datepick-cover {
	display: none; /*sorry for IE5*/
	display /**/: block; /*sorry for IE5*/
	position: absolute; /*must have*/
	z-index: -1; /*must have*/
	filter: mask(); /*must have*/
	top: -1px; /*must have*/
	left: -1px; /*must have*/
	width: 187px; /*must have*/
	height: 187px; /*must have*/
}