/* Humanity style sheet for jQuery date picker v3.6.1. */
#datepick-div,.datepick-inline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background: #f4f0ec;
	color: #1e1b1c;
	width: 230px;
}

#datepick-div {
	display: none;
	border: 1px solid #e0cfc2;
	z-index: 100; /*must have*/
}

.datepick-inline {
	float: left;
	display: block;
	border: 0;
}

.datepick-rtl {
	direction: rtl;
}

.datepick-dialog {
	padding: 5px !important;
	border: 4px ridge #cb842e !important;
}

.datepick-disabled {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

button.datepick-trigger {
	width: 25px;
}

img.datepick-trigger {
	margin: 2px;
	vertical-align: middle;
}

.datepick-prompt {
	float: left;
	padding: 2px;
}

* html .datepick-prompt {
	width: 230px;
}

.datepick-control,.datepick-links,.datepick-header,.datepick {
	clear: both;
	float: left;
	width: 100%;
}

.datepick-control,.datepick-links {
	padding: 2px 0px;
}

.datepick-control,.datepick-links {
	font-weight: bold;
	font-size: 80%;
}

.datepick-links label {
	padding: 2px 5px;
	color: #888;
}

.datepick-clear,.datepick-prev {
	float: left;
	width: 34%;
}

.datepick-rtl .datepick-clear,.datepick-rtl .datepick-prev {
	float: right;
	text-align: right;
}

.datepick-current {
	float: left;
	width: 30%;
	text-align: center;
}

.datepick-close,.datepick-next {
	float: right;
	width: 34%;
	text-align: right;
}

.datepick-rtl .datepick-close,.datepick-rtl .datepick-next {
	float: left;
	text-align: left;
}

.datepick-header {
	background: #cb842e;
	color: #fff;
	text-align: center;
	font-weight: bold;
	height: 1.6em;
}

.datepick-header select {
	background: #cb842e;
	color: #fff;
	border: 0px;
	font-weight: bold;
}

.datepick-header span {
	position: relative;
	top: 3px;
}

.datepick {
	text-align: center;
	font-size: 100%;
}

.datepick a {
	display: block;
}

.datepick-title-row th {
	text-align: center;
	font-weight: normal;
}

.datepick-week-col {
	background: #cb842e;
	color: #fff;
}

.datepick-days-cell {
	padding: 2px;
}

.datepick-days-cell a {
	display: block;
	background: #ede4d4;
	border: 1px solid #cdc3b7;
}

.datepick-other-month a {
	background: #f4f0ec;
}

.datepick-unselectable {
	color: #888;
}

.datepick-week-over {
	background: #f5f5b5;
}

.datepick-today a {
	background: #f5f5b5;
	border: 1px solid #d9bb73;
}

.datepick-current-day a {
	background: #cb842e;
	color: #fff;
	border: 1px solid #cb842e;
}

.datepick-days-cell-over a {
	background: #f5f0e5;
	color: #1e1b1c;
	border: 1px solid #f5ad66;
}

.datepick-status {
	width: 100%;
	font-size: 80%;
	text-align: center;
}

#datepick-div a,.datepick-inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.datepick-inline .datepick-links a {
	padding: 0 5px !important;
}

.datepick-control a,.datepick-links a {
	padding: 2px 5px !important;
	color: #1e1b1c !important;
}

.datepick-control a:hover,.datepick-links a:hover,.datepick-title-row a:hover
	{
	background: #ede4d4;
}

.datepick-multi .datepick {
	padding: 3px;
}

.datepick-one-month {
	float: left;
	width: 230px;
}

.datepick-new-row {
	clear: left;
}

/* ___________ IE6 IFRAME FIX ________ */
.datepick-cover {
	display: none; /*sorry for IE5*/
	display /**/: block; /*sorry for IE5*/
	position: absolute; /*must have*/
	z-index: -1; /*must have*/
	filter: mask(); /*must have*/
	top: -1px; /*must have*/
	left: -1px; /*must have*/
	width: 187px; /*must have*/
	height: 187px; /*must have*/
}