/* Smoothness style sheet for jQuery date picker v3.7.0. */
#datepick-div,.datepick-inline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background: #fff;
	color: #222;
	width: 15em;
}

#datepick-div {
	display: none;
	border: 1px solid #aaa;
	z-index: 100; /*must have*/
}

.datepick-inline {
	float: left;
	display: block;
	border: 0;
}

.datepick-rtl {
	direction: rtl;
}

.datepick-dialog {
	padding: 5px !important;
	border: 4px ridge #aaa !important;
}

.datepick-disabled {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

button.datepick-trigger {
	width: 25px;
}

img.datepick-trigger {
	margin: 2px;
	vertical-align: middle;
}

.datepick-prompt {
	float: left;
	padding: 2px;
}

* html .datepick-prompt {
	width: 15em;
}

.datepick-control,.datepick-links,.datepick-header,.datepick {
	clear: both;
	float: left;
	width: 100%;
	color: #222;
}

.datepick-control {
	background: #fee6e3;
	padding: 2px 0px;
}

.datepick-links {
	background: #fff;
	padding: 2px 0px;
}

.datepick-control,.datepick-links {
	font-weight: bold;
	font-size: 80%;
}

.datepick-links label {
	padding: 2px 5px;
	color: #888;
}

.datepick-clear,.datepick-prev {
	float: left;
	width: 34%;
}

.datepick-rtl .datepick-clear,.datepick-rtl .datepick-prev {
	float: right;
	text-align: right;
}

.datepick-current {
	float: left;
	width: 30%;
	text-align: center;
}

.datepick-close,.datepick-next {
	float: right;
	width: 34%;
	text-align: right;
}

.datepick-rtl .datepick-close,.datepick-rtl .datepick-next {
	float: left;
	text-align: left;
}

.datepick-header {
	background: #e0e0e0;
	color: #222;
	text-align: center;
	font-weight: bold;
	height: 1.6em;
}

.datepick-header select {
	background: #e0e0e0;
	color: #222;
	border: 0px;
	font-weight: bold;
}

.datepick-header span {
	position: relative;
	top: 3px;
}

.datepick {
	text-align: center;
	font-size: 100%;
}

.datepick a {
	display: block;
	width: 100%;
}

.datepick-title-row th {
	text-align: center;
	font-weight: normal;
}

.datepick-week-col {
	background: #e0e0e0;
}

.datepick-days-cell {
	border: 1px solid #d3d3d3;
}

.datepick-days-cell a {
	display: block;
	background: #eee;
}

.datepick-other-month a {
	background: #fff;
}

.datepick-unselectable {
	color: #888;
}

.datepick-week-over a {
	background: #e0e0e0;
}

.datepick-today {
	border: 1px solid #fcefa1;
}

.datepick-today a {
	background: #fbf9ee;
}

.datepick-current-day {
	border: 1px solid #aaa;
}

.datepick-current-day a {
	background: #e0e0e0;
	color: #222;
}

.datepick-days-cell-over {
	border: 1px solid #999;
}

.datepick-days-cell-over a {
	background: #dadada;
}

.datepick-status {
	width: 100%;
	font-size: 80%;
	text-align: center;
}

#datepick-div a,.datepick-inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.datepick-inline .datepick-links a {
	padding: 0 5px !important;
}

.datepick-control a,.datepick-links a {
	padding: 2px 5px !important;
	color: #222 !important;
}

.datepick-control a:hover {
	background: #ffd0d0;
}

.datepick-links a:hover,.datepick-title-row a:hover {
	background: #e0e0e0;
}

.datepick-multi .datepick {
	border: 1px solid #aaa;
}

.datepick-one-month {
	float: left;
	width: 15em;
}

.datepick-new-row {
	clear: left;
}

/* ___________ IE6 IFRAME FIX ________ */
.datepick-cover {
	display: none; /*sorry for IE5*/
	display /**/: block; /*sorry for IE5*/
	position: absolute; /*must have*/
	z-index: -1; /*must have*/
	filter: mask(); /*must have*/
	top: -1px; /*must have*/
	left: -1px; /*must have*/
	width: 187px; /*must have*/
	height: 187px; /*must have*/
}