/* ThemeRoller ExciteBike override style sheet for jQuery date picker v3.7.0. */
@import "ui.datepick.css";

.ui-widget-header a,.ui-widget-header select {
	color: #e69700; /* Set (.ui-widget-header a) colour from theme here */
}

.ui-widget-header a:hover {
	background-color: #2293f7;
	/* Set (.ui-state-hover) colours from theme here */
	color: #ffffff;
}

.ui-widget-header option {
	background-color: #f9f9f9;
	/* Set (.ui-widget-header) background colour from theme here */
}

.ui-state-highlight a {
	color: #333333; /* Set (.ui-state-highlight) colour from theme here */
}