/* ThemeRoller Humanity override style sheet for jQuery date picker v3.7.0. */
@import "ui.datepick.css";

.ui-widget-header a,.ui-widget-header select {
	color: #ffffff; /* Set (.ui-widget-header a) colour from theme here */
}

.ui-widget-header a:hover {
	background-color: #f5f0e5;
	/* Set (.ui-state-hover) colours from theme here */
	color: #a46313;
}

.ui-widget-header option {
	background-color: #cb842e;
	/* Set (.ui-widget-header) background colour from theme here */
}

.ui-state-highlight a {
	color: #060200; /* Set (.ui-state-highlight) colour from theme here */
}