/* ThemeRoller MintChoc override style sheet for jQuery date picker v3.7.0. */
@import "ui.datepick.css";

.ui-widget-header a,.ui-widget-header select {
	color: #222222; /* Set (.ui-widget-header a) colour from theme here */
}

.ui-widget-header a:hover {
	background-color: #44372c;
	/* Set (.ui-state-hover) colours from theme here */
	color: #add978;
}

.ui-widget-header option {
	background-color: #cdc2a1;
	/* Set (.ui-widget-header) background colour from theme here */
}

.ui-state-highlight a {
	color: #ffffff; /* Set (.ui-state-highlight) colour from theme here */
}