/* ThemeRoller Redmond override style sheet for jQuery date picker v3.7.0. */
@import "ui.datepick.css";

.ui-widget-header a,.ui-widget-header select {
	color: #ffffff; /* Set (.ui-widget-header a) colour from theme here */
}

.ui-widget-header a:hover {
	background-color: #d0e5f5;
	/* Set (.ui-state-hover) colours from theme here */
	color: #1d5987;
}

.ui-widget-header option {
	background-color: #5c9ccc;
	/* Set (.ui-widget-header) background colour from theme here */
}

.ui-state-highlight a {
	color: #363636; /* Set (.ui-state-highlight) colour from theme here */
}