/* ThemeRoller Vader override style sheet for jQuery date picker v3.7.0. */
@import "ui.datepick.css";

.ui-widget-header a,.ui-widget-header select {
	color: #ffffff; /* Set (.ui-widget-header a) colour from theme here */
}

.ui-widget-header a:hover {
	background-color: #dddddd;
	/* Set (.ui-state-hover) colours from theme here */
	color: #000000;
}

.ui-widget-header option {
	background-color: #888888;
	/* Set (.ui-widget-header) background colour from theme here */
}

.ui-state-highlight a {
	color: #cccccc; /* Set (.ui-state-highlight) colour from theme here */
}