<include file="Public:header" />
<script type="text/javascript">
$(document).ready(function(){
});
function selectcate(ele){
	var category_id = $(ele).val();
	var location_id = $('#location_id').val();
		if(!category_id){
			category_id="{$main_category_id}";
		}
		if(!location_id){
			location_id="{$location_id}";
		}
		var request_url="__ROOT__/event/searchform/";
		var temp = '?'+$('#searchform').serialize();
		request_url+=temp;
		request_url+="&category_id="+category_id+"&location_id="+location_id;
		window.location=request_url;
}
</script>
<div class="content">
    <p class="header">
		<table cellspacing="0" cellpadding="0">
			<form action="__ROOT__/event/search" method="Get" id="searchform">
			<tr>
				<td colspan="2" class="title">進階搜尋:</td>
			</tr>
			<tr>
				<td class="label">關鍵字:</td>
				<td><input class="input" name="query" type="text" size="14" value="{$query}" /></td>
			</tr>
			<tr>
				<td class="label">類別:</td>
				<td>
					<div id="cateselector">
					<input name="category_id" type="hidden" value="{$category_id}"/>
					<?php $j=1; ?>
					<iterate name="cateList" id="vo">
					<select style="font-size:13px;width:100px" id="categorylist{$j}" onchange="selectcate(this);">
						<if condition="$selected_cate[$j] eq ''">
						<option value="{$selected_cate[$j-1]}">選擇類別</option>
						</if>
						<iterate name="cateList[$j]" id="vo2">
						<option value="{$vo2.id}" <?php echo $selected_cate[$j] == $vo2['id'] ? 'selected' : '' ?>>{$vo2.name}</option>
						</iterate>
					</select>
					<br>
					<?php $j++; ?>
					</iterate>
					</div>
				</td>
			</tr>
			<tr>
				<td class="label">日期:</td>
				<td>
					<input type="radio" name="timediff" <if condition="$timediff eq 'today'">checked</if> value="today"/>今天
					<input type="radio" name="timediff" <if condition="$timediff eq 'tomorrow'">checked</if> value="tomorrow"/>明天
					<input type="radio" name="timediff" <if condition="$timediff eq 'week'">checked</if> value="week"/>本週
					<input type="radio" name="timediff" <if condition="$timediff eq 'weekend'">checked</if> value="weekend"/>本週末
					<input type="radio" name="timediff" <if condition="$timediff eq 'month'">checked</if> value="month"/>本月
				</td>
			</tr>
			<tr>
				<td class="label">地區:</td>
				<td><select style="width:100px;" name="location_id" id="location_id">
					<option value="">選擇地區</option>
					<?php $j=0; ?>
					<iterate name="main_location_list" id="vo">
					<option value="main_{$vo.id}" <?php echo $main_location_id == $vo['id'] ? 'selected' : '' ?>>{$vo.name}</option>
					<iterate name="sub_location_list[$j]" id="vo2">
					<option value="sub_{$vo2.id}" <?php echo in_array( $vo2['id'], $sub_location_ids ) ? 'selected' : '' ?>>--{$vo2.name}</option>
					</iterate>
					<?php $j++; ?>
					</iterate><td>
			</select>
			</tr>
			<tr>
				<td class="label">主辦機構:</td>
				<td><input class="input" name="creater_name" type="text" size="14" value="{$creater_name}" /></td>
			</tr>
			<tr>
				<td class="label">電話:</td>
				<td><input class="input" name="telephone" type="text" size="14" value="{$telephone}" /></td>
			</tr>
			<tr>
				<td colspan="2"><input class="button" type="submit" value="搜尋" /></td>
			</tr>
			</form>
		</table>
    </p>

</div>
<include file="Public:footer" />