<include file="Public:header" />
<div class="content">
    <p class="header">
        <div><span class="title">類別 </span>{$eventInfo.category_names} </div>
        <div style="padding-bottom:3px"></div>
        <include file="Public:div_banner" />
    </p>
    <div class="title">{$eventInfo.name}</div>
	<table cellspacing="0" cellpadding="0">
		<tr><td class="label" >日期 :</td><td>{$eventInfo.date_range}</td></tr>
		<?php if ( $eventInfo['time_more'] ): ?><tr><td class="label" >活動詳情 :</td><td>{$eventInfo.time_more}</td></tr><?php endif; ?>
		<tr><td width="25%" class="label">地點 :</td><td>{$eventInfo.address}</td></tr>
		<tr><td class="label">地圖 :</td><td><a href="__ROOT__/event/view/map/1/event_id/{$eventInfo.event_id}">顯示地圖</a></td></tr>
		<?php if ( $eventInfo['creater_name'] ): ?><tr><td class="label" >主辦機構 :</td><td>{$eventInfo.creater_name}</td></tr><?php endif; ?>
		<?php if ( $eventInfo['telephone'] ): ?><tr><td class="label" >電話 :</td><td><a title="Call" href="tel:{$eventInfo.telephone}">{$eventInfo.telephone}</a></td></tr><?php endif; ?>
		<?php if ( $eventInfo['website'] ): ?><tr><td class="label" >網址 :</td><td><a href="{$eventInfo.website}">{$eventInfo.website}</a></td></tr><?php endif; ?>
		<?php if ( $eventInfo['price'] ): ?><tr><td class="label" >門票價格 :</td><td>{$eventInfo.price}</td></tr><?php endif; ?>
		<?php if ( $eventInfo['ticket_startdate'] ): ?><tr><td class="label" >何時售票 :</td><td>{$eventInfo.ticket_date}</td></tr><?php endif; ?>
		<?php if ( $eventInfo['ticket_phone'] ): ?><tr><td class="label" >售票電話 :</td><td><a title="Call" href="tel:{$eventInfo.ticket_phone}">{$eventInfo.ticket_phone}</a></td></tr><?php endif; ?>
		<?php if ( $eventInfo['ticket_website'] ): ?><tr><td class="label" >售票網址 :</td><td><a href="{$eventInfo.ticket_website}">{$eventInfo.ticket_website}</a></td></tr><?php endif; ?>
		<?php if ( $eventInfo['details'] ): ?><tr><td class="label" >簡介 :</td><td>{$eventInfo.details}</td></tr><?php endif; ?>
	</table>

	<?php if ( $eventInfo['is_main_event'] || $eventInfo['is_sub_event']||$eventInfo['picture_count'] ): ?><div class="line"></div><?php endif; ?>
	<if condition="$eventInfo['picture_count'] neq 0"><a href="__ROOT__/event/photo/event_id/{$eventInfo.event_id}">相片&gt;&gt;</a></if>
	<?php if ( $eventInfo['is_main_event'] || $eventInfo['is_sub_event'] ): ?>
		<?php if ( $eventInfo['parent_event_id'] ): ?>
			<a href="__ROOT__/event/view/event_id/{$eventInfo.parent_event_id}">相關節目&gt;&gt;</a>
		<?php else: ?>
			<a href="__ROOT__/event/subevent/event_id/{$eventInfo.event_id}">相關節目&gt;&gt;</a>
		<?php endif; ?>
	<?php endif; ?>
	<br/>
	<div class="line"></div>
    <font color="#e64c25"><b>評介</b></font><br />

	<if condition="$result_count">
		<p>
			<?php if ( $result_count < 5 ): ?>
					第 1 至 <?php echo $result_count ?> 間
				<?php elseif ( $result_count > 5 ): ?>
					第 <?php echo ($page-1)*$result_per_page > 0 ? ($page-1)*$result_per_page : 1 ?> 至 <?php echo $page*$result_per_page < $result_count ? $page*$result_per_page : $result_count ?> 篇
			<?php endif; ?>
			(共 <?php echo $result_count ?> 篇評介):
			<br />
			{$page|pagenation=$totalpage,###}
		</p>


		<iterate name="eventInfo.reviews" id="vo">
		<font color="#005a00"><b>{$vo.title}</b></font><br />{$vo.create_time}<br />
		{$vo.user_name}(共有{$vo.user_review_count}篇評介) <br />
		<br />
		{$vo.description}
		<br /><br />
		</iterate>

		<p>
			<?php if ( $result_count < 5 ): ?>
					第 1 至 <?php echo $result_count ?> 間
				<?php elseif ( $result_count > 5 ): ?>
					第 <?php echo ($page-1)*$result_per_page > 0 ? ($page-1)*$result_per_page : 1 ?> 至 <?php echo $page*$result_per_page < $result_count ? $page*$result_per_page : $result_count ?> 篇
			<?php endif; ?>
			(共 <?php echo $result_count ?> 篇評介):
			<br />
			{$page|pagenation=$totalpage,###}
		</p>
	<else />
		<p>沒有相關評介</p>
	</if>

    <br><a href="#top">返回最上</a><img src="__PUBLIC__/images/arrow_up.gif" alt="返回最上" /><br />
</div>
<include file="Public:footer" />