@charset "utf-8";


.ot_t_addinfo_is_audit0 td{
	background-color:#F2D6E0;
}
.ot_t_addinfo_is_audit1 td{
	background-color:#D6F2E6;
}
.ot_l_is_audit0{
	color:#FF0000;
	font-weight:bold;
}
.ot_l_is_audit1{
	color:#008800;
	font-weight:bold;
}