@charset "utf-8";

/* START: LISTING TABLE */
.pic_box{
	width:220px;
	height:220px;
	border:1px solid;
	margin-bottom:10px;
}
.pic_box .files{
	width:200px;
	height:180px;
}
.pic_box .upload{	
	text-align:center;
	cursor:pointer;
}
.pic_box .deletepic{
	text-align:center;
	cursor:pointer;
}
.pic_box .hidden_file_path{
	display:none;
}
.pic_box .image{
	width:100%;
}

/* END: LISTING TABLE */