@charset "utf-8";

/* START: LISTING TABLE */
.ot_t_add_edit_table {
	width:100%;
}
.ot_t_add_edit_table #col01{
	width:20%;
	padding-bottom:10px;
}
.ot_t_add_edit_table #col02{
	width:30%;
	padding-bottom:10px;
}
.ot_t_add_edit_table #col03{
	width:30%;	
	padding-bottom:10px;
}
.ot_t_add_edit_table #col04{
	width:20%;
	color:#777;
	padding-left:5px;
	padding-bottom:10px;
}
/* END: LISTING TABLE */