@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 13px;
	font-family: Arial, MingLiu, Helvetica, sans-serif;
	background: transparent;
}
#ot_d_body_wrapper {
	width: 980px;
	margin: 0 auto;
	background-color:#FFF;
}
.ot_d_clearBoth { clear: both; height: 0px; font-size: 0px; line-height: 0px; }
a, a:hover, a:link, a:visited, a:active {
	text-decoration: none;
}
.ot_d_nav {float:right;height:30px;}
a:hover {
	text-decoration: underline;
}

label.error { display: block; color: red; font-weight: bold; text-align: left; padding: 2px; }

/* START: BODY HEADER */
.ot_d_body_header {
	width:100%;
	background-image: url(../images/globalheader.png);
	background-repeat:repeat-x;
}
.ot_d_body_header #ot_d_body_header_middle {
	float:left;
	padding:5px;
	margin-top:50px;
}
.ot_d_body_header #ot_d_body_header_middle span{
	font-size: 23px;
	font-weight:bold;
	color: #FFF;
}
.ot_d_body_header #ot_d_body_header_left {
	float:left;
	padding-top:5px;
	cursor:pointer;
}
.ot_d_body_header #ot_d_body_header_right {
	float:right;
	height:10px;
	padding:60px 10px 10px 5px;
}
/* END: BODY HEADER */

/*START FOOTER*/
.ot_d_footer{
	height:20px;
	width:100%;
	background-image: url(../images/footer.png);
	text-align:center;
	color:#FFF;
}
/*END FOOTER*/

/* START: BODY CONTENT */
.ot_d_body_content {
	background-color:#d2d5da;
}
.ot_d_body_content #ot_d_body_content_left {
	float: left;
	width: 150px;
	min-height: 600px;
}
.ot_d_body_content #ot_d_body_content_left #ot_d_leftMenu #link{
	margin: 15px 0px 30px 20px;;
}
.ot_d_body_content #ot_d_body_content_left #ot_d_leftMenu #link a {
	background-image: url(../images/icon_arrow.gif);
	background-repeat:no-repeat;
	text-align:left;
	font-size:16px;
	padding-left:20px;
	color:#000000;
}
.ot_d_body_content #ot_d_body_content_left #ot_d_leftMenu #link a:hover {
	background-image: url(../images/icon_arrow_over.gif);
	background-repeat:no-repeat;
	text-align:left;
	font-size:16px;
	padding-left:20px;
	color:#06C;
	text-decoration: none;
}
#ot_d_leftMenu .bold{
	font-weight:bold;
}
.ot_d_body_content #ot_d_body_content_right {
	float: right;
	width: 800px;
	min-height: 580px;
	padding: 15px;
	background-color:#ffffff;
}
/* END: BODY CONTENT */

/* START: ADD/ EDIT TABLE */
.ot_t_add_edit_table {
	width:100%;
}
.ot_t_add_edit_table #col01{
	width:20%;
	padding-bottom:10px;
}
.ot_t_add_edit_table #col02{
	width:25%;
	padding-bottom:10px;
}
.ot_t_add_edit_table #col03{
	width:25%;
	padding-bottom:10px;
}
.ot_t_add_edit_table #col04{
	width:20%;
	color:#777;
	padding-left:5px;
	padding-bottom:10px;
}
.ot_t_add_edit_table #col_spec{
	padding-bottom:10px;
}
/* END: ADD/ EDIT TABLE */

/* START: LISTING TABLE */
.ot_t_listing_table {
	width:100%;
}
.ot_t_listing_table #title{
	padding:5px;
	text-align:left;
}
.ot_t_listing_table #row{
	padding:5px;
	border-bottom:1px #ccc solid;
}
.ot_t_listing_table #row_spec{
	padding:20px 5px 0px 5px;
	text-align:right;
}
.ot_t_listing_table .selrow{
	cursor:pointer;
}
.ot_t_listing_table .selrow:hover{
	background:#CCC;
}
.ot_t_listing_table .selrow.selected td{
/*	background:#69F;*/
	background:#FC3;	
}
.ot_t_listing_table .selrow.selerror td{
	background:#F00;
	color:#FFF;
}
/* END: LISTING TABLE */

/* START : BUTTON */
.btn01{
	border:0px;
	color:#FFF;
	width:50px;
	height:22px;
	font-size:12px;
	background-position: 0px 0px;
	background-image: url(../images/buttons/button.jpg);
}
.btn01:hover{
	background-image: url(../images/buttons/button.jpg);
	background-position: 0px 22px;
	cursor:pointer;
}
.btn01_long{
	border:0px;
	color:#FFF;
	width:100px;
	height:22px;
	font-size:12px;
	background-position: 0px 0px;
	background-image: url(../images/buttons/button1.jpg);
}
.btn01_long:hover{
	background-image: url(../images/buttons/button1.jpg);
	background-position: 0px 22px;
	cursor:pointer;
}
.btn02{
	border:0px;
	color:#FFF;
	width:50px;
	height:22px;
	font-size:12px;
	background-position: 0px 0px;
	background-image: url(../images/buttons/button2.jpg);
}
.btn02:hover{
	background-image: url(../images/buttons/button2.jpg);
	background-position: 0px 22px;
	cursor:pointer;
}
.btn02_long{
	border:0px;
	color:#FFF;
	width:100px;
	height:22px;
	font-size:12px;
	background-position: 0px 0px;
	background-image: url(../images/buttons/button3.jpg);
}
.btn02_long:hover{
	background-image: url(../images/buttons/button3.jpg);
	background-position: 0px 22px;
	cursor:pointer;
}
.btn02_xlong{
	border:0px;
	color:#FFF;
	width:120px;
	height:22px;
	font-size:12px;
	background-position: 0px 0px;
	background-image: url(../images/buttons/button4.jpg);
}
.btn02_xlong:hover{
	background-image: url(../images/buttons/button4.jpg);
	background-position: 0px 22px;
	cursor:pointer;
}
.btn03{
	border:0px;
	color:#FFF;
	width:100px;
	height:22px;
	font-size:14px;
	background-image: url(../images/btn02_g.jpg);
	background-repeat:repeat-x;
}
.btn03:hover{
	background-image: url(../images/btn02_over.jpg);
	background-repeat:repeat-x;
	cursor:pointer;
}
/* END : BUTTON */

/* START : LOGIN BOX */
.ot_d_login_box_body {
	padding: 60px 0px;
	height: 320px;
}
.ot_login_box {
	width:350px;
	padding: 20px 0px 20px 0px;
	border: #C0C0C0 solid 1px;
	text-align:center;
}
.ot_login_box .input {
	width: 200px;
}
/* END : LOGIN BOX */