@charset "utf-8";

/* START: MENU*/
.ot_d_body_header .ot_menu {
	height: 46px;
	background: url(../images/nav.jpg) top left;
}
.ot_d_body_header .nobrand {
	height: 46px;
	background: url(../images/nav_nobrand.jpg) top left;
}
.ot_menu ul {
	display: block;
	height: 46px;
	width: 800px;
}
.ot_menu ul li {
	display: block;
	float: left;
	height: 46px;
}
.ot_menu ul li a {
	display: block;
	height: 46px;
	background-image: url(../images/nav.jpg);
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.ot_menu ul li.ot_menu_sec01 a	{ background-position: 0px 0px; width: 91px; }
.ot_menu ul li.ot_menu_sec02 a	{ background-position: -91px 0px; width: 91px; }
.ot_menu ul li.ot_menu_sec03 a	{ background-position: -183px 0px; width: 91px; }
.ot_menu ul li.ot_menu_sec04 a	{ background-position: -275px 0px; width: 122px; }
.ot_menu ul li.ot_menu_sec05 a	{ background-position: -397px 0px; width: 91px; }

.ot_menu ul li.ot_menu_sec01 a:hover	{ background-position: 0px -46px; }
.ot_menu ul li.ot_menu_sec02 a:hover	{ background-position: -91px -46px; }
.ot_menu ul li.ot_menu_sec03 a:hover	{ background-position: -183px -46px; }
.ot_menu ul li.ot_menu_sec04 a:hover	{ background-position: -275px -46px; }
.ot_menu ul li.ot_menu_sec05 a:hover	{ background-position: -397px -46px; }

.ot_menu ul li.ot_menu_sec01 a.current	{ background-position: 0px -46px; }
.ot_menu ul li.ot_menu_sec02 a.current	{ background-position: -91px -46px; }
.ot_menu ul li.ot_menu_sec03 a.current	{ background-position: -183px -46px; }
.ot_menu ul li.ot_menu_sec04 a.current	{ background-position: -275px -46px; }
.ot_menu ul li.ot_menu_sec05 a.current	{ background-position: -397px -46px; }

.ot_menu ul li.ot_menu_sec01 a.current:hover	{ background-position: 0px -46px; }
.ot_menu ul li.ot_menu_sec02 a.current:hover	{ background-position: -91px -46px; }
.ot_menu ul li.ot_menu_sec03 a.current:hover	{ background-position: -183px -46px; }
.ot_menu ul li.ot_menu_sec04 a.current:hover	{ background-position: -275px -46px; }
.ot_menu ul li.ot_menu_sec05 a.current:hover	{ background-position: -397px -46px; }*/
/* END: MENU*/