@charset "utf-8";

/*About us Box*/
#aboutus-box {
}

#aboutus-box .header1{
	width:120px;
	height: 39px;
	float:left;
	background-image: url(../images/backgrounds/boxes/header/aboutus-box1.gif);
	background-repeat:no-repeat;
}
#aboutus-box .header2 {
	float:left;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/aboutus-box2.gif);
	width:666px;
}
#aboutus-box .header3 {
	float:left;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/aboutus-box3.gif);
	width:6px;
}

#aboutus-box .content {	
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	width:770px;
	border-left:1px solid #d7e9fc;
	border-right:1px solid #d7e9fc;
}

#aboutus-box .footer1 {
	float:left;
	width:3px;
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/aboutus-box1.gif);
}
#aboutus-box .footer2{
	float:left;
	width:786px;
	height: 2px;
	border-bottom:1px solid #d7e9fc;
}
#aboutus-box .footer3{
	float:left;
	width:3px;
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/aboutus-box2.gif);
}
/*END: About us Box */

#contactus-box {
	margin-top:15px;
}

#contactus-box .header1{
	width:120px;
	height: 39px;
	float:left;
	background-image: url(../images/backgrounds/boxes/header/contactus-box1.gif);
	background-repeat:no-repeat;
}
#contactus-box .header2 {
	float:left;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/aboutus-box2.gif);
	width:666px;
}
#contactus-box .header3 {
	float:left;
	height: 39px;
	background-image: url(../images/backgrounds/boxes/header/aboutus-box3.gif);
	width:6px;
}

#contactus-box .content {	
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	width:770px;
	border-left:1px solid #d7e9fc;
	border-right:1px solid #d7e9fc;
}

#contactus-box .footer1 {
	float:left;
	width:3px;
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/aboutus-box1.gif);
}
#contactus-box .footer2{
	float:left;
	width:786px;
	height: 2px;
	border-bottom:1px solid #d7e9fc;
}
#contactus-box .footer3{
	float:left;
	width:3px;
	height: 3px;
	background-image: url(../images/backgrounds/boxes/footer/aboutus-box2.gif);
}