@charset "utf-8";

/* START: LISTING TABLE */
.ot_t_review_listing_table {
	width:100%;
}
.ot_t_review_listing_table .title{
	padding:5px;
	text-align:left;
}
.ot_t_review_listing_table .row{
	padding:5px;
	border-bottom:1px #ccc solid;
}
.ot_t_review_listing_table .row div{
	cursor:pointer;
}
.ot_t_review_listing_table .row_spec{
	padding:20px 5px 0px 5px;
	text-align:right;
}
/* END: LISTING TABLE */