@charset "utf-8";

/* START: LISTING TABLE */
.ot_t_shopnews_listing_table {
	width:100%;
}
.ot_t_shopnews_listing_table .title{
	padding:5px;
	text-align:left;
}
.ot_t_shopnews_listing_table .row1{
	padding:5px;	
}
.ot_t_shopnews_listing_table .row2{
	padding:5px;
	border-bottom:1px #ccc solid;
}
.ot_t_shopnews_listing_table .row div{
	cursor:pointer;
}
.ot_t_shopnews_listing_table .row_spec{
	padding:20px 5px 0px 5px;
	text-align:right;
}
.ot_t_shopnews_is_audit0 td{
	background-color:#F2D6E0;
}
.ot_t_shopnews_is_audit1 td{
	background-color:#D6F2E6;
}
.ot_l_is_audit0{
	color:#FF0000;
	font-weight:bold;
}
.ot_l_is_audit1{
	color:#008800;
	font-weight:bold;
}
/* END: LISTING TABLE */

/*Edit news*/

.ot_t_news_add_edit_table {
	width:100%;
}
.ot_t_news_add_edit_table .title{
	padding:5px;
	text-align:left;
}
.ot_t_shopnews_listing_table .row{
	padding:5px;	
}
.ot_t_news_add_edit_table #col01{
	width:20%;
	padding-bottom:10px;
	text-align:left;
}
.ot_t_news_add_edit_table #col02{
	width:60%;
	padding-bottom:10px;
}
.ot_t_news_add_edit_table #col03{
	width:0%;	
	padding-bottom:10px;
}
.ot_t_news_add_edit_table #col04{
	width:20%;
	color:#777;
	padding-left:5px;
	padding-bottom:10px;
}

/*End Edit news*/