{include:Public:sa-header}

<script>
</script>

<div class="container">
	<h3>列表(<a href="__URL__/add/" class="green">新增頭版商戶</a>)</h3>
	<div class="mainbox">
		<table class="datalist fixwidth">
			<tr>
				<th></th>
				<th></th>
				<th>ID</th>
				<th>標題</th>
				<th>簡介</th>
				<th>按鈕</th>
				<th>類別</th>
				<th>商戶</th>
				<th>刊登日期</th>
				<th></th>
			</tr>
			<?php foreach ( $rows AS $row ): ?>
				<tr>
					<td>
                        <?php if ( $row[ 'hidden' ] ): ?>
                            <a href="javascript:;" onclick="doVisible( '<?php echo $row[ 'id' ] ?>' );">隱藏</a>
                        <?php else: ?>
                            <a href="javascript:;" onclick="doHidden( '<?php echo $row[ 'id' ] ?>' );">顯示</a>
                        <?php endif;?>
					</td>
					<td>
						<a href="javascript:;" onclick="doDelete( '<?php echo $row[ 'id' ] ?>' );">刪除</a>
					</td>
					<td><?php echo $row[ 'id' ] ?></td>
					<td><?php echo $row[ 'title' ] ?></td>
					<td><?php echo $row[ 'description' ] ?></td>
					<td><?php echo $row[ 'button' ] ?></td>
					<td><?php echo $row[ 'category' ][ 'name' ] ?> (<?php echo $row[ 'category' ][ 'english_name' ] ?>)</td>
					<td>
						<?php foreach ( $row[ 'shops' ] AS $shop ): ?>
							<?php echo $shop[ 'name' ] ?><br/>
						<?php endforeach; ?>
					</td>
					<td><?php echo $row[ 'published_at' ] ?></td>
					<td><a href="__URL__/edit?id=<?php echo $row[ 'id' ] ?>">修改</a></td>
				</tr>
			<?php endforeach; ?>
			<tr class="nobg">
				<td class="tdpage" colspan="9">{$multipage}</td>
			</tr>
		</table>
	</div>

</div>

<script>
	function doDelete( id )
	{
		if ( confirm( 'Confirm Delete?' ) )
		{
			$.post( '__APP__/app_featured/delete', { id: id }, function() {
				location.reload();
			} );
		}
	}
	function doHidden( id )
	{
		if ( confirm( 'Confirm make it to be hidden?' ) )
		{
			$.post( '__APP__/app_featured/hidden', { id: id }, function() {
				location.reload();
			} );
		}
	}
	function doVisible( id )
	{
		if ( confirm( 'Confirm make it to be visible?' ) )
		{
			$.post( '__APP__/app_featured/visible', { id: id }, function() {
				location.reload();
			} );
		}
	}
</script>

{include:Public:sa-footer}