{include:Public:sa-header}
<style>

	.formTable {
		width: 100%;
	}
	.formTable th {
		width: 20%;
	}
	.formTable td {
		width: 80%;
	}
	.formInput {
		width: 100%;
	}
	.formSmallInput {
		width: 20%;
	}
	textarea.formInput {
		height: 150px;
	}

	.map {
		width: 100%;
		height: 350px;
		position: relative;
	}
	.map .topBar {
		position: absolute;
		top: 6px;
		left: 42px;
		z-index: 999;
		background-color: #FFFFFF;
		padding: 5px;
		border: 1px solid #CCC;
	}
	.map .bottomBar {
		position: absolute;
		bottom: 6px;
		left: 6px;
		z-index: 999;
		background-color: #FFFFFF;
		padding: 5px;
		border: 1px solid #CCC;
	}
	.map .canvas {
		width: 100%;
		height: 100%;
	}

	ul.photoUploadContainer {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li.photoUploadItem {
		position: relative;
		display: inline-block; *display: inline; zoom: 1;
		width: 150px;
		padding: 5px;
		border: 1px solid #CCC;
		margin: 5px 5px 0px 0px;
		background-color: #FFFFFF;
		cursor: move;
	}
	li.photoUploadItem img {
		width: 100%;
	}
	li.photoUploadItem span {
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 5px;
		border: 1px solid #CCC;
		background-color: #FFFFFF;
		cursor: pointer;
	}

</style>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-timepicker-1.5/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ajaxupload.js"></script>


<script type="text/javascript">
	$( document ).ready( function() {
		var validator = $( '#theform' ).validate( {
			rules: {
				'title': { required: true },
				'description': { required: true },
				'button': { required: true },
				'category_id': { required: true },
				'published_at': { required: true }
			},
			messages: {
				'title': { required: '標題是必須' },
				'description': { required: '簡介是必須' },
				'button': { required: '按鈕是必須' },
				'category_id': { required: '類別是必須' },
				'published_at': { required: '刊登日期是必須' }
			},
			errorPlacement: function( error, element )
			{
				error.appendTo( element.closest( 'td' ) );
			},
			submitHandler: function( form )
			{
				form.submit();
			}
		} );
	} );
</script>

<div class="container">
	<h3>新增/修改頭版商戶</h3>
	<div class="mainbox">
		<form id="theform" method="POST" onsubmit="return false;">
			<table class="formTable" cellspacing="0" cellpadding="5">
				<tr>
					<th><label><b>*</b> 標題:</label></th>
					<td><textarea class="formInput" name="title"></textarea></td>
				</tr>
				<tr>
					<th><label><b>*</b> 簡介</label></th>
					<td><textarea class="formInput" name="description"></textarea></td>
				</tr>
				<tr>
					<th><label><b>*</b> 按鈕:</label></th>
					<td><textarea class="formInput" name="button"></textarea></td>
				</tr>
				<tr>
					<th><label><b>*</b> 類別:</label></th>
					<td>
						<select name="category_id">
							<option value=""> - </option>
							<?php foreach ( $categories AS $category ): ?>
								<option value="<?php echo $category[ 'id' ] ?>"><?php echo $category[ 'name' ] ?> (<?php echo $category[ 'english_name' ] ?>)</option>
							<?php endforeach; ?>
						</select>
					</td>
				</tr>
				<tr>
					<th><label>&nbsp; 語言:</label></th>
                    <td>
                        <label>
                            <input type="radio" name="lang" value="zh"/> 中文
                        </label>
                        <label>
                            <input type="radio" name="lang" value="en"/> 英文
                        </label>
                    </td>
				</tr>
				<tr>
					<th><label>&nbsp; 商戶:</label></th>
                    <td>
                        #<input class="formSmallInput" type="text" name="shop_ids[]"/><br/>
                        #<input class="formSmallInput" type="text" name="shop_ids[]"/><br/>
                        #<input class="formSmallInput" type="text" name="shop_ids[]"/><br/>
                    </td>
				</tr>
				<tr>
					<th><label>&nbsp; 刊登日期</label></th>
					<td><input class="formInput" type="text" name="published_at" id="published_at" /></td>
				</tr>
				<tr>
					<th></th>
					<td><button type="submit">新增/修改</button></td>
				</tr>
			</table>
		</form>

	</div>

</div>

<script>

	$( '#published_at' )
			.datetimepicker( { dateFormat: "yy-mm-dd", timeFormat: "HH:mm:ss" } );

	new AjaxUpload( $( '.photoUploadButton' ).get( 0 ), {
		action: '__APP__/app_featured/doUploadPhoto',
		name: 'image',
		onComplete: function( file, response )
		{
			var json = $.parseJSON( response );
			var file = json.file;

			$( '<li class="photoUploadItem"></li>' )
					.appendTo( '.photoUploadContainer' )
					.append( '<input type="hidden" name="photos[]" value="' + file + '"/>' )
					.append( '<img src="<?php echo C( "OUTSTREET_DIR" ); ?>/Public/tmp/small_' + file + '"/>' )
					.append( $( '<span>X</span>' ).click( function() {
						var $this = $( this );
						$.post( '__APP__/app_featured/doDeletePhoto', { filename: file }, function() {
							$this.parent().remove();
						} );
					} ) )
					.append( '<label><input type="radio" name="cover_file" value="' + file + '"/> 封面</label>' );
		}
	} );

	$( '.photoUploadContainer' ).sortable();
	$( '.photoUploadContainer' ).disableSelection();

</script>

<?php foreach ( array( 'published_at' ) AS $name ): ?>
	<script>
		( function() {
			var values = <?php echo json_encode( array( $featured[ $name ] ) ) ?>;
			$( 'input[name=<?php echo $name ?>]' ).val( values[0] );
		}() );
	</script>
<?php endforeach; ?>

<?php foreach ( array( 'lang' ) AS $name ): ?>
	<script>
		( function() {
			var values = <?php echo json_encode( array( $featured[ $name ] ) ) ?>;
			$( 'input[name=<?php echo $name ?>]' ).val( [ values[0] ] );
		}() );
	</script>
<?php endforeach; ?>

<?php foreach ( array( 'title', 'description', 'button' ) AS $name ): ?>
	<script>
		( function() {
			var values = <?php echo json_encode( array( $featured[ $name ] ) ) ?>;
			$( 'textarea[name=<?php echo $name ?>]' ).val( values[0] );
		}() );
	</script>
<?php endforeach; ?>

<?php foreach ( $featured[ 'shops' ] AS $index => $shop ): ?>
	<script>
		( function() {
			var values = <?php echo json_encode( array( $shop[ 'id' ] ) ) ?>;
			$( 'input[name="shop_ids[]"]:eq(<?php echo $index ?>)' ).val( values[0] );
		}() );
	</script>
<?php endforeach; ?>

<?php foreach ( array( 'category_id' ) AS $name ): ?>
	<script>
		$( 'select[name=<?php echo $name ?>]' ).val( '<?php echo addslashes( $featured[ $name ] ) ?>' );
	</script>
<?php endforeach; ?>

{include:Public:sa-footer}