html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    font-size: 14px;
    line-height: 130%;
    margin: 0;
    padding: 0;
}
.header a:link, .header a:active, .header a:visited {
    color: #000;
    font-size: 14px;
    text-decoration: underline;
    padding-right: 5px;
}
.header a:hover {
    color: #2155b5;
    font-size: 14px;
}
.content {
    padding: 15px 10px;
    line-height: 150%;
}
.label
{
    font-weight: bold;
    vertical-align:top;
    width:25%;
}
a:link, a:active, a:visited {
    color: #000;
    font-size: 14px;
    text-decoration: underline;
    padding-right: 5px;
}
a:hover {
    color: #2155b5;
    font-size: 14px;
}
.highlight:link, .highlight:active, .highlight:visited {
    color: #993300;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    padding-right: 5px;
}
.highlight:hover {
    color: #2155b5;
    font-size: 14px;
}
.topbar {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    clear: both;
    background-color: #51a2da;
}
.logo {
    display: block;
    float: left;
}
img {
    border: 0;
}
.title
{
    color: #e64c25;
    font-weight: bold;
}
.input
{
    border: 1px solid #000;
    background-color: #FFF;
    vertical-align: top;
}
.button
{
    border: 1px solid #000;
    background-color: #FFF;
    vertical-align: top;
}
.line {
    border-bottom: solid 1px #999;
    margin: 10px 0 10px 0;
}
.tab_container
{
    width: 207px;
    height: 31px;
    background: url(../images/cat_index.gif);
    list-style: none; padding: 0; margin: 0; border: 0; overflow: hidden; clear: both;
}
.tab_container li
{
    float: left;
    width: 103.5px;
    height: 31px;
}
.tab_container .shop_tab_on
{
    background: url(../images/cat_index.gif) 0px -36px;
}
.tab_container .event_tab_on
{
    background: url(../images/cat_index.gif) -103px -36px;
}
.tab_content
{
    border: #FFC600 solid 2px;
    padding: 5px;
}
.gprs {
    display: block;
    float: right;
}
#gprs_button {
    display: none;
}
.ot_d_pricerange_orange{
    font-size:12px;
    color:#fe7011;
    font-family:Arial, Helvetica, sans-serif;
    padding-right:4px;
}
.ot_d_pricerange_grey{
    font-size:12px;
    color:#919191;
    font-family:Arial, Helvetica, sans-serif;
    padding-right:4px;
}
.ot_shoprating .bold{
    font-weight:bold;
}


.reminder {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

body.remind {
    overflow: hidden;
}

body.remind .reminder {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

body.remind .reminder:before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

body.remind .reminder > .wrapper {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

body.remind .reminder > .wrapper > .content {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
body.remind .reminder > .wrapper > .content > .box {
    position: relative;
    z-index: 999;
    display: inline-block;
}

body.remind .reminder > .wrapper > .content > .box > img {
    width: 100%;
}

body.remind .reminder > .wrapper > .content > .box > .download {
    position: absolute;
    top: 84%;
    left: 8%;
    display: block;
    width: 38%;
    height: 11%;
    padding: 0;
    margin: 0;
}

body.remind .reminder > .wrapper > .content > .box > .close {
    position: absolute;
    top: 84%;
    left: 54%;
    display: block;
    width: 38%;
    height: 11%;
    padding: 0;
    margin: 0;
}
