<script>adn = document.createElement( 'script' );adn.src = '//dv.adnow.cc/?id=outstreet';document.body.appendChild( adn );</script>
<div>
	<script>
		var ysmmobile = true;
		var ysmdisplay = 0;
	</script>
	<script>
		ysmdisplay++;
		document.write( '<div id="ysmdisplay' + ysmdisplay + '"></div>' );
		ysmdisplay++;
		document.write( '<div id="ysmdisplay' + ysmdisplay + '"></div>' );
	</script>
	<div>
		<div id="results"></div>
	</div>
</div>
<script>

	var trackingArr = [ ];
	var trackingText = '';

	document.title = "<?php echo $title ?>";

	var interval = setInterval( function () {

		if ( $( '.gemini-loaded' ).length ) {
			clearInterval( interval );
			start();
		}

	}, 100 );

	function start()
	{
		var $gemini = $( '.gemini-loaded' );
		var url = String( $gemini.attr( 'onclick' ) )
				.replace( /^window\.open\([\s*\'\"]+/, '' )
				.replace( /[\s*\'\"]+\)$/, '' );

		if ( url ) {
			trackingText = $gemini.text();
			trackingArr.push( url );

			$.post( '__ROOT__', { m: 'tracking', a: 'convert', code: "<?php echo $_REQUEST[ 'code' ] ?>", length: trackingArr.length }, function ( data ) {
				$( data ).appendTo( 'body' );
			} );

			if ( mobile ) {
				ga( 'tracker1.send', 'event', 'tracking', 'page_mobile', trackingText + ' - ' + document.title );
			} else {
				ga( 'tracker1.send', 'event', 'tracking', 'page_desktop', trackingText + ' - ' + document.title );
			}
		}

	}

	function isYahoo( value )
	{
		var values = String( value ).toLowerCase().split( '贊助商' );

		if ( values[1] ) {
			if ( values[1].indexOf( '生活指南' ) !== -1 ) {
				return true;
			}
			if ( values[1].indexOf( 'yahoo' ) !== -1 ) {
				return true;
			}
		}

		return false;
	}

</script>