<table width="750px" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="width:180px;height:67px;">EDM0002</td>
    <td style="width:570px;height:67px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" /></td>
  </tr>
  <tr>
    <td colspan="2" style="padding:12px;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="3"><p style="font-size:12px;text-align:right;color:#333;margin: 0px 0px 12px 0px;">30/12/2010</p></td>
          </tr>
          <tr>
            <td style="width:414px;vertical-align:top;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#e0e0e0;border:1px solid #e0e0e0;">
                  <tr>
                    <td style="background-color:#e0e0e0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/article.jpg" alt="" /></td>
                        <td><p style="text-align:right;vertical-align:middle;margin: 0px 8px 0px 0px;"><a href="http://www.outstreet.com.hk/poster/listAll/"  target="_blank" style="font-size:12px;text-decoration:none;color:#333333;">更多</a></p></td>
                      </tr>
                    </table></td>
                    </tr>
                  <tr>
                    <td style="width:160px;background-color:#FFF;vertical-align:top;"><a href="#" target="_blank" style="display: block;padding:8px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/article_content.gif" border="0"/></a></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td style="height:12px;"></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e0e0e0;background-color:#e0e0e0;">
                  <tr>
                    <td style="background-color:#e0e0e0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/event.jpg" alt="" /></td>
                        <td><p style="text-align:right;vertical-align:middle;margin: 0px 8px 0px 0px;"><a href="http://www.outstreet.com.hk/event" target="_blank" style="font-size:12px;text-decoration:none;color:#333333;">更多</a></p></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td style="background-color:#FFF;vertical-align:top;padding: 0px 8px 8px 8px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="width:80px;height:80px;vertical-align:top;">
                            	<a href="#" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" width="80" height="60" border="0"/></a></td>
                            <td style="vertical-align:top;">
                            	<a href="#" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          		<p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">館藏之最 - 聯合國教科文組織 「世界視聽遺產日..</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;"><font color="#660000">免費入場</font><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line2.jpg" border="0"/>星期五、星期六、星期日</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">愛情到底是什麼？是怎麼發生的呢？古人無法解釋此人生中最纏繞的現象，就借助神話。神話是人類的...</p></a>
                            </td>
                          </tr>
                        </table>
                  		<p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="82" style="width:80px;height:80px;vertical-align:top;">
                            	<a href="#" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" width="80" height="60" border="0"/></a></td>
                            <td width="314" style="vertical-align:top;">
                            	<a href="#" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          		<p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">館藏之最 - 聯合國教科文組織 「世界視聽遺產日..</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">星期五、星期六</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">加場1月4日至6日。</p></a>
                            </td>
                          </tr>
                        </table>
                    	<p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="width:80px;height:80px;vertical-align:top;">
                            	<a href="#" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" width="80" height="60" border="0"/></a></td>
                            <td style="vertical-align:top;">
                            	<a href="#" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          		<p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">曹格Gary Chaw Sensation World Tour 2010</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;"><font color="#660000">免費入場</font><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line2.jpg" border="0"/>星期五</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">優先訂購階段到9月29日</p></a>
                            </td>
                          </tr>
                        </table>
                        <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="width:80px;height:80px;vertical-align:top;">
                            	<a href="#" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" width="80" height="60" border="0"/></a></td>
                            <td style="vertical-align:top;">
                            	<a href="#" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          		<p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">2011香港藝術節-《聖荷西謀殺案》</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">星期五、星期六、星期日</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">由香港藝術節委約及製作的《聖荷西謀殺案》首演及重演，均叫好叫座，無可置疑已成為香港的戲劇經 ...</p></a>
                            </td>
                          </tr>
                        </table>
                    </td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td style="height:12px;"></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e0e0e0;background-color:#e0e0e0;">
                  <tr>
                    <td style="background-color:#e0e0e0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/specialoffer.jpg" alt="" /></td>
                        <td><p style="text-align:right;vertical-align:middle;margin: 0px 8px 0px 0px;"><a href="http://www.outstreet.com.hk/offer" target="_blank" style="font-size:12px;text-decoration:none;color:#333333;">更多</a></p></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td style="background-color:#FFF;vertical-align:top;padding: 0px 8px 8px 8px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="width:80px;height:80px;vertical-align:top;"><a href="#" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" width="80" height="60" border="0"/></a></td>
                        <td style="vertical-align:top;"><a href="#" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          <p style="font-size:13px;font-weight:bold;color:#003300;margin: 0px 0px 1px 0px;">館藏之最 - 聯合國教科文組織 「世界視聽遺產日..</p>
                          <p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">生力啤酒</p>
                          </a></td>
                      </tr>
                    </table>
                      <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="82" style="width:80px;height:80px;vertical-align:top;"><a href="#" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" width="80" height="60" border="0"/></a></td>
                          <td width="314" style="vertical-align:top;"><a href="#" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          <p style="font-size:13px;font-weight:bold;color:#003300;margin: 0px 0px 1px 0px;">你頑皮?一面vs你乖巧?一面 有機會送你「健達繽紛樂電車Party」(店舖優惠)</p>
                          <p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">GARNIER</p>
                          </a></td>
                        </tr>
                      </table>
                      <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="width:80px;height:80px;vertical-align:top;"><a href="#" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" width="80" height="60" border="0"/></a></td>
                          <td style="vertical-align:top;"><a href="#" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          <p style="font-size:13px;font-weight:bold;color:#003300;margin: 0px 0px 1px 0px;">Citibank 信用卡 - 惠顧滿HK$250 可享9折優惠/獲贈瑞士雞翼 6隻Citibank 信用卡 - 惠顧...(大減價)</p>
                          <p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">Kinder Bueno</p>
                          </a></td>
                        </tr>
                      </table>
                      <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="width:80px;height:80px;vertical-align:top;"><a href="#" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" width="80" height="60" border="0"/></a></td>
                          <td style="vertical-align:top;"><a href="#" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          <p style="font-size:13px;font-weight:bold;color:#003300;margin: 0px 0px 1px 0px;">美食 x 旅遊獎賞(店舖優惠)</p>
                          <p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">Duke's Deli</p>
                          </a></td>
                        </tr>
                      </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td style="width:12px;">&nbsp;</td>
            <td style="width:300px;vertical-align:top;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e0e0e0;background-color:#e0e0e0;">
                  <tr>
                    <td style="background-color:#e0e0e0;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/news.jpg" alt="" /></td>
                  </tr>
                  <tr>
                    <td style="background-color:#FFF;padding: 0px 8px 8px 8px;"><p style="font-size:13px;color:#333333;margin: 6px 0px 0px 0px;">商戶頁面加入?新功能，可以自由編輯資料、加入相片同埋即時睇到同類商戶。為求令大家用起來方便?！</p>
                    <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                    <p style="font-size:13px;margin: 6px 0px 0px 0px;color:#333333;">多謝大家俾意見！ OutStreet最新版面同大家見面喇，唔知你地鍾唔鍾意呢？</p></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td style="height:12px;"></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e0e0e0;background-color:#e0e0e0;">
                  <tr>
                    <td style="background-color:#e0e0e0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/review.jpg" alt="" /></td>
                        <td><p style="text-align:right;vertical-align:middle;margin: 0px 8px 0px 0px;"><a href="http://www.outstreet.com.hk/review/index/search_shop/true/search_event/true/search_promo/true/" target="_blank" style="font-size:12px;text-decoration:none;color:#333333;">更多</a></p></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td style="background-color:#FFF;vertical-align:top;padding: 0px 8px 8px 8px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="width:80px;height:80px;vertical-align:top;"><a href="#" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" width="80" height="60" border="0"/></a></td>
                        <td style="vertical-align:top;"><a href="#" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          <p style="font-size:13px;color:#333;margin: 0px 0px 1px 0px;"><font color="#2155b5">李奇</font> 對 <font color="#2155b5" style="font-weight:bold;">香港國際古玩及藝術品博覽會Fine Art Asia 2010</font>的評介：上個星期六夜晚去海洋公園，差唔多夜晚8點半先去到，去到個場根本無乜人。 夜晚又涼爽，所以成個鬧鬼過程感覺好舒服輕鬆。之前就已經聽聞過&ldquo;一人火葬場&rdquo;，要逐個人入場，一個人訓一個棺材，聽落都幾得人驚。 &ldquo;一人火葬場&rdquo;。</p>
                        </a></td>
                      </tr>
                    </table>
                      <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="82" style="width:80px;height:80px;vertical-align:top;"><a href="#" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" width="80" height="60" border="0"/></a></td>
                          <td width="314" style="vertical-align:top;"><a href="#" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          <p style="font-size:13px;color:#333;margin: 0px 0px 1px 0px;"><font color="#2155b5">李奇</font> 對 <font color="#2155b5" style="font-weight:bold;">香港國際古玩及藝術品博覽會Fine Art Asia 2010</font>的評介：上個星期六夜晚去海洋公園，差唔多夜晚8點半先去到，去到個場根本無乜人。 夜晚又涼爽，所以成個鬧鬼過程感覺好舒服輕鬆。之前就已經聽聞過&ldquo;一人火葬場&rdquo;，要逐個人入場，一個人訓一個棺材，聽落都幾得人驚。 &ldquo;一人火葬場&rdquo;。</p>
                          </a></td>
                        </tr>
                      </table>
                      <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="width:80px;height:80px;vertical-align:top;"><a href="#" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" width="80" height="60" border="0"/></a></td>
                          <td style="vertical-align:top;"><a href="#" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          <p style="font-size:13px;color:#333;margin: 0px 0px 1px 0px;"><font color="#2155b5">李奇</font> 對 <font color="#2155b5" style="font-weight:bold;">香港國際古玩及藝術品博覽會Fine Art Asia 2010</font>的評介：上個星期六夜晚去海洋公園，差唔多夜晚8點半先去到，去到個場根本無乜人。 夜晚又涼爽，所以成個鬧鬼過程感覺好舒服輕鬆。之前就已經聽聞過&ldquo;一人火葬場&rdquo;，要逐個人入場，一個人訓一個棺材，聽落都幾得人驚。 &ldquo;一人火葬場&rdquo;。</p>
                          </a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td style="height:12px;"></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e0e0e0;background-color:#e0e0e0;">
                  <tr>
                    <td style="background-color:#e0e0e0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weather.jpg" alt="" /></td>
                        <td><p style="text-align:right;vertical-align:middle;margin: 0px 8px 0px 0px;"><a href="http://www.outstreet.com.hk/info" target="_blank" style="font-size:12px;text-decoration:none;color:#333333;">更多</a></p></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td style="background-color:#FFF;padding: 0px 8px 8px 8px;">
                    	<p style="font-size:13px;color:#333333;margin: 6px 0px 0px 0px;"><font style="font-weight:bold">08/10 (五)</font><font style="color:#000065;padding-left:15px;">22&deg;C</font> - <font style="color:#e54600;">25&deg;C</font><font style="padding-left:15px;">90%</font><font style="padding-left:15px;">陣雨</font></p>
                        <p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">初時局部地區有驟雨，日間部分時間有陽光。</p>
                        <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                    	<p style="font-size:13px;color:#333333;margin: 6px 0px 0px 0px;"><font style="font-weight:bold">08/10 (五)</font><font style="color:#000065;padding-left:15px;">22&deg;C</font> - <font style="color:#e54600;">25&deg;C</font><font style="padding-left:15px;">90%</font><font style="padding-left:15px;">陣雨</font></p>
                        <p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">初時局部地區有驟雨，日間部分時間有陽光。</p>
                        <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                    	<p style="font-size:13px;color:#333333;margin: 6px 0px 0px 0px;"><font style="font-weight:bold">08/10 (五)</font><font style="color:#000065;padding-left:15px;">22&deg;C</font> - <font style="color:#e54600;">25&deg;C</font><font style="padding-left:15px;">90%</font><font style="padding-left:15px;">陣雨</font></p>
                        <p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">初時局部地區有驟雨，日間部分時間有陽光。初時局部地區有驟雨，日間部分時間有陽光。</p>
                    </td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
           <td colspan="3" style="height:12px;"></td>
          </tr>          
          <tr>
            <td colspan="3" style="height:12px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e0e0e0;background-color:#e0e0e0;">
              <tr>
                <td style="background-color:#FFF;text-align:center;padding:1px;">
                	<p style="margin: 0px 0px 1px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/3icons.gif" width="100%" height="70" border="0" usemap="#Map"/></p>
                    <p style="font-size:13px;font-weight:bold;color:#525148;background-color:#e0ddca;margin: 0px;padding: 8px 0px;">OutStreet是一個提供全港節目商戶資料及分享心得的平台，快d黎la！</p>
                    <map name="Map" id="Map">
                      <area shape="rect" coords="5,4,235,67" href="http://www.outstreet.com.hk/guide" target="_blank"/>
                      <area shape="rect" coords="238,5,478,68" href="http://www.outstreet.com.hk/event" target="_blank"/>
                      <area shape="rect" coords="481,4,718,66" href="http://www.outstreet.com.hk/review/index/search_shop/true/search_event/true/search_promo/true/" target="_blank"/>
                    </map>                    
                </td>
              </tr>
            </table></td>
          </tr>
          <tr>
           <td colspan="3" style="height:12px;"></td>
          </tr>
          <tr>
            <td colspan="3" style="height:12px;text-align:center;"><p style="font-size:12px;color:#333333;margin: 0px 0px 1px 0px;">OutStreet&copy; 2009</p><p style="font-size:12px;color:#333333;margin: 0px 0px 1px 0px;">版權所有 不得轉載</p>
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="width:750px;height:13px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/footer.jpg" /></td>
  </tr>
  <tr>
    <td colspan="2" style="width:750px;"><p style="font-size:12px;color:#333333;margin: 8px 0px;">如不想收到OutStreet之最新情報及推廣電郵，請<a href="#" style="color:#2155b5;">按此</a>取消</p></td>
  </tr>
</table>
