<include file="Public:header" />
<div class="content">
    <p class="header">
        <div><span class="title">類別 </span><iterate name="shopInfo['category_names']" id="vo"><a href="__ROOT__/shop/search/category_id/{$vo.id}">{$vo.name}</a></iterate></div>
        <div style="padding-bottom:3px"></div>
        <include file="Public:div_banner" />
    </p>
    <div class="title">{$shopInfo.name}</div>
	<div class="nav_label"><a href="__ROOT__/shop/view/shop_id/{$shopInfo.shop_id}">{$shopInfo.name}</a> > 其他分店</div>
	<if condition="$result_count">
		<p>
			<?php if ( $result_count < 5 ): ?>
					第 1 至 <?php echo $result_count ?> 間
				<?php elseif ( $result_count > 5 ): ?>
					第 <?php echo ($page-1)*$result_per_page > 0 ? ($page-1)*$result_per_page : 1 ?> 至 <?php echo $page*$result_per_page < $result_count ? $page*$result_per_page : $result_count ?> 間
			<?php endif; ?>
			(共 <?php echo $result_count ?> 間分店):
			<br />
			{$page|pagenation=$totalpage,###}
		</p>
		<table>
		<tr>
			<td class="ot_brand_label">名稱</td>
			<td class="ot_brand_label">地址</td>
		<tr>
		<iterate name="shopList" id="vo">
		<tr>
			<td><a href="__ROOT__/shop/view/shop_id/{$vo.shop_id}">{$vo.name}</a></td>
			<td><a href="__ROOT__/shop/map/shop_id/{$vo.shop_id}">{$vo.address}</a></td>
		<tr>
		</iterate>
		</table>
		<p>
			<?php if ( $result_count < 5 ): ?>
					第 1 至 <?php echo $result_count ?> 間
				<?php elseif ( $result_count > 5 ): ?>
					第 <?php echo ($page-1)*$result_per_page > 0 ? ($page-1)*$result_per_page : 1 ?> 至 <?php echo $page*$result_per_page < $result_count ? $page*$result_per_page : $result_count ?> 間
			<?php endif; ?>
			(共 <?php echo $result_count ?> 間分店):
			<br />
			{$page|pagenation=$totalpage,###}
		</p>
	<else />
		<p>沒有相關資料</p>
	</if>
    <br><a href="#top">返回最上</a><img src="__PUBLIC__/images/arrow_up.gif" alt="返回最上" /><br />
</div>
<include file="Public:footer" />