<include file="Public:header" />
<div class="content">
    <p class="header">
        <div><span class="title">類別 </span><iterate name="shopInfo['category_names']" id="vo"><a href="__ROOT__/shop/search/category_id/{$vo.id}">{$vo.name}</a></iterate></div>
        <div style="padding-bottom:3px"></div>
        <include file="Public:div_banner" />
    </p>
	<div class="title">{$shopInfo.name}</div>
	<div class="nav_label"><a href="__ROOT__/shop/view/shop_id/{$shopInfo.shop_id}">{$shopInfo.name}</a> > 相片</div>
	<if condition="$result_count">
		<p>
			<?php if ( $result_count < 5 ): ?>
					第 1 至 <?php echo $result_count ?> 張
				<?php elseif ( $result_count > 5 ): ?>
					第 <?php echo ($page-1)*$result_per_page > 0 ? ($page-1)*$result_per_page : 1 ?> 至 <?php echo $page*$result_per_page < $result_count ? $page*$result_per_page : $result_count ?> 張
			<?php endif; ?>
			(共 <?php echo $result_count ?> 張相片):
			<br />
			{$page|pagenation=$totalpage,###}
		</p>
		<iterate name="shopInfo['pictures']" id="vo">
		<div><img src="{$vo}"></div>
		</iterate>
		<p>
			<?php if ( $result_count < 5 ): ?>
					第 1 至 <?php echo $result_count ?> 張
				<?php elseif ( $result_count > 5 ): ?>
					第 <?php echo ($page-1)*$result_per_page > 0 ? ($page-1)*$result_per_page : 1 ?> 至 <?php echo $page*$result_per_page < $result_count ? $page*$result_per_page : $result_count ?> 張
			<?php endif; ?>
			(共 <?php echo $result_count ?> 張相片):
			<br />
			{$page|pagenation=$totalpage,###}
		</p>
	<else />
		<p>沒有相關相片</p>
	</if>
    <br><a href="#top">返回最上</a><img src="__PUBLIC__/images/arrow_up.gif" alt="返回最上" /><br />
</div>
<include file="Public:footer" />