<include file="Public:header" />
<script type="text/javascript">
$(document).ready(function(){
	$('#search_form').change(function(){
		$('#search_form').submit();
	});
});
function adv_search(){
	var category_id = $('#category_id').val();
	var location_id = $('#location_id').val();
	if(!category_id){
		category_id="{$category_id}";
	}
	if(!location_id){
		location_id="{$location_id}";
	}
	window.location="__ROOT__/shop/searchform/category_id/"+category_id+"/location_id/"+location_id;
}
</script>
<script>
	<?php if ( $query ): ?>
		var zKeyword = "<?php echo addslashes( $query ) ?>";
	<?php elseif ( $request_cate_Info ): ?>
		var zKeyword = "<?php echo addslashes( $request_cate_Info[ 'name' ] ) ?>";
	<?php endif; ?>
</script>
<script type="text/javascript">
	var ysmmobile = true;
	var ysmdisplay = 0;
</script>
<div class="content">
    <p class="header">

		<form id="search_form" action="__ROOT__/shop/search" method="Get">
		<table cellspacing="0" cellpadding="2">
		<if condition="$query">
			<tr>
				<td class="label">關鍵字:</td>
				<td><input class="input" name="query" type="text" size="14" value="{$query}" /></td>
			</tr>
		</if>
		<if condition="$price_range">
			<tr>
				<td class="label">價格範圍:</td>
				<td><select style="width:120px" name="price_range">
					<?php $price_range_options = array('全部','$','$$','$$$','$$$$'); ?>
					<?php foreach( $price_range_options AS $key=>$name): ?>
						<option value="{$key}" <?php echo $price_range==$key ? 'selected': ''?>>{$name}</option>
					<?php endforeach; ?>
				</select></td>
			</tr>
		</if>
		<tr>
			<td class="label">類別:</td>
			<td>
				<select style="width:140px;" name="category_id" id="category_id">
					<option value="">選擇類別</option>
					<if condition="!empty($category_id)"><option value="{$request_cate_Info.id}" <?php echo $request_cate_Info['id'] == $request_cate_Info['id'] ? 'selected' : '' ?>>{$request_cate_Info.name}</option></if>
					<iterate name="categoryList" id="vo">
					<option value="{$vo.id}" <?php echo $category_id == $vo['id'] ? 'selected' : '' ?>>--{$vo.name}</option>
					</iterate>
				</select>
			</td>
		</tr>
		<tr>
			<td class="label">地區:</td>
			<td>
				<select style="width:140px;" name="location_id" id="location_id">
					<option value="">選擇地區</option>
					<?php $j=0; ?>
					<iterate name="main_location_list" id="vo">
					<option value="main_{$vo.id}" <?php echo $main_location_id == $vo['id'] ? 'selected' : '' ?>>{$vo.name}</option>
						<iterate name="sub_location_list[$j]" id="vo2">
						<option value="sub_{$vo2.id}" <?php echo in_array( $vo2['id'], $sub_location_ids ) ? 'selected' : '' ?>>--{$vo2.name}</option>
						</iterate>
						<?php $j++; ?>
					</iterate>
				</select>
			</td>
		</tr>
		</table>
		</form>

		<div class="title"><a href="__ROOT__/shop/searchform">>> 進階搜尋 </a></div>

        <div style="padding-bottom:3px"></div>
        <include file="Public:div_banner" />

    </p>
    <p>

	<?php if ( $result_count ): ?>
		<?php if ( $result_count < 5 ): ?>
				第 1 至 <?php echo $result_count ?> 間
			<?php elseif ( $result_count > 5 ): ?>
				第 <?php echo ($page-1)*$result_per_page > 0 ? ($page-1)*$result_per_page : 1 ?> 至 <?php echo $page*$result_per_page < $result_count ? $page*$result_per_page : $result_count ?> 間
		<?php endif; ?>
		(共 <?php echo $result_count ?> 間商戶)
		<br />
		{$page|pagenation=$totalpage,###}
	</p>

	<script>
		ysmdisplay++;
		document.write( '<div id="ysmdisplay' + ysmdisplay + '"></div>' );
	</script>
	<script>
		ysmdisplay++;
		document.write( '<div id="ysmdisplay' + ysmdisplay + '"></div>' );
	</script>

	<div id="results">
		<iterate name="results" id="vo">
		<table width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="2"><b><a href="__ROOT__/shop/view/shop_id/{$vo.shop_id}" class="title">{$vo.name}</a></b></td>
		</tr>
		<tr>
			<td class="label">地址 :</td>
			<td><a href="__ROOT__/shop/search/main_location_id/{$vo.main_location_id}">{$vo.main_location_name}</a> <a href="__ROOT__/shop/search/sub_location_ids/{$vo.sub_location_id}">{$vo.sub_location_name}</a> <if condition="parent_shop_id gt 0">{$vo.parent_shop_name} {$vo.rooms}<else />{$vo.address} {$vo.rooms}</if></td>
		</tr>
		<tr>
			<td class="label">電話 :</td>
			<td><if condition="$vo.telephone neq 0">{$vo.telephone|generateShopTelephone}</td>
		</tr>
		<tr>
			<td class="label">類別 :</td>
			<td><iterate name="vo['cates']" id="vo2"><a href="__ROOT__/shop/search/category_id/{$vo2.id}">{$vo2.name}</a>&nbsp;</iterate></td>
		</tr>
		<tr>
			<td class="label">簡介 :</td>
			<td><if condition="$vo.description neq ''">{$vo.description|formatInfoUTF8=50}<else />&nbsp;-</if></td>
		</tr>
		<tr>
			<td class="label">總評分 :</td>
			<td><if condition="$vo.rating gt 0">{$vo.rating}<else />N/A</if> (共{$vo.review_count}個評介)</td>
		</tr>
		</table>
		<br/>
		</iterate>
	</div>

    <p>
		<?php if ( $result_count < 5 ): ?>
				第 1 至 <?php echo $result_count ?> 間
			<?php elseif ( $result_count > 5 ): ?>
				第 <?php echo ($page-1)*$result_per_page > 0 ? ($page-1)*$result_per_page : 1 ?> 至 <?php echo $page*$result_per_page < $result_count ? $page*$result_per_page : $result_count ?> 間
		<?php endif; ?>
		(共 <?php echo $result_count ?> 間商戶)
		<br />
		{$page|pagenation=$totalpage,###}
	</p>

	<?php else: ?>

		<script>
			ysmdisplay++;
			document.write( '<div id="ysmdisplay' + ysmdisplay + '"></div>' );
		</script>
		<script>
			ysmdisplay++;
			document.write( '<div id="ysmdisplay' + ysmdisplay + '"></div>' );
		</script>

		<div id="results">
			<p>沒有相關商戶</p>
		</div>

	<?php endif; ?>

	<br /><br />

    <a href="#top">返回最上</a><img src="__PUBLIC__/images/arrow_up.gif" alt="返回最上" /><br />
</div>

<load href="http://outstreet.com.hk/Public/js/ysm.js" />

<include file="Public:footer" />