<include file="Public:header" />
<div class="content">
    <p class="header">
        <div><span class="title">類別 </span><iterate name="shopInfo['category_names']" id="vo"><a href="__ROOT__/shop/search/category_id/{$vo.id}">{$vo.name}</a></iterate></div>
        <div style="padding-bottom:3px"></div>
        <include file="Public:div_banner" />
    </p>
    <div class="title">{$shopInfo.name}</div>
	<table cellspacing="0" cellpadding="0">
		<tr><td width="25%" class="label">地址 :</td><td>{$shopInfo.address}</td></tr>
		<tr><td class="label">地圖 :</td><td><a href="__ROOT__/shop/map/shop_id/{$shopInfo.shop_id}">顯示地圖</a></td></tr>
		<tr><td class="label" >營業時間 :</td><td>{$shopInfo.worktime}</td></tr>
		<tr><td class="label" >價格 :</td><td><if condition="$shopInfo.price_range eq 0">--<else /><?php for($i=1;$i<=4;$i++){if($i<=$shopInfo['price_range']){echo "<span class='ot_d_pricerange_orange'>$</span>";}else{echo "<span class='ot_d_pricerange_grey'>$</span>";}} ?></if></td></tr>
		<tr><td class="label" >電話 :</td><td>{$shopInfo.telephone|generateShopTelephone}</td></tr>
		<tr><td class="label" >網址 :</td><td>{$shopInfo.website|generateShopWebsite}</td></tr>
		<tr><td class="label" >簡介 :</td><td>{$shopInfo.description}</td></tr>
	</table>
	<div class="line"></div>
	<table class="ot_shoprating" cellspacing="0" cellpadding="0">
		<tr>
			<td rowspan="2" class="bold">總分&nbsp;<if condition="$shopInfo.rating.avg_rate_1 neq '0'">{$shopInfo.rating.avg_rate_1}/5<else />N/A</if>&nbsp;</td><td class="bold">服務&nbsp;</td><td><if condition="$shopInfo.rating.avg_rate_2 neq '0'">{$shopInfo.rating.avg_rate_2}/5<else />N/A</if>&nbsp;</td><td class="bold">環境&nbsp;</td><td><if condition="$shopInfo.rating.avg_rate_3 neq '0'">{$shopInfo.rating.avg_rate_3}/5<else />N/A</if>&nbsp;</td><td class="bold">產品質素&nbsp;</td><td><if condition="$shopInfo.rating.avg_rate_4 neq '0'">{$shopInfo.rating.avg_rate_4}/5<else />N/A</if>&nbsp;</td>
		</tr>
		<tr>
			<td class="bold">方便&nbsp;</td><td><if condition="$shopInfo.rating.avg_rate_5 neq '0'">{$shopInfo.rating.avg_rate_5}/5<else />N/A</if>&nbsp;</td><td class="bold">價格&nbsp;</td><td><if condition="$shopInfo.rating.avg_rate_6 neq '0'">{$shopInfo.rating.avg_rate_6}/5<else />N/A</if>&nbsp;</td><td class="bold">產品種類&nbsp;</td><td><if condition="$shopInfo.rating.avg_rate_7 neq '0'">{$shopInfo.rating.avg_rate_7}/5<else />N/A</if>&nbsp;</td>
		</tr>
	</table>
	<div class="line"></div>
	<if condition="$shopInfo.pictures neq '0'"><a href="__ROOT__/shop/photo/shop_id/{$shopInfo.shop_id}">相片&gt;&gt;</a>&nbsp;&nbsp;&nbsp;</if><if condition="$shopInfo.parent_shop_id neq '0'"><a href="__ROOT__/shop/mall/shop_id/{$shopInfo.parent_shop_id}">商場&gt;&gt;</a>&nbsp;&nbsp;&nbsp;</if><if condition="$shopInfo.is_mall eq '1'"><a href="__ROOT__/shop/mall/shop_id/{$shopInfo.shop_id}">商場&gt;&gt;</a>&nbsp;&nbsp;&nbsp;</if><if condition="$shopInfo.brand_id neq '0'"><a href="__ROOT__/shop/brand/shop_id/{$shopInfo.shop_id}">分店&gt;&gt;</a>&nbsp;&nbsp;&nbsp;</if>
    <if condition="($shopInfo.pictures neq '0') OR ($shopInfo.is_mall eq '1') OR ($shopInfo.parent_shop_id neq '0') OR ($shopInfo.brand_id neq '0')"><div class="line"></div></if>
	<font color="#e64c25"><b>評介</b></font><br />
	<if condition="$result_count">
		<p>
			<?php if ( $result_count < 5 ): ?>
					第 1 至 <?php echo $result_count ?> 間
				<?php elseif ( $result_count > 5 ): ?>
					第 <?php echo ($page-1)*$result_per_page > 0 ? ($page-1)*$result_per_page : 1 ?> 至 <?php echo $page*$result_per_page < $result_count ? $page*$result_per_page : $result_count ?> 篇
			<?php endif; ?>
			(共 <?php echo $result_count ?> 篇評介):
			<br />
			{$page|pagenation=$totalpage,###}
		</p>

		<iterate name="shopInfo.reviews" id="vo">
		<font color="#005a00"><b>{$vo.title}</b></font><br />{$vo.create_time}<br />
		{$vo.user_name}(共有{$vo.user_review_count}篇評介) <br />
		<br />
		{$vo.description}
		<br />
		<font color="#005a00"><b>評分 :</b><br> 服務<b><if condition="$vo['review_rate']['rate_2'] eq '-1'">N/A<else />{$vo.review_rate.rate_2}</if></b> 環境<b><if condition="$vo['review_rate']['rate_3'] eq '-1'">N/A<else />{$vo.review_rate.rate_3}</if></b> 產品質素<b><if condition="$vo['review_rate']['rate_4'] eq '-1'">N/A<else />{$vo.review_rate.rate_4}</if></b><br> 方便<b><if condition="$vo['review_rate']['rate_5'] eq '-1'">N/A<else />{$vo.review_rate.rate_5}</if></b> 價格<b><if condition="$vo['review_rate']['rate_6'] eq '-1'">N/A<else />{$vo.review_rate.rate_6}</if></b> 產品種類<b><if condition="$vo['review_rate']['rate_7'] eq '-1'">N/A<else />{$vo.review_rate.rate_7}</if></b></font><br />
		<br />
		</iterate>
		<p>
			<?php if ( $result_count < 5 ): ?>
					第 1 至 <?php echo $result_count ?> 間
				<?php elseif ( $result_count > 5 ): ?>
					第 <?php echo ($page-1)*$result_per_page > 0 ? ($page-1)*$result_per_page : 1 ?> 至 <?php echo $page*$result_per_page < $result_count ? $page*$result_per_page : $result_count ?> 篇
			<?php endif; ?>
			(共 <?php echo $result_count ?> 篇評介):
			<br />
			{$page|pagenation=$totalpage,###}
		</p>
	<else />
		<p>沒有相關評介</p>
	</if>
    <br><a href="#top">返回最上</a><img src="__PUBLIC__/images/arrow_up.gif" alt="返回最上" /><br />
</div>

<include file="Public:footer" />