<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s08.css" /> 

<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec08 a').toggleClass('current');
});
</script>

<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
		<div class="breadcrumb"><a href="#">主頁</a> > <a href="#">交通天氣</a></div>
		<div id="ot_s08_d_weather_box" class="left-box">
			<div class="header">
				<h3>天氣預測</h3>
			</div>
			<div style="clear:both;"></div>
                <table width="100%" id="tableWeather" class="content">
				  	<tr><td height="16" align="center"></td></tr>
			   		<tr> 
			   	    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" >
			   	      <tr>
			   	        <th width="16.6%" style="text-align: center;vertical-align: middle;">日期</th>
			   	        <th width="16.6%">天氣</th>
			   	        <th width="16.6%" style="vertical-align: middle;">天氣詳情</th>
			   	        <th width="16.6%" style="font-weight:600;font-size:12px;color:#e54600;vertical-align: middle;">溫度</th>
			   	        <th width="16.6%" style="vertical-align: middle;">風勢</th>
			   	        <th width="16.6%" style="vertical-align: middle;">相對濕度</th>
		   	          </tr>
			   	      </table></td>
		   			</tr>
			   		<iterate name="weathers" id="weather">
			   		<tr> 
			   	    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" >
			   	      <tr>
			   	        <td width="16.6%" style="text-align: center;vertical-align: middle;">{$weather.date}<br/>{$weather.weekday}</td>
			   	        <td width="16.6%"><img src="http://www.hko.gov.hk/images/wxicon/{$weather.weather_icon}"></td>
			   	        <td width="16.6%" style="vertical-align: middle;">{$weather.weather_description}</td>
			   	        <td width="16.6%" style="font-weight:600;font-size:12px;color:#e54600;vertical-align: middle;">{$weather.temp_description} (C)</td>
			   	        <td width="16.6%" style="vertical-align: middle;">{$weather.wind_description}</td>
			   	        <td width="16.6%" style="vertical-align: middle;">{$weather.rh_range} (%)</td>
		   	          </tr>
			   	      </table></td>
		   			</tr>
				   	<if condition="$i neq count($weathers)">
				  		<tr><td height="16" align="center"><img name="" src="__PUBLIC__/images/backgrounds/weather_gird01.gif" height="16" width="95%"/></td></tr>
					<else/>
				  		<tr><td height="16" align="center"></td></tr>
				  	</if>
			      	</iterate>
			   	</table>
           	<div class="footer"></div>
	   	</div>
		<div style="clear:both;"></div>
		<a name="top"></a>
		<div id="ot_s08_d_traffic_box" class="left-box">
			<div class="header">
				<h3>交通</h3>
			</div>
			<div class="content">
            	<ul class="transportation-list">
                	<li><a href="#mtr"><img src="__ROOT__/Public/images/icons/traffic-mtr.gif" width="78" height="83" /></a></li>
                	<li><a href="#bus"><img src="__ROOT__/Public/images/icons/traffic-bus.gif" width="78" height="83" /></a></li>
                	<li><a href="#minibus"><img src="__ROOT__/Public/images/icons/traffic-minibus.gif" width="78" height="83" /></a></li>
                	<li><a href="#ebus"><img src="__ROOT__/Public/images/icons/traffic-tram.gif" width="78" height="83" /></a></li>
                	<li><a href="#taxi"><img src="__ROOT__/Public/images/icons/traffic-taxi.gif" width="78" height="83" /></a></li>
                	<li><a href="#ferry"><img src="__ROOT__/Public/images/icons/traffic-ferry.gif" width="78" height="83" /></a></li>
           		</ul>
            <div class="clearBoth"></div>
			<a name="mtr"><h4 class="traffic-mtr">港鐵</h4></a>
            <table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
                <tbody>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="108">港鐵</td>
                        <td width="180"><a href="http://www.mtr.com.hk/jplanner/chi/planner_index.php#" target="_blank">(港鐵路綫百科)</a></td>
                        <td><strong>2881 8888</strong></td>
                    </tr>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="108">輕鐵 </td>
                        <td width="180"><a href="http://www.mtr.com.hk/chi/lr_bus/lightrail_route_popup.html" target="_blank">(輕鐵路綫圖)</a></td>
                        <td><strong>2881 8888</strong></td>
                    </tr>
                </tbody>
            </table>
			<a href="#top" class="top">頁頂</a>
					
            <a name="bus"><h4 class="traffic-bus" >巴士公司</h4></a>
            <table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
                <tbody>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288">九巴</td>
                        <td width="180"><a href="http://www.kmb.hk/chinese.php?page=search" target="_blank">路線搜尋</a></td>
                        <td><strong>2745 4466</strong></td>
                    </tr>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288">城巴</td>
                        <td width="180"><a href="http://www.nwstbus.com.hk/routes/routesearch.aspx?searchtype=2&intLangID=2" target="_blank">路線搜尋</a></td>
                        <td><strong>2873 0818</strong></td>
                    </tr>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288">新巴</td>
                        <td width="180"><a href="http://www.nwstbus.com.hk/routes/routesearch.aspx?searchtype=2&intLangID=2" target="_blank">路線搜尋</a></td>
                        <td><strong>2136 8888</strong></td>
                    </tr>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288">龍運巴士 (往返機場)</td>
                        <td width="180"><a href="http://www.i-busnet.com/busroute/lwb/" target="_blank">路線搜尋</a></td>
                        <td><strong>2261 2791</strong></td>
                    </tr>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288">新大嶼山巴士</td>
                        <td width="180"><a href="http://www.newlantaobus.com/nlb.html" target="_blank">路線搜尋</a></td>
                        <td><strong>29849848</strong></td>
                    </tr>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288">港鐵巴士</td>
                        <td width="180"><a href="http://www.mtr.com.hk/chi/lr_bus/bus_rf_index.html" target="_blank">路線搜尋</a></td>
                        <td><strong>2881 8888</strong></td>
                    </tr>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288">愉景灣交通服務</td>
                        <td width="180"><a href="http://www.hkri.com/icms2/template?series=63&article=606" target="_blank">路線搜尋</a></td>
                        <td><strong>2238 1188</strong></td>
                    </tr>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288">珀麗灣交通服務</td>
                        <td width="180"><a href="http://www.i-busnet.com/busroute/pi/" target="_blank">路線搜尋</a></td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <a href="#top" class="top">頁頂</a>
					
            <a name="minibus"><h4 class="traffic-minibus" >小巴公司</h4></a>
            <table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
                <tbody>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288">專線小巴(綠色)</td>
                        <td>紅色小巴線</td>
                    </tr>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288"><a href='http://www.i-busnet.com/minibus/hkisland/' target='_blank'>港島區</a></td>
                        <td><a href='http://www.i-busnet.com/minibus/minibus_red/hkisland_index.php' target='_blank'>港島區</a></td>
                    </tr>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288"><a href='http://www.i-busnet.com/minibus/kln/' target='_blank'>九龍區</a></td>
                        <td><a href='http://www.i-busnet.com/minibus/minibus_red/kln_index.php' target='_blank'>九龍區</a></td>
                    </tr>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288"><a href='http://www.i-busnet.com/minibus/nt/' target='_blank'>新界區</a></td>
            <td><a href='http://www.i-busnet.com/minibus/minibus_red/nt_index.php' target='_blank'>新界區</a></td>
                    </tr>
                </tbody>
            </table>
            <a href="#top" class="top">頁頂</a>
					
            <a name="ebus"><h4 class="traffic-tram" >電車</h4></a>
            <table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
                <tbody>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288">香港電車有限公司</td>
                        <td width="180"><a href="http://www.hktramways.com/b5/service/routemap.html" target="_blank">電車路線圖 (東行)</a></td>
                        <td><strong>2548 7102</strong></td>
                    </tr>
                    <tr>
                        <td width="16">&nbsp;</td>
                        <td width="288">&nbsp;</td>
                        <td width="180"><a href="http://www.hktramways.com/b5/service/routemap2.html" target="_blank">電車路線圖 (西行)</a></td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <a href="#top" class="top">頁頂</a>
					
            <a name="taxi"><h4 class="traffic-taxi" >的士電召服務</h4></a>
            <div class="traffic-taxi-tabs">
                <ul>
                    <li><a href="#traffic-taxi-hk" class="current">香港島</a></li>
                    <li><a href="#traffic-taxi-kowloon">九龍</a></li>
                    <li><a href="#traffic-taxi-nt">新界</a></li>
                    <li><a href="#traffic-taxi-lantau">大嶼山</a></li>
                </ul>
            </div>
            <div id="traffic-taxi-hk" class="tab-content">
                <table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
                    <tbody>
                    	<tr id='t2'>
                             <td width="16">&nbsp;</td>
                             <td width="288">友聯</td>
                             <td><strong>2527 6324</strong></td>
                        </tr>
    					<tr id='t2'>
                        	<td width="16">&nbsp;</td>
                            <td width="288">金菱</td>
                            <td><strong>2571 2929</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">香港九龍的士貨車商會</td>
                            <td><strong>2572 7570</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">香港的士中心</td>
                            <td><strong>2574 7311</strong></td>
                        </tr>
						<tr id='t2'>
							<td width="16">&nbsp;</td>
		  					<td width="288">偉發</td>
							<td><strong>2861 1008</strong></td>
    					</tr>
						<tr id='t2'>
							<td width="16">&nbsp;</td>
							<td width="288">港聯</td>
      						<td><strong>2529 8822</strong></td>
						</tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">榮泰</td>
                            <td><strong>2527 8524</strong></td>
                        </tr>
					</tbody>
				</table>
			</div>
			<div id="traffic-taxi-kowloon" class="tab-content">
				<table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
					<tbody>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">環保</td>
                            <td><strong>2383 0168</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">聯友</td>
                            <td><strong>2760 0477</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">聯合</td>
                            <td><strong>2332 2477</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">九龍的士車主聯會</td>
                            <td><strong>2760 0411</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">全通 / 全利</td>
                            <td><strong>2398 1881</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">百佳的士中心</td>
                            <td><strong>2333 1556</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">沙田的士車主司機聯會</td>
                            <td><strong>2332 2571</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">車馬樂</td>
                            <td><strong>2728 8281</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">的士同業會</td>
                
                            <td><strong>2362 2337</strong></td>
                        </tr>
                        <tr id='t2'>
                
                            <td width="16">&nbsp;</td>
                            <td width="288">城市</td>
                            <td><strong>2343 3189</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">惠益</td>
                            <td><strong>2776 7885</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">港九利萊</td>
                            <td><strong>2729 1199</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">港九電召</td>
                            <td><strong>2760 0455</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">榮利</td>
                            <td><strong>2397 0922</strong></td>
                        </tr>
					</tbody>
				</table>
			</div>
			<div id="traffic-taxi-nt" class="tab-content">
				<table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
					<tbody>
						<tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">北區的士商會</td>
                            <td><strong>2677 2200</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">香港無線電召的士聯誼會</td>
                            <td><strong>2669 1088</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">粉嶺的士電召服務中心</td>
                            <td><strong>2675 7688</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">新界營業汽車同業</td>
                            <td><strong>2478 8332</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">新界的士商業</td>
                            <td><strong>2478 8332</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288"></td>
                            <td><strong>2476 2265</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">新界的士電召服務中心</td>
                            <td><strong>2457 2266</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">新界商業電召服務</td>
                            <td><strong>2476 4247</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">新界港九合眾的士聯誼會</td>
                            <td><strong>2475 0417</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">新界電召的士聯會</td>
                            <td><strong>2657 2267</strong></td>
                        </tr>
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">新興</td>
                            <td><strong>2450 2288</strong></strong></td>
                        </tr>
					</tbody>
				</table>
			</div>
			<div id="traffic-taxi-lantau" class="tab-content">
                <table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
                    <tbody>
                        <tr>
                            <td width="16">&nbsp;</td>
                            <td width="288">大嶼山的士</td>
                            <td><strong>2745 4466</strong></td>
                        </tr>
                        
                        <tr id='t2'>
                            <td width="16">&nbsp;</td>
                            <td width="288">大嶼山的士聯會</td>
                            <td><strong>2984 1328</strong></td>
                        </tr>
                        
                    </tbody>
                </table>
			</div>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<a href="#top" class="top">頁頂</a>
		</div>
		<div class="footer"></div>
	</div>
</div>
<!-- 左側div END-->		
	
<!-- 右側div -->	
<div class="ot_d_body_content_right">
	<include file="Public:div-btn_facebook" />
</div>
<!-- 右側div END-->		
		
<div class="clearBoth"></div>
</div>

<include file="Public:footer" />