<table width="600px" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150px" height="67px"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/images/eimg/logo.jpg" /></td>
    <td width="450px" height="67px"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/images/eimg/review_launch.jpg" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
        <table width="95%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="10px"></td>
          </tr>
          <tr>
            <td><font size="2"><b>{$nickname}，你好！</b></font>
            <p><font size="2">多謝你在 OutStreet 分享你對 {$promotionname} 的意見，你的評介已刊登於<a href="{$link}"><font size="2" color="#2155b5">{$link}</font></a>。你可以直接查看介，並通過facebook和親友共享。</font></p>
			<p><font size="2">如有問題，請聯絡我們：<a href="mailto:admin@outstreet.com.hk"><font size="2" color="#2155b5">admin@outstreet.com.hk</font></a>。</font></p>
			<p><font size="2">多謝你對 OutStreet 網的支持！</font></p>
            </td>
            </tr>
          <tr>
            <td height="10px"></td>
          </tr>
          <tr>
            <td><div style="padding:8px;border:1px solid #cccccc;background-color:#f3f3f3;font-size:13px;">【歡迎登入OutStreet.com.hk，搜尋香港最新、最全面的出街資訊， 隨時分享你的出街心得！】</div></td>
          </tr>
          <tr>
            <td height="10px"></td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" width="600px" height="13px"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/images/eimg/footer.jpg" /></td>
  </tr>
</table>