<include file="Public:sa-header" />
<script type="text/javascript">
$().ready(function(){	
});
function confirmAction(id,typenumber,actiontype,action){
	var result=confirm("一經確認即無法復原?");	
	if(result==true){
		switch (actiontype){
			case 1:
			actiontype='audit';
			break;
		}
		window.location="__URL__/listAction/typenumber/"+typenumber+"/actiontype/"+actiontype+"/action/"+action+"/id/"+id;
		$('#loading').show();
		$('#action_audit_'+id).attr("disabled", "disabled");	
	 }else{
		return false;
	 }
}
function showdesc(id){
	$('#desc1_'+id).show();
	$('#desc2_'+id).hide();
}
function hidedesc(id){
	$('#desc2_'+id).show();
	$('#desc1_'+id).hide();
}
</script>

<div class="container">
	<h3>評介審核列表</h3>
	<div class="mainbox">
	    <div>
	    	<form action="__URL__/listAll/" method="get">
	        	標提:<input type="text" style="width: 100px;" name="title" value="{.title}" />
	            <input type="submit" name="search" id="searchbtn" value="搜尋" />
	        </form>
	    </div>
		<table class="datalist fixwidth">
			<tr>
            <th>種類</th>
				<?php $sortcols = array( 'review_fields.id'=>'ID','review_fields.title'=>'評介標題','review_fields.create_time'=>'發布時間','review_fields.description'=>'評介內容','review_fields.user_id'=>'評介者','review_fields.is_audit'=>'審核'); ?>
				<?php foreach( $sortcols AS $key=>$val ): ?>
					<th><?php echo $val; ?><a href="__URL__/listAll/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/listAll/sort/{$key}/sortorder/desc">&#8593;</a></th>
				<?php endforeach; ?>                	
			</tr>
			<iterate name="reviewList" id="vo">
				<tr title="{$vo.summary}" class="mousetr">
                	<td width="5%"><a href="{$server}/{$vo.class}/view/id/{$vo.class_id}/reviewid/{$vo.id}" target="_blank">{$vo.type}</a></td>
					<td width="5%">{$vo.id}</td>
					<td width="10%" title="{$vo.title}">{$vo.title|strip_tags|msubstr=###,0,10}</td>
					<td width="10%" class="date">{$vo.create_time|date='Y-m-d H:i',###}</td>
					<td id="description_{$vo.id}" width="20%"><div style="display:none" onclick="showdesc({$vo.id})" id="desc2_{$vo.id}">{$vo.description}</div><div onclick="hidedesc({$vo.id})" id="desc1_{$vo.id}">{$vo.description|strip_tags|msubstr=###,0,20}</div></td>
                    <td width="12%">{$vo.username}{$vo.is_email_verify}</td>
                    <td width="10%">
						<if condition="$vo.is_audit eq 0 AND $vo.is_email_verify eq 1">
                        	<a id="action_audit_{$vo.id}" href="javascript:void(0);" onclick="confirmAction({$vo.id},{$vo.typenumber},1,1)" style="color:red" class="doAudit">未審核</a>
                        <elseif condition="$vo.is_email_verify eq 0"/>
                        	此會員未啟動
						<else/>
                        	通過
						</if>
					</td>                    
				</tr>
			</iterate>
			<tr class="nobg">
				<td class="tdpage" colspan="7">{$multipage}</td>
			</tr>
		</table>
	</div>
</div>
<div id="loading" style="position:fixed;top:50%; left:50%;display:none;"><img src="__PUBLIC__/images/loading.gif"></div>
<include file="Public:sa-footer" />
