<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<script type="text/javascript">
$().ready(function(){
	$('.contact a').toggleClass('current');
	$('#tabs-box ul').showTabs();
	$('div.headerContactUs').corner("cc:#fff ,top");
	$('div.footer-contactus').corner("cc:#fff ,bottom");
});
</script>

<div id="body-content">
    <div class="body-content-left">
        <div id="contactusDiv">
            <div class="headerContactUs"></div>
            <div class="ContactUs">
                <div class="contact-left"></div>
                <div class="contact-content" style="font-size:14px;font-weight:400;line-height:20px;color:#666666;line-height:35px;">
                    <br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;If you have comments on our site, please contactus at <a href="mailto:comments@outstreet.com.hk" style="color:red;text-decoration:none;" title="聯絡我們">comments@outstreet.com.hk.</a>
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; If you would like to advertise on our site, please contact us at 
                    <a href="mailto:ads@outstreet.com.hk" style="color:red;text-decoration:none;" title="聯絡我們">ads@outstreet.com.hk</a>
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                    We look forward to hearing from you!
                    </p>
                    <div class="clearBoth"></div>
                </div>
                <div class="contact-right"></div>
                <div class="clearBoth"></div>
            </div>
            <div class="footer-contactus"></div>
        </div>
        <div class="clearBoth"></div>
    </div>
    <div class="body-content-right">
        <include file="Public:div-login" />
        <include file="Public:div-weather" />
    </div>
    <div class="clearBoth"></div>
</div>

<include file="Public:footer" />