<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.validate.js" /> 
<load href="__PUBLIC__/js/jquery.form.js" /> 
<load href="__PUBLIC__/js/ajaxupload.js"/>
<script type="text/javascript">
$(document).ready(function(){

new AjaxUpload('imgupload', {
	action: '__APP__/Shopbrand/add_doUpload',
	name: 'image',
	onComplete: function(file, response) {
		var json = $.parseJSON( response );
		addimg( 'file_name', json.file );
	}
});
	
function addimg( id, file ) {
	$( '#' +id+ ' img' ).attr( 'src', '<?php echo C("OUTSTREET_DIR"); ?>/Public/uploadimages/shop/brand/' + file );
	$( 'input[name=file_name]' ).attr( 'value', file );
	$( '#' +id+ ' input' ).val( file );
	$( '#' +id ).show();
}
	
});

function delimg(){
	$.getJSON('__URL__/deletePic/file_path/'+document.theform.file_name.value, 
	function(json){
		if(json.result == 1){
			$( 'input[name=file_name]' ).attr('value', '');
			$('#file_name').hide();
		}
	} );
}

$().ready( function() {
	theformValidate = $("#theform").validate({
		rules: {
			name: { required: true },
			email: { email: true },
			website:{ url: true }
		},
		messages: {
			name: "請輸入商戶品牌",
			email: "請輸入一個正確的email地址",
			website: "必須是合法的鏈接"
		},
		submitHandler: function(frm){
			$( '#theform' ).ajaxSubmit({
				success: function ( response, status ) {
					var json = $.parseJSON( response );
					if(json.result == 1) {
						alert(json.msg);
						$( location ).attr( 'href', "__URL__/listAll" );
					} else {
						alert(json.msg);
					}
				}
			});
		}
	});

	$('#description,#eng_description').keyup(function() {
		$(this).next().val( $(this).val().length );
	}).keyup();
} );

</script>
<div class="container">
	<h3>新增商戶品牌</h3>
	<div class="mainbox">
		<form id="theform" name="theform" action="__APP__/Shopbrand/doAdd" method="post" enctype="multipart/form-data">
        <table cellspacing="5" cellpadding="0" align="left" style="width:60%">
            <tr>
            	<td><b><font color="#FF0000">*</font>品牌名稱：</b></td>
                <td><input type="text" name="name" size="40"/></td>
            </tr>
			<tr>
            	<td><b><font color="#FF0000">*</font>品牌名稱(英文):</b></td>
                <td><input type="text" name="eng_name" size="40"/></td>
            </tr>
            <tr>
            	<td><b><font color="#FF0000">*</font>品牌網站:</b></td>
                <td><input type="text" name="website" size="40"/></td>
            </tr>
            <tr>
            	<td><b><font color="#FF0000">*</font>品牌電郵:</b></td>
                <td><input type="text" name="email" size="40"/></td>
            </tr>
            <tr>
            	<td><b><font color="#FF0000">*</font>品牌介紹:</b></td>
                <td><textarea name="description" id="description" rows="6" cols="40"></textarea><input type="text" size="2"> 字</td>
            </tr>
            <tr>
            	<td><b><font color="#FF0000">*</font>品牌介紹(英文):</b></td>
                <td><textarea name="eng_description" id="eng_description" rows="6" cols="40"></textarea><input type="text" size="2"> 字</td>
            </tr>
            <tr>
                <td><b>上傳圖片:</b></td>
                <td>
                    <input type="button" name="imgupload" id="imgupload" value="上載圖片"/>
                    <input type="button" name="delete" id="delete" value="刪除" onclick="delimg()"/><br/>(僅允許上傳{&UPFILE_ALLOW_IMGEXT}類型文件)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><div id="file_name" style="display: none;"><input type="hidden" name="file_name"><img src=""/></div></td>
            </tr>
            <tr>
				<td colspan="2" align="right"><input type="submit" value="修改"/></td>
			</tr>
		</table>   
		</form>
	</div>
</div>
<include file="Public:sa-footer" />