<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.validate.js" /> 
<load href="__PUBLIC__/js/jquery.form.js" /> 
<load href="__PUBLIC__/js/ajaxupload.js"/>
<script type="text/javascript">
$(document).ready(function(){
	new AjaxUpload('upfile', {
		action: '__APP__/Shopbrand/add_doUpload',
		name: 'image',
		onComplete: function(file, response) {
			var json = $.parseJSON( response );
			addimg( 'file_name', json.file );
		}
	});
	
	function addimg( id, file ){
		$( '#' +id+ ' img' ).attr( 'src', '<?php echo C("OUTSTREET_DIR"); ?>/Public/uploadimages/shop/brand/' + file );
		$( 'input[name=file_name]' ).attr( 'value', file );
		$( '#' +id+ ' input' ).val( file );
		$( '#' +id ).show();
		$( '#org_img' ).hide();
		$( '#text' ).hide();
	}
});

function delimg(){
	$.getJSON('__URL__/deletePic/id/'+document.theform.id.value+'/file_path/'+document.theform.file_name.value, 
	function(json){
		if(json.result == 1){
			$( 'input[name=file_name]' ).attr('value', '');
			$('#org_img').hide();
			$('#file_name').hide();
		}
	} );
}

function check_submit(){
	var brand_name = encodeURI(encodeURIComponent($.trim($("input[name=brand_name]").val())));
	var file_path = encodeURI(encodeURIComponent($.trim($("input[name=file_name]").val())));
	var id = $("input[name=id]").val();
	
	if(brand_name == '') {
		alert('請輸入商戶品牌');
	} else {
		$.getJSON('__URL__/doEdit/id/'+id+'/brand_name/'+brand_name+'/file_path/'+file_path, 
		function(json){
			if(json.result == 1){
				alert(json.msg);
				$( location ).attr( 'href', "__URL__/listAll" );
			} else {
				$( 'input[name=brand_name]' ).attr( 'value', $("input[name=bn]").val() );
				alert(json.msg);
			}
		} );
	}
}

$().ready( function() { 
	theformValidate = $("#theform").validate({
		rules: {
			name: { required: true },
			email: { email: true },
			website:{ url: true }
		},
		messages: {
			name: "請輸入商戶品牌",
			email: "請輸入一個正確的email地址",
			website: "必須是合法的鏈接"
		},
		submitHandler: function(frm){
			$( '#theform' ).ajaxSubmit({
				success: function ( response, status ) {
					var json = $.parseJSON( response );
					if(json.result == 1) {
						alert(json.msg);
						$( location ).attr( 'href', "__URL__/listAll" );
					} else {
						alert(json.msg);
					}
				}
			});
		}
	});

	$('#description,#eng_description').keyup(function() {
		$(this).next().val( $(this).val().length );
	}).keyup();
} );
</script>

<div class="container">
	<h3>修改商戶品牌</h3>
	<div class="mainbox">
		<form id="theform" name="theform" action="__APP__/Shopbrand/doEdit" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$id}" />
        <input type="hidden" name="bn" value="{$data['name']}" />
		<table cellspacing="5" cellpadding="0" align="left" style="width:60%">
			<tr>
            	<td style="width:25%;"><b>圖片：</b></td>
				<td style="width: 75%;">
	            	<?php if ($data['file_path']): ?>
	                	<div id="org_img"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/uploadimages/shop/{$data['file_path']}"/></div>
	                <?php else: ?>
	                    <div id="text">未有相片</div>
	                <?php endif; ?>
	                <div id="file_name" style="display: none;"><input type="hidden" name="file_name"><img src=""/></div>
	            </td>
			</tr>
            <tr>
            	<td><b><font color="#FF0000">*</font>品牌名稱：</b></td>
                <td><input type="text" name="name" value="{$data['name']}" size="40"/></td>
            </tr>
			<tr>
            	<td><b><font color="#FF0000">*</font>品牌名稱(英文):</b></td>
                <td><input type="text" name="eng_name" value="{$data['eng_name']}" size="40"/></td>
            </tr>
            <tr>
            	<td><b><font color="#FF0000">*</font>品牌網站:</b></td>
                <td><input type="text" name="website" value="{$data['website']}" size="40"/></td>
            </tr>
            <tr>
            	<td><b><font color="#FF0000">*</font>品牌電郵:</b></td>
                <td><input type="text" name="email" value="{$data['email']}" size="40"/></td>
            </tr>
            <tr>
            	<td><b><font color="#FF0000">*</font>品牌介紹:</b></td>
                <td><textarea name="description" id="description" rows="6" cols="40">{$data['description']}</textarea><input type="text" size="2"> 字</td>
            </tr>
            <tr>
            	<td><b><font color="#FF0000">*</font>品牌介紹(英文):</b></td>
                <td><textarea name="eng_description" id="eng_description" rows="6" cols="40">{$data['eng_description']}</textarea><input type="text" size="2"> 字</td>
            </tr>
			<tr>
            	<td><b>上傳圖片:</b></td>
				<td>
            		<input type="button" name="upfile" id="upfile" value="上載" onclick="delimg()"/>
                	<input type="button" name="delete" id="delete" value="刪除" onclick="delimg()"/><br />(僅允許上傳{&UPFILE_ALLOW_IMGEXT}類型文件)
	            </td>
			</tr>
			<tr>
				<td colspan="2" align="right"><input type="submit" value="修改"/></td>
			</tr>
		</table>
		</form>
	</div>
</div>
<include file="Public:sa-footer" />