<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" /> 
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" /> 
<script type="text/javascript">
$(document).ready(function(){

	$('#start_date').datepick({dateFormat:'yyyy-mm-dd'});
	$('#end_date').datepick({dateFormat:'yyyy-mm-dd'});

	$('.move').bind('click', function(){
		var uri = $(this).attr('id');
		
		$.get(uri,function(data){
			location.reload();
		});
	});
	$('.delete').bind('click', function(){
		if ( confirm('該操作不可恢復，您確認要删除嗎？') )
		{
			var uri = $(this).attr('id');
			$.get(uri,function(data){
				location.reload();
			});
		}
	});
});
function redirect(){
	var url="__URL__/add";
	window.location=url;
}
</script>
<div class="container">
	<h3>商戶品牌列表</h3>
	<div class="mainbox">
		<div>
			<form action="__URL__/listAll/" method="get">
				名稱:<input type="text" name="name" value="{.name}" />
				有相?:<input type="checkbox" name="isFile" value="1" />
				<input type="submit" name="search" value="搜尋" />
			</form>
		</div>
		
			<table class="datalist fixwidth">
			<tr>
				<?php $sortcols = array( 'id'=>'ID','name'=>'名稱','file_path'=>'有相?' ); ?>
				<?php foreach( $sortcols AS $key=>$val ): ?>
					<th>
						<?php echo $val; ?><a href="__URL__/listAll/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/listAll/sort/{$key}/sortorder/desc">&#8593;</a>
					</th>
				<?php endforeach; ?>
				<th>修改</th>
			</tr>
			<iterate name="list" id="vo">
				<tr title="{$vo.summary}" class="mousetr">
					<td width="5%">{$vo.id}</td>
					<td width="40%"><strong>{$vo.name}</strong></td>
                    <td width="40%"><if condition="$vo.file_path neq ''"><img src="<?php echo C(OUTSTREET_DIR); ?>/Public/uploadimages/shop/{$vo.file_path}"/><else/>未有相片</if></td>
					<td width="4%"><a href="__URL__/edit/id/{$vo.id}">修改</a></td>
				</tr>
			</iterate>
			<tr class="nobg">
            	<td colspan="2"><input type="button" value="新增品牌" onclick="javascript:redirect()"/></td>
				<td class="tdpage" colspan="4">{$multipage}</td>
			</tr>
		</table>
	</div>
	
</div>
<include file="Public:sa-footer" />