<include file="Public:sa-header" />
<include file="Public:box-header" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" /> 
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" /> 

<script type="text/javascript">
$(document).ready(function(){
	$('#start_date').datepick({dateFormat:'yyyy-mm-dd'});
	$('#end_date').datepick({dateFormat:'yyyy-mm-dd'});
});
function doSpecial_priority(id,action,is_special_type){
	$.getJSON('__URL__/listAction/type/special_order/is_special_type/'+is_special_type+'/action/'+action+'/shop_id/'+id, function(json){
		if(json.result == 1) {			
		}
		switch (json.msg){
			case '1':
				alert('成功修改優先度!');
				location.reload(true);
			break;
			case '2':
				alert('修改失敗!');
			break;
		}
	});
}
function doSpecial_add(id,action,is_special_type){
	$.getJSON('__URL__/listAction/type/is_special/is_special_type/'+is_special_type+'/action/'+action+'/shop_id/'+id, function(json){
		if(json.result != 1) {
			alert(json.data[0]['name']);
		}
		switch (json.msg){
			case '1':
				alert('成功加入精選!');
				location.reload(true);
			break;
			case '2':
				alert('修改失敗!');
			break;
		}
	});
}
function dosetnewshop(id,action){
	url='__URL__/listAction/type/is_new/action/'+action+'/shop_id/'+id;
	$.getJSON('__URL__/listAction/type/is_new/action/'+action+'/shop_id/'+id, function(json){
		if(json.result != 1) {
			alert(json.data[0]['name']);
		}
		switch (json.msg){
			case '1':
				alert('最新商戶設定完成!');
				location.reload(true);
			break;
			case '2':
				alert('修改失敗!');
			break;
		}
	});
}
$('.upgrade').live('click', function(){
	var uri = $(this).attr('id');
	$.getJSON(uri,function(data){
		if (data.success) {
		 	location.reload(true);
		} else {
			var errorStr = '請先修改以下資料以便進行商戶改動' + "\n\n"; 
			for (var i=0; i<data.errors.length; i++)
			{
				errorStr += data.errors[i] + "\n"; 
			}
			alert(errorStr);
		}
	});
});

</script>

<div class="container">
	<h3>列表(<a href="__URL__/shopAdd/" class="green">新增商戶</a>)</h3>
	<div class="mainbox">
		<div>
			<form action="__URL__/shoplist/" method="get">
				商戶ID:<input type="text" style="width: 100px;" name="shopid" value="{.shopid}" />
				商戶名稱:<input type="text" name="name" value="{.name}" />
				<!--時間:<input type="text" style="width: 100px;" id="start_date" name="start_date" value="{.start_date}"/>-<input type="text" style="width: 100px;" id="end_date" name="end_date" value="{.end_date}"/>-->
				商戶地址:<input type="text" name="address" value="{.address}" />
				店主ID:<input type="text" name="ownerid" value="{.ownerid}" />
				<input type="submit" name="search" value="搜尋" />
			</form>
		</div>
		<table class="datalist fixwidth">
			<tr>
				<?php $sortcols = array( 'shop_fields.id'=>'ID', 'shop_fields.shop_level' => '級別', 'shop_fields.name'=>'商戶名稱','shop_fields.create_time'=>'創建時間','shop_fields.address'=>'商戶地址' ); ?>
				<?php foreach( $sortcols AS $key=>$val ): ?>
					<th>
						<?php echo $val; ?><a href="__URL__/shoplist/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/shoplist/sort/{$key}/sortorder/desc">&#8593;</a>
					</th>
				<?php endforeach; ?>
				<th>所屬分類</th>
                <th>升級成為精選</th>
				<th>關鍵詞</th>
				<th>店主ID</th>
				<th>審核</th>
				<th>修改</th>
			</tr>
			<iterate name="shopList" id="vo">
				<tr title="{$vo.name|stripslashes}" class="mousetr">
					<td width="50">{$vo.id}</td>
					<td width="50">
						<?php if($vo['is_new']==$vo['id']): ?><span style="color:#000;">最新</span><?php else: ?><a onclick="dosetnewshop({$vo.id},1);" href="javascript:void(0);">最新</a><?php endif; ?><br/>
						<?php if($vo['shop_level'] == 0): ?><span style="color:#000;">免費</span><?php else: ?><a href="javascript: void(0);" id="__URL__/doShopUpgrade/id/{$vo.id}/level/0" class="upgrade" style="color:#999;">免費</a><?php endif; ?><br/>
						<?php if($vo['shop_level'] == 1): ?><span style="color:#000;">標準</span><?php else: ?><a href="javascript: void(0);" id="__URL__/doShopUpgrade/id/{$vo.id}/level/1" class="upgrade" style="color:#999;">標準</a><?php endif; ?><br/>
						<?php if($vo['shop_level'] == 2): ?><span style="color:#000;">至尊</span><?php else: ?><a href="javascript: void(0);" id="__URL__/doShopUpgrade/id/{$vo.id}/level/2" class="upgrade" style="color:#999;">至尊</a><?php endif; ?>
					</td>
					<td width="120"><strong><a href="{$link}{$vo.id}" target="_blank">{$vo.name|msubstr=###,0,12|stripslashes}</a></strong></td>
					<td width="100" class="date">{$vo.create_time|date='Y-m-d H:i:s',###}</td>					
				  	<td>{$vo.sub_location_name}{$vo.address}</td>
                  	<td width="100"><?php echo $shopTypeList[$vo['id']]; ?></td>
					<td width="100">
                        <if condition="$vo.is_special neq 0">
                        	精選({$topLevelList[$vo['id']]['name']})優先度:
                            <select id="special_order" name="special_order" onchange="doSpecial_priority({$vo.id},this.value,{$topLevelList[$vo['id']]['id']})"> 
                                <option <?php if($vo['is_special']==1) { ?> selected <?php } ?> value="1">1</option>
                                <option <?php if($vo['is_special']==2) { ?> selected <?php } ?> value="2">2</option>
                            </select>
                        <else />
                            <switch name="topLevelList[$vo['id']]['id']">  
                                <case value="1">                        
                                    <a href="__URL__/upgrade/type/is_special/action/1/shop_id/{$vo.id}/is_special_type/{$topLevelList[$vo['id']]['id']}?height=220&amp;width=450&amp;modal=false" class="thickbox green">{$topLevelList[$vo['id']]['name']}</a>
                                </case>
                                <case value="10">                        
                                	<a href="__URL__/upgrade/type/is_special/action/1/shop_id/{$vo.id}/is_special_type/{$topLevelList[$vo['id']]['id']}?height=220&amp;width=450&amp;modal=false" class="thickbox green">{$topLevelList[$vo['id']]['name']}</a>
                                </case>
                                <case value="6">                        
                                	<a href="__URL__/upgrade/type/is_special/action/1/shop_id/{$vo.id}/is_special_type/{$topLevelList[$vo['id']]['id']}?height=220&amp;width=450&amp;modal=false" class="thickbox green">{$topLevelList[$vo['id']]['name']}</a>
                                </case>
                                <default />                    
                                	無法升為精選                  
                            </switch>
                        </if>
					</td>
				  	<td width="100"><?php echo $shopKeywordList[$vo['id']]; ?></td>
				  	<td width="80"><?php echo $vo['owner_id']; ?></td>
					<td width="40">
						<if condition="$vo.is_audit eq 0">
							<a href="__ACTION__/authid/{$vo.id}/{&VAR_PAGE}/{$page}" class="red">未審核</a>
						<else/>
							<a href="__ACTION__/authid/{$vo.id}/{&VAR_PAGE}/{$page}" class="green">已審核</a>
						</if>
					</td>
					<td width="40"><a href="__URL__/shopEdit/id/{$vo.id}" class="green">修改</a></td>
				</tr>
			</iterate>
			<tr class="nobg">
				<td class="tdpage" colspan="9">{$multipage}</td>
			</tr>
		</table>
        <!--</form>-->
	</div>
	
</div>
<include file="Public:sa-footer" />