<include file="Public:box-header" />
<load href="__PUBLIC__/css/ot_global.css" /> 
<load href="__PUBLIC__/js/jquery.validate.min.js" /> 
<load href="__PUBLIC__/js/jquery.form.js" /> 
<load href="__PUBLIC__/js/ajaxupload.js"/>
<load href="__PUBLIC__/js/shop_form.js"/>

<script type="text/javascript" src="http://maps.google.com.hk/maps?file=api&v=2&key=ABQIAAAA265tqANg-PO9A0c1yzonRhTjMhPI1CAhGVtOIejGS_y-mHbIYBQkOamcSRGA1BZVqQuXy1KsEawDSw"></script>
<script type="text/javascript">
var map = null;
var geocoder = null;

$().ready(
	function() {
		addFormValidate = $("#addForm").validate({
			event: "blur",
			rules: {
				cate_ids: "required",
				location_id: "required",
				name: "required",
				address: {
					required: true,
					minlength: 2
				},
				telephone: {
					number: true
				},
				sub_telephone: {
					number: true
				},
				transthere:{
					maxlength: 30
				},
				email: {
					email: true
				},
				website:{
					url: true
				}
			},
			messages: {
				cate_ids: "請選擇至少一個所屬類別",
				location_id: "請選擇商戶所在商圈",
				name:"請輸入商戶名稱",
				address: {
					required: "請輸入地址",
					minlength: "地址不能少於2個字符"
				},
				telephone:{
					number: "電話號碼必需為數字"
				},
				sub_telephone:{
					number: "電話號碼必需為數字"
				},
				transthere: {
					maxlength: "最多只能輸入30個字符"
				},
				email: "請輸入一個正確的電郵地址",
				website:"必須是合法的鏈接"
			},
			submitHandler: function(frm){
				weekinput= 0;
				warning  = 0;
				for(i=0; i<8; i++){
					if(!$('#work_dayoff_'+i).attr('checked')) {
						if ( $('#work_start_time_'+i).val() > 0 && $('#work_end_time_'+i).val() > 0 && $('#work_start_time_'+i).val().length == 4 && $('#work_end_time_'+i).val().length == 4 ) {
							weekinput++; 
						} else {
							warning++;
							addFormValidate.showErrors( { 'warning' : '營業時間不正確!' } );	
						}
					}
				}
				
				if (warning > 0){
					addFormValidate.showErrors( { 'warning': '最少要填寫一個正確的營業時間' } );
				} else {
					if($('#is_renovation').attr('checked') && $('#is_closed').attr('checked')){
						alert('特殊狀態不能同時選擇結業和裝修中');
					}else{
						var jform = $('#addForm');
						var params = jform.serialize();
						var ajaxuri = '__URL__/shopAdd';
						$.post(ajaxuri, params, function(json){
							if(json.status){
								alert(json.info);
								location.href = '__URL__/shoplist/';
							} else {
								if(json.cate_error){
									addFormValidate.showErrors( { 'cate_ids' : json.cate_error } );	
								} else {
									alert(json.info);
								}
							}
						},'json');
						return false;
					}
				}
			}
		})
		
		//綁定事件

		

			$('#mall').attr({checked:false});
			$('#mall').bind("click", mallClickEventHandler);	
			$('#mallname').bind('keyup click', function(){
				fillSelectedMall('__APP__');
			});
			
		map = new GMap2(document.getElementById("gmap"));
		geocoder = new GClientGeocoder();
		
		$('#address').bind("blur", function(){
			if ($('#address').val() != '{$shopInfo.address}') {
				if ($('#location_id option:selected').text()==''){
					return;
				}
	
				$('#addressError').text('正在搜索您輸入的街道'+$('#location_id option:selected').text()+' '+$('#address').val()+'是否存在...');
				$('#addressError').css('background-color','#66f');
				
				geocoder.getLatLng(
					$('#location_id option:selected').text() + ' ' + $('#address').val(),
					function(point) {
						if (!point) {
							$('#addressError').text('無法找到您輸入的街道地址，請重新輸入');
							$('#addressError').css('background-color','#f66');
							$('#address').focus();
						} else {
							$('#addressError').text('您輸入的街道地址位於東經'+point.lat()+'度,北緯'+point.lng()+'度');
							$('#addressError').css('background-color','#6f6');
							$('#googlemap_lat').val(point.lat());
							$('#googlemap_lng').val(point.lng());
								
							map.clearOverlays();
							map.setCenter(point, 17);
							var marker = new GMarker(point, {draggable: true});
		
							GEvent.addListener(marker, "dragstart", function() {
								map.closeInfoWindow();
							});
								
							GEvent.addListener(marker, "dragend", function() {
								var mlatlng = marker.getLatLng();
								$('#googlemap_lat').val(mlatlng.lat());
								$('#googlemap_lng').val(mlatlng.lng());							
							});
		
							map.addOverlay(marker);
							marker.openInfoWindowHtml($('#location_id option:selected').text() + ' ' + $('#address').val());
						}
					}
				);
			}
		});
		
		//綁定事件
		$('#brand_id').bind("change", function(){
			//設置相應隱藏域的值
			$('#brand_name').val(this.options.item(this.selectedIndex).text);
			
			//判斷是否選擇新建品牌  從而決定新品牌錄入框
			if ($(this).val() == ''){
				$('#newbrand').show();
			}else{
				$('#newbrand').hide();
			}
		});
		
		$('#description,#eng_description').keyup(function() {
			$(this).next().val( $(this).val().length );
		}).keyup();
	}
)

function setcates(cates){
	$('#cate_ids').val('');
	$('#cate_names').val('');
	var _ids = $('#cate_ids');
	var _names = $('#cate_names');	

	for(idx in cates){
		if (_ids.val() != ''){
			_ids.val(_ids.val()+ ',')
		}
		if (_names.val() != ''){
			_names.val(_names.val()+ ',')
		}
					
		var id_ = cates[idx].value.split('||')[0];
		var name_ = cates[idx].value.split('||')[1];
		_ids.val(_ids.val() + id_);		
		_names.val(_names.val() + name_);		
	}
}

function getcates(){
	var arr = $('#cate_ids').val().split(',');
	for(idx in arr){
		if (arr[idx] != ''){
			$('#cate_id_' + arr[idx]).attr('checked', true);
		}
	}
}

function setPic(eleid, picpath, desc, picid){
	var jPhoto = $('#photoAt'+eleid);
	var temp = '<a id="upfileAt'+eleid+'" class="thickbox" rel="upfiles" title="'+desc+'" href="{$Think.config.OUTSTREET_DIR}{$Think.config.SHOP_UPFILE_PATH}'+picpath+'"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.SHOP_UPFILE_PATH}thumb_'+picpath+'" width="120" height="120" /></a>';
	
	jPhoto.empty();
	jPhoto.append(temp);
	jPhoto.append('<br /><span>' + desc + '</span>');

	tb_init('#upfileAt' + eleid);
	
	var jPhotoEdit = $('#peditAt'+eleid);
	jPhotoEdit.empty();
	temp = '<a href="__URL__/deletePic_shopEdit/id/'+picid+'/eleid/'+eleid+'/from/shop" target="deleteResult">刪除</a>';
	jPhotoEdit.append(temp);
}

function reInitPic(eleid){
	var jPhoto = $('#photoAt'+eleid);
	jPhoto.empty();
	
	var jPhotoEdit = $('#peditAt'+eleid);
	jPhotoEdit.empty();
	temp = '<a id="uplink'+eleid+'" href="__URL__/uploadPic/eleid/'+eleid+'/picstamp/{$picstamp}/from/shop/?height=200&width=400&modal=false" class="thickbox">上載</a>';
	jPhotoEdit.append(temp);
	tb_init('#uplink'+eleid);
}

function changeWorkTime(i) {
	if ($('#work_dayoff_'+i).attr('checked')) {
		$('#work_start_time_'+i).val('');
		$('#work_end_time_'+i).val('');
		$('#time_input_'+i).hide(); 
		$('#time_input_'+i).hide(); 
	} else {
		$('#time_input_'+i).show();
		$('#time_input_'+i).show();
	}
}
</script>

<style type="text/css"> 
	.block { display: block; }
	form label.error { color: red; display: block; }	
	td { padding: 7px; }
</style> 

<div style="padding:5px;">
	<form id="addForm" name="addForm" method="post" action="__URL__/shopAdd">
    <input type="hidden" value="{$picstamp}" name="picstamp" />
    <table border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #91c5e2;width:800px;position:relative;" id="tbWrite">
        <tr>
            <td style="background-color:#cfedfe;padding:7px" id="header2"><b>商戶列表(<a href="__URL__/shoplist/">返回</a>) - 新增商戶資料</b></td>
        </tr>
		<tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px;position:relative;"><b>商戶相片：</b></div>
                <div style="float:left;width:610px;position:relative;">
                    <iframe id="deleteResult" name="deleteResult" style="display:none"></iframe>
                    <iterate name="picids" id="item">
                        <iframe name="iframeAt{$item}" id="iframeAt{$item}" src="__URL__/uploadResult" style="display:none"></iframe>
                        <div class="photoContainer">
                            <div class="photo" id="photoAt{$item}"></div>	
                            <div class="action" id="peditAt{$item}"><a href="__URL__/uploadPic/eleid/{$item}/picstamp/{$picstamp}/from/shop/?height=200&width=420&modal=false" class="thickbox">上載</a></div>
                        </div>
                    </iterate>
                </div>
			</td>
       	</tr>
		<tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000">*</font>所屬類別：</b></div>
                <div style="float:left;width:400px">
                	<input type="hidden" name="cate_ids" id="cate_ids" readonly="true" />
                    <input type="text" name="cate_names" id="cate_names" readonly="true" title="請選擇類別" alt="__URL__/selshopcate/eleid/cate_ids?height=400&width=450&modal=false" class="thickbox" />
                </div>
            </td>
        </tr>
		<tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>所屬品牌：</b></div>
                <div style="float:left;width:400px">
                	<select id="brand_id" name="brand_id">
                    	<option value="0">無品牌</option>   
                    	<option value="">新建品牌</option>   
                    	<iterate name="brandList" id="vo">  
                        	<option value="{$vo.id}">{$vo.name}</option>   
                        </iterate>  
                	</select>
                	<input type="text" value="" id="newbrand" name="newbrand" style="display:none" />
                </div>
            </td>
        </tr>
		<tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000">*</font>商戶名稱：</b></div>
                <div style="float:left;width:400px"><input type="text" name="name" id="name" value="" maxlength="30" /></div>
            </td>
		</tr>
        <tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>商戶名稱(英文)：</b></div>
                <div style="float:left;width:400px"><input type="text" name="eng_name" id="eng_name" value="" maxlength="50" /></div>
        	</td>
        </tr>

		<tr>
			<td style="background-color:#FFFFFF;"><div style="float:left;width:130px"><b><font color="#FF0000">*</font>地區：</b></div>
				<div style="float:left;width:400px">
					<span id="location_name"></span><select id="location_id" name="location_id"><option value=""></option>
					<?php foreach($mainLocationList AS $main): ?>
						<optgroup label="{$main.name}">
						<?php foreach($subLocationList AS $sub): ?>
							<?php if ($main['id'] == $sub['main_location_id']): ?>
								<option value="{$sub.id}">{$sub.name}</option>
							<?php endif; ?>
						<?php endforeach; ?>
						</optgroup>
					<?php endforeach; ?>
                     </select>
					 </div>
                </td>
            </tr>
		<tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>所屬商場：</b></div>
                <div style="float:left;width:400px">
					<?php echo generateMall('padding:0px 0px 0px 150px');?>
					<script>checkExistMall('__APP__','{$shopInfo.parent_shop_id}');</script>
                </div>
			</td>
         </tr>
		 <tr>
         	<td style="background-color:#FFFFFF;padding:7px">
            	<table width="0%" border="0" cellspacing="0" cellpadding="0">
              		<tr>
                 		<td style="width:130px"><b><font color="#FF0000">*</font>詳細地址：</b></td>
                		<td>
                  			<input type="text" name="address" value="" id="address" /><span id="addressError">如: xx街xx號</span>
                  			<div id="gmap" style="width:300px; height:300px;"></div><br>
                  			<input type="text" name="googlemap_lat" readonly="true" id="googlemap_lat" value="" class="small" />
                  			<input type="text" name="googlemap_lng" readonly="true" id="googlemap_lng" value="" class="small" />
                        </td>
              		</tr>
          		</table>
        	</td>
        </tr>
        <tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>場所：</b></div>
                <div style="float:left;width:400px"><input type="text" name="rooms" id="rooms" value=""/> 如: xx廣場3樓C-D店</div>
            </td>
        </tr>
        <tr id="byShopSelect">
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>詳細地址(英文)：</b></div>
                <div style="float:left;width:auto"><input type="text" name="eng_address" id="eng_address" value="" /></div>
            </td>
        </tr>
        <tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>場所(英文)：</b></div>
            	<div style="float:left;width:400px"><input type="text" name="eng_rooms" id="eng_rooms" value=""/> eg: xx Plaza 3/F C-D Shop</div>
            </td>
        </tr>
		<tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000">*</font>營業時間：</b></div>
                <div style="float:left;width:420px">
               		<table style="width:100%;" cellspacing="0" cellpadding="0">
                  	<?php $week = array( '星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日', '公眾假期' ); ?>
                    <?php for( $i=0; $i<8; $i++ ): ?>
                    	<tr>
                        	<td><?php echo $week[$i]; ?></td>
                            <td><input type="checkbox" name="work_dayoff_<?php echo $i; ?>" id="work_dayoff_<?php echo $i; ?>" value="1" onclick="changeWorkTime('<?php echo $i; ?>')"/>休息</td>
                            <td style="width:280px;">
                            	<div id="time_input_<?php echo $i; ?>"><input type="text" name="work_start_time_<?php echo $i; ?>" id="work_start_time_<?php echo $i; ?>" value="" style="width: 80px;" maxlength="4" /> - <input type="text" name="work_end_time_<?php echo $i; ?>" id="work_end_time_<?php echo $i; ?>" value="" style="width: 80px;" maxlength="4"/>&nbsp;如: 0900 - 2230
                              	</div>
                              </td>
                          </tr>
                      <?php endfor; ?>
                      <tr>
                          <td colspan="3"><input type="hidden" name="warning"></td>
                      </tr>
                  </table>
                </div>
            </td>
        </tr>
		<tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000"></font>商戶介紹：</b></div>
                <div style="float:left;width:400px"><textarea name="description" id="description" rows="6" cols="40"></textarea><input type="text" size="2"> 字</div>
            </td>
        </tr>
        <tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000"></font>商戶介紹(英文)：</b></div>
                <div style="float:left;width:400px"><textarea name="eng_description" id="eng_description" rows="6" cols="40"></textarea><input type="text" size="2"> 字</div>
        	</td>
        </tr>
        <tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>泊車資料：</b></div>
                <div style="float:left;width:400px"><input type="text" name="parking" id="parking" value=""/></div>
            </td>
		</tr>
        <tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>泊車資料(英文)：</b></div>
                <div style="float:left;width:400px"><input type="text" name="eng_parking" id="eng_parking" value=""/></div>
            </td>
        </tr>
        <tr>
        	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>聯絡電話：</b></div>
                <div style="float:left;width:400px"><input type="text" name="telephone" id="telephone" value="" minlength="8" maxlength="12"/></div>
            </td>
        </tr>
        <tr>
       		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>次聯絡電話：</b></div>
           		<div style="float:left;width:400px"><input type="text" name="sub_telephone" id="sub_telephone" value="" minlength="8" maxlength="12"/></div>
        	</td>
        </tr>
        <tr>
          	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>網址：</b></div>
            	<div style="float:left;width:400px"><input type="text" name="website" id="website" value="" size="50"/></div>
            </td>
        </tr>
        <tr>
          	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>電郵地址：</b></div>
            	<div style="float:left;width:400px"><input type="text" name="email" id="email" value="" size="50"/></div>
            </td>
        </tr>
        <tr>
          	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>價格範圍：</b></div>
                <div style="float:left;width:400px">                 
                	<select name="price_range" id="price_range">
                        <option value="0">N/A</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                  	</select>					
                </div>
        	</td>
        </tr>
        <tr>
            <td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><label>關鍵詞:</label></b></div>
            	<div style="float:left;width:400px"><input type="text" style="width: 200px;" name="keyword" id="keyword" value=""/></div>
            </td>
        </tr>
        <tr>
            <td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><label>關鍵詞(英文):</label></b></div>
            	<div style="float:left;width:400px"><input type="text" style="width: 200px;" name="eng_keyword" id="eng_keyword" value=""/></div>
            </td>
        </tr>
        <tr>
            <td style="background-color:#FFFFFF;"><div style="float:left;width:130px"><b>狀態：</b></div>
                <div style="float:left;width:400px">
                     <label><input type="checkbox" name="is_closed" id="is_closed" value="1" />&nbsp;結業</label>
                     <label><input type="checkbox" name="is_renovation" id="is_renovation" value="1" />&nbsp;裝修中</label>
                     <label><input type="checkbox" name="is_moved" id="is_moved" value="1" />&nbsp;已搬址</label>
                </div>
            </td>
        </tr>
        <tr>
        	<td style="background-color:#FFFFFF;"><input type="submit" name="submit" id="submit" value="傳送" style="left:130px;position:relative;"/></td>
        </tr>
    </table>
	</form>	
</div>

<include file="Public:box-footer" />