<include file="Public:sa-footer" />

<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" /> 
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" /> 
<script type="text/javascript">
$(document).ready(function(){
});
</script>
<div class="container">
	<h3>商戶PDF列表</h3>
	<div class="mainbox">
		<table class="datalist fixwidth">
			<tr>
				<?php $sortcols = array( 'shop_pdf.id'=>'ID','shop_pdf.create_time'=>'創建時間' ); ?>
				<?php foreach( $sortcols AS $key=>$val ): ?>
					<th>
						<?php echo $val; ?><a href="__URL__/listAll/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/listAll/sort/{$key}/sortorder/desc">&#8593;</a>
					</th>
				<?php endforeach; ?>
				<th>指派商戶</th>
				<th>檔案名稱</th>
				<th>檔案簡介</th>
				<th>發怖</th>
			</tr>
			<iterate name="list" id="vo">
				<tr title="{$vo.summary}" class="mousetr">
					<td width="5%">{$vo.id}</td>
					<td width="10%" class="date">{$vo.create_time|date='Y-m-d H:i',###}</td>
					<td width="22%">
						<iterate name="vo['shops']" id="shop">
							<span>{$shop.name}</span><span>（共{$vo.shopcount}間）</span>
						</iterate>
						<if condition="$vo.shopcount eq 0">未指派商戶</if>
					</td>
					<td width="25%" title="{$vo.ori_file_name}"><a target="_blank" href="<?php echo C('OUTSTREET_DIR') ?>/<?php echo C('SHOP_PDF_PATH') ?>{$vo.file_path}">{$vo.ori_file_name}</a></td>
					<td width="23%" title="{$vo.description}">{$vo.description}</td>
					<td width="6%">
						<if condition="$vo.is_audit eq 0">                	
							<div class="red">未發怖</div>
						<else/>
							<div class="green">已發怖</div>
						</if>
					</td>
				</tr>
			</iterate>
			<tr class="nobg">
				<td class="tdpage" colspan="6">{$multipage}</td>
			</tr>
		</table>

	</div>
	
</div>
<include file="Public:sa-footer" />