<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<script type="text/javascript">
	$().ready(function(){
		$('#tabs-box ul').showTabs();		
		$('div.headerAboutus').corner("cc:#fff ,top");
		$('div.footer-aboutus').corner("cc:#fff ,bottom");
	});
</script>
<div id="body-content-full">
<div id="contest">
    <div style="width:640px;height:376px;"><a href="__ROOT__/user/register"><img src="__PUBLIC__/images/contest/poster1.jpg"/></a></div>
    <div style="width:640px;height:196px;"><a href="__ROOT__/user/register"><img src="__PUBLIC__/images/contest/poster2.jpg"/></a></div>
    <div style="width:640px;height:304px;"><a href="__ROOT__/user/register"><img src="__PUBLIC__/images/contest/poster3.jpg"/></a></div>
    <div style="width:640px;height:311px;"><a href="__ROOT__/user/register"><img src="__PUBLIC__/images/contest/poster4.jpg"/></a></div>
</div>
</div>
<include file="Public:footer" />