/* common */
* {
	word-wrap: break-word;
	outline: none;
}

body {
	background: #fff;
	text-align: center;
}

body,td,input,textarea,select,button {
	color: #666;
	font: 12px "Lucida Grande", Verdana, Lucida, Helvetica, Arial,
		sans-serif;
}

body,ul,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 12px;
}

a {
	color: #2366A8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

em,cite,th {
	font-style: normal;
	font-weight: normal;
}

table {
	border-collapse: collapse;
}

/* form */
textarea,input {
	padding: 2px;
	border: 1px solid;
	border-color: #666 #eee #eee #666;
}

input.txt:hover,input.txt:focus,textarea:hover,textarea:focus {
	border-color: #09C;
	background: #F5F9FD;
}

.radio {
	margin-top: -1px;
	border: none;
	vertical-align: middle;
}

.checkbox {
	height: 14px;
	border: none;
	vertical-align: middle;
}

.btn {
	margin: 3px 0;
	padding: 2px 5px; *
	padding: 4px 5px 1px;
	border-color: #ddd #666 #666 #ddd;
	background: #DDD;
	color: #000;
	cursor: pointer;
}

.sgbtn {
	margin-left: 20px;
	padding: 3px 7px; *
	padding: 4px 7px 2px;
	border: 1px solid #B5CFD9;
	background: #F2F9FD;
	color: #666;
	font-size: 12px;
	font-weight: 400;
}

.sgbtn:hover {
	text-decoration: none;
}

.bigarea {
	margin-left: 5px;
	width: 230px;
	height: 120px;
}

.long {
	width: 450px
}

.short {
	width: 150px
}

.number {
	width: 80px
}

input.right {
	border-color: #0AB;
}

input.error {
	border-color: #F63;
}

.acinfo {
	margin: 5px 20px 10px 0px;
	padding: 5px 10px 5px 10px;
	background: #E0E4F1;
	border: #333 1px dashed;
	width: 680px
}

.sucinfo {
	margin: 5px 20px 10px 0px;
	padding: 5px 10px 5px 10px;
	background: #cf9;
	border: #9c6 1px dashed;
	width: 680px
}

.errinfo {
	margin: 5px 20px 10px 0px;
	padding: 5px 10px 5px 10px;
	background: #FFF2E9;
	border: #f90 1px dashed;
	width: 680px
}

.alert {
	background: #0AB;
}

/* main he	ader */
.mainhd {
	text-align: left;
	position: relative;
	height: 69px;
	line-height: 69px;
	background: url(bg_repx.gif) repeat-x;
}

.logo {
	float: left;
	width: 321px;
	height: 46px;
	background: url(bg_repno.gif) no-repeat 29px 20px;
}

.logo img {
	margin-left: 32px;
	margin-top: 15px;
}

.uinfo {
	float: right;
	display: inline;
	margin-right: 40px;
}

.uinfo a {
	color: #666;
}

.uinfo em {
	margin-right: 5px;
	font-weight: 700;
}

.uinfo p {
	float: left;
}

.qinfo {
	background: #f00;
	position: absolute;
	right: 10px;
	bottom: 2px;
}

.othersoff,.otherson {
	display: block;
	margin: 19px 0 0 25px;
	width: 151px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: url(bg_repno.gif) no-repeat 0 -680px;
	outline: none;
}

.otherson {
	background: url(bg_repno.gif) no-repeat 0 -650px;
}

.othersoff:hover,.otherson:hover {
	text-decoration: none;
}

/* menu */
.togglemenu {
	position: absolute;
	z-index: 1000;
	width: 149px; *
	width: 151px;
	text-align: left;
	border: 1px solid #B5CFD9;
	border-top: none;
	background: #FFF;
	opacity: 0.8;
	filter: Alpha(opacity = 80);
}

.togglemenu ul {
	list-style: none;
	margin: 0 2px 2px;
	padding: 10px 0;
	background: url(bg_repx_hd.gif) repeat-x;
}

.togglemenu a {
	display: block;
	padding: 5px 15px;
	color: #666;
	text-decoration: underline;
}

.togglemenu a:hover {
	color: #09C;
}

/* box */
.container {
	padding: 20px;
	text-align: left;
	background: url(bg_repx_hb.gif) repeat-x;
}

.note {
	margin: 5px 0;
	padding: 10px;
	width: 580px;
	border: 1px solid #B5CFD9;
	background: #F5F9FD;
}

.i {
	padding-left: 22px;
	line-height: 19px;
	background: url(bg_repno.gif) no-repeat -275px -100px;
}

.i a {
	text-decoration: underline;
}

.i a:hover {
	text-decoration: none;
}

.mainbox {
	margin: 10px 0;
}

.opt {
	clear: both;
	overflow: hidden;
}

.opt th {
	padding: 5px 0;
	font-weight: 700;
	text-align: left;
}

.opt td {
	padding-bottom: 10px;
}

.opt .txt,.opt textarea {
	vertical-align: middle;
	margin-right: 10px;
	width: 180px;
}

.opt select {
	vertical-align: middle;
	margin-right: 10px;
}

.opt .area {
	height: 80px;
}

.opt .bigarea {
	width: 500px;
	height: 80px;
}

.opt label {
	margin-right: 20px;
}

.opt p {
	float: left;
	line-height: 180%;
}

.correct td {
	color: #090;
}

.correct .txt {
	padding-right: 20px;
	width: 160px;
	background: url(bg_repno.gif) no-repeat 165px -198px;
}

.error td {
	color: #F60;
}

.error .txt {
	padding-right: 20px;
	width: 160px;
	background: url(bg_repno.gif) no-repeat 167px -346px;
}

.datalist {
	clear: both;
	width: 100%;
	border-top: 2px solid #B5CFD9;
	border-bottom: 2px solid #B5CFD9;
}

.datalist th {
	line-height: 250%;
	text-align: left;
	border-bottom: dashed 1px #ccc;
	color: #9EBECB;
	font-size: 12px;
}

.datalist td {
	padding: 5px 0;
	border-bottom: dashed 1px #ccc;
}

.currenttr td {
	border-bottom: dashed 1px #ccc;
	background: #F2F9FD;
	font-size: 12px;
}

.datalist a {
	text-decoration: underline;
}

.datalist a:hover {
	text-decoration: none;
}

.datalist .txtnobd {
	width: 90%;
	border: 1px solid #FFF;
	text-align: right;
	overflow: hidden;
	cursor: pointer;
}

.datalist .bigarea {
	width: 500px;
	height: 80px;
}

.tdinput {
	padding: 0 30px 5px 0;
	width: 160px;
}

.tdarrow {
	width: 20px;
}

.tdshort {
	width: 40px;
}

.option {
	width: 10%;
}

.username {
	width: 20%;
	font-weight: 700;
}

.date {
	font-size: 9px;
	padding: 0;
}

.decimal {
	font-size: 12px;
}

.ip {
	width: 15%;
}

.dataview {
	clear: both;
	border-top: 2px solid #B5CFD9;
	border-bottom: 2px solid #B5CFD9;
	width: 600px;
}

.dataview th,.dataview td {
	padding: 5px 2px;
	font-size: 12px;
	border-bottom: dashed 1px #ccc;
}

.dataview th {
	width: 70px;
	text-align: right;
}

.dataview .date {
	font-size: 9px;
	padding: 0;
}

.dataview .hr {
	height: 2px;
	background: #388;
	border: 0
}

.dataview textarea {
	height: 100px;
	width: 330px
}

.fixwidth {
	width: 770px;
	overflow: hidden;
}

.fixwidthdec {
	width: 580px;
}

.ajax {
	width: 360px;
	border: 1px solid #89B3C2;
	margin: 0 auto;
}

.ajaxbg {
	margin: 2px;
	padding: 15px;
	background: url(bg_repx_hc.gif) repeat-x;
}

.alert {
	padding-left: 40px;
	background: url(bg_repno.gif) no-repeat 0 -500px;
}

.alert h4 {
	margin-bottom: 3px;
	font-size: 14px;
}

.alert p {
	margin-bottom: 12px;
	color: #09C;
}

.alert .btn {
	vertical-align: middle;
}

.alert a.abtn {
	margin-left: 20px;
	text-decoration: underline;
}

.alert a.abtn:hover {
	text-decoration: none;
}

.errormsg {
	margin: 10px 0;
	padding: 10px;
	width: 580px;
	border: 1px solid #DD3D11;
	background: #FFEBEB;
}

.errormsg p {
	padding-left: 15px;
	background: url(bg_repno.gif) no-repeat -300px -648px;
}

.errormsg em {
	color: #DD3D11;
	font-weight: 700;
}

.errormsg ol {
	margin: 10px;
	padding: 0;
	list-style-type: upper-roman;
	list-style-position: inside
}

.correctmsg {
	margin: 10px 0;
	padding: 10px;
	width: 580px;
	border: 1px solid #4EBB20;
	background: #FCFFF0;
}

.correctmsg p {
	padding-left: 17px;
	background: url(bg_repno.gif) no-repeat -335px -598px;
}

.correctmsg em {
	color: #4EBB20;
	font-weight: 700;
}

.rtninfo {
	margin: 50px auto;
	width: 500px;
	line-height: 180%;
}

.rtninfo h4 {
	margin-bottom: 10px;
	padding-left: 25px;
	background: url(bg_repno.gif) no-repeat -275px -98px;
	font-size: 14px;
}

.rtninfo p {
	margin-left: 25px;
}

.footer {
	display: block;
	line-height: 25px;
}

/* tabmenu */
.hastabmenu {
	position: relative;
	height: 90px;
}

.tabmenu {
	position: absolute;
	z-index: 80;
	list-style: none;
}

.tabmenu li {
	float: left;
	margin-right: 5px;
}

.tabmenu li a,.tabmenu .tabcurrent a {
	display: block;
	padding: 3px 7px;
	border: 1px solid #CCC;
	border-bottom: 1px solid #B5CFD9;
	color: #666;
}

.tabmenu li a:hover {
	text-decoration: none;
}

.tabmenu .tabcurrent a {
	border: 1px solid #B5CFD9;
	border-bottom: 1px solid #F2F9FD;
	background: #F2F9FD;
}

.tabcontent,.tabcontentcur {
	position: absolute;
	top: 22px; *
	top: 21px;
	z-index: 70;
	padding: 10px;
	width: 580px;
	border: 1px solid #CCC;
}

.tabcontentcur {
	border: 1px solid #B5CFD9;
	background: #F2F9FD;
}

.tabcontent .txt,.tabcontentcur .txt {
	margin-right: 10px;
	width: 110px;
}

.tabcontent .btn,.tabcontentcur .btn {
	margin-left: 5px;
}

/* table */
.dbtb {
	clear: both;
	width: 100%;
}

.tbtitle {
	padding: 5px 0;
	width: 70px;
}

.dbtb .btn {
	margin-left: 0;
}

/* pages */
.tdpage {
	text-align: right;
}

.pages {
	clear: both;
	margin: 10px 0;
}

.pages em,.pages a,.pages strong {
	text-decoration: none;
	margin-left: 5px;
	padding: 2px 5px;
	border: 1px solid #E5E5E5;
}

.pages a:hover {
	text-decoration: none;
	border: 1px solid #09C;
	background: #09C;
	color: #FFF;
}

.pages strong {
	border: none;
	font-weight: 700;
}

/* title */
h3 {
	font-size: 14px;
}

h3 .btn {
	margin-left: 10px;
	vertical-align: middle;
}

/* list */
.dblist {
	list-style: none;
	margin-top: 5px;
}

.dblist li {
	float: left;
	margin: 0 0 0 -3px; *
	margin: 0 0 5px -3px;
	width: 25%;
	height: auto; *
	height: 16px;
}

.memlist {
	list-style: none;
	margin: 7px 0 25px;
	padding-top: 2px;
	border-top: 2px solid #B5CFD9;
}

.memlist li {
	clear: both;
	overflow: hidden;
	zoom: 1;
	padding: 5px 0; *
	padding: 1px 0 5px;
	line-height: 150%;
	background: url(bg_repx.gif) repeat-x 0 bottom;
}

.memlist em {
	float: left;
	width: 120px;
}

.memlist .memcont {
	width: 480px;
}

.tiplist {
	float: right;
	list-style: none;
	width: 320px;
}

.tiplist li {
	line-height: 160%;
}

.optlist {
	clear: both;
	list-style: none;
	margin: 5px 0;
	width: 100%;
}

.optlist li {
	line-height: 180%;
}

/* calendar */
.table1 th {
	padding: 5px;
}

.table1 td {
	padding: 2px 5px;
}

.calendarmenu {
	position: absolute;
	padding: 9px 0 0 9px; *
	padding: 9px;
	border: 1px solid #B5CFD9;
	background: #FFF;
	opacity: 0.8;
	filter: Alpha(opacity = 80);
}

/* widget */
.statimg {
	vertical-align: middle;
	margin: 0 5px 2px 0 !important; *
	margin: 0 5px 0 0 !important; *
	margin: 0 5px 2px 0;
}

.line {
	clear: both;
	position: relative;
	margin: 10px 0;
	border-top: 1px solid #CCC;
}

.line p {
	position: absolute;
	top: 14px;
	right: 50px;
	font-weight: 700;
}

.margintop {
	margin-top: 10px;
}

.marginbot {
	margin-bottom: 10px;
}

.nomargin {
	margin: 0;
}

.nobg {
	background: none;
}

.nobg td {
	background: none;
}

.center {
	text-align: center;
}

.bold {
	font-weight: 700;
}

.red {
	color: red;
}

.green {
	color: green;
}

.clear {
	clear: both
}

/*Common Box*/
.box {
	background: #ECF6FC;
	border: 1px solid #CAD9EA;
	padding: 1px;
	margin-bottom: 10px;
}

.box h4 {
	background: #FFF url("../../images/default/portalbox_bg.gif");
	background-repeat: repeat-x;
	background-position: 0 0;
	line-height: 30px;
	padding: 0 10px;
}

.box table {
	width: 100%;
}

.box td {
	border-top: 1px solid #E8E8E8;
}

.box .box li {
	list-style: none;
}

.postattachlist h4,.tradethumblist h4,.pollpanel h4,.specialthread_4 h4,.typeoption h4
	{
	border-top: 1px solid #CAD9EA;
}

#pmprompt {
	border-color: #EDEDCE;
}

#pmprompt h4 {
	background: #FFFFF2;
	border-top: none;
}

#pmprompt th,#pmprompt td {
	border-top-color: #EDEDCE;
}

.popupmenu_popup {
	text-align: left;
	line-height: 1.4em;
	padding: 10px;
	overflow: hidden;
	border: 1px solid #CAD9EA;
	background: #FFF url("../../images/default/portalbox_bg.gif");
	background-repeat: repeat-x;
	background-position: 0 1px;
}

.menutd {
	background: #F2F9FD url(bg_repx_h.gif) right top no-repeat;
	color: #666;
	overflow: hidden;
}

.menu {
	position: relative;
	width: 150px;
}

.menu h3 {
	cursor: pointer;
	margin-bottom: 0px;
	background: #FFF url(bg_repno.gif) no-repeat 0 -40px;
	color: #2366A8;
	font-size: 14px;
	padding: 10px 0px 6px 40px
}

.menu h3.open {
	background: #FFF url(bg_repno.gif) no-repeat 0 -70px;
}

.menu ul {
	margin-top: 0px;
	margin-right: 0px;
	list-style: none;
	width: 150px;
}

.menu li {
	display: block;
	padding: 5px 0 3px 20px;
	width: 150px;
	height: auto !important;
	height: 25px;
	overflow: hidden;
	font-size: 12px;
	font-weight: 600;
}

.menu li.selected {
	background: url(bg_repno.gif) repeat-y 0 -120px #fff
}

.menu li a {
	color: #666;
	display: block;
	padding: 1px 10px;
	background: url(dot.png) no-repeat 0 4px;
}

.menufooter {
	position: absolute;
	z-index: 10;
	left: 13px;
	bottom: 0;
	padding: 5px 0;
	line-height: 150%;
	background: url(bg_repx.gif) 0 -199px repeat-x;
	font-family: Arial, sans-serif;
	font-size: 10px;
}