<include file="Public:header" />
<load href="__PUBLIC__/css/ot_forum.css" />
<load href="__PUBLIC__/js/xheditor/xheditor_plugins/ubb.js" /> 
<load href="__PUBLIC__/js/xheditor/xheditor-zh-tw.js" /> 
<load href="__PUBLIC__/js/jquery.validate.min.js" /> 
<script type="text/javascript">

$().ready(function() {

	$("#frmAdd").validate({
		rules: {
			summary: "required",
			body: {
				required: true,
				minlength: 10
			},
			options: 'required'
		},
		messages: {
			summary:"請輸入標題",
			body: {
				required: "請輸入帖子正文",
				minlength: "正文不能少於10個字符"
			},
			options: "請輸入投票選項"
		}
	});
	$('#body').xheditor(true,
		{
			tools:'simple',
			height:'300',
			beforeSetSource:ubb2html,
			beforeGetSource:html2ubb,
			upImgUrl:"/dev_site/index.php/Forum/upfile/picstamp/{$picstamp}",
			upImgExt:"jpg,gif,jpeg,png"
		}
	);

});


</script>
<div id="ot_d_body_content" class="full">
	<div class="ot_d_body_content_full">
			<div class="breadcrumb">
			<a href="__ROOT__/">首頁</a> » <a href="__URL__/index/boardid/{$curBoard.id}">{$curBoard.name}</a> » 
					<if condition="$_GET['is_vote']">
					新投票
					<else />
					新話題
					</if>
			</div>
            <div id="wrapper"  class="full-box">
 	        <form id="frmAdd" name="frmAdd" method="post" action="__ACTION__">
            <input type="hidden" id="boardid" name="boardid" value="{$curBoard.id}">
            <input type="hidden" id="is_vote" name="is_vote" value="{.is_vote}">
            <input type="hidden" id="picstamp" name="picstamp" value="{$picstamp}">
        
            <table id="add_thread">
                <if condition="$_GET['is_vote']">
                <tr>
                    <th colspan="2">發布新投票</th>
                </tr>
                <else />
                <tr>
                    <th colspan="2">發布新話題</th>
                </tr>
                </if>
                <tr>
                    <td width="130px">分類</td>
                    <td>{$curBoard.name}</td>
                </tr>
                <tr>
                    <td>標題</td>
                    <td><input type="text" id="summary" name="summary" class="forum_addtitle"></td>
                </tr>
                <if condition="$_GET['is_vote']">
                <tr>
                    <td>選項</td>
                    <td>
                        每行一個投票選項
                        <br />
                        <textarea id="options" name="options"></textarea>
                        </td>
                </tr>
                </if>
                <tr>
                    <td>內容</td>
                    <td id="editor"><textarea id="body" name="body" class="forum_addcontent"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="submit" value="提交" />
                        <input type="reset" value="重置" />
                    </td>
                </tr>
            </table>
            </form>
        </div>
	</div>
	<div class="clearBoth"></div>
</div>
<include file="Public:footer" />