<include file="Public:header" />
<load href="__PUBLIC__/css/ot_forum.css" />
<load href="__PUBLIC__/js/jquery.validate.min.js" /> 
<script type="text/javascript">

$().ready(function() {

	$("#frmAdd").validate({
		rules: {
			summary: "required",
			body: {
				required: true,
				minlength: 10
			},
			options: 'required'
		},
		messages: {
			summary:"<div>請輸入標題</div>",
			body: {
				required: "<div>請輸入帖子正文</div>",
				minlength: "<div>正文不能少於10個字符</div>"
			},
			options: "請輸入投票選項"
		}
	});


});


</script>
<style>
	#add_thread{
		width:620px;;
		border:#def 1px solid;
	}
	#add_thread td{
		padding: 5px;
	}
	#summary{
		width:500px;
	}
	#body{
		height:100px;
		width:500px;
	}
	#page-index{
		padding:10px 0;
	}
</style>

<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
	<form id="frmAdd" name="frmAdd" method="post" action="__ACTION__">
	<input type="hidden" id="boardid" name="boardid" value="{$curBoard.id}">
	<input type="hidden" id="is_vote" name="is_vote" value="{.is_vote}">
	<input type="hidden" id="picstamp" name="picstamp" value="{$picstamp}">

	<div id="page-index">意見反饋</div>
	<table id="add_thread">
		<tr>
			<td width="60"></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="2">多謝您提出寶貴意見，讓本網內容可不斷創新！</td>
		</tr>
		<tr>
			<td>標題</td>
			<td><input type="text" id="summary" name="summary"></td>
		</tr>
		<tr>
			<td>意見</td>
			<td id="editor">

				<textarea id="body" name="body"></textarea>

			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" name="submit" value="提交" />
				<input type="reset" value="重置" />
			</td>
		</tr>
	</table>
	</form>
	</div>
	<div class="ot_d_body_content_right">
		<include file="Public:div-login" />
		<include file="Public:div-weather" />
	</div>
	<div class="clearBoth"></div>
</div>

<include file="Public:footer" />