<include file="Public:box-header" />
<load href="__PUBLIC__/css/ot_forum.css" />
<load href="__PUBLIC__/js/xheditor/xheditor_plugins/ubb.js" /> 
<load href="__PUBLIC__/js/xheditor/xheditor-zh-tw.js" /> 
<load href="__PUBLIC__/js/jquery.validate.min.js" /> 
<script type="text/javascript">

$().ready(function() {
	$("#frmAdd").validate({
		rules: {
			summary: "required",
			body: {
				required: true,
				minlength: 10
			},
			options: 'required'
		},
		messages: {
			summary:"請輸入標題",
			body: {
				required: "請輸入帖子正文",
				minlength: "正文不能少於10個字符"
			},
			options: "請輸入投票選項"
		}
	});
});
</script>

<script type="text/javascript">
$(pageInit);
function pageInit()
{
	$('#body').xheditor(true,{
		tools:'simple',
		//beforeSetSource:html2ubb,
		beforeGetSource:html2ubb,
		height:300}
	);
}

</script>
<div id="wrapper">
	<form id="frmAdd" name="frmAdd" method="post" action="__ACTION__">
	<input type="hidden" id="id" name="id" value="{.id}">
	<table id="add_thread">
		<tr>
			<th colspan="2">编辑主題</th>
		</tr>
		<tr>
			<td>分類</td>
			<td>{$threadInfo.board_name}</td>
		</tr>
		<tr>
			<td>標題</td>
			<td><input type="text" id="summary" name="summary" value="{$threadInfo.summary}" class="forum_addtitle"></td>
		</tr>
		<tr>
			<td>內容</td>
			<td id="editor"><textarea id="body" name="body" class="forum_addcontent" style="width:450px;">{$threadInfo.body}</textarea></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" name="submit" value="提交" />
				<input type="reset" value="重置" />
			</td>
		</tr>
	</table>
	</form>
</div>
<include file="Public:box-footer" />