<include file="Public:header" />
<load href="__PUBLIC__/css/ot_forum.css" />

<script type="text/javascript">
	$().ready(function(){
		$('.ot_menu_sec07 a').toggleClass('current');
	});
</script>

<div id="ot_d_body_content" class="full">
	<div class="ot_d_body_content_left">
		<div class="breadcrumb">
			<a href="__ROOT__/">首頁</a> » 
			<a href="#">討論區</a>
		</div>
		<div id="outstreet-forum-box" class="full-box">
			<div class="header">
				<h3>出街網站討論區</h3>
			</div>
			<div class="content">
                <table border="0" cellpadding="0" cellspacing="0" class="stripe2">
                    <thead>
                        <tr>
                            <th width="13">&nbsp;</th>
                            <th width="33">&nbsp;</th>
                            <th width="468">分類</th>
                        </tr>
                    </thead>
                    <tbody>
                        <iterate name="forumBoardList" id="vo">
                            <tr>
                                <th>&nbsp;</th>
                                <td class="forum-folder">&nbsp;</td>
                                <td>
                                            <if condition="$vo['id'] == $_GET['boardid']">
                                        » {$vo.name}
                                        <else/>
                                        <a href="__ACTION__/boardid/{$vo.id}">{$vo.name}</a>
                                    </if>
                                </td>
                            </tr>
                    	</iterate>
                    </tbody>
                </table>
            </div>
			<div class="footer"></div>
		</div>		
		<if condition="!empty($curBoard)">				
			<div>
				<div id="forum-function-box" class="full-box">
                    <div class="content">
                    	<div><a onclick="location.href='__URL__/add/boardid/{$curBoard.id}'" class="btnnew-topic">新話題</a></div>
                       	<div class="paging" style="float:right;position:relative;top:-20px;">{$multipage}</div>
                    </div>
            	</div>
				<div id="forum-main-box" class="full-box">
					<div class="header"><h3>討論區</h3></div>
                    <div class="content">
                        <table border="0" cellpadding="0" cellspacing="0" class="stripe2">
                            <thead>
                                <tr>
                                    <th width="11">&nbsp;</th>
                                    <th width="35">&nbsp;</th>
                                    <th width="429" align="left">標題</th>
                                    <th width="152" align="left">作者</th>
                                    <th width="179" align="left">回覆/查看</th>
                                    <th width="134" align="right">最後發表</th>
                                    <th width="11">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                            	<iterate name="topForumThreadList" id="vo">
                                	<tr>
                                      <th>&nbsp;</th>
                                      <td class="forum-topic">&nbsp;</td>
                                      <td>
                                          [置頂] <if condition="$vo['is_vote'] eq 1">[投票]</if><a href="__URL__/view/threadid/{$vo.id}/p/1">{$vo.summary}</a>
                                      </td>
                                      <td class="forum-author"><a href="__APP__/user/view/id/{$vo.user_id}" target="_blank">{$vo.user_name}</a></td>
                                      <td class="forum-reply-view">{$vo.post_count}/{$vo.view_count}</td>
                                      <td class="forum-lastpost" align="right">{$vo.lastpost_time|date='y-m-d H:i',###}<br />by <a href="__ROOT__/user/view/id/{$vo.lastpost_user}">{$vo.lastpost_username}</a></td>
                                      <th>&nbsp;</th>
                                    </tr>
                                </iterate>	
			       				<iterate name="forumThreadList" id="vo">
									<tr>
			               				<th>&nbsp;</th>
										<td class="forum-topic">&nbsp;</td>
										<td><if condition="$vo['is_top'] eq 1">[頂]</if><if condition="$vo['is_vote'] eq 1">[投票]</if><a href="__URL__/view/threadid/{$vo.id}/p/1">{$vo.summary}</a></td>
										<td class="forum-author"><a href="__APP__/user/view/id/{$vo.user_id}" target="_blank">{$vo.user_name}</a></td>
										<td class="forum-reply-view">{$vo.post_count}/{$vo.view_count}</td>
										<td class="forum-lastpost" align="right">{$vo.lastpost_time|date='y-m-d H:i',###}<br />by <a href="__ROOT__/user/view/id/{$vo.lastpost_user}">{$vo.lastpost_username}</a></td>
										<td>&nbsp;</td>	
			       					</tr>
			    				</iterate>
							</tbody>
			   			</table>
					</div>
                    <div class="footer"></div>
				</div>	
			</div>
        </if>
     	<div id="forum-function-box" class="full-box">
            <div class="content">
                <div class="paging" style="float:right;">
                      {$multipage}
                </div>
            </div>
        </div>
	</div>
	<div class="clearBoth"></div>
</div>

<include file="Public:footer" />