<include file="Public:header" />
<load href="__PUBLIC__/css/ot_forum.css" />
<load href="__PUBLIC__/js/xheditor/xheditor_plugins/ubb.js" /> 
<load href="__PUBLIC__/js/xheditor/xheditor-zh-tw.js" /> 
<load href="__PUBLIC__/js/jquery.validate.min.js" />

<script type="text/javascript">
$().ready(function() {
	$('.ot_menu_sec07 a').toggleClass('current');
	
	$("#frmAdd").validate({
		rules: {
			body: {
				required: true,
				minlength: 10
			}
		},
		messages: {
			body: {
				required: "請輸入帖子正文",
				minlength: "正文不能少於10個字符"
			}
		}
	});

	$('#body').xheditor(true,
		{
			tools:'simple',
			height:'200',
			beforeSetSource:ubb2html,
			beforeGetSource:html2ubb,
			upImgUrl:"/dev_site/index.php/Forum/upfile/picstamp/{$picstamp}",
			upImgExt:"jpg,gif,jpeg,png"
		}
	);
});
</script>
<div id="ot_d_body_content" class="full">
<if condition="!empty($curThread)">
	<div id="post_box" class="ot_d_body_content_full">
		<div class="breadcrumb">
			<a href="__ROOT__/">首頁</a> » 
			<a href="__URL__/index/boardid/{$curThread.board_id}">{$curThread.board_name}</a> »
			{$curThread.summary}			
		</div>
		<table>
			<tr>
				<td class="j">
				</td>
				<td class="pager">
                	<div class="summary forum_posttit">{$curThread.summary}</div><a class="smlbtn" href="__URL__/index/boardid/{$curThread.board_id}" style="position:relative;";>返回列表</a> {$multipage}
				</td>
			</tr>
			
		<if condition="$_GET['p'] eq 1">
			<tr>
				<td class="author">
					<a href="__APP__/user/view/id/{$curThread.user_id}" target="_blank">
 
	        		<if condition="!empty($curThread['user']['face_path'])">
		        		<img src='{$Think.config.OUTSTREET_DIR}{$Think.config.USERFACE_UPFILE_PATH}face{$curThread['user']['face_path']}' />
		        	<else/>
						<if condition="$vo['user']['sex'] == 0">
							<img src='__PUBLIC__/images/face/0.gif' />                		              		
						</if>
						<if condition="$vo['user']['sex'] == 1">
							<img src='__PUBLIC__/images/face/1.gif' />  
						</if>
		        	</if><br />
					</a>
					<a href="__APP__/user/view/id/{$curThread.user_id}" target="_blank" class="forum_author">
						{$curThread.user_name}
					</a>
				</td>
			  <td>
					<table class="post">
                        <tr>
                        	<td class="postinfo"><!--<a href="__APP__/user/view/id/{$curThread.user_id}" target="_blank">{$curThread.user_name}</a>--><span class="date">發表於 {$curThread.create_time|date='y-m-d H:i',###}</span><span class="mark">
							<if condition="!empty($authInfo)">	
                                <if condition="$curThread['user_id'] == $authInfo['id']">
									<a href="__URL__/editT/id/{$curThread.id}?placeValuesBeforeTB_=savedValues&TB_iframe=true&width=550&height=470" class="thickbox">編輯</a>
								</if>
							</if>	
								#1<span>
                            </td>
                        </tr>
						<if condition="$curThread['is_vote'] eq 1">
						<tr>
							<td >
							<form action="__ACTION__/p/1/threadid/{$curThread.id}" method="post">
								<iterate name="curThread.options" id="opt">	
									<label><input type="checkbox" name="options[]" value="{$opt.id}" />{$opt.name} {$opt.vote_count}<div style="height: 10px;background:#f00;width:<?php echo 300 / $total_vote * $opt['vote_count']?>px"></div></label><br />
								</iterate>
								<input type="submit" value="投票" />
								總共{$total_vote}人參與了該投票
							</form>
							</td>
						</tr>
						</if>
						<tr>
							<td>{$curThread.body}</td>
						</tr>
					</table>
				</td>
			</tr>
				<tr><td class="author"></td>
					<td><a href="#" onclick="javascript:return false; "class="btnview-complain btnview-complain_pos">檢舉</a></td>
				</tr>			
		</if>
			<iterate name="forumPostList" id="vo">
				<tr>
					<td class="x">
					</td>
					<td class="p">
					</td>
				</tr>
				<tr>
					<td class="author">
						<a href="__APP__/user/view/id/{$vo.user_id}" target="_blank">

		        	<if condition="!empty($vo['user']['face_path'])">
		        		<img src='{$Think.config.OUTSTREET_DIR}{$Think.config.USERFACE_UPFILE_PATH}face{$vo.user.face_path}' />
		        	<else/>
		          	<if condition="$vo['user']['sex'] == 0">
		          		<img src='__PUBLIC__/images/face/0.gif' />                		
		          	<else/>
		          		<img src='__PUBLIC__/images/face/1.gif' />                		
		          	</if>
		        	</if><br />
						</a>
						<a href="__APP__/user/view/id/{$vo.user_id}" target="_blank">
							{$vo.user_name}
						</a>
					</td>
				  <td>
						<table class="post">
							<tr>
								<td class="postinfo">
									<!--<a href="__APP__/user/view/id/{$vo.user_id}" target="_blank">{$vo.user_name}</a-->
									發表於 {$vo.create_time|date='y-m-d H:i',###} 
									<span class="mark">
										<if condition="$vo['user_id'] == $authInfo['id']">
											<a href="__URL__/editP/id/{$vo.id}?placeValuesBeforeTB_=savedValues&TB_iframe=true&width=550&height=450" class="thickbox">編輯</a>
											<a href="__URL__/deleteP/id/{$vo.id}">删除</a>
										</if>
										#<?php echo ($_GET['p'] - 1) * C('PAGE_LISTROWS') + $i + 1 ?>
									<span>
								</td>
							</tr>
							<tr>
								<td><if condition="$vo.is_aduit == 0 "><span class="ban_replypost">此回覆已被管理員關閉</span><else/>{$vo.body}</if></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td class="author"></td>
					<td><if condition="$vo.is_aduit == 1 "><a href="#" onclick="javascript:return false; "class="btnview-complain btnview-complain_pos">檢舉</a></if></td>
				</tr>
			</iterate>
				<tr>
					<td class="j">
					</td>
					<td class="pager">
						<a class="smlbtn" href="__URL__/index/boardid/{$curThread.board_id}">返回列表</a> {$multipage}
					</td>
				</tr>
		</table>
<br />
		<br />
		<if condition="!empty($authInfo)">
		<form id="frmAdd" name="frmAdd" method="post" action="__ACTION__">
		<input type="hidden" id="threadid" name="threadid" value="{$curThread.id}">
		<table width="100%" id="add_thread">
			<tr>
				<th style="background-color:#cfedfe;padding:7px">發布回覆</th>
			</tr>

			<!--<tr>
			  <td style="background-color:#FFFFFF;padding:7px;vertical-align: text-top;"><span style="padding-right:130px;"><b>標題</b></span><span class="forum_reply_title"><input type="text" id="title1" name="title1" class="forum_replytitle"/></span></td>
		    </tr>-->
			<tr>
				<td id="editor" style="background-color:#FFFFFF;padding:7px;vertical-align: text-top;"><span style="padding-right:125px;text-algin:top;"><b>內容</b></span>
			    <textarea id="body" class="forum_replycontent" name="body"></textarea></td>
			</tr>
			<tr>
				<td>
					<input type="submit" name="submit" value="提交" />
					<input type="reset" value="重置" />
				</td>
			</tr>
		</table>
		</form>
		</if>
	</div>
</if>
</div>
<include file="Public:footer" />