<br/>

<div class="content">
<a href="__APP__">首頁</a> | <a id="desktop_link" href="<?php echo C('OUTSTREET_DIR') ?>">桌面版</a>
</div>
<div id="fb-root"></div>
<br/><br/><br/><br/><br/>
<script>
	window.fbAsyncInit = function() {
		FB.init( {
			appId: '159558357412421',
			version: 'v2.0'
		} );
	};

	( function( d, s, id ) {
		var js, fjs = d.getElementsByTagName( s )[0];
		if ( d.getElementById( id ) ) {
			return;
		}
		js = d.createElement( s );
		js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore( js, fjs );
	}( document, 'script', 'facebook-jssdk' ) );
</script>
<script>adn=document.createElement('script');adn.src="//dv.adnow.cc/?id=outstreet";document.body.appendChild(adn)</script>
<?php if ($_SERVER['REMOTE_ADDR'] == '218.255.188.102'): ?>
<load href="__PUBLIC__/js/bundle.js" />
<?php endif; ?>
</body>
</html>