﻿<div id="ot_d_leftMenu">
    <div id="link" <if condition="strtolower(MODULE_NAME) eq 'shop' and strtolower(ACTION_NAME) eq 'edit'">class="bold"</if> ><a href="__APP__/?m=shop&a=edit&id={$id}">基本管理</a></div>
    <div id="link" <if condition="strtolower(MODULE_NAME) eq 'shop' and strtolower(ACTION_NAME) eq 'upload'">class="bold"</if> ><a href="__APP__/?m=shop&a=upload&id={$id}">相片管理</a></div>
    <!--div id="link" <if condition="strtolower(MODULE_NAME) eq 'shopnews' and strtolower(ACTION_NAME) eq 'index'">class="bold"</if> ><a href="__APP__/?m=shopnews&a=index">消息管理</a></div-->
    <div id="link" <if condition="strtolower(MODULE_NAME) eq 'addinfo' and strtolower(ACTION_NAME) eq 'index'">class="bold"</if> ><a href="__APP__/?m=addinfo&a=index">附加資料管理</a></div>
    <div id="link" <if condition="strtolower(MODULE_NAME) eq 'review' and strtolower(ACTION_NAME) eq 'index'">class="bold"</if> ><a href="__APP__/?m=review&a=index">評介列表</a></div>
</div>
