<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<load href="__PUBLIC__/css/jposter/jposter.css"/>
<load href="__PUBLIC__/js/jposter/jquery.cycle.all.min.js"/>
<load href="__PUBLIC__/js/jposter/jposter.js"/>
<script type="text/javascript">
$().ready(function(){
	jphoto_cycle();
	$('.ot_menu_sec01 a').toggleClass('current');
	$('#ot_d_tabs_box .ot_d_header .ot_o_tabs').showTabs();
	$('#ot_d_category_box .ot_d_header .ot_o_tabs').showTabs();
	$('.ot_d_menu_container li').hover(
		function(){
			var boxBottomY = $(this).find('.second_level_ul').offset().top + $(this).find('.second_level_ul').outerHeight();
			var screenBottomY = $( window ).scrollTop() + $( window ).height();
			if ( boxBottomY > screenBottomY )
				{ $(this).find('.second_level_ul').css({ top: $(this).find('.second_level_ul').position().top - ( boxBottomY - screenBottomY ) }); }
			$(this).find('.second_level_ul').css({visibility:'visible'});
		},
		function(){
			$(this).find('.second_level_ul').css({visibility:'hidden'});
		}
	);
});
</script>

<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
		<div class="ot_d_body_content_left_left">
        	<div id="ot_d_category_box" class="left-box">
                <div class="ot_d_header">
                    <ul class="ot_o_tabs">
                        <li class="ot_o_merchants_cat"><a class="ot_o_merchants_cat selected" href="#ot_o_merchants_cat">出街指南</a></li>
                        <li class="ot_o_event_cat"><a class="ot_o_event_cat" href="#ot_o_event_cat">節目類別</a></li>
                    </ul>
                    <div class="ot_d_clearBoth"></div>
                </div>
                <div class="ot_d_content">
                    <div id="ot_o_merchants_cat" class="tab-content" >
                    <div class="ot_d_menu_container">
						<ul class="first_level_ul">
						<?php $total = count($shopCateListlv1); ?>
						<?php for ( $v=0; ( $v<11 && $v<$total ); $v++ ): ?>
						<?php $vo = $shopCateListlv1[$v]; ?>
						<?php if ($vo['id']): ?>
							<li class="first_level_li" ref="lv2_{$vo.id}" style="background-image: url(__ROOT__/Public/images/index/category/shop_{$vo.id}.gif);"><a class="first_level_a" href="__ROOT__/shop/lists/id/{$vo.id}/c/{$vo.english_name|skipSpecialChar}">{$vo.name} ({$vo.shop_count})</a>
							<if condition="$vo.has_level2 gt 0">
								<ul class="second_level_ul" style="visibility: hidden;" id="lv2_{$vo.id}">
								<volist name="vo['has_level2']" id="vo2">
									<li class="second_level_li"><a class="second_level_a" href="__ROOT__/shop/lists/id/{$vo2.id}/c/{$vo2.english_name|skipSpecialChar}">{$vo2.name} ({$vo2.shop_count})</a></li>
								</volist>
								</ul>
							</if>
							</li>
						<?php endif; ?>
						<?php endfor; ?>
						<?php if ($v<$total): ?>
                        	<li class="first_level_li" ref="lv2_orders" style="background-image: url(__ROOT__/Public/images/index/category/shop_others.gif);"><a class="first_level_a" href="#">其他</a>
                            	<ul class="second_level_ul" style="visibility: hidden;" id="lv2_orders">
									<?php for ( $v=11; $v<$total; $v++ ): ?>
									<?php $vo = $shopCateListlv1[$v]; ?>
                                    	<li class="second_level_li" ref="lv2_{$vo.id}"><a class="second_level_a" href="__ROOT__/shop/lists/id/{$vo.id}/c/{$vo.english_name|skipSpecialChar}">{$vo.name} ({$vo.shop_count})</a></li>
									<?php endfor; ?>
                                </ul>
                            </li>
						<?php endif; ?>
                        </ul>
                    </div>
                    </div>
                    <div id="ot_o_event_cat" class="tab-content" style="display: none;" >
                    <div class="ot_d_menu_container">
						<ul class="first_level_ul">
						<?php $total = count($eventCateListlv1); ?>
						<?php for ( $v=0; ( $v<12 && $v<$total ); $v++ ): ?>
						<?php $vo = $eventCateListlv1[$v]; ?>
						<?php if ($vo['id']): ?>
							<li class="first_level_li" ref="lv2_{$vo.id}" style="background-image: url(__ROOT__/Public/images/index/category/event_{$vo.id}.gif);"><a class="first_level_a" href="__ROOT__/event/search/event_cate_ids/{$vo.id}">{$vo.name} ({$vo.event_count})</a>
							<if condition="$vo.has_level2 gt 0">
								<ul class="second_level_ul" style="visibility: hidden;" id="lv2_{$vo.id}">
								<volist name="vo['has_level2']" id="vo2">
									<li class="second_level_li"><a class="second_level_a" href="__ROOT__/event/search/event_cate_ids/{$vo2.id}">{$vo2.name} ({$vo2.event_count})</a></li>
								</volist>
								</ul>
							</if>
							</li>
						<?php endif; ?>
						<?php endfor; ?>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="ot_d_footer"></div>
            </div>
			<div id="ot_d_newest_merchants_index" class="left-box">
                <div class="ot_d_header">
                    <a href="__ROOT__/shop/shop_provide_info/shoppage/1"><span class="ot_d_newest_merchants_index_add">新商戶</span></a>
                    <div class="ot_d_clearBoth"></div>
                </div>
                <div class="ot_d_content">
                	<div class="ot_d_newshop">
                    	<img width='175' height='131' src="{$shopLatestList|getFirstPicture='shop'}"/><br /><?php $shopName = formatShopName($shopLatestList['name'], $shopLatestList['eng_name']); ?>
                        <a href="__ROOT__/shop/view/id/{$shopLatestList.id}">{$shopName|formatInfo=10}({$shopLatestList.sub_location.name})</a><br />{$shopLatestList.sub_cates|formatCategory=10}
                    </div>
                </div>
                <div class="ot_d_footer"></div>
            </div>
        </div>
        <div class="ot_d_body_content_left_right">
       		<!--div id="ot_d_recommendation_box" class="left-box">
                <div id="jposter_frame">
                    <div id="jposter_header_set">
						<a href="__ROOT__/poster/listAll/" class="more"> </a>
						<div class="ot_d_clearBoth"></div>
                    </div>
                    <div id="jposter_content_set">
                    	<iterate name="posterList" id="vo">
                            <div id="jposter_content_{$i}" class="jposter_content">
                                <a href="__ROOT__/poster/view/posterid/{$vo.id}" style="z-index:11;position:relative;">
                                <div>
                                    <div class="jposter_content_pic">
                                    	<img src="{$Think.config.OUTSTREET_DIR}{$Think.config.OTPROMO_UPFILE_PATH}{$vo.thumb_path}" height="120" width="160"/>
                                    </div>
                                    <div class="jposter_content_text">
                                        <div class="jposter_content_title">{$vo.title}</div>
                                        <div class="jposter_content_lead">{$vo.lead}</div>
                                    </div>
                                </div>
                                </a>
                            </div>
                    	</iterate>
                    </div>
                    <img class="jposter_prev" src="__PUBLIC__/images/jposter/jposter_prev.gif"/>
                    <img class="jposter_next" src="__PUBLIC__/images/jposter/jposter_next.gif"/>
                </div>
			</div-->
			<div id="ot_d_shows_box" class="left-box">
				<div class="ot_d_header">
					<a href="__ROOT__/event" class="more">更多</a>
					<div class="ot_d_clearBoth"></div>
				</div>
                <div class="ot_d_content">
                	<?php $recommendCount = 0; ?>
                    <ul class="ot_d_shows_list">
                        <iterate name="recommendEventList" id="vo">
                        	<li>
                            	<?php $recommendCount++; ?>
                            	<table border="0" cellpadding="0" cellspacing="0">
                            		<tr>
                              			<td valign="middle">
                                        	<div align="center" <neq name="recommendCount" value="5"> class="ot_d_shows_list_lines" </neq>>
                                            	<table class="ot_t_showstable">
                                                	<tr>
                                                    	<td class="ot_t_showspic">
                                                        	<a href="__ROOT__/event/view/id/{$vo.id}"><img src="{$vo|getFirstPicture='event','thumb'}" onload="javascript:DrawImage(this,84,84)" class="ot_t_showspic_frame"></a>
                                                    	</td>
                                                    	<td class="ot_t_showsinfo">
                                                        	<h4><a href="__ROOT__/event/view/id/{$vo.id}">{$vo.name|formatInfo=18}</a></h4>
                                                            <neq name="vo.english_name" value="">
                                                           		<h4><a href="__ROOT__/event/view/id/{$vo.id}">{$vo.english_name|formatInfo=40}</a></h4>
                                                            </neq>
                                                            <a href="{$vo.cate|formatEventCateLink}">{$vo.cate.name}</a>&nbsp;&nbsp;&nbsp;{$vo.start_time|date=chDate(3),###}({$vo.start_time|date='w',###|week2ch}) -  {$vo.end_time|date=chDate(3),###}({$vo.end_time|date='w',###|week2ch})<br/>
															<if condition="$vo['shop_id'] eq 0">
																<?php $wholeAddress = $vo['main_location_name'].' '.$vo['sub_location_name'].' '.$vo['address'].' '.$vo['rooms']; ?>
															<else/>
																<?php $wholeAddress = $vo['shop']['name'].' '.$vo['rooms']; ?>
															</if>
															{$wholeAddress|formatInfo=30}
                                                    	</td>
                                                  	</tr>
                                        		</table>
                                          	</div>
                               			</td>
                            		</tr>
                          		</table>
                        	</li>
                        </iterate>
                    </ul>
                </div>
				<div class="ot_d_footer"></div>
            </div>
        </div>

        <div class="ot_d_clearBoth"></div>
<!-- start promotion -->
        <div id="ot_d_bigsales">
			<div class="ot_d_header"></div>
            <div class="ot_d_content">
            	<ul>
					<?php $x=0; foreach($type1specialpromotion AS $promotion): ?>
                   	<li>
                       <table border="0" cellpadding="0" cellspacing="0">
                           <tr>
                              <td valign="middle">
                                 <div align="center" class="<?php echo $x ? 'ot_d_bigsalelines' : ''?>">
                                     <table class="ot_t_bigsaletable">
                                     <tr>
                                        <td class="ot_t_bigsalepic">
                                        	<a href="__ROOT__/promotion/view/id/{$promotion.id}">{$promotion|rtnPromotionImg='ot_d_imgframe_pic',80,60}</a>
                                        </td>
                                        <td class="ot_t_bigsaleinfo">
                                             <a href="__ROOT__/promotion/view/id/{$promotion.id}" class="ot_t_promotiontit"><?php echo formatInfo($promotion['name'],20) ?></a>
                                             <h4><a href="__ROOT__/promotion/view/id/{$promotion.id}#address"><?php echo formatInfoUTF8($promotion['shops'][0]['name'],18) ?> <?php echo count($promotion['shops'])>1 ? '('.count($promotion['shops']).'個地點)': '('.$sublocation[$promotion['shops'][0]['sub_location_id']]['name'].')' ?></a></h4>
                                             <?php echo formatCategory($promotion['cates'], 8, false ) ?>
                                        </td>
                                     </tr>
                                     </table>
                                  </div>
                              </td>
                           </tr>
                       </table>
                    </li>
					<?php $x++; endforeach; ?>
            </div>
            <div class="ot_d_footer"></div>
        </div>
        <div id="ot_d_promotionsale">
			<div class="ot_d_header"></div>
            <div class="ot_d_content">
            	<ul>
					<?php $x=0; foreach($type2specialpromotion AS $promotion): ?>
                   	<li>
                       <table border="0" cellpadding="0" cellspacing="0">
                           <tr>
                              <td valign="middle">
                                 <div align="center" class="<?php echo $x ? 'ot_d_promotionsalelines' : ''?>">
                                     <table class="ot_t_promotionsaletable">
                                     <tr>
                                        <td class="ot_t_promotionsalepic">
                                        	<a href="__ROOT__/promotion/view/id/{$promotion.id}">{$promotion|rtnPromotionImg='ot_d_imgframe_pic',80,60}</a>
                                        </td>
                                        <td class="ot_t_promotionsaleinfo">
                                             <a href="__ROOT__/promotion/view/id/{$promotion.id}#address" class="ot_t_promotiontit"><?php echo formatInfo($promotion['name'],20) ?></a>
                                             <h4><a href="__ROOT__/promotion/view/id/{$promotion.id}"><?php echo formatInfoUTF8($promotion['shops'][0]['name'],18) ?> <?php echo count($promotion['shops'])>1 ? '('.count($promotion['shops']).'個地點)': '('.$sublocation[$promotion['shops'][0]['sub_location_id']]['name'].')' ?></a></h4>
                                             <?php echo formatCategory($promotion['cates'], 8, false ) ?>
                                        </td>
                                     </tr>
                                     </table>
                                  </div>
                              </td>
                           </tr>
                       </table>
                    </li>
					<?php $x++; endforeach; ?>
                </ul>
            </div>
            <div class="ot_d_footer"></div>
        </div>
<!-- end promotion -->
        <div class="ot_d_clearBoth"></div>

        <div id="ot_d_newest_event_index" class="left-box">
            <div class="ot_d_header">
                <a href="__ROOT__/event" class="ot_o_more_gray">更多</a>
                <div class="ot_d_clearBoth"></div>
            </div>
            <div class="ot_d_content">
                <ul class="ot_newshows">
                    <iterate name="eventList" id="vo">
                    <li>
                        <div class="ot_d_show_image">
                            <a href="__ROOT__/event/view/id/{$vo.id}"><img src="{$vo|getFirstPicture='event','thumb'}" onload="javascript:DrawImage(this,80,80)" class="ot_t_showspic_frame"></a>
                        </div>
                        <div class="ot_d_show_details">
                        	<h4><a href="__ROOT__/event/view/id/{$vo.id}">{$vo.name|formatInfo=50}</a></h4>
                            <a href="{$vo.cate|formatEventCateLink}" class="cat">{$vo.cate.name}</a><br /><h4>{$vo.start_time|date=chDate(3),###}({$vo.start_time|date='w',###|week2ch}) -  {$vo.end_time|date=chDate(3),###}({$vo.end_time|date='w',###|week2ch})</h4>{$vo.details|formatInfo=80} <a href="__APP__/event/view/id/{$vo.id}">(詳情)</a>
                        </div>
                        <div class="ot_d_clearBoth"></div>
                    </li>
                    </iterate>
                </ul>
            </div>
            <div class="ot_d_footer"></div>
        </div>
        <div id="ot_d_newest_review_index" class="left-box">
            <div class="ot_d_header">
                <a href="__ROOT__/review/index/search_shop/true/search_event/true/" class="ot_o_more_gray">更多</a>
                <div class="ot_d_clearBoth"></div>
            </div>
            <div class="ot_d_content">
                <ul class="ot_newreviews">
                    <iterate name="reviewList" id="vo">
                        <li>
                            <div class="ot_d_show_image">
                            	<a href="__ROOT__/user/view/id/{$vo.user_id}"><img src="{$vo.user|getFace}" onload="javascript:DrawImage(this,49,49)" class="ot_t_showspic_frame"/></a>
                            </div>
                            <div class="ot_d_show_details">
                            	<switch name="vo.for_type">
                                    <case value="event">
                                    	<div class="ot_d_review_title"><a href="__ROOT__/event/view/id/{$vo.event.id}/reviewid/{$vo.id}/" style="color:#333; font-weight:bold">{$vo.title|formatInfo=50}</a></div>
                                        <div class="ot_d_review_target_icon"><a href="__ROOT__/event/view/id/{$vo.event.id}">{$vo.event.name|formatInfo=50}</a> [節目]</div>
                                        <div class="ot_d_review_catemain"><a href="{$vo.event.cate|formatEventCateLink}">{$vo.event.cate.name}</a></div>
                                        <div class="ot_d_review_text">{$vo.description|formatInfo=80}<a href="__APP__/event/view/id/{$vo.event.id}/reviewid/{$vo.id}">(詳情)</a></div>
                                    </case>
                                    <case value="promotion">
                                    	<div class="ot_d_review_title"><a href="__ROOT__/promotion/view/id/{$vo.promotion.id}/reviewid/{$vo.id}/" style="color:#333; font-weight:bold">{$vo.title|formatInfo=50}</a></div>
                                        <div class="ot_d_review_target_icon"><a href="__ROOT__/promotion/view/id/{$vo.promotion.id}">{$vo.promotion.name|formatInfo=50}</a> [優惠]</div>
                                        <div class="ot_d_review_catemain"><a href="__ROOT__/promotion/view/id/{$vo.promotion.id}">{$vo.promotion.type1|rtnPromotionType}</a></div>
                                        <div class="ot_d_review_text">{$vo.description|formatInfo=80}<a href="__APP__/promotion/view/id/{$vo.promotion.id}/reviewid/{$vo.id}">(詳情)</a></div>
                                    </case>
                                    <default/>
                                    	<div class="ot_d_review_title"><a href="__ROOT__/shop/view/id/{$vo.shop.id}/reviewid/{$vo.id}/" style="color:#333; font-weight:bold">{$vo.title|formatInfo=50}</a></div>
                                        <div class="ot_d_review_target_icon"><a href="__ROOT__/shop/view/id/{$vo.shop.id}" class="ot_o_review_target">{$vo.shop.name|formatInfo=50}</a> [商戶]</div>
                                        <div class="ot_d_review_catemain">{$vo.shop.sub_cates|formatCategory=20}</div>
                                        <div class="ot_d_review_text">{$vo.description|formatInfo=80}<a href="__APP__/shop/view/id/{$vo.shop.id}/reviewid/{$vo.id}">(詳情)</a></div>
                                </switch>
                                <div class="ot_d_review_text"><a href="__ROOT__/user/view/id/{$vo.user.id}">{$vo.user.nick_name|formatInfo=15}</a>&nbsp;&nbsp;|&nbsp;&nbsp; {$vo.create_time|date=chDate(3),###}({$vo.create_time|date='w',###|week2ch})</div>
                                <div class="ot_d_newest_review_facebook">
                                    <switch name="vo.for_type">
                                        <case value="event">
                                            {$vo.event.id|fbBtn='event',3,$authInfo['nick_name'],$vo['id']}
                                        </case>
                                        <default/>
                                            {$vo.shop.id|fbBtn='shop',3,$authInfo['nick_name'],$vo['id']}
                                    </switch>
                                </div>
                            </div>
                            <div class="ot_d_clearBoth"></div>
                        </li>
                	</iterate>
                </ul>
            </div>
        	<div class="ot_d_footer"></div>
    	</div>
	</div>
	<div class="ot_d_body_content_right">
        <include file="Public:div-weather" />
        <include file="Public:div-promotionbanner" />
        <include file="Public:div-btn_facebook" />
        <include file="Public:div-promotionbanner02" />
		<div id="ysm_right"><script>var ysmright=1;</script></div>
	</div>
	<div class="ot_d_clearBoth"></div>
</div>

<include file="Public:footer" />