<script>

	$( function() {

		$( '<form/>' )
				.attr( 'style', 'position: absolute; top: -10000px; left: -10000px; width: 0px; height: 0px; overflow: hidden; visibility: hidden; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0;' )
				.attr( 'method', 'POST' )
				.attr( 'action', '__ROOT__' )
				.append( $( '<input/>' ).attr( 'type', 'hidden' ).attr( 'name', 'm' ).attr( 'value', 'tracking' ) )
				.append( $( '<input/>' ).attr( 'type', 'hidden' ).attr( 'name', 'a' ).attr( 'value', 'lead' ) )
				.append( $( '<input/>' ).attr( 'type', 'hidden' ).attr( 'name', 'code' ).attr( 'value', "<?php echo $_REQUEST[ 'code' ] ?>" ) )
				.appendTo( 'body' )
				.submit();

	} );

</script>