<include file="Public:header" />

<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec01 a').toggleClass('current');
});
</script>

<div class="ot_d_body_content">
	<div id="ot_d_body_content_left"><include file="Public:left_menu" /></div>
	<div id="ot_d_body_content_right">
    	<table class="ot_t_add_edit_table">
        	<tr>
                <td id="col01"></td>
                <td id="col02"></td>
                <td id="col03">英文如適用</td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">*商戶名稱：</td>
                <td id="col02"><input id="name" value="新時代卡拉OK" maxlength="30" size="40" type="text" name="name" /></td>
                <td id="col03"><input id="english_name" value="Neway Karaoke Box" maxlength="30" size="40" type="text" name="english_name" /></td>
                <td id="col04">商戶名稱格式錯誤</td>
            </tr>
            <tr>
                <td id="col01">*所屬類別：</td>
                <td id="col02"><input id="cate_names" title="請選擇類別" value="卡拉OK" size="40" type="text" name="cate_names" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">*所屬地區：</td>
                <td id="col02">
                	<p>
                        <select id="main_location_id" name="main_location_id" jquery1296115613109="38">
                          <option value="">請選擇區域</option>
                          <option value="1">香港島</option>
                          <option selected="selected" value="2">九龍</option>
                          <option value="3">新界</option>
                          <option value="4">離島</option>
                        </select>
                        <select id="sub_location_id" name="sub_location_id" jquery1296115613109="39">
                          <option value="19">旺角</option>
                          <option value="20">紅磡</option>
                          <option selected="selected" value="21">佐敦</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;位於商場<input id="mall" value="1" type="checkbox" name="is_mall" jquery1296115613109="40" />
                    </p>
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01"></td>
                <td id="col02">
                	<input type="text" name="mallname" jquery1296115613109="40" />
                    <button id="reset" type="submit" class="btn01_long"/>重新選擇商場</button>
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">*街道：</td>
                <td id="col02"><input id="address" value="彌敦道238號" size="40" type="text" name="address" jquery1296115613109="34" /></td>
                <td id="col03"><input id="address" value="238 Nathan Road" size="40" type="text" name="address" jquery1296115613109="34" /></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">詳細地址：</td>
                <td id="col02"><input id="rooms" value="238中心5至6樓" size="40" type="text" name="rooms" /></td>
                <td id="col03"><input id="english_rooms" size="40" type="text" name="english_rooms" /></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01"></td>
                <td id="col_spec" colspan="3"><img src="__ROOT__/Public/images/temp_map.jpg"></td>
            </tr>
            <tr>
                <td id="col01">*營業時間：</td>
                <td id="col_spec" colspan="2">
                	<table cellspacing="0" cellpadding="0">
                      <tr>
                        <td>星期一</td>
                        <td><input id="work_dayoff_0" onClick="changeWorkTime('0')" value="1" type="checkbox" name="work_dayoff_0" />
                          </td>
                        <td><div id="time_input_0">
                          <input id="work_start_time_0" value="1030" maxlength="4" type="text" name="work_start_time_0" size="4"/>
                          -
                          <input id="work_end_time_0" value="0600" maxlength="4" type="text" name="work_end_time_0" size="4"/>
                        </div></td>
                      </tr>
                      <tr>
                        <td>星期二</td>
                        <td><input id="work_dayoff_1" onClick="changeWorkTime('1')" value="1" type="checkbox" name="work_dayoff_1" />
                          </td>
                        <td><div id="time_input_1">
                          <input id="work_start_time_1" value="1030" maxlength="4" type="text" name="work_start_time_1" size="4"/>
                          -
                          <input id="work_end_time_1" value="0600" maxlength="4" type="text" name="work_end_time_1" size="4"/>
                        </div></td>
                      </tr>
                      <tr>
                        <td>星期三</td>
                        <td><input id="work_dayoff_2" onClick="changeWorkTime('2')" value="1" type="checkbox" name="work_dayoff_2" />
                          </td>
                        <td><div id="time_input_2">
                          <input id="work_start_time_2" value="1030" maxlength="4" type="text" name="work_start_time_2" size="4"/>
                          -
                          <input id="work_end_time_2" value="0600" maxlength="4" type="text" name="work_end_time_2" size="4"/>
                        </div></td>
                      </tr>
                      <tr>
                        <td>星期四</td>
                        <td><input id="work_dayoff_3" onClick="changeWorkTime('3')" value="1" type="checkbox" name="work_dayoff_3" />
                          </td>
                        <td><div id="time_input_3">
                          <input id="work_start_time_3" value="1030" maxlength="4" type="text" name="work_start_time_3" size="4"/>
                          -
                          <input id="work_end_time_3" value="0600" maxlength="4" type="text" name="work_end_time_3" size="4"/>
                        </div></td>
                      </tr>
                      <tr>
                        <td>星期五</td>
                        <td><input id="work_dayoff_4" onClick="changeWorkTime('4')" value="1" type="checkbox" name="work_dayoff_4" />
                          </td>
                        <td><div id="time_input_4">
                          <input id="work_start_time_4" value="1030" maxlength="4" type="text" name="work_start_time_4" size="4"/>
                          -
                          <input id="work_end_time_4" value="0600" maxlength="4" type="text" name="work_end_time_4" size="4"/>
                        </div></td>
                      </tr>
                      <tr>
                        <td>星期六</td>
                        <td><input id="work_dayoff_5" onClick="changeWorkTime('5')" value="1" type="checkbox" name="work_dayoff_5" />
                          </td>
                        <td><div id="time_input_5">
                          <input id="work_start_time_5" value="1030" maxlength="4" type="text" name="work_start_time_5" size="4"/>
                          -
                          <input id="work_end_time_5" value="0600" maxlength="4" type="text" name="work_end_time_5" size="4"/>
                        </div></td>
                      </tr>
                      <tr>
                        <td>星期日</td>
                        <td><input id="work_dayoff_6" onClick="changeWorkTime('6')" value="1" type="checkbox" name="work_dayoff_6" />
                          </td>
                        <td><div id="time_input_6">
                          <input id="work_start_time_6" value="1030" maxlength="4" type="text" name="work_start_time_6" size="4"/>
                          -
                          <input id="work_end_time_6" value="0600" maxlength="4" type="text" name="work_end_time_6" size="4"/>
                        </div></td>
                      </tr>
                      <tr>
                        <td>公眾假期</td>
                        <td><input id="work_dayoff_7" onClick="changeWorkTime('7')" value="1" type="checkbox" name="work_dayoff_7" />
                          </td>
                        <td><div id="time_input_7">
                          <input id="work_start_time_7" value="1030" maxlength="4" type="text" name="work_start_time_7" size="4"/>
                          -
                          <input id="work_end_time_7" value="0600" maxlength="4" type="text" name="work_end_time_7" size="4"/>
                        </div></td>
                      </tr>
                    </table>
                </td>
                <td id="col04">如: 0900 - 2230</td>
            </tr>
            <tr>
                <td id="col01">商戶介紹：</td>
                <td id="col02"><textarea id="description" rows="4" cols="30" name="description">領導全港卡拉OK行業，服務全面。</textarea></td>
                <td id="col03"><textarea id="description" rows="4" cols="30" name="description"></textarea></td>
                <td id="col04"><label for="description" generated="true">商戶介紹不能大於20個字符</label></td>
            </tr>
            <tr>
                <td id="col01">泊車資料：</td>
                <td id="col02"><textarea id="parking" rows="4" cols="30" name="description"></textarea></td>
                <td id="col03"><textarea id="description" rows="4" cols="30" name="description"></textarea></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">聯絡電話：</td>
                <td id="col02">
                	<input id="telephone" value="21962196" maxlength="8" type="text" name="telephone" minlength="8" size="15"/>
                    <input id="sub_telephone" value="23323320" maxlength="8" type="text" name="sub_telephone" minlength="8" size="15"/>
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">電郵地址：</td>
                <td id="col02"><input id="email" value="jordan238@newaykb.com.hk" size="40" type="text" name="email" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">關鍵字：</td>
                <td id="col02"><input id="keyword" size="40" type="text" name="keyword" /></td>
                <td id="col03"><input id="keyword" size="40" type="text" name="keyword" /></td>
                <td id="col04">請以，分隔</td>
            </tr>
            <tr>
                <td id="col01">狀態：</td>
                <td id="col02">
                	結業<input id="is_closed" value="1" type="checkbox" name="is_closed" />
                    裝修中<input id="is_renovation" value="1" type="checkbox" name="is_renovation" />
                    已搬址<input id="is_moved" value="1" type="checkbox" name="is_moved" />
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01"></td>
                <td id="col02">
                	<input id="submit" value="確定" type="submit" name="submit" class="btn01"/>
                    <input id="btnSubmit" value="重設" type="reset" name="btnSubmit" class="btn01"/>
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
        </table>
    </div>
	<div class="ot_d_clearBoth"></div>
</div>
