<include file="Public:header" />

<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec01 a').toggleClass('current');
});
</script>

<div class="ot_d_body_content">
	<div id="ot_d_body_content_left"><include file="Public:left_menu" /></div>
	<div id="ot_d_body_content_right">
    	<table class="ot_t_listing_table">
        	<tr>
                <th id="title" style="width:5%">ID<A href="/index.php/shopbrand/shoplist/sort/shop_fields.id/sortorder/asc">↓</A>|<A href="/index.php/shopbrand/shoplist/sort/shop_fields.id/sortorder/desc">↑</A></th>
                <th id="title" style="width:40%">商戶名稱<A href="/index.php/shopbrand/shoplist/sort/shop_fields.name/sortorder/asc">↓</A>|<A href="/index.php/shopbrand/shoplist/sort/shop_fields.name/sortorder/desc">↑</A></th>
                <th id="title" style="width:25%">創建時間<A href="/index.php/shopbrand/shoplist/sort/shop_fields.create_time/sortorder/asc">↓</A>|<A href="/index.php/shopbrand/shoplist/sort/shop_fields.create_time/sortorder/desc">↑</A></th>
                <th id="title" style="width:30%">商戶地址<A href="/index.php/shopbrand/shoplist/sort/shop_fields.address/sortorder/asc">↓</A>|<A href="/index.php/shopbrand/shoplist/sort/shop_fields.address/sortorder/desc">↑</A></th>
            </tr>
        	<tr>
                <td id="row">1</td>
                <td id="row"><a href="#">新時代卡拉OK</a></td>
                <td id="row">2010-01-15 11:19:37</td>
                <td id="row">軒尼詩道380-394號</td>
            </tr>
            <tr>
                <td id="row">2</td>
                <td id="row"><a href="#">新時代卡拉OK</a></td>
                <td id="row">2010-01-15 11:19:37</td>
                <td id="row">軒尼詩道380-394號</td>
            </tr>
            <tr>
                <td id="row">3</td>
                <td id="row"><a href="#">新時代卡拉OK</a></td>
                <td id="row">2010-01-15 11:19:37</td>
                <td id="row">軒尼詩道380-394號</td>
            </tr>
            <tr>
                <td id="row">4</td>
                <td id="row"><a href="#">新時代卡拉OK</a></td>
                <td id="row">2010-01-15 11:19:37</td>
                <td id="row">軒尼詩道380-394號</td>
            </tr>
            <tr>
                <td id="row">5</td>
                <td id="row"><a href="#">新時代卡拉OK</a></td>
                <td id="row">2010-01-15 11:19:37</td>
                <td id="row">軒尼詩道380-394號</td>
            </tr>
            <tr>
                <td id="row">6</td>
                <td id="row"><a href="#">新時代卡拉OK</a></td>
                <td id="row">2010-01-15 11:19:37</td>
                <td id="row">軒尼詩道380-394號</td>
            </tr>
            <tr>
                <td id="row">7</td>
                <td id="row"><a href="#">新時代卡拉OK</a></td>
                <td id="row">2010-01-15 11:19:37</td>
                <td id="row">軒尼詩道380-394號</td>
            </tr>
            <tr>
                <td id="row">8</td>
                <td id="row"><a href="#">新時代卡拉OK</a></td>
                <td id="row">2010-01-15 11:19:37</td>
                <td id="row">軒尼詩道380-394號</td>
            </tr>
            <tr>
                <td id="row">9</td>
                <td id="row"><a href="#">新時代卡拉OK</a></td>
                <td id="row">2010-01-15 11:19:37</td>
                <td id="row">軒尼詩道380-394號</td>
            </tr>
            <tr>
                <td id="row">10</td>
                <td id="row"><a href="#">新時代卡拉OK</a></td>
                <td id="row">2010-01-15 11:19:37</td>
                <td id="row">軒尼詩道380-394號</td>
            </tr>
            <tr>
                <td id="row_spec" colspan="4">50447  1 <A href="/index.php/Shopbrand/shoplist?&p=2"> 2 </A> <A href="/index.php/Shopbrand/shoplist?&p=3"> 3 </A> <A href="/index.php/Shopbrand/shoplist?&p=4"> 4 </A> <A href="/index.php/Shopbrand/shoplist?&p=5"> 5 </A> <A href="/index.php/Shopbrand/shoplist?&p=6"> 6 </A> <A href="/index.php/Shopbrand/shoplist?&p=7"> 7 </A> <A href="/index.php/Shopbrand/shoplist?&p=8"> 8 </A> <A href="/index.php/Shopbrand/shoplist?&p=2">››</A> ... <A href="/index.php/Shopbrand/shoplist?&p=5045">5045</A></td>
            </tr>
        </table>
    </div>
	<div class="ot_d_clearBoth"></div>
</div>
