<table width="750px" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2" style="width:750px;"><p align="center" style="font-size:12px;color:#333333;margin: 8px 0px;"><a href="http://www.facebook.com/#!/pages/OutStreet/109079425794298" target="_blank"><img src="http://edm.outstreet.com.hk/edm0005/images/edm.jpg" border="0"/></a></p></td>
  </tr>
  <tr>
    <td colspan="2" style="width:750px; text-align:center"><p style="font-size:12px;color:#333333;margin: 0px 0px 1px 0px;">OutStreet&copy; 2009</p>
            <p style="font-size:12px;color:#333333;margin: 0px 0px 1px 0px;"><?php echo iconv("utf-8","big5","版權所有 不得轉載"); ?></p></td>
  </tr>
  <tr>
    <td colspan="2" style="width:750px;"><p align="center" style="font-size:12px;color:#333333;margin: 8px 0px;">如不想收到OutStreet之最新情報及推廣電郵，請<a href="##link##" style="color:#2155b5;">按此</a>取消</p></td>
  </tr>
</table>
