<include file="Public:sa-header" />
<include file="Public:box-header" />
<script type="text/javascript">
$(document).ready(function (){
	$('.rmk').change(function() {
		id = $(this).attr('ref');
		remark = $(this).val();
		$.getJSON('__APP__/Shoprequest/addShopOwnerRemark/id/'+id+'/remark/'+remark, 
		function(json){
			if(!json['result']){alert('Please contact system admin')}
		} );
	});
});

function auditowner(owner_id,auditaction){
	shop_id=$('#shop_id_'+owner_id).val();
	brand_id=$('#brand_id_'+owner_id).val();
	
	if(auditaction != 2) {
		if(shop_id==''&&brand_id==''){
			alert('必順輸入商戶ID或品牌ID');
			return false;
		}
		if(shop_id!=''){
			var url='__URL__/auditowner/owner_id/'+owner_id+'/shop_id/'+shop_id+'/auditaction/'+auditaction;	
		}else if(brand_id!=''){
			var url='__URL__/auditowner/owner_id/'+owner_id+'/brand_id/'+brand_id+'/auditaction/'+auditaction;
		}
	} else {
		var url='__URL__/auditowner/owner_id/'+owner_id+'/auditaction/'+auditaction;
	}

	$.getJSON(url, function(data) {		
		if(data.success==1){
			alert('成功審核店主');
			location.reload(true);
		}else{
			switch(data.msg){
				case 0:
					alert('此商戶己被其他店主註冊');
				break;
				case 1:
					alert('此品牌己被其他店主註冊');
				break;
				case 2:
					alert('此商戶屬於品牌');
				break;	
				default:
					alert('無法審核店主');
				break;
			}			
		}		
	});
}
</script>

<div class="container">
	<h3>店主列表</h3>
    <div class="mainbox">
        <div>
                <a <if condition="$is_disabled eq '1'">class="chosen"</if> href="__URL__/listAll/is_disabled/1">顯示未啟用的</a> |
                <a <if condition="$is_disabled eq '0'">class="chosen"</if> href="__URL__/listAll/is_disabled/0">顯示已啟用的</a> |
                <a <if condition="$is_disabled eq '' OR $is_disabled eq 'all'">class="chosen"</if>  href="__URL__/listAll/is_disabled/all">顯示所有</a>
		</div>
        <table class="datalist fixwidth" style="width:900px;">
            <tr>
                <?php $sortcols = array( 'user_fields.id'=>'ID', 'user_fields.o_contact_person'=>'商戶聯絡人','user_fields.create_time'=>'創建時間'); ?>
                <?php foreach( $sortcols AS $key=>$val ): ?>
                <th>
                <?php echo $val; ?><a href="__URL__/listAll/sort/{$key}/sortorder/asc/searchLink/{$searchLink}">&#8595;</a>|<a href="__URL__/listAll/sort/{$key}/sortorder/desc/searchLink/{$searchLink}">&#8593;</a>
                </th>
                <?php endforeach; ?>
                <th width="180px">商戶名稱</th>
                <th width="250px">店主資料</th>
                <th>品牌ID</th>
                <th>商戶ID</th>
                <th>審核</th>                
				<th>注意</th>
            </tr>
            <iterate name="ownerList" id="vo">
            <tr>
            	<td>{$vo.id}</td>
                <td>{$vo.o_contact_person} ({$vo.o_telephone})</td>
                <td title="{$vo.create_time|date='Y-m-d H:i:s',###}" width="90px">{$vo.create_time|date='Y-m-d ',###}</td>
                <td>{$vo.o_company_name}</td>
                <td>{$vo.o_position} / {$vo.email}</td>
				<td><if condition="$vo.is_disabled neq 0"><a href="__URL__/selectshopid/is_brand/1/owner_id/{$vo.id}/?height=300&amp;width=600&amp;modal=false&amp;&TB_iframe=true" class="thickbox green"><input type='text' style="width:44px;" readonly='true' id="brand_id_{$vo.id}" value=""/></a><else />{$vo.admin_brand_id}</if></td>                
                <td><if condition="$vo.is_disabled neq 0"><a href="__URL__/selectshopid/owner_id/{$vo.id}/?height=300&amp;width=600&amp;modal=false&amp;&TB_iframe=true" class="thickbox green"><input type='text' style="width:44px;" readonly='true' id="shop_id_{$vo.id}" value=""/></a><else />{$vo.admin_shop_id}</if></td>
                <td><if condition="$vo.is_disabled eq 0"><a onclick="auditowner({$vo.id},1);" href="javascript:void(0);" class="green">已審核</a><elseif condition="$vo.is_disabled eq 2" />不通過審核<else /><a href="javascript:void(0);" onclick="auditowner({$vo.id},0);" class="red">未審核</a><br /><br /><a href="javascript:void(0);" onclick="auditowner({$vo.id},2);" class="red">不通過審核</a></if></td>                
				<td><textarea id="rmk_$vo.id" ref="{$vo.id}" class="rmk">{$vo.remark}</textarea></td>
            </tr>
            </iterate>
            <tr class="nobg">
        		<td class="tdpage" colspan="7">{$multipage}</td>
			</tr>
        </table>
	</div>
</div>

<div>
<marquee scrollamount="1" height="70" direction="up" onMouseOut="this.start()" onMouseOver="this.stop()">
    <table>
        <iterate name="logtable" id="vo">
            <tr>
            	<td width="30px">{$vo.id}</td><td <if condition="date('yyyy-mm-dd', strtotime($vo.date)) eq date('yyyy-mm-dd',time())">style="color:red;"</if> width="150px"> {$vo.date} </td> <td width="200px">id: {$vo.class_id} </td> <td width="80px">{$vo.user_name}</td><td width="80px">{$vo.type}</td> 
            </tr>
        </iterate>
    </table>
</marquee>
</div>

<include file="Public:sa-footer" />