<include file="Public:box-header" />
<load href="__PUBLIC__/css/ot_owner.css" />
<script>
$(document).ready(function(){
	var owner_id="{$owner_id}";
	$('.select_shop').click(function(){	
		var id = $(this).attr('ref');	
		var shop_id=$('#select_shop_id_'+id).text();
		<if condition="$_REQUEST['is_brand'] eq 1">var isbrand = true;<else/>var isbrand = false;</if>
		if(isbrand){
			parent.$('#brand_id_'+owner_id).val(shop_id);
			parent.$('#shop_id_'+owner_id).val('');
		}else{
			parent.$('#shop_id_'+owner_id).val(shop_id);
			parent.$('#brand_id_'+owner_id).val('');
		}
		parent.tb_remove();
	});
});
</script>
<div id='selectshopid_content' class="ot_d_owner_selectshopid_content">
	<p>
    <label style="color:#900"><b><if condition="$_REQUEST['is_brand'] eq 1">品牌<else/>商戶</if>ID 選擇器</b></label>
    </p>
    <p>
    <form action="__URL__/selectshopid/" method="POST"><input type="text" id="o_company_name" name="o_company_name" value="{$o_company_name}" /><input type="hidden" id="owner_id" name="owner_id" value="{$owner_id}" /><input type="submit" value="search" /><input type="hidden" id="is_brand" name="is_brand" value="{$_REQUEST['is_brand']}" /></form>
    </p>
    <p>
        <div class="ot_d_owner_selectshopid_title ot_d_owner_selectshopid_result">
            <div class="ot_d_owner_selectshopid_title_id">ID</div>
            <div class="ot_d_owner_selectshopid_title_shopname"><if condition="$_REQUEST['is_brand'] eq 1">品牌<else/>商戶</if>名稱</div>
            <if condition="$_REQUEST['is_brand'] neq 1">
	            <div class="ot_d_owner_selectshopid_title_address">商戶地址</div>            
            </if>
            <div class="ot_d_owner_selectshopid_title_select">選擇</div>
        </div>
    </p>
    <if condition="$shopList neq ''">
    <iterate name="shopList" id="vo">
    <p>
        <div class="ot_d_owner_selectshopid_result">
            <div id='select_shop_id_{$vo.id}' class="ot_d_owner_selectshopid_title_id">{$vo.id}</div>
            <div class="ot_d_owner_selectshopid_title_shopname">{$vo.name}</div>
            <if condition="$_REQUEST['is_brand'] neq 1">
            	<div class="ot_d_owner_selectshopid_title_address">{$vo.address}</div>
            </if>
            <div class="ot_d_owner_selectshopid_title_select"><input class="select_shop" ref="{$vo.id}" type="submit" value="確認" /></div>
        </div>
    </p>
    </iterate>
    <else />
    <p>
        <div class="ot_d_owner_noresult">
            <b>沒有結果</b>
        </div>
    </p>
    </if>
</div>
<include file="Public:sa-footer" />