<link rel="stylesheet" type="text/css" href="./Public/css/ot_otpromo.css" />

<div class="op_size" style="width:640px;">
   <?php if ( $data[ 'banner' ] ): ?> <div class="op_ban"><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/uploadimages/outstreetpromo/<?php echo $data[ 'banner' ]; ?>"></div><?php endif; ?>

    <div class="op_intro">
    	<div class="op_intro_header"></div>
        <div class="op_intro_content"><?php echo $data[ 'description' ]; ?></div>
        <div class="op_intro_footer"></div>
	</div>

<?php foreach ( $data[ 'blocks' ] AS $key => $val ): ?>

	<?php
		$val['description'] = preg_replace( '/\s*<(\/?(?:name|value))>\s*/is', '<\1>', $val['description'] );
		$val['description'] = str_ireplace( '<box>', '<table border="0" cellspacing="5" cellpadding="0">', $val['description'] );
		$val['description'] = str_ireplace( '</box>', '</table>', $val['description'] );
		$val['description'] = str_ireplace( '<name>', '<tr><td valign="top">', $val['description'] );
		$val['description'] = str_ireplace( '</name>', '</td>', $val['description'] );
		$val['description'] = str_ireplace( '<value>', '<td valign="top">', $val['description'] );
		$val['description'] = str_ireplace( '</value>', '</td></tr>', $val['description'] );
		$val['description'] = nl2br( $val['description'] );
	?>
	<?php if ( $val[ 'tpl_type' ] == 1 ): ?>
		<?php if ( $val['title'] ): ?>
			<div class="op_frame">
				<table width="0%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td><table width="0%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/images/index/outstreetpromo/tit_01.jpg" /></td>
						<td class="op_frame_tit01"><table width="0%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td class="op_frame_tit"><?php echo $val['title'] ?></td>
							<td><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/images/index/outstreetpromo/tit_02.jpg" /></td>
						  </tr>
						</table></td>
						<td><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/images/index/outstreetpromo/tit_04.jpg" /></td>
					  </tr>
					</table></td>
				  </tr>
				  <tr>
					<td class="op_frame_content">
						<div id="op_template_1">
							<div class="op_template">
								<?php if ( $val['image'] ): ?><div class="toppic"><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/uploadimages/outstreetpromo/<?php echo $val['image']; ?>" /></div><?php endif; ?>
								<div class="wordsize"><?php echo $val['description']; ?></div>
							</div>
                            <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                            <?php endif; ?>
						</div>
					</td>
				  </tr>
				</table>
			</div>
		<?php else: ?>
			<div class="op_frame">
				<table width="0%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
				  <td class="op_frame_content_notit">
						<div id="op_template_1">
							<div class="op_template op_template_notit">
								<?php if ( $val['image'] ): ?><div class="toppic"><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/uploadimages/outstreetpromo/<?php echo $val['image']; ?>" /></div><?php endif; ?>
								<div class="wordsize"><?php echo $val['description']; ?></div>
							</div>
                            <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                            <?php endif; ?>
						</div>
					 </td>
				  </tr>
				</table>
		  </div>  
		<?php endif; ?>
	<?php elseif ( $val[ 'tpl_type' ] == 2 ): ?>

		<?php if ( $val['title'] ): ?>
			<div class="op_frame">
				<table width="0%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td><table width="0%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/images/index/outstreetpromo/tit_01.jpg" /></td>
						<td class="op_frame_tit01"><table width="0%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td class="op_frame_tit"><?php echo $val['title'] ?></td>
							<td><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/images/index/outstreetpromo/tit_02.jpg" /></td>
						  </tr>
						</table></td>
						<td><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/images/index/outstreetpromo/tit_04.jpg" /></td>
					  </tr>
					</table></td>
				  </tr>
				  <tr>
					<td class="op_frame_content">
						<div id="op_template_2">
							<div class="op_template">
								<div class="wordsize"><?php echo $val['description']; ?></div>    
								<?php if ( $val['image'] ): ?><div class="toppic"><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/uploadimages/outstreetpromo/<?php echo $val['image']; ?>" /></div><?php endif; ?>
							</div>
                            <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                            <?php endif; ?>
						</div>
                  	</td>
				  </tr>
				</table>
		  </div>  
		<?php else: ?><div class="op_frame">
		  <table width="0%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td class="op_frame_content_notit">
						<div id="op_template_2">
							<div class="op_template op_template_notit">
								<div class="wordsize"><?php echo $val['description']; ?></div>    
								<?php if ( $val['image'] ): ?><div class="toppic"><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/uploadimages/outstreetpromo/<?php echo $val['image']; ?>" /></div><?php endif; ?>
							</div>
                            <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                            <?php endif; ?>
						</div>
                  	</td>
				  </tr>
				</table>
		  </div>  
		<?php endif; ?>

	<?php elseif ( $val[ 'tpl_type' ] == 3 ): ?>
		<?php if ( $val['title'] ): ?>
			<div class="op_frame">
				<table width="0%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td><table width="0%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/images/index/outstreetpromo/tit_01.jpg" /></td>
						<td class="op_frame_tit01"><table width="0%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td class="op_frame_tit"><?php echo $val['title'] ?></td>
							<td><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/images/index/outstreetpromo/tit_02.jpg" /></td>
						  </tr>
						</table></td>
						<td><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/images/index/outstreetpromo/tit_04.jpg" /></td>
					  </tr>
					</table></td>
				  </tr>
				  <tr>
					<td class="op_frame_content">
						<div id="op_template_3">
							<div class="op_template">
								<?php if ( $val['image'] ): ?><div class="leftpic"><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/uploadimages/outstreetpromo/<?php echo $val['image']; ?>"  width="200" /></div><?php endif; ?>
								<div class="wordsize"><?php echo $val['description']; ?></div>
                                <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                                    <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                                <?php endif; ?>
                                <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                                    <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                                <?php endif; ?>
                                <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                                    <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                                <?php endif; ?>
                                <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                                    <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                                <?php endif; ?>
							</div>
						</div>
					</td>
				  </tr>
				</table>
			</div>
		<?php else: ?>
			<div class="op_frame">
				<table width="0%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td class="op_frame_content_notit">
						<div id="op_template_3">
							<div class="op_template op_template_notit">
								<?php if ( $val['image'] ): ?><div class="leftpic"><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/uploadimages/outstreetpromo/<?php echo $val['image']; ?>"  width="200" /></div><?php endif; ?>
								<div class="wordsize"><?php echo $val['description']; ?></div>
                                <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                                    <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                                <?php endif; ?>
                                <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                                    <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                                <?php endif; ?>
                                <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                                    <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                                <?php endif; ?>
                                <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                                    <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                                <?php endif; ?>
							</div>
						</div>
					</td>
				  </tr>
				</table>
			</div> 
		<?php endif; ?>
	<?php elseif ( $val[ 'tpl_type' ] == 4 ): ?>
		<?php if ( $val['title'] ): ?>
			<div class="op_frame">
				<table width="0%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td><table width="0%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/images/index/outstreetpromo/tit_01.jpg" /></td>
						<td class="op_frame_tit01"><table width="0%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td class="op_frame_tit"><?php echo $val['title'] ?></td>
							<td><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/images/index/outstreetpromo/tit_02.jpg" /></td>
						  </tr>
						</table></td>
						<td><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/images/index/outstreetpromo/tit_04.jpg" /></td>
					  </tr>
					</table></td>
				  </tr>
				  <tr>
					<td class="op_frame_content">
						<div id="op_template_4">
							<div class="op_template">
							  <?php if ( $val['image'] ): ?><div class="rightpic"><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/uploadimages/outstreetpromo/<?php echo $val['image']; ?>" width="200" /></div><?php endif; ?>
								<div class="wordsize"><?php echo $val['description']; ?></div>
							</div>
                            <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                            <?php endif; ?>
						</div>
					</td>
				  </tr>
				</table>
			</div>
		<?php else: ?>
			<div class="op_frame">
				<table width="0%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td class="op_frame_content_notit">
						<div id="op_template_4">
							<div class="op_template op_template_notit">
							  <?php if ( $val['image'] ): ?><div class="rightpic"><img src="<?php echo C('OUTSTREET_DIR'); ?>/Public/uploadimages/outstreetpromo/<?php echo $val['image']; ?>" width="200" /></div><?php endif; ?>
								<div class="wordsize"><?php echo $val['description']; ?></div>
							</div>
                            <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                            <?php endif; ?>
						</div>
					</td>
				  </tr>
				</table>
			</div>  
		<?php endif; ?>
	<?php elseif ( $val[ 'tpl_type' ] == 5 ): ?>
		<div class="op_frame">
			<table width="0%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td class="op_frame_content_notit">
					<div id="op_template_4">
						<div class="op_template op_template_notit">
							<?php echo $val['description'];?>
						</div>
                        <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                        <?php endif; ?>
					</div>
				</td>
			  </tr>
			</table>
		</div>    
	<?php endif; ?>
<?php endforeach; ?>
</div>