<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.validate.js" /> 
<load href="__PUBLIC__/js/jquery.form.js" /> 
<load href="__PUBLIC__/js/ui/jquery.ui.core.js"/>
<load href="__PUBLIC__/js/ui/jquery.ui.widget.js"/>
<load href="__PUBLIC__/js/ui/jquery.ui.mouse.js"/>
<load href="__PUBLIC__/js/ui/jquery.ui.sortable.js"/>
<load href="__PUBLIC__/js/ajaxupload.js"/>
<load href="__PUBLIC__/js/jquery.base64.js" /> 
<script type="text/javascript">
$(document).ready(function(){
	var validator = $( '#theform' ).validate( {
		rules: {
			title: { required: true, rangelength: [2,40] },
			lead: { required: true },
			thumb: { required: true }
		},
		messages: {
			title: { required: '標題是必須', rangelength: jQuery.format( '標題長度必須在 {0} 至 {1} 字之內' ) },
			lead: { required: '副題是必須' },
			thumb: { required: '小圖片是必須' }
		},
		errorPlacement: function( error, element )
			{ error.appendTo( element.closest( 'td' ) ); },
		submitHandler: function( form )
		{
			form.submit();
		}
	} );


blocknum = 0;
function addblock()
{
	blocknum++;
	var currentnum = blocknum;
	html = '<li id="block'+currentnum+'" style="margin: 10px; padding: 10px; background: #EEEEEE; cursor: move;"><div>組件'+currentnum+'</div>'
	+ '<a href="javascript: void(0);" id="block'+currentnum+'del">刪除組件</a>'
	+ '<div><label style="width: 25%;"><b>*</b>組件'+currentnum+' 模板:</label>'
	+ '<input style="border: none; cursor: pointer;" type="radio" name="blocks['+currentnum+'][tpl_type]" value="1" checked> 1 <img src="__PUBLIC__/sares/wordbottom.gif">'
	+ '<input style="border: none; cursor: pointer;" type="radio" name="blocks['+currentnum+'][tpl_type]" value="2"> 2 <img src="__PUBLIC__/sares/wordtop.gif">'
	+ '<input style="border: none; cursor: pointer;" type="radio" name="blocks['+currentnum+'][tpl_type]" value="3"> 3 <img src="__PUBLIC__/sares/wordright.gif">'
	+ '<input style="border: none; cursor: pointer;" type="radio" name="blocks['+currentnum+'][tpl_type]" value="4"> 4 <img src="__PUBLIC__/sares/wordleft.gif">'
	+ '<input style="border: none; cursor: pointer;" type="radio" name="blocks['+currentnum+'][tpl_type]" value="5"> 5 <img src="__PUBLIC__/sares/wordcenter.gif">'
	+ '</div>'
	+ '<div><label style="width: 25%;"><b>*</b>組件'+currentnum+' 標題:</label><input type="text" style="width: 500px;" name="blocks['+currentnum+'][title]" value="" /></div>'
	+ '<div><label style="width: 25%;"><b>*</b>組件'+currentnum+' 圖片:</label><input type="button" value="上傳" id="block'+currentnum+'imageupload" size="20" />'
	+ '<div id="block'+currentnum+'image" style="display: none;"><input type="hidden" name="blocks['+currentnum+'][image]"><img src=""/></div>'
	+ '</div>'
	+ '<div><label style="width: 25%;"><b>*</b>組件'+currentnum+' 內容:'
	+ '<div>(可用&lt;BOX&gt;<br/>&lt;NAME&gt;&lt;/NAME&gt; <br/> &lt;VALUE&gt;&lt;/VALUE&gt;<br/>&lt;/BOX&gt; 作 資料名稱 & 資料 顯示在 TABLE 內)</div>'
	+ '</label><textarea style="width: 500px; height: 100px;" name="blocks['+currentnum+'][description]" ></textarea></div>'
	+ '<div><label style="width: 25%;"><b>*</b>組件'+currentnum+' 按鈕1:</label>'
	+ ' 名稱 <input type="text" style="width: 100px;" name="blocks['+currentnum+'][buttom1_text]" value="" />'
	+ ' 連結 <input type="text" style="width: 200px;" name="blocks['+currentnum+'][buttom1_url]" value="" /></div>'
	+ '<div><label style="width: 25%;"><b>*</b>組件'+currentnum+' 按鈕2:</label>'
	+ ' 名稱 <input type="text" style="width: 100px;" name="blocks['+currentnum+'][buttom2_text]" value="" />'
	+ ' 連結 <input type="text" style="width: 200px;" name="blocks['+currentnum+'][buttom2_url]" value="" /></div>'
	+ '<div><label style="width: 25%;"><b>*</b>組件'+currentnum+' 按鈕3:</label>'
	+ ' 名稱 <input type="text" style="width: 100px;" name="blocks['+currentnum+'][buttom3_text]" value="" />'
	+ ' 連結 <input type="text" style="width: 200px;" name="blocks['+currentnum+'][buttom3_url]" value="" /></div>'
	+ '<div><label style="width: 25%;"><b>*</b>組件'+currentnum+' 按鈕4:</label>'
	+ ' 名稱 <input type="text" style="width: 100px;" name="blocks['+currentnum+'][buttom4_text]" value="" />'
	+ ' 連結 <input type="text" style="width: 200px;" name="blocks['+currentnum+'][buttom4_url]" value="" /></div>'
	+ '</li>';
	
	$('#blockarea').append( html );
	$('#block'+currentnum+'del' ).click( function() { $( '#block'+currentnum ).remove(); } );
	new AjaxUpload('block'+currentnum+'imageupload', {
		action: '__APP__/poster/doUpload',
		name: 'image',
		onComplete: function(file, response) {
			var json = $.parseJSON( response );
			addimg( 'block'+currentnum+'image', json.file );
		}
	});

	return currentnum;
}


$("#blockarea").sortable();
$("#blockarea").disableSelection();

$('.addblock').click( function() { addblock(); } );

$(document).ready(function(){

	new AjaxUpload('thumbupload', {
		action: '__APP__/poster/doUpload',
		name: 'image',
		onComplete: function(file, response) {
			var json = $.parseJSON( response );
			addimg( 'thumb', json.file );
		}
	});
	new AjaxUpload('bannerupload', {
		action: '__APP__/poster/doUpload',
		name: 'image',
		onComplete: function(file, response) {
			var json = $.parseJSON( response );
			addimg( 'banner', json.file );
		}
	});
});

function addimg( id, file )
{
	$( '#' +id+ ' img' ).attr( 'src', '<?php echo C("OUTSTREET_DIR"); ?>/Public/uploadimages/outstreetpromo/' + file );
	$( '#' +id+ ' input' ).val( file );
	$( '#' +id ).show();
}

<?php
	if ( $poster['thumb_path'] ) { echo ' addimg( "thumb", "' .$poster['thumb_path']. '" ); '; }
	if ( $poster['banner_path'] ) { echo ' addimg( "banner", "' .$poster['banner_path']. '" ); '; }
?>

<?php foreach( $posterblocks AS $val ): ?>
	var blknum = addblock();
	$( 'input[name=blocks\\['+blknum+'\\]\\[tpl_type\\]]' ).attr("checked",false);
	$( 'input[name=blocks\\['+blknum+'\\]\\[tpl_type\\]]' ).eq( <?php echo $val['tpl_type'] - 1; ?> ).attr("checked",true);
	$( 'input[name=blocks\\['+blknum+'\\]\\[title\\]]' ).val("<?php echo $val['title']; ?>");
	<?php if ($val['image_path']): ?>addimg( 'block'+blknum+'image', "<?php echo $val['image_path']; ?>" );<?php endif; ?>
	$( 'textarea[name=blocks\\['+blknum+'\\]\\[description\\]]' ).val($.base64Decode("<?php echo base64_encode($val['description']); ?>"));
	$( 'input[name=blocks\\['+blknum+'\\]\\[buttom1_text\\]]' ).val(decodeURIComponent("<?php echo urlencode($val['buttom1_text']); ?>"));
	$( 'input[name=blocks\\['+blknum+'\\]\\[buttom2_text\\]]' ).val(decodeURIComponent("<?php echo urlencode($val['buttom2_text']); ?>"));
	$( 'input[name=blocks\\['+blknum+'\\]\\[buttom3_text\\]]' ).val(decodeURIComponent("<?php echo urlencode($val['buttom3_text']); ?>"));
	$( 'input[name=blocks\\['+blknum+'\\]\\[buttom4_text\\]]' ).val(decodeURIComponent("<?php echo urlencode($val['buttom4_text']); ?>"));
	$( 'input[name=blocks\\['+blknum+'\\]\\[buttom1_url\\]]' ).val("<?php echo $val['buttom1_url']; ?>");
	$( 'input[name=blocks\\['+blknum+'\\]\\[buttom2_url\\]]' ).val("<?php echo $val['buttom2_url']; ?>");
	$( 'input[name=blocks\\['+blknum+'\\]\\[buttom3_url\\]]' ).val("<?php echo $val['buttom3_url']; ?>");
	$( 'input[name=blocks\\['+blknum+'\\]\\[buttom4_url\\]]' ).val("<?php echo $val['buttom4_url']; ?>");
<?php endforeach; ?>

});
</script>
<div class="container">
	<h3>海報列表</h3>
	<div class="mainbox">
		<form id="theform" action="__APP__" method="post" onsubmit="return false;">
		<input type="hidden" name="m" value="poster" />
		<input type="hidden" name="a" value="doEdit" />
		<input type="hidden" name="id" value="{$poster['id']}" />
		<table cellspacing="5" cellpadding="0" align="left">
		<tr>
			<td style="width: 25%;"><label><b>*</b> 標題:</label></td>
			<td style="width: 75%;"><input type="text" style="width: 500px;" name="title" value="{$poster['title']}" /></td>
		</tr>
		<tr>
			<td style="width: 25%;"><label><b></b> 介紹:</label></td>
			<td style="width: 75%;"><textarea style="width: 500px; height: 100px;" name="description" >{$poster['description']}</textarea></td>
		</tr>
		<tr>
			<td style="width: 25%;"><label><b>*</b> 副題:</label></td>
			<td style="width: 75%;"><input type="text" style="width: 500px;" name="lead"  value="{$poster['lead']}" /></td>
		</tr>
		<tr>
			<td style="width: 25%;"><label><b>*</b> 小圖片:</label></td>
			<td style="width: 75%;"><input type="button" value="上傳" id="thumbupload" size="20" />
				<div id="thumb" style="display: none;"><input type="hidden" name="thumb"><img src=""/></div></td>
		</tr>
		<tr>
			<td style="width: 25%;"><label><b>*</b> 大圖片:</label></td>
			<td style="width: 75%;"><input type="button" value="上傳" id="bannerupload" size="20" />
				<div id="banner" style="display: none;"><input type="hidden" name="banner"><img src=""/></div></td>
		</tr>
		<tr>
			<td style="width: 25%;"><label><b></b> 連結: (請填寫http://)</label></td>
			<td style="width: 75%;"><input type="text" style="width: 500px;" name="url"  value="{$poster['url']}" /></td>
		</tr>
		<tr>
			<td colspan="2"><label>組件:</label> <a href="javascript: void(0);" class="addblock"><b>添加組件</b></a></td>
		</tr>
		<tr>
			<td colspan="2">
				<UL id="blockarea"></UL>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="right">
				<input type="submit" value="預覽" onclick="$('#theform input[name=a]').val( 'doPreview' ); $('#theform').attr( 'target', '_new' );" />
				<input type="submit" value="修改" onclick="$('#theform input[name=a]').val( 'doEdit' ); $('#theform').attr( 'target', '' );" />
			</td>
		</tr>
		</table>
		</form>

	</div>
	
</div>
<include file="Public:sa-footer" />