<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" /> 
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" /> 
<script type="text/javascript">
$(document).ready(function(){

	$('#start_date').datepick({dateFormat:'yyyy-mm-dd'});
	$('#end_date').datepick({dateFormat:'yyyy-mm-dd'});

	$('.move').bind('click', function(){
		var uri = $(this).attr('id');
		
		$.get(uri,function(data){
			location.reload();
		});
	});
	$('.delete').bind('click', function(){
		if ( confirm('该操作不可恢复，您确认要删除吗？') )
		{
			var uri = $(this).attr('id');
			$.get(uri,function(data){
				location.reload();
			});
		}
	});
	$('.public').bind('click', function(){
		var uri = $(this).attr('id');
		$.get(uri,function(data){
			location.reload();
		});
	});
});
</script>
<div class="container">
	<h3>海報列表</h3>
	<div class="mainbox">
		<div>
			<form action="__URL__/listAll/" method="get">
				標題:<input type="text" name="title" value="{.title}" />
				時間:<input type="text" style="width: 100px;" id="start_date" name="start_date" value="{.start_date}"/>-<input type="text" style="width: 100px;" id="end_date" name="end_date" value="{.end_date}"/>
				副題:<input type="text" name="lead" value="{.lead}" />
				<input type="submit" name="search" value="搜尋" />
			</form>
		</div>
		<form action="__URL__/listAll/{&VAR_PAGE}/{$page}" onsubmit="return confirm('该操作不可恢复，您确认要删除这些主题吗？');" method="post">
		
			<table class="datalist fixwidth">
			<tr>
				<?php $sortcols = array( 'id'=>'ID','title'=>'標題','lead'=>'副題','create_time'=>'发布時間','orders'=>'排序' ); ?>
				<?php foreach( $sortcols AS $key=>$val ): ?>
					<th>
						<?php echo $val; ?><a href="__URL__/listAll/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/listAll/sort/{$key}/sortorder/desc">&#8593;</a>
					</th>
				<?php endforeach; ?>
				<th>修改</th>
				<th>删除</th>
				<th>出版?</th>
			</tr>
			<iterate name="list" id="vo">
				<tr title="{$vo.summary}" class="mousetr">
					<td width="4%">{$vo.id}</td>
					<td width="20%"><strong><a href="<?php echo C('OUTSTREET_DIR'); ?>/poster/view/posterid/{$vo.id}" target="_blank">{$vo.title}</a></strong></td>
					<td width="40%" title="{$vo.lead}">{$vo.lead}</td>
					<td width="10%" class="date">{$vo.create_time|date='Y-m-d H:i',###}</td>
					<td width="12%">
						<input type="button" class="move" id="__URL__/moveUp/id/{$vo.id}/orders/{$vo.orders}" value="上移" />
						<input type="button" class="move" id="__URL__/moveDown/id/{$vo.id}/orders/{$vo.orders}" value="下移" />
					</td>
					<td width="4%"><a href="__URL__/edit/id/{$vo.id}">修改</a></td>
					<td width="5%"><a href="javaScript:void(0);" id="__URL__/doDel/id/{$vo.id}" class="delete">删除</a></td>
					<if condition="$vo.status eq 0"><td width="6%"><a href="javaScript:void(0);" id="__URL__/doPublic/id/{$vo.id}" class="public">出版</a></td></if>
					<if condition="$vo.status eq 1"><td width="6%"><a href="javaScript:void(0);" id="__URL__/doUnPublic/id/{$vo.id}" class="public">不出版</a></td></if>
				</tr>
			</iterate>
			<tr class="nobg">
				<td class="tdpage" colspan="6">{$multipage}</td>
			</tr>
		</table>
		</form>

		
	</div>
	
</div>
<include file="Public:sa-footer" />