<include file="Public:header" />
<script type="text/javascript">
$(document).ready(function(){
	var validator = $( '#theform' ).validate( {
		rules: {
			old_password: { required: true },
			new_password: { required: true },
			new_repassword: { required: true, equalTo: '#theform input[name=new_password]' }
		},
		messages: {
			old_password: { required: '現有密碼是必須' },
			new_password: { required: '新密碼是必須' },
			new_repassword: { required: '新密碼確認是必須', equalTo: '新密碼與新密碼確認必須相同' }
		},
		submitHandler: function()
		{
			$( '#theform' ).ajaxSubmit( {
				success: function ( response, status ) {
					var json = $.parseJSON( response );
					if ( json.success ) {
						alert( '更改成功' );
						location.reload();
					}
					else { validator.showErrors( { 'old_password': '現有密碼不正確' } ); }
				}
			} );
			return false;
		}
	} );
});
</script>
<div class="ot_d_body_content">
	<div id="ot_d_body_content_right">
		<form id="theform" action="__APP__" method="post">
		<input type="hidden" name="m" value="account" />
		<input type="hidden" name="a" value="do_change_password" />
        <div class="ot_d_nav"><input id="button" value="返回主頁" type="button" name="button" class="btn03" onclick="$( location ).attr( 'href', '__APP__/?m=main&a=index' );"/></div>
        <div class="ot_d_clearBoth"></div>
    	<table class="ot_t_add_edit_table">
            <tr>
                <td id="col01">*現有密碼:</td>
                <td id="col02"><input type="password" name="old_password" maxlength="30" size="40" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">*新密碼:</td>
                <td id="col02"><input type="password" name="new_password" maxlength="30" size="40" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">*新密碼確認:</td>
                <td id="col02"><input type="password" name="new_repassword" maxlength="30" size="40" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01"></td>
                <td id="col02">
                	<input id="submit" value="確定" type="submit" name="submit" class="btn01"/>
                    <input id="btnSubmit" value="重設" type="reset" name="btnSubmit" class="btn01"/>
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
        </table>
		</form>
    </div>
	<div class="ot_d_clearBoth"></div>
</div>
<include file="Public:footer" />