<include file="Public:header" />
<script type="text/javascript">
$(document).ready(function(){
	var validator = $( '#theform' ).validate( {
		rules: {
			o_company_name: { required: true },
			o_contact_person: { required: true },
			o_telephone: { required: true },
			o_position: { required: true }
		},
		messages: {
			o_company_name: { required: '商戶/集團名稱是必須' },
			o_contact_person: { required: '聯絡人是必須' },
			o_telephone: { required: '聯絡人電話是必須' },
			o_position: { required: '聯絡人職位是必須' }
		},
		submitHandler: function()
		{
			$( '#theform' ).ajaxSubmit( {
				success: function ( response, status ) {
					var json = $.parseJSON( response );
					if ( json.success ) {
						alert('更改成功');
						location.reload();
					}
				}
			} );
			return false;
		}
	} );
});
</script>

<div class="ot_d_body_content">
	<div id="ot_d_body_content_right">
		<form id="theform" action="__APP__" method="post">
		<input type="hidden" name="m" value="account" />
		<input type="hidden" name="a" value="do_edit" />
        <div class="ot_d_nav"><input id="button" value="返回主頁" type="button" name="button" class="btn03" onclick="$( location ).attr( 'href', '__APP__/?m=main&a=index' );"/></div>
        <div class="ot_d_clearBoth"></div>
    	<table class="ot_t_add_edit_table">
            <tr>
                <td id="col01">*商戶/集團名稱:</td>
                <td id="col02"><input type="text" name="o_company_name" value="<?= $owner['o_company_name'] ?>" maxlength="30" size="40" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">*聯絡人:</td>
                <td id="col02"><input type="text" name="o_contact_person" value="<?= $owner['o_contact_person'] ?>" maxlength="30" size="40" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">*聯絡人電話:</td>
                <td id="col02"><input type="text" name="o_telephone" value="<?= $owner['o_telephone'] ? $owner['o_telephone'] : null ?>" maxlength="30" size="40" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">*聯絡人職位:</td>
                <td id="col02"><input type="text" name="o_position" value="<?= $owner['o_position'] ?>" maxlength="30" size="40" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01"></td>
                <td id="col02">
                	<input id="submit" value="確定" type="submit" name="submit" class="btn01"/>
                    <input id="btnSubmit" value="重設" type="reset" name="btnSubmit" class="btn01"/>
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
        </table>
		</form>
    </div>
	<div class="ot_d_clearBoth"></div>
</div>

<include file="Public:footer" />