<include file="Public:header" />
<div class="content">
    <p class="header">
        <div><span class="title">類別 </span>{$eventInfo.category_names} </div>
        <div style="padding-bottom:3px"></div>
        <include file="Public:div_banner" />
    </p>
    <div class="title">{$eventInfo.name}</div>
	<table cellspacing="0" cellpadding="0">
		<tr><td class="label" >日期 :</td><td>{$eventInfo.date_range}</td></tr>
		<?php if ( $eventInfo['time_more'] ): ?><tr><td class="label" >活動詳情 :</td><td>{$eventInfo.time_more}</td></tr><?php endif; ?>
		<tr><td width="25%" class="label">地點 :</td><td>{$eventInfo.address}</td></tr>
		<tr><td class="label">地圖 :</td><td><a href="__ROOT__/event/view/map/1/event_id/{$eventInfo.event_id}">顯示地圖</a></td></tr>
		<?php if ( $eventInfo['creater_name'] ): ?><tr><td class="label" >主辦機構 :</td><td>{$eventInfo.creater_name}</td></tr><?php endif; ?>
		<?php if ( $eventInfo['telephone'] ): ?><tr><td class="label" >電話 :</td><td><a title="Call" href="tel:{$eventInfo.telephone}">{$eventInfo.telephone}</a></td></tr><?php endif; ?>
		<?php if ( $eventInfo['website'] ): ?><tr><td class="label" >網址 :</td><td><a href="{$eventInfo.website}">{$eventInfo.website}</a></td></tr><?php endif; ?>
		<?php if ( $eventInfo['price'] ): ?><tr><td class="label" >門票價格 :</td><td>{$eventInfo.price}</td></tr><?php endif; ?>
		<?php if ( $eventInfo['ticket_startdate'] ): ?><tr><td class="label" >何時售票 :</td><td>{$eventInfo.ticket_date}</td></tr><?php endif; ?>
		<?php if ( $eventInfo['ticket_phone'] ): ?><tr><td class="label" >售票電話 :</td><td><a title="Call" href="tel:{$eventInfo.ticket_phone}">{$eventInfo.ticket_phone}</a></td></tr><?php endif; ?>
		<?php if ( $eventInfo['ticket_website'] ): ?><tr><td class="label" >售票網址 :</td><td><a href="{$eventInfo.ticket_website}">{$eventInfo.ticket_website}</a></td></tr><?php endif; ?>
		<?php if ( $eventInfo['details'] ): ?><tr><td class="label" >簡介 :</td><td>{$eventInfo.details}</td></tr><?php endif; ?>
	</table>
	<br/>
	<img src="http://maps.google.hk/maps/api/staticmap?size=300x300&maptype=roadmap&markers=icon:http://outstreet.com.hk/Public/images/backgrounds/google_map_profile.png%7C{$eventInfo.googlemap_lat},{$eventInfo.googlemap_lng}&sensor=false" width="300" height="300" />
	<br />

    <a href="#top">返回最上</a><img src="__PUBLIC__/images/arrow_up.gif" alt="返回最上" /><br />
</div>
<include file="Public:footer" />