<include file="Public:header" />
<script type="text/javascript">
$(document).ready(function(){
	$('#search_form').change(function(){
		$('#search_form').submit();
	});
});
function adv_search(){
	var category_id = $('#category_id').val();
	var location_id = $('#location_id').val();
	if(!category_id){
		category_id="{$category_id}";
	}
	if(!location_id){
		location_id="{$location_id}";
	}
	window.location="__ROOT__/event/searchform/category_id/"+category_id+"/location_id/"+location_id;
}
</script>
<div class="content">
    <p class="header">

		<form id="search_form" action="__ROOT__/event/search" method="Get">
		<table cellspacing="0" cellpadding="2">
		<if condition="$query">
			<tr>
				<td class="label">關鍵字:</td>
				<td><input class="input" name="query" type="text" size="14" value="{$query}" /></td>
			</tr>
		</if>
		<tr>
			<td class="label">類別:</td>
			<td>
				<select style="width:140px;" name="category_id" id="category_id">
					<option value="">選擇類別</option>
					<if condition="!empty($category_id)"><option value="{$request_cate_Info.id}" <?php echo $request_cate_Info['id'] == $request_cate_Info['id'] ? 'selected' : '' ?>>{$request_cate_Info.name}</option></if>
					<iterate name="categoryList" id="vo">
					<option value="{$vo.id}" <?php echo $category_id == $vo['id'] ? 'selected' : '' ?>>--{$vo.name}</option>
					</iterate>
				</select>
			</td>
		</tr>
		<if condition="$timediff">
		<tr>
			<td class="label">日期:</td>
			<td>
				<input type="radio" name="timediff" <if condition="$timediff eq 'today'">checked</if> value="today"/>今天
				<input type="radio" name="timediff" <if condition="$timediff eq 'tomorrow'">checked</if> value="tomorrow"/>明天
				<input type="radio" name="timediff" <if condition="$timediff eq 'week'">checked</if> value="week"/>本週
				<input type="radio" name="timediff" <if condition="$timediff eq 'weekend'">checked</if> value="weekend"/>本週末
				<input type="radio" name="timediff" <if condition="$timediff eq 'month'">checked</if> value="month"/>本月
			</td>
		</tr>
		</if>
		<tr>
			<td class="label">地區:</td>
			<td>
				<select style="width:140px;" name="location_id" id="location_id">
					<option value="">選擇地區</option>
					<?php $j=0; ?>
					<iterate name="main_location_list" id="vo">
					<option value="main_{$vo.id}" <?php echo $main_location_id == $vo['id'] ? 'selected' : '' ?>>{$vo.name}</option>
						<iterate name="sub_location_list[$j]" id="vo2">
						<option value="sub_{$vo2.id}" <?php echo in_array( $vo2['id'], $sub_location_ids ) ? 'selected' : '' ?>>--{$vo2.name}</option>
						</iterate>
						<?php $j++; ?>
					</iterate>
				</select>
			</td>
		</tr>
		</table>
		</form>

		<div class="title"><a href="__ROOT__/event/searchform">>> 進階搜尋 </a></div>

        <div style="padding-bottom:3px"></div>
        <include file="Public:div_banner" />

    </p>
	<?php if ( $result_count ): ?>
		<p>
			<?php if ( $result_count < 5 ): ?>
					第 1 至 <?php echo $result_count ?> 個
				<?php elseif ( $result_count > 5 ): ?>
					第 <?php echo ($page-1)*$result_per_page > 0 ? ($page-1)*$result_per_page : 1 ?> 至 <?php echo $page*$result_per_page < $result_count ? $page*$result_per_page : $result_count ?> 個
			<?php endif; ?>
			(共 <?php echo $result_count ?> 個節目)
			<br />
			{$page|pagenation=$totalpage,###}
		</p>

		<iterate name="eventList" id="vo">
		<table cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="2"><b><a href="__ROOT__/event/view/event_id/{$vo.event_id}" class="title">{$vo.name}</a></b></td>
		</tr>
		<tr>
			<td class="label">日期 :</td>
			<td>{$vo.date_range}</td>
		</tr>
		<tr>
			<td class="label">類別 :</td>
			<td><a href="__ROOT__/event/search/category_id/{$vo.cate_id}">{$vo.category_names}</a></td>
		</tr>
		<tr>
			<td class="label">主辦機構 :</td>
			<td>{$vo.creater_name}</td>
		</tr>
		<tr>
			<td class="label">簡介 :</td>
			<td>{$vo.details|formatInfoUTF8=30}</td>
		</tr>
		</table>
		<br/>
		</iterate>

		<p>
			<?php if ( $result_count < 5 ): ?>
					第 1 至 <?php echo $result_count ?> 個
				<?php elseif ( $result_count > 5 ): ?>
					第 <?php echo ($page-1)*$result_per_page > 0 ? ($page-1)*$result_per_page : 1 ?> 至 <?php echo $page*$result_per_page < $result_count ? $page*$result_per_page : $result_count ?> 個
			<?php endif; ?>
			(共 <?php echo $result_count ?> 個節目)
			<br />
			{$page|pagenation=$totalpage,###}
		</p>
	<?php else: ?>
		<p>沒有相關節目</p>
	<?php endif; ?>
	<br /><br />

    <a href="#top">返回最上</a><img src="__PUBLIC__/images/arrow_up.gif" alt="返回最上" /><br />
</div>
<include file="Public:footer" />