<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s05.css" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.MetaData.js" /> 
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.css" /> 
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.pack.js" /> 

<script type="text/javascript">
	$().ready(function(){
		$('.ot_menu_sec05 a').toggleClass('current');
		$('#opt_shop').attr('selected',false);
		$('#opt_event').attr('selected',false);
		$('#opt_review').attr('selected',true);
		$('#searchtype').trigger( 'change' );

		$('#start_date,#end_date').datepick({onSelect: customRange,dateFormat:'yy-mm-dd'});

		function customRange(dates) {
			if (this.id == 'start_date') { 
				$('#end_date').datepick('option', 'minDate', dates[0] || null); 
			}else{ 
				$('#start_date').datepick('option', 'maxDate', dates[0] || null); 
			} 
		}
	});
</script>

<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
		<div class="breadcrumb">
			<a href="__ROOT__/">主頁</a> > <a href="__ROOT__/review/index/search_shop/true/search_event/true/">評介</a>
		</div>
		<div id="review-search-box" class="left-box">
			<div class="header">
				<h3>搜尋</h3>
				<div class="clearBoth"></div>
			</div>
			<div class="content">
				<form id="frmReviewSearch" action="__URL__" method="get">
					<label><input name="search_shop" value="true" type="checkbox" <if condition="$_REQUEST['search_shop'] eq true" >checked="true"</if>/>商戶</label>
					<label><input name="search_event" value="true" type="checkbox" <if condition="$_REQUEST['search_event'] eq true" >checked="true"</if>/>節目</label>
                    <label><input name="search_promo" value="true" type="checkbox" <if condition="$_REQUEST['search_promo'] eq true" >checked="true"</if>/>優惠</label>
					刊登日期
					<input type="text" name="start_date" id="start_date" <if condition="!empty($_REQUEST['start_date'])">value="{$_REQUEST['start_date']}"</if> class="date-input" />
					至 
					<input type="text" name="end_date" id="end_date" <if condition="!empty($_REQUEST['end_date'])">value="{$_REQUEST['end_date']}"</if> class="date-input" />
					<br />
					<label>評家<input type="text" class="merchant-input" name="search_user" value="{.search_user}" /></label>
					<label>我的心水評家<input name="favorite_user" type="checkbox" value="true" <if condition="$_REQUEST['favorite_user'] eq true" >checked="true"</if>/></label>
					<label>關鍵字<input type="text" class="keyword-input" name="keyword" value="{.keyword}" onchange="this.value = this.value.replace(/\//gi, '');" /></label>
					<input type="submit" class="search-button" value="" />
				</form>
			</div>
			<div class="footer"></div>
		</div>
		<div id="ot_d_newest-reviews4_box" class="left-box">
			<div class="ot_d_header">
				<h3>最新評介</h3>
				<div class="ot_d_clearBoth"></div>
			</div>
			<div id="paging-box">
				<div class="content">
					<div class="paging">{$multiPage}</div>
				</div>
			</div>
			<div class="ot_d_content">
				<ul>
					<if condition="empty($reviewList)">
						<li class="ot_t_keywordspadding">
                        對不起！我們暫時找不到符合你搜索條件的評介。<br />
                        你是否在搜尋關於<span class="ot_d_notfindkeywords">{.keyword}</span> 的 <a href="__ROOT__/shop/search/searchterms/{.keyword}/">商戶</a> 、<a href="__ROOT__/event/search/searchterms/{.keyword}/">節目</a> 或 <a href="__ROOT__/promotion/">優惠</a>？<br /><br />
            
                        若你在搜尋關於 <span class="ot_d_notfindkeywords">"{.keyword}"</span> 的活動，請你嘗試以下方法：<br />
                        - 更改關鍵字<br />
                        - 轉換中/英文輸入<br /><br />
                        
                        若你仍然找不到此評介，請你 <a href="mailto:info@outstreet.com.hk">直接聯絡我們</a> 。謝謝！
                        </li>
					</if>
					<iterate name="reviewList" id="vo">
                    <li>
                        <div class="ot_d_show_image">
                            <switch name="vo.for_type">
                                <case value="event">
                                    <a href="__APP__/event/view/id/{$vo.event.id}/reviewid/{$vo.id}"><img src="{$vo.event|getFirstPicture='event','thumb'}" onload="javascript:DrawImage(this,95,95)" class="ot_t_showspic_frame"></a>
                                </case>
                                <case value="promotion">
                                    <a href="__APP__/Promotion/view/id/{$vo.promotion.id}/reviewid/{$vo.id}">{$vo.promotion|rtnPromotionImg='ot_t_showspic_frame',95,95}</a>
                                </case>
                                <default/>
                                    <a href="__APP__/Shop/view/id/{$vo.shop.id}/reviewid/{$vo.id}"><img src="{$vo.shop|getFirstPicture='shop','thumb'}" onload="javascript:DrawImage(this,95,95)" class="ot_t_showspic_frame"></a>
                            </switch>
                        </div>
                        <div class="ot_d_show_info">
                            <div>
                            	<div class="ot_d_show_details">
                                    <div class="ot_d_review_title">
                                   		<eq name="vo.for_type" value="shop"><a href="__APP__/Shop/view/id/{$vo.shop.id}/reviewid/{$vo.id}">{$vo.title}</a></eq>
										<eq name="vo.for_type" value="event"><a href="__APP__/Event/view/id/{$vo.event.id}/reviewid/{$vo.id}">{$vo.title}</a></eq>
                                        <eq name="vo.for_type" value="promotion"><a href="__APP__/Promotion/view/id/{$vo.promotion.id}/reviewid/{$vo.id}">{$vo.title}</a></eq>
									</div>
                                    <div class="ot_d_review_target_icon"><div class="ot_d_review_target_pos">
                                    <switch name="vo.for_type">
                                        <case value="event">
                                            <a href="__ROOT__/event/view/id/{$vo.event.id}" class="ot_o_review_target">{$vo.event.name|formatInfo=20}[節目]</a>
                                        </case>
                                        <case value="promotion">
                                            <a href="__ROOT__/promotion/view/id/{$vo.promotion.id}" class="ot_o_review_target">{$vo.promotion.name|formatInfo=20}[優惠]</a>
                                        </case>
                                        <default/>
                                            <?php $shopName = formatShopName($vo['shop']['name'], $vo['shop']['eng_name']); ?>
                                            <a href="__ROOT__/shop/view/id/{$vo.shop.id}" class="ot_o_review_target">{$shopName|formatInfo=20}[商戶]</a>
                                    </switch>
                                    </div></div>
                                    <div class="ot_d_review_catemain">
                                    <switch name="vo.for_type">
                                        <case value="event">
                                            <a href="{$vo.event.cate|formatEventCateLink}" class="ot_o_review_catelink">{$vo.event.cate.name}</a>
                                        </case>
                                        <case value="promotion">
                                        </case>
                                        <default/>
                                         <div class="ot_o_review_catelink">{$vo.shop.sub_cates|formatCategory=10}</div>
                                    </switch>
                                    </div>
                                </div>
                                <if condition="$vo.for_type eq 'shop'">
                                    <div class="ot_d_star">
                                        <div class="ot_d_star_pos">
                                            <input type="radio" id="total_rate_level_1_{$vo.id}" name="rate_level_{$vo.id}" disabled="disabled" value="1" class="star" />
                                            <input type="radio" id="total_rate_level_2_{$vo.id}" name="rate_level_{$vo.id}" disabled="disabled" value="2" class="star" />
                                            <input type="radio" id="total_rate_level_3_{$vo.id}" name="rate_level_{$vo.id}" disabled="disabled" value="3" class="star" />
                                            <input type="radio" id="total_rate_level_4_{$vo.id}" name="rate_level_{$vo.id}" disabled="disabled" value="4" class="star" />
                                            <input type="radio" id="total_rate_level_5_{$vo.id}" name="rate_level_{$vo.id}" disabled="disabled" value="5" class="star" /> 
                                            <script type="text/javascript">
												$('#total_rate_level_<?=round($vo['rate']['rate_1']); ?>_{$vo.id}').attr('checked',true);
											</script>
                                        </div>
                                    </div>
                                </if>
                            </div>
                            <div class="ot_d_review_text">
                            {$vo.description|formatInfo=50}
								<eq name="vo.for_type" value="shop"><a href="__APP__/Shop/view/id/{$vo.shop.id}/reviewid/{$vo.id}">(詳情)</a></eq>
								<eq name="vo.for_type" value="event"><a href="__APP__/Event/view/id/{$vo.event.id}/reviewid/{$vo.id}">(詳情)</a></eq>
                                <eq name="vo.for_type" value="promotion"><a href="__APP__/Promotion/view/id/{$vo.promotion.id}/reviewid/{$vo.id}">(詳情)</a></eq>
                            </div>
                            <div class="ot_d_review_text"><a href="__ROOT__/user/view/id/{$vo.user_id}">{$vo.user.nick_name}</a>&nbsp;&nbsp;|&nbsp;&nbsp; {$vo.create_time|date=chDate(3),###}({$vo.create_time|date='w',###|week2ch})</div>                             
                            <div class="ot_d_review_facebook">
                            	<switch name="vo.for_type">
                                    <case value="event">
                                        {$vo.event.id|fbBtn='event',3,$authInfo['nick_name'],$vo['id']}
                                    </case>
                                    <case value="promotion">
                                        {$vo.promotion.id|fbBtn='promotion',3,$authInfo['nick_name'],$vo['id']}
                                    </case>
                                    <default/>
                                        {$vo.shop.id|fbBtn='shop',3,$authInfo['nick_name'],$vo['id']}
                                </switch>
                            </div>
                        </div>
                        <div class="ot_d_clearBoth"></div>
                    </li>
					</iterate>
				</ul>
	    	</div>
			<div id="paging-box">
				<div class="content">
					<div class="paging">{$multiPage}</div>
				</div>
			</div>
		</div>
		<div class="clearBoth"></div>	
	</div>
	<div class="ot_d_body_content_right">
		<include file="Public:div-weather" />
        <include file="Public:div-btn_facebook" />
	</div>
	<div class="clearBoth"></div>
</div>

<include file="Public:footer" />