<table width="750px" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="width:180px;height:67px;"><a href="http://www.outstreet.com.hk" target="_blank"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/logo.jpg" border="0"/></a></td>
    <td style="width:570px;height:67px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weekend.jpg" /></td>
  </tr>
  <tr>
    <td colspan="2" style="padding:12px;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="3"><p style="font-size:12px;text-align:right;color:#333;margin: 0px 0px 12px 0px;"><?php echo date("d/m/Y"); ?></p></td>
          </tr>
          <tr>
            <td style="width:414px;vertical-align:top;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#e0e0e0;border:1px solid #e0e0e0;">
                  <tr>
                    <td style="background-color:#e0e0e0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/article.jpg" alt="" /></td>
                        <td><p style="text-align:right;vertical-align:middle;margin: 0px 8px 0px 0px;"><a href="http://www.outstreet.com.hk/poster/listAll/"  target="_blank" style="font-size:12px;text-decoration:none;color:#333333;"><?php echo iconv("utf-8","big5","更多"); ?></a></p></td>
                      </tr>
                    </table></td>
                    </tr>
                  <tr>
                    <td style="width:580px;background-color:#FFF;vertical-align:top;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="width:160px;height:120px;vertical-align:top;">
                            	<a href="http://www.outstreet.com.hk/poster/view/posterid/{$poster['id']}" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/uploadimages/outstreetpromo/{$poster['banner_path']}" width="160" height="120" border="0"/></a></td>
                            <td style="vertical-align:top;">
                            	<a href="http://www.outstreet.com.hk/poster/view/posterid/{$poster['id']}" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          		<p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">{$poster['title']|iconv="UTF-8","big5",###}</p>
                          		<!-- <p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;"><font color="#660000">免費入場</font><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line2.jpg" border="0"/>星期五、星期六、星期日</p>-->
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">{$poster['lead']|iconv="UTF-8","big5",###}</p></a>
                            </td>
                          </tr>
                        </table></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td style="height:12px;"></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e0e0e0;background-color:#e0e0e0;">
                  <tr>
                    <td style="background-color:#e0e0e0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/event.jpg" alt="" /></td>
                        <td><p style="text-align:right;vertical-align:middle;margin: 0px 8px 0px 0px;"><a href="http://www.outstreet.com.hk/event" target="_blank" style="font-size:12px;text-decoration:none;color:#333333;"><?php echo iconv("utf-8","big5","更多"); ?></a></p></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td style="background-color:#FFF;vertical-align:top;padding: 0px 8px 8px 8px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="width:80px;height:80px;vertical-align:top;">
                            	<a href="http://www.outstreet.com.hk/event/view/id/{$event_1['id']}" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><if condition="$event_1['pictures']"><img src="http://www.outstreet.com.hk/Public/uploadimages/event/thumb_{$event_1['pictures'][0]['file_path']}" width="80" height="60" border="0"/><else /><img src="http://outstreet.com.hk/Public/images/thumb_nopic.jpg" width="80" height="60" border="0"/></if></a></td>
                            <td style="vertical-align:top;">
                            	<a href="http://www.outstreet.com.hk/event/view/id/{$event_1['id']}" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          		<p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">{$event_1['name']|iconv="UTF-8","big5",###}</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;"><if condition="$event_1['ticket_required'] eq '0'"><font color="#660000">免費入場<img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line2.jpg" border="0"/></if></font>{$event_1.date|iconv="UTF-8","big5",###}</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">{$event_1['details']|iconv="UTF-8","big5",###}</p></a>
                            </td>
                          </tr>
                        </table>
                  		<p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="82" style="width:80px;height:80px;vertical-align:top;">
                            	<a href="http://www.outstreet.com.hk/event/view/id/{$event_2['id']}" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><if condition="$event_2['pictures']"><img src="http://www.outstreet.com.hk/Public/uploadimages/event/thumb_{$event_2['pictures'][0]['file_path']}" width="80" height="60" border="0"/><else /><img src="http://outstreet.com.hk/Public/images/thumb_nopic.jpg" width="80" height="60" border="0"/></if></a></td>
                            <td width="314" style="vertical-align:top;">
                            	<a href="http://www.outstreet.com.hk/event/view/id/{$event_2['id']}" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          		<p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">{$event_2['name']|iconv="UTF-8","big5",###}</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;"><if condition="$event_2['ticket_required'] eq '0'"><font color="#660000">免費入場</font><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line2.jpg" border="0"/></if>{$event_2.date|iconv="UTF-8","big5",###}</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">{$event_2['details']|iconv="UTF-8","big5",###}</p></a>
                            </td>
                          </tr>
                        </table>
                    	<p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="width:80px;height:80px;vertical-align:top;">
                            	<a href="http://www.outstreet.com.hk/event/view/id/{$event_3['id']}" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><if condition="$event_3['pictures']"><img src="http://www.outstreet.com.hk/Public/uploadimages/event/thumb_{$event_3['pictures'][0]['file_path']}" width="80" height="60" border="0"/><else /><img src="http://outstreet.com.hk/Public/images/thumb_nopic.jpg" width="80" height="60" border="0"/></if></a></td>
                            <td style="vertical-align:top;">
                            	<a href="http://www.outstreet.com.hk/event/view/id/{$event_3['id']}" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          		<p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">{$event_3['name']|iconv="UTF-8","big5",###}</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;"><if condition="$event_3['ticket_required'] eq '0'"><font color="#660000">免費入場</font><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line2.jpg" border="0"/></if>{$event_3.date|iconv="UTF-8","big5",###}</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">{$event_3['details']|iconv="UTF-8","big5",###}</p></a>
                            </td>
                          </tr>
                        </table>
                        <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="width:80px;height:80px;vertical-align:top;">
                            	<a href="http://www.outstreet.com.hk/event/view/id/{$event_4['id']}" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><if condition="$event_4['pictures']"><img src="http://www.outstreet.com.hk/Public/uploadimages/event/thumb_{$event_4['pictures'][0]['file_path']}" width="80" height="60" border="0"/><else /><img src="http://outstreet.com.hk/Public/images/thumb_nopic.jpg" width="80" height="60" border="0"/></if></a></td>
                            <td style="vertical-align:top;">
                            	<a href="http://www.outstreet.com.hk/event/view/id/{$event_4['id']}" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          		<p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">{$event_4['name']|iconv="UTF-8","big5",###}</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;"><if condition="$event_4['ticket_required'] eq '0'"><font color="#660000">免費入場</font><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line2.jpg" border="0"/></if>{$event_4.date|iconv="UTF-8","big5",###}</p>
                          		<p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">{$event_4['details']|iconv="UTF-8","big5",###}</p></a>
                            </td>
                          </tr>
                        </table>
                    </td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td style="height:12px;"></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e0e0e0;background-color:#e0e0e0;">
                  <tr>
                    <td style="background-color:#e0e0e0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/specialoffer.jpg" alt="" /></td>
                        <td><p style="text-align:right;vertical-align:middle;margin: 0px 8px 0px 0px;"><a href="http://www.outstreet.com.hk/offer" target="_blank" style="font-size:12px;text-decoration:none;color:#333333;"><?php echo iconv("utf-8","big5","更多"); ?></a></p></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td style="background-color:#FFF;vertical-align:top;padding: 0px 8px 8px 8px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="width:80px;height:80px;vertical-align:top;"><a href="http://www.outstreet.com.hk/index.php/promotion/view/id/{$promotion_1['id']}" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><if condition="$promotion_1['small_pic_filename']"><img src="http://www.outstreet.com.hk/Public/uploadimages/promotion/{$promotion_1['small_pic_filename']}" width="80" height="60" border="0"/><else /><if condition="$promotion_1['type1'] neq 0"><img src="http://www.outstreet.com.hk/Public/images/promotion/promotion_def_bigsale.jpg" width="80" height="60" border="0"/></if><if condition="$promotion_1['type2'] neq 0"><img src="http://www.outstreet.com.hk/Public/images/promotion/promotion_def_coupon.jpg" width="80" height="60" border="0"/></if></if></a></td>
                        <td style="vertical-align:top;"><a href="http://www.outstreet.com.hk/index.php/promotion/view/id/{$promotion_1['id']}" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          <p style="font-size:13px;font-weight:bold;color:#003300;margin: 0px 0px 1px 0px;">{$promotion_1['name']|iconv="UTF-8","big5",###}</p>
                          <p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">{$promotion_1['shops'][0]['name']|utf8conv2charset}</p>
                          </a></td>
                      </tr>
                    </table>
                      <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="82" style="width:80px;height:80px;vertical-align:top;"><a href="http://www.outstreet.com.hk/index.php/promotion/view/id/{$promotion_2['id']}" target="_blank" style="display: block;padding: 8px 0px 0px 0px;">
                          <if condition="$promotion_2['small_pic_filename']"><img src="http://www.outstreet.com.hk/Public/uploadimages/promotion/{$promotion_2['small_pic_filename']}" width="80" height="60" border="0"/>
                          <else />
                          	<if condition="$promotion_2['type1'] neq 0"><img src="http://www.outstreet.com.hk/Public/images/promotion/promotion_def_bigsale.jpg" width="80" height="60" border="0"/>
                            </if>
                            <if condition="$promotion_2['type2'] neq 0"><img src="http://www.outstreet.com.hk/Public/images/promotion/promotion_def_coupon.jpg" width="80" height="60" border="0"/>
                            </if>
                          </if></a></td>
                          <td width="314" style="vertical-align:top;"><a href="http://www.outstreet.com.hk/index.php/promotion/view/id/{$promotion_2['id']}" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          <p style="font-size:13px;font-weight:bold;color:#003300;margin: 0px 0px 1px 0px;">{$promotion_2['name']|iconv="UTF-8","big5",###}</p>
                          <p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">{$promotion_2['shops'][0]['name']|iconv="UTF-8","big5",###}</p>
                          </a></td>
                        </tr>
                      </table>
                      <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="width:80px;height:80px;vertical-align:top;"><a href="http://www.outstreet.com.hk/index.php/promotion/view/id/{$promotion_3['id']}" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><if condition="$promotion_3['small_pic_filename']"><img src="http://www.outstreet.com.hk/Public/uploadimages/promotion/{$promotion_3['small_pic_filename']}" width="80" height="60" border="0"/>
                          <else />
                          	<if condition="$promotion_3['type1'] neq 0"><img src="http://www.outstreet.com.hk/Public/images/promotion/promotion_def_bigsale.jpg" width="80" height="60" border="0"/>
                            </if>
                            <if condition="$promotion_3['type2'] neq 0"><img src="http://www.outstreet.com.hk/Public/images/promotion/promotion_def_coupon.jpg" width="80" height="60" border="0"/>
                            </if>
                          </if></a></td>
                          <td style="vertical-align:top;"><a href="http://www.outstreet.com.hk/index.php/promotion/view/id/{$promotion_3['id']}" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          <p style="font-size:13px;font-weight:bold;color:#003300;margin: 0px 0px 1px 0px;">{$promotion_3['name']|iconv="UTF-8","big5",###}</p>
                          <p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">{$promotion_3['shops'][0]['name']|iconv="UTF-8","big5",###}</p>
                          </a></td>
                        </tr>
                      </table>
                      <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="width:80px;height:80px;vertical-align:top;"><a href="http://www.outstreet.com.hk/index.php/promotion/view/id/{$promotion_4['id']}" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><if condition="$promotion_4['small_pic_filename']"><img src="http://www.outstreet.com.hk/Public/uploadimages/promotion/{$promotion_4['small_pic_filename']}" width="80" height="60" border="0"/>
                          <else />
                          	<if condition="$promotion_4['type1'] neq 0"><img src="http://www.outstreet.com.hk/Public/images/promotion/promotion_def_bigsale.jpg" width="80" height="60" border="0"/>
                            </if>
                            <if condition="$promotion_4['type2'] neq 0"><img src="http://www.outstreet.com.hk/Public/images/promotion/promotion_def_coupon.jpg" width="80" height="60" border="0"/>
                            </if>
                          </if></a></td>
                          <td style="vertical-align:top;"><a href="http://www.outstreet.com.hk/index.php/promotion/view/id/{$promotion_4['id']}" target="_blank" style="text-decoration:none;display: block;padding: 8px 0px 0px 8px;">
                          <p style="font-size:13px;font-weight:bold;color:#003300;margin: 0px 0px 1px 0px;">{$promotion_4['name']|iconv="UTF-8","big5",###}</p>
                          <p style="font-size:13px;font-weight:bold;color:#2155b5;margin: 0px 0px 1px 0px;">{$promotion_4['shops'][0]['name']|iconv="UTF-8","big5",###}</p>
                          </a></td>
                        </tr>
                      </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td style="width:12px;">&nbsp;</td>
            <td style="width:300px;vertical-align:top;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e0e0e0;background-color:#e0e0e0;">
                  <tr>
                    <td style="background-color:#e0e0e0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/weather.jpg" alt="" /></td>
                        <td><p style="text-align:right;vertical-align:middle;margin: 0px 8px 0px 0px;"><a href="http://www.outstreet.com.hk/info" target="_blank" style="font-size:12px;text-decoration:none;color:#333333;"><?php echo iconv("utf-8","big5","更多"); ?></a></p></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td style="background-color:#FFF;padding: 0px 8px 8px 8px;">
                    	<iterate name="weatherList" id="vo">
                    		<p style="margin: 6px 0px 0px 0px;"><font style="font-weight:bold"><div style="float:left;padding:2px;"><img src="http://www.hko.gov.hk/images/wxicon/{$vo.weather_icon}">&nbsp;</div><div style="color:#333333;font-size:13px;padding:0px;float:none">{$vo.date|strtotime|date='d/m',###} ({$vo.date|strtotime|date='w',###|week2ch|iconv="UTF-8","big5",###})</font><font style="color:#000065;padding-left:15px;">{$vo['temp_description'][0]}&deg;C</font> - <font style="color:#e54600;">{$vo['temp_description'][1]}&deg;C</font><font style="padding-left:15px;">{$vo.rh_range|iconv="UTF-8","big5",###|str_replace='至','% - ',###}%</font><font style="padding-left:15px;">&nbsp;</font></p>
                       	 <p style="font-size:13px;color:#333333;margin: 0px 0px 1px 0px;">{$vo.weather_description|iconv="UTF-8","big5",###}</p>
                        <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p></p>
                        </iterate>                    	
                    </td>
                  </tr>
                </table></td>
              </tr>
              
              <!--<tr>
                <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e0e0e0;background-color:#e0e0e0;">
                  <tr>
                    <td style="background-color:#e0e0e0;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/news.jpg" alt="" /></td>
                  </tr>
                  <tr>
                    <td style="background-color:#FFF;padding: 0px 8px 8px 8px;"><iterate name="newsList" id="vo"><p style="font-size:13px;color:#333333;margin: 6px 0px 0px 0px;">{$vo.create_time|date=chDate(3),###}({$vo.create_time|date='w',###|week2ch|iconv="UTF-8","big5",###}) {$vo['description']|iconv="UTF-8","big5",###} <if condition="$vo['url'] neq ''"><a href="{$vo['url']}">(詳情)</a></if> </p>
                    <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p></iterate>
                    </td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td style="height:12px;"></td>
              </tr>-->
              <tr>
                <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e0e0e0;background-color:#e0e0e0;">
                  <tr>
                    <td style="background-color:#e0e0e0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/review.jpg" alt="" /></td>
                        <td><p style="text-align:right;vertical-align:middle;margin: 0px 8px 0px 0px;"><a href="http://www.outstreet.com.hk/review/index/search_shop/true/search_event/true/search_promo/true/" target="_blank" style="font-size:12px;text-decoration:none;color:#333333;"><?php echo iconv("utf-8","big5","更多"); ?></a></p></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td style="background-color:#FFF;vertical-align:top;padding: 0px 8px 8px 8px;">
                    <iterate name="review_" id="vo">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="width:80px;height:80px;vertical-align:top;">
                        	<switch name="vo.for_type">
                                 <case value="event">
                                    <a href="__ROOT__/event/view/id/{$vo.event.id}" target="_blank" style="display:block;padding: 8px 0px 0px 0px;"><img src="{$vo.event|getFirstPicture='event','thumb'}" border="0" width="80" height="60"></a>
                                 </case>
                                 <case value="promotion">
                                    <a href="__ROOT__/promotion/view/id/{$vo.promotion.id}" target="_blank" style="display: block;padding: 8px 0px 0px 0px;">{$vo.promotion|rtnPromotionImg='',80,60}</a>
                                 </case>
                                 <default/>
                                 	<a href="__ROOT__/shop/view/id/{$vo.shop.id}" target="_blank" style="display: block;padding: 8px 0px 0px 0px;"><img src="{$vo.shop|getFirstPicture='shop','thumb'}" border="0" width="80" height="60"></a>
                            </switch>
                        </td>
                        <td style="vertical-align:top;padding:8px 6px 0px 6px;">                        
                          <p style="font-size:13px;color:#333;margin: 0px 0px 1px 0px;">
                          <font color="#2155b5">
                          <a href="__ROOT__/user/view/id/{$vo.user.id}">
                          	{$vo.user.nick_name|formatInfo=15|iconv="UTF-8","big5",###}
                          </a>
                          </font>
                           對
                          <switch name="vo.for_type">
                          	<case value="event">
                            <a href="__ROOT__/event/view/id/{$vo.event.id}"><font color="#2155b5" style="font-weight:bold;">{$vo.event.name|formatInfo=12|iconv="UTF-8","big5",###}</font></a>
                            </case>
                            <case value="promotion">
                            <a href="__ROOT__/promotion/view/id/{$vo.promotion.id}"><font color="#2155b5" style="font-weight:bold;">{$vo.promotion.name|formatInfo=12|iconv="UTF-8","big5",###}</font></a>
                            </case>
                            <default/>
                            <a href="__ROOT__/shop/view/id/{$vo.shop.id}"><font color="#2155b5" style="font-weight:bold;">{$vo.shop.name|formatInfo=12|iconv="UTF-8","big5",###}</font></a>               
                          </switch>
                          的評介：{$vo.content|iconv="UTF-8","big5",###}
                          </p>                        
                        </td>
                      </tr>
                    </table>
                    <p style="margin: 6px 0px 0px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/line.jpg" width="100%" height="1"/></p>
                    </iterate>                      
                    </td>
                  </tr>
                </table>
                </td>
              </tr>
              <tr>
                <td style="height:12px;"></td>
              </tr>
             <!--  -->
            </table></td>
          </tr>
          <tr>
           <td colspan="3" style="height:12px;"></td>
          </tr>          
          <tr>
            <td colspan="3" style="height:12px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e0e0e0;background-color:#e0e0e0;">
              <tr>
                <td style="background-color:#FFF;text-align:center;padding:1px;">
                	<p style="margin: 0px 0px 1px 0px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/3icons.gif" width="100%" height="70" border="0" usemap="#Map"/></p>
                    <p style="font-size:13px;font-weight:bold;color:#525148;background-color:#e0ddca;margin: 0px;padding: 8px 0px;">歡迎登入<a href="http://www.outstreet.com.hk">OutStreet.com.hk</a>，搜尋香港最新最多元化的出街資訊， 隨時分享你的出街心得！</p>
                    <map name="Map" id="Map">
                      <area shape="rect" coords="5,4,235,67" href="http://www.outstreet.com.hk/guide" target="_blank"/>
                      <area shape="rect" coords="238,5,478,68" href="http://www.outstreet.com.hk/event" target="_blank"/>
                      <area shape="rect" coords="481,4,718,66" href="http://www.outstreet.com.hk/review/index/search_shop/true/search_event/true/search_promo/true/" target="_blank"/>
                    </map>                    
                </td>
              </tr>
            </table></td>
          </tr>
          <tr>
           <td colspan="3" style="height:12px;"></td>
          </tr>
          <tr>
            <td colspan="3" style="height:12px;text-align:center;"><p style="font-size:12px;color:#333333;margin: 0px 0px 1px 0px;">OutStreet&copy; 2009</p><p style="font-size:12px;color:#333333;margin: 0px 0px 1px 0px;"><?php echo iconv("utf-8","big5","版權所有 不得轉載"); ?></p>
            </td>
          </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="width:750px;height:13px;"><img src="http://www.outstreet.com.hk/Public/images/eimg/edm/footer.jpg" /></td>
  </tr>
  <tr>
    <td colspan="2" style="width:750px;"><p align="center" style="font-size:12px;color:#333333;margin: 8px 0px;">如不想收到OutStreet之最新情報及推廣電郵，請<a href="##link##" style="color:#2155b5;">按此</a>取消</p></td>
  </tr>
</table>
