<include file="Public:sa-header" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

	geocoder = new google.maps.Geocoder();
	map = {};
	marker = {};
	myOptions = {
		zoom: 10,
		center: new google.maps.LatLng(22.35, 114.1),
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}

	function initialize(shopid)
	{
		map[shopid] = new google.maps.Map(document.getElementById('map_canvas_'+shopid),myOptions);
		marker[shopid] = new google.maps.Marker({ draggable: true, map: map[shopid], position: new google.maps.LatLng(22.35, 114.1) });
		setPosition(shopid);
		google.maps.event.addListener( marker[shopid], 'dragend', function() { 
			map[shopid].setCenter(marker[shopid].getPosition());
			$('#googlemap_lat_'+shopid).val(marker[shopid].getPosition().lat());
			$('#googlemap_lng_'+shopid).val(marker[shopid].getPosition().lng());
		});
	}

	function codeAddress(shopid) {
		var address = $('#address_'+shopid).val();
		geocoder.geocode( { 'address': address}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				map[shopid].setCenter(results[0].geometry.location);
				map[shopid].setZoom(17);
				marker[shopid].setPosition( results[0].geometry.location );
				latlng = results[0].geometry.location;
				$('#googlemap_lat_'+shopid).val(latlng.lat());
				$('#googlemap_lng_'+shopid).val(latlng.lng());
			}
		});
	}

	function setPosition(shopid) {
		if ( $('#googlemap_lat_'+shopid).val() && $('#googlemap_lng_'+shopid).val() )
		{
			marker[shopid].setPosition( new google.maps.LatLng($('#googlemap_lat_'+shopid).val(), $('#googlemap_lng_'+shopid).val()) );
			map[shopid].setCenter( new google.maps.LatLng($('#googlemap_lat_'+shopid).val(), $('#googlemap_lng_'+shopid).val()) );
			map[shopid].setZoom(17);
		}
	}

</script>
<style type="text/css">
	.error { color: red; }
</style>
<div class="container">
	<h3>列表</h3>
	<div class="mainbox">
		<div>
			<form enctype="multipart/form-data" action="__URL__/doUpload" method="POST">
			<input name="file" type="file" /><br />
			<input type="submit" value="Upload Excel File" />
			</form>
		</div>
		<br>
		<div>
			<input type="button" value="處理頭100個資料 - 共<?php echo $total; ?>個資料" onclick="window.location = '__URL__/process';"/>
            <a href="__URL__/listAll/">只顯示有錯誤的</a>
            <a href="__URL__/listAll/is_all/1">顯示所有</a>
		</div>
		<form action="__URL__/doEdit" method="post">
		<table style="width: 90%; border-top: 2px solid #B5CFD9; border-bottom: 2px solid #B5CFD9;">
		<tr>
			<td>
			<?php foreach( $list AS $val ): ?>
				<table style="width: 100%;">
				<?php $errorMsg = unserialize($val['errorMsg']); ?>
				<tr>
					<td>
						中文名稱:<input style="width:150px" name="shop[<?php echo $val['id'] ?>][name]" value="<?php echo $val['name']; ?>"><br/>
						英文名稱:<input style="width:150px" name="shop[<?php echo $val['id'] ?>][english_name]" value="<?php echo $val['english_name']; ?>"><br/>
						<?php if ($errorMsg['name']): ?><span class="error"><?php echo $errorMsg['name']; ?></span><br/><?php endif; ?>
					</td>
					<td>
						品牌號碼:<input style="width:100px" name="shop[<?php echo $val['id'] ?>][brand_id]" value="<?php echo $val['brand_id']; ?>"><br/>
						<?php if ($errorMsg['brand_id']): ?><span class="error"><?php echo $errorMsg['brand_id']; ?></span><br/><?php endif; ?>
						類別號碼:<input style="width:100px" name="shop[<?php echo $val['id'] ?>][cate_ids]" value="<?php echo $val['cate_ids']; ?>"><br/>
						<?php if ($errorMsg['cate_ids']): ?><span class="error"><?php echo $errorMsg['cate_ids']; ?></span><br/><?php endif; ?>
					</td>
					<td>
						parent shop id:<input style="width:50px" name="shop[<?php echo $val['id'] ?>][parent_shop_id]" value="<?php echo $val['parent_shop_id']; ?>"><br/>
						子地區 id:<input style="width:50px" name="shop[<?php echo $val['id'] ?>][sub_location_id]" value="<?php echo $val['sub_location_id']; ?>"><br/>
						<?php if ($errorMsg['sub_location_id']): ?><span class="error"><?php echo $errorMsg['sub_location_id']; ?></span><br/><?php endif; ?>
						地址:<input id="address_<?php echo $val['id'] ?>" style="width:100px" name="shop[<?php echo $val['id'] ?>][address]" value="<?php echo $val['address']; ?>" onkeyup="codeAddress('<?php echo $val['id'] ?>');"><br/>
						地址詳情:<input style="width:100px" name="shop[<?php echo $val['id'] ?>][rooms]" value="<?php echo $val['rooms']; ?>"><br/>
						<?php if ($errorMsg['address']): ?><span class="error"><?php echo $errorMsg['address']; ?></span><br/><?php endif; ?>
						
						<div id="map_canvas_<?php echo $val['id'] ?>" style="width: 300px; height: 300px;"></div>
						lat: <input id="googlemap_lat_<?php echo $val['id'] ?>" style="width:100px" name="shop[<?php echo $val['id'] ?>][googlemap_lat]" value="<?php echo $val['googlemap_lat']; ?>" onkeydown="setPosition('<?php echo $val['id'] ?>');">
						lng: <input id="googlemap_lng_<?php echo $val['id'] ?>" style="width:100px" name="shop[<?php echo $val['id'] ?>][googlemap_lng]" value="<?php echo $val['googlemap_lng']; ?>" onkeydown="setPosition('<?php echo $val['id'] ?>');">
						<script>$(document).ready(function(){ initialize("<?php echo $val['id'] ?>"); });</script><br/>
						<?php if ($errorMsg['latlng']): ?><span class="error"><?php echo $errorMsg['latlng']; ?></span><?php endif; ?>
					</td>
					<td>
						主電話:<input style="width:80px" name="shop[<?php echo $val['id'] ?>][telephone]" value="<?php echo $val['telephone']; ?>" maxlength="8"><br/>
						<?php if ($errorMsg['telephone']): ?><span class="error"><?php echo $errorMsg['telephone']; ?></span><br/><?php endif; ?>
						次電話:<input style="width:80px" name="shop[<?php echo $val['id'] ?>][sub_telephone]" value="<?php echo $val['sub_telephone']; ?>" maxlength="8"><br/>
						<?php if ($errorMsg['sub_telephone']): ?><span class="error"><?php echo $errorMsg['sub_telephone']; ?></span><br/><?php endif; ?>
					</td>
					<td>
						網頁:<input style="width:100px" name="shop[<?php echo $val['id'] ?>][website]" value="<?php echo $val['website']; ?>"><br/>
						<?php if ($errorMsg['website']): ?><span class="error"><?php echo $errorMsg['website']; ?></span><br/><?php endif; ?>
						電郵:<input style="width:100px" name="shop[<?php echo $val['id'] ?>][email]" value="<?php echo $val['email']; ?>"><br/>
						<?php if ($errorMsg['email']): ?><span class="error"><?php echo $errorMsg['email']; ?></span><br/><?php endif; ?>
					</td>
					<td>
						一: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_1]" value="<?php echo $val['start_time_1']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_1]" value="<?php echo $val['end_time_1']; ?>"><br/>
						<?php if ($errorMsg['time_1']): ?><span class="error"><?php echo $errorMsg['time_1']; ?></span><br/><?php endif; ?>
						二: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_2]" value="<?php echo $val['start_time_2']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_2]" value="<?php echo $val['end_time_2']; ?>"><br/>
						<?php if ($errorMsg['time_2']): ?><span class="error"><?php echo $errorMsg['time_2']; ?></span><br/><?php endif; ?>
						三: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_3]" value="<?php echo $val['start_time_3']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_3]" value="<?php echo $val['end_time_3']; ?>"><br/>
						<?php if ($errorMsg['time_3']): ?><span class="error"><?php echo $errorMsg['time_3']; ?></span><br/><?php endif; ?>
						四: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_4]" value="<?php echo $val['start_time_4']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_4]" value="<?php echo $val['end_time_4']; ?>"><br/>
						<?php if ($errorMsg['time_4']): ?><span class="error"><?php echo $errorMsg['time_4']; ?></span><br/><?php endif; ?>
						五: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_5]" value="<?php echo $val['start_time_5']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_5]" value="<?php echo $val['end_time_5']; ?>"><br/>
						<?php if ($errorMsg['time_5']): ?><span class="error"><?php echo $errorMsg['time_5']; ?></span><br/><?php endif; ?>
						六: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_6]" value="<?php echo $val['start_time_6']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_6]" value="<?php echo $val['end_time_6']; ?>"><br/>
						<?php if ($errorMsg['time_6']): ?><span class="error"><?php echo $errorMsg['time_6']; ?></span><br/><?php endif; ?>
						日: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_7]" value="<?php echo $val['start_time_7']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_7]" value="<?php echo $val['end_time_7']; ?>"><br/>
						<?php if ($errorMsg['time_7']): ?><span class="error"><?php echo $errorMsg['time_7']; ?></span><br/><?php endif; ?>
						公眾: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_8]" value="<?php echo $val['start_time_8']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_8]" value="<?php echo $val['end_time_8']; ?>"><br/>
						<?php if ($errorMsg['time_8']): ?><span class="error"><?php echo $errorMsg['time_8']; ?></span><br/><?php endif; ?>
						<?php if ($errorMsg['time']): ?><span class="error"><?php echo $errorMsg['time']; ?></span><?php endif; ?>
					</td>
				</tr>
				<tr><td colspan="6" align="right"><input type="button" value="刪除 #<?php echo $val['id'] ?>" onclick="window.location = '__URL__/doDelete/id/<?php echo $val['id'] ?>';"/></td><tr>
<!--
				<td>名稱</td>
				<td>品牌號碼</td>
				<td>類別號碼</td>
				<td>子地區號碼</td>
				<td>地址</td>
				<td>電話</td>
				<td>網頁</td>
				<td>電郵</td>
				<td>時間</td>				<tr>
					<td colspan="9" align="right" style="border: none;">
						<input type="button" value="刪除 #<?php echo $val['id'] ?>" onclick="window.location = '__URL__/doDelete/id/<?php echo $val['id'] ?>';"/>
					</td>
				</tr>
				<tr>
					<td>
						中:<input style="width:100px" name="shop[<?php echo $val['id'] ?>][name]" value="<?php echo $val['name']; ?>"><br/>
						英:<input style="width:100px" name="shop[<?php echo $val['id'] ?>][english_name]" value="<?php echo $val['english_name']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['name']; ?></span>
					</td>
					<td>
						<input style="width:50px" name="shop[<?php echo $val['id'] ?>][brand_id]" value="<?php echo $val['brand_id']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['brand_id']; ?></span>
					</td>
					<td>
						<input style="width:100px" name="shop[<?php echo $val['id'] ?>][cate_ids]" value="<?php echo $val['cate_ids']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['cate_ids']; ?></span>
					</td>
					<td>
						<input style="width:50px" name="shop[<?php echo $val['id'] ?>][sub_location_id]" value="<?php echo $val['sub_location_id']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['sub_location_id']; ?></span>
					</td>
					<td>
						<input style="width:100px" name="shop[<?php echo $val['id'] ?>][address]" value="<?php echo $val['address']; ?>"><br/>
						詳情:<input style="width:100px" name="shop[<?php echo $val['id'] ?>][rooms]" value="<?php echo $val['rooms']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['address']; ?></span>
					</td>
					<td>
						主:<input style="width:80px" name="shop[<?php echo $val['id'] ?>][telephone]" value="<?php echo $val['telephone']; ?>" maxlength="8"><br/>
						次:<input style="width:80px" name="shop[<?php echo $val['id'] ?>][sub_telephone]" value="<?php echo $val['sub_telephone']; ?>" maxlength="8"><br/>
						<span class="error"><?php echo $errorMsg['telephone']; ?></span><br/>
						<span class="error"><?php echo $errorMsg['sub_telephone']; ?></span>
					</td>
					<td>
						<input style="width:100px" name="shop[<?php echo $val['id'] ?>][website]" value="<?php echo $val['website']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['website']; ?></span>
					</td>
					<td>
						<input style="width:100px" name="shop[<?php echo $val['id'] ?>][email]" value="<?php echo $val['email']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['email']; ?></span>
					</td>
					<td>
						一: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_1]" value="<?php echo $val['start_time_1']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_1]" value="<?php echo $val['end_time_1']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['time_1']; ?></span><br/>
						二: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_2]" value="<?php echo $val['start_time_2']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_2]" value="<?php echo $val['end_time_2']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['time_2']; ?></span><br/>
						三: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_3]" value="<?php echo $val['start_time_3']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_3]" value="<?php echo $val['end_time_3']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['time_3']; ?></span><br/>
						四: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_4]" value="<?php echo $val['start_time_4']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_4]" value="<?php echo $val['end_time_4']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['time_4']; ?></span><br/>
						五: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_5]" value="<?php echo $val['start_time_5']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_5]" value="<?php echo $val['end_time_5']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['time_5']; ?></span><br/>
						六: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_6]" value="<?php echo $val['start_time_6']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_6]" value="<?php echo $val['end_time_6']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['time_6']; ?></span><br/>
						日: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_7]" value="<?php echo $val['start_time_7']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_7]" value="<?php echo $val['end_time_7']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['time_7']; ?></span><br/>
						公眾: <input style="width:50px" name="shop[<?php echo $val['id'] ?>][start_time_8]" value="<?php echo $val['start_time_8']; ?>">
						- <input style="width:50px" name="shop[<?php echo $val['id'] ?>][end_time_8]" value="<?php echo $val['end_time_8']; ?>"><br/>
						<span class="error"><?php echo $errorMsg['time_8']; ?></span><br/>
						<span class="error"><?php echo $errorMsg['time']; ?></span>
					</td>
				</tr>-->
				</table>
			<?php endforeach; ?>
			</td>
		</tr>
		<tr class="nobg">
			<td class="tdpage" colspan="9"><input type="submit" value="  修改所有  " /></td>
		</tr>
		<tr class="nobg">
			<td class="tdpage" colspan="9">{$multipage}</td>
		</tr>
		</table>
		</form>
		
		
	</div>
	
</div>
<include file="Public:sa-footer" />