﻿<load href="__PUBLIC__/js/jquery-ui-1.8.9.custom.min.js" />
<load href="__PUBLIC__/js/ajaxupload.3.5.js" />
<load href="__PUBLIC__/js/picuploadfunction.js" />
<load href="__PUBLIC__/css/ot_ajaxupload.css" />
<load href="__PUBLIC__/js/datepicker_zh_TW.js" />
<load href="__PUBLIC__/css/ui-lightness/jquery-ui-1.8.9.custom.css" />
<script type="text/javascript">
/*pic prepare*/
	var timestamp = "<?php echo $picstamp;?>";
	var dest = "<?php echo $dest;?>";
	var itemid ="{$newsInfo.id}";
/*pic prepare*/
$(document).ready(function(){
	$( "#time_start" ).datepicker( datepicker_zhTW);
	$( "#time_end" ).datepicker(datepicker_zhTW);	
	var validator = $( '#theform' ).validate( {
		rules: {			
			title:{required:true},			
			description:{required:true,maxlength: 150},
			time_start: {required:true},
			time_end: {required:true}
		},
		messages: {			
			title:"請輸入商戶消息標題",
			description:{required:"請輸入商戶消息介紹",
						maxlength:"商戶消息介紹不可超過150字元"
			},
			time_start: "請輸入開始時間",
			time_end: "請輸入完結時間"			
		},
		submitHandler: function()
		{
			
			if($('#time_start').val()>$('#time_end').val()){
				validator.showErrors({"time_end": "開始時間不能大於完結時間!!"});
				return false;
			}
			$('#submit').attr("disabled", true);
			$( '#theform' ).ajaxSubmit( {
				success: function ( response, status ) {
					var json = $.parseJSON( response );
					if ( json.success ) {
						switch(json.message){
							case 1:
							alert('成功新增消息');
							break;
							case 2:
							alert('成功儲存消息: 請選擇發佈');
							break
						}						 
						location.reload();
					}else {
						$('#submit').attr("disabled", false);
						alert('系統錯誤');
					}
				}
			} );
			return false;
		}
	});
	initialuploadelement();
});
</script>
<form id="theform" action="__APP__" method="post">
<input type="hidden" name="m" value="shopnews" />
<input type="hidden" name="a" value="action" />
<if condition="$newsInfo.id gt 0">
	<input type="hidden" name="action" value="submit_edit" />
	<input type="hidden" name="news_id" value="{$newsInfo.id}" />
<else />
	<input type="hidden" name="action" value="submit_add" />
	<input type="hidden" name="picstamp" value="{$picstamp}" />
</if>
<table class="ot_t_news_add_edit_table">
	<tr>
		<th id="col01"></th>
		<td id="col02"></td>
		<td id="col03"></td>
		<td id="col04"></td>
	</tr>
	<tr>
		<th id="col01">*標題：</th>
		<td id="col02"><input name="title" id="title" value="{$newsInfo.title}"  type="text" /></td>
		<td id="col03"></td>
		<td id="col04"></td>
	</tr>
	<tr>
		<th id="col01">*內容：</th>
		<td id="col02"><textarea id="description" name="description" cols="35" class="ot_d_textareabox">{$newsInfo.description}</textarea></td>
		<td id="col03"></td>
		<td id="col04"></td>
	</tr>
	<tr>
		<th id="col01">*時間：</th>
		<td id="col02">
			<span class="ot_d_startword">開始時間</span>
                <input id="time_start" name='time_start' type="text" readonly="true" class="ot_o_popdate" value="{$newsInfo.time_start}"/>
                <span class="ot_d_endword">結束時間</span>
                <input id="time_end" name='time_end' type="text" readonly="true" class="ot_o_popdate" value="{$newsInfo.time_end}"/>
		</td>
		<td id="col03"></td>
		<td id="col04"></td>
	</tr>	
	<tr>
		<td id="col01"></td>
		<td id="col02">
			<if condition="$newsInfo.id gt 0">
				<input id="submit" value="儲存" type="submit" name="submit" class="btn01" />
			<else />
				<input id="submit" value="新增" type="submit" name="submit" class="btn01" />
			</if>
			<input id="btnSubmit" value="重設" type="reset" name="btnSubmit" class="btn01"/>
		</td>
		<td id="col03"></td>
		<td id="col04"></td>
	</tr>
		<tr>
		<th id="col01">消息圖片：</th>
		<td id="col02">{$newsInfo['id']|generatePicBox='news',###}</td>
		<td id="col03"></td>
		<td id="col04">圖片格式： 小於 580*435</td>
	</tr>
</table>
</form>