<include file="Public:header" />
<load href="__PUBLIC__/css/ot_shopnews.css" />
<load href="__PUBLIC__/js/selshop.js" />
<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec03 a').toggleClass('current');
	$('.fancy').each(function(){
		if($(this).attr('enable')=="true"){
			initialfancybox($(this).attr('id'),$(this).attr('action'),$(this).attr('newsid'),$(this).attr('audit'));
		}		
	});
	$('.auditbtn').bind('click',function(){
		var news_id = $(this).attr('newsid');
		var audit = $(this).attr('audit');
		var shop_ids = get_selshop_ids(news_id);
		var action = $(this).attr('action');		
		$.get('__APP__/?m=shopnews&a=action&action='+action+'&news_id='+news_id+'&shop_ids='+shop_ids+'&audit='+audit,function(response){
			var json = $.parseJSON(response);
			if(json.status == 0){
				switch(parseInt(audit)){
					case 0:
						alert('發佈成功');
					break;
					case 1:	
						alert('取消發佈成功');
					break;
				}
				set_selshop_error(news_id,'');
				location.reload();
			}else if(json.status == 1){
				alert('發佈失敗,指定的商戶超出上限');
				var errid = '';
				for(i=0;i<json.err_ids.length;i++){
					errid += json.err_ids[i]+',';
				}
				set_selshop_error(news_id,errid);
				$('#selshopbutton'+news_id).trigger('click');
			}else if(json.status == 2){
				alert('未有指派商戶');
				$('#selshopbutton'+news_id).trigger('click');
			}else{
				alert('發佈失敗,請聯絡系統管理員');
			}
		});
	});
});
function initialfancybox(eleid,action,news_id,audit){	
	var shop_ids = get_selshop_ids(news_id);
	$('#'+eleid).fancybox({
		'speedIn'		:	600, 
		'speedOut'		:	200,
		'height'		:	400,
		'width'			:	800,
		'scrolling'		:	'auto',
		'centerOnScroll':	true,
		'autoDimensions':	false,		
		'onStart'		:	function(){
							//alert('__APP__/?m=shopnews&a=action&action='+action+'&news_id='+news_id);							
								this.href = '__APP__/?m=shopnews&a=action&action='+action+'&news_id='+news_id+'&shop_ids='+shop_ids+'&audit='+audit;
							}
	});
}
function switchContent(ele){
	alert($(ele).attr('id'));
}
function deleteNews(news_id){
	if(confirm('消息刪除將無法復原, 確認刪除?')){
		$.get(__OT_APP__+'?m=shopnews&a=action&action=delete&news_id='+news_id, function(response){			
			var json = $.parseJSON( response );	
			if(json.success){
				alert('成功刪除消息');
				location.reload();
			}else{
				alert('消息錯誤');
			}
		});
	}
}
</script>
<input name='type' id='type' type='hidden' value='news'/>
<div class="ot_d_body_content">
	<div id="ot_d_body_content_left"><if condition="$simpleshop_id gt 0"><include file="Public:left_menu" /></if></div>
	<div id="ot_d_body_content_right">
	<if condition="$news_count eq 0">
    	<table class="ot_t_listing_table" border="2">
			<tr>
			   <td class="title" colspan="5" style="width:35%;text-align:right;"><input id="add" class="fancy btn02" type="button" newsid="0" enable="true" action="add" value="新增" /></td>
			</tr>
			<tr>
            	<th colspan="5" style="text-align:center;">暫時未有相關消息</th>
            </tr>
		</table>
    <else />
    	<table cellspacing="0" class="ot_t_shopnews_listing_table">
			<tr>
			   <td class="title" colspan="5" style="text-align:right;"><input id="add" class="fancy btn02" type="button" newsid="0" enable="true" action="add" value="新增" /></td>
			</tr>
        	<tr>
                <th class="title" style="width:8%">ID<A href="__APP__/?m=shopnews&a=index&sort=a.id&sortorder=asc">↓</A>|<A href="__APP__/?m=shopnews&a=index&sort=a.id&sortorder=desc">↑</A></th>
                <th class="title" style="width:14%">消息標題<A href="__APP__/?m=shopnews&a=index&sort=a.title&sortorder=asc">↓</A>|<A href="__APP__/?m=shopnews&a=index&sort=a.title&sortorder=desc">↑</A></th>
                <th class="title" style="width:12%">開始時間<A href="__APP__/?m=shopnews&a=index&sort=a.time_start&sortorder=asc">↓</A>|<A href="__APP__/?m=shopnews&a=index&sort=a.time_start&sortorder=desc">↑</A></th>
				<th class="title" style="width:12%">結束時間<A href="__APP__/?m=shopnews&a=index&sort=a.time_end&sortorder=asc">↓</A>|<A href="__APP__/?m=shopnews&a=index&sort=a.time_end&sortorder=desc">↑</A></th>
				<th class="title" style="width:40%">狀態</th>
			</tr>
			<iterate name="newsList" id="vo">
				<tr class="ot_t_shopnews_is_audit{$vo.is_audit}">
					<td class="row1">{$vo.id}</td>
					<td class="row1">{$vo.title}</td>
					<td class="row1">{$vo.time_start}</td>
					<td class="row1">{$vo.time_end}</td>
					<td class="row1"><label class="ot_l_is_audit{$vo.is_audit}"><?php if($vo['is_audit']==1){echo '發佈中';}else{echo '未發佈';} ?></label></td>					
				</tr>
				<tr class="ot_t_shopnews_is_audit{$vo.is_audit}">
					<td class="row2" colspan="4"><u>消息內容:</u><br/>{$vo.description}</td>
					<td class="row2" valign="bottom"><input type="button" class="fancy btn02" newsid="{$vo.id}" enable="true" action="preview" id="preview{$vo.id}" value="詳情"/>&nbsp;<if condition="$vo.operation_right neq 0"><if condition="$vo.is_audit eq 0"><input type="button" class="fancy btn02" newsid="{$vo.id}" enable="true" action="edit" id="edit{$vo.id}" value="更改"/>&nbsp;<?php if($simpleshop_id > 0): ?><input type="hidden" value="{$simpleshop_id}" id="selshoptxt{$vo.id}" name="selshoptxt{$vo.id}"><?php else: ?>{$vo.id|generateSelShop=$vo["assigned"],$vo["assigned_ids"]}&nbsp;<?php endif; ?></if><input type="button" newsid="{$vo.id}" enable="true" action="audit" audit="{$vo.is_audit}" id="audit{$vo.id}" value='<if condition="$vo.is_audit eq 1">取消</if>發佈' class='auditbtn btn02<if condition="$vo.is_audit eq 1">_long</if>' />&nbsp;<if condition="$vo.is_audit eq 0"><input type="button" class="delete btn02" newsid="{$vo.id}" enable="true" action="delete" id="delete{$vo.id}" value="刪除" onclick="deleteNews({$vo.id});"/></if></if></td>
				</tr>
			</iterate>            
            <tr>
                <td class="row_spec" colspan="5">{$multipage}</td>
            </tr>
        </table>
	</if>
    </div>
	<div class="ot_d_clearBoth"></div>
</div>
<include file="Public:footer" />