<load href="__PUBLIC__/css/ot_shopnews.css" />
<script type="text/javascript">
$().ready(function(){	
});
</script>
<table class="ot_t_shopnews_listing_table" style="border-bottom:1px solid;">
	<tr>
		<th class="title" style="width:20%">消息標題:</th>
		<td>{$newsInfo.title}</td>
	</tr>
	<tr>
		<th class="title">消息圖片:</th>
		<td><img src="{$newsInfo['picture']}" /></td>
	</tr>
	<tr>
		<th class="title">消息內容:</th>
		<td>{$newsInfo.description}</td>
	</tr>	
</table>
<br/>
<table class="ot_t_shopnews_listing_table">	
	<if condition="$assignedList neq ''">
	<tr>
		<th class="title">ID</th>			
		<th class="title">商戶名稱</th>
		<th class="title">商戶地址</th>
	</tr>
		<iterate name="assignedList" id="vo">
		<tr>
			<td class="row">{$vo.id}</td>
			<td class="row">{$vo.name}</td>
			<td class="row">{$vo.address}</td>
		</tr>
		</iterate>
	<else />
		<tr>
			<th colspan="3">此消息未有指派任何商戶</th>
		</tr>
	</if>
</table>