<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" />
<script type="text/javascript">
$(document).ready(function(){
	$('#start_date').datepick({dateFormat:'yyyy-mm-dd'});
	$('#end_date').datepick({dateFormat:'yyyy-mm-dd'});
	
	$('.doAudit').bind('click', function(){
		var uri = $(this).attr('id');
		$.get(uri,function(data){
			location.reload();
		});
	});
});
</script>

<div class="container">
  <h3>留言審核</h3>
  <div class="mainbox">
    <form action="__URL__/examinelist/" method="get">
      會員:
      <input type="text" style="width: 100px;" id="user_name" name="user_name" value="{.user_name}"/>
      留言者:
      <input type="text" style="width: 100px;" id="submit_user_name" name="submit_user_name" value="{.submit_user_name}"/>
      發佈時間:
      <input type="text" style="width: 100px;" id="start_date" name="start_date" value="{.start_date}"/>
      -
      <input type="text" style="width: 100px;" id="end_date" name="end_date" value="{.end_date}"/>
      <input type="submit" name="search" value="搜尋" />
    </form>
    <table class="datalist fixwidth">
      <tr>
        <?php $sortcols = array( 'id'=>'ID','user_name'=>'會員','submit_user_name'=>'留言者','body'=>'留言','reply'=>'回應','create_time'=>'發佈時間','is_audit'=>'審核' ); ?>
        <?php foreach( $sortcols AS $key=>$val ): ?>
        <th> <?php echo $val; ?><a href="__URL__/examinelist/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/examinelist/sort/{$key}/sortorder/desc">&#8593;</a> </th>
        <?php endforeach; ?>
      </tr>
      <iterate name="list" id="vo">
        <tr title="{$vo.summary}" class="mousetr">
          <td width="5%">{$vo.id}</td>
          <td width="10%" title="id: {$vo.user_id}">{$vo.user_name}</td>
          <td width="10%" title="id: {$vo.submit_user_id}" style="padding-left:10px;">{$vo.submit_user_name}</td>
          <td width="20%" title="{$vo.body}" style="padding-left:10px;">{$vo.body}</td>
          <td width="20%" title="{$vo.reply}">{$vo.reply}</td>
          <td width="15%" class="date">{$vo.create_time|date='Y-m-d H:i',###}</td>
          <td width="10%"><if condition="$vo.is_audit eq 0"> <a href="javaScript:void(0);" id="__URL__/doAudit/id/{$vo.id}/is_audit/{$vo.is_audit}" style="color:red" class="doAudit">未審核</a>
              <else/>
              <a href="javaScript:void(0);" id="__URL__/doAudit/id/{$vo.id}/is_audit/{$vo.is_audit}" style="color:green" class="doAudit">已審核</a> </if></td>
        </tr>
      </iterate>
      <tr class="nobg">
        <td class="tdpage" colspan="7">{$multipage}</td>
      </tr>
    </table>
  </div>
</div>
<include file="Public:sa-footer" /> 