<include file="Public:sa-header" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" /> 
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" />
<load href="__PUBLIC__/js/jquery.validate.js" /> 
<load href="__PUBLIC__/js/jquery.form.js" /> 

<script type="text/javascript">
function modForm(id) {
	var trimValue = $.trim($("#mod"+id+" input[name=new_keyword]").val());
	var keywordId = $("#mod"+id+" input[name=id]").val();
	var newKeyword = $("#mod"+id+" input[name=new_keyword]").val();
	
	if(trimValue == '') {
		alert('請輸入關鍵字');
	} else {
		var newKeyword = encodeURI(newKeyword);
		
		$.getJSON( '__URL__/doModify/id/'+keywordId+'/new_keyword/'+newKeyword, 
		function(json){
			if(json.result == 1) {
				alert(json.msg);
			} else {
				alert(json.msg);
				$("#mod"+id+" input[name=new_keyword]").val(json.keyword);
			}
		} );
	}
}

function addForm() {

	var trimValue = jQuery.trim($("#addRestricted input[name=restricted_name]").val());
	var restricted_name = $("#addRestricted input[name=restricted_name]").val();

	if(trimValue == '') {
		alert('請輸入關鍵字');
	}else {
		var restricted_name = encodeURI(restricted_name);

		$.getJSON( '__URL__/addRestricted/restricted_name/'+restricted_name, 
		function(json){
			if(json.result == 1) {
				alert(json.msg);
				location.reload(true);
			} else {
				alert(json.msg);
			}
		} );
	}

}
</script>

<div class="container">
	<h3>會員限制名稱列表</h3>
	<div class="mainbox">
		<form action="__URL__/listAll/" method="get">
			名稱:<input type="text" name="name" value="{.name}" />
			<input type="submit" name="search" value="搜尋" />
		</form>
		<table class="datalist fixwidth">
			<tr>
				<?php $sortcols = array( 'id'=>'ID','keyword'=>'限制名稱' ); ?>
				<?php foreach( $sortcols AS $key=>$val ): ?>
					<th>
						<?php echo $val; ?><a href="__URL__/listAll/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/listAll/sort/{$key}/sortorder/desc">&#8593;</a>
					</th>
				<?php endforeach; ?>
                <th></th>
                <th>修改</th>
                <th>刪除</th>
			</tr>
            <?php $count = 0; ?>
			<iterate name="list" id="vo">
				<tr title="{$vo.summary}" class="mousetr">
					<td width="10%">{$vo.id}</td>
                    <form name="mod" id="mod<?php print $count;?>" method="post">
						<td width="70%" title="{$vo.keyword}" colspan="2">
                   			<input name="new_keyword" id="input" type="text" value="{$vo.keyword}" />
                   		</td>
                   		<td width="10%">
                    		<input name="id" type="hidden" value="{$vo.id}" />
                   			<input type="button" value="修改" onClick="modForm(<?php print $count;?>)"/>
                    	</td>
                    </form>
                    <td width="10%">
                    <form name="del" action="__URL__/doDelete/" method="post">
                    	<input name="keyword" type="hidden" value="{$vo.keyword}" />
                   		<input type="submit" value="移除"/>
                    </form>
                    </td>
				</tr>
                <?php $count++; ?>
			</iterate>
			<tr class="nobg">
                <form name="addRestricted" id="addRestricted" method="post">
            		<td><input type="text" id="input" name="restricted_name" /></td>
                	<td colspan="2"><input type="button" value="新增限制名稱" onClick="addForm()"/></td>
                </form>
				<td class="tdpage" colspan="3">{$multipage}</td>
			</tr>
            <tr>
            	<td colspan="6">
            	提示: 所有用戶名稱內若有此列表的關鍵字,則不能申請!  &  所有關鍵字會轉換為<b>小階</b>!
           		<br />例如:列表有"管理"2字,"管理員","管理人","管理者"等都不能申請
            	<br />但"管數人","理髮員"都可以申請
                </td>
            </tr>            
		</table>
	</div>
</div>

<include file="Public:sa-footer" />