<include file="Public:sa-header" />
	
<script type="text/javascript">
	var tb_pathToImage = "__PUBLIC__/js/thickbox/loadingAnimation.gif";
</script>
<load href="__PUBLIC__/js/thickbox/thickbox.css" /> 
<load href="__PUBLIC__/js/thickbox/thickbox.js" /> 
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.css" />
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick.pack.js" /> 
<load href="__PUBLIC__/js/jquery.datepick.package/jquery.datepick-zh-TW.js" /> 
<script type="text/javascript">
$(document).ready(function(){
	$('#create_date').datepick({dateFormat:'yy-mm-dd'});
});
</script>

<div class="container">
	<h3>會員列表</h3>
	<div class="mainbox">
		<div>
			<form action="__URL__/memberList" method="GET">
				<table>
					<tr>
						<td>會員名稱:</td><td><input type="text" name="name" value="{.name}"/></td>
						<!--<td>注冊時間:</td><td><input type="text" name="create_date" id="create_date" value="{.create_date}"/></td>-->
						<td>電郵地址:</td><td><input type="text" name="addrkey" value="{.addrkey}"/></td>
						<td><input type="submit" value="搜尋"></td>
                    </tr>
				</table>
			</form>	
		</div>
		<table class="datalist fixwidth">
            <tr>
                <th>會員名稱</th>
                <th>注冊時間</th>
                <th>電郵地址</th>
                <th>電話</th>
                <th>上次登錄</th>
                <th>動作</th>
            </tr>
            <iterate name="memberList" id="vo">
                <tr title="{$vo.name}" class="mousetr">
                    <td><strong><a href="{$Think.config.OUTSTREET_DIR}/user/view/id/{$vo.id}" target="_blank">{$vo.nick_name|msubstr=###,0,12}</a></strong></td>
                    <td class="date">{$vo.create_time|date='Y/m/d H:i',###}</td>
                    <td>{$vo.email}</td>
                    <td>{$vo.telephone}</td>
                    <td class="date">{$vo.last_login|date='Y/m/d H:i',###}</td>
                    <td>
                        <a class="thickbox" href="__URL__/edit/id/{$vo.id}/?placeValuesBeforeTB_=savedValues&TB_iframe=true&width=620&height=350">修改</a>
                        <a href="__URL__/userlogin/id/{$vo.id}" target="_blank">登錄</a>
                        <a href="__URL__/revalid/userid/{$vo.id}" onclick="javascript:alert('成功發送認證電郵!');">補發電郵</a>
                        <if condition="$vo.is_disabled eq 0">
                            <a href="__ACTION__/disable_id/{$vo.id}/{&VAR_PAGE}/{$page}" class="red">未禁止</a>
                        <else/>
                            <a href="__ACTION__/disable_id/{$vo.id}/{&VAR_PAGE}/{$page}" class="green">已禁止</a>
                        </if>

                    </td>
                </tr>
            </iterate>
            <tr class="nobg">
                <td class="tdpage" colspan="6">{$multipage}</td>
            </tr>
        </table>
	</div>
</div>

<include file="Public:sa-footer" />