<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<script type="text/javascript">
	$().ready(function(){
		$('#tabs-box ul').showTabs();
		$('div.headerAboutus').corner("cc:#fff ,top");
		$('div.footer-aboutus').corner("cc:#fff ,bottom");
	});
</script>

<style type="text/css">
ol.b {list-style-type:nubmer;}
.tdbg{background-color:#e7f3ff;}
.q_container{
	overflow:hidden;
	padding: 0px; 0px; 5px; 0px;
}
.q_num{
	width:35px;
	float:left;
	font-weight:bold;
}
.q_answer{
	float:left;
	width:565px;
}
</style>

<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
        <div class="breadcrumb">
            <a href="__ROOT__/">主頁</a> > <a href="__ROOT__/faq">常見問題</a>
        </div>	
		<div id="faq-box" class="left-box">
            <div class="header">
                <h3>FAQ 常見問題</h3>
            </div>
            <div class="content" style="padding-left:10px; padding-right:5px; padding-top:10px; padding-bottom:10px;">
				<table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
			    	<tr>
                  		<td><b>問：OutStreet 是甚麼？</b><br />答：OutStreet「出街網」 創於2010年，是香港一個創新地結合購物、飲食及休閒娛樂等主題的多元化網上城市生活指南及意見發表平台。OutStreet 全心全意為香港市民發掘出街好去處，提供豐富及實用的資訊令大家出街更方便輕鬆。</td>
                	</tr>
                    <tr>
                  		<td><img name="" src="__PUBLIC__/images/backgrounds/faq_gird01.gif" width="100%" height="17" alt="" /></td>
                  		<td>&nbsp;</td>
                	</tr>                
                	<tr>
                		<td><b>問：OutStreet 有甚麼功能？</b><br />答：OutStreet 幫你找到出街好去處和精彩節目，提供廣闊平台讓用戶交流和分享想法。OutStreet 的多元化功能包括下列各種：
                    	<br />
                        <div class="q_container">
                           <div class="q_num">（1）</div>
                           <div class="q_answer"><b>搜尋：</b>根據自定的條件（如種類、地區或時間）搜尋商戶、節目和評介。</div>
                        </div>
                        <div class="clearBoth"></div>
                        <div class="q_container">
                           <div class="q_num">（2）</div>
                           <div class="q_answer"><b>寫評介：</b>OutStreet 會員可以針對特定商戶、節目或優惠撰寫評介。評介內容不局限於文字，也可以加入圖片，以及對商戶服務/產品等項目評分。</div>
                        </div>
                        <div class="clearBoth"></div>
                        <div class="q_container">
                           <div class="q_num">（3）</div>
                           <div class="q_answer"><b>加入新商戶：</b>如果用戶在OutStreet 上發現想找的商戶不存在，就可以「加入新商戶」，經OutStreet 管理員通過後即可加入OutStreet 尚未添加的商戶，參與建立香港最完善的商戶資料庫。</div>
                        </div>
                        <div class="clearBoth"></div>                     
                        <div class="q_container">
                           <div class="q_num">（4）</div>
                           <div class="q_answer"><b>編輯資料：</b>如果用戶發現某個商戶的資料不齊全或有誤，可以在商戶專頁上點擊「編輯資料」來向我們提供最新資料。</div>
                        </div>
                        <div class="clearBoth"></div>                     
                        <div class="q_container">
                           <div class="q_num">（5）</div>
                           <div class="q_answer"><b>提供相片：</b>所有用戶均可主動提供商戶相片，使商戶專頁內容更豐富。</div>
                        </div>
                        <div class="clearBoth"></div>                     
                        <div class="q_container">
                           <div class="q_num">（6）</div>
                           <div class="q_answer"><b>店主登記：</b>商戶負責人可以在OutStreet 上登記店主身份，更方便管理自己的商戶專頁、推廣最新消息。</div>
                        </div>
                        <div class="clearBoth"></div>                     
                        <div class="q_container">
                           <div class="q_num">（7）</div>
                           <div class="q_answer"><b>分享至Facebook/讚好：</b>通過分享或讚好，可以直接在OutStreet 上將商戶、節目、優惠或推介文章告訴facebook上的朋友。</div>
                        </div>
                        <div class="clearBoth"></div>                     
                        <div class="q_container">
                           <div class="q_num">（8）</div>
                           <div class="q_answer"><b>討論區：</b>OutStreet 有專屬的討論區，用戶可在討論區上新增討論話題，和所有網民交流出街心得。</div>
                        </div>
                        <div class="clearBoth"></div>                     
                        <div class="q_container">
                           <div class="q_num">（9）</div>
                           <div class="q_answer"><b>心水商戶/心水評家/心水優惠：</b>OutStreet 會員可以將其他會員儲存為「心水評家」，以便在個人專頁上追踪心水評家撰寫的最新評介。同樣，你可將喜歡的商戶或優惠儲存為心水，顯示在會員個人專頁上。</div>
                        </div>
                        <div class="clearBoth"></div>                     
                        <div class="q_container">
                           <div class="q_num">（10）</div>
                           <div class="q_answer"><b>留言：</b>會員可以登入其他會員的個人專頁，發表留言。</div>
                        </div>
                        <div class="clearBoth"></div>                     
                        <div class="q_container">
                           <div class="q_num">（11）</div>
                           <div class="q_answer"><b>路路Guide：</b>當你找到目標商戶或節目後，頁面右下角的路路Guide可以幫你快速搜尋點對點搭車路線。路路Guide搜尋器會將目標商戶或節目的所在地自動設定為目的地，你只需輸入出發地就可即刻搜尋最佳搭車路線。</div>
                        </div>
                        <div class="clearBoth"></div>     
                  		</td>
                	</tr>
                    <tr>
                      	<td><img name="" src="__PUBLIC__/images/backgrounds/faq_gird01.gif" width="100%" height="17" alt="" /></td>
                    </tr>
                    <tr>
                      	<td><b>問：如何登記成為會員？</b><br />答：只需登入OutStreet首頁，在右上角點擊「會員登記」，網站便會彈出登記表格。填寫個人資料後，你會立即收到OutStreet 的電郵通知，最後點擊電郵中的確認鏈接就能成功啟用OutStreet會員身份。
                        </td>
                    </tr> 
                    <tr>
                      	<td><img name="" src="__PUBLIC__/images/backgrounds/faq_gird01.gif" width="100%" height="17" alt="" /></td>
                    </tr>  
                    <tr>
                  		<td><b>問：登記成為會員有甚麼好處？</b><br />答：登記成為會員是完全免費的，好處多不勝數，並且隨著會員的參與而增值。<br />
                    	其中最核心的好處就是可以通過OutStreet 平台發表自己的評介，累積評介後逐步在龐大的用戶群中建立個人聲譽，並登上OutStreet 評家排行榜。<br />除了自由發表評介，會員還可以訂閱OutStreet 定期發出的「週末指南」以及其他出街情報，知道更多出街好去處。<br />成為會員後，你將擁有自己的個人專頁「我的OutStreet」，當中顯示你的頭像、簡介、評介、相片、心水評家、心水商戶和留言。另外，OutStreet 即將推出會員積分制度，會員可以憑積分賺取豐厚禮品。
                  		</td>
                  	</tr> 
                	<tr>
                      	<td><img name="" src="__PUBLIC__/images/backgrounds/faq_gird01.gif" width="100%" height="17" alt="" /></td>
                    </tr>
                    <tr>
                  		<td><b>問：如何登記成為店主？</b><br />
                    	答：你可以通過兩個方式登記成為店主（<a href="http://www.outstreet.com.hk/aboutus"> http://www.outstreet.com.hk/aboutus</a>）。<br />
                        <div class="q_container">
                            <div class="q_num">（1）</div>
                            <div class="q_answer">直接點擊首頁右上角的「店主登記」；</div>
                        </div>                    
                        <div class="q_container">
                            <div class="q_num">（2）</div>
                            <div class="q_answer">進入你的商戶頁面，點擊「我是店主」。<br />這兩種方式都需要你填寫基本資料，OutStreet 管理員收到後就會以電話確認你，正式完成店主登記。</div>
                        </div>                    
					</tr> 
                	<tr>
                  		<td><img name="" src="__PUBLIC__/images/backgrounds/faq_gird01.gif" width="100%" height="17" alt="" /></td>
               		</tr>
                	<tr>
                  		<td><b>問：登記成為店主有甚麼好處？</b><br />答：免費成功註冊為店主，你將可以介紹商戶主要業務及產品；更新商戶照片、關鍵字；公佈商戶最新資訊、特別優惠和近期活動；增加商戶在搜索引擎如Google、Yahoo!上的曝光機會。
</td>
					</tr> 
                	<tr>
                      	<td><img name="" src="__PUBLIC__/images/backgrounds/faq_gird01.gif" width="100%" height="17" alt="" /></td>
                    </tr>
                	<tr>
                  		<td><b>問：怎樣可以發表自己的評介？</b><br />答：成為OutStreet 會員後便可使用寫評介的功能。首先，你可搜尋想評介的商戶、節目或優惠，找到評介對象後點擊「寫評介」。輸入標題、內容，還可上載相片，提交後便完成評介。評介若成功通過OutStreet 管理員審閱，便會立即發表。
</td>
                 	</tr> 
                	<tr>
                  		<td><img name="" src="__PUBLIC__/images/backgrounds/faq_gird01.gif" width="100%" height="17" alt="" /></td>
                  	</tr>
                	<tr>
                      	<td><b>問：為甚麼我提交的評介未被刊登？</b><br />答：OutStreet 鼓勵會員撰寫來源真實、內容具體的評介。如果出現以下情況：用戶刻意借OutStreet評介來作為宣傳業務、抹黑競爭者或蓄意傷害他人的手法，我們將不考慮刊登此類評介。</td>
                    </tr> 
                    <tr>
                      	<td><img name="" src="__PUBLIC__/images/backgrounds/faq_gird01.gif" width="100%" height="17" alt="" /></td>
                    </tr>
                	<tr>
                  		<td><b>問：為甚麼我不能成功留言？</b><br />答：為了避免出現淫褻或不雅內容、粗俗用語、惡意誹謗等違規信息，所有會員留言都必先通過OutStreet 管理員審閱，不適宜的留言便會被刪除。
</td>
					</tr> 
                	<tr>
                  		<td><img name="" src="__PUBLIC__/images/backgrounds/faq_gird01.gif" width="100%" height="17" alt="" /></td>
                  	</tr>
                	<tr>
                  		<td><b>問：怎樣搜尋商戶或者節目資料？</b><br />答：
                            <div class="q_container">
                                <div class="q_num">（1）</div>
                                <div class="q_answer">
                                    <b>搜尋商戶：</b>在OutStreet 首頁的搜尋器中，你可以選擇類別（如：女士美容中心）和地區（如：銅鑼灣），以及輸入關鍵字（如：botox）來搜尋商戶。這個搜尋器同時可在「出街指南」和其他OutStreet 主要頁面找得到。
                                </div>
                            </div>
                            <div class="q_container">
                                <div class="q_num">（2）</div>
                                <div class="q_answer">
                                    <b>搜尋節目：</b>在搜尋器中，你除了可以搜尋商戶，你也可以選取節目來搜尋。選擇類別（如：音樂）、地區（如：紅磡）和關鍵字（如：劉德華）來尋找，如果想進階搜尋，還可以點擊「進階」選擇時間（如：本週末）、輸入主辦單位等條件尋找。
                                </div>
                            </div>
                            <br />
        				</td>
                    </tr> 
                    <tr>
                     	<td><img name="" src="__PUBLIC__/images/backgrounds/faq_gird01.gif" width="100%" height="17" alt="" /></td>
                    </tr>
                	<tr>
                  		<td><b>問：怎樣加入新商戶？</b><br />答：用戶可以在OutStreet 首頁或「出街指南」中找到「+ 新商戶」按鈕。點擊後便可根據表格填寫基本資料。提交表格並通過OutStreet 管理員審核後，你便成功在OutStreet 上加入新商戶。
</td>
                  	</tr> 
                	<tr>
                 		<td><img name="" src="__PUBLIC__/images/backgrounds/faq_gird01.gif" width="100%" height="17" alt="" /></td>
                  	</tr>
                	<tr>
                      	<td><b>問：怎樣編輯商戶資料/提供相片？</b><br />答：進入某個商戶專頁後，只需點擊「編輯資料」，根據表格填寫基本訊息，便可向OutStreet 提供最新資料。同樣道理，只需點擊相片框中的「提供相片」便可將你的圖片上載至OutStreet 。所提交的資料或相片通過OutStreet 管理員審閱後便會即時發佈。</td>
                  	</tr>
                	<tr>
                  		<td><img name="" src="__PUBLIC__/images/backgrounds/faq_gird01.gif" width="100%" height="17" alt="" /></td>
                  	</tr>
                	<tr>
                  		<td><b>如果有進一步查詢，歡迎電郵至<a href="mailto:comments@outstreet.com.hk">comments@outstreet.com.hk</a></b></td>
                  	</tr>
              	</table>
    		</div>
            <div class="footer"></div>
        </div>
		<div class="clearBoth"></div>
	</div>
	<div class="ot_d_body_content_right">
		<include file="Public:div-weather" />
        <include file="Public:div-btn_facebook" />      
	</div>
	<div class="clearBoth"></div>
</div>

<include file="Public:footer" />