<table width="600px" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150px" height="67px"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/images/eimg/logo.jpg" /></td>
    <td width="450px" height="67px"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/images/eimg/shopown.jpg" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
        <table width="95%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="10px"></td>
          </tr>         
          <tr>
            <td><font size="2"><b>店主{$nickname}，你好！</b></font>
                <p><font size="2">我們已經核對完你的資料，以及更新你個人頁面的內容。請點擊此鏈接查看<a href="{$link}"><font size="2" color="#2155b5">{$link}</font></a>。</font></p>
                <p><font size="2">如果你對OutStreet提供的店主服務有任何意見或查詢，歡迎隨時通過<a href="mailto:info@outstreet.com.hk"><font size="2" color="#2155b5">info@outstreet.com.hk</font></a>聯絡我們。多謝你的支持！</font></p>
                <p><font size="2">成功註冊為店主，你可以<b><u>免費</u></b>享有以下服務：
                	<ul>
                    	<li>介紹商戶主要業務及</li>
                        <li>更新商戶照片、關鍵字</li>
                        <li>公佈商戶最新資訊，特別優惠和近期活動</li>
                        <li>增加商戶在領先搜索引擎如Google，Yahoo!被潛在客戶搜索到的機會</li>
                    </ul>
                </font></p>
                <p><font size="2">為了令你的商戶專頁更加豐富, 更容易吸引OutStreet用戶, 建議你：
                	<ul>
                    	<li>上載商戶相片</li>
                        <li>填寫商戶基本資料, 包括營業時間, 網址, 簡介</li>
                        <li>鼓勵你的顧客到OutStreet寫有關你商戶的評介</li>
                    </ul>
                </font></p>                
            </td>
            </tr>
          <tr>
            <td height="10px"></td>
          </tr>            
          <tr>
            <td><div style="padding:8px;border:1px solid #cccccc;background-color:#f3f3f3;font-size:13px;">【歡迎登入OutStreet.com.hk，搜尋香港最新、最全面的出街資訊， 隨時分享你的出街心得！】</div></td>
          </tr>
          <tr>
            <td height="10px"></td>
          </tr>            
        </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" width="600px" height="13px"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/images/eimg/footer.jpg" /></td>
  </tr>
</table>