<include file="Public:sa-header" />

<script type="text/javascript">
$(document).ready(function(){
	$('.audit').bind('click', function(){
		var uri = $(this).attr('id');
		$.get(uri,function(data){			
			var json = $.parseJSON( data );
			alert(json.msg);
			location.reload();
		});
	});
});
</script>

<div class="container">
	<h3>評審商戶列表</h3>
	<div class="mainbox">
		<div>
			<a href="__URL__/listShopAudit/is_audit/0">顯示未審核的</a> |
			<a href="__URL__/listShopAudit/is_audit/1">顯示通過審核的</a> |
			<a href="__URL__/listShopAudit/is_audit/2">顯示不通過審核的</a> | 
            <a href="__URL__/listShopAudit/is_audit/all">顯示所有</a>
		</div>
		<table class="datalist fixwidth">
			<tr>
				<?php $sortcols = array( 'b.id'=>'ID', 'a.shop_id'=>'Shop ID', 'create_time'=>'創建時間' ); ?>
				<?php foreach( $sortcols AS $key=>$val ): ?>
					<th>
						<?php echo $val; ?><a href="__URL__/listShopAudit/is_audit/{.is_audit}/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/listShopAudit/is_audit/{.is_audit}/sort/{$key}/sortorder/desc">&#8593;</a>
					</th>
				<?php endforeach; ?>
                <th>會員ID</th>
				<th>需要審核的商戶名稱</th>
				<th>動作</th>
				<th>通過審核?</th>
				<th>修改</th>
			</tr>
			<iterate name="shopList" id="vo">
				<tr class="mousetr">
					<td width="50">{$vo.id}</td>
					<td width="50">{$vo.shop_id}</td>
					<td width="100" class="date">{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                    <td width="50" <if condition="$vo.user_type eq 1">style="background-color:yellow"</if>><if condition="$vo.user_id gt 0">{$vo.user_id}<if condition="$vo.user_type eq 1">（店主）</if><else/>無提供</if></td>
					<td width="100"><strong><?php if ( $vo['shopname'] ): ?><a href="<?php echo C('OUTSTREET_DIR') ?>/shop/view/id/{$vo.shop_id}" target="_blank">{$vo.shopname|msubstr=###,0,12|stripslashes}</a><?php else: ?>{$vo.tmpname|msubstr=###,0,12|stripslashes}<?php endif; ?></strong></td>
					<td width="30"><?php echo $vo['status'] == 'edit' ? '更新' : '新增'; ?></td>
					<td width="40">
						<?php if ( $vo['is_audit'] == 0 ): ?>
							<a href="javaScript:void(0);" id="__URL__/doShopAudit/tmpId/{$vo.id}/audit/1" class="green audit">是</a>
							<a href="javaScript:void(0);" id="__URL__/doShopAudit/tmpId/{$vo.id}/audit/2" class="red audit">否</a>
						<?php elseif ( $vo['is_audit'] == 1 ): ?>
							<span class="green">已通過審核</span>
						<?php elseif ( $vo['is_audit'] == 2 ): ?>
							<span class="red">不通過審核</span>
						<?php endif; ?>
					</td>
					<td width="40">
						<?php if ( $vo['is_audit'] == 0 ): ?>
							<a href="__URL__/shopAudit<?php echo $vo['status'] == 'edit' ? 'Edit' : 'Add'; ?>Edit/id/{$vo.id}" class="green">修改</a>
						<?php else: ?>
							已審核
						<?php endif; ?>
					</td>
				</tr>
			</iterate>
			<tr class="nobg">
            	<td class="tdpage" colspan="8">{$multipage}</td>
			</tr>
		</table>
	</div>
</div>

<include file="Public:sa-footer" />