<include file="Public:sa-header" />
<load href="__PUBLIC__/js/drawimage.js" />
<script type="text/javascript">
$(document).ready(function(){
	$('.audit').bind('click', function(){
		if(confirm('該操作不可恢復，確認嗎？')) {
			var uri = $(this).attr('id');
			$.get(uri,function(data){
				var json = $.parseJSON( data );
				alert(json.msg);
				location.reload();
			});
		}
	});
});
</script>

<div class="container">
	<h3>評審商戶相片列表</h3>
	<div class="mainbox">
		<div>
			<a href="__URL__/listShopPicAudit/is_audit/0">顯示未審核的</a> |
			<a href="__URL__/listShopPicAudit/is_audit/1">顯示通過審核的</a> |
			<a href="__URL__/listShopPicAudit/is_audit/2">顯示不通過審核的</a> | 
            <a href="__URL__/listShopPicAudit/is_audit/all">顯示所有</a>
		</div>
		<table class="datalist fixwidth">
			<tr>
				<?php $sortcols = array( 'id'=>'ID', 'name'=>'商戶名稱','create_time'=>'創建時間' ); ?>
				<?php foreach( $sortcols AS $key=>$val ): ?>
					<th>
						<?php echo $val; ?><a href="__URL__/listShopPicAudit/is_audit/{.is_audit}/sort/{$key}/sortorder/asc">&#8595;</a>|<a href="__URL__/listShopPicAudit/is_audit/{.is_audit}/sort/{$key}/sortorder/desc">&#8593;</a>
					</th>
				<?php endforeach; ?>
				<th>圖片</th>
				<th>簡介</th>
				<th>通過審核?</th>
			</tr>
			<iterate name="picList" id="vo">
				<tr class="mousetr">
					<td width="40">{$vo.id}</td>
					<td width="100"><strong><a href="<?php echo C('OUTSTREET_DIR') ?>/shop/view/id/{$vo.shop_id}" target="_blank">{$vo.name|msubstr=###,0,12|stripslashes}</a></strong></td>
					<td width="70" class="date">{$vo.create_time|date='Y-m-d H:i:s',###}</td>
					<td width="200"><if condition="$vo.file_path neq ''"><if condition="$vo.is_audit eq 0"><img onload="javascript:DrawImage(this,200,200)" src="<?php echo C(OUTSTREET_DIR); ?><?php echo C(REQUEST_SHOP_UPFILE_PATH); ?>{$vo.file_path}"/><elseif condition="$vo.is_audit eq 1" /><img onload="javascript:DrawImage(this,200,200)" src="<?php echo C(OUTSTREET_DIR); ?><?php echo C(SHOP_UPFILE_PATH); ?>{$vo.file_path}"/><elseif condition="$vo.is_audit eq 2" /><img onload="javascript:DrawImage(this,200,200)" src="<?php echo C(OUTSTREET_DIR); ?>/<?php echo C(REQUEST_FAIL_SHOP_UPFILE_PATH); ?>/{$vo.file_path}"/></if><else/>未有相片</if></td>
					<td width="100">{$vo.description}</td>
					<td width="50">
						<?php if ( $vo['is_audit'] == 0 ): ?>
							<a href="javaScript:void(0);" id="__URL__/doShopPicAudit/tmpId/{$vo.id}/audit/1" class="green audit">是</a>
							<a href="javaScript:void(0);" id="__URL__/doShopPicAudit/tmpId/{$vo.id}/audit/2" class="red audit">否</a>
						<?php elseif ( $vo['is_audit'] == 1 ): ?>
							<span class="green">已通過審核</span>
						<?php elseif ( $vo['is_audit'] == 2 ): ?>
							<span class="red">不通過審核</span>
						<?php endif; ?>
					</td>
				</tr>
			</iterate>
			<tr class="nobg">
				<td class="tdpage" colspan="6">{$multipage}</td>
			</tr>
		</table>
	</div>
</div>

<include file="Public:sa-footer" />