<include file="Public:box-header" />
<load href="__PUBLIC__/js/jquery.validate.js" />
<load href="__PUBLIC__/js/jquery.form.js" />

<script type="text/javascript" src="http://maps.google.com.hk/maps?file=api&v=2&key=ABQIAAAA265tqANg-PO9A0c1yzonRhTjMhPI1CAhGVtOIejGS_y-mHbIYBQkOamcSRGA1BZVqQuXy1KsEawDSw"></script>
<script>
$(document).ready(function(){
	request_cate_get();
	
	$('input[name=shopcate\\[\\]]').change( function() {
		var id = $(this).attr('id');
		var checked = $(this).attr('checked');
		if (checked) { $('.'+id).attr('checked',true); }
		$('.'+id).attr('disabled',checked);
	} );
	setTimeout( function() { $('input[name=shopcate\\[\\]]').trigger('change'); }, 10);
	
	//*************************************** Start For Select Mall **************************************//
	if(document.getElementById("mall")){
		$('#mall').bind("click", function(){
			if($('#mall').attr('checked')==true){
				$('#address').attr({readonly:true});
				$('#main_location_id_hidden').val($('#main_location_id').val());	
				$('#sub_location_id_hidden').val($('#sub_location_id').val());
				$('#sub_location_id').attr({disabled:true});			
				$('#address').css('background-color','#ebebe4');
				$('#googlemap_lat').val('');
				$('#googlemap_lng').val('');
				$('#bymallselect').css("display","");
				$('#bymallselect').attr({disabled:false});
				$('#mall_id').val('0');
				$('#mallname').val('');
				$('#address').val('');
			}else{
				$('#address').attr({readonly:false});
				$('#sub_location_id').attr({disabled:false});	
				$('#address').css('background-color','#FFFFFF');
				$('#bymallselect').css("display","none");
				$('#bymallselect').attr({disabled:true});
				$('#malllist').hide();
				$('#mall_id').val('0');
				$('#mallname').val('');
				$('#address').val('');
				$('#googlemap_lat').val('');
				$('#googlemap_lng').val('');
				$('#address').trigger('blur');
			}
		});
		$('#mallname').bind('propertychange input keyup click', function(){
			fillSelected();		
		});
		$('#sub_location_id').change(function(){		
			var sub_id=$('#sub_location_id').val();
			var uri = '__ROOT__/Shoprequest/getMainlocationid/sub_location_id/'+sub_id;		
			$.getJSON(uri, function(json){		
				$('#main_location_id').val(json.data);
			});
		});	
		$('#reset').click(function(){
			$('#mallname').attr({readonly:false});
			$('#mallname').css('background-color','#FFFFFF');
			$('#mallname').val('');
			$('#address').val('');
			$('#googlemap_lat').val('');
			$('#googlemap_lng').val('');
			$('#mall').attr('checked',false).trigger('click').attr('checked',false);
			$('#reset').css('display','none');
		});
		function fillSelected(){	
			var mainLocationId = $('#main_location_id').val();
			var subLocationId = $('#sub_location_id').val();
			if (mainLocationId == '' || subLocationId == ''){
				alert('請選擇店鋪區域及所屬地區');
				$('#bymallselect').css("display","none");
				$('#main_location_id').focus();
				$('#main_location_id').select();
				$('#mall').attr('checked', false);
				$('#main_location_id').attr({disabled:false});	
				$('#sub_location_id').attr({disabled:false});
				return;
			}			
			var uri = '__ROOT__/Shoprequest/getMall?main_location_id='+mainLocationId+'&sub_location_id='+subLocationId+'&key=' + encodeURI($('#mallname').val());
			$.getJSON(uri, function(json){
				$('#malllist').empty();	
				$('#malllist').show();
				$('#nomalltip').hide();
				if (json.data != null){			
					for (idx in json.data){				
						var li;				
						if (json.data[idx].name != ''){					
							li = $('<li id="mall'+json.data[idx].id+'">' + json.data[idx].name + '(' + json.data[idx].sub_location.name + json.data[idx].address + json.data[idx].rooms + ')</li>');					
						}else{					
							li = $('<li id="mall'+json.data[idx].id+'">' + json.data[idx].eng_name + '(' + json.data[idx].sub_location.name + json.data[idx].address + json.data[idx].rooms+ ')</li>');
						}
						li.data('mall', json.data[idx]);				
						li.bind('click', function(){										 
							$('#mallname').val($(this).data('mall').name);
							$('#address').val($(this).data('mall').address);
							$('#rooms').val($(this).data('mall').rooms);
							$('#mall_id').val($(this).data('mall').id);
							$('#mallname').attr({readonly:true});
							$('#mallname').css('background-color','#ebebe4');
							$('#reset').css({display:''});
							$('#address').trigger('blur');
							$(this).parents('#malllist').hide();
						});				
						$('#malllist').append(li);
					}
				}else{
					$('#nomalltip').show();			
				}
			});
		}
	}
	//*************************************** End For Select Mall **************************************//
	
	//*************************************** Start For Google Map **************************************//
	if (document.getElementById("gmap")) {
		var map = null;
		var geocoder = null;	

		map = new GMap2(document.getElementById("gmap"));
		geocoder = new GClientGeocoder();

		map.addControl(new GLargeMapControl());
		var latlng = new GLatLng(<?php echo $data['googlemap_lat']; ?>,<?php echo $data['googlemap_lng']; ?>);
		map.setCenter(latlng, 17);
		var marker = new GMarker(latlng, {draggable: true});
		map.addOverlay(marker);
		marker.openInfoWindowHtml($('#address').val());
		GEvent.addListener(marker, "dragstart", function() {
			map.closeInfoWindow();
		});
						
		GEvent.addListener(marker, "dragend", function() {
			var mlatlng = marker.getLatLng();
			$('#googlemap_lat').val(mlatlng.lat());
			$('#googlemap_lng').val(mlatlng.lng());							
		});

		$('#address').bind("blur", function(){
			if ($('#address').val()!='') {
				$('#addressError').text('正在搜索您輸入的街道'+$('#address').val()+'是否存在...');
				$('#addressError').css('background-color','#66f');
			
			  	geocoder.getLatLng(
					$('#address').val(),
					function(point) {
						if (!point) {
							$('#addressError').text('無法找到您輸入的街道地址，請重新輸入');
							$('#addressError').css('background-color','#f66');
							$('#address').focus();
					  	} else {
							$('#addressError').text('您輸入的街道地址位於東經'+point.lat()+'度,北緯'+point.lng()+'度');
							$('#addressError').css('background-color','#6f6');
							$('#googlemap_lat').val(point.lat());
							$('#googlemap_lng').val(point.lng());
								
							map.clearOverlays();
							map.setCenter(point, 17);
							var marker = new GMarker(point, {draggable: true});
		
							GEvent.addListener(marker, "dragstart", function() {
								map.closeInfoWindow();
							});
								
							GEvent.addListener(marker, "dragend", function() {
								var mlatlng = marker.getLatLng();
								$('#googlemap_lat').val(mlatlng.lat());
								$('#googlemap_lng').val(mlatlng.lng());							
							});
		
							map.addOverlay(marker);
							marker.openInfoWindowHtml($('#address').val());
					  	}
					}
		  		);
	  		}
		});
	}
	//*************************************** End For Google Map **************************************//
	
	//*************************************** Start For Shop Cate **************************************//
	var subCateSelectClone = $( '#sub_cat_select div' );
	$( '#sub_cat_add' ).click(function() {
		var mySubCateSelectClone = subCateSelectClone.clone();
		mySubCateSelectClone.find( 'select' ).attr( 'name', 'sub_shop_cate_ids[]' );
		mySubCateSelectClone.find( 'a' ).show().click(function(){ $(this).parent().remove(); });
		mySubCateSelectClone.appendTo( '#sub_cat_select' );
	});
	$( 'select[name=sub_shop_cate_id]' ).find( 'option[value=<?php echo $data["sub_shop_cate_id"]?>]' ).attr('selected', 'selected');

	<?php foreach ($ShopCateMap AS $val): ?>
		var mySubCateSelectClone = subCateSelectClone.clone();
		mySubCateSelectClone.find( 'select' ).attr( 'name', 'sub_shop_cate_ids[]' ).find( 'option[value=<?php echo $val["cate_id"]?>]' ).attr('selected', 'selected');
		mySubCateSelectClone.find( 'a' ).show().click( function(){ $(this).parent().remove(); } );
		mySubCateSelectClone.appendTo( '#sub_cat_select' );
	<?php endforeach; ?>
	//*************************************** End For Shop Cate **************************************//
	
	var validator = $( '#theform' ).validate({
		rules: {
			cate_names:{
				required: true
			},
			sub_shop_cate_id:{
				required: true
			},
			sub_location_id:{
				required: true
			},
			name:{
				required: true
			},
			address: {
				required: true,
				minlength: 2
			},
			telephone: {
				required: true,
				number: true,
				minlength: 8
			},
			sub_telephone: {
				number: true,
				minlength: 8
			},
			email: {
				email: true
			},
			website:{
				url: true
			}
		},
		messages: {
			cate_names:{
				required: '類別是必須'
			},
			sub_shop_cate_id: {
				required: '類別是必須'
			},
			sub_location_id: {
				required: '店鋪區域是必須'
			},
			name: {
				required: '店鋪名稱是必須'
			},
			address: {
				required: "請輸入地址",
				minlength: "地址不能少於2個字符"
			},
			telephone:{
				required: "請輸入電話號碼",
				minlength: "請輸入8位電話號碼",
				number: "電話號碼必需為數字"
			},
			sub_telephone:{
				minlength: "請輸入8位電話號碼",
				number: "電話號碼必需為數字"
			},
			email: "請輸入一個正確的email地址",
			website:"必須是合法的鏈接"
		},
		submitHandler: function(){
			if (document.getElementById("shoptime")) {
				weekinput= 0;
				warning  = 0;
				dayoff = 0;
				for(i=0; i<8; i++){
					if(!$('#work_dayoff_'+i).attr('checked')) {					
							if ( $('#work_start_time_'+i).val() > 0 && $('#work_start_time_'+i).val() < 2400
								&& $('#work_end_time_'+i).val() > 0 && $('#work_end_time_'+i).val() < 2400
								&& $('#work_start_time_'+i).val().length == 4 && $('#work_end_time_'+i).val().length == 4 ) {
								weekinput++; 
							} else {
								warning++;
								alert('營業時間不正確!');
							}						
					}else{
						dayoff++;
					}
				}
				if (warning > 0 || dayoff==8){				
					alert('最少要填寫一個正確的營業時間');
					return false;
				}
			}
			if($('#googlemap_lat').val()==''||$('#googlemap_lng').val()==''||$('#googlemap_lat').val()<1||$('#googlemap_lng').val()<1){
				alert('地圖錯誤, 請重新選擇');
				return;
			}
			$( '#theform' ).ajaxSubmit({									   
				success: function ( response, status ) {
					var json = $.parseJSON( response );
					if(json.result==true){						
						alert('修改成功');
						$( location ).attr( 'href', "__URL__/listShopAudit" );
					} else if(json.result==false){						
						if(json.warning){
							alert(json.warning);
						}else {
						alert(json.warning);
						}						
					}
				}
			});
		}
	});

});

function setcates(cates){
	$('#cate_ids').val('');
	$('#cate_names').val('');
	var _ids = $('#cate_ids');
	var _names = $('#cate_names');	

	for(idx in cates){
		
		if (_ids.val() != ''){
			_ids.val(_ids.val()+ ',')
		}
		if (_names.val() != ''){
			_names.val(_names.val()+ ',')
		}
					
		var id_ = cates[idx].value.split('||')[0];
		var name_ = cates[idx].value.split('||')[1];
		_ids.val(_ids.val() + id_);		
		_names.val(_names.val() + name_);		
	}
}

function getcates(){
	var arr = $('#cate_ids').val().split(',');
	for(idx in arr){
		if (arr[idx] != ''){
			$('#cate_id_' + arr[idx]).attr('checked', true);
		}
	}
}

function request_cate_get(){
	$.getJSON('__APP__/sa/getShopCateSubs/type/request/shopid/' + {$id},function(json){		
		var _ids = $('#cate_ids');
		var _names = $('#cate_names');
		for(idx in json.data){
			if (_ids.val() != ''){
				_ids.val(_ids.val()+ ',')
			}
			if (_names.val() != ''){
				_names.val(_names.val()+ ',')
			}
			_ids.val( _ids.val() + json.data[idx].cate_id);
			_names.val( _names.val() + json.data[idx].cate_name);
		}
	});
}

function changeWorkTime(i) {	
	if ($('#work_dayoff_'+i).attr('checked')) {
		$('#work_start_time_'+i).val('');
		$('#work_end_time_'+i).val('');
		$('#time_input_'+i).hide(); 
		$('#time_input_'+i).hide(); 
	} else {
		$('#time_input_'+i).show();
		$('#time_input_'+i).show();
	}
}
</script>

<style type="text/css"> 
	.block { display: block; }
	form label.error { color: red; display: block; }	
	#form_table { border:solid 1px #91c5e2;width:800px;position:relative;}
	td { padding: 7px; background-color:#FFF;}
	#form_title { width:130px; font-weight:bold;}
	#form_answer { vertical-align:bottom; }
</style> 

<div style="padding:5px; text-align:left">
<form id="theform" action="__APP__" method="post" onsubmit="false">
    <input type="hidden" name="m" value="Shoprequest" />
    <input type="hidden" name="a" value="doShopAuditAddEdit" />      
    <input type="hidden" name="id" value="{$id}" />
    <input type="hidden" name="shop_id" value="{$data.shop_id}" />
    <table border="0" cellspacing="0" cellpadding="0" class="form_table">
    	<tr>
       		<td id="form_title" colspan="2" style="border-bottom:3px #069 solid"><h3>評審新增商戶</h3></td>
        </tr>
        <tr>        
            <td id="form_title"><font color="#FF0000">*</font>所屬類別：</td>
            <td id="form_answer">
				<input type="hidden" name="cate_ids" id="cate_ids" readonly="true" />
             	<input type="text" name="cate_names" id="cate_names" readonly="true" title="請選擇類別" alt=
"__URL__/selshopcate/eleid/cate_ids?height=400&width=450&modal=false" class="thickbox" />
				<input type="hidden" id="old_cate_ids" class="red" readonly="true" />
            </td>           
        </tr>
        <tr>
			<td id="form_title">所屬品牌:</td>
            <td id="form_answer">
                <select name="brand_id">
                    <option value="0">無品牌</option>
                    <?php foreach ( $brand AS $val ): ?>
                        <option value="<?php echo $val[ 'id' ]; ?>"<?php echo $data['brand_id'] == $val[ 'id' ] ? ' selected' : '' ?>>
                            <?php echo $val[ 'name' ]; ?>
                        </option>
                	<?php endforeach; ?>
                </select>
                <if condition="$data['brand_name'] neq ''">
                    <input type="hidden" name="brand_name" value="{$data.brand_name}" />
                </if>
            </td>			
		</tr>
        <tr>
			<td id="form_title"><font color="#FF0000">*</font>商戶名稱：</td>
            <td id="form_answer"><input type="text" id="name" name="name" value="{$data.name}" /></td>
		</tr>
		<tr>
			<td id="form_title">商戶名稱(英文)：</td>
			<td id="form_answer"><input type="text" id="eng_name" name="eng_name" value="{$data.eng_name}" /></td>
		</tr>
        <tr>
			<td id="form_title"><font color="#FF0000">*</font>商戶區域:</td>
            <td id="form_answer">
                <input type="hidden" id="sub_location_id_hidden" value="{$data['sub_location_id']}" name="sub_location_id"/>
                <select name="sub_location_id" id="sub_location_id" <if condition="$data['parent_shop_id'] neq '0'">disabled</if>>
                <?php foreach ( $sublocation AS $val ): ?>
                    <option value="<?php echo $val[ 'location_sub_id' ]; ?>"<?php echo $data['sub_location_id'] == $val[ 'location_sub_id' ] ? ' selected' : '' ?>><?php echo $val[ 'main_location_name' ]; ?> - <?php echo $val[ 'sub_location_name' ]; ?></option>
                <?php endforeach; ?>
                </select>
                <input type="hidden" id="main_location_id" value="{$data.main_location_id}">
			</td>
		</tr>	
        <tr>
        	<td id="form_title">所屬商場:</td>
            <td id="form_answer">
                <if condition="$data['parent_shop_id'] neq '0'">
                <input type="checkbox" name="is_mall" id="mall" value="1" checked='true'/>
                <else />
                <input type="checkbox" name="is_mall" id="mall" value="1"/>
                </if>
                <input id="mall_id" name="parent_shop_id" value="{$data.parent_shop_id}" style="display:none">
            </td>
        </tr>
        <tr <if condition="$data['parent_shop_id']==0">style='display:none'</if> id='bymallselect'>
            <td id="form_title">根據商戶選擇</td>
            <td id="form_answer">
                <input type="text" id="mallname" class="forge_drop" <if condition="$data['parent_shop_id'] neq 0">readonly="true"</if> value="{$data['mall_name']}"/>
                <button id="reset" class="ot_o_resetbtn" style="display:none">重新選擇商場</button>
                <ul id="malllist"></ul>
                <div id="nomalltip" style="display:none">沒有找到您輸入的商戶</div>           
            </td>
        </tr>
    	<tr>
        	<td id="form_title" style="vertical-align:text-top"><font color="#FF0000">*</font>詳細地址：</td>
           	<td id="form_answer">
            	<input type="text" name="address" value="{$data.address}" id="address" <if condition="$data['parent_shop_id'] neq 0">readonly="true"</if>/>
                <br />
                <span id="addressError">如:xx街xx號</span>
                <div id="gmap" style="width:300px; height:300px;"></div><br>
                <input type="text" name="googlemap_lat" readonly="true" id="googlemap_lat" value="{$data.googlemap_lat}" class="small"/>
                <input type="text" name="googlemap_lng" readonly="true" id="googlemap_lng" value="{$data.googlemap_lng}" class="small"/>
        	</td>
		</tr>		
		<tr>
			<td id="form_title">場所：</td>
            <td id="form_answer"><input type="text" name="rooms" value="{$data.rooms}" />  如:xx廣場3樓C-D店</td>
		</tr>
		<tr>
			<td id="form_title">場所(英文)：</td>
            <td id="form_answer"><input type="text" name="eng_rooms" value="{$data.eng_rooms}" />  eg:xx Plaza 3/F C-D Shop</td>
		</tr>
    	<tr>
			<td id="form_title">詳細地址(英文)：</td>
            <td id="form_answer"><input type="text" name="eng_address" value="{$data.eng_address}" size="50"/></td>
		</tr>
		<tr>
			<td id="form_title"><font color="#FF0000">*</font>營業時間：</td>
           	<td id="form_answer">
            	<table style="width:100%;" cellspacing="0" cellpadding="0">
                 	<?php $week = array( '星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日', '公眾假期' ); ?>
                    <?php for( $i=0; $i<8; $i++ ): ?>
                    	<tr>
                        	<td><?php echo $week[$i]; ?></td>
                    		<td><input type="checkbox" name="work_dayoff_{$i}" id="work_dayoff_{$i}" value="1" onclick="changeWorkTime('{$i}')" <if condition="$shopTime[$i+1]['start_time'] == '' and $shopTime[$i+1]['end_time'] == ''">checked='true'</if>/>休息</td>
                           	<td style="width:280px;">
                            <div id="time_input_{$i}" style="<if condition="$shopTime[$i+1]['start_time'] eq '' and $shopTime[$i+1]['end_time'] eq ''"> display:none</if>"><input type="text" name="work_start_time_{$i}" id="work_start_time_{$i}" value="<?php echo $shopTime[$i+1]['start_time']; ?>" style="width: 80px;" maxlength="4" /> - <input type="text" name="work_end_time_{$i}" id="work_end_time_{$i}" value="<?php echo $shopTime[$i+1]['end_time']; ?>" style="width: 80px;" maxlength="4"/>&nbsp;如: 0900 - 2230
							</div>
                            </td>
                        </tr>
                     <?php endfor; ?>
                     <tr>
                     	<td colspan="3"><input type="hidden" name="warning"></td>
                     </tr>
            	</table>                  
            </td>
		</tr>
   		<tr>
			<td id="form_title">商戶介紹：</td>
            <td id="form_answer"><textarea name="description" rows="6" cols="40">{$data.description}</textarea></td>
		</tr>
   		<tr>
			<td id="form_title">商戶介紹(英文)：</td>
            <td id="form_answer"><textarea name="eng_description" rows="6" cols="40">{$data.eng_description}</textarea></td>
		</tr>
		<tr>
			<td id="form_title">泊車資料：</td>
            <td id="form_answer"><input type="text" name="parking" maxlength="20" value="{$data.parking}" size="50"/></td>
		</tr>
		<tr>
			<td id="form_title">泊車資料(英文)：</td>
            <td id="form_answer"><input type="text" name="eng_parking" maxlength="20" value="{$data.eng_parking}" size="50"/></td>
		</tr>
		<tr>
			<td id="form_title"><font color="#FF0000">*</font>聯絡電話：</td>
            <td id="form_answer"><input type="text" name="telephone" value="<?php if($data['telephone'] > 0) { echo $data['telephone']; } ?>" size="10" maxlength="8"/></td>
		</tr>
   		<tr>
			<td id="form_title">次聯絡電話：</td>
            <td id="form_answer"><input type="text" name="sub_telephone" value="<?php if($data['sub_telephone'] > 0) { echo $data['sub_telephone']; } ?>" size="10" maxlength="8"/></td>
		</tr>
		<tr>
			<td id="form_title">網址：</td>
            <td id="form_answer"><input type="text"  name="website" value="{$data.website}" size="50"/></td>
		</tr>
		<tr>
			<td id="form_title">電郵：</td>
            <td id="form_answer"><input type="text"  name="email" value="{$data.email}" size="50"/></td>
		</tr>
        <tr>
			<td id="form_title">關鍵詞：</td>
            <td id="form_answer"><input type="text"  name="keyword" value="{$data.keyword}" size="50"/></td>
		</tr>
        <tr>
			<td id="form_title">關鍵詞(英文)：</td>
            <td id="form_answer"><input type="text"  name="eng_keyword" value="{$data.eng_keyword}" size="50"/></td>
		</tr>
		<tr>
			<td id="form_title">狀態：</td>
            <td id="form_answer">
                <input type="checkbox" name="is_closed" id="is_closed" value="1" <if condition="$data['shop_status'] == 2">checked='true'</if> />&nbsp;結業
                <input type="checkbox" name="is_renovation" id="is_renovation" value="1" <if condition="$data['shop_status'] == 3">checked='true'</if> />&nbsp;裝修中
                <input type="checkbox" name="is_moved" id="is_moved" value="1" <if condition="$data['shop_status'] == 1">checked='true'</if> />&nbsp;已搬址
           </td>
		</tr>
        <tr>
            <td colspan="2" style="text-align:right"><input type="submit" value="修改" /></td>
        </tr>
    </table>
</form>
</div>

<include file="Public:box-footer" />