textarea#workspace {
	width: 50%;
	height: 200px;
	overflow: auto;
	background: #f3f6ff;
	border: #abf dashed 1px;
	margin: 10px 0;
}

div#progressBar {
	height: 30px;
	border: 1px solid #abc;
	width: 50%;
	margin: 10px 0;
	position: relative;
}

div#curProgreass {
	height: 30px;
	width: 0;
	background: #789;
}

span#curProgressNum {
	padding: 1px;
	margin: 6px 0;
	left: 48%;
	position: absolute;
	z-index: 100;
	color: #630;
}

p#workinfo {
	
}

span.spliter {
	padding-left: 4px;
	background: #36f;
	margin-right: 4px;
}