<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.validate.min.js" />
<load href="__PUBLIC__/js/uploadimage.js" />

<style type="text/css">
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; display: none;};
</style>

<load href="__PUBLIC__/css/ot_s03.css" /> 
<load href="__PUBLIC__/js/jquery.jclock.js" />
<script type="text/javascript" src="http://maps.google.com.hk/maps?file=api&v=2&key=ABQIAAAA265tqANg-PO9A0c1yzonRhTjMhPI1CAhGVtOIejGS_y-mHbIYBQkOamcSRGA1BZVqQuXy1KsEawDSw"></script>
<script type="text/javascript">
	$().ready(function(){
		$('.events a').toggleClass('current');
	});
</script>
<script type="text/javascript">
var map = null;
var geocoder = null;
$().ready(function() {
	$("#addForm").validate({
		rules: {
			//parent_id: "required",
			//sub_event_cate_id: "required",
			cate_id: "required",
			main_location_id: "required",
			sub_location_id: "required",
			creater_name: {
				//required: true,
				maxlength: 20
			},
			name: {
				required: true,
				maxlength: 20
			},
			english_name: {
				//required: true,
				maxlength: 50
			},
			details: {
				required: true,
				minlength: 30
			},
			start_date: {
				required: true,
				date: true
			},
			end_date: {
				required: true,
				date: true
			},
			address: {
				required: true,
				minlength: 2
			},
			email: {
				//required: true,
				email: true
			},
			website:{
				url: true
			},
			telephone: {
				required: true,
				minlength: 8
			},
			ticket_website:{
				url: true
			},
			ticket_phone: {
				minlength: 8
			},
			ticket_startdate: {
				date: true
			}
		},
		messages: {
			//parent_id: "請選擇節目主分類",
			//sub_event_cate_id: "請選擇節目子分類",
			cate_id: "請選擇節目子分類",
			main_location_id: "請選擇節目所在區域",
			sub_location_id: "請選擇節目所在商圈",
			name:"請輸入節目名稱",
			details: "節目的介紹不得少於30個字符",
			creater_name:"請輸入主辦者名稱",
			start_date: {
				required: "請輸入開始日期"
			},
			end_date: {
				required: "請輸入結束日期"
			},
			address: {
				required: "請輸入地址",
				minlength: "地址不能少於2個字符"
			},
			email: "請輸入一個正確的電郵地址",
			website:"必須是合法的鏈接",
			telephone: {
				required: "請輸入電話",
				minlength: "電話不能少於8個字符"
			},		
			ticket_website:"必須是合法的鏈接",
			ticket_phone: {
				minlength: "電話不能少於8個字符"
			},
			ticket_startdate: "請輸入開始售票日期"
		}
	});
	
	//綁定事件
	$('#ticket_required').bind("change", function(){
		if($('#ticket_required:checked').val()!=null){
			$('#ticket_website_row').show();
			$('#ticket_phone_row').show();
			$('#ticket_price_row').show();
			$('#ticket_startdate_row').show();									
		}else{
			$('#ticket_website_row').hide();
			$('#ticket_phone_row').hide();
			$('#ticket_price_row').hide();
			$('#ticket_startdate_row').hide();			
		}
		
	});
	 
	$('#parent_id').bind("change", function(){
		//設置相應隱藏域的值
		//$('#main_event_cate_name').val(this.options.item(this.selectedIndex).text);

		//ajax取子分類
		$('#cate_id').empty();
		$.getJSON('__ROOT__/ajax/eventCateSub/mainid/' + $(this).val(),function(json){
			for (idx in json.data){
				
				//if (idx == 0){
					//$('#sub_event_cate_name').val(json.data[idx].name);
				//}
				
				$('#cate_id').append('<option value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
			}
		});
	});

	//綁定事件  
	//$('#sub_event_cate_id').bind("change", function(){
		//設置相應隱藏域的值
		//$('#sub_event_cate_name').val(this.options.item(this.selectedIndex).text);
	//});

	//綁定事件
	$('#main_location_id').bind("change", function(){
		
		//設置相應隱藏域的值
		$('#main_location_name').val(this.options.item(this.selectedIndex).text);
		
		//ajax取商圈
		$('#sub_location_id').empty();
		$.getJSON('__ROOT__/ajax/locationSub/mainlocationid/' + $(this).val(),function(json){
			for (idx in json.data){
				
				if (idx == 0){
					$('#sub_location_name').val(json.data[idx].name);
				}
				
				$('#sub_location_id').append('<option value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
			}
		});
	});
	
	//綁定事件  
	$('#sub_location_id').bind("change", function(){
		//設置相應隱藏域的值
		$('#sub_location_name').val(this.options.item(this.selectedIndex).text);
	});	

	$('#start_date,#end_date,#ticket_startdate').datepick({beforeShow: customRange});  
	function customRange(input) {  
		return {minDate: (input.id == 'end_date' ? 
			$('#start_date').datepick('getDate') : '+0D',
			input.id == 'start_date' ? 
			'+0D': '+0D'),  
			maxDate: (input.id == 'start_date' ? 
			$('#end_date').datepick('getDate') : null)};  
	}

      var options = {
		format: '%Y-%m-%d %A %H:%M',
        timeNotation: '12h',
        am_pm: true,
		timeout: 6000
      }
      $('.jclock').jclock(options);
	
	$.timeEntry.setDefaults({show24Hours: true});
	$('#start_hour').timeEntry({spinnerImage: ''});
	$('#start_hour').timeEntry('setTime', '0'); 
	$('#end_hour').timeEntry({spinnerImage: ''});
	$('#end_hour').timeEntry('setTime', '+30M'); 

	map = new GMap2(document.getElementById("gmap"));
	geocoder = new GClientGeocoder();
  	var trafficOptions = {incidents:true};
  	var trafficInfo = new GTrafficOverlay(trafficOptions);
  	map.addOverlay(trafficInfo);
	
	map.addControl(new GLargeMapControl());

	$('#address').bind("keyup click",function(){
		$('#shop_id').val('');
		$('#byShopSelect').hide();	
	});

	$('#address').bind("blur", function(){
		if ($('#main_location_id').val()=='' || $('#sub_location_id').val()==''){
			return;
		}

		$('#addressError').text('正在搜索您輸入的街道'+$('#main_location_name').val() + ' ' + $('#sub_location_name').val() + ' ' + $('#address').val()+'是否存在...');
		$('#addressError').css('background-color','#66f');
		
	  geocoder.getLatLng(
	    $('#main_location_name').val() + ' ' + $('#sub_location_name').val() + ' ' + $('#address').val(),
	    function(point) {
	      if (!point) {
	      	$('#addressError').text('無法找到您輸入的街道地址，請重新輸入');
					$('#addressError').css('background-color','#f66');
	      	$('#address').focus();
	      } else {
	      	$('#addressError').text('您輸入的街道地址位於東經'+point.lat()+'度,北緯'+point.lng()+'度');
					$('#addressError').css('background-color','#6f6');
	      	$('#googlemap_lat').val(point.lat());
	      	$('#googlemap_lng').val(point.lng());

						map.setCenter(point, 17);
						var marker = new GMarker(point, {draggable: true});

						GEvent.addListener(marker, "dragstart", function() {
						  map.closeInfoWindow();
						  });
						
						GEvent.addListener(marker, "dragend", function() {
							var mlatlng = marker.getLatLng();
			      	$('#googlemap_lat').val(mlatlng.lat());
			      	$('#googlemap_lng').val(mlatlng.lng());							
						});

						map.addOverlay(marker);
						marker.openInfoWindowHtml($('#sub_location_name').val() + ' ' + $('#address').val());
	      }
	    }
	  );
	});
	
	$('#shopname').bind('keyup click', function(){
		fillSelected();
	});
	
	$('#btnSelectByShop').bind('click', function(){
		$('#byShopSelect').show();
	});


});

function fillSelected(){
	
	var mainLocationId = $('#main_location_id').val();
	var subLocationId = $('#sub_location_id').val();
	if (mainLocationId == ''){
		alert('請選擇節目所在區域');
		$('#main_location_id').focus();
		$('#main_location_id').select();		
		return;
	}
	if (subLocationId == ''){
		alert('請選擇節目所在商圈');
		$('#sub_location_id').focus();	
		$('#main_location_id').select();			
		return;
	}

	var uri = '__ROOT__/Ajax/getShopByKeyword?main_location_id='+mainLocationId+'&sub_location_id='+subLocationId+'&key=' + $('#shopname').val();
	
	$.getJSON(uri, function(json){
		$('#shoplist').empty();
		$('#shoplist').show();
		$('#noshoptip').hide();
		if (json.data != null){
			for (idx in json.data){
				var li;
				if (json.data[idx].name != ''){
					li = $('<li>' + json.data[idx].name + '(' + json.data[idx].sub_location.name + json.data[idx].address + json.data[idx].rooms + ')</li>');
				}else{
					li = $('<li>' + json.data[idx].eng_name + '(' + json.data[idx].sub_location.name + json.data[idx].address + json.data[idx].rooms+ ')</li>');
				}
				li.data('shop', json.data[idx]);
				
				li.bind('click', function(){
					$('#shopname').val($(this).data('shop').name);
					$('#address').val($(this).data('shop').address);
					$('#rooms').val($(this).data('shop').rooms);
					$('#shop_id').val($(this).data('shop').id);
					$('#address').trigger('blur');
					$(this).parents('#shoplist').hide();
				});
				
				$('#shoplist').append(li);
			}
		}else{
			$('#noshoptip').show();
		}
	});
}
</script>

<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
	<form id="addForm" name="addForm" method="post" action="__APP__/event/add">
	<input type="hidden" name="picstamp" value="{$picstamp}" />
	<table border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #91c5e2;width:640px;position:relative;top:17px" id="eventForm">
  		<tr>
    		<td style="background-color:#cfedfe;padding:7px" id="header2"><b>創建節目</b></td>
  		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;padding:7px"><div style="float:left;width:130px;position:relative;"><b>節目相片：</b></div>
      			<div style="float:right;width:510px;position:relative;left:15px">
                	<?php echo generateUploadPicModule(5,$picstamp)?>
      			</div>
			</td>
  		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000">*</font>節目名稱：</b></div>
      			<div style="float:left;width:400px"><input type="text" name="name" id="name" /></div>
        	</td>
 		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>English Name：</b></div>
              	<div style="float:left;width:400px"><input type="text" name="english_name" id="english_name" /></div>
			</td>
  		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>主辦單位：</b></div>
      			<div style="float:left;width:400px"><input type="text" name="creater_name" id="creater_name" /></div>
			</td>
 		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000">*</font>開始日期：</b></div>
      			<div style="float:left;width:400px">
       				<input type="text" name="start_date" id="start_date" size="8" class="small" />  幾點:
        			<input type="text" name="start_hour" id="start_hour" size="4" class="small" />
        			<label for="start_date" class="error">請輸入開始日期</label>
      			</div>
			</td>
  		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000">*</font>結束日期：</b></div>
      			<div style="float:left;width:400px">
        			<input type="text" name="end_date" id="end_date" size="8" class="small" />  幾點:
        			<input type="text" name="end_hour" id="end_hour" size="4" class="small" />
        			<label for="end_date" class="error">請輸入结束日期</label>
      			</div>
			</td>
		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>具體時間：</b></div>
      			<div style="float:left;width:400px">(該活動期間每天具體的時間)<br /><textarea name="time_more" cols="45" rows="5"></textarea></div>
			</td>
  		</tr>
  		<tr>
            <td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000">*</font>所屬分類：</b></div>
              	<div style="float:left;width:400px">
                	<select id="parent_id" name="parent_id">
                  		<option value="">請選擇主分類</option>
                      	<iterate name="eventCateList" id="vo">
                        	<option value="{$vo.id}">{$vo.name}</option>
                      	</iterate>
                	</select>
                	<input type="hidden" value="" id="main_event_cate_name" name="main_event_cate_name" />
              	</div>
			</td>
		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000">*</font>所屬子分類：</b></div>
              	<div style="float:left;width:400px">
                	<select id="cate_id" name="cate_id">
                  		<option value="">請選擇子分類</option>
                	</select>
              	</div>
			</td>
  		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000">*</font>節目地址：</b></div>
              	<div style="float:left;width:400px">
                	<select id="main_location_id" name="main_location_id">
                  		<option value="">請選擇區域</option>
                      	<iterate name="mainLocationList" id="vo">
                        	<option value="{$vo.id}">{$vo.name}</option>
                      	</iterate>
                	</select>
                	<input type="hidden" value="" id="main_location_name" name="main_location_name" />
                	<select id="sub_location_id" name="sub_location_id">
                  		<option value="">請選擇商圈</option>
                	</select>
                	<input type="hidden" value="{$vo.shop.sub_location.name}" id="sub_location_name" name="sub_location_name" />
            	</div>
			</td>
		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000">*</font>具體地址：</b></div>
      			<div style="float:left;width:400px">
        			<input type="text" name="address" id="address" size="25"/>
					<input id="btnSelectByShop" type="button" value="" class="shop_choice"/><br /><span id="addressError">如:xx街xx號</span>
      			</div>
			</td>
  		</tr>
  		<tr id="byShopSelect" style="display:none">
    		<td style="background-color:#FFFFFF;"><div style="float:left;width:130px"><b>根據商戶選擇：</b></div>
                <div style="float:left;width:auto">
                    <input type="text" id="shopname" class="forge_drop" />
                    <ul id="shoplist"></ul>
                    <div id="noshoptip" style="display:none">沒有找到您輸入的商戶</div>
                </div>
			</td>
  		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;"><div style="float:left;width:130px"><b>地圖：</b></div>
            	<div style="float:left;width:400px">
                	<div id="gmap"></div>
                	<input type="text" name="googlemap_lat" readonly="true" id="googlemap_lat" class="small" />
                	<input type="text" name="googlemap_lng" readonly="true" id="googlemap_lng" class="small" />
              	</div>
			</td>
		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>場所：</b></div>
      			<div style="float:left;width:400px">
                	<input type="text" name="rooms" id="rooms" />
                	<input type="hidden" name="shop_id" id="shop_id" />如:xx廣場3樓C-D店
            	</div>
       		</td>
  		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000">*</font>節目介紹：</b></div>
      			<div style="float:left;width:400px"><textarea name="details" id="details" cols="50" rows="10"></textarea></div>
            </td>
  		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b><font color="#FF0000">*</font>電話：</b></div>
      			<div style="float:left;width:400px"><input type="text" name="telephone" id="telephone" minlength="8" maxlength="8"/></div>
			</td>
		</tr>
  		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>電郵地址：</b></div>
      			<div style="float:left;width:400px"><input type="text" name="email" id="email"/></div>
            </td>
		</tr>
        <tr>
			<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>網址：</b></div>
            	<div style="float:left;width:400px"><input type="text" name="website" id="website"/></div>
            </td>
        </tr>
        <tr>
        	<td style="background-color:#FFFFFF;">
          		<div style="float:left;width:130px"><b>需要售票</b></div>
            	<div style="float:left;width:400px"><input type="checkbox" name="ticket_required" id="ticket_required" value="1"/></div>
			</td>
        </tr>   
        <tr id="ticket_website_row" style="display:none;">
          	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>售票網站：</b></div>
            	<div style="float:left;width:400px"><input type="text" name="ticket_website" id="ticket_website"/></div>
            </td>
        </tr>  
        <tr id="ticket_phone_row" style="display:none">
          	<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>售票電話：</b></div>
            	<div style="float:left;width:400px"><input type="text" name="ticket_phone" id="ticket_phone" minlength="8" maxlength="8"/></div>
            </td>
        </tr>  
		<tr id="ticket_price_row" style="display:none;">
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>票價：</b></div>
      			<div style="float:left;width:400px"><input type="text" name="price" id="price"/></div>
            </td>
  		</tr> 
 		<tr id="ticket_startdate_row" style="display:none;">
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>開始售票日期：</b></div>
     			 <div style="float:left;width:400px"><input type="text" name="ticket_startdate" id="ticket_startdate" size="8" class="small"/></div>
            </td>
  		</tr>       
		<tr>
    		<td style="background-color:#FFFFFF;">
            	<div style="float:left;width:130px"><b>關鍵字：</b></div>
      			<div style="float:left;width:400px"><input type="text" name="keyword" id="keyword" />請以,分隔</div>
            </td>
  		</tr>
		<tr>
    		<td style="background-color:#FFFFFF;padding:7px">
            	<input type="submit" name="submit" id="submit" value="" style="left:130px;position:relative;" class="build_event"/>
			</td>
  		</tr>
	</table>
	</form>
    </div>
	<div class="ot_d_body_content_right">
		<include file="Public:div-weather" />          
	</div>
	<div class="clearBoth"></div>
</div>

<include file="Public:footer" />
