			<div id="paging-box" class="left-box">
				<div class="content">
					<div class="paging">
						{$multipage}
					</div>
				</div>
			</div>

			<div id="events-result-box" class="left-box">
				<div class="content">
					<ul>
						<if condition="empty($eventList)">
							<li>
                            對不起！我們暫時找不到符合你搜索條件的節目。<br />
                            你是否在搜尋關於<span style="color:#F00">{.searchterms}</span> 的 <a href="__ROOT__/shop/search/searchterms/{.searchterms}/">商戶</a> 或 <a href="__ROOT__/review/index/search_shop/true/search_event/true/keyword/{.searchterms}/">評介</a>？<br /><br />

                            若你在搜尋關於 <span style="color:#F00">{.searchterms}</span> 的節目，請你嘗試以下方法：<br />
                            - 更改關鍵字<br />
                            - 轉換中/英文輸入<br />
                            - 更改地區範圍或類別<br /><br />

                            若你仍然找不到此節目，請你 <a href="mailto:info@outstreet.com.hk">直接聯絡我們</a> 。謝謝！
                            </li>
						</if>
						<iterate name="eventList" id="vo">
						<li <if condition="$i eq 1">class="first"<else /><if condition="$i % 2 eq 0">class="alt-row"</if></if>>
							<table width="100%">
								<tbody>
									<tr>
										<td width="150" rowspan="2"><img src="{$vo|getFirstPicture='event','thumb'}" onload="javascript:DrawImage(this,140,110)"/></td>
										<td colspan="2">
											<a href="__ROOT__/event/view/id/{$vo.id}" class="main-link">{$vo.name}{$vo.status}</a>
                                            <?php if($vo['english_name'] != '' && $vo['english_name'] != $vo['name']) { ?>
                                            	<a href="__ROOT__/event/view/id/{$vo.id}" class="main-link">{$vo.english_name}</a>
                                            <?php } ?>
                                            {$vo.start_time|date=chDate(1),###}({$vo.start_time|date='w',###|week2ch}) -
                                            {$vo.end_time|date=chDate(1),###}({$vo.end_time|date='w',###|week2ch})
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<table width="100%">
												<tr>
													<td>
														<table class="guides-result-info" width="100%">
															<tr>
																<td class="type">
																<a href="{$vo.cate|formatEventCateLink}">{$vo.cate.name}</a>
																</td>
															</tr>
															<tr><td class="spacer">&nbsp;</td></tr>
                                                            <if condition="$vo.time_more neq ''">
                                                            	<tr><td class="time">{$vo.time_more}</td></tr>
                                                            </if>
															<tr><td class="spacer">&nbsp;</td></tr>
															<tr><td class="address">
                                                            	<if condition="$vo['shop_id'] eq 0">
                                                                	<?php $wholeAddress = $vo['main_location_name'].' '.$vo['sub_location_name'].' '.$vo['address'].' '.$vo['rooms']; ?>
                                                                <else/>
                                                                	<?php $wholeAddress = $vo['shop']['name'].' '.$vo['rooms']; ?>
                                                                </if>
                                                                {$wholeAddress|formatInfo=30}
                                                                </td></tr>
                                                            <tr><td class="spacer">&nbsp;</td></tr>
                                                            <neq name="vo.details" value="">
                                                           	<tr><td class="summary">
                                                                {$vo.details|formatInfo=20}<a href="__ROOT__/event/view/id/{$vo.id}">(詳情)</a>
                                                                </td></tr>
                                                            </neq>
															<tr><td class="spacer">&nbsp;</td></tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
                            <table width="100%">
                            	<tr>
                                	<td colspan="3"><?php /*{$vo.id|fbBtn='event',2,$authInfo['nick_name']}*/ ?></td>
                                 	<if condition="$authInfo['user_type'] eq 0">
                                    	<td width="94" class="write-review">
                                        	<a href="__ROOT__/event/view/id/{$vo.id}" class="plus"><span class="write-review">寫評介</span></a>
                                    	</td>
                                	</if>
                              	</tr>
                           </table>
						</li>
						</iterate>
					</ul>
				</div>
			</div>

			<div id="paging-box" class="left-box">
				<div class="content">
					<div class="paging">
						{$multipage}
					</div>
				</div>
			</div>

			<div class="clearBoth"></div>