<div class="clearBoth"></div>

<div style="width:100%">
    <table style="font-size:13px; background-color:#FFF; padding:5px; width:100%;" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td colspan="2">
                    <div style="background-image: url(&quot;http://www.roadroadguide.com/mymedia/img/plugin_bg.jpg&quot;); background-repeat: repeat-x;" align="center">
                        <img src="http://www.roadroadguide.com/mymedia/img/plugin_logo.jpg">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="min-width: 50px; padding:5px;">出發地:</td>
                <td style="min-width: 50px; padding:5px;"><input name="ori" id="ori" style="width: 150px;" type="text"></td>
            </tr>
            <tr>
                <td style="min-width: 50px; padding-left:5px;">目的地:</td>
                <td style="min-width: 50px; padding-left:5px;">{$eventInfo['address']}</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:5px; text-align:right;"><img src="http://www.roadroadguide.com/mymedia/img/plugin_search.png" alt="路線搜尋" id="searchBtn" onclick="searchRoute()"></td>
            </tr>
        </tbody>
    </table>
</div>