<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s03.css" />
<load href="__PUBLIC__/js/jquery.jclock.js" />

<script type="text/javascript">
	$().ready(function(){
		$('.ot_menu_sec03 a').toggleClass('current');
		$('#opt_shop').attr('selected',false);
		$('#opt_event').attr('selected',true);
		$('#opt_review').attr('selected',false);
		$('#searchtype').trigger( 'change' );
	});

  $(function($) {
    var options = {
			format: '%Y-%m-%d %A %H:%M',
	    timeNotation: '12h',
	    am_pm: true,
			timeout: 6000
	  }
    $('.jclock').jclock(options);
  });
</script>

<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
        <div class="breadcrumb">
            <a href="__ROOT__/">主頁</a> > <a href="__ROOT__/event">節目</a>
        </div>
        <div id="ot_d_event_category_box">
            <div class="ot_d_header">
                <div class="clearBoth"></div>
            </div>
            <div class="ot_d_content">
				<ul class="ot_d_event_category_list">
                    <iterate name="eventCateList" id="item">
						<li><a href="{$item|formatEventCateLink}">{$item.name}({$item.event_count})</a></li>
                    </iterate>
				</ul>
            </div>
            <div class="ot_d_footer"></div>
        </div>
        <include file="div-search" />
        <div class="ot_d_event_structure1">
            <div id="ot_d_event_hot_sales">
                <div class="ot_d_header">
                    <div class="ot_d_clearBoth"></div>
                </div>
                <div class="ot_d_content">
                    <ul class="ot_newshows">
                        <iterate name="eventList" id="vo">
                        <li<?php echo $i!=count($eventList) ? ' class="ot_d_shows_list_lines"' : ''; ?>>
                            <div class="ot_d_show_image"><a href="__ROOT__/event/view/id/{$vo.id}"><img src="{$vo|getFirstPicture='event','thumb'}" onload="javascript:DrawImage(this,80,80)" class="ot_t_showspic_frame" /></a></div>
                            <div class="ot_d_show_details">
                                <h4><a href="__ROOT__/event/view/id/{$vo.id}">{$vo.name|formatInfo=18}</a></h4>
                                <neq name="vo.english_name" value="">
									<h4><a href="__ROOT__/event/view/id/{$vo.id}">{$vo.english_name|formatInfo=40}</a></h4>
								</neq>
                                <a href="{$vo.cate|formatEventCateLink}">{$vo.cate.name}</a>
                                <h4>{$vo.start_time|date=chDate(3),###}({$vo.start_time|date='w',###|week2ch}) -  {$vo.end_time|date=chDate(3),###}({$vo.end_time|date='w',###|week2ch})</h4>
                                {$vo.details|formatInfo=30}
                            </div>
                            <div class="ot_d_clearBoth"></div>
                        </li>
                        </iterate>
                    </ul>
                </div>
                <div class="ot_d_footer"></div>
            </div>
    		<div id="ot_d_addevent">
                <div class="ot_d_header">
                    <div class="ot_d_clearBoth"></div>
                </div>
                <div class="ot_d_content">
                    <ul class="ot_newshows">
                        <iterate name="newEventList" id="vo">
                        <li<?php echo $i!=count($newEventList) ? ' class="ot_d_shows_list_lines"' : ''; ?>>
                            <div class="ot_d_show_details">
                                <h4><a href="__ROOT__/event/view/id/{$vo.id}">{$vo.name|formatInfo=18}</a></h4>
                                <a href="{$vo.cate|formatEventCateLink}">{$vo.cate.name}</a><span class="ot_d_show_date">{$vo.start_time|date=chDate(3),###}({$vo.start_time|date='w',###|week2ch}) -  {$vo.end_time|date=chDate(3),###}({$vo.end_time|date='w',###|week2ch})</span>
                                <h4 class="ot_d_show_description">{$vo.details|formatInfo=30}</h4>
                            </div>
                            <div class="ot_d_clearBoth"></div>
                        </li>
                        </iterate>
                    </ul>
                </div>
                <div class="ot_d_footer"></div>
            </div>
        </div>
        <div class="ot_d_event_structure2">
    		<div id="ot_d_event_thisweek">
                <div class="ot_d_header">
                    <div class="ot_d_clearBoth"></div>
                </div>
                <div class="ot_d_content">
                    <ul class="ot_newshows">
                        <iterate name="recommendEventList" id="vo">
                        <li<?php echo $i!=count($recommendEventList) ? ' class="ot_d_shows_list_lines"' : ''; ?>>
                            <div class="ot_d_show_image"><a href="__ROOT__/event/view/id/{$vo.id}"><img src="{$vo|getFirstPicture='event','thumb'}" onload="javascript:DrawImage(this,80,80)" class="ot_t_showspic_frame" /></a></div>
                            <div class="ot_d_show_details">
                                <h4><a href="__ROOT__/event/view/id/{$vo.id}">{$vo.name|formatInfo=18}</a></h4>
                                <neq name="vo.english_name" value="">
									<h4><a href="__ROOT__/event/view/id/{$vo.id}">{$vo.english_name|formatInfo=40}</a></h4>
								</neq>
                                <a href="{$vo.cate|formatEventCateLink}">{$vo.cate.name}</a>
                                <h4>{$vo.start_time|date=chDate(3),###}({$vo.start_time|date='w',###|week2ch}) -  {$vo.end_time|date=chDate(3),###}({$vo.end_time|date='w',###|week2ch})</h4>
                                {$vo.details|formatInfo=30}
                            </div>
                            <div class="ot_d_clearBoth"></div>
                        </li>
                        </iterate>
                    </ul>
                </div>
                <div class="ot_d_footer"></div>
            </div>
            <div id="ot_d_event_newest_review">
                <div class="ot_d_header">
                    <div class="ot_d_clearBoth"></div>
                </div>
                <div class="ot_d_content">
                    <ul class="ot_newshows">
                        <iterate name="newestReviewList" id="vo">
                        <li<?php echo $i!=count($newestReviewList) ? ' class="ot_d_shows_list_lines"' : ''; ?>>
                            <div class="ot_d_show_details">
                            	<span><a href="__ROOT__/user/view/id/{$vo.user.id}">{$vo.user.nick_name|formatInfo=15}</a></span><span class="ot_d_totext">對</span><span><a href="__ROOT__/event/view/id/{$vo.event.id}" class="ot_d_review_eventname">{$vo.event.name|formatInfo=20}</a></span>的評介：
                                <div class="ot_d_clearBoth"></div>
                                <div class="ot_d_say_start"></div>
                                <div class="ot_d_say"><a href="__ROOT__/event/view/id/{$vo.event.id}/reviewid/{$vo.id}" class="ot_d_say_link">{$vo.description|formatInfo=30}</a></div>
								<div class="ot_d_say_end"></div>
                            </div>
                            <div class="ot_d_clearBoth"></div>
                        </li>
                        </iterate>
                    </ul>
                </div>
                <div class="ot_d_footer"></div>
            </div>
        </div>
	</div>
	<div class="ot_d_body_content_right">
		<include file="Public:div-weather" />
        <include file="Public:div-btn_facebook" />
		<div id="ysm_right"><script>var ysmright=1;</script></div>
	</div>
	<div class="clearBoth"></div>
</div>

<include file="Public:footer" />
