<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s03.css" />
<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec03 a').toggleClass('current');
	$('#opt_shop').attr('selected',false);
	$('#opt_event').attr('selected',true);
	$('#opt_review').attr('selected',false);
	$('#searchtype').trigger( 'change' );
	$('#jump_date').datepick();

	$('a[rel^=nav_search]').click(function(){
		var $this = $(this);
		var rel = $this.attr('rel');
		var type = rel.split( '::' )[ 1 ];
		var id = rel.split( '::' )[ 2 ];
		setTimeout( function() {
			/*edited*/
			if(type == 'main_location'){
				var main_location= <?php echo json_encode($main_location)?>;
				var $dom = $('#nav_sub_location_ids');
				var ids = $dom.val().split(',');
				var idval = '';
				for (var i=0; i<ids.length; i++){
					if(in_array(ids[i],main_location[id]['ids'])==false){
						idval += ','+ids[i];
					}
				}
				idval = idval.substring(1);
				$dom.val(idval);
			}

			/*end edited*/
			if (type == 'cate' || type == 'location') {
				if (type == 'cate') { var $dom = $('#nav_event_cate_ids'); }
				else { var $dom = $('#nav_sub_location_ids'); }
				var ids = $dom.val().split(',');
				var idval = '';
				for (var i=0; i<ids.length; i++)
					{ if (ids[i] != id) { idval += ','+ids[i]; } }
				idval = idval.substring(1);
				$dom.val(idval);
			}
			$this.parent().remove();
			$('#nav_search').submit();
		}, 10 );
	});
});
/*edited*/
function in_array (needle, haystack, argStrict) {
    var key = '', strict = !!argStrict;
    if (strict) {
        for (key in haystack) {
            if (haystack[key] === needle) {
                return true;
            }
        }
    } else {
        for (key in haystack) {
            if (haystack[key] == needle) {
                return true;
            }
        }
    }
    return false;
}
/*end edited*/
</script>

<div id="ot_d_body_content">
    <div class="ot_d_body_content_left">
        <form id="nav_search" method='GET' action='__ROOT__/event/<?php echo ACTION_NAME ?>/'>
		<input type="hidden" id="nav_event_cate_ids" name="event_cate_ids" value="<?php echo $_REQUEST['event_cate_ids']; ?>"/>
		<input type="hidden" id="nav_sub_location_ids" name="sub_location_ids" value="<?php echo $_REQUEST['sub_location_ids']; ?>"/>
		<input type="hidden" name="searchterms" value="<?php echo $_REQUEST['searchterms']; ?>"/>
        <div class="ot_d_fullpathlink">
            <div class="ot_d_pathlink_home"><a href="__ROOT__/">主頁</a> > <a href="__ROOT__/event/index">節目</a></div>
			<div class="ot_d_pathlink_info">
				<if condition="$curSubLocation.id neq ''">
					<span class="ot_d_pathlink_info_pos">> <a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">{$curSubLocation.name}</span><input type="hidden" name="sublocationid" value="{$curSubLocation.id}"/></a></span>
				<elseif condition="$curMainLocation.id neq ''"/>
					<span class="ot_d_pathlink_info_pos">> <a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">{$curMainLocation.name}</span><input type="hidden" name="mainlocationid" value="{$curMainLocation.id}"/></a></span>
				</if>
				<if condition="$cate">
					<span class="ot_d_pathlink_info_pos">> <a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">{$cate.name}</span><input type="hidden" name="cateid" value="<?php echo formatEventCategoryId($cate); ?>"/></a></span>
				<elseif condition="$parentCate"/>
					<span class="ot_d_pathlink_info_pos">> <a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">{$parentCate.name}</span><input type="hidden" name="cateid" value="{$parentCateId}"/></a></span>
				</if>

			<?php if (ACTION_NAME == 'search'): ?><span class="ot_d_pathlink_info_pos">> 搜尋 </span><?php endif; ?>
				<?php if ($selected_locations): ?>
                <!--edited -->
                <if condition="$main_location">
                	<iterate name="main_location" id="vo">
                    	<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search::main_location::{$key}"><span class="ot_d_pathlink_area">{$vo['name']['0']}全部</span></a></span>
                    </iterate>
                </if>
                <!--end edited -->
					<?php foreach($selected_locations AS $id=>$name): ?>
                    <!--edited -->
                    	<if condition="(!in_array($id,$main_location['1']['ids'])) AND (!in_array($id,$main_location['2']['ids'])) AND (!in_array($id,$main_location['3']['ids'])) AND (!in_array($id,$main_location['4']['ids']))">
                    		<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search::location::{$id}"><span class="ot_d_pathlink_area"><?php echo $name; ?></span></a></span>
                    	</if>
                    <!--edited -->
					<?php endforeach; ?>
				<?php endif; ?>
				<?php if ($selected_cates): ?>
					<?php foreach($selected_cates AS $id=>$name): ?>
						<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search::cate::{$id}"><span class="ot_d_pathlink_area"><?php echo $name; ?></span></a></span>
					<?php endforeach; ?>
				<?php endif; ?>
				<?php if ($timediff || $start_date || $end_date): ?>
					<?php if ($timediff): ?>
						<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">節目日期: <?php echo getTimediffWord($timediff); ?></span><input type="hidden" name="timediff" value="<?php echo $timediff; ?>"/><input type="hidden" name="start_date" value=""/><input type="hidden" name="end_date" value=""/></a></span>
					<?php elseif ($start_date && $end_date): ?>
						<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">節目日期: <?php echo date('d/m',$start_date); ?> - <?php echo date('d/m',$end_date); ?></span><input type="hidden" name="timediff" value=""/><input type="hidden" name="start_date" value="<?php echo $_REQUEST['start_date']; ?>"/><input type="hidden" name="end_date" value="<?php echo $_REQUEST['end_date']; ?>"/></a></span>
					<?php elseif ($start_date): ?>
						<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">節目日期: <?php echo date('d/m',$start_date); ?>之後</span><input type="hidden" name="timediff" value=""/><input type="hidden" name="start_date" value="<?php echo $_REQUEST['start_date']; ?>"/><input type="hidden" name="end_date" value=""/></a></span>
					<?php elseif ($end_date): ?>
						<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">節目日期: <?php echo date('d/m',$end_date); ?>之前</span><input type="hidden" name="timediff" value=""/><input type="hidden" name="start_date" value=""/><input type="hidden" name="end_date" value="<?php echo $_REQUEST['end_date']; ?>"/></a></span>
					<?php endif; ?>
				<?php endif; ?>
				<?php if ($creater_name): ?>
					<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">主辦機構: <?php echo $_REQUEST['creater_name']; ?></span><input type="hidden" name="creater_name" value="<?php echo $_REQUEST['creater_name']; ?>"/></a></span>
				<?php endif; ?>
				<?php if ($telephone): ?>
					<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">電話: <?php echo $_REQUEST['telephone']; ?></span><input type="hidden" name="telephone" value="<?php echo $_REQUEST['telephone']; ?>"/></a></span>
				<?php endif; ?>
			</div>
			<div style="clear: both;"></div>
        	<!-- CateDepth End -->
        </div>
		</form>
		<include file="div-search" />
		<?php if (ACTION_NAME == 'lists'): ?>
        <if condition="$eventCateList">
            <div id="ot_d_event_category_full_box" class="left-box">
                <div class="header">
                    <h3>節目指南</h3>
                    <div class="clearBoth"></div>
                </div>
                <div class="content">
                    <ul class="ot_u_event_browser_category_list">
                        <!-- Cate Start -->
                        <if condition="$eventCateList">
                            <iterate name="eventCateList" id="item">
                                <li><a href="__ROOT__/event/lists/cateid/<?php echo formatEventCategoryId($item); ?>/mainlocationid/<?php echo ($_REQUEST['mainlocationid']) ? $_REQUEST['mainlocationid']:0?>/sublocationid/<?php echo ($_REQUEST['sublocationid']) ? $_REQUEST['sublocationid']:0?>">{$item.name} ({$item.event_count})</a></li>
                            </iterate>
                        </if>
                        <!-- Cate End -->
                    </ul>
                    <div class="clearBoth"></div>
                </div>
                <div class="footer"></div>
            </div>
        </if>
		<?php endif; ?>
		<include file="div-list" />
	</div>
    <div class="ot_d_body_content_right">
        <include file="Public:div-weather" />
        <include file="Public:div-btn_facebook" />
    </div>
    <div class="clearBoth"></div>
</div>
<div id='clear'></div>

<include file="Public:footer" />