<include file="Public:header" />
<load href="__PUBLIC__/css/maps.css" />
<script type="text/javascript" src="http://maps.google.com.hk/maps?file=api&v=2&sensor=false&key=ABQIAAAA265tqANg-PO9A0c1yzonRhTjMhPI1CAhGVtOIejGS_y-mHbIYBQkOamcSRGA1BZVqQuXy1KsEawDSw"></script>
<script src="http://gmaps-utility-library-dev.googlecode.com/svn/tags/tabbedmaxcontent/1.0/src/tabbedmaxcontent.js" type="text/javascript"></script>
<script src="http://gmaps-utility-library-dev.googlecode.com/svn/tags/keydragzoom/1.0/src/keydragzoom_packed.js" type="text/javascript"></script>

<load href="__PUBLIC__/js/markerclusterer.js" />

<load href="__PUBLIC__/js/jui/themes/base/ui.all.css" />
<load href="__PUBLIC__/js/jui/ui.core.js" />
<load href="__PUBLIC__/js/jui/ui.resizable.js" />
<load href="__PUBLIC__/js/jui/ui.draggable.js" />

<script type="text/javascript">
var tipTimer;
var map;
var markerCluster;
$().ready(function() {

	map = new GMap2(document.getElementById("maps"));

	$('#maps').resizable({stop: function(e,ui){
			map.checkResize();
			refreshMarkers();
		}
	});

	$("#floatPanel").prependTo($('#maps'));
	$("#floatPanel").draggable();


	var mcOptions = { gridSize: 50 , maxZoom: 20};
	markerCluster = new MarkerClusterer(map, [], mcOptions);

	GEvent.addListener(map, 'zoomend', function(o, n){
		if (n < 10){
			map.zoomIn();
		}
	});
	map.addControl(new GLargeMapControl());


	var latlng = new GLatLng({$eventInfo.googlemap_lat},{$eventInfo.googlemap_lng});
	map.setCenter(latlng, 15);
	map.enableKeyDragZoom();

  var tabs = [];
  var tabContent = $(document.createElement('div'));
  tabContent.toggleClass('tabContent');
	tabContent.append('{$eventInfo.name}<br />地址:{$eventInfo.address}<br />電話:{$eventInfo.telephone|formatTelephone=1}<br />類別:{$eventInfo.cate.name}<br />');
  tabs.push(new MaxContentTab('{$eventInfo.name}', tabContent.context));
  var smallInfo = '這裡是 ';
  smallInfo += '{$eventInfo.sub_location_name}' + ' ' + '{$eventInfo.address}' + '<br />';
  smallInfo += '{$eventInfo.name}' + ' 在這裡.<br />'
	smallInfo += '<a href="javascript:void(0)" onclick="javascript:map.getInfoWindow().maximize()">查看詳情</a>';

  map.openMaxContentTabsHtml(latlng, smallInfo, '', tabs, {maxTitle:'節目信息',maximized:false});

	var arrow = document.createElement('div');
	arrow.id = 'tipArrow';
	var tip = document.createElement('div');
	tip.id = 'windowTip';

	var container = map.getContainer();
	container.appendChild(arrow);
	container.appendChild(tip);

	GEvent.addListener(map, "moveend", function() {
		refreshMarkers();
	});


	$('#main_event_cate_id').bind("change", function(){

		$('#sub_event_cate_id').empty();
		$('#sub_event_cate_id').append('<option value="">所有子類別</option>');
		$.getJSON('__ROOT__/Ajax/eventCateSub/mainid/' + $(this).val(),function(json){
			for (idx in json.data){

				if (idx == 0){
					$('#sub_event_cate_name').val(json.data[idx].name);
				}

				$('#sub_event_cate_id').append('<option value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
			}
		});
		//refreshMarkers();

	});
	$('#sub_event_cate_id').bind('change', function(){
		refreshMarkers();
	});

	refreshMarkers();



});

function printDebug(){
	//return;
	$('#debug').css('display','block');
	$('#debug').empty();
	var printInfo = 'Zoom:' + map.getZoom() + '<br />';
	printInfo = printInfo + 'Size:' + map.getSize() + '<br />';
	printInfo = printInfo + 'Bounds:' + map.getBounds() + '<br />';

	$('#debug').append(printInfo);
}

function refreshMarkers(){

	printDebug();

	var smallIcon = new GIcon();
	smallIcon.image = "__PUBLIC__/images/gm_icon_s.png";
	smallIcon.shadow = "";
	smallIcon.iconSize = new GSize(15, 15);
	smallIcon.shadowSize = new GSize(0, 0);
	smallIcon.iconAnchor = new GPoint(6, 20);
	smallIcon.infoWindowAnchor = new GPoint(5, 1);
	var markerOptions = { icon:smallIcon };

	var latlng = map.getBounds();
	southWest = latlng.getSouthWest().lat() + ',' + latlng.getSouthWest().lng();
	northEast = latlng.getNorthEast().lat() + ',' + latlng.getNorthEast().lng();

	var ajaxUri = '__APP__/Ajax/geteventsByMap/southWest/'+southWest+'/northEast/'+northEast;
	if ($('#main_event_cate_id').val()!=''){
		ajaxUri += '/main_event_cate_id/'+$('#main_event_cate_id').val();
	}
	if ($('#sub_event_cate_id').val()!=''){
		ajaxUri += '/sub_event_cate_id/'+$('#sub_event_cate_id').val();
	}
	if ($('#keyword').val() != ''){
		ajaxUri += '/keyword/'+$('#keyword').val();
	}

	$.getJSON(ajaxUri,function(json){
		$('#actionInfo').text('當前區域內共有活動' + json.status);

		var markers = [];
		$('#selectedList').empty();
		for(idx in json.data){
			var latlng = new GLatLng(json.data[idx].googlemap_lat, json.data[idx].googlemap_lng);
			var marker = new GMarker(latlng, markerOptions);
			marker.data = json.data[idx];


		  GEvent.addListener(marker, 'click', function(){
			  var tabs = [];
			  var tabContent = $(document.createElement('div'));
			  tabContent.toggleClass('tabContent');
				tabContent.append(this.data.name + '<br />地址:' + this.data.address +'<br />電話:' + this.data.telephone + '<br />類別:' + this.data.cate.name);

			  tabs.push(new MaxContentTab(this.data.name, tabContent.context));
			  var smallInfo = '這裡是 ';
			  smallInfo += this.data.sub_location_name + ' ' + this.data.address + '<br />';
			  smallInfo += this.data.name + ' 在這裡.<br />'
				smallInfo += '<a href="javascript:void(0)" onclick="javascript:map.getInfoWindow().maximize()">查看詳情</a>';
			  this.openMaxContentTabsHtml(map, smallInfo, '', tabs, {maxTitle:'節目信息',maximized:false});
			});

		  markers.push(marker);
		  $('#selectedList').append('<li><a href="__ROOT__/event/view/id/{$eventInfo.id}" target="_blank">'+marker.data.name+'</a></li>');
		}

		markerCluster.clearMarkers();
		markerCluster.addMarkers(markers, function(latlng, clusterMarkers){

			if (map.getZoom() < 19) return true;

		  var tabs = [];
		  var smallInfo = '這裡是 ' + clusterMarkers[0].marker.data.sub_location_name + ' ' + clusterMarkers[0].marker.data.address + ',<br />這裡的商戶有:<br />';

			for(clusterMarker in clusterMarkers){
				clusterMarker = clusterMarkers[clusterMarker];
			  var tabContent = $(document.createElement('div'));
			  tabContent.toggleClass('tabContent');
			  smallInfo += clusterMarker.marker.data.name + '<br />';
				tabContent.append(clusterMarker.marker.data.name + '<br />地址:' + clusterMarker.marker.data.address +'<br />電話:' + clusterMarker.marker.data.telephone + '<br />類別:' + clusterMarker.marker.data.main_event_cate_name + ' ' + clusterMarker.marker.data.cate.name);
			  tabs.push(new MaxContentTab(clusterMarker.marker.data.name, tabContent.context));
			}
			smallInfo += '<a href="javascript:void(0)" onclick="javascript:map.getInfoWindow().maximize()">查看詳情</a>';
			map.openMaxContentTabsHtml(latlng, smallInfo, '', tabs, {maxTitle:'節目信息',maximized:false,style: {tabOff: {backgroundColor: '#CCCCFF'}}} );
			return false;
		});

	});

}


</script>

<div>



	<div id="maps">
	</div>

<div id="floatPanel">
		<div id="markerSelector">
			<span id="actionInfo"></span><br />
			<select id="main_event_cate_id" name="main_event_cate_id">
				<option value="">所有類別</option>
				<iterate name="eventCateList" id="vo">
					<option value="{$vo.id}">{$vo.name}</option>
				</iterate>
			</select>
			<select id="sub_event_cate_id" name="sub_event_cate_id">
				<option value="">所有子類別</option>
			</select>
			<br />
			<input type="text" name="keyword" id="keyword" class="medium" />
			<input type="button" name="btns" id="btns" value="搜索" onclick="refreshMarkers()">
		</div>
		<ul id="selectedList">
		</ul>
	</div>
	<div class="clear"></div>
</div>

<include file="Public:footer" />
