
<script type="text/javascript">
$(document).ready(function(){
	$("#selLocationForm").validate({
		submitHandler: function(form) {
			seteventlocations($('#selLocationForm').serializeArray());
			tb_remove();
			return false;
		}
	});
});
</script>

<form method="POST" id="selLocationForm" name="selLocationForm" >
	
	<table>
		<iterate name="locationMainList" id="vo">
			<tr>
				<td>{$vo.name}</td>
			</tr>
			<tr>
				<td>
					<iterate name="vo.locationSubList" id="voo">
						<label>
							<input name="event_location_ids" id="sub_event_location_id_{$voo.id}"  type="checkbox" value="{$voo.id}||{$voo.name}" class="sub_location_ids" />{$voo.name}	
						</label>
					</iterate>
				</td>
			</tr>
		</iterate>
		<tr>
			<td><input type="submit" id="submit" /></td>
		</tr>
	</table>
</form>
<script type="text/javascript">
	geteventlocations();
</script>
