<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s03.css" />
<load href="__PUBLIC__/js/uploadimage.js" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<load href="__PUBLIC__/css/jphoto/default.css" />
<load href="__PUBLIC__/js/jphoto/jquery.flow.1.1.min.js" />

<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec03 a').toggleClass('current');

	$('#tabs-box ul').showTabs();

	$.validator.addMethod("split", function(value) {
		return true;
	}, '');
	$(function() {
		$("div#controller").jFlow({
			slides: "#slides",
			width: "206px",
			height: "206px"
		});
	});
	$('#jphoto_prev').click(function(){
		$('.jphoto_img').hide();
		$('.jphoto_img').fadeIn(2000);
		$('.jphotocontent').hide();
		$('.jphotocontent').fadeIn(2000);
	});
	$('#jphoto_next').click(function(){
		$('.jphoto_img').hide();
		$('.jphoto_img').fadeIn(2000);
		$('.jphotocontent').hide();
		$('.jphotocontent').fadeIn(2000);
	});
});
function searchRoute(){
	var dest = "{$eventInfo['address']}";
  	var destLat = "{$eventInfo['googlemap_lat']}";
  	var destLng = "{$eventInfo['googlemap_lng']}";
  	var url = encodeURI("http://www.roadroadguide.com/?dest="+dest+"&destLat="+destLat+"&destLng="+destLng+"&ori=" +document.getElementById("ori").value);
  	window.open(url, "mywindow","menubar=0,resizable=1,modal=yes,alwaysRaised=yes,scrollbars=yes,toolbar=no,status=yes,width=1024,height=600");
}
</script>

<load href="__PUBLIC__/js/xheditor/xheditor_plugins/ubb.js" />
<load href="__PUBLIC__/js/xheditor/xheditor-zh-tw.js" />
<load href="__PUBLIC__/js/jquery.easing.1.3.js" />
<load href="__PUBLIC__/js/jquery-galleryview-1.1/jquery.galleryview-1.1.js" />
<load href="__PUBLIC__/js/jquery-galleryview-1.1/jquery.timers-1.1.2.js" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.MetaData.js" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.css" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.pack.js" />

<script type="text/javascript">
$().ready(function() {

	<if condition="!empty($eventInfo['pictures'])">
	$('#photos').galleryView({
	    filmstrip_size: 5,
	    frame_width: 120,
	    frame_height: 120,
	    background_color: '#ded',
	    nav_theme: 'dark',
	    border: 'none',
	    show_captions:true,
	    caption_text_color: 'black'
	});
	</if>

	$('.photoThumb').bind('click', function(){
		var imglink = $(this).attr('src');
		imglink = imglink.replace('thumb_','');

		$('#shoppic').attr('src',imglink);
		$('#shoppicdesc').text('('+$(this).attr('title')+')');
		return false;
	});

	$('.userFavoriteLink').bind('click', function(){
		var _this = this;
		if ('{$authInfo.id}' == ''){
			alert('請登入后再儲存為心水評家');
		}else{
			$.getJSON('__ROOT__/ajax/joinUser2Favorite/userid/' + $(_this).attr('href'),function(json){
				alert(json.info);
				$(_this).hide();
			});
		}
		return false;
	});

	$.each($('.ot_d_clap'),function(idx, ele){
		$.getJSON('__ROOT__/ajax/getReviewCommendCount/reviewId/' + $(ele).attr('rel'),function(json){
			$(ele).find('span').text(json.status);
		});
	});
	$.each($('.ot_d_flag'),function(idx, ele){
		$.getJSON('__ROOT__/ajax/getReviewReportCount/reviewId/' + $(ele).attr('rel'),function(json){
			$(ele).find('span').text(json.status);
		});
	});

	$('.ot_d_clap').bind('click', function(){
		_this = this;
		$.getJSON('__ROOT__/ajax/appendReviewCommend/reviewId/' + $(_this).attr('rel'),function(json){
			alert(json.info);
			if (json.status != 0){
				$(_this).find('span').text(json.status);
			}
		});

		return false;
	});

	$('.ot_d_flag').bind('click', function(){
		_this = this;
		$.getJSON('__ROOT__/ajax/appendReviewReport/reviewId/' + $(_this).attr('rel'),function(json){
			alert(json.info);
			if (json.status != 0){
				$(_this).find('span').text(json.status);
			}
		});
		return false;
	});
});
</script>
<div id="ot_d_event_content">
    <div class="ot_d_event_content_left">
    	<div class="ot_d_event_infodetail">
        	<div class="breadcrumb">
            <a href="__ROOT__/">主頁</a>
            > <a href="__ROOT__/event">節目</a>
            > <a href="__ROOT__/event/lists/cateid/{$eventInfo.parent_id}">{$eventInfo.parent_name}</a>
            > <a href="{$eventInfo.cate|formatEventCateLink}">{$eventInfo.cate.name}</a>
            > {$eventInfo.name}
			</div>
            <div id="ot_d_event_info_box" class="left-box">
                <div class="ot_d_content">
                    <div class="ot_d_eventname">
                        <span class="ot_d_event_chiname">{$eventInfo['name']} {$state2} </span><span class="ot_d_event_engname">{$eventInfo['english_name']}</span></neq>
                    </div>
                    <div class="ot_d_info">
						<div class="ot_d_info_pos">
                            <div class="ot_d_ew_hold">
                                <div class="ot_d_eW">
                                    <div class="ot_d_eH_col_1">類別</div>
                                    <div class="ot_d_eH_col_2">
                                    	<a href="__ROOT__/event/lists/subeventcateid/{$eventInfo.sub_event_cate_id}">{$eventInfo.sub_event_cate_name}</a>
										<a href="{$eventInfo.cate|formatEventCateLink}">{$eventInfo.cate.name}</a>&nbsp;
                                    </div>
                                </div>
                                <div class="ot_d_eW">
                                    <div class="ot_d_eH_col_1">日期</div>
                                    <div class="ot_d_eH_col_2">
                                        {$eventInfo.start_time|date=chDate(1),###}({$eventInfo.start_time|date='w',###|week2ch}) -
                                    	{$eventInfo.end_time|date=chDate(1),###}({$eventInfo.end_time|date='w',###|week2ch})
                                    </div>
                                </div>
                                <if condition="!empty($eventInfo['time_more'])">
                                    <div class="ot_d_eW">
                                        <if condition="$eventInfo['sub_event'] eq 0">
	                                        <div class="ot_d_eH_col_1">詳細時間</div>
	                                        <div class="ot_d_eH_col_2">{$eventInfo.time_more}</div>
                                        <else />
	                                        <div class="ot_d_eH_col_1">活動詳情</div>
	                                        <div class="ot_d_eH_col_2">
	                                        <table>
	                                        <iterate name="eventInfo['sub_event']" id="vo">
		                                        <tr>
		                                        	<td width="42%"><a href="__ROOT__/event/view/id/{$vo.id}">{$vo.name}</a></td>
		                                        	<td>{$vo.start_time|date=chDate(1),###}({$vo.start_time|date='w',###|week2ch}) -
		                                    	{$vo.end_time|date=chDate(1),###}({$vo.end_time|date='w',###|week2ch})</td>
		                                        <tr>
	                                        </iterate>
	                                        </table>
	                                        </div>
                                        </if>
                                    </div>
								</if>
                                <if condition="$eventInfo['shop_id']==0">
                                    <div class="ot_d_eW">
                                        <div class="ot_d_eH_col_1">地點</div>
                                        <div class="ot_d_eH_col_2">
                                            <a href="__ROOT__/event/lists/mainlocationid/{$eventInfo.main_location_id}">{$eventInfo.main_location.name}</a>
											<a href="__ROOT__/event/lists/sublocationid/{$eventInfo.sub_location_id}">{$eventInfo.sub_location.name}</a>
											{$eventInfo.address}
                                        </div>
                                    </div>
                                <else />
                                    <div class="ot_d_eW">
                                        <div class="ot_d_eH_col_1">地點</div>
                                        <div class="ot_d_eH_col_2">
                                            <a href="__ROOT__/shop/view/id/{$eventInfo.shop_id}">{$eventInfo.shop.name}</a>{$eventInfo.rooms}
                                        </div>
                                    </div>
                                </if>
								<if condition="$eventInfo['parent_event_id'] neq '0'">
									<div class="ot_d_eW">
                                        <div class="ot_d_eH_col_1">相關活動</div>
                                        <div class="ot_d_eH_col_2">
                                            <a href="__ROOT__/event/view/id/{$eventInfo['parent_event_id']}">{$eventInfo.parent_event_name}</a>
                                        </div>
                                    </div>
								</if>
                                <neq name="eventInfo.creater_name" value="">
                                    <div class="ot_d_eW">
                                        <div class="ot_d_eH_col_1">主辦機構</div>
                                        <div class="ot_d_eH_col_2">{$eventInfo.creater_name}</div>
                                    </div>
                                </neq>
                                <neq name="eventInfo.telephone" value="">
                                    <div class="ot_d_eW">
                                        <div class="ot_d_eH_col_1">電話</div>
                                        <div class="ot_d_eH_col_2">{$eventInfo.telephone|formatTelephone=1}</div>
                                    </div>
								</neq>
                                <neq name="eventInfo.email" value="">
                                    <div class="ot_d_eW">
                                        <div class="ot_d_eH_col_1">電郵</div>
                                        <div class="ot_d_eH_col_2">{$eventInfo.email}</div>
                                    </div>
                                </neq>
								<neq name="eventInfo.website" value="">
                                    <div class="ot_d_eW">
                                        <div class="ot_d_eH_col_1">網址</div>
                                        <div class="ot_d_eH_col_2">
                                            <a href="{$eventInfo.website}" title="{$eventInfo.website}" target="_blank">{$eventInfo.website|urlShortForm=45}</a>
										</div>
                                    </div>
                               	</neq>
							   	<eq name="eventInfo.ticket_required" value="1">
									<div class="ot_d_eW">
                                        <div class="ot_d_eH_col_1">門票價格</div>
                                        <div class="ot_d_eH_col_2">{$eventInfo.price}</div>
                                    </div>
                                  	<neq name="eventInfo.ticket_startdate" value="0">
                                    	<div class="ot_d_eW">
                                            <div class="ot_d_eH_col_1">何時售票</div>
                                            <div class="ot_d_eH_col_2">
                                                {$eventInfo.ticket_startdate|date=chDate(1),###}({$eventInfo.ticket_startdate|date='w',###|week2ch})
                                                {$eventInfo.ticket_startdate|date="H:i",###}
                                            </div>
                                    	</div>
                                  	</neq>
                                  	<neq name="eventInfo.ticket_phone" value="">
                                        <div class="ot_d_eW">
                                            <div class="ot_d_eH_col_1">售票電話</div>
                                            <div class="ot_d_eH_col_2">{$eventInfo.ticket_phone|formatTelephone=1}</div>
                                        </div>
                                  	</neq>
                                    <neq name="eventInfo.ticket_website" value="">
                                        <div class="ot_d_eW">
                                            <div class="ot_d_eH_col_1">售票網址</div>
                                            <div class="ot_d_eH_col_2"><a href="{$eventInfo.ticket_website}" title="{$eventInfo.ticket_website}" target="_blank">{$eventInfo.ticket_website|urlShortForm=45}</a></div>
                                        </div>
                                  	</neq>
                                </eq>
                                <div class="ot_d_eW ot_d_eB">
                                  	<div class="ot_d_eH col_1"></div>
                                  	<div class="ot_d_eH col_2"></div>
                                </div>
                            </div>
                            <if condition="$authInfo['user_type'] eq 0">
                                <div class="ot_d_event_buttons">
                                    <div>
                                        <if condition="!empty($authInfo)">
                                            <a href="#reviewForm" class="write-review">寫評介</a>
                                        <else/>
                                            <a href="__ROOT__/user/login" onclick="alert('請先登錄');return true;" class="write-review">寫評介</a>
                                        </if>
                                    </div>
                                </div>
	                        </if>
                        </div>
                        <div class="ot_d_eventphotos">
                        	<div id="ot_d_content"></div>
                            <div id="jphoto">
                                <div id="wrap">
                                    <div id="controller" class="hidden">
                                    <if condition="count($eventInfo['pictures']) neq 0">
                                    	<iterate name="eventInfo.pictures" id="vo">
                                        	<span class="jFlowControl">No {$i}</span>
                                        </iterate>
                                    <else />
                                    	<span class="jFlowControl">No 1</span>
                                    </if>
                                    </div>
                                    <div id="jphoto_prevNext">
                                        <div id="jphoto_prev">
                                        	<if condition="count($eventInfo['pictures']) gt 1">
                                            <img src="__PUBLIC__/images/jphoto/prev.jpg" alt="Previous Tab" class="jFlowPrev" />
                                            </if>
                                        </div>
                                        <div id="jphoto_next">
                                        <if condition="count($eventInfo['pictures']) gt 1">
                                            <img src="__PUBLIC__/images/jphoto/next.jpg" alt="Next Tab" class="jFlowNext" />
                                        </if>
                                        </div>
                                        <div class="jphoto_link">&nbsp;</div>
                                    </div>
                                    <div id="slides">
                                    	<if condition="count($eventInfo['pictures']) neq 0">
                                        <iterate name="eventInfo.pictures" id="vo">
                                        <div>
                                        	<div class="jphoto_img">
                                            	<span class="jphoto_spn"></span><a href="{$Think.config.OUTSTREET_DIR}{$Think.config.EVENT_UPFILE_PATH}{$vo['file_path']}" class="thickbox image" rel="group"><img onload="javascript:DrawImage(this,202,152)" src="{$Think.config.OUTSTREET_DIR}{$Think.config.EVENT_UPFILE_PATH}{$vo['file_path']}" alt="photo"/></a>
                                            </div>
                                        	<p id="jphotocontent" class="jphotocontent">{$i} of {$eventInfo['pictures']|count}</p>
                                        </div>
                                        </iterate>
                                        <else />
                                        <div><div class="jphoto_img"><span class="jphoto_spn"></span><img src="{$Think.config.OUTSTREET_DIR}/Public/images/jphoto/no_picture.png" onload="javascript:DrawImage(this,202,152)" alt="photo"/></div>
                                        <p id="jphotocontent"></p>
                                        </div>
                                        </if>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {$eventInfo.id|fbBtn='event',3,$authInfo['nick_name']}
                    </div>
                    <div class="ot_d_extra_info">
                        <div class="ot_d_extra_info_desc">{$eventInfo.details|nl2br}</div>
                    </div>
                    <div class="clearBoth"></div>
                </div>
                <div class="clearBoth"></div>
            </div>
        </div>
        <?php $type = 'event'; ?>
        <include file="Public:div_review"/>
        <if condition="$authInfo['user_type'] eq 0">
            <include file="Public:div-reviewpreview" />
            <if condition="$authInfo">
                <div class="ot_d_event_writereview">
                    <include file="Public:div-reviewform" />
                </div>
            <else/>
                <div class="clear"></div>
            </if>
        <else/>
	        <div class="clear"></div>
        </if>
    </div>
    <div class="ot_d_event_content_right">
    	<include file="div_map" />
        <include file="Public:div-weather" />
        <include file="div_roadroadguide" />
    </div>
    <div class="clearBoth"></div>
</div>
<div id='clear'></div>

<script type="text/javascript">
$('#total_rate_level_{$eventInfo.statistics.avg_rate_1}').attr('checked',true);
</script>
<include file="Public:footer" />