<include file="Public:header" />
<script type="text/javascript" src="http://maps.google.com.hk/maps?file=api&v=2&key=ABQIAAAA265tqANg-PO9A0c1yzonRhTjMhPI1CAhGVtOIejGS_y-mHbIYBQkOamcSRGA1BZVqQuXy1KsEawDSw"></script>
<load href="__PUBLIC__/js/shop_form.js"/>
<script type="text/javascript">
$(document).ready(function(){

		description_len = "<?php echo getShopLevelSetting('description_len',$shopInfo['shop_level']); ?>";
		description_len = parseInt(description_len);

		keyword_num = "<?php echo getShopLevelSetting('keyword_num',$shopInfo['shop_level']); ?>";
		keyword_num = parseInt(keyword_num);

		validator = $("#theform").validate(getformValidateCriteria("#theform"));
		
		$('#worktime_table').change( function() { $('#worktime_warning').val(validateWorkTime()); $('#worktime_warning').blur(); } );

		/*********************************** End Category **********************************/
		
		/********************************* Start Location **********************************/

		$('#reset').bind("click", resetFormHandler);

		buildGooglemap(<?php echo $shopInfo['googlemap_lat'] ?>, <?php echo $shopInfo['googlemap_lng'] ?>);
		
		$('#main_location_id').bind("change",function(){
            mainLocationChangeEventHandler('__ROOT__?m=shop&a=locationSub&mainlocationid=' + $('#main_location_id').val());
        });
		
		$('#sub_location_id').bind("change", function(){
            $('#sub_location_name').val(this.options.item(this.selectedIndex).text);
        });
		
		$('#sub_location_id').empty();
        $.get('__ROOT__?m=shop&a=locationSub&mainlocationid={$shopInfo.main_location_id}',function(response){
			var json = $.parseJSON( response );
            for (idx in json.data){
                if (json.data[idx].id == {$shopInfo.sub_location_id}){
                    $('#sub_location_id').append('<option selected="true" value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
                }else{
                    $('#sub_location_id').append('<option value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
                }
            }
        });

		$('#mall').attr({checked:false});
		$('#mall').bind("click", mallClickEventHandler);	
		$('#mall').bind("click", function() { $('[name=sub_location_id]').val($('#sub_location_id:hidden').attr('disabled',false).val()); });	
        $('#mallname').bind('keyup click', function(){
            fillSelectedMall('__APP__');
        });

		$('#address').bind("blur", addressBlurEventHandler);
		/*********************************** End Location **********************************/

	$( '[rel=cate_names]' ).fancybox( {
		'padding': '0px',
		'onComplete': function() { getcates(); }
	} );
});

function getcates(){
	var arr = $('#cate_ids').val().split(',');
	for(idx in arr){
		if (arr[idx] != ''){
			$('#cate_id_' + arr[idx]).attr('checked', true);
		}
	}
}
function setcates(cates){

	$('#cate_ids').val('');
	$('#cate_names').val('');
	var _ids = $('#cate_ids');
	var _names = $('#cate_names');	

	for(idx in cates){
		var id_ = cates[idx].value.split('||')[0];
		var name_ = cates[idx].value.split('||')[1];
		if ( id_ && jQuery.inArray(id_, $refArray) == -1 )
		{
			_ids.val(_ids.val() +(_ids.val() != ''?',':'')+ id_);		
			_names.val(_names.val() +(_names.val() != ''?',':'')+ name_);
		}
	}
}

</script>

<div class="ot_d_body_content">
	<div id="ot_d_body_content_left"><include file="Public:left_menu" /></div>
	<div id="ot_d_body_content_right">
		<form id="theform" action="__APP__" method="post" onsubmit="return false;">
		<input type="hidden" name="m" value="shop" />
		<input type="hidden" name="a" value="do_edit" />
		<input type="hidden" name="shop_id" value="<?php echo $id ?>" />
		<input type="hidden" name="sub_location_id" value="" disabled/>
    	<table class="ot_t_add_edit_table">
	        <tr>
                <th id="col01"></th>
                <th style="text-align:center;" id="col02">中文<input id="id" value="{$brandInfo.id}" type="hidden" name="id" /></th>
                <th style="text-align:center;" id="col03">英文（如適用）</th>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">*商戶名稱:</td>
                <td id="col02"><input type="text" name="name" value="<?php echo $shopInfo['name'] ?>" maxlength="30" size="40" /></td>
                <td id="col03"><input type="text" name="eng_name" value="<?php echo $shopInfo['eng_name'] ?>" maxlength="30" size="40" /></td>
                <td id="col04">名稱不能多於30字</td>
            </tr>
            <tr>
                <td id="col01">*所屬類別:</td>
                <td id="col02">
					<a href="__APP__?m=shop&a=selshopcate" rel="cate_names"><input name="cate_names" id="cate_names" readonly="true" size="40" value="<?php echo $shopCateNames ?>" /></a>
					 <input type="hidden" name="cate_ids" id="cate_ids" value="<?php echo $shopCateIds ?>" readonly="true" />
				</td>
                <td id="col03"></td>
                <td id="col04"><?php getHelp(0);?></td>
            </tr>
            <tr>
                <td id="col01">*所屬地區:</td>
                <td id="col02">
					<select id="main_location_id" name="main_location_id">
					<?php foreach ($main_location_list AS $_main_id=>$_main_loc): ?>
						<option value="{$_main_id}"<?php echo $shopInfo['main_location_id'] == $_main_id ? ' selected' : '' ?>>{$_main_loc['name']}</option>
					<?php endforeach; ?>
					</select>
					<input type="hidden" name="main_location_id" id="main_location_id_hidden" value="<?php echo $shopInfo['main_location_id']; ?>"/>
					<select id="sub_location_id" name="sub_location_id" ></select>
                    <input type="hidden" name="sub_location_id" id="sub_location_id_hidden" value="<?php echo $shopInfo['sub_location_id']; ?>"/>
				</td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">是商場內?</td>
                <td id="col02">
					<?php echo generateMall("padding",$shopInfo['parent_shop_id']); ?>
					<script>checkExistMall('__APP__','<?php echo $shopInfo['parent_shop_id']; ?>');</script>
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">*街道：</td>
                <td id="col02"><input style="border: 1px solid #7F9DB9;" type="text" name="address" value="<?php echo $shopInfo['address'] ?>" id="address" size="45" <if condition="$shopInfo['parent_shop_id'] neq '0'"> readonly="true" </if>></td>
                <td id="col03"><input type="text" name="eng_address" id="eng_address" value="<?php echo $shopInfo['eng_address'] ?>" size="45"/></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">詳細地址：</td>
                <td id="col02"><input size="45" type="text" name="rooms" value="<?php echo $shopInfo['rooms'] ?>"/></td>
                <td id="col03"><input size="45" type="text" name="eng_rooms" value="<?php echo $shopInfo['eng_rooms'] ?>"/></td>
                <td id="col04"></td>
            </tr>

            <tr>
                <td id="col01"></td>
                <td id="col_spec" colspan="2">
					<div class="gmapedit"><div id="gmap" style="width: 300px; height: 300px;"></div></div>
					<input type="text" name="googlemap_lat" readonly="true" id="googlemap_lat" value="<?php echo $shopInfo['googlemap_lat'] ?>"/>
					<input type="text" name="googlemap_lng" readonly="true" id="googlemap_lng" value="<?php echo $shopInfo['googlemap_lng'] ?>"/>
				</td>
                <td id="col04"><?php getHelp(1);?></td>
            </tr>
            <tr>
                <td id="col01">*營業時間：</td>
                <td id="col_spec" colspan="2">
					<?php echo generateShopWeek($shopTime);?>
					<input type="hidden" id="worktime_warning" name="worktime_warning" value="1"/>
                </td>
                <td id="col04">如: 0900 - 2230</td>
            </tr>
            <tr>
                <td id="col01">商戶介紹：</td>
                <td id="col02">
					<textarea id="description" rows="4" cols="30" name="new_description"><?php echo $shopInfo['description'] ?></textarea>
					<textarea style="position:absolute;top:0;left:0;visibility:hidden;" rows="4" cols="30" name="old_description"><?php echo $shopInfo['description'] ?></textarea>
				</td>
                <td id="col03"><textarea id="eng_description" rows="4" cols="30" name="eng_description"><?php echo $shopInfo['eng_description'] ?></textarea></td>
                <td id="col04"><?php getHelp(2);?></td>
            </tr>
            <tr>
                <td id="col01">泊車資料：</td>
                <td id="col02"><textarea id="parking" rows="4" cols="30" name="parking"><?php echo $shopInfo['parking'] ?></textarea></td>
                <td id="col03"><textarea id="eng_parking" rows="4" cols="30" name="eng_parking"><?php echo $shopInfo['eng_parking'] ?></textarea></td>
                <td id="col04"><?php getHelp(3);?></td>
            </tr>
            <tr>
                <td id="col01">商戶電話：</td>
                <td id="col02">
                	<input id="telephone" value="<?php echo $shopInfo['telephone'] ? $shopInfo['telephone'] : '' ?>" maxlength="8" type="text" name="telephone" minlength="8" size="15"/>
                    <input id="sub_telephone" value="<?php echo $shopInfo['sub_telephone'] ? $shopInfo['sub_telephone'] : '' ?>" maxlength="8" type="text" name="sub_telephone" minlength="8" size="15"/>
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">商戶電郵：</td>
                <td id="col02"><input id="email" value="<?php echo $shopInfo['email'] ?>" size="40" type="text" name="email" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <td id="col01">關鍵字：</td>
                <td id="col02"><input id="keyword" value="<?php echo $shopInfo['keyword'] ?>" size="40" type="text" name="keyword" />
					<input type="hidden" id="keyword_warning" name="keyword_warning" value="1"/></td>
                <td id="col03"><input id="keyword" value="<?php echo $shopInfo['eng_keyword'] ?>" size="40" type="text" name="eng_keyword" />
					<input type="hidden" id="eng_keyword_warning" name="eng_keyword_warning" value="1"/></td>
                <td id="col04"><?php getHelp(4);?></td>
            </tr>
			<?php if (getShopLevelSetting('add_website',$shopInfo['shop_level'])): ?>
            <tr>
                <td id="col01">網址：</td>
                <td id="col02"><input id="website" value="<?php echo $shopInfo['website'] ?>" size="40" type="text" name="website" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
			<?php endif; ?>
            <tr>
                <td id="col01">狀態：</td>
                <td id="col02">
                	結業<input id="is_closed" value="1" type="checkbox" name="is_closed" <?php echo $shopInfo['shop_status'] == 2 ? 'checked' : '' ?>/>
                    裝修中<input id="is_renovation" value="1" type="checkbox" name="is_renovation" <?php echo $shopInfo['shop_status'] == 3 ? 'checked' : '' ?>/>
                    已搬址<input id="is_moved" value="1" type="checkbox" name="is_moved" <?php echo $shopInfo['shop_status'] == 1 ? 'checked' : '' ?>/>
					<input type="hidden" id="status_warning" name="status_warning" value="1"/>
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
           <tr>
                <td id="col01"></td>
                <td id="col02">
                	<input id="submit" value="儲存" type="submit" name="submit" class="btn01"/>
                    <input id="btnSubmit" value="重設" type="reset" name="btnSubmit" class="btn01"/>
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
        </table>
		</form>
    </div>
	<div class="ot_d_clearBoth"></div>
</div>

<include file="Public:footer" />