<include file="Public:header" />
<load href="__PUBLIC__/css/ot_review.css" />
<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec02 a').toggleClass('current');
});
function showdesc(id){
	$('#desc1_'+id).show();
	$('#desc2_'+id).hide();
}
function hidedesc(id){
	$('#desc2_'+id).show();
	$('#desc1_'+id).hide();
}
</script>

<div class="ot_d_body_content">
	<div id="ot_d_body_content_left"></div>
	<div id="ot_d_body_content_right">
    <if condition="$count eq 0">
    	<table class="ot_t_listing_table">
			<tr>
            	<th>暫時未有相關商鋪</th>
            </tr>
		</table>
    <else />    
    	<table class="ot_t_review_listing_table">
        	<tr>
				<?php $sorts = array('a.id'=>'ID', 'a.name'=>'商戶名稱', 'a.address'=>'商戶地址', 'a.create_time'=>'創建時間'); ?>
				<?php foreach($sorts AS $column=>$name): ?>
					<th class="title">{$name}<a href="__ACTION__/index.php/?m=shop&a=listall&sort={$column}&sortorder=asc">↓</a>|<a href="__ACTION__/index.php/?m=shop&a=listall&sort={$column}&sortorder=desc">↑</a></th>
                <?php endforeach; ?>
				<th></th>
            </tr>
            <iterate name="list" id="vo">
            	<tr>
                	<td class="row" style="width:5%">{$vo.id}</td>
                	<td class="row" style="width:20%"><a target="_blank" href="<?php echo C('OUTSTREET_DIR'); ?>/shop/view/id/{$vo.id}">{$vo.name}</a></td>
                	<td class="row" style="width:35%">{$vo.mainloc} {$vo.subloc} {$vo.address}</td>
                	<td class="row" style="width:20%">{$vo.create_time|date='Y-m-d H:i',###}</td>
                	<td class="row" style="width:20%">
						<a href="__APP__?m=shop&a=edit&id={$vo.id}">更改</a>
					</td>
            	</tr>	
            </iterate>        	
            <tr>
                <td class="row_spec" colspan="5">{$multipage}</td>
            </tr>
        </table>
    </if>
    </div>
	<div class="ot_d_clearBoth"></div>
</div>
<include file="Public:footer" />