<div style="width: 468px; height: 500px; overflow: scroll;">
<load href="__PUBLIC__/css/ot_sel.css" />

<script type="text/javascript">
var $refList = <?php echo json_encode($refList); ?>;
var $refArray = <?php echo json_encode($refArray); ?>;

$(document).ready(function(){
	$("#selForm").validate({
		submitHandler: function(form) {
			setcates($('#selForm').find('[name=cate_ids]').serializeArray());
			$.fancybox.close();
			return false;
		}
	});
	$('.sel_all').bind('click',function(){
		_this = $(this);
		$(this).parents('.agroup').find('.cate_ids').each(function(){
			$(this).attr('checked', _this.attr('checked'));
		});
	});

	$('.agroup input[name=cate_ids]').change( function() {
		var id = $(this).attr('id');
		var checked = $(this).attr('checked');
		$('.'+id).attr('checked',checked);
		$('.'+id).each(function(){
			thisId = $(this).attr('id');
			thisId = thisId.replace("cate_id_","");
			checkRef(thisId);
		});
	} );
	
	$('.bgroup input[name=cate_ids]').change( function() {
		var myclass = $(this).attr('class');
		checkSelectAll(myclass);
	} );
	
	setTimeout( function() { $('.bgroup input[name=cate_ids]').trigger('change'); }, 10);
});

function checkRef($id){
	var isChecked = false;
	if(document.getElementById('cate_id_'+$id).checked){
		isChecked = true;
	}
	for($idx in $refList){
		if($idx==$id){
			for($idx2 in $refList[$idx]){
				document.getElementById('cate_id_'+$refList[$idx][$idx2]).checked = isChecked;
				$('#cate_id_'+$refList[$idx][$idx2]).attr('checked',isChecked);
				var myclass = $('#cate_id_'+$refList[$idx][$idx2]).attr('class');
				checkSelectAll(myclass);
			}
		}
	}
}
function checkSelectAll(myclass){
	var checkAll = true;		
	$('.bgroup input[name=cate_ids]').each(function() {
		if($(this).attr('class')==myclass){
			if($(this).attr('checked')==false){
				checkAll = false;	
			}
		}
	});
	var arr = myclass.split(" ");
	$('#'+arr[1]).attr('checked',checkAll);	
}
</script>
<form method="POST" id="selForm" name="selForm" onsubmit="return false;">

<table class="ot_t_cate_select_box">

<?php foreach( $cateList AS $key=>$val ): ?>
	<tr>
		<td class="ot_t_infopos">
			<div class="agroup ot_d_main_cate"><label> <?php echo $val['name']; ?> </label></div>
			<?php foreach( $val['item'] AS $skey=>$sval ): ?>
				<table>
				<tr>
					<td class="ot_t_cat2infopos">
						<div class="agroup"><label class="ot_t_shop_cate_aitem"> <input name="cate_ids" id="cate_id_<?php echo $skey; ?>" class="cate_id_<?php echo $key; ?>" type="checkbox" value="<?php echo $skey; ?>||<?php echo $sval['name']; ?>" class="cate_ids" onclick="checkRef('{$skey}')" /> <?php echo $sval['name']; ?> </label></div>
					</td>
					<td class="bgroup ot_t_cat3infopos">
						<?php foreach( $sval['item'] AS $sskey=>$ssval ): ?>
							<label class="ot_t_shop_cate_aitem"> <input name="cate_ids" id="cate_id_<?php echo $sskey; ?>" class="cate_id_<?php echo $key; ?> cate_id_<?php echo $skey; ?>" type="checkbox" value="<?php echo $sskey; ?>||<?php echo $ssval['name']; ?>" class="cate_ids" onclick="checkRef('{$sskey}')" /> <?php echo $ssval['name']; ?> </label>
						<?php endforeach; ?>
					</td>
				</tr>
				</table>
			<?php endforeach; ?>
		</td>
	</tr>
<?php endforeach; ?>

<tr>
<td><!--<input type="submit" id="submit" value="" class="cate_select_send"/>--></td>
</tr>
</table>
<div id="ot_d_btnsend"><input id="submit" value="確定" type="submit" name="submit" class="btn01"/></div>
</form>

</div>