<include file="Public:header" />
<load href="__PUBLIC__/js/ajaxupload.3.5.js" />
<load href="__PUBLIC__/js/picuploadfunction.js" />
<load href="__PUBLIC__/css/ot_ajaxupload.css" />
<script type="text/javascript">
	var timestamp = "<?php echo $picstamp; ?>";
	var dest = "shop";
	var itemid ="<?php echo $id; ?>";
	$(document).ready(function(){
		initialuploadelement();
	});
</script>

<div class="ot_d_body_content">
	<div id="ot_d_body_content_left"><include file="Public:left_menu" /></div>
	<div id="ot_d_body_content_right">
    	<table class="ot_t_add_edit_table">
            <tr>
                <td id="col01">*商戶相片:</td>
                <td id="col02"><?php echo generatePicBox('shop',$id)?></td>
                <td id="col03"></td>
                <td id="col04"><?php getHelp(6);?></td>
            </tr>
        </table>
    </div>
	<div class="ot_d_clearBoth"></div>
</div>

<include file="Public:footer" />