<load href="__PUBLIC__/js/jquery.rating.package/jquery.MetaData.js" />
<div id="promo_list_box" class="left-box">
	<div class="header">
    	<h3></h3>
    	<div class="clearBoth"></div>
  	</div>
  	<div class="content">
   		<if condition="empty($posterList)">
        	暫無提供推介!
      	<else />
      		<ul>
        		<iterate name="posterList" id="vo">
                	<li <eq name="i%2" value="0">class="alt-row"</eq> >
          				<table class="op_list" >
                            <tr>
                            	<td colspan="2" class="upSpacer">&nbsp;</td>
                            </tr>
            				<tr>
				            	<td rowspan="4" class="result_num">{$i}</td>
              					<td colspan="2" class="op_list_title">
                                	<a href="{$Think.config.OUTSTREET_DIR}/poster/view/posterid/{$vo.id}" class="main_link">{$vo.title}<eq name="vo.title" value="">{$vo.title}</eq></a>
                                </td>
            				</tr>
            				<tr>
              					<td colspan="2" class="spacer">&nbsp;</td>
            				</tr>
            				<tr>
              					<td colspan="4">
                                	<table class="op_list_thumbtable">
                                        <tr>
                                            <td rowspan="3"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.OTPROMO_UPFILE_PATH}{$vo.thumb_path}" class="op_list_thumb"/></td>
                                            <td colspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td class="op_list_titleCol">發表時間︰</td>
                                            <td class="op_list_description"><span class="datecontent"><?php echo date('d/m/y',$vo['create_time']); ?> ({$vo.create_time|date='w',###|week2ch})</span></td>
                                        </tr>
                                        <tr>
                                            <td class="op_list_DescCol" >簡介︰</td>
                                            <td class="op_list_description" >{$vo.description|formatInfo=56}
                                            	<eq name="vo.description" value="">暫無提供<else/><a href="{$Think.config.OUTSTREET_DIR}/poster/view/posterid/{$vo.id}">(詳情)</a></eq>
                                            </td>
                                        </tr>
                					</table>
                   				</td>
            				</tr>
                            <tr>
								<td colspan="3">{$vo.id|fbBtn='poster',3,$authInfo['nick_name']}</td>
							</tr>
          				</table>
          			</li>
        		</iterate>
      		</ul>
      		<div id="paging-box" class="left-box">
		        <div class="content">
        			<div class="paging"> {$multipage} </div>
		        </div>
		    </div>
    	</if>
    	<div class="clearBoth"></div>
  	</div>
  	<div class="footer"></div>
</div>
