<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<script type="text/javascript">
	$().ready(function(){
		$('#tabs-box ul').showTabs();
		$('div.headerAboutus').corner("cc:#fff ,top");
		$('div.footer-aboutus').corner("cc:#fff ,bottom");
	});
</script>
<style type="text/css">
#outstreet_head {
	width:auto;
}
#outstreet_head .header {
	width:630px;
	height:41px;
	background-image:url(__PUBLIC__/images/index/outstreetpromo/outstreetpromo_header.jpg);
}
</style>

<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
		<div class="breadcrumb">
        	<a href="__ROOT__/">主頁</a> > <a href="__ROOT__/poster/listAll">OutStreet 推介</a>
        </div>
		<div id="outstreet_head">
        	<div class="content" >
            	<include file="div_posterlist" />
            </div>
	    </div>
	</div>
    <div class="ot_d_body_content_right">
        <include file="Public:div-weather" />
        <include file="Public:div-promotionbanner02" />
    </div>
    <div class="ot_d_clearBoth"></div>
</div>
<include file="Public:footer" />