<include file="Public:header" />

<load href="__PUBLIC__/js/jquery.tabs.js" />
<script type="text/javascript">
	$().ready(function(){

		$('#tabs-box ul').showTabs();
		
		$('div.headerAboutus').corner("cc:#fff ,top");
		$('div.footer-aboutus').corner("cc:#fff ,bottom");
	});
</script>

<style type="text/css">
#outstreet_head{
	width:auto;
	clear:both;
}
#outstreet_head .header{
	width:641px;
	height:41px;
	background-image:url(__PUBLIC__/images/index/outstreetpromo/outstreetpromo_header.jpg);
	text-indent:-9999px;
}
</style>

<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
		<div class="breadcrumb op_textpath_height">
			<div class="op_textpath"><a href="__ROOT__/">主頁</a> > <a href="__ROOT__/poster/listAll/">OutStreet 推介</a> > {$posterInfo['title']}</div>
            {$posterInfo.id|fbBtn='poster',3,$authInfo['nick_name']}
		</div>	
		<div id="outstreet_head">        
			<div class="header"><h3>OutStreet 推介</h3></div>
			<div class="content" >
				<div class="op_content_top">
                    <?php
                        $showPosterBlock = false;
                        if($posterInfo['id'] <> "") {
                            $file_path = C('OUTSTREET_DIR').C('POSTER_HTML_UPFILE_PATH').$posterInfo['url'];
                            
                            if ($posterInfo['url']) {
                            	echo file_get_contents($file_path);
                            } else {
                               	$showPosterBlock = true;
                            }
                        } else {
                            echo '<div style="padding-top:20px;padding-bottom:20px;padding-left:5px;">此OutStreet 推介不存在!</div>';
                        }
                    ?>
                    <!-- start poster blocks -->
                    <?php if ($showPosterBlock): ?>
                    <div class="op_size" style="width:640px;">
                    	<?php if ( $posterInfo[ 'banner_path' ] ): ?>
                        	<div class="op_ban_small"><img width="240" height="180" class="op_ban_pic" src="{$Think.config.OUTSTREET_DIR}{$Think.config.OTPROMO_UPFILE_PATH}<?php echo $posterInfo[ 'banner_path' ]; ?>">
                            	<div class="op_intro_pos">
                                	<div class="op_intro_tit"><?php echo $posterInfo[ 'title' ]; ?></div>
                                    <div class="op_intro_txt"><?php echo $posterInfo[ 'description' ]; ?></div>
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="clearBoth"></div>
                        <!--
                    	<?php if ( $posterInfo[ 'banner_path' ] ): ?> <div class="op_ban"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.OTPROMO_UPFILE_PATH}<?php echo $posterInfo[ 'banner_path' ]; ?>"></div><?php endif; ?>
                    
                        <div class="op_intro">
                            <div class="op_intro_header"></div>
                            <div class="op_intro_content"><?php echo $posterInfo[ 'description' ]; ?></div>
                            <div class="op_intro_footer"></div>
                        </div>-->
                    
                    <?php foreach ( $posterblocks AS $key => $val ): ?>
                        <?php
                            $val['description'] = preg_replace( '/\s*<(\/?(?:name|value))>\s*/is', '<\1>', $val['description'] );
                            $val['description'] = str_ireplace( '<box>', '<table border="0" cellspacing="5" cellpadding="0">', $val['description'] );
                            $val['description'] = str_ireplace( '</box>', '</table>', $val['description'] );
                            $val['description'] = str_ireplace( '<name>', '<tr><td valign="top">', $val['description'] );
                            $val['description'] = str_ireplace( '</name>', '</td>', $val['description'] );
                            $val['description'] = str_ireplace( '<value>', '<td valign="top">', $val['description'] );
                            $val['description'] = str_ireplace( '</value>', '</td></tr>', $val['description'] );
                            $val['description'] = nl2br( $val['description'] );
                        ?>

<!--- Start tpl_type == 1 --->                     
<?php if ( $val[ 'tpl_type' ] == 1 ): ?>
    <?php if ( $val['title'] ): ?>
        <div class="op_frame">
            <table width="0%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="0%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="{$Think.config.OUTSTREET_DIR}/Public/images/index/outstreetpromo/tit_01.jpg" /></td>
                    <td class="op_frame_tit01"><table width="0%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="op_frame_tit"><?php echo $val['title'] ?></td>
                        <td><img src="{$Think.config.OUTSTREET_DIR}/Public/images/index/outstreetpromo/tit_02.jpg" /></td>
                      </tr>
                    </table></td>
                    <td><img src="{$Think.config.OUTSTREET_DIR}/Public/images/index/outstreetpromo/tit_04.jpg" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td class="op_frame_content">
                    <div id="op_template_1">
                        <div class="op_template">
                            <?php if ( $val['image_path'] ): ?><div class="toppic"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.OTPROMO_UPFILE_PATH}<?php echo $val['image_path']; ?>" /></div><?php endif; ?>
                            <div class="wordsize"><?php echo $val['description']; ?></div>
                        </div>
                        <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                        <?php endif; ?>
                    </div>
                </td>
              </tr>
            </table>
        </div>
    <?php else: ?>
        <div class="op_frame">
            <table width="0%" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td class="op_frame_content_notit">
                    <div id="op_template_1">
                        <div class="op_template op_template_notit">
                            <?php if ( $val['image_path'] ): ?><div class="toppic"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.OTPROMO_UPFILE_PATH}<?php echo $val['image_path']; ?>" /></div><?php endif; ?>
                            <div class="wordsize"><?php echo $val['description']; ?></div>
                        </div>
                        <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                        <?php endif; ?>
                    </div>
                 </td>
              </tr>
            </table>
    	</div>  
	<?php endif; ?>

<!--- Start tpl_type == 2 --->                              
<?php elseif ( $val[ 'tpl_type' ] == 2 ): ?>
	<?php if ( $val['title'] ): ?>
      <div class="op_frame">
          <table width="0%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><table width="0%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><img src="{$Think.config.OUTSTREET_DIR}/Public/images/index/outstreetpromo/tit_01.jpg" /></td>
                  <td class="op_frame_tit01"><table width="0%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="op_frame_tit"><?php echo $val['title'] ?></td>
                      <td><img src="{$Think.config.OUTSTREET_DIR}/Public/images/index/outstreetpromo/tit_02.jpg" /></td>
                    </tr>
                  </table></td>
                  <td><img src="{$Think.config.OUTSTREET_DIR}/Public/images/index/outstreetpromo/tit_04.jpg" /></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td class="op_frame_content">
                  <div id="op_template_2">
                      <div class="op_template">
                          <div class="wordsize"><?php echo $val['description']; ?></div>    
                          <?php if ( $val['image_path'] ): ?><div class="toppic"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.OTPROMO_UPFILE_PATH}<?php echo $val['image_path']; ?>" /></div><?php endif; ?>
                      </div>
                      <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                          <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                      <?php endif; ?>
                      <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                          <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                      <?php endif; ?>
                      <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                          <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                      <?php endif; ?>
                      <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                          <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                      <?php endif; ?>
                  </div></td>
            </tr>
          </table>
    </div>  
  <?php else: ?><div class="op_frame">
    <table width="0%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="op_frame_content_notit">
                  <div id="op_template_2">
                      <div class="op_template op_template_notit">
                          <div class="wordsize"><?php echo $val['description']; ?></div>    
                          <?php if ( $val['image_path'] ): ?><div class="toppic"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.OTPROMO_UPFILE_PATH}<?php echo $val['image_path']; ?>" /></div><?php endif; ?>
                      </div>
                      <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                          <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                      <?php endif; ?>
                      <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                          <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                      <?php endif; ?>
                      <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                          <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                      <?php endif; ?>
                      <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                          <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                      <?php endif; ?>
                  </div></td>
            </tr>
          </table>
    </div>  
  <?php endif; ?>

<!--- Start tpl_type == 3 --->                
<?php elseif ( $val[ 'tpl_type' ] == 3 ): ?>
    <?php if ( $val['title'] ): ?>
        <div class="op_frame">
            <table width="0%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="0%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="{$Think.config.OUTSTREET_DIR}/Public/images/index/outstreetpromo/tit_01.jpg" /></td>
                    <td class="op_frame_tit01"><table width="0%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="op_frame_tit"><?php echo $val['title'] ?></td>
                        <td><img src="{$Think.config.OUTSTREET_DIR}/Public/images/index/outstreetpromo/tit_02.jpg" /></td>
                      </tr>
                    </table></td>
                    <td><img src="{$Think.config.OUTSTREET_DIR}/Public/images/index/outstreetpromo/tit_04.jpg" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td class="op_frame_content">
                    <div id="op_template_3">
                        <div class="op_template">
                            <?php if ( $val['image_path'] ): ?><div class="leftpic"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.OTPROMO_UPFILE_PATH}<?php echo $val['image_path']; ?>"  width="200" /></div><?php endif; ?>
                            <div class="wordsize"><?php echo $val['description']; ?></div>
                            <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                            <?php endif; ?>
                        </div>
                    </div>
                </td>
              </tr>
            </table>
        </div>
    <?php else: ?>
        <div class="op_frame">
            <table width="0%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="op_frame_content_notit">
                    <div id="op_template_3">
                        <div class="op_template op_template_notit">
                            <?php if ( $val['image_path'] ): ?><div class="leftpic"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.OTPROMO_UPFILE_PATH}<?php echo $val['image_path']; ?>"  width="200" /></div><?php endif; ?>
                            <div class="wordsize"><?php echo $val['description']; ?></div>
                            <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                            <?php endif; ?>
                            <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                                <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                            <?php endif; ?>
                        </div>
                    </div>
                </td>
              </tr>
            </table>
        </div> 
    <?php endif; ?>

<!--- Start tpl_type == 4 --->   
<?php elseif ( $val[ 'tpl_type' ] == 4 ): ?>
    <?php if ( $val['title'] ): ?>
        <div class="op_frame">
            <table width="0%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="0%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="{$Think.config.OUTSTREET_DIR}/Public/images/index/outstreetpromo/tit_01.jpg" /></td>
                    <td class="op_frame_tit01"><table width="0%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="op_frame_tit"><?php echo $val['title'] ?></td>
                        <td><img src="{$Think.config.OUTSTREET_DIR}/Public/images/index/outstreetpromo/tit_02.jpg" /></td>
                      </tr>
                    </table></td>
                    <td><img src="{$Think.config.OUTSTREET_DIR}/Public/images/index/outstreetpromo/tit_04.jpg" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td class="op_frame_content">
                    <div id="op_template_4">
                        <div class="op_template">
                          <?php if ( $val['image_path'] ): ?><div class="rightpic"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.OTPROMO_UPFILE_PATH}<?php echo $val['image_path']; ?>" width="200" /></div><?php endif; ?>
                            <div class="wordsize"><?php echo $val['description']; ?></div>
                        </div>
                        <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                        <?php endif; ?>
                    </div>
                </td>
              </tr>
            </table>
        </div>
    <?php else: ?>
        <div class="op_frame">
            <table width="0%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="op_frame_content_notit">
                    <div id="op_template_4">
                        <div class="op_template op_template_notit">
                          <?php if ( $val['image_path'] ): ?><div class="rightpic"><img src="{$Think.config.OUTSTREET_DIR}{$Think.config.OTPROMO_UPFILE_PATH}<?php echo $val['image_path']; ?>" width="200" /></div><?php endif; ?>
                            <div class="wordsize"><?php echo $val['description']; ?></div>
                        </div>
                        <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                        <?php endif; ?>
                        <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                            <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                        <?php endif; ?>
                    </div>
                </td>
              </tr>
            </table>
        </div>  
    <?php endif; ?>
    
<!--- Start tpl_type == 5 --->
<?php elseif ( $val[ 'tpl_type' ] == 5 ): ?>
    <div class="op_frame">
        <table width="0%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="op_frame_content_notit">
                <div id="op_template_4">
                    <div class="op_template op_template_notit">
                        <?php echo $val['description'];?>
                    </div>
                    <?php if ( $val['buttom1_url'] && $val['buttom1_text'] ): ?>
                        <a class="button" href="<?php echo $val['buttom1_url']; ?>"><span><?php echo $val['buttom1_text']; ?></span></a>
                    <?php endif; ?>
                    <?php if ( $val['buttom2_url'] && $val['buttom2_text'] ): ?>
                        <a class="button" href="<?php echo $val['buttom2_url']; ?>"><span><?php echo $val['buttom2_text']; ?></span></a>
                    <?php endif; ?>
                    <?php if ( $val['buttom3_url'] && $val['buttom3_text'] ): ?>
                        <a class="button" href="<?php echo $val['buttom3_url']; ?>"><span><?php echo $val['buttom3_text']; ?></span></a>
                    <?php endif; ?>
                    <?php if ( $val['buttom4_url'] && $val['buttom4_text'] ): ?>
                        <a class="button" href="<?php echo $val['buttom4_url']; ?>"><span><?php echo $val['buttom4_text']; ?></span></a>
                    <?php endif; ?>
                </div>
            </td>
          </tr>
        </table>
    </div>    
<?php endif; ?>

                    	<?php endforeach; ?>
                    	</div>
 					<?php endif; ?>
                	<!-- end poster blocks -->
				</div>
 <!--20100727
		    	<div id="outstreet_mulitpage_head">
		       		<div class="title1"></div>
                    <div style="text-align:right" class="paging">{$multipage}</div>
	            	<div class="title2"><span class="titlewording">文章</span><span class="datewording">發表時間</span></div>
	            	<div class="title3"></div>
					<iterate name="posterList" id="vo">
		            	<div class="data_space"><span class="number">{$i}</span><span class="titlecontent"><a href="__ROOT__/poster/view/posterid/{$vo.id}">{$vo.title}</a></span><span class="datecontent"><?php echo date('d/m/y',$vo['create_time']); ?> ({$vo.create_time|date='w',###|week2ch})</span></div>
		            	<div class="line"></div>
					</iterate>
			    </div> 
				
		        <div class="clearBoth"></div>
                <div style="text-align:right" class="paging">{$multipage}</div> 20100727-->
			</div>
		</div>
	</div>
    
	<div class="ot_d_body_content_right">
		<include file="Public:div-weather" />  
        <include file="Public:div-promotionbanner02" />  
	</div>
    
	<div class="clearBoth"></div>
</div>

<include file="Public:footer" />