html{height:100%;}
body,td,th{font-family:Arial,Verdana,sans-serif;font-size: 12px;}
body{background-color: #FFFFFF;word-break:break-all;}

.editMode{margin:5px;padding:0px;overflow-y:auto;}
.editMode table:not([border]){border-collapse:collapse;border:1px dotted #d3d3d3;}
.editMode table:not([border]) th,.editMode table:not([border]) td{border:1px dotted #d3d3d3;}
.editMode embed{display:inline-block;border:1px dashed #FF4E4E;}
.editMode embed[type="application/x-shockwave-flash"]{background:url(img/flash.gif) center center no-repeat;}
.editMode embed[type="application/x-mplayer2"]{background:url(img/wmp.gif) center center no-repeat;}

.sourceMode{margin:0px;padding:0px;overflow:hidden;height:100%;}
.sourceMode textarea{border:0px;margin:0px;padding:0px;width:100%;height:100%;overflow-y:auto;font-family:'Courier New',Courier,monospace !important;font-size:10pt;}

.previewMode{margin:5px;padding:0px;}

.showBlocktag p,.showBlocktag h1,.showBlocktag h2,.showBlocktag h3,.showBlocktag h4,.showBlocktag h5,.showBlocktag h6,.showBlocktag pre,.showBlocktag address,.showBlocktag div{background:none no-repeat scroll right top;border:1px dotted gray;}
.showBlocktag p{background-image:url(img/tag-p.gif);}
.showBlocktag h1{background-image:url(img/tag-h1.gif);}
.showBlocktag h2{background-image:url(img/tag-h2.gif);}
.showBlocktag h3{background-image:url(img/tag-h3.gif);}
.showBlocktag h4{background-image:url(img/tag-h4.gif);}
.showBlocktag h5{background-image:url(img/tag-h5.gif);}
.showBlocktag h6{background-image:url(img/tag-h6.gif);}
.showBlocktag pre{background-image:url(img/tag-pre.gif);}
.showBlocktag address{background-image:url(img/tag-address.gif);}
.showBlocktag div{background-image:url(img/tag-div.gif);}