<input type="hidden" name="is_owner" value="<?php if($_REQUEST['is_owner']==1) echo '1'; else echo '0';?>"/>
<p>
    <span class="ot_d_type"><span class="ot_d_type_remark">*</span>商戶名稱：</span>
    <span class="ot_d_data ot_d_data_4lvl"><input type="text" name="name" id="name" value='{$shopInfo.name}' size="45" maxlength="30" /></span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">商戶名稱(英文)：</span>
    <span class="ot_d_data ot_d_data_4lvl"><input type="text" name="eng_name" id="eng_name" value="{$shopInfo.eng_name}" size="45" maxlength='50'/></span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type"><span class="ot_d_type_remark">*</span>所屬類別：</span>
    <span class="ot_d_data ot_d_data_4lvl">
        <span id="type" style="width:150px" title="請選擇類別" lang="__URL__/selshopcate/eleid/cate_ids?height=400&width=450&modal=false" class="shop_thickbox  thickboxforge_drop">
            <input type="hidden" name="cate_ids" id="cate_ids" readonly="true" />
            <input type="text" name="cate_names" id="cate_names" readonly="true" title="請選擇類別" alt="__URL__/selshopcate/eleid/cate_ids?height=400&width=450&modal=false" class="thickbox" size="45" />
        </span>
    </span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">所屬品牌：</span>
    <span class="ot_d_data ot_d_data_4lvl">
        <select id="brand_id" name="brand_id" width="45">
            <option value="0">無品牌</option>
            <iterate name="brandList" id="vo">
                <option value="{$vo.id}" <if condition="$vo['id'] == $shopInfo['brand_id']"> selected="true" </if>>{$vo.name}</option>
            </iterate>
        </select>
        <input type="hidden" value="{$shopInfo.brand_name}" id="brand_name" name="brand_name" />
    </span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type"><span class="ot_d_type_remark">*</span>商戶區域：</span>
    <span class="ot_d_data ot_d_data_4lvl">
        <input type="hidden" id="main_location_id_hidden" name="main_location_id"  value="{$shopInfo.main_location_id}"  />
        <select id="main_location_id" name="main_location_id">
            <option value="">請選擇區域</option>   
            <iterate name="mainLocationList" id="vo">  
                <option value="{$vo.id}" <if condition="$vo['id'] == $shopInfo['main_location_id']"> selected="true" </if>>{$vo.name}</option>
            </iterate>
        </select>
        <input type="hidden" value="{$shopInfo.main_location_name}" id="main_location_name" name="main_location_name" />
    </span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type"><span class="ot_d_type_remark">*</span>所屬地區：</span>
    <span class="ot_d_data ot_d_data_4lvl">
        <input type="hidden" id="sub_location_id_hidden" name="sub_location_id" value="{$shopInfo.sub_location_id}" />
        <select id="sub_location_id" name="sub_location_id">
            <option value="">請選擇地區</option>
            <iterate name="subLocationList" id="vo">  
                <option value="{$vo.id}" <if condition="$vo['id'] == $shopInfo['sub_location_id']"> selected="true" </if>>{$vo.name}</option> 
            </iterate>
        </select>
        <input type="hidden" value="{$shopInfo.sub_location.name}" id="sub_location_name" name="sub_location_name" />
    </span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">所屬商場：</span>
    <span class="ot_d_data ot_d_data_4lvl">
        <?php echo generateMall('padding:0px 0px 0px 150px');?>
        <script>checkExistMall('__ROOT__','{$shopInfo.parent_shop_id}');</script>
    </span>
    </span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type"><span class="ot_d_type_remark">*</span>街道：</span>
    <span class="ot_d_data ot_d_data_4lvl">
        <input type="text" name="address" value="{$shopInfo.address}" id="address" size="45" <if condition="$shopInfo['parent_shop_id'] neq '0'"> readonly="true" </if>>
        <span id="addressError" style="color:#999">如:xx街xx號</span><br>
        <div class="gmapedit"><div id="gmap"></div></div>
        <input type="hidden" name="googlemap_lat" readonly="true" id="googlemap_lat" value="{$shopInfo.googlemap_lat}"/>
        <input type="hidden" name="googlemap_lng" readonly="true" id="googlemap_lng" value="{$shopInfo.googlemap_lng}"/>
    </span>
</p>
<p class="ot_o_line"></p> 
<p>
    <span class="ot_d_type">街道(英文)：</span>
    <span class="ot_d_data"><input type="text" name="eng_address" id="eng_address" value="{$shopInfo.eng_address}" size="45"/></span>
</p>
<p class="ot_o_line"></p>  
<p>
    <span class="ot_d_type">詳細地址：</span>
    <span class="ot_d_data"><input type="text" name="rooms" id="rooms" value="{$shopInfo.rooms}" size="45" /> <span style="color:#999">如:xx廣場301號舖</span></span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">詳細地址(英文)：</span>
    <span class="ot_d_data"><input type="text" name="eng_rooms" id="eng_rooms" value="{$shopInfo.eng_rooms}" size="45"/></span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type"><span class="ot_d_type_remark">*</span>營業時間：</span>
    <span class="ot_d_data"><?php echo generateShopWeek($shopTime);?></span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">商戶介紹：</span>
    <span class="ot_d_data">
		<table cellspacing="0" cellpadding="0"><tr><td>
    	<textarea name="description" id="description" rows="4" cols="35">{$shopInfo.description}</textarea> 
    	<div><label for="description" generated="true" class="error" style="display: none;padding-left:150px;">商戶介紹不能大於<?php print getShopLevelSetting('description_len',$shopInfo['shop_level']); ?>個字符</label></div>
		</td><td style="width: 5px;"></td><td>
		<span style="color:#999">溫馨提示：免費２０字元簡介，適合介紹如店舖宗旨或服務理念</span>
		</td></tr></table>
    </span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">商戶介紹(英文)：</span>
    <span class="ot_d_data">
    	<textarea name="eng_description" id="eng_description" rows="4" cols="35">{$shopInfo.eng_description}</textarea>
    	<div><label for="eng_description" generated="true" class="error" style="display: none;padding-left:150px;">商戶介紹不能大於<?php print getShopLevelSetting('description_len',$shopInfo['shop_level']); ?>個字符</label></div>
    </span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">泊車資料：</span>
    <span class="ot_d_data"><textarea name="parking" id="parking" rows="2" cols="35">{$shopInfo.parking}</textarea></span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">泊車資料(英文)：</span>
    <span class="ot_d_data"><textarea name="eng_parking" id="eng_parking" rows="2" cols="35">{$shopInfo.eng_parking}</textarea></span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">聯絡電話：</span>
    <span class="ot_d_data">
        <if condition="$shopInfo['telephone'] eq 0">
            <input type="text" name="telephone" id="telephone" value="" minlength="8" maxlength="8"/>
        <else/>
            <input type="text" name="telephone" id="telephone" value="{$shopInfo.telephone}" minlength="8" maxlength="8"/>
        </if>
    </span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">次聯絡電話：</span>
    <span class="ot_d_data">
        <if condition="$shopInfo['sub_telephone'] eq 0">
            <input type="text" name="sub_telephone" id="sub_telephone" value="" minlength="8" maxlength="8"/>
        <else/>
            <input type="text" name="sub_telephone" id="sub_telephone" value="{$shopInfo.sub_telephone}" minlength="8" maxlength="8"/>
        </if>
    </span>
</p>
<?php if (getShopLevelSetting('add_website',$shopInfo['shop_level'])): ?>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">網址：</span>
    <span class="ot_d_data">
    	<input type="hidden" name="website_check" id="website_check" value="1" />
    	<input type="text" name="website" id="website" value="{$shopInfo.website}" size="45"/>
	</span>
</p>
<?php endif; ?>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">電郵地址：</span>
    <span class="ot_d_data"><input type="text" name="email" id="email" value="{$shopInfo.email}" size="45"/></span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">關鍵字：</span>
    <span class="ot_d_data">
        <input type="text" name="keyword" id="keyword" value="{$shopInfo.keyword}" size="45"/><br />
        <span id="keywordWarning" style="color:#999; padding-left:150px;">請輸入不多於<?php print getShopLevelSetting('keyword_num',$shopInfo['shop_level']); ?>組關鍵字，並以 , 分隔</span>
    </span>
</p>
<p class="ot_o_line"></p>
<p>
    <span class="ot_d_type">關鍵字(英文)：</span>
    <span class="ot_d_data">
		<input type="text" name="eng_keyword" id="eng_keyword" value="{$shopInfo.eng_keyword}" size="45"/><br />
        <span id="engKeywordWarning" style="color:#999; padding-left:150px;">請輸入不多於<?php print getShopLevelSetting('keyword_num',$shopInfo['shop_level']); ?>組關鍵字，並以 , 分隔</span>
	</span>
</p>
<?php if ( ACTION_NAME == 'request_edit_shop' ): ?>
<p class="ot_o_line"></p> 
<p>
    <span class="ot_d_type">狀態：</span>
    <span class="ot_d_data">
        <input type="checkbox" name="is_closed" id="is_closed" value="1" <if condition="$shopInfo['shop_status'] == 2">checked='true'</if> />&nbsp;結業
        <input type="checkbox" name="is_renovation" id="is_renovation" value="1" <if condition="$shopInfo['shop_status'] == 3">checked='true'</if> />&nbsp;裝修中
        <input type="checkbox" name="is_moved" id="is_moved" value="1" <if condition="$shopInfo['shop_status'] == 1">checked='true'</if> />&nbsp;已搬址
        <span id="statusWarning" style="padding-left:150px;"></span>
    </span>
</p>
<?php endif; ?>
<p class="ot_o_line"></p>
	<?php if ( !$authInfo ): ?>
		<!--div class="ot_d_member">
			<p>
				<span class="ot_d_type">你的名稱：</span>
				<span class="ot_d_data"><input type="text" name="non_member_name" id="non_member_name" maxlength="200" /></span>
            </p>
            <p>
                <span class="ot_d_type">你的電郵：</span>
                <span class="ot_d_data"><input type="text" name="non_member_email" id="non_member_email" maxlength="200" /></span>
            </p>
		</div-->
	<?php endif; ?> 
<!--p class="ot_o_line"></p-->
<p>
    <span class="ot_d_data_2lvl">
        <input type="submit" name="submit" id="submit" class="send2"/>
        <input type="reset" name="btnSubmit" id="btnSubmit" class="ot_o_resetbtn"/>
    </span>  
</p>
<p class="ot_o_line"></p>
