<div id="ot_d_similar_shops_box">
	<div class="ot_d_header"></div>
	<div class="ot_d_content">
    	<div class="ot_d_similar_shops_pos">
    	<iterate name="similar_shops" id="simShop">
            <if condition="!empty($simShop['pictures'])">
                <div class="ot_d_similar_shops_pos">
                    <div class="ot_d_similar_shops_picframe"><img src="{$simShop|getFirstPicture='shop',true}" onload="javascript:DrawImage(this,95,95)"/></div>
                    <div class="ot_d_similar_shops_info">
                    	<neq name="simShop.name" value=""><span class="ot_d_merchant_chiname"><a href="__ROOT__/shop/view/id/{$simShop['id']}/cate_id/{$_GET['cate_id']}" class="ot_d_similar_shops_tit_chi">{$simShop['name']}</a></span></neq>
						<?php if(($simShop['eng_name'] != $simShop['name']) && ($simShop['eng_name'])) { ?><a href="__ROOT__/shop/view/id/{$simShop['id']}/cate_id/{$_GET['cate_id']}" class="ot_d_similar_shops_tit_eng">{$simShop['eng_name']}</a><?php } ?>
                        <div class="ot_d_similar_shops_type">{$simShop.sub_cates|formatCategory=25}</div>
                        <div class="ot_d_similar_shops_address">{$simShop|formatAddr='shop',10,$startSalt,$endSalt,true}</div>
                    </div>
                </div> 
            <else/>
                <div class="ot_d_similar_shops_info ot_d_similar_shops_info_nopics">
                    <div>
                        <neq name="simShop.name" value=""><a href="__ROOT__/shop/view/id/{$simShop['id']}/cate_id/{$_GET['cate_id']}" class="ot_d_similar_shops_tit_chi">{$simShop['name']}</a></neq>
                    </div>
                    <div class="ot_d_similar_shops_type">{$simShop.sub_cates|formatCategory=25}</div>
                    <div class="ot_d_similar_shops_address">{$simShop|formatAddr='shop',10,$startSalt,$endSalt,true}</div>
                </div>
            </if>
            <div class="ot_d_similar_shops_line"></div>
        </iterate>
        </div>
    </div>
</div>