<load href="__PUBLIC__/js/jquery.rating.package/jquery.MetaData.js" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.css" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.pack.js" />

<script type="text/javascript">
	$( ).ready( function( ) {
		$( '.add-favourite' ).bind( 'click', function( ) {

			var _this = this;
			if ( '{$authInfo.id}' == '' ) {
				alert( '請登入后再儲存為心水商戶' );
			} else {
				$.getJSON( '__ROOT__/ajax/joinShop2Favorite/shopid/' + $( _this ).attr( 'href' ), function( json ) {
					alert( json.info );
				} );
			}
			return false;
		} );
	} );
</script>
<script type="text/javascript">
	var ysmdisplay = 0;
</script>

<div id="paging-box" class="left-box">
	<div class="content">
		<div class="paging">{$multipage}</div>
	</div>
</div>
<div id="ot_d_guides_result_box" class="left-box">
	<div class="ot_d_header">
		<h3></h3>
		<div class="clearBoth"></div>
	</div>
    <div class="ot_d_content">
		<if condition="$isNearbyNotFound">
			<ul>
				<script>
					ysmdisplay++;
					document.write( '<li class="ot_d_alt_row" id="ysmdisplay' + ysmdisplay + '"></li>' );
				</script>
				<script>
					ysmdisplay++;
					document.write( '<li class="" id="ysmdisplay' + ysmdisplay + '"></li>' );
				</script>
				<script>
					ysmdisplay++;
					document.write( '<li class="ot_d_alt_row" id="ysmdisplay' + ysmdisplay + '"></li>' );
				</script>
			</ul>
			<div style="padding: 20px;">
				對不起！我們找不到你填寫的位置。<br />
				請你嘗試以下方法繼續搜尋：<br />
				- 提供更詳細的地址<br />
				- 選擇想搜尋的地區
			</div>
			<elseif condition="empty($shopList)"/>
			<ul>
				<script>
					ysmdisplay++;
					document.write( '<li class="ot_d_alt_row" id="ysmdisplay' + ysmdisplay + '"></li>' );
				</script>
				<script>
					ysmdisplay++;
					document.write( '<li class="" id="ysmdisplay' + ysmdisplay + '"></li>' );
				</script>
				<script>
					ysmdisplay++;
					document.write( '<li class="ot_d_alt_row" id="ysmdisplay' + ysmdisplay + '"></li>' );
				</script>
			</ul>
			<div style="padding: 20px;">
				對不起！我們暫時找不到符合你搜索條件的商戶。<br />
				你是否在搜尋關於<span style="color:#F00">{.searchterms}</span> 的 <a href="__ROOT__/event/search/searchterms/{.searchterms}/">節目</a> 或 <a href="__ROOT__/review/index/search_shop/true/search_event/true/keyword/{.searchterms}/">評介</a>？<br /><br />

				若你在搜尋關於 <span style="color:#F00">{.searchterms}</span> 的商戶，請你嘗試以下方法：<br />
				- 更改關鍵字<br />
				- 轉換中/英文輸入<br />
				- 更改地區範圍<br />
				- 按類別和地區進行搜尋<br /><br />

				若你仍然找不到此商戶，請你幫助我們 <a href="__ROOT__/shop/shop_provide_info/shoppage/1">加入此新商戶</a> 或 <a href="mailto:info@outstreet.com.hk">直接聯絡我們</a> 。謝謝！
			</div>
			<else />
            <ul>
                <iterate name="shopList" id="vo">
					<eq name="i%4" value="1">
						<!--<script>
							ysmdisplay++;
							document.write( '<li class="ot_d_alt_row" id="ysmdisplay' + ysmdisplay + '"></li>' );
						</script>-->
					</eq>
					<li <eq name="i%2" value="0">class="ot_d_alt_row"</eq>>
						<table width="100%" height="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td colspan="2">
									<table>
										<tr>
                                            <td class="ot_o_result_num_pos">
												<div class="ot_t_result_num">
													<?php
													switch ($i){
													case 1:  echo "A"; break;
													case 2:  echo "B"; break;
													case 3:  echo "C"; break;
													case 4:  echo "D"; break;
													case 5:  echo "E"; break;
													case 6:  echo "F"; break;
													case 7:  echo "G"; break;
													case 8:  echo "H"; break;
													case 9:  echo "I"; break;
													case 10: echo "J"; break;
													}
													?>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="ot_d_name">
													<neq name="vo.name" value=""><span class="ot_d_merchant_chiname"><a href="__ROOT__/shop/view/id/{$vo.id}/cate_id/{$cate_direct_id}" class="ot_t_main_link">{$vo.name|formatInfo=60}</a></span></neq>
                                                    <switch name="vo.shop_status">
													<case value="1"><span>（已搬址）</span></case>
													<case value="2"><span>（已結業）</span></case>
													<case value="3"><span>（裝修中）</span></case>
													<default/>
                                                    </switch>
                                                </div>
                                                <?php if(($vo['eng_name'] != $vo['name']) && ($vo['eng_name'])) { ?>
                                                <div class="ot_d_name">
													<span class="ot_d_merchant_engname"><a href="__ROOT__/shop/view/id/{$vo.id}/cate_id/{$cate_direct_id}" class="ot_t_main_link">{$vo.eng_name|formatInfo=60}</a></span>
                                                </div>
                                                <?php } ?>
                                                <div class="ot_d_type">
													{$vo.sub_cates|formatCategory=56}
                                                </div>
                                                <div class="ot_d_address">
													{$vo|formatAddr='shop',10,$startSalt,$endSalt,true}
                                                </div>
                                                <div class="ot_d_telephone">
													{$vo.telephone|formatTelephone=1,$startSalt,$endSalt,true}{$vo.sub_telephone|formatTelephone=2,$startSalt,$endSalt,true}
                                                </div>
                                                <neq name="vo.description" value="">
												<div class="ot_d_guides_result_summary">
													{$vo.description|formatInfo=20}<a href="__ROOT__/shop/view/id/{$vo.id}">(詳情)</a>
												</div>
                                                </neq>
                                            </td>
										</tr>
                                    </table>
                                </td>
                                <td class="ot_o_content_pos">
									<div class="rating_5">
                                        <input type="radio" id="total_rate_level_{$vo.id}_1" name="rate_level_{$vo.id}" disabled="disabled" value="1" class="star" />
                                        <input type="radio" id="total_rate_level_{$vo.id}_2" name="rate_level_{$vo.id}" disabled="disabled" value="2" class="star" />
                                        <input type="radio" id="total_rate_level_{$vo.id}_3" name="rate_level_{$vo.id}" disabled="disabled" value="3" class="star" />
                                        <input type="radio" id="total_rate_level_{$vo.id}_4" name="rate_level_{$vo.id}" disabled="disabled" value="4" class="star" />
                                        <input type="radio" id="total_rate_level_{$vo.id}_5" name="rate_level_{$vo.id}" disabled="disabled" value="5" class="star" />
										(共<a href="__ROOT__/shop/view/id/{$vo.id}">{$vo.statistics.review_count}</a>個評介)</div>
                                   	<?php if (!$vo['pictures'][0]['file_path']) { ?>
									<a href="__ROOT__/shop/shop_provide_info/shoppage/3/shop_id/{$vo.id}/hash/{$vo.id|getHash}/placeValuesBeforeTB_/savedValues/TB_iframe/true/width/750/height/500/"><div class="ot_d_provide_photo">provide photo</div></a>
									<?php }else{ ?>
									<div class="ot_d_imgframe">
										<div class="ot_d_imgframe_pic">
											<img src="{$vo|getFirstPicture='shop',true}"  onload="javascript:DrawImage( this, 95, 95 )"/>
										</div>
									</div>
									<?php } ?>
								</td>
                            </tr>
                            <tr>
								<td style="width:35px;"></td>
                                <td style="padding-top:10px;"><?php /*{$vo.id|fbBtn='shop',2,$authInfo['nick_name']}*/ ?></td>
                                <td style="vertical-align:top">
							<if condition="$authInfo['user_type'] eq 0">
								<div class="write-review"><a href="__ROOT__/shop/view/id/{$vo.id}#reviewForm" class="plus"><span class="write-review">寫評介</span></a></div>
							</if>
							</td>
                            </tr>
                        </table>
					</li>
                </iterate>
            </ul>
		</if>
		<div class="clearBoth"></div>
    </div>
    <div class="footer"></div>
</div>
<div id="paging-box" class="left-box">
    <div class="content">
        <div class="paging">
            {$multipage}
        </div>
    </div>
</div>

<iterate name = "shopList" id = "vo">
	<script type="text/javascript">
		$( '#total_rate_level_{$vo.id}_<?=round($vo["statistics"]["avg_rate_1"]); ?>' ).attr( 'checked', true );
	</script>
</iterate>

<load href="http://outstreet.com.hk/Public/js/ysm.js" />