<table width="600px" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150px" height="67px"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/images/eimg/logo.jpg" /></td>
    <td width="450px" height="67px"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/images/eimg/regshopown.jpg" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
        <table width="95%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="10px"></td>
          </tr>         
          <tr>
            <td>
				<font size="2"><b>店主{$nickname}，您好！</b></font>
                <p><font size="2">多謝閣下登記成為店主！</font></p>
                <p><font size="2">我們已經收到你的註冊。請注意，閣下必須是該店店主/有管理店鋪銷售及推廣業務權限的人士，如發現假冒情況，閣下須負上法律責任。</font></p>
                <p><font size="2">閣下的店舖資料將於兩個工作天內完成核對程序，OutStreet 會有專人聯絡跟進。感謝您的支持和耐心等候！</font></p>
				<p><font size="2">如果您對 OutStreet 提供的店主服務有任何意見或查詢，歡迎隨時聯絡我們。</font></p>
				<p><font size="2">電郵：info@outstreet.com.hk<br/>電話：3568 7293</font></p>
				<p><font size="2">謝謝！</font></p>
            </td>
            </tr>
          <tr>
            <td height="10px"></td>
          </tr>
          <tr>
            <td><div style="padding:8px;border:1px solid #cccccc;background-color:#f3f3f3;font-size:13px;">【歡迎登入OutStreet.com.hk，搜尋香港最新、最全面的出街資訊， 隨時分享你的出街心得！】</div></td>
          </tr>
          <tr>
            <td height="10px"></td>
          </tr>            
        </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" width="600px" height="13px"><img src="<?php echo C('OUTSTREET_DIR') ?>/Public/images/eimg/footer.jpg" /></td>
  </tr>
</table>