<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.css" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.pack.js" />
<load href="__PUBLIC__/css/ot_s02.css" />
<script type="text/javascript">
	$().ready(function(){
		$('.ot_menu_sec02 a').toggleClass('current');
	});
</script>

<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
		<div class="breadcrumb">
			<a href="/">主頁</a> > <a href="__ROOT__/shop/index">出街指南</a>
		</div>
        <if condition="$curSubCate eq ''">
            <div id="ot_d_guide_category_full_box" class="left-box">
                <div class="header">
                    <h3>分類瀏覽</h3>
                    <div class="clearBoth"></div>
                </div>
                <div class="content">
                    <ul class="ot_u_guide_browser_category_list">
                        <!-- MainCate Start -->
                        <if condition="$ShopCateList neq '' AND $shopCateSubList eq '' AND $curSubCate eq ''">
                            <iterate name="ShopCateList" id="item">
                            	<li><a href="__ROOT__/shop/lists/id/<?php echo($item['reference_id'])?$item['reference_id']:$item['id']; ?>/c/{$item.name|skipSpecialChar}"><?php echo $item['name'] ?> ({$item.shop_count})</a></li>
                            </iterate>
                        </if>
                        <!-- MainCate End -->
                    </ul>
                    <div class="clearBoth"></div>
                </div>
                <div class="footer"></div>
            </div>
        </if>
        <div id="ot_d_outstreet_best_box">
        	<div class="ot_d_header">
            	<h3>出街至尊</h3>
                <a href="__ROOT__/shop/lists/" class="ot_o_more">更多</a>
                <div class="ot_d_clearBoth"></div>
            </div>
            <div class="ot_d_content">
            	<?php $listType = array(1=>array("class_name"=>"ot_d_shopping","cate_id"=>"1","cate_name"=>"購物","list_name"=>"indexlist01"),2=>array("class_name"=>"ot_d_barsclubs","cate_id"=>"10","cate_name"=>"酒吧/娛樂","list_name"=>"indexlist02"),3=>array("class_name"=>"ot_d_beauty","cate_id"=>"6","cate_name"=>"美容/髮型/按摩","list_name"=>"indexlist03")); ?>
                <ol><iterate name="listType" id="type"><li>
                    <div class="{$type.class_name}">
                        <div class="ot_d_catebg"><a href="__ROOT__/shop/lists/shop_cate_ids/{$type.cate_id}" class="ot_o_shopcate">{$type.cate_name}</a></div>
                        <div class="ot_d_clearBoth"></div>
                        <ol><iterate name="$type.list_name" id="vo"><li>
                            <div class="ot_d_show_image">
                            	<a href="__ROOT__/shop/view/id/{$vo.shop_id}"><img src="{$vo|getFirstPicture='shop',true}" onload="javascript:DrawImage(this,95,95)"/></a>
                            </div>
                            <div class="ot_d_show_details">
                                <?php $shopName = formatShopName($vo['shop_name'], $vo['eng_name']); ?>
                                <div><a href="__ROOT__/shop/view/id/{$vo.shop_id}" class="ot_o_shopcate_name">{$shopName|formatInfo=80}</a></div>
                                <div>{$vo.sub_cates|formatCategory=56}&nbsp;(<a href="__ROOT__/shop/lists/sublocationid/{$vo.sub_location.id}" class="ot_o_shopcate_cate">{$vo.sub_location.name}</a>)</div>
                                <div class="ot_o_shopcate_description">{$vo.description}</div>
                            </div>
                            <div class="ot_d_star"><div class="ot_d_star_pos">
                                <input type="radio" id="total_rate_level_{$vo.shop_id}_1" name="rate_level_{$vo.shop_id}" disabled="disabled" value="1" class="star" />
                                <input type="radio" id="total_rate_level_{$vo.shop_id}_2" name="rate_level_{$vo.shop_id}" disabled="disabled" value="2" class="star" />
                                <input type="radio" id="total_rate_level_{$vo.shop_id}_3" name="rate_level_{$vo.shop_id}" disabled="disabled" value="3" class="star" />
                                <input type="radio" id="total_rate_level_{$vo.shop_id}_4" name="rate_level_{$vo.shop_id}" disabled="disabled" value="4" class="star" />
                                <input type="radio" id="total_rate_level_{$vo.shop_id}_5" name="rate_level_{$vo.shop_id}" disabled="disabled" value="5" class="star" />
                                <?php echo isset($vo['statistics']['review_count'])?$vo['statistics']['review_count']:0?>個評介
                            </div></div>
                            <div class="ot_d_write_review_pos">
                                <a href="__ROOT__/shop/view/id/{$vo.shop_id}#reviewForm" class="plus"><span class="write-review">寫評介</span></a>
                            </div>
                            <div class="ot_d_clearBoth"></div>
                        </li></iterate></ol>
                    </div>
                </li></iterate></ol>
                <div class="ot_d_footer"></div>
            </div>
        </div>
		<div id="ot_d_newest_merchants_box">
        	<div class="ot_d_header">
            	<h3>最新商戶</h3>
                <a href="__ROOT__/shop/shop_provide_info/shoppage/1" class="plus"><span class="new-merchant">新商戶</span></a>
                <div class="ot_d_clearBoth"></div>
            </div>
            <div class="ot_d_content">
                <ul>
                	<iterate name="shopLatestList" id="vo">
                    	<li>
                            <div class="ot_d_show_image">
                                <a href="__ROOT__/shop/view/id/{$vo.id}"><img src="{$vo|getFirstPicture='shop',true}" onload="javascript:DrawImage(this,95,95)"/></a>
                            </div>
                            <div class="ot_d_show_details">
                            	<?php $shopName = formatShopName($vo['name'], $vo['eng_name']); ?>
                                <div><a href="__ROOT__/shop/view/id/{$vo.id}" class="ot_o_shopcate_name">{$shopName|formatInfo=80}</a></div>
                                <div>{$vo.sub_cates|formatCategory=56}&nbsp;(<a href="__ROOT__/shop/lists/sublocationid/{$vo.sub_location.id}" class="ot_o_shopcate_cate">{$vo.sub_location.name}</a>)</div>
                                <div class="ot_o_shopcate_description">{$vo['description']}</div>
                            </div>
                            <div class="ot_d_star">
                                <div class="ot_d_star_pos">
                                    <input type="radio" id="total_rate_level_{$vo.id}_1" name="rate_level_{$vo.id}" disabled="disabled" value="1" class="star" />
                                    <input type="radio" id="total_rate_level_{$vo.id}_2" name="rate_level_{$vo.id}" disabled="disabled" value="2" class="star" />
                                    <input type="radio" id="total_rate_level_{$vo.id}_3" name="rate_level_{$vo.id}" disabled="disabled" value="3" class="star" />
                                    <input type="radio" id="total_rate_level_{$vo.id}_4" name="rate_level_{$vo.id}" disabled="disabled" value="4" class="star" />
                                    <input type="radio" id="total_rate_level_{$vo.id}_5" name="rate_level_{$vo.id}" disabled="disabled" value="5" class="star" />
                                    <?php echo isset($vo['statistics']['review_count'])?$vo['statistics']['review_count']:0?>個評介
                                </div>
                            </div>
                            <div class="ot_d_write_review_pos">
                                <a href="__ROOT__/shop/view/id/{$vo.id}#reviewForm" class="plus"><span class="write-review">寫評介</span></a>
                            </div>
                            <div class="ot_d_clearBoth"></div>
                        </li>
                    </iterate>
                </ul>
           </div>
           <div class="ot_d_footer"></div>
        </div>
        <div class="ot_d_clearBoth"></div>
	</div>
	<div class="ot_d_body_content_right">
		<include file="Public:div-weather" />
        <include file="Public:div-btn_facebook" />
	</div>
	<div class="clearBoth"></div>
</div>

<script type="text/javascript">
	<iterate name="indexlist01" id="vo">
		$('#total_rate_level_{$vo.shop_id}_{$vo.statistics.avg_rate_1}').attr('checked', true);
	</iterate>
	<iterate name="indexlist02" id="vo">
		$('#total_rate_level_{$vo.shop_id}_{$vo.statistics.avg_rate_1}').attr('checked', true);
	</iterate>
	<iterate name="indexlist03" id="vo">
		$('#total_rate_level_{$vo.shop_id}_{$vo.statistics.avg_rate_1}').attr('checked', true);
	</iterate>
	<iterate name="shopLatestList" id="vo">
		$('#total_rate_level_{$vo.shop_id}_{$vo.statistics.avg_rate_1}').attr('checked', true);
	</iterate>
</script>

<div id='clear'></div>
<include file="Public:footer" />
