<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s02.css" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
	<?php if ( $_REQUEST[ 'searchterms' ] ): ?>
		zKeyword = "<?php echo addslashes( $_REQUEST['searchterms'] ) ?>";
	<?php elseif ( $cate[ 'name' ] ): ?>
		zKeyword = "<?php echo addslashes( $cate[ 'name' ] ) ?>";
	<?php elseif ( $selected_cates ): ?>
		<?php foreach( $selected_cates AS $id=>$cate_name ) {} ?>
		zKeyword = "<?php echo addslashes( $cate_name ) ?>";
	<?php endif; ?>
</script>
<script type="text/javascript">
$( document ).ready( function() {
	$('.ot_menu_sec02 a').toggleClass('current');

		$('a[rel^=nav_search]').click(function(){
		var $this = $(this);
		var rel = $this.attr('rel');
		var type = rel.split( '::' )[ 1 ];
		var id = rel.split( '::' )[ 2 ];
		setTimeout( function() {
			/*edited*/
			if(type == 'main_location'){
				var main_location= <?php echo json_encode($main_location)?>;
				var $dom = $('#nav_sub_location_ids');
				var ids = $dom.val().split(',');
				var idval = '';
				for (var i=0; i<ids.length; i++){
					if(in_array(ids[i],main_location[id]['ids'])==false){
						idval += ','+ids[i];
					}
				}
				idval = idval.substring(1);
				$dom.val(idval);
			}

			if(type == 'cate'){
				var parent_cate= <?php echo json_encode($parent_cate)?>;
				if(parent_cate[id]){
					var $dom = $('#nav_shop_cate_ids');
					var ids = $dom.val().split(',');
					var idval = '';
					for (var i=0; i<ids.length; i++){
							if(in_array(ids[i],parent_cate[id]['ids'])==false){
								idval += ','+ids[i];
							}
					}
					idval = idval.substring(1);
					$dom.val(idval);
				}
			}

			/*end edited*/
			if (type == 'cate' || type == 'location') {
				if (type == 'cate') { var $dom = $('#nav_shop_cate_ids'); }
				else { var $dom = $('#nav_sub_location_ids'); }
				var ids = $dom.val().split(',');
				var idval = '';
				for (var i=0; i<ids.length; i++)
					{ if (ids[i] != id) { idval += ','+ids[i]; } }
				idval = idval.substring(1);
				$dom.val(idval);
			}
			if(type == 'catelist'){
				window.location = "__ROOT__/guide";
				return false;
			}
			$this.parent().remove();
			$('#nav_search').submit();
		}, 10 );
	});

	if (document.getElementById('map_canvas')) {

	map = new google.maps.Map( document.getElementById('map_canvas'), myOptions );

	$('div[id^=googlemap_]').mouseover( function() { infobox_mouseover[ $(this).attr('id') ] = true; } );
	$('div[id^=googlemap_]').mouseout( function() { infobox_mouseover[ $(this).attr('id') ] = false; } );

	lastScrollTop = 0;
	lastScrollTime = 0;
	initTop = $( '#map_container' ).position().top;
	$( '#map_container' ).css( 'position', 'absolute' ).css( 'top', initTop + 'px' );

	$( '#map_container_checkbox' ).change( function() {
		if ( $(this).attr('checked') ) { $( '#map_container' ).css( 'position', 'absolute' ).animate( { top: initTop + 'px' }, 1000); }
	} );

	$( window ).scroll( function() {
		if ( new Date().getTime() - lastScrollTime > 900 ) {
			setTimeout( function() {
				if ( !$( '#map_container_checkbox' ).is(':checked') && lastScrollTop == $( window ).scrollTop() ) {
					var top = $( '#map_container' ).position().top;
					var scrollTop = $( window ).scrollTop();
					if ( scrollTop > initTop )
					{
						$( '#map_container' ).css( 'position', 'absolute' ).animate( { top: scrollTop + 20 + 'px' }, 1000 );
					}
					else
					{
						$( '#map_container' ).css( 'position', 'absolute' ).animate( { top: initTop + 'px' }, 1000);
					}
				}
			}, 1000 );
			lastScrollTime = new Date().getTime();
		}
		lastScrollTop = $( window ).scrollTop();
	} );

	}
});

geocoder = new google.maps.Geocoder();
marker = {};
infobox = {};
infobox_mouseover = {};
infobox_timeout = {};
myOptions = {
	zoom: 10,
	center: new google.maps.LatLng(22.279279, 114.1798),
	mapTypeId: google.maps.MapTypeId.ROADMAP
}
minLat = 0;
maxLat = 0;
minLng = 0;
maxLng = 0;

function InfoBox( settings ) {
	google.maps.OverlayView.call(this);
	this.__latlng = settings.latlng;
	this.__map = settings.map;
	this.__shopId = settings.shopId;
	this.setMap(this.__map);
}

InfoBox.prototype = new google.maps.OverlayView();

InfoBox.prototype.draw = function() {
	$('div[id^=googlemap_]').hide();
	var pos = this.getProjection().fromLatLngToContainerPixel(this.__latlng);
	var top = pos.y + $('#map_canvas').offset().top - 90;
	if ( top - $( window ).scrollTop() < 0 )
	{
		top += 60;
		$('#googlemap_'+this.__shopId).find('.ot_d_google_listbox_span').addClass('ot_d_google_listbox_span_reverse');
	}
	else
	{
		$('#googlemap_'+this.__shopId).find('.ot_d_google_listbox_span').removeClass('ot_d_google_listbox_span_reverse');
	}
	var left = pos.x + $('#map_canvas').offset().left - $('#googlemap_'+this.__shopId).width();
	$('#googlemap_'+this.__shopId).css('top', top +'px');
	$('#googlemap_'+this.__shopId).css('left', left +'px');

	if ( pos.y > 0 && pos.y < $('#map_canvas').height() && pos.x > 0 && pos.x < $('#map_canvas').width() )
	{
		$('#googlemap_'+this.__shopId).show();
	}
};

InfoBox.prototype.remove = function() {
	if ( !infobox_mouseover['googlemap_'+this.__shopId] )
		{ $('div[id=googlemap_'+this.__shopId+']').hide();  }
	else if ( !infobox_timeout['googlemap_'+this.__shopId] )
	{
		var __this = this;
		setTimeout( function() { infobox_timeout['googlemap_'+__this.__shopId] = false; __this.remove(); }, 500 );
		infobox_timeout['googlemap_'+__this.__shopId] = true;
	}
};

function addMarker(letter, id, lat, lng) {
	if ( !minLat || lat < minLat ) { minLat = lat; }
	if ( !minLng || lng < minLng ) { minLng = lng; }
	if ( !maxLat || lat > maxLat ) { maxLat = lat; }
	if ( !maxLng || lng > maxLng ) { maxLng = lng; }
	marker[id] = new google.maps.Marker({ map: map, position: new google.maps.LatLng(lat, lng), icon: '__PUBLIC__/images/backgrounds/google_map_numbering_'+letter+'.gif' });
	google.maps.event.addListener( marker[id], 'mouseover', function() {
		infobox[id] = new InfoBox( { shopId: id, map: map, latlng: marker[id].getPosition() } );
	} );
	google.maps.event.addListener( marker[id], 'mouseout', function() {
		setTimeout( function() { infobox[id].remove(); }, 500 );
	} );
}
/*edited*/
function in_array (needle, haystack, argStrict) {
    var key = '', strict = !!argStrict;
    if (strict) {
        for (key in haystack) {
            if (haystack[key] === needle) {
                return true;
            }
        }
    } else {
        for (key in haystack) {
            if (haystack[key] == needle) {
                return true;
            }
        }
    }
    return false;
}
/*end edited*/
</script>
<?php if ( $shopList ): ?>
<?php $letters = range('a','j'); ?>
<?php $shopListByLatlng = array(); ?>
<?php $i=0; foreach( $shopList AS $k => $v ):
	$shopList[$k]['letter'] = $v['letter'] = $letters[$i];
	$shopListByLatlng[$v['googlemap_lat'].':'.$v['googlemap_lng']][] = $v;
$i++; endforeach; ?>

<?php foreach( $shopListByLatlng AS $k => $vos ): ?>
<?php $i=0;foreach( $vos AS $vo ): ?>
	<?php if (!$i): ?>
		<script type="text/javascript">
			$( document ).ready( function() {
				addMarker( "<?php echo count($vos)>1 ? 'more':$vo['letter'] ?>", {$vo.id}, {$vo.googlemap_lat}, {$vo.googlemap_lng} );
				if ( $('#googlemap_{$vo.id} .ot_d_google_listbox_type').length > 2 )
				{
					$('#googlemap_{$vo.id} .ot_d_google_listbox_scroll' ).css({height: '240px', overflow: 'auto'});
				}
			} );
		</script>
		<div id="googlemap_{$vo.id}" <?php echo ($vo['pictures'][0]['file_path']) ? 'class="ot_d_google_listbox_pic"' : 'class="ot_d_google_listbox_nopic"' ?>>
			<div class="ot_d_google_listbox_span">
			<div class="ot_d_google_listbox_scroll">
	<?php endif; ?>
    	<table width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td class="ot_o_result_num_pos">
					<div class="ot_t_result_num">{$vo.letter|strtoupper} </div>
				</td>
				<td>
					<?php if ($vo['pictures'][0]['file_path']) { ?>
						<div class="ot_d_google_listbox_pic_frame"><img src="{$vo|getFirstPicture='shop',true}" onload="javascript:DrawImage(this,95,95)"/></div>
					<?php } ?>
					<div <?php echo ($vo['pictures'][0]['file_path']) ? 'class="ot_d_google_listbox_info"' : 'class="ot_d_google_listbox_info ot_d_google_listbox_onlyinfo"' ?>>
						<div>
							<neq name="vo.name" value=""><a href="__ROOT__/shop/view/id/{$vo.id}/cate_id/{$cate_direct_id}" class="ot_d_google_listbox_tit_chi">{$vo.name}</a></neq><br />
							<?php if(($vo['eng_name'] != $vo['name']) && ($vo['eng_name'])) { ?><a href="__ROOT__/shop/view/id/{$vo.id}/cate_id/{$cate_direct_id}" class="ot_d_google_listbox_tit_eng">{$vo['eng_name']}</a><?php } ?>
						</div>
						<div class="ot_d_google_listbox_type">{$vo.sub_cates|formatCategory=25}</div>
						<?php $wholeAddress = $vo['main_location_name'].' '.$vo['sub_location_name'].' '.$vo['address'].' '. $vo['rooms']; ?>
						<div class="ot_d_google_listbox_address"><script>print_ecode("<?php echo ecode($startSalt,$endSalt,formatInfo($wholeAddress,25))?>");</script></div>
						<div class="ot_d_google_listbox_phone">{$vo.telephone|formatTelephone=1,$startSalt,$endSalt,true}{$vo.sub_telephone|formatTelephone=2,$startSalt,$endSalt,true}</div>
					</div>
					<div class="clearBoth"></div>
				</td>
			</tr>
		</table>

<?php $i++; endforeach; ?>

		</div>
		</div>
		<div class="ot_d_google_listbox_line"></div>
		<div class="clearBoth"></div>
	</div>
<?php endforeach; ?>
<script type="text/javascript">
	setTimeout( function() {
		map.setCenter( new google.maps.LatLng((minLat+maxLat)/2, (minLng+maxLng)/2) );
		map.setZoom( 17 );

		var isFoundZoom = false;
		for ( var i=17; i>=10; i-- ) {
			var mapLatLng = map.getBounds();
			if ( mapLatLng ) {
				var mapMinLat = mapLatLng.getSouthWest().lat();
				var mapMinLng = mapLatLng.getSouthWest().lng();
				var mapMaxLat = mapLatLng.getNorthEast().lat();
				var mapMaxLng = mapLatLng.getNorthEast().lng();
				if ( mapMinLat > minLat || mapMaxLat < maxLat || mapMinLng > minLng || mapMaxLng < maxLng )
					{ map.setZoom( i ); }
				else
					{ break; }
			}
		}

	}, 1000 );
</script>

<?php endif; ?>

<div id="ot_d_body_content">
    <div class="ot_d_body_content_left">
        <!--full path-->
		<form id="nav_search" method='GET' action='__ROOT__/shop/<?php echo ACTION_NAME ?>/'>
		<input type="hidden" id="nav_shop_cate_ids" name="shop_cate_ids" value="<?php echo $_REQUEST['shop_cate_ids']; ?>"/>
		<input type="hidden" id="nav_sub_location_ids" name="sub_location_ids" value="<?php echo $_REQUEST['sub_location_ids']; ?>"/>
		<input type="hidden" name="searchterms" value="<?php echo $_REQUEST['searchterms']; ?>"/>
        <div class="ot_d_fullpathlink">
            <div class="ot_d_pathlink_home"><a href="__ROOT__/">主頁</a> > <a href="__ROOT__/shop/index">出街指南</a></div>
			<div class="ot_d_pathlink_info">
				<if condition="$curSubLocation.id neq ''">
					<span class="ot_d_pathlink_info_pos">> <a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">{$curSubLocation.name}</span><input type="hidden" name="sublocationid" value="{$curSubLocation.id}"/></a></span>
				<elseif condition="$curMainLocation.id neq ''"/>
					<span class="ot_d_pathlink_info_pos">> <a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">{$curMainLocation.name}</span><input type="hidden" name="mainlocationid" value="{$curMainLocation.id}"/></a></span>
				</if>
				<if condition="$cate">
					<span class="ot_d_pathlink_info_pos">> <a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search::catelist"><span class="ot_d_pathlink_area">{$cate.name}</span><input type="hidden" name="cate_id" value="<?php echo formatShopCategoryId($cate); ?>"/></a></span>
				<elseif condition="$parentCate"/>
					<span class="ot_d_pathlink_info_pos">> <a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">{$parentCate.name}</span><input type="hidden" name="cate_id" value="{$parentCateId}"/></a></span>
				</if>

			<?php if (ACTION_NAME == 'search'): ?><span class="ot_d_pathlink_info_pos">> 搜尋 </span><?php endif; ?>
				<?php if ($selected_locations): ?>
                    <if condition="$main_location">
                        <iterate name="main_location" id="vo">
                            <span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search::main_location::{$key}"><span class="ot_d_pathlink_area">{$vo['name']['0']}全部</span></a></span>
                        </iterate>
                    </if>
					<?php foreach($selected_locations AS $id=>$name): ?>
                    	<if condition="(!in_array($id,$main_location['1']['ids'])) AND (!in_array($id,$main_location['2']['ids'])) AND (!in_array($id,$main_location['3']['ids'])) AND (!in_array($id,$main_location['4']['ids']))">
                    		<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search::location::{$id}"><span class="ot_d_pathlink_area"><?php echo $name; ?></span></a></span>
                    	</if>
					<?php endforeach; ?>
				<?php endif; ?>
				<?php if ($selected_cates): ?>
					<?php foreach($selected_cates AS $id=>$name): ?>
						<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search::cate::{$id}"><span class="ot_d_pathlink_area"><?php echo $name; ?></span></a></span>
					<?php endforeach; ?>
				<?php endif; ?>
                <?php if($distance && $nearby):?>
                	<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_area">距離 "<?php echo $nearby; ?>" <?php echo $distance; ?>米</span></a><input type="hidden" name="distance" value="<?php echo $_REQUEST['distance']; ?>"/><input type="hidden" name="nearby" value="<?php echo $_REQUEST['nearby']; ?>"/></span>
                <?php endif; ?>
                <?php if($price_range):?>
                	<span class="ot_d_pathlink_info_pos"><a href="javascript: void(0);" class="ot_d_pathlink" rel="nav_search"><span class="ot_d_pathlink_price">價格範圍
                    <?php
                      	echo '"';
                        $c = 0;
                    	foreach($price_range_arr as $price){
							if($c!=0){echo ',';}
                        	for($i=1;$i<=$price;$i++){
                            	echo '$';
                            }
                            $c++;
                        }
                        echo '" ';
                    ?>
                    </span></a><input type="hidden" name="price_range" value="<?php echo $_REQUEST['price_range']; ?>"/></span>
                <?php endif; ?>
			</div>
			<div style="clear: both;"></div>
        	<!-- CateDepth End -->
        </div>
		</form>
	    <!--full path-->

        <?php if (ACTION_NAME != 'search'): ?>
		<?php if (count($shopCateList)): ?>
            <div id="ot_d_guide_category_full_box" class="left-box">
                <div class="header">
                    <h3>分類瀏覽</h3>
                    <div class="clearBoth"></div>
                </div>
            	<div class="content">
                    <ul class="ot_u_guide_browser_category_list">
                        <?php foreach( $shopCateList AS $val ): ?>
                           <li><a href="__ROOT__/shop/lists/id/<?php echo ($val['reference_id']) ? $val['reference_id'] : $val['id']; ?>/c/{$val.name|skipSpecialChar}"><?php echo $val['name']; ?> (<?php echo $val['shop_count']; ?>)</a></li>
                        <?php endforeach; ?>
                    </ul>
                    <div class="clearBoth"></div>
                </div>
                <div class="footer"></div>
            </div>
		<?php endif; ?>
		<?php endif; ?>
        <include file="div_shoplist" />
    </div>
    <div class="ot_d_body_content_right">
        <include file="Public:div-weather" />
		<?php if($shopList): ?>
        <div id="map_container" style="padding: 2px; background: #FFFFFF;">
			<div id="map_canvas" style="width: 300px; height: 300px;"></div>
            <div style="padding: 5px;"><label><input id="map_container_checkbox" type="checkbox"> 返回原位!<label></div>
        </div>
		<?php endif; ?>
    </div>
    <div class="clearBoth"></div>
</div>

<div id='clear'></div>

<include file="Public:footer" />