<include file="Public:header" />
<load href="__PUBLIC__/css/maps.css" />

<script type="text/javascript" src="http://maps.google.com.hk/maps?file=api&v=2&sensor=false&key=ABQIAAAA265tqANg-PO9A0c1yzonRhTjMhPI1CAhGVtOIejGS_y-mHbIYBQkOamcSRGA1BZVqQuXy1KsEawDSw"></script>
<script src="http://gmaps-utility-library-dev.googlecode.com/svn/tags/tabbedmaxcontent/1.0/src/tabbedmaxcontent.js" type="text/javascript"></script>
<script src="http://gmaps-utility-library-dev.googlecode.com/svn/tags/keydragzoom/1.0/src/keydragzoom_packed.js" type="text/javascript"></script>

<load href="__PUBLIC__/js/markerclusterer.js" />
<load href="__PUBLIC__/js/jui/themes/base/ui.all.css" />

<script type="text/javascript">
var tipTimer;
var map;
var markerCluster;
$().ready(function() {

	map = new GMap2(document.getElementById("maps"));
	//设置最小ZOOM级别
	GEvent.addListener(map, 'zoomend', function(o, n){
		if (n < 15){
			map.zoomIn();
		}
	});

	$('#maps').resizable({stop: function(e,ui){
			map.checkResize();
			refreshMarkers();
		}
	});

	$("#floatPanel").prependTo($('#maps'));
	$("#floatPanel").draggable();

	var mcOptions = { gridSize: 50 , maxZoom: 20};
	markerCluster = new MarkerClusterer(map, [], mcOptions);

	GEvent.addListener(map, 'zoomend', function(o, n){
		if (n < 10){
			map.zoomIn();
		}
	});
	map.addControl(new GLargeMapControl());

	var latlng = new GLatLng({$shopInfo.googlemap_lat},{$shopInfo.googlemap_lng});
	map.setCenter(latlng, 15);
	map.enableKeyDragZoom();

  	var tabs = [];
  	var tabContent = $(document.createElement('div'));
  	tabContent.toggleClass('tabContent');
	tabContent.append('{$shopInfo.name}<br />地址:{$shopInfo.main_location_name} {$shopInfo.sub_location_name} {$shopInfo.address|msubstr=0,22} {$shopInfo.rooms}<br />電話:{$shopInfo.telephone|formatTelephone=1}{$shopInfo.sub_telephone|formatTelephone=2}');

  	tabs.push(new MaxContentTab('{$shopInfo.name}', tabContent.context));
  	var smallInfo = '這裡是 ';
  	smallInfo += '{$shopInfo.sub_location_name}' + ' ' + '{$shopInfo.address}' + '<br />';
  	smallInfo += '{$shopInfo.name}' + ' 在這裡.<br />'
	smallInfo += '<a href="javascript:void(0)" onclick="javascript:map.getInfoWindow().maximize()">查看詳情</a>';

  	map.openMaxContentTabsHtml(latlng, smallInfo, '', tabs, {maxTitle:'商戶信息',maximized:false});

	var arrow = document.createElement('div');
	arrow.id = 'tipArrow';
	var tip = document.createElement('div');
	tip.id = 'windowTip';

	var container = map.getContainer();
	container.appendChild(arrow);
	container.appendChild(tip);

	GEvent.addListener(map, "moveend", function() {
		refreshMarkers();
	});

	$('#cate_id_level1').bind("change", function(){
		$('#cate_id_level2').empty();
		$('#cate_id_level3').empty();
		$('#cate_id_level3').append('<option value="">所有子類別</option>');
		$('#cate_id_level2').append('<option value="">所有子類別</option>');
		$.getJSON('__ROOT__/Ajax/shopCateSub/cate_id/' + $(this).val(),function(json){
			for (idx in json.data){
				if (idx == 0){
					$('#cate_id_level2').val(json.data[idx].name);
				}

				$('#cate_id_level2').append('<option value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
			}
		});
		refreshMarkers();
	});
	$('#cate_id_level2').bind('change', function(){
		refreshMarkers();
	});

	$('#cate_id_level2').bind("change", function(){
		$('#cate_id_level3').empty();
		$('#cate_id_level3').append('<option value="">所有子類別</option>');
		$.getJSON('__ROOT__/Ajax/shopCateSub/cate_id/' + $(this).val(),function(json){
			for (idx in json.data){
				if (idx == 0){
					$('#cate_id_level3').val(json.data[idx].name);
				}
				$('#cate_id_level3').append('<option value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
			}
		});
		refreshMarkers();
	});
	$('#cate_id_level3').bind('change', function(){
		refreshMarkers();
	});
	refreshMarkers();
});

function printDebug(){
	$('#debug').css('display','block');
	$('#debug').empty();
	var printInfo = 'Zoom:' + map.getZoom() + '<br />';
	printInfo = printInfo + 'Size:' + map.getSize() + '<br />';
	printInfo = printInfo + 'Bounds:' + map.getBounds() + '<br />';

	$('#debug').append(printInfo);
}

function refreshMarkers(){
	var smallIcon = new GIcon();
	smallIcon.image = "__PUBLIC__/images/gm_icon_s.png";
	smallIcon.shadow = "";
	smallIcon.iconSize = new GSize(15, 15);
	smallIcon.shadowSize = new GSize(0, 0);
	smallIcon.iconAnchor = new GPoint(6, 20);
	smallIcon.infoWindowAnchor = new GPoint(5, 1);
	var markerOptions = { icon:smallIcon };

	var latlng = map.getBounds();
	southWest = latlng.getSouthWest().lat() + ',' + latlng.getSouthWest().lng();
	northEast = latlng.getNorthEast().lat() + ',' + latlng.getNorthEast().lng();

	var ajaxUri = '__ROOT__/Ajax/getShopsByMap/southWest/'+southWest+'/northEast/'+northEast;
	if ($('#cate_id_level3').val()){
		ajaxUri += '/cate_id/'+$('#cate_id_level3').val();
	}
	else if ($('#cate_id_level2').val()){
		ajaxUri += '/cate_id/'+$('#cate_id_level2').val();
	}
	else if ($('#cate_id_level1').val()){
		ajaxUri += '/cate_id/'+$('#cate_id_level1').val();
	}

	var fillData = function(response){

		try { var json = $.parseJSON( response ); } catch(e) { var json = {}; }

		$('#actionInfo').text('當前區域內共有商戶' + json.status + '家');

		var markers = [];
		$('#selectedList').empty();
		var shopList = json.data.shopList ? json.data.shopList : {};
		var shopPageList = json.data.shopPageList ? json.data.shopPageList : {};
		for(idx in shopList){
			var latlng = new GLatLng(shopList[idx].googlemap_lat, shopList[idx].googlemap_lng);
			var marker = new GMarker(latlng, markerOptions);
			marker.data = shopList[idx];

		  	GEvent.addListener(marker, 'click', function(){
				var tabs = [];
				var tabContent = $(document.createElement('div'));
				tabContent.toggleClass('tabContent');
				tabContent.append(this.data.name + '<br />地址:' + this.data.main_location_name+ this.data.sub_location_name+ this.data.address+ this.data.rooms +'<br />電話:' + this.data.telephone);

				tabs.push(new MaxContentTab(this.data.name, tabContent.context));
				var smallInfo = '這裡是 ';
				smallInfo += this.data.sub_location_name + ' ' + this.data.address + '<br />';
				smallInfo += this.data.name + ' 在這裡.<br />'
				smallInfo += '<a href="javascript:void(0)" onclick="javascript:map.getInfoWindow().maximize()">查看詳情</a>';
				this.openMaxContentTabsHtml(map, smallInfo, '', tabs, {maxTitle:'商戶信息',maximized:false});
			});

		  	markers.push(marker);
		}
		for(idx in shopPageList){
		  $('#selectedList').append('<li><a href="__ROOT__/shop/view/id/'+shopPageList[idx].id+'" target="_blank">'+shopPageList[idx].name+'</a></li>');
		}
		$('#selectedListPages').html(json.data.multipage);
		$('#selectedListPages a').bind('click',function(){
			$.get($(this).attr('href'),fillData);
			return false;
		});
		markerCluster.clearMarkers();
		markerCluster.addMarkers(markers, function(latlng, clusterMarkers){

		if (map.getZoom() < 19) return true;
		  	var tabs = [];
		  	var smallInfo = '這裡是 ' + clusterMarkers[0].marker.data.sub_location_name + ' ' + clusterMarkers[0].marker.data.address + ',<br />這裡的商戶有:<br />';

			for(clusterMarker in clusterMarkers){
				clusterMarker = clusterMarkers[clusterMarker];
			  	var tabContent = $(document.createElement('div'));
			  	tabContent.toggleClass('tabContent');
			 	smallInfo += clusterMarker.marker.data.name + '<br />';
				tabContent.append(clusterMarker.marker.data.name + '<br />地址:' + clusterMarker.marker.data.main_location_name+ clusterMarker.marker.data.sub_location_name+ clusterMarker.marker.data.address+ clusterMarker.marker.data.rooms +'<br />電話:' + clusterMarker.marker.data.telephone);
			  	tabs.push(new MaxContentTab(clusterMarker.marker.data.name, tabContent.context));
			}
			smallInfo += '<a href="javascript:void(0)" onclick="javascript:map.getInfoWindow().maximize()">查看詳情</a>';
			map.openMaxContentTabsHtml(latlng, smallInfo, '', tabs, {maxTitle:'商戶信息',maximized:false,style: {tabOff: {backgroundColor: '#CCCCFF'}}} );
			return false;
		});

	};
	$.get(ajaxUri,fillData);
}
</script>

<div>
	<div id="maps"> </div>
	<div id="floatPanel">
		<div id="markerSelector">
			<span id="actionInfo"></span><br />
				<select id="cate_id_level1" name="cate_id_level1">
					<option value="">所有類別</option>
					<?php foreach( $shopCateList[0] AS $val ): ?>
						<option value="<?php echo $val['id']; ?>" <?php echo $cate_list[0]['id'] == $val['id'] ? 'selected':'' ?>><?php echo $val['name']; ?></option>
					<?php endforeach; ?>
				</select>
				<select id="cate_id_level2" name="cate_id_level2">
					<option value="">所有子類別</option>
					<?php foreach( $shopCateList[1] AS $val ): ?>
						<option value="<?php echo $val['id']; ?>" <?php echo $cate_list[1]['id'] == $val['id'] ? 'selected':'' ?>><?php echo $val['name']; ?></option>
					<?php endforeach; ?>
				</select>
				<select id="cate_id_level3" name="cate_id_level3">
					<option value="">所有子類別</option>
					<?php foreach( $shopCateList[2] AS $val ): ?>
						<option value="<?php echo $val['id']; ?>" <?php echo $cate_list[2]['id'] == $val['id'] ? 'selected':'' ?>><?php echo $val['name']; ?></option>
					<?php endforeach; ?>
				</select>
		</div>
		<ul id="selectedList"> </ul>
		<div id="selectedListPages"> </div>
	</div>
	<div id="debug" style="display:none"></div>
	<div class="clear"></div>
</div>

<include file="Public:footer" />