<load href="__PUBLIC__/js/jquery.validate.min.js" />
<load href="__PUBLIC__/js/shop_form.js" />
<script type="text/javascript">
$().ready(
	function() {
		addFormValidate = $("#addForm").validate(getformValidateCriteria('addForm','__URL__/request_add_shop'));
		$('#reset').bind("click", resetFormHandler);

		/********************************* Start Location **********************************/
		buildGooglemap();
		
		$('#main_location_id').bind("change",function(){
            mainLocationChangeEventHandler('__ROOT__/ajax/locationSub/mainlocationid/' + $('#main_location_id').val());
			$('#main_location_id_hidden').val($('#main_location_id').val());
			if($('#main_location_id_hidden').val()!=''){
				$('#sub_location_id_hidden').val('1');
			}else{
				$('#sub_location_id_hidden').val('');
			}
        });
		
		$('#sub_location_id').bind("change", function(){
            $('#sub_location_name').val(this.options.item(this.selectedIndex).text);
			$('#sub_location_id_hidden').val($('#sub_location_id').val());
        });
		
		$('#sub_location_id').empty();
		$('#mall').attr({checked:false});
		$('#mall').bind("click", mallClickEventHandler);	
        $('#mallname').bind('keyup click', function(){
            fillSelectedMall('__ROOT__');
        });

		$('#address').bind("blur", addressBlurEventHandler);
		
		tb_init('.shop_thickbox');//pass where to apply mythickbox
		
		$('#mov').bind("click", function(){
			options = $('#subcate').attr('options');
			for(idx=0; idx<options.length; idx++){
				if (options.item(idx).selected){
					if ($('#cate_ids').html().indexOf($(options.item(idx)).html()) == -1){
						$('#cate_ids').append($(options.item(idx)).clone());
					}
				}
			}
		});
			
		$('#remove').bind("click", function(){
			options = $('#cate_ids').attr('options');
			for(idx=0; idx<options.length; idx++){
				if (options.item(idx).selected){
					document.getElementById('cate_ids').remove(idx);
					idx--;
				}
			}
		});
		$('#address').attr({readonly:false});
		/*********************************** End Location **********************************/
	}
);
</script>

<form id="addForm" name="addForm" method="post" action="__URL__/request_add_shop">
	<input type="hidden" name="status" />
    <div class="ot_d_tit"><b>加入新商戶</b></div>
    <!--p>
    	<span class="ot_d_data"><input name="owner" id="owner" type="checkbox" value="owner" /><b>我是店主（請選擇此項登記店主身分）</b></span>
    </p>
    <p class="ot_o_line"></p-->
    {$commonShopForm}        
</form>