<load href="__PUBLIC__/css/ot_global.css" />
<load href="__PUBLIC__/js/jquery.form.js" /> 
<load href="__PUBLIC__/js/shop_form.js" />

<script type="text/javascript">
$().ready(function() {

	var thick = <?php if($_REQUEST['thick']==1) echo '1'; else echo '0';?>;
	$("#provideForm").validate({
		rules: {
			non_member_email: {
				email: true
			},
			member_email: {
				email: true
			}	
		},
		messages: {
			non_member_email: {
				email: "請輸入一個正確的E-mail"
			},
			member_email: {
				email: "請輸入一個正確的會員E-mail"
			}
		},
		submitHandler: function()
		{
			$( '#provideForm' ).ajaxSubmit( {
				success: function ( response, status ) { 
					var json = $.parseJSON( response );
					alert(json.message);
					if(json.success==1){
						if(thick==1){
							parent.tb_remove();
						}else{
							location.href = json.url;
						}
					}
				}
			} );
			return false;
		}
	});
});

$(document).ready(function(){   
	tb_init('.thickbox');//pass where to apply mythickbox
	imgLoader = new Image();// preload image
	imgLoader.src = tb_pathToImage;
});
</script>

<form id="provideForm" name="editForm" method="post" action="__URL__/request_submit_provide_photo">
	<input type="hidden" value="{$id}" name="id" />
	<input type="hidden" value="{$picstamp}" name="picstamp" />
    <div class="ot_d_tit">
    	<b>提供相片</b>
    </div>
	<p>
		<span class="ot_d_type">商戶相片：</span>&nbsp;
        <div style="margin-left:16px;">
            <span class="ot_d_data">
                <?php echo generateUploadPicModule(1,$picstamp,getShopLevelSetting('photo_num',$shopInfo['shop_level']))?>
            </span>
        </div>
    </p>
	<p>
    	<div style="clear:both"></div>
    	<span class="ot_d_data" style="margin-left:16px;"><input name="confirm" type="checkbox" value="confirm" />我確定所提交相片並不含任何侵犯版權之內容</span>
    </p>     
    <p class="line"></p>
	<?php if ( !$authInfo ): ?>
		<div class="ot_d_member">
			<p>
				<span class="ot_d_type">你的名稱：</span>
				<span class="ot_d_data"><input type="text" name="non_member_name" id="non_member_name" maxlength="200" /></span>
            </p>
            <p>
                <span class="ot_d_type">你的電郵：</span>
                <span class="ot_d_data"><input type="text" name="non_member_email" id="non_member_email" maxlength="200" /></span>
            </p>
		</div>
	<?php endif; ?> 
	<p>
		<span style="margin-left:16px;"><input type="submit" name="btnSubmit" id="btnSubmit" value=" "class="send2"/></span>  
    </p>
    <if condition="$_REQUEST['thick'] eq 1">	 
    	<div style="height:30px">&nbsp;</div>
    </if>
</form>
