<include file="Public:header" />
<load href="__PUBLIC__/css/ot_s02.css" />
<script type="text/javascript">
$().ready(function() {
	$("#company_name").focus();
	$("#ownShopForm").validate({
		rules: {
			company_name: "required",
			post: "required",
			contactPerson: "required",
			email: {
				required: true,
				email: true,
				remote: '__ROOT__/Ajax/existEmail/'				
			},
			telephone: {
				required: true,
				regex: '^[235689][0-9]{7}$'
			},
			password: {
				required: true,
				minlength: 5
			},
			confirm_password: {
				required: true,
				minlength: 5,
				equalTo: "#password"
			}
		},
		messages: {
			company_name: "請輸入商戶名稱",			
			post: "請輸入職位",
			contactPerson: "請輸入聯絡人",
			telephone:{
				required: "請輸入8位聯絡電話",
				regex: "請輸入一個正確的聯絡電話"
			},
			email: {
				required: "請輸入電郵",
				email: "請輸入一個正確的電郵",
				remote: '該電郵地址已被使用'
			},
			password: {
				required: "請輸入密碼",
				minlength: "密碼必須大於5個字符"
			},
			confirm_password: {
				required: "請輸入確認密碼",
				minlength: "密碼必須大於5個字符",
				equalTo: "密碼必須相同"
			}
		},
		submitHandler:function(form){
				var jform = $('#ownShopForm');
				var params = jform.serialize();
				var ajaxuri = '__URL__/request_own_shop';
				$('#submit').attr('disabled',true);
				$.post(ajaxuri, params, function(json){
					alert(json.msg);
					if(json.success){
						window.location = json.url;
					}
				},'json');
				return false;
			}
	});	
});

</script>
<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
		<div class="breadcrumb">
				<a href="/">主頁</a> > 店主登記
		</div>
        <div id="ot_d_load_box">
        	<form id="ownShopForm" name="editForm" method="post">
                <input type="hidden" value="{$id}" name="id" />
                <input type="hidden" value="{$_REQUEST['shop_tmp_fields_id']}" name="shop_tmp_fields_id" />
                <input type="hidden" value="{$shopInfo.id}" name="shop_id" />
                <div class="ot_d_tit">
                    <b>店主登記</b>
                </div>
                
                <p>
                    <span class="ot_d_type">類別：</span>
                    <span class="ot_d_data">
						<label><input type="radio" name="type" value="1" checked/>單一商戶用戶</label>
						<label><input type="radio" name="type" value="2" />多店鋪用戶</label>
					</span>
                </p>
				<p class="ot_o_line"></p>
                <p>
                    <span class="ot_d_type">商戶/集團名稱：</span>
                    <span class="ot_d_data"><input type="text" name="company_name" id="company_name" value="{$company_name}"/></span>
                </p>
				<p class="ot_o_line"></p>
                <p>
                    <span class="ot_d_type">聯絡人：</span>
                    <span class="ot_d_data"><input type="text" name="contactPerson" id="contactPerson" value="{$contactPerson}" /></span>
                </p>
				<p class="ot_o_line"></p>
                <p>
                    <span class="ot_d_type">職位：</span>
                    <span class="ot_d_data"><input type="text" name="post" id="post" value="" /></span>
                </p>                                
                <p class="ot_o_line"></p>
                <p>
                    <span class="ot_d_type">聯絡人電話：</span>
                    <span class="ot_d_data"><input type="text" name="telephone" id="telephone" maxlength="8" value="{$telephone}" /></span>
                </p>
                <p class="ot_o_line"></p>
                <p>
                    <span class="ot_d_type">電郵：</span>
                    <span class="ot_d_data"><input type="text" name="email" id="email" value="{$email}"/></span>
                </p>
                <p class="ot_o_line"></p>
                <p>
                    <span class="ot_d_type">密碼：</span>
                    <span class="ot_d_data"><input type="password" name="password" id="password" maxlength="20" value=""/></span>
                </p>
                <p class="ot_o_line"></p>
                <p>
                    <span class="ot_d_type">確認密碼：</span>
                    <span class="ot_d_data"><input type="password" name="confirm_password" id="confirm_password" maxlength="20" value=""/></span>
                </p>
                <p class="ot_o_line"></p>
                <p>
                    <span class="ot_d_data_2lvl"><input type="submit" name="submit" id="submit" value="送出" class="send2"/> <input type="reset" name="btnSubmit" id="btnSubmit" value=" " class="ot_o_resetbtn"/></span>
                </p>
                <p>
                	如有問題，請聯絡我們：<a href="mailto:info@outstreet.com.hk">info@outstreet.com.hk</a>
                </p>
            </form>
        </div>
        <div class="clearBoth"></div>
	</div>
	<div class="ot_d_body_content_right">
        <div id="topmovie-box" class="ot_d_left_box">
           <div id="ot_d_owner_intro"></div>
           <div><a href="__ROOT__/aboutus" id="registerLink">為甚麼要登記成為OutStreet 店主？</a></div>
        </div>    
	</div>
	<div class="clearBoth"></div>
</div>
<div id='clear'></div>		  
<include file="Public:footer" />
