<load href="__PUBLIC__/js/jquery.validate.min.js" />
<load href="__PUBLIC__/js/shop_form.js" />
<script type="text/javascript">
$().ready(
	function() {
		description_len = "<?php echo getShopLevelSetting('description_len',$shopInfo['shop_level']); ?>";
		description_len = parseInt(description_len);

		keyword_num = "<?php echo getShopLevelSetting('keyword_num',$shopInfo['shop_level']); ?>";
		keyword_num = parseInt(keyword_num);

		var thick = <?php if($_REQUEST['thick']==1) echo '1'; else echo '0';?>;
		editFormValidate = $("#editForm").validate(getformValidateCriteria('editForm','__URL__/request_edit_shop',thick));
		$('#reset').bind("click", resetFormHandler);
		
		/********************************* Start Category **********************************/
		var shop_id = "{$shopInfo['id']}";
		$.getJSON('__APP__/Ajax/getShopCateSubs/shopid/' + shop_id ,function(json){
            var _ids = $('#cate_ids');
            var _names = $('#cate_names');
			var temp_name='';
            for(idx in json.data){
                if (_ids.val() != ''){
                    _ids.val(_ids.val()+ ',')
                }
                if (_names.val() != ''){
                    _names.val(_names.val()+ ',')
                }
				if(temp_name!=''){
					temp_name = temp_name + ',';
				}
				var name_ = json.data[idx].cate_name;
                _ids.val( _ids.val() + json.data[idx].cate_id);
				temp_name = temp_name + name_;
                _names.val( _names.val() + json.data[idx].cate_name);
            }
			temp_name=shopuniquecates(temp_name);
			_names.val(temp_name);
        });	
		/*********************************** End Category **********************************/
		
		/********************************* Start Location **********************************/
		buildGooglemap({$shopInfo.googlemap_lat},{$shopInfo.googlemap_lng});
		
		$('#main_location_id').bind("change",function(){
            mainLocationChangeEventHandler('__ROOT__/ajax/locationSub/mainlocationid/' + $('#main_location_id').val());
        });
		
		$('#sub_location_id').bind("change", function(){
            $('#sub_location_name').val(this.options.item(this.selectedIndex).text);
        });
		
		$('#sub_location_id').empty();
        $.getJSON('__ROOT__/ajax/locationSub/mainlocationid/{$shopInfo.main_location_id}',function(json){
            for (idx in json.data){
                if (json.data[idx].id == {$shopInfo.sub_location_id}){
                    $('#sub_location_id').append('<option selected="true" value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
                }else{
                    $('#sub_location_id').append('<option value="' + json.data[idx].id + '">' + json.data[idx].name +'</option>');
                }
            }
        });

		$('#mall').attr({checked:false});
		$('#mall').bind("click", mallClickEventHandler);	
        $('#mallname').bind('keyup click', function(){
            fillSelectedMall('__ROOT__');
        });

		$('#address').bind("blur", addressBlurEventHandler);
		/*********************************** End Location **********************************/
	}
);

$(document).ready(function(){   
	tb_init('.shop_thickbox');//pass where to apply mythickbox
	imgLoader = new Image();// preload image
	imgLoader.src = tb_pathToImage;
});
</script>
<form id="editForm" name="editForm" method="post" action="__URL__/request_edit_shop">
    <input type="hidden" value="{$shopInfo.id}" name="id" />
    <input type="hidden" name="status" />
    <input type="hidden" name="create_time" />
    <input type="hidden" name="user_id" />
    <div class="ot_d_tit">
    	<b>更新商戶資料</b>
    </div>
    {$commonShopForm}
</form>