<if condition="$_REQUEST['thick'] neq 1">
<include file="Public:header" />
<else/>
<include file="Public:box-header" />
</if>
<?php checkVisitFrequecy();?>
<load href="__PUBLIC__/css/ot_s02.css" />
<load href="__PUBLIC__/js/uploadimage.js" />
<script type="text/javascript" src="http://maps.google.com.hk/maps?file=api&v=2&key=ABQIAAAA265tqANg-PO9A0c1yzonRhTjMhPI1CAhGVtOIejGS_y-mHbIYBQkOamcSRGA1BZVqQuXy1KsEawDSw"></script>
<script type="text/javascript">
	var tb_pathToImage = "__PUBLIC__/js/thickbox/loadingAnimation.gif";
	var html = new Array();			
	var shop_id = <?php if(getHash($_REQUEST['shop_id'])==$_REQUEST['hash'] && $_REQUEST['shop_id']) echo $_REQUEST['shop_id']; else echo '0'; ?>;
	var shoppage = <?php if($_REQUEST['shoppage']) echo $_REQUEST['shoppage']; else echo '0'; ?>;
	var shop_tmp_fields_id = <?php if($_REQUEST['shop_tmp_fields_id']) echo $_REQUEST['shop_tmp_fields_id']; else echo '0'; ?>;
	var islogin = <?php Import('@.ORG.SimpleAcl'); if(SimpleAcl::getLoginInfo()) echo 1; else echo 0; ?>;
	var from = <?php if($_REQUEST['from']) echo '1'; else echo '0' ?>;
	var thick = <?php if($_REQUEST['thick']==1) echo '1'; else echo '0';?>;
	var is_owner = <?php if($_REQUEST['is_owner']==1) echo '1'; else echo '0';?>;
	html[1] = "request_add_shop/is_owner/"+is_owner+"/";
	html[2] = "request_edit_shop/id/"+shop_id+"/thick/"+thick+"/is_owner/"+is_owner+"/";
	html[3] = "request_provide_photo/id/"+shop_id+"/thick/"+thick+"/is_owner/"+is_owner+"/";
//	html[4] = "request_own_shop/id/"+shop_id+"/from/"+from+"/shop_tmp_fields_id/"+shop_tmp_fields_id;		
//	html[5] = "request_own_shop/shop_tmp_fields_id/"+shop_tmp_fields_id+"/from/"+from;
	html[6] = "shop_error/error/1/";	
	html[7] = "shop_error/error/2/";	
	html[8] = "shop_error/error/3/";	

	function loadhtml(id,page) {
		if (html[id]) {
			$('#ot_d_shopprovide_tabs_box .ot_o_tabs_link').removeClass('current');
			switch(id) {
				case 1:
			  		$('#ot_d_shopprovide_tabs_box #ot_o_add_shop').addClass('current');		
			  		break;
				case 2:
				  $('#ot_d_shopprovide_tabs_box #ot_o_edit_shop').addClass('current');
				  break;
				case 3:
				  $('#ot_d_shopprovide_tabs_box #ot_o_provide_photo').addClass('current');
				  break;
				/*case 4:
				  $('#ot_d_shopprovide_tabs_box #ot_o_own_shop').addClass('current');
				  break;
				case 5:
				  $('#ot_d_shopprovide_tabs_box #ot_o_own_shop').addClass('current');
				  break;*/
				case 6:
				case 7:
				case 8:
					if(page=="request_edit_shop") $('#ot_d_shopprovide_tabs_box #ot_o_edit_shop').addClass('current');
					else if(page=="request_provide_photo") $('#ot_d_shopprovide_tabs_box #ot_o_provide_photo').addClass('current');
					//else if(page=="request_own_shop") $('#ot_d_shopprovide_tabs_box #ot_o_own_shop').addClass('current');
				  break;		  					  
			}			
			$.ajax({	
				url: '__URL__/'+html[id],				
				cache: false,
				success: function(message) {					
					$("#ot_d_load_box").empty().append(message);
				}
			});			        
		}
	}
		
	$(document).ready(function() {
		$("#ot_o_add_shop").click(function() {
			/*if(islogin==1) loadhtml(1);
			else{
				alert('請先登錄!');
				location.href = "__APP__/User/login";	
			}*/
			loadhtml(1);
		});
		
		$("#ot_o_edit_shop").click(function() {
			/*if(islogin==1) {
				if(shop_id == '0') {
					var page = "request_edit_shop";						
					loadhtml(6,page);
				}else loadhtml(2);
			}else{
				alert('請先登錄!');
				location.href = "__APP__/User/login";	
			}*/
			if(shop_id == '0') {
				var page = "request_edit_shop";						
				loadhtml(6,page);
			}else loadhtml(2);
		});
		
		$("#ot_o_provide_photo").click(function() {
			if(shop_id == '0'){
				var page = "request_provide_photo";
				loadhtml(7,page);
			}else loadhtml(3);
		});
		
		/*$("#ot_o_own_shop").click(function() {
			if(shop_id == '0' && shop_tmp_fields_id=='0') {
				var page = "request_own_shop";
				loadhtml(8,page);
			}else if(shop_tmp_fields_id!='0'){
				loadhtml(5);
			}else loadhtml(4);
			loadhtml(4);
		});
		*/
		
		switch(shoppage) {
			case 1:
				/*if(islogin==1) loadhtml(1);
				else{
					alert('請先登錄!');
					location.href = "__APP__/User/login";	
				}*/
				loadhtml(1);
				break;
			case 2:
				/*if(islogin==1) {
					if(shop_id == '0') {
						var page = "request_edit_shop";
						loadhtml(6,page);
					}else loadhtml(2);
				}else{
					alert('請先登錄!');
					location.href = "__APP__/User/login";	
				}*/
				if(shop_id == '0') {
						var page = "request_edit_shop";
						loadhtml(6,page);
					}else loadhtml(2);
				break;
			case 3:
				if(shop_id == '0') {
					var page = "request_provide_photo";
					loadhtml(7,page);
				}else loadhtml(3);
				break;
/*			case 4:
				if(shop_id == '0' && shop_tmp_fields_id=='0') {
					var page = "request_own_shop";
					loadhtml(8,page);
				}else if(shop_tmp_fields_id!='0') {
					loadhtml(5);
				}else loadhtml(4);
				loadhtml(4);
				break;*/
			default:
				loadhtml(1);
				break;
		}
	});

</script>

<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
	    <if condition="$_REQUEST['thick'] neq 1">	 
			<div class="breadcrumb">
		        <if condition="$_REQUEST['from'] neq 1">
					<a href="/">主頁</a> > <a href="__URL__/index/rootcate/1">出街指南</a>
	            <else/>
					<a href="/">主頁</a> > <a href="__ROOT__/event/">節目</a>            
	            </if>
			</div>
        </if>
        <if condition="$_REQUEST['from'] neq 1">
            <div id="ot_d_shopprovide_tabs_box">
                <ul>
	                <if condition="$_REQUEST['thick'] neq 1">	 
                    	<li><a class="ot_o_tabs_link ot_o_fontsize" id="ot_o_add_shop" href="#">加入新商戶</a></li>
                    </if>
                    <li><a class="ot_o_tabs_link ot_o_fontsize" id="ot_o_edit_shop" href="#">更新商戶資料</a></li>
					<if condition="!count($shopInfo['pictures'])">
						<li><a class="ot_o_tabs_link ot_o_fontsize" id="ot_o_provide_photo" href="#">提供相片</a></li>
					</if>
                    <!--<li><a class="ot_o_tabs_link ot_o_fontsize" id="ot_o_own_shop" href="#">我是店主</a></li>-->
                </ul>
            </div>
        </if>
        <div id="ot_d_load_box"></div>
        <div class="clearBoth"></div>
	</div>
    <if condition="$_REQUEST['thick'] neq 1">
		<div class="ot_d_body_content_right">
			<include file="Public:div-weather" />     
		</div>
    </if>
	<div class="clearBoth"></div>
</div>
<div id='clear'></div>	
<if condition="$_REQUEST['thick'] neq 1">	  
	<include file="Public:footer" />
<else/>
	<include file="Public:box-footer" />
</if>