<form>
    <div class="ot_d_tit">
        <span class="ot_d_type">
            <b>
                <if condition="$error eq 1">
                    更新商戶資料
                <elseif condition="$error eq 2" />
                    提供相片
                <elseif condition="$error eq 3" />
                    店主登記
                </if>
            </b>
        </span>
    </div>
	<p>
        <span class="data data_4lvl">
            <span class="ot_d_data">
                <if condition="$error eq 1">
                    請先前往出街指南，按商戶類別或按關鍵字搜尋你需要更新資料的商戶，進入特定商戶頁面後再進行資料更新。謝謝你的合作！
                <elseif condition="$error eq 2" />
                    請先前往出街指南，按商戶類別或按關鍵字搜尋你需要更新資料的商戶，進入特定商戶頁面後再提供相片。謝謝你的合作！
                <elseif condition="$error eq 3" />
                    請先返回「加入新商戶」，填寫商戶的詳細信息，以便稍後再為你進行店主登記。謝謝你的支持和合作！
                </if>
                <p class="line"></p>
            </span>
        </span>
	</p>
</form>