<include file="Public:header" />
<load href="__PUBLIC__/css/maps.css" /> 


<script type="text/javascript">
$(function() {
	$("#resizable").resizable();
});


</script>


<div id="resizable" class="ui-widget-content">
	<h3 class="ui-widget-header">Resizable</h3>
</div>
	
	
	
<include file="Public:footer" />
