<include file="Public:header" />
<load href="__PUBLIC__/js/shop_form.js" />
<load href="__PUBLIC__/js/uploadimage.js" />
<load href="__PUBLIC__/css/ot_s02.css" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<load href="__PUBLIC__/css/jphoto/default.css" />
<load href="__PUBLIC__/js/jphoto/jquery.flow.1.1.min.js" />
<script type="text/javascript">
$().ready(function(){
	$('.ot_menu_sec02 a').toggleClass('current');

	$('#tabs-box ul').showTabs();

	$.validator.addMethod("split", function(value) {
		return true;
	}, '');
	$(function() {
		$("div#controller").jFlow({
			slides: "#slides",
			width: "206px",
			height: "206px"
		});
	});
	$('#jphoto_prev').click(function(){
		$('.jphoto_img').hide();
		$('.jphoto_img').fadeIn(2000);
		$('.jphotocontent').hide();
		$('.jphotocontent').fadeIn(2000);
	});
	$('#jphoto_next').click(function(){
		$('.jphoto_img').hide();
		$('.jphoto_img').fadeIn(2000);
		$('.jphotocontent').hide();
		$('.jphotocontent').fadeIn(2000);
	});
});
function searchRoute(){
  var dest = "{$shopInfo['address']}";
  var destLat = "{$shopInfo['googlemap_lat']}";
  var destLng = "{$shopInfo['googlemap_lng']}";
  var url = encodeURI("http://www.roadroadguide.com/?dest="+dest+"&destLat="+destLat+"&destLng="+destLng+"&ori="
  + document.getElementById("ori").value);
  window.open(url, "mywindow",
  "menubar=0,resizable=1,modal=yes,alwaysRaised=yes,scrollbars=yes,toolbar=no,status=yes,width=1024,height=600");
}
</script>

<load href="__PUBLIC__/js/xheditor/xheditor_plugins/ubb.js" />
<load href="__PUBLIC__/js/xheditor/xheditor-zh-tw.js" />
<load href="__PUBLIC__/js/jquery.easing.1.3.js" />
<load href="__PUBLIC__/js/jquery-galleryview-1.1/jquery.galleryview-1.1.js" />
<load href="__PUBLIC__/js/jquery-galleryview-1.1/jquery.timers-1.1.2.js" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.MetaData.js" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.css" />
<load href="__PUBLIC__/js/jquery.rating.package/jquery.rating.pack.js" />

<script type="text/javascript">
$().ready(function() {

	<if condition="!empty($shopInfo['pictures'])">
	$('#photos').galleryView({
	    filmstrip_size: 5,
	    frame_width: 120,
	    frame_height: 120,
	    background_color: '#ded',
	    nav_theme: 'dark',
	    border: 'none',
	    show_captions:true,
	    caption_text_color: 'black'
	});
	</if>
	$('#jphoto_img').bind('click', function(){
		var imglink = $(this).attr('src');
		imglink = imglink.replace('thumb_','');

		$('#shoppic').attr('src',imglink);
		$('#shoppicdesc').text('('+$(this).attr('title')+')');
		return false;
	});

	$('#shopFavoriteLink').bind('click', function(){

		if ('{$authInfo.id}' == ''){
			alert('請登入后再儲存為心水商戶');
		}else{
			$.getJSON('__ROOT__/ajax/joinShop2Favorite/shopid/{$shopInfo.id}',function(json){
				$('#shopFavoriteLink ').removeClass('ot_o_add_favourite').addClass('ot_o_added_favourite').unbind('click');
			});
		}
	});

	$('.userFavoriteLink').bind('click', function(){
		var _this = this;
		if ('{$authInfo.id}' == ''){
			alert('請登入后再儲存為心水評家');
		}else{
			$.getJSON('__ROOT__/ajax/joinUser2Favorite/userid/' + $(_this).attr('href'),function(json){
				alert(json.info);
				$(_this).hide();
			});
		}
		return false;
	});

	$.each($('.commend'),function(idx, ele){
		$.getJSON('__ROOT__/ajax/getReviewCommendCount/reviewId/' + $('.ot_d_clap').attr('href'),function(json){

			$(ele).text(json.status);
		});
	});
	$.each($('.reports'),function(idx, ele){
		$.getJSON('__ROOT__/ajax/getReviewReportCount/reviewId/' + $('.ot_d_flag').attr('href'),function(json){
			$(ele).text(json.status);
		});
	});

	$('.ot_d_clap').bind('click', function(){
		_this = this;
		$.getJSON('__ROOT__/ajax/appendReviewCommend/reviewId/' + $(_this).attr('href'),function(json){
			alert(json.info);
			if (json.status != 0){
				$(_this).children('.commend').text(json.status);
			}
		});
		return false;
	});

	$('.ot_d_flag').bind('click', function(){
		_this = this;
		$.getJSON('__ROOT__/ajax/appendReviewReport/reviewId/' + $(_this).attr('href'),function(json){
			alert(json.info);
			if (json.status != 0){
				$(_this).children('.reports').text(json.status);
			}
		});

		return false;
	});
});

function provideInfo(type){
	if(type == 'photo') {
		location.href = '__ROOT__/shop/shop_provide_info/shoppage/3/shop_id/{$shopInfo.id}/hash/{$shopInfo.id|getHash}/placeValuesBeforeTB_/savedValues/TB_iframe/true/width/750/height/500/';
	}
}
</script>

<style type="text/css">
	form label.error { display: none; color: red; }
</style>
<div id="ot_d_shop_content">
    <div class="ot_d_shop_content_left">
    	<div class="ot_d_shop_infodetail">
        	<div class="breadcrumb">
            <a href="__ROOT__/">主頁</a>
            > <a href="__ROOT__/guide">出街指南</a>
            <?php foreach( $cate_list AS $val ): ?>
            > <a href="__ROOT__/shop/lists/shop_cate_ids/<?php echo($val['reference_id'])?$val['reference_id']:$val['id']; ?>"><?php echo $val['name'] ?></a>&nbsp;
            <?php endforeach; ?>
            >
            <?php $shopName = formatShopName($shopInfo['name'], $shopInfo['eng_name']); ?>{$shopName|formatInfo=40}
            </div>
            <div id="ot_d_merchant_info_box" class="left-box">
                <div class="ot_d_content">
                    <div class="ot_d_shopname">
                    	<neq name="shopInfo.name" value=""><span class="ot_d_merchant_chiname">{$shopInfo['name']}</span></neq>
                        <?php if(($shopInfo['eng_name'] != $shopInfo['name']) && ($shopInfo['eng_name'])) { ?><span class="ot_d_merchant_engname">{$shopInfo['eng_name']}</span><?php } ?>
                        <switch name="shopInfo.shop_status">
                            <case value="1"><span class="ot_d_merchant_status">（已搬址）</span></case>
                            <case value="2"><span class="ot_d_merchant_status">（已結業）</span></case>
                            <case value="3"><span class="ot_d_merchant_status">（裝修中）</span></case>
                            <default/>
                        </switch>
                    </div>
                    <div class="ot_d_star">
                        <div class="ot_d_star_pos">
                            <input type="radio" id="total_rate_level_1" name="rate_level" disabled="disabled" value="1" class="star" />
                            <input type="radio" id="total_rate_level_2" name="rate_level" disabled="disabled" value="2" class="star" />
                            <input type="radio" id="total_rate_level_3" name="rate_level" disabled="disabled" value="3" class="star" />
                            <input type="radio" id="total_rate_level_4" name="rate_level" disabled="disabled" value="4" class="star" />
                            <input type="radio" id="total_rate_level_5" name="rate_level" disabled="disabled" value="5" class="star" />
                            <?php echo isset($shopInfo['statistics']['review_count'])?$shopInfo['statistics']['review_count']:0?>個評介
                        </div>
                    </div>
                    <div class="ot_d_info">
                        <div class="ot_d_info_pos">
                            <div class="ot_d_ew_hold">
                                <div class="ot_d_eW">
                                    <div class="ot_d_eH_col_1">類別</div>
                                    <div class="ot_d_eH_col_2">
                                        {$shopInfo.sub_cates|formatCategory=25}
                                    </div>
                                </div>
                                <div class="ot_d_eW">
                                    <div class="ot_d_eH_col_1">地址</div>
                                    <div class="ot_d_eH_col_2">
                                    	{$shopInfo|formatAddr='shop',10,$startSalt,$endSalt,true}
                                    	<div class="clearBoth;"></div>
                                    	<div class="ot_d_eH_col_button">
                                    		<neq name="shopInfo.brand_id" value="0">
                                            <a class="thickbox ot_d_info_shop_profile_brandbtn" href="__ROOT__/base/brand/brandid/{$shopInfo.brand_id}?height=500&width=850&modal=false&TB_iframe=true"><img src="__PUBLIC__/images/btn_brand.gif" /></a>
                                        	</neq>
                                  			<?php echo displayMallButton($shopInfo); ?>
                                    	</div>
                                    </div>
                                </div>
                                <div class="ot_d_eW">
                                    <div class="ot_d_eH_col_1">營業時間</div>
                                    <div class="ot_d_eH_col_2">
                                        {$working_hour}
                                    </div>
                                </div>
                                <div id="rating_price" class="ot_d_eW">
                                    <div class="ot_d_eH_col_1">價格</div>
                                    <div class="ot_d_eH_col_2"><if condition="$shopInfo.price_range eq 0">暫無<else /><?php for($i=1;$i<=4;$i++){if($i<=$shopInfo['price_range']){echo "<span class='ot_d_pricerange_orange'>$</span>";}else{echo "<span class='ot_d_pricerange_grey'>$</span>";}} ?></if>
                                    </div>
                                </div>
                                <div class="ot_d_eW">
                                    <div class="ot_d_eH_col_1">電話</div>
                                    <div class="ot_d_eH_col_2">
                                   		{$shopInfo.telephone|formatTelephone=1,$startSalt,$endSalt,true}
                                    	{$shopInfo.sub_telephone|formatTelephone=2,$startSalt,$endSalt,true}
                                    </div>
                                </div>
                                <if condition="(!empty($shopInfo['website']))AND(trim($shopInfo['website']) neq '')">
                                    <div class="ot_d_eW">
                                        <div class="ot_d_eH_col_1">網址</div>
                                        <div class="ot_d_eH_col_2">
                                            <a href="{$shopInfo.website}" target="_blank">{$shopInfo.website|urlShortForm=40}</a>
                                        </div>
                                    </div>
                                </if>
                                <if condition="(!empty($shopInfo['email']))AND(trim($shopInfo['email']) neq '')">
                                    <div class="ot_d_eW">
                                        <div class="ot_d_eH_col_1">電郵地址</div>
                                        <div class="ot_d_eH_col_2">
                                            <a href="mailto:{$shopInfo.email}" target="_blank">{$shopInfo.email}</a>
                                        </div>
                                    </div>
                                </if>
                                <div class="ot_d_eW ot_d_eB">
                                  <div class="ot_d_eH col_1"></div>
                                  <div class="ot_d_eH col_2"></div>
                                </div>
                            </div>
                            <div class="ot_d_merchant_buttons">
                                <div>
	                                <if condition="$authInfo['user_type'] eq 0">
	                                    <span id="favoriteResult">
	                                    	<if condition="$shopFavoriteState">
	                                        	<a href="#" class="ot_o_added_favourite">已存為心水商戶</a>
	                                      	<else/>
	                                        	<a id="shopFavoriteLink" href="#" class="ot_o_add_favourite">儲存為心水商戶</a>
	                                      	</if>
	                                  	</span>
                                    </if>
                                    <if condition="$authInfo['user_type'] eq 0">
                                    	<a href="__ROOT__/review/write_review/id/{$shopInfo.id}?placeValuesBeforeTB_=savedValues&TB_iframe=true&width=650&height=500" class="write-review thickbox">寫評介</a>
									</if>
                                  	<a class='provide-details' href='__URL__/shop_provide_info/shoppage/2/shop_id/{$shopInfo.id}/hash/{$shopInfo.id|getHash}?placeValuesBeforeTB_=savedValues&TB_iframe=true&width=750&height=500'>更新資料</a>
	                                <a class='owner-claim' href='__ROOT__/aboutus'>我是店主</a>
								</div>
                            </div>
                        </div>
                        <div class="ot_d_shopphotos">
                        	<div id="ot_d_content"></div>
                            <div id="jphoto">
                                <div id="wrap">
                                    <div id="controller" class="hidden">
                                    <if condition="count($shopInfo['pictures']) neq 0">
                                    	<iterate name="shopInfo.pictures" id="vo">
                                        	<span class="jFlowControl">No {$i}</span>
                                        </iterate>
                                    <else />
                                    	<span class="jFlowControl">No 1</span>
                                    </if>
                                    </div>
                                    <div id="jphoto_prevNext">
                                        <div id="jphoto_prev">
                                        	<if condition="count($shopInfo['pictures']) gt 1">
                                            <img src="__PUBLIC__/images/jphoto/prev.jpg" alt="Previous Tab" class="jFlowPrev" />
                                            </if>
                                        </div>
                                        <div id="jphoto_next">
                                        <if condition="count($shopInfo['pictures']) gt 1">
                                            <img src="__PUBLIC__/images/jphoto/next.jpg" alt="Next Tab" class="jFlowNext" />
                                        </if>
                                        </div>
										<div class="jphoto_link"><if condition="!count($shopInfo['pictures'])"><a class="jphoto_link_text" href="{$Think.config.OUTSTREET_DIR}/shop/shop_provide_info/shoppage/3/shop_id/{$shopInfo.id}/hash/{$shopInfo.id|getHash}">加入圖片</a><else />&nbsp;</if></div>
                                    </div>
                                    <div id="slides">
                                    	<if condition="count($shopInfo['pictures']) neq 0">
                                            <iterate name="shopInfo.pictures" id="vo">
                                                <div>
                                                    <div class="jphoto_img"><span class="jphoto_spn"></span><a href="{$Think.config.OUTSTREET_DIR}{$Think.config.SHOP_UPFILE_PATH}{$vo['file_path']}" class="thickbox image" rel="group"><img onload="javascript:DrawImage(this,202,152)" src="{$Think.config.OUTSTREET_DIR}{$Think.config.SHOP_UPFILE_PATH}{$vo['file_path']}" alt="photo"/></a></div><p id="jphotocontent" class="jphotocontent">{$i} of {$shopInfo['pictures']|count}</p>
                                                    </div>
                                            </iterate>
                                        <else />
                                            <div>
                                                <div class="jphoto_img"><span class="jphoto_spn"></span><a style="z-index:10;color:#FFF;" href="{$Think.config.OUTSTREET_DIR}/shop/shop_provide_info/shoppage/3/shop_id/{$shopInfo.id}/hash/{$shopInfo.id|getHash}"><img style="padding-left:1px;" src="__PUBLIC__/images/jphoto/providephotobtn.jpg" width="73" height="26" alt="photo"/></a>
                                                </div>
                                            <p id="jphotocontent"></p>
                                            </div>
                                        </if>
                                    </div>
                                </div>
                            </div>
                            <if condition="$countpdf neq 0">
                                <div id="ot_d_shopview_download_pdf">
                                    <div class="ot_d_header"></div>
                                    <div class="ot_d_content">
                                        <ul>
                                            <iterate name="shopInfo.pdf" id="vo">
                                                <?php if($vo['is_audit']==1 && strtotime($vo['start_date'])<=time() && strtotime($vo['end_date'])>=time()):?>
                                                    <li title="{$vo.description}"><div class="ot_d_pdfurl"><a href="__ROOT__/ajax/downloadpdf/id/{$vo.id}">{$vo.description|formatInfoUTF8=18}</a></div><div class="ot_d_downloadicon"><a href="__ROOT__/ajax/downloadpdf/id/{$vo.id}"></a></div></li>
                                                <?php endif;?>
                                            </iterate>
                                        </ul>
                                    </div>
                                    <div class="ot_d_footer"></div>
                                </div>
                            </if>
                        </div>
                        {$shopInfo.id|fbBtn='shop',3,$authInfo['nick_name']}
                    </div>
                    <div class="ot_d_extra_info">
                    	<if condition="!empty($shopInfo['description'])">
                            <div class="ot_d_extra_info_desc">{$shopInfo.description|nl2br}</div>
                        <else/>
                            <div class="ot_d_extra_info_nodesc">暫無介紹</div>
                        </if>
                        <div class="ot_d_extra_info_bg">
                           <div class="ot_d_extra_info_area">
                               <if condition="(!empty($shopInfo['parking']))OR($shopInfo['parking'] neq '')">
                                   <div class="ot_d_eW">
                                       <div class="ot_d_eH_col_1">泊車資料</div>
                                       <div class="ot_d_eH_col_2">{$shopInfo.parking}&nbsp;</div>
                                   </div>
                               </if>
                               <if condition="(!empty($shopInfo['keyword']))OR($shopInfo['keyword'] neq '')">
                                   <div class="ot_d_eW">
                                       <div class="ot_d_eH_col_1">關鍵字</div>
                                       <div class="ot_d_eH_col_2">
                                       		<iterate name="shopInfo.keywords" id="vo">
												<a href="__ROOT__/shop/search/searchterms/{$vo}">{$vo}</a>&nbsp;
                                           	</iterate>
                                       </div>
                                   </div>
                               </if>
                               <div class="ot_d_eW ot_d_eB">
                                   <div class="ot_d_eH col_1"></div>
                                   <div class="ot_d_eH col_2"></div>
                               </div>
                           </div>
                        </div>
                    </div>
                    <div class="clearBoth"></div>
                    <div class="ot_d_6icon">
                        <div class="ot_d_6icon_pos">
                            <div class="ot_d_header"></div>
                            <div class="ot_d_content">
                                <div class="ot_6icon_box_pos">
                                    <div class="ot_6icon_box_titpos">
                                        <div class="ot_6icon_box_tit">服務</div>
                                        <div class="ot_6icon_box_tit">環境</div>
                                        <div class="ot_6icon_box_tit">方便</div>
                                        <div class="ot_6icon_box_tit">價格</div>
                                        <div class="ot_6icon_box_tit">產品質素</div>
                                        <div class="ot_6icon_box_tit">產品種類</div>
                                    </div>
                                    <div class="ot_6icon_box_iconpos">
                                        <?php $maxMark = 5;

                                        for( $i=2; $i<=7; $i++): ?>
                                            <div class="ot_6icon_box_icon">
                                            	<if condition="$avgRate eq 0">
                                                	<div class="ot_6icon_box_icon_base">
                                                        <if condition="$shopInfo['statistics']['avg_rate_'.$i]/$maxMark gt 0.8">
                                                            <div class="ot_6icon_box_icon_5mark" style="width:0px;">&nbsp;</div>
                                                        <elseif condition="$shopInfo['statistics']['avg_rate_'.$i]/$maxMark gt 0.6"/>
                                                            <div class="ot_6icon_box_icon_4mark" style="width:0px;">&nbsp;</div>
                                                        <elseif condition="$shopInfo['statistics']['avg_rate_'.$i]/$maxMark gt 0.4"/>
                                                            <div class="ot_6icon_box_icon_3mark" style="width:0px;">&nbsp;</div>
                                                        <elseif condition="$shopInfo['statistics']['avg_rate_'.$i]/$maxMark gt 0.2"/>
                                                            <div class="ot_6icon_box_icon_2mark" style="width:0px;">&nbsp;</div>
                                                        <else/>
                                                            <div class="ot_6icon_box_icon_1mark" style="width:0px;">&nbsp;</div>
                                                        </if>
                                                    </div>
                                                <else/>
                                                    <div class="ot_6icon_box_icon_base">
                                                        <if condition="$shopInfo['statistics']['avg_rate_'.$i]/$maxMark gt 0.8">
                                                            <div class="ot_6icon_box_icon_5mark" style="width:{$shopInfo['statistics']["avg_rate_$i"]/$maxMark*89}px;">&nbsp;</div>
                                                        <elseif condition="$shopInfo['statistics']['avg_rate_'.$i]/$maxMark gt 0.6"/>
                                                            <div class="ot_6icon_box_icon_4mark" style="width:{$shopInfo['statistics']["avg_rate_$i"]/$maxMark*89}px;">&nbsp;</div>
                                                        <elseif condition="$shopInfo['statistics']['avg_rate_'.$i]/$maxMark gt 0.4"/>
                                                            <div class="ot_6icon_box_icon_3mark" style="width:{$shopInfo['statistics']["avg_rate_$i"]/$maxMark*89}px;">&nbsp;</div>
                                                        <elseif condition="$shopInfo['statistics']['avg_rate_'.$i]/$maxMark gt 0.2"/>
                                                            <div class="ot_6icon_box_icon_2mark" style="width:{$shopInfo['statistics']["avg_rate_$i"]/$maxMark*89}px;">&nbsp;</div>
                                                        <else/>
                                                            <div class="ot_6icon_box_icon_1mark" style="width:{$shopInfo['statistics']["avg_rate_$i"]/$maxMark*89}px;">&nbsp;</div>
                                                        </if>
                                                    </div>
                                            	</if>
                                            </div>
                                        <?php endfor; ?>
                                    </div>
                                </div>
                                <div class="ot_6icon_box_mark">
                                	<if condition="$avgRate eq 0">
                                    	<div class="ot_6icon_box_mark_avg"><span class="ot_6icon_box_mark_num">N/A</span></div>
                                    <else/>
                                    	<div class="ot_6icon_box_mark_avg"><span class="ot_6icon_box_mark_num">{$avgRate}</span>/5</div>
                                        <div class="ot_6icon_box_mark_pic"></div>
                                    	<div class="ot_6icon_box_mark_review">({$shopInfo.reviews|count}評介)</div>
                                    </if>
                                </div>
                            </div>
                            <div class="ot_d_footer"></div>
                        </div>
                        <div class="ot_d_merchant_news">
                            <div class="ot_d_header">
                            	<span class="ot_d_merchant_news_tit">商戶消息</span>
                            </div>
                            <div class="ot_d_content">
                                <ul>
                                    <iterate name="combineList" id="obj" key="k">
                                    	<if condition="$obj.type eq 0">
                                        	<li class="ot_d_content_news">
                                            	<span class="ot_d_content_news_newsdetailtit">消息</span>
                                                <span class="ot_d_content_news_newsdetaildate"><?php if ( strtotime($obj['item']['time_end']) > time() ): ?>{$obj.item.time_start|strtotime|date=chDate(3),###}({$news.time_start|strtotime|date='w',###|week2ch})<?php else: ?>已完結<?php endif; ?></span>
                                                <span title="{$obj['item']['description']}" class="ot_d_content_news_newsdetailinfo"><a class="thickbox" href="__ROOT__/shop/viewshopnews/id/{$obj.item.id}/shop_id/{$shopInfo['id']}?width=600&height=400">{$obj['item']['title']|formatInfoUTF8=18}</a></span>
                                            </li>
                                    	<elseif condition="$obj.type eq 1" />
                                            <li class="ot_d_content_news">
                                                <div class="ot_d_content_news_leftbox">
                                                    <span class="ot_d_content_news_eventtit">節目</span>
                                                </div>
                                                <div class="ot_d_content_news_middlebox">
                                                    <span class="ot_d_content_news_eventdate">
                                                    <?php if ( $obj['item']['end_time'] > time() ): ?>
                                                        {$obj.item.start_time|date=chDate(3),###}({$event.start_time|date='w',###|week2ch}) -	{$obj.item.end_time|date=chDate(3),###}({$obj.item.end_time|date='w',###|week2ch})
                                                    <?php else: ?>已完結<?php endif; ?>
                                                    </span>
                                                 </div>
                                                 <div class="ot_d_content_news_rightbox">
                                                   <span class="ot_d_content_news_info"><a href="__ROOT__/event/view/id/{$obj['item']['id']}" title="{$obj['item']['name']}">{$obj['item']['name']|formatInfoUTF8=20}</a></span>
                                                 </div>
                                            </li>
                                        <elseif condition="$obj.type eq 2"/>
	                                    	<li class="ot_d_content_news">
												<div class="ot_d_content_news_leftbox">
                            	            		<span class="ot_d_content_news_promotiontit">{$obj['item']['type1']|rtnPromotionType}</span>
                                                </div>
                                                <div class="ot_d_content_news_middlebox">
                                                    <span class="ot_d_content_news_promotiondate">
                                                        <?php $weekdays = array('一','二','三','四','五','六','日'); ?>
                                                        <?php if ($obj['item']['is_ended'] || (strtotime($obj['item']['time_end']) && strtotime(date('Y-m-d')) > strtotime($obj['item']['time_end'])) ): ?> 已完結
                                                        <?php elseif ( strtotime($obj['item']['time_start']) && strtotime($obj['item']['time_end']) ): ?>
                                                            {$obj.item.time_start|strtotime|date=chDate(3),###}(<?php echo $weekdays[$obj['item']['time_start_weekday']] ?>) 至 {$obj.item.time_end|strtotime|date=chDate(3),###} (<?php echo $weekdays[$obj['item']['time_end_weekday']] ?>)
                                                        <?php elseif (strtotime($obj['item']['time_start'])): ?>
                                                            {$obj.item.time_start|strtotime|date=chDate(3),###}(<?php echo $weekdays[$obj['item']['time_start_weekday']] ?>)起
                                                        <?php elseif (strtotime($obj['item']['time_end'])): ?>
                                                            即日起 至 {$obj.item.time_end|strtotime|date=chDate(3),###} (<?php echo $weekdays[$obj['item']['time_end_weekday']] ?>)
                                                        <?php endif; ?>
                                                        <?php if ( !($obj['item']['is_ended'] || (strtotime($obj['item']['time_end']) && strtotime(date('Y-m-d')) > strtotime($obj['item']['time_end'])) )): ?>
                                                            <?php echo formatInfoUTF8($obj['item']['time_remarks'],20) ?>
                                                        <?php endif; ?>
                                            		</span>
					                            </div>
                                                <div class="ot_d_content_news_rightbox">
                            						<span class="ot_d_content_news_info"><a href="__ROOT__/promotion/view/id/{$obj.item.id}" title="{$obj['item']['name']}">{$obj.item.name|formatInfoUTF8=20}</a></span>
                                                </div>
                                    		</li>
                                        </if>
                                     </iterate>
                                </ul>
                                <if condition="!count($combineList)">
									<div class="ot_d_merchant_nonews">暫無商戶消息</div>
                                </if>
                            </div>
                            <div class="ot_d_footer"></div>
                        </div>
                    </div>
                </div>
                <div class="clearBoth"></div>
            </div>
        </div>
        <?php $type = 'shop'; ?>
        <include file="Public:div_review"/>
    </div>
    <div class="ot_d_shop_content_right">
    	<include file="div_map" />
        <include file="div_similar_shops" />
        <include file="div_roadroadguide" />
    </div>
    <div class="clearBoth"></div>
</div>
<div id='clear'></div>

<script type="text/javascript">
$('#total_rate_level_<?=round($shopInfo['statistics']['avg_rate_1']); ?>').attr('checked',true);
</script>

<include file="Public:footer" />
