<include file="Public:sa-header" />
<include file="Public:box-header" />
<script type="text/javascript">
function confirmDelete(id){
	$(document).ready(function(){		
	});
}
</script>

<div class="container">
	<h3>會員列表</h3>
    <div class="mainbox">
    <div>
    	<form action="__URL__/listall/" method="get">
				用戶ID:<input type="text" style="width: 20px;" name="id" value="{.id}" />
				會員名稱:<input type="text" style="width:100px;" id="nick_name" name="nick_name" value="{.nick_name}"/>
				Email:<input type="text" name="email" value="{.email}" />
				<input type="submit" name="search" id="searchbtn" value="搜尋" />
		</form>
    </div>
    <table class="datalist fixwidth">
        <tr>
            <?php $sortcols = array( 'user_fields.id'=>'ID', 'user_fields.nick_name'=>'會員名稱','user_fields.email'=>'Email','user_fields.create_time'=>'創建時間'); ?>
            <?php foreach( $sortcols AS $key=>$val ): ?>
                <th>
                    <?php echo $val; ?><a href="__URL__/listAll/sort/{$key}/sortorder/asc/searchLink/{$searchLink}">&#8595;</a>|<a href="__URL__/listAll/sort/{$key}/sortorder/desc/searchLink/{$searchLink}">&#8593;</a>
                </th>
            <?php endforeach; ?>            
        </tr>    
    	<iterate name="userList" id="vo">    
            <tr title="{$vo.name|stripslashes}" class="mousetr">
                <td>{$vo.id}</td>
                <td>{$vo.nick_name}</td>
                <td>{$vo.email}</td>
                <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
            </tr>
    	</iterate>
        <tr class="nobg">
        	<td class="tdpage" colspan="4">{$multipage}</td>
		</tr>
    </table>
    </div>
</div>
<include file="Public:sa-footer" />