@charset "utf-8";
/* CSS Document */
* {
	outline: none;
}

body {
	font-family: Arial, MingLiu, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #333333;
}
a, a:hover, a:link, a:visited, a:active {
	color: #2155B5;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;\
}

.clearBoth { clear: both; height: 0px; font-size: 0px; line-height: 0px; }

#body-wrapper {
	width: 980px;
	margin: 0 auto;
	padding-bottom: 30px;
}

/* BODY CONTENT */
#body-content {
	background: #FFF url(../images/backgrounds/body-content.gif) repeat-y left top;
	padding-left: 15px;
	padding-bottom: 30px;

}
#body-content.full {
	background: #FFF;
	padding-left: 15px;
	padding-bottom: 30px;
}
#body-content .body-content-left {
	float: left;
	width: 640px;
	padding-top: 15px;
}
#body-content .body-content-left .body-content-left-left {
	float: left;
	width: 425px;
}
#body-content .body-content-left .body-content-left-left ul.shows-list {
	height: 256px;
}
#body-content .body-content-left .body-content-left-right {
	float: right;
	width: 200px;
}
#body-content .body-content-right {
	float: right;
	width: 280px;
	padding: 15px;
}
#body-content .body-content-full {
	padding-top: 15px;
}

/* MORE BUTTON */
#body-content a.more {
	display: block;
	text-indent: -9999px;
	float: right;
	width: 45px;
	height: 16px;
	background: url(../images/buttons/more-off.png) no-repeat top left;
}
#body-content a.more:hover { background-image: url(../images/buttons/more-on.png); }
#tabs-box a.more						{ margin-top: 12px; }

/* PLUS BUTTON */
#body-content a.plus {
	display: block;
	float: right;
	height: 16px;
	line-height: 16px;
	padding-left: 22px;
	background: url(../images/buttons/plus-off.png) no-repeat 0 0;
	vertical-align: middle;
}
#body-content a.plus:hover { background-image: url(../images/buttons/plus-on.png); }
#body-content a.plus span {
	display: block;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	text-indent: -9999px;
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer;
}

#body-content a.plus span.new-merchant	{ width: 44px; background-image: url(../images/buttons/new-merchant-off.png); }
#body-content a.plus span.join			{ width: 24px; background-image: url(../images/buttons/join-off.png); }
#body-content a.plus span.leavemessage	{ width: 29px; background-image: url(../images/buttons/leavemessage-off.png); }

#body-content a.plus:hover span.new-merchant	{ background-image: url(../images/buttons/new-merchant-on.png); }
#body-content a.plus:hover span.leavemessage	{ background-image: url(../images/buttons/leavemessage-on.png); }

/* Breadcrumb */
.breadcrumb {
	color: #2155B5;
	height: 12px;
	padding-bottom: 11px;
}

/* Left Box */
.left-box {
	padding-bottom: 15px;
}
.left-box .header {
	background-position: top left;
	background-repeat: no-repeat;
	padding-right: 10px;
}
.left-box .header h3 {
	display: block;
	float: left;
	text-indent: -9999px;
}
.left-box .content {
	background-position: top left;
	background-repeat: repeat-y;
}
.left-box .footer {
	background-position: top left;
	background-repeat: no-repeat;
}

input[type='text'].short{
	width: 80px;
}
table.cate_select_box tr{
	padding: 10px 0;
}
table.cate_select_box td span.item{
	padding: 15px;
}
table td,table th{
	vertical-align: top;
}
table td.label,table th.label{
	text-align:right;
	padding-right: 10px;
}

/* BODY CONTENT WHOLE WHITE BG*/
#body-content-full {
	background: #FFF ;
	padding-left: 15px;
	padding-bottom: 30px;
	padding-top: 15px;
}
.checkbox_word_left{
	position:static !important;
	margin-left:3px;
}
.formlabel {
	text-align: right;
	vertical-align: top;
}
.locs {
	border: 1px solid #888;
	padding: 1em;
	margin-top: 1em;
}
#breadcrumb {
	font-size: 0.875em;
	padding-top: 10px;
}
.score {
	float: left;
	padding: 13px 19px;
	background: url(../images/bg_score.gif) transparent;
	color: #c00;
	font-size: 150%;
	font-weight: bold;
}
div.clear {
	clear: both;
}
div.review {
	border-top: 1px dashed #c5ccd4;
	border-bottom: 1px dashed #c5ccd4;
	padding: 10px;
	background: #f9fff9;
	margin-right:15px;
	margin-top:10px;
}
div.review .rates {
	font-size: 150%;
}
div.review .rates .key {
	float: right;
	color: #abc;
}
div.review .author {
	float: left;
	width: 12%;
	text-align: center;
	width:125px;
}
div.review .author img {
	width: 80px;
	height: 80px;
	border: 2px solid #eae6e4;
}
div.review .author{
	text-align:right;
}
div.review .author a b{
	font-weight:normal;
	text-decoration:underline;
	color:#4a678b;
}
div.review .texts {
	width: 85%;
	float: right;
}
div.review .desc {
	margin: 10px 0;
	padding: 10px;
	text-indent: 14px;
	word-wrap:break-word;
	word-break:normal;
}
div.review .other {
	color: #666;
	margin-top: 10px;
	text-align: right;
}
div.review .picture {
	border: 1px dashed #ccc;
	float: left;
	text-align: center;
	background: #efe;
	min-height: 140px !important;
	height: 140px;
	width: 120px;
	margin: 10px 10px 0 0;
	padding: 5px;
}
div#reviews {
	text-align: left;
	width: 70%;
	float: left;
}
div#recent {
	float: left;
	border-bottom: 1px solid #cccccc;
	padding: 10px;
}
p#desc {
	margin: 5px;
	padding: 10px;
	border: 1px solid #ccc;
}
label.rate{
	padding: 0 10px;
	float: left
}
div.photoContainer {
	min-height: 160px !important;
	height: 160px;
	border: 1px dashed #ccc;
	margin: 0 10px 10px 0;
	float: left;
	text-align: center;
}
div.photoContainer .photo {
	padding: 0 10px;
	width: 120px;
	min-height: 140px !important;
	height: 140px;
	background: #efe;
}
div.photoContainer .photo .loading {
	margin-top: 60px;
}
div.photoContainer .action {
	padding: 2px;
}
div#gmap {
	width: 300px;
	height: 300px;
}
