@charset "utf-8";

.ot_b_owner_ok{
	width:45px;
	height:21px;
	border: 0;
	cursor: pointer;
	margin-right:7px;
	background: url(../images/buttons/ok.gif) no-repeat top left;
}
.ot_b_owner_ok.hover{
	background-position: 0px -20px;
}
.ot_d_owner_selectshopid_content{
	padding-left:4px;
}
.ot_d_owner_selectshopid_content .ot_d_owner_selectshopid_title{	
	border-bottom:1px solid;	
}
.ot_d_owner_selectshopid_content .ot_d_owner_selectshopid_result{
	width:100%;overflow:hidden;
	padding-bottom:10px;	
}

.ot_d_owner_selectshopid_content .ot_d_owner_selectshopid_result .ot_d_owner_selectshopid_title_id{
	width:50px;float:left;
}
.ot_d_owner_selectshopid_content .ot_d_owner_selectshopid_result .ot_d_owner_selectshopid_title_shopname{
	width:168px;float:left;
}
.ot_d_owner_selectshopid_content .ot_d_owner_selectshopid_result .ot_d_owner_selectshopid_title_address{
	width:300px;float:left;
}
.ot_d_owner_selectshopid_content .ot_d_owner_selectshopid_result .ot_d_owner_selectshopid_title_select{
	width:60px;float:left;
}
.ot_d_owner_selectshopid_content .ot_d_owner_noresult{
	width:100%;padding-top:10px;
}