<include file="Public:header" />
<load href="__PUBLIC__/js/ajaxupload.3.5.js" />
<load href="__PUBLIC__/js/picuploadfunction.js" />
<load href="__PUBLIC__/css/ot_ajaxupload.css" />
<load href="__PUBLIC__/css/ot_brand.css" />
<script type="text/javascript">
/*pic prepare*/
	var timestamp = "<?php echo $picstamp;?>";
	var dest = "<?php echo $dest;?>";
	var itemid ="{$brandInfo.id}";
/*pic prepare*/
</script>
<script type="text/javascript">
$(document).ready(function(){	
	$('.ot_menu_sec01 a').toggleClass('current');	
	var validator = $( '#theform' ).validate( {
		rules: {			
			description:{maxlength:20},			
			eng_description:{maxlength:20},
			email: {
				email: true
			}
		},
		messages: {			
			description:"商戶介紹不能大於20個字符",
			eng_description:"商戶介紹不能大於20個字符",	
			email: "請輸入一個正確的email地址"			
		},
		submitHandler: function()
		{			
			$( '#theform' ).ajaxSubmit( {				
				success: function ( response, status ) {					
					var json = $.parseJSON( response );
					if ( json.success ) {
						alert('成功修改品牌');
						 $( location ).attr( 'href', "__APP__?m=brand&a=index" );  
					}else {
						 alert('fail'); 
					}
				}
			} );
			return false;
		}
	});
	initialuploadelement();
});
</script>
<div class="ot_d_body_content">
	<div id="ot_d_body_content_left"><if condition="$brand_status eq 2"><include file="Public:left_menu" /></if></div>
	<div id="ot_d_body_content_right">
        <form id="theform" action="__APP__" method="post">
        <input type="hidden" name="m" value="brand" />
        <input type="hidden" name="a" value="do_edit" />
    	<table class="ot_t_add_edit_table">
             <tr>
              	<td colspan="4"><b><font color="#FF0000">注意：如分店沒有獨立簡介/電郵地址/相片，OutStreet將自動擷取品牌資料作為分店簡介、分店電郵地址及分店相片</font></b></td>
            </tr>
            <tr>            	
              <td colspan="4">&nbsp;</td>
            </tr>
			<tr>
                <th id="col01"></th>
                <th style="text-align:center;" id="col02">中文<input id="id" value="{$brandInfo.id}" type="hidden" name="id" />			</th>
                <th style="text-align:center;" id="col03">英文（如適用）</th>
                <td id="col04"></td>
            </tr>
            <tr>            	
                <th id="col01" style="title">品牌名稱：</th>
                <td id="col02">{$brandInfo.name}</td>
                <td id="col03">{$brandInfo.eng_name}</td>
                <td id="col04"></td>
            </tr>
            <tr>
                <th id="col01">品牌介紹：</th>
                <td id="col02"><textarea id="description" rows="4" cols="25" name="description">{$brandInfo.description}</textarea></td>
                <td id="col03"><textarea id="eng_description" rows="4" cols="25" name="eng_description">{$brandInfo.eng_description}</textarea></td>
                <td id="col04"><?php getHelp(5);?><label for="description" generated="true">(請輸入不超過二十個字元)</label></td>
            </tr>
            <tr>
                <th id="col01">電郵地址：</th>
                <td id="col02"><input id="email" value="{$brandInfo.email}" size="30" type="text" name="email" /></td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>            
            <tr>
                <th id="col01"></th>
                <td id="col02">
                	<input id="submit" value="確定" type="submit" name="submit" class="btn01"/>
                    <input id="btnSubmit" value="重設" type="reset" name="btnSubmit" class="btn01"/>
                </td>
                <td id="col03"></td>
                <td id="col04"></td>
            </tr>
            <tr>
                <th id="col01">品牌相片：</th>
                <td id="col02">{$brandInfo['id']|generatePicBox='brand',###}</td>
                <td id="col03"></td>
                <td id="col04"><?php getHelp(8);?>(上傳圖片尺寸為200*150)</td>
            </tr>
        </table>
    	</form>
    </div>
	<div class="ot_d_clearBoth"></div>
</div>
<include file="Public:footer" />