<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<div id="ot_d_body_content">
	<div class="ot_d_body_content_left">
			<div class="breadcrumb">
				<a href="__ROOT__/">主頁</a>
			</div>	
<div id="uc-contact-box" class="left-box">
				<div class="header">
					<h3>建設中</h3>
				</div>
				<div class="content">
					<table cellpadding="0" cellspacing="0" width="100%" class="stripe2">
						<tbody>
							<tr>
								<td>《出街》網是各大商戶的最佳伙伴，註冊成為《出街》網的商業客戶，可與你的目標客人分享貴公司的最新資料(相片、短片、價錢表、新產品、新商戶……)，令數之不盡的顧客留意貴公司。本網亦替客戶分析顧客瀏覽紀錄、流量及評語，並會即時通知店主有關客人對公司產品或服務的評價。
<br /><br />
以上服務預計將於今夏推出。各商戶如想運用本網高效率的宣傳平台，接觸全港龐大的潛在客戶，現可<a href="mailto:info@outstreet.com.hk" style="color:red;text-decoration:underline;" title="聯絡我們">立即留下基本資料</a>，我們將有專人與您聯絡。
</td>
								<td width="10">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="footer"></div>
			</div>
			
	</div>
	<div class="ot_d_body_content_right">
		<include file="Public:div-weather" />       
	</div>
	<div class="clearBoth">
	</div>
</div>
<include file="Public:footer" />