<include file="Public:header" />
<script type="text/javascript">
	$( document ).ready( function () {
		$( '#shop_tab, #event_tab' ).click( function () {

			$( '#shop_tab' ).toggleClass( 'shop_tab_on' );
			$( '#event_tab' ).toggleClass( 'event_tab_on' );
			$( '#shop_index' ).toggle();
			$( '#event_index' ).toggle();

		} );
	} );
</script>

<div class="content">
	<ul class="tab_container">
		<li id="shop_tab" class="shop_tab_on"></li>
		<li id="event_tab"></li>
	</ul>
	<div id="shop_index" class="tab_content">
		<form action="__ROOT__/shop/search" method="Get">
			<div class="title">商戶搜尋: </div>
			<input class="input" name="query" type="text" size="14" value="" />
			<input class="button" type="submit" value="搜尋" />
		</form>
		<div class="title"><a href="__ROOT__/shop/searchform">>> 進階搜尋 </a></div>
		<p class="header">
		<div class="title">熱門商戶類別:</div>
		<iterate name="hotshopcatesList" id="vo"><a href="__ROOT__/shop/search/category_id/{$vo.id}">{$vo.name}</a> </iterate>
		</p>
		<div class="title">所有類別:</div>
		<?php if($shopcatesList): ?>
		<?php foreach($shopcatesList AS $cate): ?>
		<b><a href="__ROOT__/shop/search/category_id/{$cate.id}">{$cate.name}</a></b><br />
		<?php if($shopcatesLists[$cate['id']]): ?>
		<?php foreach($shopcatesLists[$cate['id']] AS $subcate): ?>
		<a href="__ROOT__/shop/search/category_id/{$subcate.id}">{$subcate.name}</a>
		<?php endforeach; ?>
		<?php endif; ?>
		<br /><br />
		<?php endforeach; ?>
		<?php endif; ?>
		<div class="title">商戶地區:</div>
		<span class="label">香港島:</span><br />
		<a href="__ROOT__/shop/search/main_location_id/1">香港島全部</a>
		<iterate name="sublocationList" id="vo">
			<if condition="$vo.main_location_id eq 1"> <a href="__ROOT__/shop/search/sub_location_ids/{$vo.id}"
														  <if condition="$vo.type eq 1">class="highlight"</if>
					>{$vo.name}</a>
            </if>
		</iterate>
		<br /><br />
		<span class="label">九龍:</span><br />
        <a href="__ROOT__/shop/search/main_location_id/2">九龍全部</a>
        <iterate name="sublocationList" id="vo">
			<if condition="$vo.main_location_id eq 2"> <a href="__ROOT__/shop/search/sub_location_ids/{$vo.id}"
														  <if condition="$vo.type eq 1">class="highlight"</if>
					>{$vo.name}</a> </if>
        </iterate>
        <br />
        <br />
        <span class="label">新界:</span><br />
        <a href="__ROOT__/shop/search/main_location_id/3">新界全部</a>
        <iterate name="sublocationList" id="vo">
			<if condition="$vo.main_location_id eq 3"> <a href="__ROOT__/shop/search/sub_location_ids/{$vo.id}"
														  <if condition="$vo.type eq 1">class="highlight"</if>
					>{$vo.name}</a> </if>
        </iterate>
        <br />
        <br />
        <span class="label">離島:</span><br />
        <a href="__ROOT__/shop/search/main_location_id/4">離島全部</a>
        <iterate name="sublocationList" id="vo">
			<if condition="$vo.main_location_id eq 4"> <a href="__ROOT__/shop/search/sub_location_ids/{$vo.id}"
														  <if condition="$vo.type eq 1">class="highlight"</if>
					>{$vo.name}</a> </if>
        </iterate>
	</div>
	<div id="event_index" class="tab_content" style="display: none;">
		<form action="__ROOT__/event/search" method="Get">
			<div class="title">節目搜尋: </div>
			<input class="input" name="query" type="text" size="14" value="" />
			<input class="button" type="submit" value="搜尋" />
		</form>
		<div class="title"><a href="__ROOT__/event/searchform">>> 進階搜尋 </a></div>
		<p class="header">
		<div class="title">熱門節目類別:</div>
		<iterate name="hoteventcatesList" id="vo"><a href="__ROOT__/event/search/category_id/{$vo.id}">{$vo.name}</a> </iterate>
		</p>
		<div class="title">所有類別:</div>
		<iterate name="eventcatesList" id="vo"><a href="__ROOT__/event/search/category_id/{$vo.id}">{$vo.name}</a> </iterate>
		<br />
		<br />
		<div class="title">熱賣節目:</div>
		<iterate name="recommendEventList" id="vo">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="2"><b><a href="__ROOT__/event/view/event_id/{$vo.id}" class="title">{$vo.name}</a></b></td>
				</tr>
				<tr>
					<td class="label">日期 :</td>
					<td>{$vo.start_time|date=chDate(3),###}({$vo.start_time|date='w',###|week2ch}) -  {$vo.end_time|date=chDate(3),###}({$vo.end_time|date='w',###|week2ch})</td>
				</tr>
				<tr>
					<td class="label">類別 :</td>
					<td><a href="__ROOT__/event/search/category_id/{$vo.cate.id}">{$vo.cate.name}</a></td>
				</tr>
				<tr>
					<td class="label">主辦機構 :</td>
					<td>{$vo.creater_name}</td>
				</tr>
				<tr>
					<td class="label">簡介 :</td>
					<td>{$vo.details|formatInfoUTF8=30}</td>
				</tr>
			</table>
			<br/>
		</iterate>
	</div>
	<a href="#top">返回最上</a><img src="__PUBLIC__/images/arrow_up.gif" alt="返回最上" /><br />
</div>
<include file="Public:footer" />