<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<script type="text/javascript">
	$().ready(function(){
		$('#tabs-box ul').showTabs();		
		$('div.headerAboutus').corner("cc:#fff ,top");
		$('div.footer-aboutus').corner("cc:#fff ,bottom");
	});
</script>
<div id="body-content-full" style="text-align:center;">
	<img src="__PUBLIC__/images/news/101117_rrg intro.jpg"/>
</div>
<include file="Public:footer" />