<include file="Public:header" />
<load href="__PUBLIC__/js/jquery.tabs.js" />
<script type="text/javascript">
	$().ready(function(){
		$('#tabs-box ul').showTabs();		
		$('div.headerAboutus').corner("cc:#fff ,top");
		$('div.footer-aboutus').corner("cc:#fff ,bottom");
	});
</script>
<div id="body-content-full">
<div id="contest">
    <div style="width:900px;height:180px;"><a href="__ROOT__/user/register"><img src="__PUBLIC__/images/news/01.jpg"/></a></div>
    <div style="width:900px;height:180px;"><a href="__ROOT__/user/register"><img src="__PUBLIC__/images/news/02.jpg"/></a></div>
    <div style="width:900px;height:180px;"><a href="__ROOT__/user/register"><img src="__PUBLIC__/images/news/03.jpg"/></a></div>
    <div style="width:900px;height:180px;"><a href="__ROOT__/user/register"><img src="__PUBLIC__/images/news/04.jpg"/></a></div>
</div>
</div>
<include file="Public:footer" />