{include:Public:sa-header}

<script>
</script>

<div class="container">
	<h3>列表(<a href="__URL__/add/" class="green">新增商戶</a>)</h3>
	<div class="mainbox">
		<div>
			<form action="__URL__/listAll/" method="get">
				商戶名稱:<input type="text" name="name" value="{.name}" />
				<input type="submit" name="search" value="搜尋" />
			</form>
		</div>
		<table class="datalist fixwidth">
			<tr>
				<th></th>
				<th>ID</th>
				<th>名稱</th>
				<th>英交名稱 <a href="__URL__/listAll/sort/english_name/sortorder/asc">&#8595;</a>|<a href="__URL__/listAll/sort/english_name/sortorder/desc">&#8593;</a></th>
				<th>類別</th>
				<th>簡介</th>
				<th>英交簡介</th>
				<th>地區</th>
				<th>地址</th>
				<th>營業時間</th>
				<th>相片</th>
				<th>特選</th>
				<th></th>
			</tr>
			<?php foreach ( $rows AS $row ): ?>
				<tr>
					<td>
                        <?php if ( $row[ 'hidden' ] ): ?>
                            <a href="javascript:;" onclick="doVisible( '<?php echo $row[ 'id' ] ?>' );">隱藏</a>
                        <?php else: ?>
                            <a href="javascript:;" onclick="doHidden( '<?php echo $row[ 'id' ] ?>' );">顯示</a>
                        <?php endif;?>
					</td>
					<td><?php echo $row[ 'id' ] ?></td>
					<td><?php echo $row[ 'name' ] ?></td>
					<td><?php echo $row[ 'english_name' ] ?></td>
					<td>
						<?php foreach ( $row[ 'categories' ] AS $index => $category ): ?>
							<?php if ( $index ): ?>,<?php endif; ?><?php echo $category[ 'name' ] ?>
						<?php endforeach; ?>
					</td>
					<td><?php echo $row[ 'description' ] ?></td>
					<td><?php echo $row[ 'english_description' ] ?></td>
					<td><?php echo $row[ 'location' ][ 'name' ] ?></td>
					<td><?php echo $row[ 'address' ] ?></td>
					<td><?php echo nl2br( $row[ 'opening_hours' ] ) ?></td>
					<td>
						<?php foreach ( $row[ 'photos' ] AS $photo ): ?>
							<img src="<?php echo C( "OUTSTREET_DIR" ); ?>/Public/uploadimages/app_shop/small_<?php echo $photo[ 'file' ] ?>"/>
							<?php break; ?>
						<?php endforeach; ?>
					</td>
					<td><?php echo $row[ 'premium' ] ? 'Yes' : 'No' ?></td>
					<td>
						<a href="__URL__/edit?id=<?php echo $row[ 'id' ] ?>">修改</a>
					</td>
				</tr>
			<?php endforeach; ?>
			<tr class="nobg">
				<td class="tdpage" colspan="9">{$multipage}</td>
			</tr>
		</table>
	</div>

</div>

<script>
	function doDelete( id )
	{
		if ( confirm( 'Confirm Delete?' ) )
		{
			$.post( '__APP__/app_shop/delete', { id: id }, function() {
				location.reload();
			} );
		}
	}
	function doHidden( id )
	{
		if ( confirm( 'Confirm make it to be hidden?' ) )
		{
			$.post( '__APP__/app_shop/hidden', { id: id }, function() {
				location.reload();
			} );
		}
	}
	function doVisible( id )
	{
		if ( confirm( 'Confirm make it to be visible?' ) )
		{
			$.post( '__APP__/app_shop/visible', { id: id }, function() {
				location.reload();
			} );
		}
	}
</script>

{include:Public:sa-footer}