{include:Public:sa-header}

<style>

	.formTable {
		width: 100%;
	}
	.formTable th {
		width: 20%;
	}
	.formTable td {
		width: 80%;
	}
	.formInput {
		width: 100%;
	}

	.map {
		width: 100%;
		height: 350px;
		position: relative;
	}
	.map .topBar {
		position: absolute;
		top: 6px;
		left: 42px;
		z-index: 999;
		background-color: #FFFFFF;
		padding: 5px;
		border: 1px solid #CCC;
	}
	.map .bottomBar {
		position: absolute;
		bottom: 6px;
		left: 6px;
		z-index: 999;
		background-color: #FFFFFF;
		padding: 5px;
		border: 1px solid #CCC;
	}
	.map .canvas {
		width: 100%;
		height: 100%;
	}

	ul.photoUploadContainer {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li.photoUploadItem {
		position: relative;
		display: inline-block; *display: inline; zoom: 1;
		width: 150px;
		padding: 5px;
		border: 1px solid #CCC;
		margin: 5px 5px 0px 0px;
		background-color: #FFFFFF;
		cursor: move;
	}
	li.photoUploadItem img {
		width: 100%;
	}
	li.photoUploadItem span {
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 5px;
		border: 1px solid #CCC;
		background-color: #FFFFFF;
		cursor: pointer;
	}

</style>

<script type="text/javascript" src="__PUBLIC__/js/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ajaxupload.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ui/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ui/jquery.ui.sortable.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwytErhJRCcWZidyy3ROozE1DruDXHgTU"></script>


<script type="text/javascript">
	$( document ).ready( function() {
		var validator = $( '#theform' ).validate( {
			rules: {
				'name': { required: true },
				'categories[]': { required: true },
				'location_id': { required: true },
				'address': { required: true },
				'latitude': { required: true },
				'longitude': { required: true },
				'telephone': { required: true }
			},
			messages: {
				'name': { required: '名稱是必須' },
				'categories[]': { required: '類別是必須' },
				'location_id': { required: '地區是必須' },
				'address': { required: '地址是必須' },
				'latitude': { required: '緯度是必須' },
				'longitude': { required: '經度是必須' },
				'telephone': { required: '電話是必須' }
			},
			errorPlacement: function( error, element )
			{
				error.appendTo( element.closest( 'td' ) );
			},
			submitHandler: function( form )
			{
				form.submit();
			}
		} );
	} );
</script>

<div class="container">
	<h3>新增/修改商戶</h3>
	<div class="mainbox">
		<form id="theform" method="POST" onsubmit="return false;">
			<table class="formTable" cellspacing="0" cellpadding="5">
				<tr>
					<th><label><b>*</b> 名稱:</label></th>
					<td><input class="formInput" type="text" name="name" /></td>
				</tr>
				<tr>
					<th><label>&nbsp; 英文名稱:</label></th>
					<td><input class="formInput" type="text" name="english_name" /></td>
				</tr>
				<tr>
					<th><label>&nbsp; 簡介:</label></th>
					<td><textarea class="formInput" name="description"></textarea></td>
				</tr>
				<tr>
					<th><label>&nbsp; 英文簡介:</label></th>
					<td><textarea class="formInput" name="english_description"></textarea></td>
				</tr>
				<tr>
					<th><label><b>*</b> 類別:</label></th>
					<td>
						<?php $mainCategories = M( 'AppCategory' )->where( array( 'parent_id' => '0' ) )->select(); ?>
						<?php foreach ( $mainCategories AS $mainCategory ): ?>
							<label class="mainCategoryLabel">
								<input type="checkbox" name="categories[]" value="<?php echo $mainCategory[ 'id' ] ?>"/>
								<b><?php echo $mainCategory[ 'name' ] ?></b>
							</label>
							<div class="mainCategoryGroup">
								<?php $subCategories = M( 'AppCategory' )->where( array( 'parent_id' => $mainCategory[ 'id' ] ) )->select(); ?>
								<?php foreach ( $subCategories AS $subCategory ): ?>
									<label>
										<input type="checkbox" name="categories[]" value="<?php echo $subCategory[ 'reference_id' ] ? $subCategory[ 'reference_id' ] : $subCategory[ 'id' ] ?>"/>
										<?php echo $subCategory[ 'name' ] ?>
									</label>
								<?php endforeach; ?>
							</div>
						<?php endforeach; ?>
					</td>
				</tr>
				<tr>
					<th><label><b>*</b> 地區:</label></th>
					<td>
						<select name="location_id">
							<option value=""> - </option>
							<?php $mainLocations = M( 'LocationMain' )->select(); ?>
							<?php foreach ( $mainLocations AS $mainLocation ): ?>
								<optgroup label="<?php echo $mainLocation[ 'name' ] ?>">
									<?php $subLocations = M( 'LocationSub' )->where( array( 'main_location_id' => $mainLocation[ 'id' ] ) )->select(); ?>
									<?php foreach ( $subLocations AS $subLocation ): ?>
										<option value="<?php echo $subLocation[ 'id' ] ?>"><?php echo $subLocation[ 'name' ] ?></option>
									<?php endforeach; ?>
								</optgroup>
							<?php endforeach; ?>
						</select>
					</td>
				</tr>
				<tr>
					<th><label><b>*</b> 地址:</label></th>
					<td><input class="formInput" type="text" name="address" /></td>
				</tr>
				<tr>
					<th><label>英文地址:</label></th>
					<td><input class="formInput" type="text" name="english_address" /></td>
				</tr>
				<tr>
					<th><label><b>*</b> 座標:</label></th>
					<td>
						<div class="map">
							<div class="topBar">
								<input class="address" type="text" />
								<input class="search" type="button" value="尋找" onclick="geoSearch();" />
							</div>
							<div class="canvas"></div>
							<div class="bottomBar">
								緯度: <input type="text" name="latitude"/>
								經度: <input type="text" name="longitude"/>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th><label><b>*</b> 電話:</label></th>
					<td><input class="formInput" type="text" name="telephone" /></td>
				</tr>
				<tr>
					<th><label>&nbsp; 網站:</label></th>
					<td><input class="formInput" type="text" name="website" /></td>
				</tr>
				<tr>
					<th><label>&nbsp; 營業時間:</label></th>
					<td><textarea class="formInput" name="opening_hours"></textarea></td>
				</tr>
				<tr>
					<th><label>&nbsp; 相片:</label></th>
					<td>
						<input class="photoUploadButton" type="button" value="上傳" />
						<ul class="photoUploadContainer"></ul>
					</td>
				</tr>
				<tr>
					<th><label>&nbsp; 特選</label></th>
					<td>
						<select name="premium">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
					</td>
				</tr>
				<tr>
					<th></th>
					<td><button type="submit">新增/修改</button></td>
				</tr>
			</table>
		</form>

	</div>

</div>

<script>

	var geocoder;
	var map;
	var marker;

	function initialize()
	{
		geocoder = new google.maps.Geocoder();

		map = new google.maps.Map( $( '.map .canvas' ).get( 0 ), {
			zoom: 10,
			center: new google.maps.LatLng( 22.352734, 114.1277 )
		} );

		marker = new google.maps.Marker( {
			map: map,
			draggable: true
		} );

		google.maps.event.addListener( marker, 'dragend', function( event ) {
			$( '.map input[name=latitude]' ).val( event.latLng.lat() );
			$( '.map input[name=longitude]' ).val( event.latLng.lng() );
		} );

		google.maps.event.addListener( map, 'click', function( event ) {
			marker.setPosition( event.latLng );
			$( '.map input[name=latitude]' ).val( event.latLng.lat() );
			$( '.map input[name=longitude]' ).val( event.latLng.lng() );
		} );
	}

	function geoSearch()
	{
		var address = $( '.map .address' ).val();

		geocoder.geocode( { address: address, region: 'hk' }, function( results, status ) {
			if ( status == google.maps.GeocoderStatus.OK )
			{
				map.setCenter( results[0].geometry.location );
				map.setZoom( 17 );
				marker.setPosition( results[0].geometry.location );

				$( '.map input[name=latitude]' ).val( results[0].geometry.location.lat() );
				$( '.map input[name=longitude]' ).val( results[0].geometry.location.lng() );
			}
			else
			{
				alert( 'Geocode was not successful for the following reason: ' + status );
			}
		} );
	}

	initialize();

</script>
<script>

	$( '.mainCategoryLabel input[type=checkbox]' ).click( function() {

		var $mainCategoryLabel = $( this ).closest( '.mainCategoryLabel' );
		var checked = $( this ).is( ':checked' );
		var disabled = checked;

		$mainCategoryLabel
				.next( '.mainCategoryGroup' )
				.find( 'input[type=checkbox]' )
				.attr( 'checked', checked )
				.attr( 'disabled', disabled );

	} );

	$( '.mainCategoryGroup input[type=checkbox]' ).click( function() {

		var $mainCategoryGroup = $( this ).closest( '.mainCategoryGroup' );
		var unchecked = $( this ).closest( '.mainCategoryGroup' ).find( 'input[type=checkbox]:not(:checked)' ).length;

		if ( !unchecked )
		{
			$mainCategoryGroup
					.find( 'input[type=checkbox]' )
					.attr( 'disabled', true );

			$mainCategoryGroup
					.prev( '.mainCategoryLabel' )
					.find( 'input[type=checkbox]' )
					.attr( 'checked', true );
		}

	} );

	$( 'input[name="categories[]"]' ).click( function() {

		var val = $( this ).val();
		var checked = $( this ).is( ':checked' );

		$( 'input[name="categories[]"]' ).each( function() {

			if ( $( this ).val() == val )
			{
				$( this ).attr( 'checked', checked );
			}

		} );

	} );

	$( 'select[name=location_id]' ).change( function() {

		if ( $( this ).val() )
		{
			geocoder.geocode( { address: $( this ).find( 'option:selected' ).text(), region: 'hk' }, function( results, status ) {
				if ( status == google.maps.GeocoderStatus.OK )
				{
					map.setCenter( results[0].geometry.location );
					map.setZoom( 16 );
				}
			} );
		}

	} );

	new AjaxUpload( $( '.photoUploadButton' ).get( 0 ), {
		action: '__APP__/app_shop/doUploadPhoto',
		name: 'image',
		onComplete: function( file, response )
		{
			var json = $.parseJSON( response );
			var file = json.file;

			$( '<li class="photoUploadItem"></li>' )
					.appendTo( '.photoUploadContainer' )
					.append( '<input type="hidden" name="photos[]" value="' + file + '"/>' )
					.append( '<img src="<?php echo C( "OUTSTREET_DIR" ); ?>/Public/tmp/small_' + file + '"/>' )
					.append( $( '<span>X</span>' ).click( function() {
						var $this = $( this );
						$.post( '__APP__/app_shop/doDeletePhoto', { filename: file }, function() {
							$this.parent().remove();
						} );
					} ) )
					.append( '<label><input type="radio" name="cover_file" value="' + file + '"/> 封面</label>' );
		}
	} );

	$( '.photoUploadContainer' ).sortable();
	$( '.photoUploadContainer' ).disableSelection();

</script>

<?php foreach ( array( 'name', 'english_name', 'address', 'english_address', 'latitude', 'longitude', 'telephone', 'website' ) AS $name ): ?>
	<script>
		( function() {
			var values = <?php echo json_encode( array( $shop[ $name ] ) ) ?>;
			$( 'input[name=<?php echo $name ?>]' ).val( values[0] );
		}() );
	</script>
<?php endforeach; ?>

<?php foreach ( array( 'description', 'english_description', 'opening_hours' ) AS $name ): ?>
	<script>
		( function() {
			var values = <?php echo json_encode( array( $shop[ $name ] ) ) ?>;
			$( 'textarea[name=<?php echo $name ?>]' ).val( values[0] );
		}() );
	</script>
<?php endforeach; ?>

<?php foreach ( array( 'location_id', 'premium' ) AS $name ): ?>
	<script>
		$( 'select[name=<?php echo $name ?>]' ).val( '<?php echo addslashes( $shop[ $name ] ) ?>' );
	</script>
<?php endforeach; ?>

<?php foreach ( $shop[ 'categories' ] AS $category ): ?>
	<script>
		( function() {
			$( '.mainCategoryLabel input[type=checkbox][value=<?php echo $category[ 'id' ] ?>]' )
					.attr( 'checked', true )
					.closest( '.mainCategoryLabel' )
					.next( '.mainCategoryGroup' )
					.find( 'input[type=checkbox]' )
					.attr( 'checked', true )
					.attr( 'disabled', true );

			$( '.mainCategoryGroup input[type=checkbox][value=<?php echo $category[ 'id' ] ?>]' )
					.attr( 'checked', true );
		}() );
	</script>
<?php endforeach; ?>

<?php if ( $shop[ 'latitude' ] && $shop[ 'longitude' ] ): ?>
	<script>
		( function() {
			var location = new google.maps.LatLng( "<?php echo $shop[ 'latitude' ] ?>", "<?php echo $shop[ 'longitude' ] ?>" );
			map.setCenter( location );
			map.setZoom( 17 );
			marker.setPosition( location );
		}() );
	</script>
<?php endif; ?>

<?php foreach ( $shop[ 'photos' ] AS $photo ): ?>
	<script>
		( function() {
			$( '<li class="photoUploadItem"></li>' )
					.appendTo( '.photoUploadContainer' )
					.append( '<input type="hidden" name="currentPhotos[]" value="<?php echo $photo[ 'file' ] ?>"/>' )
					.append( '<img src="<?php echo C( "OUTSTREET_DIR" ); ?>/Public/uploadimages/app_shop/small_<?php echo $photo[ 'file' ] ?>"/>' )
					.append( $( '<span>X</span>' ).click( function() {
						var $this = $( this );
						$this.parent().remove();
					} ) )
					.append( '<label><input type="radio" name="cover_file" value="<?php echo $photo[ 'file' ] ?>"<?php echo $photo[ 'cover' ] ? ' checked' : '' ?>/> 封面</label>' );
		}() );
	</script>
<?php endforeach; ?>

{include:Public:sa-footer}