{include:Public:sa-header}

<table border="1">
	<tr>
		<th></th>
		<?php foreach( $categories AS $category ): ?>
			<th nowrap>
				<?php echo $category[ 'name' ] ?>
			</th>
		<?php endforeach; ?>
	</tr>
	<?php foreach( $locations AS $location ): ?>
		<tr>
			<th nowrap>
				<?php echo $location[ 'name' ] ?>
			</th>
			<?php foreach( $categories AS $category ): ?>
				<td nowrap>
					<?php if ( isset( $numbers[ $category[ 'id' ] . ',' . $location[ 'id' ] ] ) ): ?>
						<?php echo $numbers[ $category[ 'id' ] . ',' . $location[ 'id' ] ] ?>
					<?php else: ?>
						0
					<?php endif; ?>
				</td>
			<?php endforeach; ?>
		</tr>
	<?php endforeach; ?>
</table>

{include:Public:sa-footer}