<include file="Public:header" />
<div class="content">
    <p class="header">
        <div><span class="title">類別 </span><iterate name="shopInfo['category_names']" id="vo"><a href="__ROOT__/shop/search/category_id/{$vo.id}">{$vo.name}</a></iterate></div>
        <div style="padding-bottom:3px"></div>
        <include file="Public:div_banner" />
    </p>
	<div class="title">{$shopInfo.name}</div>
    <table cellspacing="0" cellpadding="0">
	<tr>
		<td colspan="2" class="label"><a href="__ROOT__/shop/view/shop_id/{$shopInfo.shop_id}">{$shopInfo.name}</a> > 地圖</td>
	</tr>
	<tr>
		<td class="label">地址 :</td>
		<td>{$shopInfo.address}</td>
    </tr>
	<tr>
		<td class="label">電話 :</td>
		<td>{$shopInfo.telephone|generateShopTelephone}</td>
    </tr>
	<tr>
		<td class="label">類別 :</td>
		<td><iterate name="shopInfo['category_names']" id="vo"><a href="__ROOT__/shop/search/category_id/{$vo.id}">{$vo.name}</a></iterate></td>
    </tr>
	<tr>
		<td class="label">簡介 :</td>
		<td>{$shopInfo.description}</td>
    </tr>
	<tr>
		<td class="label">總評分 :</td>
		<td>{$shopInfo.rating.avg_rate_1} (共{$shopInfo.rating.review_count}個評介)</td>
	</tr>
	</table>
	<br/>
	<img src="http://maps.google.hk/maps/api/staticmap?size=300x300&maptype=roadmap&markers=icon:http://outstreet.com.hk/Public/images/backgrounds/google_map_profile.png%7C{$shopInfo.googlemap_lat},{$shopInfo.googlemap_lng}&sensor=false" width="300" height="300" />
	<br />

    <a href="#top">返回最上</a><img src="__PUBLIC__/images/arrow_up.gif" alt="返回最上" /><br />
</div>
<include file="Public:footer" />