<include file="Public:header" />
<load href="__PUBLIC__/css/ot_member_func.css" /> 
<load href="__PUBLIC__/js/jquery.validate.min.js" /> 

	
<script type="text/javascript">
if(top.window.location.href != window.location.href){
	top.window.location.href = window.location.href;
}


$().ready(function() {
	$("#validateForm").validate({
		rules: {
			verify:{
				required: true,
				minlength: 8,
				maxlength: 8
			}
		},
		messages: {
			verify:{
				required: "請輸入驗證碼",
				minlength: "驗證碼不能少於8位",
				maxlength: "驗證碼不能大於8位"
			}
		},
		onkeyup: false
	});
	$('#verify').focus();
});
</script>
<style>
	tr.shop_user
	{
		display:none;	
	}
	input.user_type{
		display:none;
	}
	#registration-box .content table td label.error{
		display:none;
	}
</style>

<div id="ot_d_body_content">
    <div class="ot_d_body_content_left">
        <div class="breadcrumb">
            <a href="#">主頁</a> > <a href="#">安全驗證</a>
        </div>
        <div id="registration-box" class="left-box">
            <div class="content">
                <h4>請輸入以下驗證碼，讓我們繼續為你服務</h4>
                <form method='post' id="validateForm" action='__URL__/accessValidate'>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th width="125" align="right">驗證碼:</th>
                            <td width="30">&nbsp;</td>
                            <td>
                                <div><img onclick="this.src='__URL__/verify/num/8/rnd/' + Math.random()" src="__URL__/verify/num/8" width="102" height="22" style="float:left;vertical-align: middle; margin-right: 12px;cursor:pointer"  /></div>
                                <div><input type="text" id="verify" name="verify" class="text-input small-input" maxlength="8" /></div>
                            </td>
                        </tr>
                        <tr>
                            <th width="125" align="right">&nbsp;</th>
                            <td width="30">&nbsp;</td>
                            <td><input type="submit" name="submit" class="next-step-button" value="validate"  /></td>
                        </tr>
                    </tbody>
                </table>
                </form>
            </div>
            <div class="footer"></div>
        </div>
    </div>
    <div class="ot_d_body_content_right">
        <include file="Public:div-weather" />            
    </div>
    <div class="clearBoth"></div>
</div>

<include file="Public:footer" />