<include file="Public:box-header" />
<load href="__PUBLIC__/css/ot_member_func.css" />
<load href="__PUBLIC__/js/jquery.validate.min.js" />
<load href="__PUBLIC__/js/jquery.form.js" />
<script type="text/javascript">

$().ready(function() {

	$("#registerForm").validate({
		rules: {
			password: {
				required: true,
				minlength: 5
			},
			confirm_password: {
				required: true,
				minlength: 5,
				equalTo: "#password"
			}
		},
		messages: {
			password: {
				required: "請輸入一個密碼",
				minlength: "密碼必須大於5個字符"
			},
			confirm_password: {
				required: "請輸入一個密碼",
				minlength: "密碼必須大於5個字符",
				equalTo: "密碼必須相同"
			}
		},
		submitHandler: function()
		{
			$( '#registerForm' ).ajaxSubmit( {
				success: function ( response, status ) { //alert(response);
					var json = $.parseJSON( response );
					if ( json.success != 0 ) {
						$('#fb_done_button').click(function() { parent.location.href = '/'; });
						$('#fb_step_button').click(function() { parent.location.href = '__URL__/regstep2/user_id/'+json.user_id; });
						$('#fb_register_form').hide();
						$('#fb_login_form').hide();
						$('#fb_finish').show();
					} else {
						alert('錯誤出現！請先登錄Facebook！');
					}
					//parent.location.href = '__ROOT__';
				}
			} );
			return false;
		}
	});
	
	loginValidator = $("#loginForm").validate({
		rules: {
			email: {
				required: true,
				email: true
			},
			password: {
				required: true,
				minlength: 5
			}
		},
		messages: {
			email: "請輸入一個正確的email地址",
			password: {
				required: "請輸入一個密碼",
				minlength: "密碼必須大於5個字符"
			}
		},
		submitHandler: function()
		{
			$( '#loginForm' ).ajaxSubmit( {
				success: function ( response, status ) { //alert(response);
					var json = $.parseJSON( response );
					if ( json.success != 0 ) {
						$('#fb_done_button').click(function() { parent.location.href = '/'; });
						$('#fb_step_button').click(function() { parent.location.href = '__URL__/regstep2/user_id/'+json.user_id; });
						$('#fb_register_form').hide();
						$('#fb_login_form').hide();
						$('#fb_finish').show();
					} else {
						if ( json.code == 2 )
						{
							loginValidator.showErrors( { 'password': '電郵及密碼並不正確' } );
						}
						else
						{
							alert('錯誤出現！請先登錄Facebook！');
						}
					}
					//parent.location.href = '__ROOT__';
				}
			} );
			return false;
		}
	});

});
</script>
<script type="text/javascript">
	$().ready(function(){
		$('.ot_i_submit').hover( function() { $(this).addClass('hover'); }, function() { $(this).removeClass('hover'); } );
	});
</script>
<div id="ot_d_fb_reg_notice">
	<div style="width: 95%;">
    	<div class="ot_d_fb_reg_notice_pic"><img src="https://graph.facebook.com/{$fb_info.id}/picture"/></div>
        <div class="ot_d_fb_reg_notice_username">Outstreet 用戶名稱，<br />請填寫 Facebook 用戶資料，<br />以便與 OutStreet 帳戶連接。</div>
    </div>
	<div id="fb_register_form" class="ot_d_fb_reg_notice_form" style="width: 95%;">
        <div class="ot_d_header"></div>
        <div class="ot_d_content">
            <form method='post' id="registerForm" action='__URL__/do_register'>
        	<ul>
            	<li><div class="ot_d_fb_reg_notice_type">暱稱:</div><div>{$fb_info.name}</div></li>
                <li><div class="ot_d_fb_reg_notice_type">電郵:</div><div>{$fb_info.email}</div></li>
                <li><div class="ot_d_fb_reg_notice_type">密碼:</div><div><input type="password" class="ot_t_fb_reg_notice_textbox" id="password" name="password" /></div></li>
                <li><div class="ot_d_fb_reg_notice_type">確認密碼:</div><div><input type="password" class="ot_t_fb_reg_notice_textbox" id="confirm_password" name="confirm_password" /></div></li>
                <li class="ot_t_fb_reg_notice_blank"><input name="acc_edm" type="checkbox" value="1" checked/> 我樂意收到定期電子通訊，緊貼熱點商戶、最新節目及至抵優惠。</li>
                <li class="ot_t_fb_reg_notice_blank"><input class="ot_i_submit" type="submit" value="" /></li>
            </ul>
			</form>
        </div>
        <div class="ot_d_footer"></div>
  </div>
<div class="ot_d_fb_reg_notice_username">或登入現有的 OutStreet 帳戶，以便與連接。</div>
  <div id="fb_login_form" class="ot_d_fb_reg_notice_form" style="width: 95%;">
        <div class="ot_d_header"></div>
        <div class="ot_d_content">
            <form method='post' id="loginForm" action='__URL__/do_login'>
        	<ul>
                <li><div class="ot_d_fb_reg_notice_type">電郵:</div><input type="text" name="email"  class="ot_t_fb_reg_notice_textbox" id="email" /></li>
                <li><div class="ot_d_fb_reg_notice_type">密碼:</div><div><input type="password" class="ot_t_fb_reg_notice_textbox" id="password" name="password" /></div></li>
                <li class="ot_t_fb_reg_notice_blank"><input class="login-button" type="submit" value="" /></li>
            </ul>
			</form>
        </div>
        <div class="ot_d_footer"></div>
  </div>
  <div id="fb_finish" class="ot_d_fb_reg_notice_form" style="display: none;">
        <div class="ot_d_header"></div>
        <div class="ot_d_content">
        	<ul>
            	<li style="	padding: 12px 12px 0px 12px;">你已經成功連接Facebook與OutStreet帳戶，可以選擇進一步填寫個人資料。</li>
                <li style="padding: 12px 12px 0px 0px;text-align:center;">
				<input id="fb_done_button" class="ot_i_done_reg" type="button" />
				<input id="fb_step_button" class="ot_i_next_step_write" type="button" /></li>
            </ul>
        </div>
        <div class="ot_d_footer"></div>
  </div>
</div>
<include file="Public:box-footer" />