{include:Public:sa-header}

<script>
</script>

<div class="container">
	<h3>列表(<a href="__URL__/add/" class="green">新增</a>)</h3>
	<div class="mainbox">
		<div>
			<form action="__URL__/listAll/" method="get">
				名稱:<input type="text" name="name" value="{.name}" />
				<input type="submit" name="search" value="搜尋" />
			</form>
		</div>
		<table class="datalist fixwidth">
			<tr>
				<th>ID</th>
				<th>Parent Category</th>
				<th>Name</th>
				<th>English Name</th>
				<th>Reference Category</th>
				<th>Sort</th>
				<th>Disabled?</th>
				<th></th>
			</tr>
			<?php foreach ( $rows AS $row ): ?>
				<tr>
					<td><?php echo $row[ 'id' ] ?></td>
					<td><?php echo $row[ 'parent' ][ 'name' ] ?></td>
					<td><?php echo $row[ 'name' ] ?></td>
					<td><?php echo $row[ 'english_name' ] ?></td>
					<td><?php echo $row[ 'reference' ][ 'name' ] ?></td>
					<td><?php echo $row[ 'sort' ] ?></td>
					<td><?php echo $row[ 'disabled' ] ? 'Yes' : 'No' ?></td>
					<td><a href="__URL__/edit?id=<?php echo $row[ 'id' ] ?>">修改</a></td>
				</tr>
			<?php endforeach; ?>
			<tr class="nobg">
				<td class="tdpage" colspan="9">{$multipage}</td>
			</tr>
		</table>
	</div>

</div>

{include:Public:sa-footer}