{include:Public:sa-header}
<style>

	.formTable {
		width: 100%;
	}
	.formTable th {
		width: 20%;
	}
	.formTable td {
		width: 80%;
	}
	.formInput {
		width: 100%;
	}
	textarea.formInput {
		height: 150px;
	}

	.map {
		width: 100%;
		height: 350px;
		position: relative;
	}
	.map .topBar {
		position: absolute;
		top: 6px;
		left: 42px;
		z-index: 999;
		background-color: #FFFFFF;
		padding: 5px;
		border: 1px solid #CCC;
	}
	.map .bottomBar {
		position: absolute;
		bottom: 6px;
		left: 6px;
		z-index: 999;
		background-color: #FFFFFF;
		padding: 5px;
		border: 1px solid #CCC;
	}
	.map .canvas {
		width: 100%;
		height: 100%;
	}

	ul.photoUploadContainer {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li.photoUploadItem {
		position: relative;
		display: inline-block; *display: inline; zoom: 1;
		width: 150px;
		padding: 5px;
		border: 1px solid #CCC;
		margin: 5px 5px 0px 0px;
		background-color: #FFFFFF;
		cursor: move;
	}
	li.photoUploadItem img {
		width: 100%;
	}
	li.photoUploadItem span {
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 5px;
		border: 1px solid #CCC;
		background-color: #FFFFFF;
		cursor: pointer;
	}

</style>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-timepicker-1.5/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ajaxupload.js"></script>


<script type="text/javascript">
	$( document ).ready( function() {
		var validator = $( '#theform' ).validate( {
			rules: {
				'name': { required: true },
				'english_name': { required: true }
			},
			messages: {
				'name': { required: 'Name is required' },
				'english_name': { required: 'English Name is required' }
			},
			errorPlacement: function( error, element )
			{
				error.appendTo( element.closest( 'td' ) );
			},
			submitHandler: function( form )
			{
				form.submit();
			}
		} );
	} );
</script>

<div class="container">
	<h3>新增/修改</h3>
	<div class="mainbox">
		<form id="theform" method="POST" onsubmit="return false;">
			<table class="formTable" cellspacing="0" cellpadding="5">
				<tr>
					<th><label><b>*</b> Name</label></th>
					<td><input class="formInput" type="text" name="name" /></td>
				</tr>
				<tr>
					<th><label><b>*</b> English Name</label></th>
					<td><input class="formInput" type="text" name="english_name" /></td>
				</tr>
				<tr>
					<th><label>Parent Category:</label></th>
					<td>
						<select name="parent_id">
							<option value=""> - </option>
							<?php foreach ( $parentCategories AS $parentCategory ): ?>
								<option value="<?php echo $parentCategory[ 'id' ] ?>"><?php echo $parentCategory[ 'name' ] ?> (<?php echo $parentCategory[ 'english_name' ] ?>)</option>
							<?php endforeach; ?>
						</select>
					</td>
				</tr>
				<tr>
					<th><label>Reference Category:</label></th>
					<td>
						<select name="reference_id">
							<option value=""> - </option>
							<?php foreach ( $referenceCategories AS $referenceCategory ): ?>
								<option value="<?php echo $referenceCategory[ 'id' ] ?>"><?php echo $referenceCategory[ 'name' ] ?> (<?php echo $referenceCategory[ 'english_name' ] ?>)</option>
							<?php endforeach; ?>
						</select>
					</td>
				</tr>
				<tr>
					<th><label>Sort</label></th>
					<td><input class="formInput" type="text" name="sort" /></td>
				</tr>
				<tr>
					<th><label>Disabled:</label></th>
					<td>
						<select name="disabled">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
					</td>
				</tr>
				<tr>
					<th></th>
					<td><button type="submit">新增/修改</button></td>
				</tr>
			</table>
		</form>

	</div>

</div>

<?php foreach ( array( 'name', 'english_name', 'sort' ) AS $name ): ?>
	<script>
		( function() {
			var values = <?php echo json_encode( array( $category[ $name ] ) ) ?>;
			$( 'input[name=<?php echo $name ?>]' ).val( values[0] );
		}() );
	</script>
<?php endforeach; ?>

<?php foreach ( array( 'parent_id', 'reference_id', 'disabled' ) AS $name ): ?>
	<script>
		$( 'select[name=<?php echo $name ?>]' ).val( '<?php echo addslashes( $category[ $name ] ) ?>' );
	</script>
<?php endforeach; ?>

{include:Public:sa-footer}