﻿#jphoto
{
	width:206px;
	height:206px;	
	background-image:url(../../images/jphoto/background.png);	
	color: white;
	font-family: 新細明體;	
	overflow:hidden;	
}
.hidden
{
display: none;
}
#jphoto_prevNext
{
	height:35px;
	margin-bottom: -201px;	
	padding-top:170px;
	overflow:hidden;	
	text-align:center;	
}
#jphoto_prev
{
	float:left;	
	padding-left:60px;	
}
#jphoto_next
{
	float:right;
	padding-right:58px;	
}
.jphoto_img{
	position:relative;
	background:#1B3754;
	width:202px;
	height:152px;	
	text-align:center;	
	vertical-align : middle;	
	display:table-cell;
	overflow:hidden;
}
.jphoto_img *{vertical-align:middle;}
*+html .jphoto_spn {height:152px;display:inline-block;}
*html .jphoto_spn {height:152px;display:inline-block;}
#jphoto_prevNext img
{
	position: relative;
	z-index: 2;
	cursor: pointer;
}
#jphoto_prevNext .jphoto_link_text{
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
	z-index:9999;
	color:#FFF;
	font-size:10px;
}
.jphoto_link{
	text-align:center;
	z-index:1;
	position:relative;	
	top:15px;	
}
#slides{
	width:202px;
	height:206px;
	padding-left:2px;
	padding-top:8px;
}
#jphotocontent
{
	text-align:center;
	width:174px;
	margin: 0;
	padding: 0 1em 0 14px;
	font-size: 12px;
	position: relative;
	top: 0px;
	line-height: 23px;
	height: 54px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;	
}