<script>
$(document).ready(function(){
	var full = "{$full}";	
	if(full==true){
	}else{		
		location.reload(true);
	}
});
function doSpecial_downgrade(id,replace_id,is_special,is_special_type){	
	$.getJSON('__URL__/listAction/type/downgrade/is_special_type/'+is_special_type+'/replace_id/'+replace_id+'/is_special/'+is_special+'/shop_id/'+id, function(json){
		if(json.result != 1) {
			alert('修改失敗');
		}
		switch (json.msg){
			case '1':
			alert('成功更新精選!');
			location.reload(true);
			break;
			case '2':
			alert('修改失敗!');
			break;
		}
	});
}
</script>
<h2 style="color:#900">鑑於<switch name="is_special_type"><case value='1'>購物</case><case value='6'>美容/髮型/按摩</case><case value='10'>酒吧/娛樂</case></switch>之精選狀態以達兩個之上限, 請擇其一商戶以切換之</h2>
<p>
<div style="width:420px">
	<div style="width:40px;float:left">
    <b>ID</b>
	</div>
	<div style="width:100px;float:left">
    <b>商戶名稱</b>
    </div>
    <div style="width:200px;float:left">
    <b>商戶介紹</b>
    </div>
    <div style="width:60px;float:left">
    <b>退出精選</b>
    </div>
</div>
</p>
<iterate name="isspecialList" id="vo">
<p>
<div style="width:420px;overflow:hidden;">
<div style="width:40px;float:left">{$vo.shop_id}</div>
<div style="width:100px;float:left">{$vo.name}</div>
<div style="width:200px;float:left"><if condition="$vo.description eq ''">暫無介紹<else />{$vo.description}</if></div>
<div style="width:60px;float:left">
<!--<a href="__URL__/listAction/type/downgrade/shop_id/{$vo.id}/replace_id/{$shop_id}/is_special/{$vo.is_special}/is_special_type/{$vo.is_special_type}"><img src="__PUBLIC__/images/buttons/cross.jpg" width="20" height="20"></img></a>-->
<a href="javascript:void(0)" onclick="javascript:doSpecial_downgrade({$vo.shop_id},{$shop_id},{$vo.rank},{$vo.cate_id});return false;"><img src="__PUBLIC__/images/buttons/cross.jpg" width="20" height="20"></img></a>
</div>
</div>
</p>
</iterate>
