
<script type="text/javascript">

$("#upForm").validate({
	rules: {
		upfile:'required'
		/*description: 'required'*/
	},
	messages: {
		upfile: '請選擇上載的照片'
		/*description: "請輸入圖片介紹"*/
	},
	submitHandler: function(form) {
		var temp = '<img class="loading" src="__PUBLIC__/images/loading.gif" />';
		$('#photoAt{.eleid}').append(temp);
		$('#peditAt{.eleid}').text('uploading...')
		tb_remove();
		form.submit();
	}
});

</script>

<div id='main'> 
	<form method="POST" id="upForm" name="upForm" action="__URL__/uploadResult" enctype="multipart/form-data" target="iframeAt{.eleid}">
		<input type="hidden" name="eleid" value="{.eleid}" />
		<input type="hidden" name="picstamp" value="{.picstamp}" />
		<input type="hidden" name="shopid" value="{.shopid}" /><!--from為shop時無效(此時shopid未知)，from為review時才有效-->
		<input type="hidden" name="from" value="{.from}" /><!--上傳到那個表-->
		<table border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #91c5e2;width:400px">
		  <tr>
		    <td style="background-color:#cfedfe;padding:7px" id="header"><b>上傳圖片</b></td>
	      </tr>
		  <tr>
		    <td style="background-color:#FFFFFF;padding:7px"><table width="0%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <td style="width:60px"><b>圖片文件</b></td>
		        <td>
		        	<input type="file" name="upfile" id="upfile" /><br />(僅允許上傳{&UPFILE_ALLOW_IMGEXT}類型文件)
		        </td>
	          </tr>
	        </table></td>
	      </tr>
		  <tr>
		    <td style="background-color:#ddf2fe;padding:1px 0px 0px 0px"></td>
	      </tr>
		  <tr>
		    <td style="background-color:#FFFFFF;padding:7px;vertical-align: text-top;;"><table width="0%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <td style="width:60px"><b>圖片說明</b></td>
		        <td><input type="text" name="description" id="description" maxlength="30" /></td>
	          </tr>
		      </table></td>
	      </tr>
		  <tr>
		    <td style="background-color:#ddf2fe;padding:1px 0px 0px 0px"></td>
	      </tr>
		  <tr>
		    <td style="background-color:#FFFFFF;padding:7px">&nbsp;<input type="submit" name="submitBtn" id="submitBtn" value="確定" style="left:130px;position:relative;"/></td>
	      </tr>
	  </table>
    </form>
</div>	
